<!doctype html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta charset="utf-8">
  <title>TUFA</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="icon" type="image/x-icon" href="./assets/icon/favicon.ico"> -->
</head>

<body>
  <script type="text/javascript">
    // window.onbeforeunload = function () {
    //   return "Are you sure you want to leave? Please save your changes!";
    // }
  </script>
  <!-- <% if (enviroment.url !== "http://localhost:8080" ) { %>
    <script type="text/javascript" 
        src = "<%=enviroment.url%>/tableau/javascripts/api/tableau-2.min.js">
    </script>
  <% } %> -->
  <app-root>
    <style>
      /*
       * Inline css to add simple styles for loader.
       * Is going to be replaced by angular after bootstrap.
       */
      app-root {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding-top: 45vh;
        text-align: center;
        background-color: #eee;
        font: 14px sans-serif;
      }
    </style>
    Loading...
  </app-root>
</body>

</html>
