<!-- Show Accept Buttons -->
<!-- <div fda3852flag-panel [taxes]="calTaxes[activequarter-1]" [isValid]="isValid" [inProgressDisabled]="inProgressDisabled"
  [acceptanceFlag]="fda3852map[activequarter]" [tobaccoClass]="headerData.tobaccoClass" [companyName]="headerData.companyName"
  [quarter]="activequarter" (accept3852flag)="acceptedFDAflag($event)" (progressedflag)="progressedflag($event)"></div> -->

<!-- Show Details -->
<section class="widget h-divider" [ngBusy]="{busy: busyDetails, message: 'Loading Commpare page from cigar details...', backdrop: true,wrapperClass: 'ng-busy-default-centered',minDuration: 2000}">
  <span class="h4 no-margin fw-semi-bold" style="margin:10px 0px 10px 0px">Details</span>
  <a class="fw-semi-bold pull-right" (aClick)="exportRawdata()" href="javascript:void(0)">
    <i style="font-size: 24px; padding-left: 20px" compare-icon [status]="dataType === 'Matched'? acceptanceFlag : oneSidedAcceptanceFlag"></i>
    Download Raw Data
 </a>
  <div class="widget-body clearfix">
    <!--Show Legend-->
    <div class="bg-gray-lighter" style="margin:10px 0px 10px 0px">
      <div class="col-md-12" style="text-align:center;border: 1px solid rgba(0, 0, 0, 0.15);">
        <span class="h6 fw-semi-bold">LEGEND</span>
      </div>
    </div>
    <div class="row legendbox">
      <div class="col-md-2">
      </div>
      <div class="col-md-3">
        <div class="h6 fw-semi-bold">
          <span class="text-legend legend-err">E</span> Error Report</div>
      </div>
      <div class="col-md-3">
        <div class="h6 fw-semi-bold">
          <span class="text-legend legend-com">C</span> Completed Report</div>
      </div>
      <div class="col-md-3">
        <div class="h6 fw-semi-bold">
          <span class="text-legend legend-ns">NS</span> Not Started Report</div>
      </div>
      <div class="col-md-1">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <a href="javascript:void(0)" style="float:right" class="toggle-accordion active" accordion-id="#accordion" (click)="collapseExpand()">Expand/Collapse All</a>
      </div>
    </div>
    <br />
    <!-- Show All 4 Quarter Details for Cigars -->
    <div class="row">
      <div class="col-lg-12">
        <!--- Collapsible Panel -->
        <div *ngFor="let qtr of [1,2,3,4];let i=index; let j = index" class="panel-group" id="qtr{{qtr}}-panel">
          <div class="collapse-group panel panel-default">
            <div class="h6 panel-heading">
              <div class="panel-title">

                <a class="accordion-toggle-main h5 no-margin fw-semi-boldy" style="font-weight: 600" data-toggle="collapse" aria-expanded="false"
                  attr.aria-controls="#collapse-{{qtr}}" href="#collapse-{{qtr}}" [ngClass]="{'collapsed': !shareData.expandedSectionsMapManu?.get(qtr)}">Quarter {{qtr}}</a>
                <a class="pull-right h5 no-margin fw-semi-bold" style="margin-right:15px;" data-toggle="collapse" href="#collapse-{{qtr}}"
                  [ngClass]="{'collapsed': !shareData.expandedSectionsMapManu?.get(qtr)}">
                  {{ comparedetails[i]?.delta | na |tufacurrency| minustoparens | delta : comparedetails[i]?.tufaTotal:comparedetails[i]?.ingestedTotal}}
                </a>

              </div>
            </div>
            <div id="collapse-{{qtr}}" class="panel-collapse collapse in" [ngClass]="{'show': shareData.expandedSectionsMapManu?.get(qtr)}">
              <div class="panel-body">
                <div class="row">
                  <div class="col-lg-12">
                    <accordion [closeOthers]="false">
                      <!--g1q1 Panel-->
                      <accordion-group [isOpen]="shareData.expandedSectionsMapManu?.get(qtr)?.get(period.permit)" (isOpenChange)="setPermitExpanded(qtr,period.permit,false,$event)"
                        *ngFor=" let period of comparedetails[i].permits; let p=index " #g1q1 panelClass="customClass ">
                        <div accordion-heading class="compare-panel ">
                          <span class="h5 no-margin fw-semi-bold breathe-left black ">{{period.permit | permitNumberPipe}}</span>
                          <i class="h5 pull-right float-xs-right fa black bold " style="margin-right: 10px; margin-top:
                        5px " [ngClass]="{ 'fa-chevron-down': g1q1?.isOpen, 'fa-chevron-right': !g1q1?.isOpen} "></i>
                          <span *ngIf=" isDisplayDeltaForPermit(i)" class="h5 pull-right float-xs-right no-margin fw-semi-bold breathe-right black ">
                            {{period.delta |tufacurrency| minustoparens}}
                          </span>
                        </div>
                        <div class="row">

                          <table class="table" style="width:100%;">
                            <colgroup>
                              <col style="width:10%">
                              <col style="width:20%">
                              <col style="width:13%">
                              <col style="width:20%">

                              <col style="width:2%">
                              <col style="width:18%">

                              <col style="width:2%">
                              <col style="width:25%">
                            </colgroup>
                            <thead>
                              <tr class="bottomthinborder">
                                <th scope="col" colspan="4" class="rightalign">FDA 3852</th>
                                <td colspan="1">&nbsp;</td>
                                <th scope="col" class="rightalign">Ingested</th>
                                <td colspan="1">&nbsp;</td>
                                <th scope="col" class="rightalign">Difference</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="bottomthinborder">
                                <td>MONTH</td>
                                <td>STATUS</td>
                                <td></td>
                                <td class="rightalign">CIGARS</td>
                                <td></td>
                                <td class="rightalign">CIGARS</td>
                                <td></td>
                                <td class="rightalign">CIGARS</td>
                              </tr>
                            </tbody>
                            <ng-container *ngFor="let detail of period.permitDetails; let i = index" #months>
                              <tbody class="collapse-group tabex">
                                <tr [attr.id]="'tx' + '-' + qtr + '-' + p +  '-' + i" (click)="clicked($event)" class="clickable" data-toggle="collapse"
                                  [attr.data-target]="'#forms-' + i + '-' + p + '-' + qtr" aria-expanded="false">
                                  <ng-container *ngIf=" detail.status !== ''; else noReport ">
                                    <td class="fw-semi-bold blue">
                                      <a [routerLink]="['/app/permit', 'manreport', {PN:period.permit, MO:detail.month}]" (aClick)="toPeriodofActivity(period, detail)">
                                      {{detail.month | titleCase}}</a>
                                    </td>
                                  </ng-container>
                                  <ng-template #noReport>
                                    <td class="fw-semi-bold">{{detail.month | titleCase}}</td>
                                  </ng-template>
                                  <td>
                                    <span class="text-legend " [ngClass]="{'legend-err': detail.status === 'E', 'legend-com': detail.status === 'C',
                                          'legend-ns' : detail.status === 'NS'}">
                                      {{detail.status}}
                                    </span>
                                  </td>
                                  <td>Tax</td>
                                  <td class="rightalign">
                                      <span *ngIf="acceptanceFlag === 'MixedAction' && mixedActionQuarterDetailsManufacturer[mixedActionIndexMap.indexOf(month[detail.month])]!=undefined && mixedActionQuarterDetailsManufacturer[mixedActionIndexMap.indexOf(month[detail.month])].acceptFDAFlag">
                                          <i compare-icon [status]="acceptanceFlag"></i>
                                        </span>
                                        <span *ngIf="acceptanceFlag === 'MixedAction' && mixedActionQuarterDetailsManufacturer[mixedActionIndexMap.indexOf(month[detail.month])]!=undefined && !mixedActionQuarterDetailsManufacturer[mixedActionIndexMap.indexOf(month[detail.month])].acceptFDAFlag">
                                            &nbsp; &nbsp; 
                                        </span>
                                        {{detail.taxAmount |tufacurrency}}
                                  </td>
                                  <td>
                                    <span *ngIf="detail.ttb5000Cnt" class="fa-stack fa-1x" style="color: #64be6e;">
                                      <span class="fa fa-circle-o fa-stack-2x"></span>
                                      <strong class="fa-stack-1x">{{detail.ttb5000Cnt}}</strong>
                                    </span>
                                  </td>
                                  <td class="rightalign">
                                    <span *ngIf="acceptanceFlag === 'MixedAction' && mixedActionQuarterDetailsManufacturer[mixedActionIndexMap.indexOf(month[detail.month])]!=undefined && mixedActionQuarterDetailsManufacturer[mixedActionIndexMap.indexOf(month[detail.month])].acceptIngestedFlag">
                                      <i compare-icon [status]="acceptanceFlag"></i>
                                    </span>
                                    <span *ngIf="acceptanceFlag === 'MixedAction' && mixedActionQuarterDetailsManufacturer[mixedActionIndexMap.indexOf(month[detail.month])]!=undefined && !mixedActionQuarterDetailsManufacturer[mixedActionIndexMap.indexOf(month[detail.month])].acceptIngestedFlag">
                                        &nbsp; &nbsp; 
                                    </span>
                                        {{detail.ingestedTax |tufacurrency}}
                                  </td>
                                  <td>
                                    <span *ngIf="detail.ingestedThreshCnt" class="fa-stack fa-1x" style="color: #64be6e;">
                                      <span class="fa fa-circle-o fa-stack-2x"></span>
                                      <strong class="fa-stack-1x">{{detail.ingestedThreshCnt}}</strong>
                                    </span>
                                  </td>
                                  <td *ngIf="detail.taxAmount !='NA' || detail.ingestedTax !='NA'" class="rightalign">{{(detail.taxAmount=='NA'? 0: detail.taxAmount) - (detail.ingestedTax =='NA'? 0: detail.ingestedTax)
                                    |tufacurrency | minustoparens}}
                                  </td>
                                  <td *ngIf="detail.taxAmount=='NA' && detail.ingestedTax =='NA'" class="rightalign">
                                    NA
                                  </td>
                                  <td>
                                    <i *ngIf="detail.attachments" class="h5 pull-right float-xs-right fa fa-chevron-right" style="margin-right: 10px; ; margin-left:5px;">
                                    </i>
                                  </td>

                                </tr>
                              </tbody>
                              <tbody *ngIf="detail.attachments" [attr.id]="'forms-' +i + '-' + p +  '-' + qtr" class="collapse">
                                <tr>
                                  <!-- <td class="noborder"></td> -->
                                  <td class="noborder">FORM 3852</td>
                                </tr>
                                <tr *ngFor="let attachment of detail.attachments">
                                  <!-- <td class="noborder"></td> -->
                                  <td class="fw-semi-bold blue noborder">
                                    <a target="_blank" (click)="enableLinkAuth(true)" href="api/reports/view/attachs/{{attachment.documentId}}">{{attachment.createdDt | datePipe}}</a>
                                  </td>
                                </tr>

                              </tbody>
                            </ng-container>
                            <tr class="topthickborder">
                              <td class="rightalign fw-semi-bold" colspan="2">Total</td>
                              <td class="fw-semi-bold">Tax</td>
                              <td class="rightalign fw-semi-bold">
                                {{period.periodTotal |tufacurrency}}</td>
                              <td></td>
                              <td class="rightalign fw-semi-bold">{{period.ingestedTax |tufacurrency}}</td>
                              <td></td>
                              <td *ngIf="period.periodTotal !='NA' || period.ingestedTax !='NA'" class="rightalign fw-semi-bold">
                                {{(period.periodTotal=='NA'? 0: period.periodTotal) - (period.ingestedTax =='NA'? 0: period.ingestedTax) |tufacurrency| minustoparens}}
                              </td>
                              <td *ngIf="period.periodTotal =='NA' && period.ingestedTax == 'NA'" class="rightalign fw-semi-bold">
                                NA
                              </td>
                            </tr>
                          </table>
                        </div>
                      </accordion-group>
                    </accordion>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="dataType !== 'Matched'">
    <app-at-one-sided-actions [panelQtr]="quarter" [headerData]="headerData" [quarterDeltaForOnesidedMap]="quarterDeltaForOnesidedMap" [oneSidedAcceptanceFlag]="oneSidedAcceptanceFlag"></app-at-one-sided-actions>
  </ng-container>
  <ng-container *ngIf="dataType === 'Matched'">
    <div style="padding-top: 24px; padding-bottom: 45px; ">
      <acceptance-flag-mini (accept3852flag)="acceptedFDAflag($event) " (progressedflag)="progressedflag($event)" 
      [mixedActionQuarterManuMap]="mixedActionQuarterDetailsManufacturer" (mixedActionFlagManu)="mixedActionFlag($event)" [mixedActionTaxManu]="mixedActionTaxManu" [mixedActionQuantityRemovedManu]="mixedActionQuantityRemovedManu"
      [acceptanceFlag]="acceptanceFlag " [isValid]="amendmentFlag " [quarter]="quarter" [taxes]="{'totalTUFATax':tufaTotal,'totalIngestedTax':ingestedTotal}" style="padding-top: 20px ">
      </acceptance-flag-mini>
    </div>

    <manu-details-amend-mini [headerdata]="headerData " [amendInfo]="amendTobaccoClasses " [acceptanceFlag]="acceptanceFlag
                        " [acceptedFlag]="acceptedFlag " [quarterInfo]="quarter " (amendTotalUpdated)="amendmentFlag=$event "></manu-details-amend-mini>
  </ng-container>
</section>

<!-- Show Comments Panel -->
<!-- <div comparecomments-panel [acceptanceFlag]="fda3852map[activequarter] " [headerData]="headerData " [quarter]="activequarter "></div> -->
<!-- <div class="row ">
  <div class="col-lg-12 ">
    <div cmpdetail-comments-grid [context]="context " [acceptanceFlag]="fda3852map[activequarter] " [headerData]="headerData
                        " [quarter]="activequarter "></div>
  </div>
</div> -->

<!-- Show Amend Total -->
<!-- <div at-comparedetailsamend [headerData]="headerData " [amendInfo]="amendTobaccoClasses " (amendTotalUpdated)="amendTotalFlagSwitched($event) "
  (saveAmend)="savedAmendment($event) " [acceptanceFlag]="fda3852map[activequarter] " [acceptedFlag]="acceptedFlag
                        " [quarterInfo]="activequarter ">
</div> -->