// @import './../at-compare-cigardetails.style';

.topthickborder td{
    border-top: solid 2px black;
    border-right: #ddd;
  }

  .detail-sub-table.show {
    // If block then sub tables shrink when displayed
    display: table-row-group !important;
  }

  .fa.bold {
    font-size: 25px;
    font-weight: bold;
  }

  .details-row {
    >[class^="col-"]:first-child {
        .widget {
            padding-right: 0px;
        }
    }
    >[class^="col-"]:not(:first-child):not(:last-child) {
        .widget {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    >[class^="col-"]:last-child {
        .widget {
            padding-left: 0px;
        }
    }
}