<ng-container *ngIf="ingestedAssociationFlag">
  <alert [type]="'warning alert-sm'" id="details-association-message">
    <i class="fa fa-exclamation-triangle"></i>
    <span class="alert-text" [innerHTML]="'<strong>Associated Deltas:</strong> This company has ingested only importer data associated to it.'"></span>
  </alert>
</ng-container>
<div class="section-title">
  <span class="h4 no-margin fw-semi-bold" style="margin:10px 20px 10px 0px;">Details</span>
  <a [ngBusy]="exportBusy" class="fw-semi-bold pull-right" href="javascript:void(0)" (aClick)="exportRawdata()">Download Raw Data</a>
</div>

<div details-legend></div>

<div class="btn-toolbar" style="text-align: right">
  <button class="btn btn-primary" data-toggle="modal" focusOn="#reallocateentryform" data-target="#reallocate-entry" data-backdrop="static"
    data-keyboard="false" (click)="manageEntries()" [disabled]="isNoEnrtriesSelected()">Manage Quarter {{quarter == 5 ? '1-4' : quarter}}</button><br><br>
    <label [for]="'selectall' + quarter"><input type="checkbox" [id]="'selectall' + quarter" name="SELECT ALL" (change)="selectEntry($event)"><strong> SELECT ALL</strong></label>
</div>

<!-- 	Title Row -->
<div class="row header-row">
  <div class="col-sm-5">
    <span class="h6 no-margin fw-semi-bold">{{headerData?.tobaccoClass}}</span>
    <div class="bborder">
      <span class="h4 no-margin fw-semi-bold">FDA 3852 TAX</span>
      <span class="pull-right h4 no-margin fw-semi-bold">{{details.tufaTotal | tufacurrency| minustoparens}}</span>
    </div>
  </div>
  <div class="col-sm-2 delta-column">
    <span class="h6 no-margin fw-semi-bold">DELTA</span>
    <div class="bborder">
      <!-- <span class="h4 no-margin fw-semi-bold">FDA 3852 TAX</span> -->
      <span class="h4 no-margin fw-semi-bold">{{details.deltaTotal | tufacurrency| minustoparens}}</span>
    </div>
  </div>
  <div class="col-sm-5">
    <span class="h6 no-margin fw-semi-bold">{{headerData?.tobaccoClass}}</span>
    <div class="bborder">
      <span class="h4 no-margin fw-semi-bold">INGESTED TAX</span>
      <span class="pull-right h4 no-margin fw-semi-bold">{{details.detailTotal | tufacurrency| minustoparens}}</span>
    </div>
  </div>
</div>
<div class="row" *ngFor="let index of months">
  <!--Tufa Details Section-->
  <div class="col-sm-5">
    <accordion [closeOthers]="false">
      <accordion-group #f1g1 panelClass="customClass accord-groupborder" [isOpen]="shareData?.expandedSectionsMap?.get(quarter)?.get('Fda')?.get(index)"
        (isOpenChange)="setMonthExpanded(quarter,'Fda',index, $event)">
        <div accordion-heading class="whitebox" style="padding-bottom:5px;">
          <span class="h6 no-margin fw-semi-bold pl10 black" style="display: inline-block; width: 100px;">{{details.tufaDetails[index]?.period | titleCase}}</span>
          &nbsp;
          <!-- <ng-container *ngFor="let detail of details.tufaDetails[index]?.periodDetails"> -->
          <ng-container *ngFor="let detail of this.permitStatus[index]">
            <span class="text-legend-qtr" [ngClass]="{'legend-err': detail === 'E', 'legend-com': detail === 'C',
              'legend-ns' : detail === 'NS'}">
              {{detail}}
            </span>
            &nbsp;
          </ng-container>
          <span class="pull-right h6 no-margin fw-semi-bold black">{{details.tufaDetails[index]?.periodTotal |tufacurrency| minustoparens}}
            <i class="h6 fa pr10ml10 black" [ngClass]="{'fa-chevron-down': f1g1?.isOpen, 'fa-chevron-right': !f1g1?.isOpen}">
            </i>
          </span>
        </div>
        <!-- Status -->
        <app-at-compare-details-tufa-ag-grid style="width: 100%" [data]="details.tufaDetails[index]?.period7501Details ? details.tufaDetails[index].period7501Details : []" 
        [tobaccoClass]="this.headerData.tobaccoClass" [gridName]="'compare-details-ingested-month-' + quarter + '-' + index"></app-at-compare-details-tufa-ag-grid>
        <div class="row table-responsive">
          <table class="table ml5mr5">
            <colgroup>
              <col style="width:20%">
              <col style="width:20%">
              <col style="width:25%">
              <col style="width:15%">
            </colgroup>
            <thead>
              <tr>
                <!-- <th scope="col">STATUS</th> -->
                <th scope="col">MONTH</th>
                <th scope="col">PERMIT</th>
                <th scope="col" class="rightalign">EXCISE TAX</th>
                <th scope="col">EXPORT</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let detail of details.tufaDetails[index]?.periodDetails">
                <tr>
                  <!-- <td>
                    <span class="text-legend " [ngClass]="{'legend-err': detail.status === 'E', 'legend-com': detail.status === 'C',
                                                                                'legend-ns' : detail.status === 'NS'}">
                      {{detail.status}}
                    </span>
                  </td> -->
                  <td class="fw-semi-bold blue">
                    <a [routerLink]="['/app/permit', 'impreport', {PN:detail.permit, MO:detail.month}]" (aClick)="toPeriodofActivity(detail)">
                      {{detail.month | titleCase}}
                    </a>
                  </td>
                  <td>{{detail.permit | permitNumberPipe }}</td>
                  <td class="rightalign">
                    {{detail.taxAmount|tufacurrency| minustoparens}}
                  </td>
                  <td>
                    <a *ngIf="detail.lineCount7501 > 0; else no7501Data" href="javascript:void(0)" (aClick)="downloadForm(detail)">7501 Form
                    </a>
                    <ng-template #no7501Data>N/A</ng-template>
                  </td>
                </tr>
                <tr *ngIf="detail.attachments">
                  <td colspan="5">
                    <!-- Documents -->
                    <table class="table" style="background-color:white">
                      <colgroup>
                        <col style="width:40%">
                        <col style="width:30%">
                        <col style="width:30%">
                      </colgroup>
                      <thead>
                        <tr>
                          <th scope="col">FORM</th>
                          <th scope="col" colspan="2">DATE UPLOADED
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let attachment of detail.attachments">
                          <td class="fw-semi-bold blue">
                            <a target="_blank" (click)="enableLinkAuth(true)" href="api/reports/view/attachs/{{attachment.documentId}}">{{attachment.formTypes}}</a>
                          </td>
                          <td>{{attachment.createdDt | datePipe }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </accordion-group>
    </accordion>
  </div>
  <!--Delta Middle Section-->
  <div class="col-sm-2 delta-column">
    <span class="h6 no-margin fw-semi-bold black">{{details.detailDeltas[index]?.periodDelta | tufacurrency| minustoparens}}</span>
  </div>
  <!-- Ingested Detail Section-->
  <div class="col-sm-5">
    <accordion>
      <accordion-group #i1g1 panelClass="customClass accord-groupborder" [isOpen]="shareData?.expandedSectionsMap?.get(quarter)?.get('Ingested')?.get(index)"
        (isOpenChange)="setMonthExpanded(quarter,'Ingested',index, $event)">
        <div accordion-heading class="whitebox" style="padding-bottom:5px;">
          <span class="h6 no-margin fw-semi-bold pl10 black">{{details.ingestedDetails[index]?.period | titleCase}}</span>
          <span class="pull-right h6 no-margin fw-semi-bold black">
            {{details.ingestedDetails[index]?.periodTotal | tufacurrency| minustoparens}}
            <i class="h6 fa pr10ml10 black" [ngClass]="{'fa-chevron-down': i1g1?.isOpen, 'fa-chevron-right': !i1g1?.isOpen}">
            </i>
          </span>
        </div>
        <app-at-compare-details-ag-grid [quarter]="quarter" [selectedDt]="selectedDt" [data]="details.ingestedDetails[index]?.periodDetails ? details.ingestedDetails[index].periodDetails : []"
          (selectedChange)="setSelectedEntriesForMonth($event, index)" [gridName]="quarter + '-' + index" [fiscalYear]="shareData?.fiscalYear">
        </app-at-compare-details-ag-grid>
      </accordion-group>
    </accordion>
  </div>
</div>
<!--Entry Lines Outside of Fiscal Year-->
<ng-container *ngIf="selectedDt == 'entryDt'">
  <div class="row" style="margin-top:15px;">
    <div class="col-lg-5 offset-md-7">
      <accordion>
        <span></span>
        <accordion-group #i1g6 panelClass="customClass accord-groupborder" [isOpen]="shareData?.expandedSectionsMap?.get(quarter)?.get('Ingested')?.get(13)"
          (isOpenChange)="setMonthExpanded(quarter,'Ingested',13, $event)">
          <div accordion-heading class="greybox" style="padding-bottom:5px;">
            <span class="h6 no-margin fw-semi-bold pl10 black">Entry Lines Outside of Fiscal Year</span>
            <span class="pull-right h6 no-margin fw-semi-bold mt5 black">
              <i *ngIf="outsideFiscalYearLines?.length > 0" style="color:red;" class="fa fa-exclamation-triangle"></i>
              <i class="h6 fa pr10ml10 black" [ngClass]="{'fa-chevron-down': i1g6?.isOpen, 'fa-chevron-right': !i1g6?.isOpen}"></i>
            </span>
          </div>
          <app-at-compare-details-ag-grid [quarter]="quarter" [hideInfoColumn]="true" [selectedDt]="selectedDt" [data]="outsideFiscalYearLines"
            (selectedChange)="setSelectedEntriesForOutsideFiscalLines($event)" [gridName]="'outside-yr' + quarter" [fiscalYear]="shareData?.fiscalYear">
          </app-at-compare-details-ag-grid>
        </accordion-group>
      </accordion>
    </div>
  </div>
</ng-container>

<!--Type 21/22 Entry Type Codes-->
<div class="row" style="margin-top:15px;">
  <div class="col-lg-5 offset-md-7">
    <accordion>
      <span></span>
      <accordion-group #i1g6 panelClass="customClass accord-groupborder" [isOpen]="shareData?.expandedSectionsMap?.get(quarter)?.get('Ingested')?.get(14)"
        (isOpenChange)="setMonthExpanded(quarter,'Ingested',14, $event)">
        <div accordion-heading class="greybox" style="padding-bottom:5px;">
          <span class="h6 no-margin fw-semi-bold pl10 black">Type 21/22 Entry Lines</span>
          <span class="pull-right h6 no-margin fw-semi-bold mt5 black">
            <i *ngIf="filteredLinesfor2122?.length > 0" style="color:red;" class="fa fa-exclamation-triangle"></i>
            <i class="h6 fa pr10ml10 black" [ngClass]="{'fa-chevron-down': i1g6?.isOpen, 'fa-chevron-right': !i1g6?.isOpen}"></i>
          </span>
        </div>
        <app-at-compare-details-ag-grid [quarter]="quarter" [hideInfoColumn]="true" [selectedDt]="selectedDt" [data]="filteredLinesfor2122"
          (selectedChange)="setSelectedEntriesForFilteredLines($event)" [gridName]="'type_21_22-' + quarter" [fiscalYear]="shareData?.fiscalYear">
        </app-at-compare-details-ag-grid>
      </accordion-group>
    </accordion>
  </div>
</div>
<div class="row" style="margin-top:15px;">
  <!-- [ngBusy]="{busy: busyHTSCodeSummary, message: 'Loading...', backdrop: false}" -->
  <div class="col-lg-5 offset-md-7">
    <accordion>
      <span></span>
      <accordion-group #i1g5 panelClass="customClass accord-groupborder" [isOpen]="shareData?.expandedSectionsMap?.get(quarter)?.get('Ingested')?.get(15)"
        (isOpenChange)="setMonthExpanded(quarter,'Ingested',15, $event)">
        <div accordion-heading class="greybox" style="padding-bottom:5px;">
          <span class="h6 no-margin fw-semi-bold pl10 black">Ingested HTS Code Summary
          </span>
          <span class="pull-right h6 no-margin fw-semi-bold mt5 black">
            <i class="h6 fa pr10ml10 black" [ngClass]="{'fa-chevron-down': i1g5?.isOpen, 'fa-chevron-right': !i1g5?.isOpen}"></i>
          </span>
          <p class="h6 no-margin fw-normal pl10 black" style="font-size:60%">HTS Codes used to determine Ingested Tax
          </p>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <table class="table ml5mr5" style="width:95%">
              <colgroup>
                <col style="width:25%">
                <col style="width:25%">
                <col style="width:25%">
                <col style="width:25%">
              </colgroup>
              <thead>
                <tr>
                  <th scope="col">HTS CODE</th>
                  <th scope="col">CLASS</th>
                  <th scope="col">LINES</th>
                  <th scope="col" class="rightalign">TOTAL</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let htsrow of htsCodeIngestionSummary">
                  <td>{{htsrow.htsCode}}</td>
                  <td>{{htsrow.tobaccoClass}}</td>
                  <td>{{htsrow.lineCount}}</td>
                  <td class="rightalign">
                    {{htsrow.taxAmount | tufacurrency| minustoparens}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </accordion-group>
    </accordion>
  </div>
</div>
<app-at-one-sided-actions [panelQtr]="quarter" [headerData]="headerData" [quarterDeltaForOnesidedMap]="quarterDeltaForOnesidedMap"
  [headerDataMapForAllDeltas]="headerDataMapForAllDeltas" [oneSidedAcceptanceFlag]="oneSidedAcceptanceFlag">
</app-at-one-sided-actions>