<form id="createcompany-form" class="form-horizontal" role="form" data-parsley-priority-enabled="false" novalidate="novalidate"
                data-parsley-validate data-parsley-focus="first">
<div class="modal fade" id="at-create-company" tabindex="-1" role="dialog" aria-label="create-company-title" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div title="title" class="h4 modal-title text-xs-center fw-bold mt">Create Company & Permits</div>
			</div>

			<!--Modal Body-->
			<div class="modal-body">
				<legend style="border:0; font-size: 13px;">Company and Permits will be created using the following information:</legend>
				<div *ngIf="manudata.associationType === 'Manufacturer' || manudata.associationType === 'Manufacturer, Importer'">
					<div>
						<ul style="margin-left:5px;" class="list-unstyled">
							<li><strong>{{manudata?.companyName}}</strong></li>
							<li><strong> EIN: {{manudata?.einNo | einPipe}}</strong></li>
						</ul>
					</div>
					<div *ngFor="let permit of manudata.permits; let i = index; let last = last">
						<div>
							<ul style="margin-left:15px;" class="list-unstyled">
								<li>{{permit?.permitNum | permitNumberPipe}}</li>
								<li>{{permit?.permitTypeCd}}</li>
								<li>Permit Status:{{permit?.permitStatusTypeCd}}</li>
								<li>Active Date: {{permit?.tpbdDt}}</li>
							</ul>
						</div>
					</div>
				</div>
				<div *ngIf="imptdata.associationType === 'Importer' || imptdata.associationType === 'Manufacturer, Importer'">
					<div>
						<ul style="margin-left:15px;" class="list-unstyled">
							<li><strong>{{imptdata.companyName}}</strong></li>
							<li>Importer</li>

						</ul>
					</div>
				
					<div class="form-group row" *ngIf="imptdata.associationType === 'Importer'">
						<label for="ein-number" class="col-md-4 form-control-label text-md-right">
                                    Employer Identification Number (EIN)
                                    <span class="help-block">Required field</span>
                                </label>
						<div id="ein-number" role="alert" class="col-md-4 col-xs-12">
							{{einNo}}
							
						</div>
					</div>
					<div class="form-group row">
						<label for="permitStatusTypeCd" class="col-md-4 form-control-label text-md-right">
                                            Permit Status
                                            <span class="help-block">Required field</span>
                                        </label>
						<div class="col-md-4 col-xs-12">
							<select class="select2 form-control" title="Permit Status" required id="permitStatusTypeCd" [(ngModel)]="permitStatus" (ngModelChange)="toggle(permitStatus)"
							 name="permitStatusTypeCd">
                                            <option value="CLSD">Closed</option>
                                            <option value="ACTV">Active</option>
                                          </select>
						</div>
					</div>
					<div class="form-group row">
						<label for="ttb-permit" class="col-md-4 form-control-label text-md-right">
                                    TTB Permit
                                    <span class="help-block">Required field</span>
                                </label>
						<div role="alert" class="col-md-4 col-xs-12">
							<input id="ttb-permit" placeholder="Permit" class="form-control" [(ngModel)]="permitNumber" title=" Permit Number" type="text"
							 #field="ngModel" pattern="[a-zA-Z]{2}-[a-zA-Z]{2}-\d{1,5}(?!\d)" [textMask]="{mask: mask, guide:false}" [ngModelOptions]="{standalone: true}"
							 required data-parsley-error-message="Error: Permit requires appropriate format (e.g. AA-BB-12345)">
						</div>
					</div>

					<div class="form-group row">
						<label for="act-dtpicker" class="col-md-4 form-control-label text-md-right">
                                    TUFA Active Date
                                    <span class="help-block">Required field</span>
                                </label>
						<div role="alert" class="col-md-4 col-xs-12">
							<datetime data-parsley-required-message="Error: TUFA Active Date is required" required [timepicker]="false" [dateinputID]="activedateid"
							 id="act-dtpicker" [datepicker]="datepickerOpts" [(ngModel)]="activedate" title="Active Date" [ngModelOptions]="{standalone: true}"></datetime>
						</div>
					</div>

					<div class="form-group row" *ngIf="permitStatus === 'CLSD'">
						<label for="close-date" class="col-md-4 form-control-label text-md-right">
                                          TUFA Inactive Date
                                            <span class="help-block">Required field</span>
                                        </label>
						<div class="col-md-4 col-xs-12">
							
							<datetime data-parsley-required-message="Error: TUFA Inactive Date is required" required [dateinputID]="closeddateid" [timepicker]="false" [(ngModel)]="closeddate" title="TUFA Inactive Date" [datepicker]="datepickerOptsClsd"
							 id="cls-dtpckr" name="TTB-close-date">
							</datetime>
						</div>
					</div>
					<div *ngIf="showInactiveerror" class="font-italic"  [ngClass]="{'text-danger':true}"> Permit cannot be created with an Inactive Date earlier than the Active Date</div>
				</div>
			</div>

			<!--Modal Footer-->
			<div class="modal-footer">
				<button type="button" [ngBusy]="busy" id="btn-del-doc" [disabled]="disableCreate" class="btn btn-primary" (click)="createCompany()">Create</button>
				<button type="button" class="btn btn-secondary" (click)="reset()" title="Cancel">Cancel</button>
				<div *ngIf="vanishText" class="font-italic" [ngClass]="hasError ? 'text-danger' : 'text-success' ">{{vanishText}}</div>
			</div>
		</div>
	</div>
</div>
</form>
 