<form class="form-horizontal" role="form">
    <div class="row">
        <div class="col-lg-12">
            <section class="widget h-thin-divider" [ngClass]="{'excluded': inclCmpy.includeFlag === 'N'}">
                <div class="widget-body clearfix">
                    <div class="row flex-nowrap">
                        <div class="col-lg-12">
                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <ul class="list-unstyled">
                                        <li class="fw-semi-bold">{{ inclCmpy.companyName.toUpperCase() }}</li>
                                        <li>{{ inclCmpy.einNo | einPipe }}</li>
                                        <li>{{ inclCmpy.associationType }}</li>
                                        <li>{{ inclCmpy.totalTaxes|currency:'USD':'symbol':'1.2-2' }}</li>
                                        <li>{{ getOtherTobaccoTypesReported() | removeHyphen }}</li>
                                        <li *ngIf="inclCmpy.includeFlag === 'Y' && (getAssociationType(inclCmpy.associationType) =='MANU'|| getAssociationType(inclCmpy.associationType)=='BOTH' || getAssociationType(inclCmpy.associationType)=='IMPT')">
                                            <a href="#" id="anchor-at-create-company" title="Create Company" data-toggle="modal" data-target="#at-create-company" focusOn="#at-create-company"
                                                data-backdrop="static" data-keyboard="false" (aClick)="setSelectedCmpy(inclCmpy)">Create Company & Permits</a>
                                        </li>

                                        <div class="row">
                                            <div class="col-sm-10"></div>
                                            <div class="col-sm-2">
                                                <toggle-button-tufa [id]="'exclud-company-'+index" [flag]="inclCmpy.includeFlag === 'N'" [lables]="['Exclude']" (flagChange)="alternateExclude()"></toggle-button-tufa>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</form>