<div *ngIf="iscalcTypeTax" class="row" (keyup)="setGlobalError(checkForms5220InError())">
	<template #toolTipform5220>
		<div>
			<b>DIFFERENCE</b>
		</div>
		<div></div>
		<div>
			<table>
				<tr>
					<td>Quantity</td>
					<td> - </td>
					<td>Quantity
						<td>
				</tr>
				<tr>
					<td>[FDA 3852]</td>
					<td> </td>
					<td>[TTB 5000.24]</td>
				</tr>
			</table>
		</div>
	</template>
	<div class="col-lg-offset-1 col-lg-12">
		<section class="widget h-divider">
			<div class="widget-body clearfix">
				<div class="row flex-nowrap">
					<div class="col-md-10">
						<h4 class="h4 no-margin fw-normal">Imported & Released from Customs into the U.S.</h4>
						<p>{{model.permitNumber| permitNumberPipe}}&nbsp;&nbsp;&nbsp;&nbsp;{{model.period}}</p>
					</div>
					<div class="col-md-2">
						<p style="white-space:nowrap">
							<strong>TTB 5220.6</strong>
						</p>
					</div>
				</div>

				<! -- Add the toggle switch -->
				<div class="row flex-nowrap">
					<div class="col-md-8">
					</div>
					<div class="col-md-4" style="text-align: right">
						<div class="checkbox-inline checkbox-ios">
							<label for="include-in-report" class="switch" style="white-space:nowrap;">
								<input type="checkbox" [(ngModel)]="includeReport" #include (ngModelChange)="includeForm5220();hasChanges.emit(true);" class="ios"
								 checked id="include-in-report">
								<i></i>
								Include in Report
							</label>
						</div>
					</div>
				</div>


				<div *ngIf='includeReport' class="row flex-nowrap" style="overflow-x:auto;">
					<div class="col-md-12">
						<table class="table borderless">
							<colgroup>
								<col style="width:10%">
								<col style="width:40%">
								<col style="width:25%">
								<col style="width:25%">
							</colgroup>
							<thead>
								<tr>
									<th>
										<span>Tobacco Class</span>
									</th>
									<th>
										<span>Removals Amount</span>
									</th>
									<th>
										<span class="floatright">Difference Removals</span>
									</th>
									<th>
										<span class="largeleftmargin">Activity</span>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngIf="model.showCigarettes" id="tr-522-cgt">
									<td style="vertical-align:top">Cigarettes</td>
									<td>
										<div>Small</div>
										<div>
											<input id="cgt-522-sm-amt" type="text" class="form-control fdatable rightalign" [(ngModel)]="model.getTobaccoType('Cigarettes').smallSticks"
											 customNumberFormatter [valueChg]='scigs.value' customInteger (ngModelChange)="
											updateTotalSticks(model.getTobaccoType('Cigarettes'));smallcigs(model.getTobaccoType('Cigarettes'))" #scigs aria-label="Cigarette Small Sticks">
										</div>
										<div *ngIf="(model.getTobaccoType('Cigarettes').isQuantity52206StrValidSml==false)" class="alert alert-danger">{{numberValidationErrorMessage}}</div>
										<div>
											<p style="margin-left:60px;">+</p>
										</div>
										<div>Large</div>
										<div>
											<input id="cgt-522-lg-amt" type="text" class="form-control fdatable rightalign" [(ngModel)]="model.getTobaccoType('Cigarettes').largeSticks"
											 customNumberFormatter [valueChg]='lcigs.value' customInteger (ngModelChange)="
											updateTotalSticks(model.getTobaccoType('Cigarettes'));largecigs(model.getTobaccoType('Cigarettes'));" #lcigs
											 aria-label="Cigarette Large Sticks">
										</div>
										<div *ngIf="(model.getTobaccoType('Cigarettes').isQuantity52206StrValidLrg==false)" class="alert alert-danger">{{numberValidationErrorMessage}}</div>
										<div class="h-thin-divider" style="margin-top:5px; width:100%"></div>
										<div>
											<span>Total sticks:</span>
											<span class="totaldisplay" id="cgt-522-total">{{model.getTobaccoType('Cigarettes').qty52206 | customnumber : 0}}</span>
										</div>
									</td>
									<td id='cgt-522-diff'>
										<span class="floatright">{{model.getTobaccoType('Cigarettes').qtyDiff52206 | customnumber : 0 | minustoparens}}</span>
									</td>
									<td id='cgt-522-status'>
										<span [class.calc-error]="model.getTobaccoType('Cigarettes').qtyDiffErr52206 " class="largeleftmargin">{{model.getTobaccoType('Cigarettes').activityCd52206?model.getTobaccoType('Cigarettes').activityCd52206:'-'}}</span>
									</td>
								</tr>
								<tr *ngIf="model.showCigarettes" class="h-thin-divider">
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<!--Cigrattes End Here-->
								<!--Cigars Start Here-->
								<tr *ngIf="model.showCigars" id="tr-522-cig">
									<td style="vertical-align:top">Cigars</td>
									<td>
										<div>Small</div>
										<div>
											<input id="cig-522-sm-amt" type="text" class="form-control fdatable rightalign" [(ngModel)]="model.getTobaccoType('Cigars').smallSticks"
											 customNumberFormatter [valueChg]='scigars.value' customInteger (ngModelChange)="
											updateTotalSticks(model.getTobaccoType('Cigars'));smallcigars(model.getTobaccoType('Cigars'))" #scigars aria-label="Cigar Small Sticks">
										</div>
										<div *ngIf="(model.getTobaccoType('Cigars').isQuantity52206StrValidSml==false)" class="alert alert-danger">{{numberValidationErrorMessage}}</div>
										<div>
											<p style="margin-left:60px;">+</p>
										</div>
										<div>Large</div>
										<div>
											<input id="cig-522-lg-amt" type="text" class="form-control fdatable rightalign" [(ngModel)]="model.getTobaccoType('Cigars').largeSticks"
											 customNumberFormatter [valueChg]='lcigars.value' customInteger (ngModelChange)="
											updateTotalSticks(model.getTobaccoType('Cigars'));largecigars(model.getTobaccoType('Cigars'))" #lcigars aria-label="Cigar Large Sticks">
										</div>
										<div *ngIf="(model.getTobaccoType('Cigars').isQuantity52206StrValidLrg==false)" class="alert alert-danger">{{numberValidationErrorMessage}}</div>
										<div class="h-thin-divider" style="margin-top:5px; width:100%"></div>
										<div>
											<span>Total sticks:</span>
											<span class="totaldisplay" id="cig-522-total">{{model.getTobaccoType('Cigars').qty52206 | customnumber : 0}}</span>
										</div>
									</td>
									<td id='cig-522-diff'>
										<span class="floatright">{{model.getTobaccoType('Cigars').qtyDiff52206 | customnumber : 0 | minustoparens}}</span>
									</td>
									<td id='cig-522-status'>
										<span [class.calc-error]="model.getTobaccoType('Cigars').qtyDiffErr52206" class="largeleftmargin">{{model.getTobaccoType('Cigars').activityCd52206?model.getTobaccoType('Cigars').activityCd52206:'-'}}</span>
									</td>
								</tr>
								<tr *ngIf="model.showCigars" class="h-thin-divider">
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<!--Cigars End Here-->
								<!--Snuffs Start Here-->
								<tr *ngIf="model.showSnuffs" class="h-thin-divider" id="tr-522-snf">
									<td>Snuff</td>
									<td>
										<input id="snf-522-amt" type="text" class="form-control fdatable rightalign" [(ngModel)]="model.getTobaccoType('Snuff').qty52206"
										 [customDecimalFormatter]='3' [valueChg]='tsnuff.value' customNumerics (ngModelChange)="updateCalc5220('Snuff');
											snuff(model.getTobaccoType('Snuff'))" #tsnuff aria-label="Snuff Quantity">
									</td>
									<td id='snf-522-diff'>
										<span class="floatright">{{model.getTobaccoType('Snuff').qtyDiff52206 | customnumber : 3 | minustoparens}}</span>
									</td>
									<td id='snf-522-status'>
										<span [class.calc-error]="model.getTobaccoType('Snuff').qtyDiffErr52206" class="largeleftmargin">{{model.getTobaccoType('Snuff').activityCd52206?model.getTobaccoType('Snuff').activityCd52206:'-'}}</span>
									</td>
								</tr>
								<tr *ngIf="model.showSnuffs">
									<td></td>
									<td>
										<div *ngIf="(model.getTobaccoType('Snuff').isQuantity52206StrValid==false)" class="alert alert-danger">{{numberValidationErrorMessage}}</div>
									</td>
									<td></td>
									<td></td>
								</tr>
								<!--Snuffs End Here-->
								<!--Chews Start Here-->
								<tr *ngIf="model.showChews" class="h-thin-divider" id="tr-522-chw">
									<td>Chew</td>
									<td>
										<input id="chw-522-amt" type="text" class="form-control fdatable rightalign" [(ngModel)]="model.getTobaccoType('Chew').qty52206"
										 [customDecimalFormatter]='3' [valueChg]='tchew.value' customNumerics (ngModelChange)="
											chew(model.getTobaccoType('Chew'));updateCalc5220('Chew');" #tchew aria-label="Chew Quantity">
									</td>
									<td id='chw-522-diff'>
										<span class="floatright">{{model.getTobaccoType('Chew').qtyDiff52206 | customnumber : 3 | minustoparens}}</span>
									</td>
									<td id='chw-522-status'>
										<span [class.calc-error]="model.getTobaccoType('Chew').qtyDiffErr52206" class="largeleftmargin">{{model.getTobaccoType('Chew').activityCd52206?model.getTobaccoType('Chew').activityCd52206:'-'}}</span>
									</td>
								</tr>
								<tr *ngIf="model.showChews">
									<td></td>
									<td>
										<div *ngIf="(model.getTobaccoType('Chew').isQuantity52206StrValid==false)" class="alert alert-danger">{{numberValidationErrorMessage}}</div>
									</td>
									<td></td>
									<td></td>
								</tr>
								<!--Chews End Here-->
								<!--Pipes Start Here-->
								<tr *ngIf="model.showPipes" class="h-thin-divider" id="tr-522-pip">
									<td>Pipe</td>
									<td>
										<input id="pip-522-amt" type="text" class="form-control fdatable rightalign" [(ngModel)]="model.getTobaccoType('Pipe').qty52206"
										 [customDecimalFormatter]='3' [valueChg]='tpipe.value' customNumerics (ngModelChange)="updateCalc5220('Pipe');
											pipe(model.getTobaccoType('Pipe'))" #tpipe aria-label="Pipe Quantity">
									</td>
									<td id='pip-522-diff'>
										<span class="floatright">{{model.getTobaccoType('Pipe').qtyDiff52206 | customnumber : 3 | minustoparens}}</span>
									</td>
									<td id='pip-522-status'>
										<span id='pip-522-act' [class.calc-error]="model.getTobaccoType('Pipe').qtyDiffErr52206" class="largeleftmargin">{{model.getTobaccoType('Pipe').activityCd52206?model.getTobaccoType('Pipe').activityCd52206:'-'}}</span>
									</td>
								</tr>
								<tr *ngIf="model.showPipes">
									<td></td>
									<td>
										<div *ngIf="(model.getTobaccoType('Pipe').isQuantity52206StrValid==false)" class="alert alert-danger">{{numberValidationErrorMessage}}</div>
									</td>
									<td></td>
									<td></td>
								</tr>
								<!--Pipes End Here-->
								<!--RollYourOwn Starts Here-->
								<tr *ngIf="model.showRollYourOwn" class="h-thin-divider" id="tr-522-ryo">
									<td>Roll Your Own</td>
									<td>
										<input id="ryo-522-amt" type="text" class="form-control fdatable rightalign" [(ngModel)]="model.getTobaccoType('RollYourOwn').qty52206"
										 [customDecimalFormatter]='3' [valueChg]='troll.value' customNumerics (ngModelChange)="updateCalc5220('RollYourOwn'); 
											roll(model.getTobaccoType('RollYourOwn'))" #troll aria-label="Roll Your Own Quantity">
									</td>
									<td id='ryo-522-diff'>
										<span class="floatright">{{model.getTobaccoType('RollYourOwn').qtyDiff52206 | customnumber : 3 | minustoparens}}</span>
									</td>
									<td id='ryo-522-status'>
										<span id='ryo-522-act' [class.calc-error]="model.getTobaccoType('RollYourOwn').qtyDiffErr52206" class="largeleftmargin">{{model.getTobaccoType('RollYourOwn').activityCd52206?model.getTobaccoType('RollYourOwn').activityCd52206:'-'}}</span>
									</td>
								</tr>
								<tr *ngIf="model.showRollYourOwn">
									<td></td>
									<td>
										<div *ngIf="(model.getTobaccoType('RollYourOwn').isQuantity52206StrValid==false)" class="alert alert-danger">{{numberValidationErrorMessage}}</div>
									</td>
									<td></td>
									<td></td>
								</tr>
								<!--RollYourOwn Ends Here-->
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div *ngIf="model.isTTSelected>0 && includeReport" [ngBusy]="busy" class="widget-body">
				<div comments-grid [formTypeCd]="formTypeCd" [comments]="model.getComments('5220.6')"></div>
			</div>
			<div>
				<button class="btn btn-primary" (click)="download.emit()">Download</button>
			</div>
		</section>
	</div>
</div>