<div class="row" id="impform3852" (keyup)="setGlobalError(checkForm3852InError())">
  <template #toolTipform3852>
    <div>
      <b>DIFFERENCE</b>
    </div>
    <div>
      <b>COST</b>
    </div>
    <div>(Quantity x Class Rate) - Tax Amount</div>
    <div></div>
    <div>
      <b>TAX</b>
    </div>
    <div>(Tax Amount/Quantity) - Class Rate</div>
  </template>
  <div class="col-lg-offset-1 col-lg-12">
    <section class="widget h-divider">
      <div class="widget-body clearfix">
        <div class="row flex-nowrap">
          <div class="col-md-10">
            <h4 class="h4 no-margin fw-normal">Domestic Taxable Removals</h4>
            <p>{{model.permitNumber| permitNumberPipe}}&nbsp;&nbsp;&nbsp;&nbsp;{{model.period}}</p>
          </div>
          <div class="col-md-2">
            <h4 class="h6 fw-normal" style="white-space:nowrap;">
              <strong>FDA 3852</strong>
            </h4>
          </div>
        </div>
        <div class="row flex-nowrap" style="overflow-x:auto;">
          <div class="col-md-12">
            <table id="tb-3852" class="table borderless">
              <colgroup>
                <col style="width:13%">
                <col style="width:15%">
                <col style="width:13%">
                <col style="width:15%">
                <col style="width:14%">
                <col style="width:18%">
                <col style="width:12%">
              </colgroup>
              <thead>
                <tr>
                  <th>
                    <span>TOBACCO CLASS</span>
                  </th>
                  <th>
                    <span style="float:right; padding-right:24px;">REMOVALS AMOUNT</span>
                  </th>
                  <th>
                    <span class="floatright padright">TAX RATE</span>
                  </th>
                  <th>
                    <span class="floatright">EXCISE TAX</span>
                  </th>
                  <th>
                    <span class="floatright">DIFFERENCE TAX </span>
                  </th>
                  <th>
                    <span class="floatright">CALCULATED TAX RATE</span>
                  </th>
                  <th>
                    <span style="margin-left:15px;">ACTIVITY</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="model.showCigarettes" id="tr-cgt" class="h-thin-divider">
                  <td>
                    <label for="cgt-rmv-qty">Cigarettes</label>
                  </td>
                  <td>
                    <input id="cgt-rmv-qty" type="text" #cigs class="form-control fdatable rightalign" name="Cigarettes" aria-label="Cigarette sticks"
                      [(ngModel)]="model.getTobaccoType('Cigarettes').rmvlQty3852"  [valueChg]='cigs.value'
                      customNumerics [customDecimalFormatter]='0' (ngModelChange)="updateCalc3852('Cigarettes')" placeholder="in sticks">
                  </td>
                  <td>
                    <span class="floatright padright fw-bold">x({{model.getTobaccoType('Cigarettes').classRate | number:'.0-6'}})</span>
                  </td>
                  <td>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                      </div>
                      <input id="cgt-tax-amt" #cgttaxamt type="text" class="form-control fdatable rightalign" name="taxAmtCigrt" aria-label="Cigarette Excise Tax"
                        [ngModel]="model.getTobaccoType('Cigarettes').taxAmt3852" customNumerics [customDecimalFormatter]='2'
                        [valueChg]='cgttaxamt.value' (ngModelChange)="model.getTobaccoType('Cigarettes').taxAmt3852=$event; calcTaxDiff3852('Cigarettes')">
                    </div>
                  </td>
                  <td id='cgt-tx-dif'>
                    <span class="floatright">{{model.getTobaccoType('Cigarettes').taxDiff3852| tufacurrency | minustoparens}}</span>
                  </td>
                  <!--<td id='cgt-tx-tax'><span class="floatright">{{model.getTobaccoType('Cigarettes') 
                          && model.getTobaccoType('Cigarettes').rmvlQty3852 && model.getTobaccoType('Cigarettes').taxAmt3852 ? 
                          (+model.getTobaccoType('Cigarettes').taxAmt3852/+model.getTobaccoType('Cigarettes').rmvlQty3852 | number : '.2-6') : 0 }}</span></td>-->
                  <td id='cgt-tx-cal'>
                    <span class="floatright">{{model.getTobaccoType('Cigarettes').calculatedTaxDiff3852() | na : 'N/A'}}</span>
                  </td>

                  <td id='cgt-status'>
                    <span [class.calc-error]="model.getTobaccoType('Cigarettes').taxDiffErr3852" style="margin-left:15px;">{{model.getTobaccoType('Cigarettes').activityCd3852?model.getTobaccoType('Cigarettes').activityCd3852:'-'}}
                    </span>
                  </td>
                </tr>

                <tr *ngIf="model.showCigarettes">
                  <td></td>
                  <td>
                    <div *ngIf="!model.getTobaccoType('Cigarettes').isRmvlQty3852Valid" class="alert alert-danger">{{numberValidationErrorMessage}}</div>
                  </td>
                  <td></td>
                  <td>
                    <div *ngIf="!model.getTobaccoType('Cigarettes').isTaxAmt3852StrValid" class="alert alert-danger">{{numberValidationErrorMessage}}</div>
                  </td>
                  <td></td>
                  <td></td>
                </tr>

                <tr *ngIf="model.showCigars" id="tr-cig" class="h-thin-divider">
                  <td>
                    <label for="cig-rmv-qty">Cigars</label>
                  </td>
                  <td>
                    <input id="cig-rmv-qty" #cigrmvqty type="text" class="form-control fdatable rightalign" aria-label="Cigar sticks" [(ngModel)]="model.getTobaccoType('Cigars').rmvlQty3852"
                       [valueChg]='cigrmvqty.value' customNumerics [customDecimalFormatter]='0' (ngModelChange)="updateCalc3852('Cigars');"
                      placeholder="in sticks">
                  </td>
                  <td>
                  </td>
                  <td>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                      </div>
                      <input id="cig-tax-amt" #cigtaxamt type="text" class="form-control fdatable rightalign" aria-label="Cigarette Excise Tax"
                        [ngModel]="model.getTobaccoType('Cigars').taxAmt3852" customNumerics [customDecimalFormatter]='2' [valueChg]='cigtaxamt.value'
                        (ngModelChange)="model.getTobaccoType('Cigars').taxAmt3852=$event; hasChanges.emit(true);">
                    </div>
                  </td>
                  <td></td>
                  <td id='cig-tx-tax'>
                    <span class="floatright">N/A</span>
                  </td>
                  <td></td>
                </tr>
                <tr *ngIf="model.showCigars">
                  <td></td>
                  <td>
                    <div *ngIf="!model.getTobaccoType('Cigars').isRmvlQty3852Valid" class="alert alert-danger">{{numberValidationErrorMessage}}</div>
                  </td>
                  <td></td>
                  <td>
                    <div *ngIf="!model.getTobaccoType('Cigars').isTaxAmt3852StrValid" class="alert alert-danger">{{numberValidationErrorMessage}}</div>
                  </td>
                  <td></td>
                  <td></td>
                </tr>

                <tr *ngIf="model.showSnuffs" id="tr-snf" class="h-thin-divider">
                  <td>
                    <label for="snf-rmv-qty">Snuff</label>
                  </td>
                  <td>
                    <input id="snf-rmv-qty" type="text" #snfrmvqty class="form-control fdatable rightalign" aria-label="Snuff Quantity" [(ngModel)]="model.getTobaccoType('Snuff').rmvlQty3852"
                      [customDecimalFormatter]='3' [valueChg]='snfrmvqty.value' customNumerics (ngModelChange)="updateCalc3852('Snuff')"
                      placeholder="in lbs">
                  </td>
                  <td>
                    <span class="floatright padright fw-bold">x({{model.getTobaccoType('Snuff').classRate | number:'.0-6'}})</span>
                  </td>
                  <td>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                      </div>
                      <input id="snf-tax-amt" #snftaxamt type="text" class="form-control fdatable rightalign" aria-label="Snuff Excise Tax" [ngModel]="model.getTobaccoType('Snuff').taxAmt3852"
                        [customDecimalFormatter]='2' [valueChg]='snftaxamt.value' customNumerics (ngModelChange)="model.getTobaccoType('Snuff').taxAmt3852=$event; calcTaxDiff3852('Snuff')">
                    </div>
                  </td>
                  <td id='snf-tx-dif'>
                    <span class="floatright">{{model.getTobaccoType('Snuff').taxDiff3852| tufacurrency | minustoparens}}</span>
                  </td>
                  <!--<td id='snf-tx-tax'><span class="floatright">{{model.getTobaccoType('Snuff') 
                          && model.getTobaccoType('Snuff').rmvlQty3852 && model.getTobaccoType('Snuff').taxAmt3852 ? 
                          (+model.getTobaccoType('Snuff').taxAmt3852/+model.getTobaccoType('Snuff').rmvlQty3852 | number : '.2-6') : 0 }}</span></td>-->
                  <td id='snf-tx-cal'>
                    <span class="floatright">{{model.getTobaccoType('Snuff').calculatedTaxDiff3852() | na : 'N/A'}}</span>
                  </td>

                  <td id='snf-status'>
                    <span [class.calc-error]="model.getTobaccoType('Snuff').taxDiffErr3852" style="margin-left:15px;">{{model.getTobaccoType('Snuff').activityCd3852?model.getTobaccoType('Snuff').activityCd3852:'-'}}</span>
                  </td>
                </tr>
                <tr *ngIf="model.showSnuffs">
                  <td></td>
                  <td>
                    <div *ngIf="!model.getTobaccoType('Snuff').isRmvlQty3852Valid" class="alert alert-danger">{{numberValidationErrorMessage}}</div>
                  </td>
                  <td></td>
                  <td>
                    <div *ngIf="!model.getTobaccoType('Snuff').isTaxAmt3852StrValid" class="alert alert-danger">{{numberValidationErrorMessage}}</div>
                  </td>
                  <td></td>
                  <td></td>
                </tr>

                <tr *ngIf="model.showChews" id="tr-chw" class="h-thin-divider">
                  <td>
                    <label for="chw-rmv-qty">Chew</label>
                  </td>
                  <td>
                    <input #chwrmvqty id="chw-rmv-qty" type="text" class="form-control fdatable rightalign" aria-label="Chew Quantity" [(ngModel)]="model.getTobaccoType('Chew').rmvlQty3852"
                      [customDecimalFormatter]='3' [valueChg]='chwrmvqty.value' customNumerics (ngModelChange)="updateCalc3852('Chew')"
                      placeholder="in lbs">
                  </td>
                  <td>
                    <span class="floatright  padright fw-bold">x({{model.getTobaccoType('Chew').classRate | number:'.0-6'}})</span>
                  </td>
                  <td>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                      </div>
                      <input id="chw-tax-amt" #chwtaxamt type="text" class="form-control fdatable rightalign" aria-label="Chew Excise Tax" [ngModel]="model.getTobaccoType('Chew').taxAmt3852"
                        [customDecimalFormatter]='2' [valueChg]='chwtaxamt.value' (ngModelChange)="model.getTobaccoType('Chew').taxAmt3852=$event; calcTaxDiff3852('Chew')">
                    </div>
                  </td>
                  <td id='chw-tx-dif'>
                    <span class="floatright">{{model.getTobaccoType('Chew').taxDiff3852| tufacurrency | minustoparens}}</span>
                  </td>
                  <!--<td id='chw-tx-tax'><span class="floatright">{{model.getTobaccoType('Chew') 
                          && model.getTobaccoType('Chew').rmvlQty3852 && model.getTobaccoType('Chew').taxAmt3852 ? 
                          (+model.getTobaccoType('Chew').taxAmt3852/+model.getTobaccoType('Chew').rmvlQty3852 | number : '.2-6') : 0 }}</span></td>-->
                  <td id='chw-tx-cal'>
                    <span class="floatright">{{model.getTobaccoType('Chew').calculatedTaxDiff3852() | na : 'N/A'}}</span>
                  </td>

                  <td id='chw-status'>
                    <span [class.calc-error]="model.getTobaccoType('Chew').taxDiffErr3852" style="margin-left:15px;">{{model.getTobaccoType('Chew').activityCd3852?model.getTobaccoType('Chew').activityCd3852:'-'}}</span>
                  </td>
                </tr>
                <tr *ngIf="model.showChews">
                  <td></td>
                  <td>
                    <div *ngIf="!model.getTobaccoType('Chew').isRmvlQty3852Valid" class="alert alert-danger">{{numberValidationErrorMessage}}</div>
                  </td>
                  <td>
                    <div *ngIf="!model.getTobaccoType('Chew').isTaxAmt3852StrValid" class="alert alert-danger">{{numberValidationErrorMessage}}</div>
                  </td>
                  <td></td>
                  <td></td>
                </tr>

                <tr *ngIf="model.showPipes" id="tr-pip" class="h-thin-divider">
                  <td>
                    <label for="pip-rmv-qty">Pipe</label>
                  </td>
                  <td>
                    <input id="pip-rmv-qty" #piprmvqty type="text" class="form-control fdatable rightalign" aria-label="Pipe Quantity" [(ngModel)]="model.getTobaccoType('Pipe').rmvlQty3852"
                      [customDecimalFormatter]='3' [valueChg]='piprmvqty.value' customNumerics (ngModelChange)="updateCalc3852('Pipe')"
                      placeholder="in lbs">
                  </td>
                  <td>
                    <span class="floatright padright fw-bold">x({{model.getTobaccoType('Pipe').classRate | number:'.0-6'}})</span>
                  </td>
                  <td>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                      </div>
                      <input id="pip-tax-amt" #piptaxamt type="text" class="form-control fdatable rightalign" aria-label="Pipe Excise Tax" [ngModel]="model.getTobaccoType('Pipe').taxAmt3852"
                        [customDecimalFormatter]='2' [valueChg]='piptaxamt.value' customNumerics (ngModelChange)="model.getTobaccoType('Pipe').taxAmt3852=$event; calcTaxDiff3852('Pipe')">
                    </div>
                  </td>
                  <td id='pip-tx-dif'>
                    <span class="floatright">{{model.getTobaccoType('Pipe').taxDiff3852| tufacurrency | minustoparens}}</span>
                  </td>
                  <!--<td id='pip-tx-tax'><span class="floatright">{{model.getTobaccoType('Pipe') 
                          && model.getTobaccoType('Pipe').rmvlQty3852 && model.getTobaccoType('Pipe').taxAmt3852 ? 
                          (+model.getTobaccoType('Pipe').taxAmt3852/+model.getTobaccoType('Pipe').rmvlQty3852 | number : '.2-6') : 0 }}</span></td>-->
                  <td id='pip-tx-cal'>
                    <span class="floatright">{{model.getTobaccoType('Pipe').calculatedTaxDiff3852() | na : 'N/A'}}</span>
                  </td>

                  <td id='pip-status'>
                    <span [class.calc-error]="model.getTobaccoType('Pipe').taxDiffErr3852" style="margin-left:15px;">{{model.getTobaccoType('Pipe').activityCd3852?model.getTobaccoType('Pipe').activityCd3852:'-'}}</span>
                  </td>
                </tr>
                <tr *ngIf="model.showPipes">
                  <td></td>
                  <td>
                    <div *ngIf="!model.getTobaccoType('Pipe').isRmvlQty3852Valid" class="alert alert-danger">{{numberValidationErrorMessage}}</div>
                  </td>
                  <td></td>
                  <td>
                    <div *ngIf="!model.getTobaccoType('Pipe').isTaxAmt3852StrValid" class="alert alert-danger">{{numberValidationErrorMessage}}</div>
                  </td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngIf="model.showRollYourOwn" id="tr-ryo" class="h-thin-divider">
                  <td>
                    <label for="ryo-rmv-qty">Roll Your Own</label>
                  </td>
                  <td>
                    <input #ryormvqty id="ryo-rmv-qty" type="text" class="form-control fdatable rightalign" aria-label="Roll Your Own Quantity"
                      [(ngModel)]="model.getTobaccoType('RollYourOwn').rmvlQty3852" [customDecimalFormatter]='3' [valueChg]='ryormvqty.value'
                      customNumerics (ngModelChange)="updateCalc3852('RollYourOwn')" placeholder="in lbs">
                  </td>
                  <td>
                    <span class="floatright padright fw-bold">x({{model.getTobaccoType('RollYourOwn').classRate | number:'.0-6'}})</span>
                  </td>
                  <td>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                      </div>
                      <input id="ryo-tax-amt" #ryotaxamt type="text" class="form-control fdatable rightalign" aria-label="Roll Your Own Excise Tax"
                        [ngModel]="model.getTobaccoType('RollYourOwn').taxAmt3852" [customDecimalFormatter]='2' [valueChg]='ryotaxamt.value'
                        customNumerics (ngModelChange)="model.getTobaccoType('RollYourOwn').taxAmt3852=$event; calcTaxDiff3852('RollYourOwn')">
                    </div>
                  </td>
                  <td id='ryo-tx-dif'>
                    <span class="floatright">{{model.getTobaccoType('RollYourOwn').taxDiff3852| tufacurrency | minustoparens}}</span>
                  </td>
                  <!--<td id='ryo-tx-tax'><span class="floatright">{{model.getTobaccoType('RollYourOwn') 
                          && model.getTobaccoType('RollYourOwn').rmvlQty3852 && model.getTobaccoType('RollYourOwn').taxAmt3852 ? 
                          (+model.getTobaccoType('RollYourOwn').taxAmt3852/+model.getTobaccoType('RollYourOwn').rmvlQty3852 | number : '.2-6') : 0 }}</span></td>-->
                  <td id='ryo-tx-cal'>
                    <span class="floatright">{{model.getTobaccoType('RollYourOwn').calculatedTaxDiff3852() | na : 'N/A'}}</span>
                  </td>

                  <td id='ryo-status'>
                    <span [class.calc-error]="model.getTobaccoType('RollYourOwn').taxDiffErr3852" style="margin-left:15px;">{{model.getTobaccoType('RollYourOwn').activityCd3852?model.getTobaccoType('RollYourOwn').activityCd3852:'-'}}</span>
                  </td>
                </tr>
                <tr *ngIf="model.showRollYourOwn">
                  <td></td>
                  <td>
                    <div *ngIf="!model.getTobaccoType('RollYourOwn').isRmvlQty3852Valid" class="alert alert-danger">{{numberValidationErrorMessage}}</div>
                  </td>
                  <td></td>
                  <td>
                    <div *ngIf="!model.getTobaccoType('RollYourOwn').isTaxAmt3852StrValid" class="alert alert-danger">{{numberValidationErrorMessage}}</div>
                  </td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div *ngIf="model.isTTSelected>0" class="widget-body">
        <div comments-grid [formTypeCd]="formTypeCd" [comments]="model.getComments('3852')"></div>
      </div>
      <div>
        <button class="btn btn-primary" (click)="download.emit()">Download</button>
      </div>
    </section>
  </div>
</div>