@import "./imppermit-report.style";

.scrollbar-dynamic {
    max-height: 300px;
    max-width: 100%;
    overflow-x: visible;
    overflow-y : auto;
}

.largeleftmargin{
   margin-left:150px;
}

.btnsmallmargin{
    margin-left:10px;
}

.centeralign {
    margin-top: 7px;
}

.floatleft{
    float: left;
}

.noWrap{
    white-space: nowrap;
  }
