<div class="row" (keyup)="setGlobalError(checkForm7501InError())">
  <div *ngIf="model.showCigarettes" class="col-lg-offset-1 col-lg-12" id="form-7501-cgt">
    <section class="widget h-divider">
      <div class="widget-body clearfix">
        <div class="row flex-nowrap">
          <div class="col-md-10">
            <h4 class="h4 no-margin fw-normal">Cigarettes</h4>
            <p>{{model.permitNumber| permitNumberPipe}}&nbsp;&nbsp;&nbsp;&nbsp;{{model.period}}</p>
          </div>
          <div class="col-md-2">
            <div class="h6 fw-bold">CBP 7501</div>
          </div>
        </div>
        <div class="row flex-nowrap">
          <div class="col-md-10">
          </div>
        </div>

        <div class="row flex-nowrap">
          <div class="col-md-12">
            <table class="table borderless">
              <colgroup>
                <col style="width:18%">
                <col style="width:20%">
                <col style="width:25%">
                <col style="width:18%">
              </colgroup>
              <thead>
                <tr class="h-thin-divider">
                  <th>
                    <span class="floatright">FDA 3852 REMOVALS </span>
                  </th>
                  <th>
                    <span class="floatright">CBP 7501 REMOVALS </span>
                  </th>
                  <th>
                    <span class="floatright">DIFFERENCE REMOVALS </span>
                  </th>
                  <th>
                    <span class="largeleftmargin">ACTIVITY</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="h-thin-divider">
                  <td>
                    <span class="floatright" id="cgt-3852-rmv-qty">{{model.getTobaccoType('Cigarettes').rmvlQty3852 | customnumber : 0}}</span>
                  </td>
                  <td>
                    <span class="floatright" id="cgt-7501-rmv-qty">{{model.getTobaccoType('Cigarettes').getRmvls7501()|customnumber : 0}}</span>
                  </td>
                  <td>
                    <span class="floatright" id="cgt-rmv-qty-diff">{{model.getTobaccoType('Cigarettes').getDiffRmvls7501()|customnumber : 0|minustoparens}}</span>
                  </td>
                  <td>
                    <span id="cgt-rmv-qty-status" [class.calc-error]="model.getTobaccoType('Cigarettes').diffRmvlErr7501" class="largeleftmargin">{{model.getTobaccoType('Cigarettes').activityCdDiffRmvl7501}}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row flex-nowrap">
          <div class="col-md-12">
            <table class="table borderless">
              <colgroup>
                <col style="width:18%">
                <col style="width:20%">
                <col style="width:25%">
                <col style="width:18%">
              </colgroup>
              <thead>
                <tr class="h-thin-divider">
                  <th>
                    <span class="floatright">FDA 3852 TAX</span>
                  </th>
                  <th>
                    <span class="floatright">CBP 7501 TAX </span>
                  </th>
                  <th>
                    <span class="floatright">DIFFERENCE TAX </span>
                  </th>
                  <th>
                    <span class="largeleftmargin">ACTIVITY</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="h-thin-divider">
                  <td>
                    <span class="floatright" id="cgt-3852-tax-amt">{{model.getTobaccoType('Cigarettes').taxAmt3852| tufacurrency}}</span>
                  </td>
                  <td>
                    <span class="floatright" id="cgt-7501-tax-amt">{{model.getTobaccoType('Cigarettes').taxAmtTotal7501|tufacurrency}}</span>
                  </td>
                  <td>
                    <span class="floatright" id="cgt-tax-amt-diff">{{model.getTobaccoType('Cigarettes').taxDiff7501| tufacurrency | minustoparens}}</span>
                  </td>
                  <td>
                    <span id="cgt-tax-amt-status" [class.calc-error]="model.getTobaccoType('Cigarettes').taxDiffErr7501" class="largeleftmargin">{{model.getTobaccoType('Cigarettes').activityCd7501}}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!--<div class="row h-thin-divider">-->
        <form style="overflow-x:auto;">
          <!--<section class="widget h-divider" widget>-->
          <div class="widget-body clearfix">
            <table class="table table-hover" [mfData]="model.getTobaccoType('Cigarettes').forms7501 | form7501pipe:cigFilterData" id="tbl-cigarettes"
              #mf="mfDataTable" (mfSortOrderChange)="onSortOrderCig($event,'Cigarettes')" (mfSortByChange)="onSortBy($event)"
              [mfRowsOnPage]="10" [mfIsServerPagination]="false" [mfActivePage]="1" (mfOnLocalPageChange)="pageChange($event)">
              <colgroup>
                <col style="width:7%">
                <col style="width:20%">
                <col style="width:20%">
                <col style="width:20%">
                <col style="width:15%">
                <col style="width:20%">
              </colgroup>
              <thead style="border-bottom:2px solid #17529F;">
                <tr>
                  <th style="text-align: center">
                    <mfDefaultSorter by="lineNum">
                      <span>Line #</span>
                    </mfDefaultSorter>
                  </th>
                  <th style="text-align: center">
                    <mfDefaultSorter by="qty">
                      <span>Net Quantity</span>
                    </mfDefaultSorter>
                  </th>
                  <th style="text-align: center">
                    <mfDefaultSorter by="taxAmt">
                      <span>Excise Tax</span>
                    </mfDefaultSorter>
                  </th>
                  <th style="text-align: center">
                    <span>Calc Tax Rate</span>
                  </th>
                  <th style="text-align: center">
                    <mfDefaultSorter by="taxDiff">
                      <span>TAX DIFF</span>
                    </mfDefaultSorter>
                  </th>
                  <th>
                    <span style="margin-left:15px;">Action</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <!---->
                <tr style="border-bottom:2px solid #17529F;">
                  <td *ngFor="let column of columns">
                    <div *ngIf="column.filtering" class="input-group input-group-transparent input-group-rounded">
                      <span class="input-group-text">
                        <i class="fa fa-filter" (click)="refreshFormFilterObject(formFilter);"></i>
                      </span>
                      <input *ngIf="column.type==='input'" [attr.id]="'cig-filter-' + column.name" [attr.aria-label]="column.name" [ngTableFiltering]="column.filtering"
                        [config]="column.filtering" class="form-control" placeholder="{{column.filtering.placeholder}}" value="{{column.filtering.filterString}}"
                        (tableChanged)="onChangeTable($event)" />
                    </div>
                  </td>

                  <td id='cigarette-show-delete'>
                    <!--Add Toggle Here -->
                    <div class="checkbox-inline checkbox-ios">
                      <label for="cigarettetoggle" class="switch" style="margin-left:30px;">
                        <input type="checkbox" [(ngModel)]="showcigarettedelete" class="ios" id="cigarettetoggle" [ngModelOptions]="{standalone: true}">
                        <i></i>
                        <span class="noWrap">Show Delete</span>
                      </label>
                    </div>
                  </td>

                </tr>
                <!---->

              </tbody>
              <tfoot>
                <tr [attr.id]="'cigarette'+ '-'+ i" [ngClass]="'cigarette-'+cigarette.lineNum" *ngFor="let cigarette of mf.data; let i = index; let last = last;">
                  <td>
                    <span class="floatleft centeralign">{{cigarette.lineNum}}</span>
                  </td>
                  <td>
                    <div class="input-group">
                      <input [attr.id]="'cigarette-vol'+ '-'+ i" #cigtqty class="form-control fdatable rightalign" customNumerics [customDecimalFormatter]='3'
                        [valueChg]='cigtqty.value' [ngModelOptions]="{standalone: true}" [(ngModel)]="cigarette.qty" (ngModelChange)="model.getTobaccoType('Cigarettes').qtyUpdate7501(cigarette);trackChanges();"
                        aria-label="Cigarette sticks" placeholder="in sticks">
                      <span class="input-group-text">K</span>
                    </div>
                  </td>
                  <td>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                      </div>
                      <input #cigtamt [attr.id]="'cigarette-tax-'+ i" class="form-control fdatable rightalign" style='width:50%' customNumerics
                        [customDecimalFormatter]='2' [valueChg]='cigtamt.value' [ngModelOptions]="{standalone: true}" [(ngModel)]='cigarette.taxAmt'
                        aria-label="Cigarette Excise Tax" (ngModelChange)="model.getTobaccoType('Cigarettes').taxAmtUpdate7501(cigarette);trackChanges();">
                    </div>
                  </td>
                  <td id='cgt-tx-cal-7501'>
                    <span class="centeralign floatright">{{model.getTobaccoType('Cigarettes').getCalculatedTaxRate7501(cigarette) | na : 'N/A'}}</span>
                  </td>
                  <td id='cgt-tx-diff-7501'>
                    <span class="centeralign floatright">{{cigarette.taxDiff | tufacurrency | minustoparens}}</span>
                  </td>
                  <td *ngIf="showcigarettedelete">
                    <button type="button" class="btn btn-outline-danger btnsmallmargin" (click)="deleterow('Cigarettes','#cigarette-', cigarette.lineNum);">
                      <span class="fa fa-minus txt-gap" aria-hidden="true"></span>Delete</button>
                  </td>
                  <td *ngIf="i == 0">
                    <button type="button" class="btn btn-outline-primary btnsmallmargin" id="cgt-add-button" (click)="setFocus('Cigarettes','cigarette-vol');"
                      style="white-space: nowrap;">
                      <span class="fa fa-plus txt-gap" aria-hidden="true"></span>Add</button>
                  </td>
                </tr>
                <tr *ngIf="mf.data.length > 0">
                  <td colspan="12">
                    <mfBootstrapPaginator [rowsOnPageSet]="[10, 25, 50]"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>

          </div>
          <div style="float:right" *ngIf="mf.data.length == 0">
            <button type="button" class="btn btn-outline-primary btnsmallmargin" id="cgt-add-button" (click)="setFocus('Cigarettes','cigarette-vol');"
              style="white-space: nowrap;">
              <span class="fa fa-plus txt-gap" aria-hidden="true"></span>Add</button>
          </div>
          <!--</section>-->
          <div style="float:left;width:100%" class="row flex-nowrap">
            <div class="col-md-4">
              <table class="table borderless">
                <tr>
                  <td colspan=12>
                    <h6 class="h6 no-margin fw-bold">Static Tax Rates:</h6>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h6 class="h6 no-margin">Cigarettes</h6>
                  </td>
                  <td></td>
                  <td>
                    <h6 class="h6 no-margin">{{model.getTobaccoType('Cigarettes')?.classRate * 1000 | tufacurrency}}</h6>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-4">
              <table class="table borderless">
                <tr>
                  <td colspan=12>
                    <h6 class="h6 no-margin fw-bold">Calculated Tax Variance:</h6>
                  </td>
                </tr>

                <tr>
                  <td style="text-align: right">Entered Total: $</td>
                  <td style="text-align: right">
                    <h6 class="h6 no-margin">{{model.getTobaccoType('Cigarettes').taxAmtTotal7501 | customnumber : 2}}</h6>
                  </td>
                </tr>

                <tr style="border-bottom:1px solid #ccc;">
                  <td style="text-align: right">Calculated Tax: $</td>
                  <td style="text-align: right">
                    <h6 class="h6 no-margin">{{model.getTobaccoType('Cigarettes').calculatedTaxAmt7501 | customnumber : 2}}</h6>
                  </td>
                </tr>

                <tr>
                  <td style="text-align: right">Difference: $</td>
                  <td style="text-align: right">
                    <h6 class="h6 no-margin">{{model.getTobaccoType('Cigarettes').getDiffTtlAndCalcTx7501()|customnumber : 2|minustoparens}}</h6>
                  </td>
                </tr>
                <tr>
                  <td style="text-align: right" class="fw-bold">Activity: </td>
                  <td style="text-align: right">
                    <span id="cgt-total-status" [class.calc-error]="model.getTobaccoType('Cigarettes').diffTtlAndCalcTxErr7501" class="largeleftmargin">{{model.getTobaccoType('Cigarettes').activityCdDiffTtlAndCalcTxErr7501}}
                    </span>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-md-1">
            </div>
          </div>
        </form>
      </div>
      <div [ngBusy]="busy" class="widget-body">
        <div comments-grid [formTypeCd]="formTypeCd" [tobaccoType]="model.getTobaccoType('Cigarettes')" [comments]="model.getComments('7501','Cigarettes')"></div>
      </div>
      <div>
        <button class="btn btn-primary" (click)="download.emit(7)">Download</button>
      </div>
    </section>

  </div>

  <div *ngIf="model.showCigars" class="col-lg-offset-1 col-lg-12" id="form-7501-cig">
    <section class="widget h-divider" style="width: 101%;">
      <div class="widget-body clearfix">
        <div class="row flex-nowrap">
          <div class="col-md-10">
            <h4 class="h4 no-margin fw-normal">Cigars</h4>
            <p>{{model.permitNumber| permitNumberPipe}}&nbsp;&nbsp;&nbsp;&nbsp;{{model.period}}</p>
          </div>
          <div class="col-md-2">
            <div class="h6 fw-bold">CBP 7501</div>
          </div>
        </div>
        <div class="row flex-nowrap">
          <div class="col-md-10">
          </div>
        </div>

        <div class="row flex-nowrap">
          <div class="col-md-12">
            <table class="table borderless">
              <colgroup>
                <col style="width:18%">
                <col style="width:20%">
                <col style="width:25%">
                <col style="width:18%">
              </colgroup>
              <thead>
                <tr class="h-thin-divider">
                  <th>
                    <span class="floatright">FDA 3852 REMOVALS </span>
                  </th>
                  <th>
                    <span class="floatright">CBP 7501 REMOVALS </span>
                  </th>
                  <th>
                    <span class="floatright">DIFFERENCE REMOVALS </span>
                  </th>
                  <th>
                    <span class="largeleftmargin">ACTIVITY</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="h-thin-divider">
                  <td>
                    <span class="floatright" id="cig-3852-rmv-qty">{{model.getTobaccoType('Cigars').rmvlQty3852 | customnumber : 0}}</span>
                  </td>
                  <td>
                    <span class="floatright" id="cig-7501-rmv-qty">{{model.getTobaccoType('Cigars').getRmvls7501()|customnumber : 0}}</span>
                  </td>
                  <td>
                    <span class="floatright" id="cig-rmv-qty-diff">{{model.getTobaccoType('Cigars').getDiffRmvls7501()|customnumber : 0|minustoparens}}</span>
                  </td>
                  <td>
                    <span id="cig-rmv-qty-status" [class.calc-error]="model.getTobaccoType('Cigars').diffRmvlErr7501" class="largeleftmargin">{{model.getTobaccoType('Cigars').activityCdDiffRmvl7501}}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row flex-nowrap">
          <div class="col-md-12">
            <table class="table borderless">
              <colgroup>
                <col style="width:18%">
                <col style="width:20%">
                <col style="width:25%">
                <col style="width:18%">
              </colgroup>
              <thead>
                <tr class="h-thin-divider">
                  <th>
                    <span class="floatright">FDA 3852 TAX</span>
                  </th>
                  <th>
                    <span class="floatright">CBP 7501 TAX </span>
                  </th>
                  <th>
                    <span class="floatright">DIFFERENCE TAX </span>
                  </th>
                  <th>
                    <span class="largeleftmargin">ACTIVITY</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="h-thin-divider">
                  <td>
                    <span class="floatright" id="cig-3852-tax-amt">{{model.getTobaccoType('Cigars').taxAmt3852| tufacurrency}}</span>
                  </td>
                  <td>
                    <span class="floatright" id="cig-7501-tax-amt">{{model.getTobaccoType('Cigars').taxAmtTotal7501|tufacurrency}}</span>
                  </td>
                  <td>
                    <span class="floatright" id="cig-tax-amt-diff">{{model.getTobaccoType('Cigars').taxDiff7501| tufacurrency | minustoparens}}</span>
                  </td>
                  <td>
                    <span id="cig-tax-amt-status" [class.calc-error]="model.getTobaccoType('Cigars').taxDiffErr7501" class="largeleftmargin">{{model.getTobaccoType('Cigars').activityCd7501}}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <form style="overflow-x:auto;">
          <!--<section class="widget h-divider" widget>-->
          <div class="widget-body clearfix">
            <table class="table table-hover" (mfSortOrderChange)="onSortOrderCigars($event, 'Cigars')" (mfSortByChange)="onSortBy($event)"
              [mfData]="model.getTobaccoType('Cigars').forms7501 | form7501pipe:cigarFilterData" id="tbl-rpt-cigars" #mfc="mfDataTable"
              [mfRowsOnPage]="10" [mfIsServerPagination]="false" [mfActivePage]="1">
              <colgroup>
                <col style="width: 14%;">
                <col style="width: 14%;">
                <col style="width: 14%;">
                <col style="width: 14%;">
                <col style="width: 14%;">
                <col style="width: 14%;">
                <col style="width: 14%;">
              </colgroup>
              <thead style="border-bottom:2px solid #17529F;">
                <tr>
                  <th style="text-align: center">
                    <mfDefaultSorter by="lineNum">
                      <span>Line #</span>
                    </mfDefaultSorter>
                  </th>
                  <th style="text-align: center">
                    <mfDefaultSorter by="type">
                      <span>Type</span>
                    </mfDefaultSorter>
                  </th>
                  <th style="text-align: center">
                    <mfDefaultSorter by="qty">
                      <span>Net Quantity</span>
                    </mfDefaultSorter>
                  </th>
                  <th style="text-align: center">
                    <mfDefaultSorter by="taxAmt">
                      <span>Excise Tax</span>
                    </mfDefaultSorter>
                  </th>
                  <th style="text-align: center">
                    <span>Calc Tax Rate</span>
                  </th>
                  <th style="text-align: center">
                    <mfDefaultSorter by="taxDiff">
                      <span>TAX DIFF</span>
                    </mfDefaultSorter>
                  </th>
                  <th>
                    <span style="margin-left:15px;">Action</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <!---->
                <tr style="border-bottom:2px solid #17529F;">
                  <td *ngFor="let column of columnsCigars">
                    <div *ngIf="column.filtering" class="input-group input-group-transparent input-group-rounded">
                      <span *ngIf="column.type==='input'" class="input-group-text">
                        <i class="fa fa-filter" (click)="refreshCigarFormFilterObject(cigarFormFilter);"></i>
                      </span>
                      <input *ngIf="column.type==='input'" [attr.id]="'cigar-filter-' + column.name" [attr.aria-label]="column.name" [ngTableFiltering]="column.filtering"
                        [config]="column.filtering" class="form-control" placeholder="{{column.filtering.placeholder}}" value="{{column.filtering.filterString}}"
                        (tableChanged)="onChangeTable($event)" />
                      <select *ngIf="column.type==='select'" [attr.id]="'filter-' + column.name" [attr.aria-label]="column.name" class="form-control"
                        style="height: auto; border: 1px solid #ced4da; padding-left: 0.75rem;" (change)="FilterSelectionChanged($event.target.value, column.name)">
                        <option *ngFor="let option of column.options" [selected]="(option.value === column.defaultvalue)" [value]="option.value">
                          {{option.name}}
                        </option>
                      </select>
                    </div>
                  </td>
                  <td id='cigar-show-delete'>
                    <!--Add Toggle Here -->
                    <div class="checkbox-inline checkbox-ios">
                      <label for="cigartoggle" class="switch">
                        <input type="checkbox" [(ngModel)]="showcigardelete" class="ios" id="cigartoggle" [ngModelOptions]="{standalone: true}">
                        <i></i>
                        <span class="noWrap" style="margin-left:5px;">Show Delete</span>
                      </label>
                    </div>
                  </td>
                </tr>
                <!---->

              </tbody>
              <tfoot>

                <tr [attr.id]="'cigar'+ '-'+ i" *ngFor="let cigar of mfc.data; let i = index ; let last = last;">
                  <td>
                    <span class="floatleft centeralign">{{cigar.lineNum}}</span>
                  </td>
                  <td>
                    <div style="max-width:190px;">
                      <select class="form-control fdatable rightalign" [attr.id]="'cigars-type'+ '-'+ i" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="cigar.type" [attr.aria-label]="cigar.type" (ngModelChange)="model.getTobaccoType('Cigars').qtyUpdate7501(cigar);trackChanges();">
                        <option [selected]='product === cigar.type' *ngFor="let product of cigarlist" [value]="product">
                          {{product}}
                        </option>
                      </select>
                      <div class="input-group" *ngIf='cigar.type === "Ad Valorem"'>
                        <div class="input-group-prepend">
                          <span class="input-group-text">$</span>
                        </div>
                        <input #cigrvamt customNumerics class="form-control fdatable rightalign" style='width:50%' [ngModelOptions]="{standalone: true}"
                          [(ngModel)]='cigar.valorem' [valueChg]='cigrvamt.value' (ngModelChange)="model.getTobaccoType('Cigars').vlrmUpdate7501(i);trackChanges();"
                          aria-label="Valorem Tax Amount" [customDecimalFormatter]='2'>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="input-group">
                      <input #cigrqty [attr.id]="'cigars-vol'+ '-'+ i" type="text" class="form-control fdatable rightalign" aria-label="Cigar Net Quantity"
                        [ngModelOptions]="{standalone: true}" [customDecimalFormatter]='3' [valueChg]='cigrqty.value' [(ngModel)]="cigar.qty"
                        (ngModelChange)="model.getTobaccoType('Cigars').qtyUpdate7501(cigar);trackChanges();" placeholder="in sticks">
                      <div class="input-group-append">
                        <span class="input-group-text">K</span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                      </div>
                      <input #cigramt class="form-control fdatable rightalign" style='width:50%' aria-label="Cigar Tax Amount" customNumerics [customDecimalFormatter]='2'
                        [valueChg]='cigramt.value' [ngModelOptions]="{standalone: true}" [(ngModel)]='cigar.taxAmt' (ngModelChange)="model.getTobaccoType('Cigars').taxAmtUpdate7501(cigar);model.getTobaccoType('Cigars').diffUpdate7501(i);trackChanges();">
                    </div>
                  </td>
                  <td id='cigar-tx-cal-7501'>
                    <span *ngIf='cigar.type === "Ad Valorem"' class="centeralign floatright">N/A</span>
                    <span *ngIf='cigar.type !== "Ad Valorem"' class="centeralign floatright">{{model.getTobaccoType('Cigars').getCalculatedTaxRate7501(cigar) | na : 'N/A' }}</span>
                  </td>
                  <td id='cigar-tx-diff-7501'>
                    <span class="centeralign floatright">{{cigar.taxDiff| tufacurrency | minustoparens}}</span>
                  </td>
                  <td style="display: flex;flex-direction: row;justify-content: space-evenly;">
                    <button *ngIf="showcigardelete" type="button" class="btn btn-outline-danger btnsmallmargin" style="display: flex;justify-content: center;align-items: center;"
                      (click)="deleterow('Cigars','#cigar-', cigar.lineNum);">
                      <span class="fa fa-minus txt-gap" aria-hidden="true"></span>Delete</button>
                    <button *ngIf="i == 0" type="button" class="btn btn-outline-primary btnsmallmargin" (click)="setFocus('Cigars','cigars-type');"
                      style="display: flex;justify-content: center;align-items: center;" id="cig-add-button">
                      <span class="fa fa-plus txt-gap" aria-hidden="true"></span>Add</button>

                  </td>
                </tr>
                <tr *ngIf="mfc.data.length > 0">
                  <td colspan="12">
                    <mfBootstrapPaginator [rowsOnPageSet]="[10, 25, 50]"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>

          <div style="float:right" *ngIf="mfc.data.length == 0">
            <button type="button" class="btn btn-outline-primary btnsmallmargin" (click)="setFocus('Cigars','cigars-type');" style="white-space: nowrap;">
              <span class="fa fa-plus txt-gap" aria-hidden="true" id="cig-add-button"></span>Add</button>
          </div>
          <!--</section>-->
          <div class="row flex-nowrap" style="float:left;width:100%">
            <div class="col-md-4">
              <table class="table borderless">
                <tr>
                  <td colspan="12">
                    <h6 class="h6 no-margin fw-bold">Static Tax Rates:</h6>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h6 class="h6 no-margin">Large</h6>
                  </td>
                  <td></td>
                  <td>
                    <h6 class="h6 no-margin">{{model.getTobaccoType('Cigars').cigarClassRate('Large') | tufacurrency}}</h6>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h6 class="h6 no-margin">Small</h6>
                  </td>
                  <td></td>
                  <td>
                    <h6 class="h6 no-margin">{{model.getTobaccoType('Cigars').cigarClassRate('Small') | tufacurrency}}</h6>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h6 class="h6 no-margin">Ad Valorem</h6>
                  </td>
                  <td></td>
                  <td>
                    <h6 class="h6 no-margin">{{model.getTobaccoType('Cigars').cigarClassRate('Ad Valorem')}}</h6>
                  </td>
                </tr>

                <tr>
                  <td>
                    <h6 class="h6 no-margin">Tax Ceiling</h6>
                  </td>
                  <td></td>
                  <td>
                    <h6 class="h6 no-margin">(Net Quantity * 402.6)</h6>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-5">
              <table class="table borderless">
                <tr>
                  <td colspan=12>
                    <h6 class="h6 no-margin fw-bold">Calculated Tax Variance:</h6>
                  </td>
                </tr>

                <tr>
                  <td style="text-align: right">Entered Total: $</td>
                  <td style="text-align: right">
                    <h6 class="h6 no-margin"> {{model.getTobaccoType('Cigars').taxAmtTotal7501 | customnumber : 2}}</h6>
                  </td>
                </tr>
                <tr style="border-bottom:1px solid #ccc;">
                  <td style="text-align: right">Calculated Tax: $</td>
                  <td style="text-align: right">
                    <h6 class="h6 no-margin">{{model.getTobaccoType('Cigars').calculatedTaxAmt7501 | customnumber : 2 }}</h6>
                  </td>
                </tr>

                <tr>
                  <td style="text-align: right">Difference: $</td>
                  <td style="text-align: right">
                    <h6 class="h6 no-margin">{{model.getTobaccoType('Cigars').getDiffTtlAndCalcTx7501()|customnumber : 2|minustoparens}}</h6>
                  </td>
                </tr>
                <tr>
                  <td style="text-align: right" class="fw-bold">Activity: </td>
                  <td style="text-align: right">
                    <span id="cig-total-status" [class.calc-error]="model.getTobaccoType('Cigars').diffTtlAndCalcTxErr7501" class="largeleftmargin">{{model.getTobaccoType('Cigars').activityCdDiffTtlAndCalcTxErr7501}}
                    </span>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-md-1">
            </div>
          </div>
        </form>
      </div>
      <!-- <div class="row">
        <div class="col-md-11"><span class="pull-right" style="font-size: 0.8rem;">*Calculated Total does not include Ad Valorem when 'entered $ value' is not provided</span>
        </div>
        <div class="col-md-1">
        </div>
      </div>-->
      <div [ngBusy]="busy" class="widget-body">
        <div comments-grid [formTypeCd]="formTypeCd" [tobaccoType]="model.getTobaccoType('Cigars')" [comments]="model.getComments('7501','Cigars')"></div>
      </div>
      <div>
        <button class="btn btn-primary" (click)="download.emit(8)">Download</button>
      </div>
    </section>
  </div>

  <!--Snuff -->
  <div *ngIf="model.showSnuffs" class="col-lg-offset-1 col-lg-12" id="form-7501-snf">
    <section class="widget h-divider">
      <div class="widget-body clearfix">
        <div class="row flex-nowrap">
          <div class="col-md-10">
            <h4 class="h4 no-margin fw-normal">Snuff</h4>
            <p>{{model.permitNumber| permitNumberPipe}}&nbsp;&nbsp;&nbsp;&nbsp;{{model.period}}</p>
          </div>
          <div class="col-md-2">
            <div class="h6 fw-bold">CBP 7501</div>
          </div>
        </div>
        <div class="row flex-nowrap">
          <div class="col-md-10">
          </div>
        </div>
        <div class="row flex-nowrap">
          <div class="col-md-12">
            <table class="table borderless">
              <colgroup>
                <col style="width:18%">
                <col style="width:20%">
                <col style="width:25%">
                <col style="width:18%">
              </colgroup>
              <thead>
                <tr class="h-thin-divider">
                  <th>
                    <span class="floatright">FDA 3852 REMOVALS (lbs)</span>
                  </th>
                  <th>
                    <span class="floatright">CBP 7501 REMOVALS (lbs)</span>
                  </th>
                  <th>
                    <span class="floatright">DIFFERENCE REMOVALS (lbs)</span>
                  </th>
                  <th>
                    <span class="largeleftmargin">ACTIVITY</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="h-thin-divider">
                  <td>
                    <span class="floatright" id="snf-3852-rmv-qty">{{model.getTobaccoType('Snuff').rmvlQty3852 | customnumber : 3}}</span>
                  </td>
                  <td>
                    <span class="floatright" id="snf-7501-rmv-qty">{{model.getTobaccoType('Snuff').getRmvls7501()|customnumber : 3}}</span>
                  </td>
                  <td>
                    <span class="floatright" id="snf-rmv-qty-diff">{{model.getTobaccoType('Snuff').getDiffRmvls7501()|customnumber : 3|minustoparens}}</span>
                  </td>
                  <td>
                    <span id="snf-rmv-qty-status" [class.calc-error]="model.getTobaccoType('Snuff').diffRmvlErr7501" class="largeleftmargin">{{model.getTobaccoType('Snuff').activityCdDiffRmvl7501}}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row flex-nowrap">
          <div class="col-md-12">
            <table class="table borderless">
              <colgroup>
                <col style="width:18%">
                <col style="width:20%">
                <col style="width:25%">
                <col style="width:18%">
              </colgroup>
              <thead>
                <tr class="h-thin-divider">
                  <th>
                    <span class="floatright">FDA 3852 TAX</span>
                  </th>
                  <th>
                    <span class="floatright">CBP 7501 TAX </span>
                  </th>
                  <th>
                    <span class="floatright">DIFFERENCE TAX </span>
                  </th>
                  <th>
                    <span class="largeleftmargin">ACTIVITY</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="h-thin-divider">
                  <td>
                    <span class="floatright" id="snf-3852-tax-amt">{{model.getTobaccoType('Snuff').taxAmt3852| tufacurrency}}</span>
                  </td>
                  <td>
                    <span class="floatright" id="snf-7501-tax-amt">{{model.getTobaccoType('Snuff').taxAmtTotal7501|tufacurrency:0}}</span>
                  </td>
                  <td>
                    <span class="floatright" id="snf-tax-amt-diff">{{model.getTobaccoType('Snuff').taxDiff7501| tufacurrency | minustoparens}}</span>
                  </td>
                  <td>
                    <span id="snf-tax-amt-status" [class.calc-error]="model.getTobaccoType('Snuff').taxDiffErr7501" class="largeleftmargin">{{model.getTobaccoType('Snuff').activityCd7501}}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <form style="overflow-x:auto;">
          <!--<section class="widget h-divider" widget>-->
          <div class="widget-body clearfix">
            <table class="table table-hover" [mfData]="model.getTobaccoType('Snuff').forms7501 | form7501pipe:snuffFilterData" id="tbl-snuff"
              #mfs="mfDataTable" (mfSortByChange)="onSortBy($event)" (mfSortOrderChange)="onSortOrderSnuff($event,'Snuff')"
              [mfRowsOnPage]="10" [mfIsServerPagination]="false" [mfActivePage]="1">
              <colgroup>
                <col style="width:7%">
                <col style="width:20%">
                <col style="width:20%">
                <col style="width:20%">
                <col style="width:15%">
                <col style="width:20%">
              </colgroup>
              <thead style="border-bottom:2px solid #17529F;">
                <tr>
                  <th style="text-align: center">
                    <mfDefaultSorter by="lineNum">
                      <span>Line #</span>
                    </mfDefaultSorter>
                  </th>
                  <th style="text-align: center">
                    <mfDefaultSorter by="qty">
                      <span>Net Quantity</span>
                    </mfDefaultSorter>
                  </th>
                  <th style="text-align: center">
                    <mfDefaultSorter by="taxAmt">
                      <span>Excise Tax</span>
                    </mfDefaultSorter>
                  </th>
                  <th style="text-align: center">
                    <span>Calc Tax Rate</span>
                  </th>
                  <th style="text-align: center">
                    <mfDefaultSorter by="taxDiff">
                      <span>TAX DIFF</span>
                    </mfDefaultSorter>
                  </th>
                  <th>
                    <span style="margin-left:15px;">Action</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <!---->
                <tr style="border-bottom:2px solid #17529F;">
                  <td *ngFor="let column of columnsSnuff">
                    <div *ngIf="column.filtering" class="input-group input-group-transparent input-group-rounded">
                      <span class="input-group-text">
                        <i class="fa fa-filter" (click)="refreshSnuffFormFilterObject(snuffFormFilter);"></i>
                      </span>
                      <input *ngIf="column.type==='input'" [attr.id]="'snuff-filter-' + column.name" [attr.aria-label]="column.name" [ngTableFiltering]="column.filtering"
                        [config]="column.filtering" class="form-control" placeholder="{{column.filtering.placeholder}}" value="{{column.filtering.filterString}}"
                        (tableChanged)="onChangeTable($event)" />
                    </div>
                  </td>
                  <td id='snuff-show-delete'>
                    <!--Add Toggle Here -->
                    <div class="checkbox-inline checkbox-ios">
                      <label for="snufftoggle" class="switch" style="margin-left:30px;">
                        <input type="checkbox" [(ngModel)]="showsnuffdelete" class="ios" id="snufftoggle" [ngModelOptions]="{standalone: true}">
                        <i></i>
                        <span class="noWrap">Show Delete</span>
                      </label>
                    </div>
                  </td>
                </tr>
                <!---->

              </tbody>
              <tfoot>

                <tr [attr.id]="'snuffrow'+ '-'+ i" *ngFor="let snuff of mfs.data; let i = index; let last = last;">
                  <td>
                    <span class="floatleft centeralign">{{snuff.lineNum}}</span>
                  </td>
                  <td>

                    <div class="input-group">
                      <input [attr.id]="'snuff-vol'+ '-'+ i" #snffqty class="form-control fdatable rightalign" style='width:50%' aria-label="Snuff Net Quantity"
                        customNumerics [customDecimalFormatter]='3' [valueChg]='snffqty.value' [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="snuff.qty" (ngModelChange)="model.getTobaccoType('Snuff').qtyUpdate7501(snuff);trackChanges();"
                        placeholder="in kilograms">
                      <div class="input-group-append">
                        <span class="input-group-text">kg</span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                      </div>
                      <input #snffamt [attr.id]="'snuff-tax-'+ i" class="form-control fdatable rightalign" style='width:50%' aria-label="Snuff Tax Amount"
                        customNumerics [customDecimalFormatter]='2' [valueChg]='snffamt.value' [ngModelOptions]="{standalone: true}"
                        [(ngModel)]='snuff.taxAmt' (ngModelChange)="model.getTobaccoType('Snuff').taxAmtUpdate7501(snuff);trackChanges();">
                    </div>
                  </td>
                  <td id='snuff-tx-cal-7501'>
                    <span class="centeralign floatright">{{+snuff.taxAmt/+(snuff.qty*2.20462262185) | number : '.2-6' | na : 'N/A'}}</span>
                  </td>
                  <td id='snuff-tx-diff-7501'>
                    <span class="centeralign floatright">{{snuff.taxDiff | tufacurrency | minustoparens}}</span>
                  </td>
                  <td *ngIf="showsnuffdelete" [attr.id]="'snuff-delete-7501'+ '-'+ i">
                    <button type="button" class="btn btn-outline-danger btnsmallmargin" (click)="deleterow('Snuff','#snuff-', snuff.lineNum);">
                      <span class="fa fa-minus txt-gap" aria-hidden="true"></span>Delete</button>
                  </td>
                  <td *ngIf="i == 0">
                    <button type="button" class="btn btn-outline-primary btnsmallmargin" (click)="setFocus('Snuff','snuff-vol');" style="white-space: nowrap;"
                      id="snf-add-button">
                      <span class="fa fa-plus txt-gap" aria-hidden="true"></span>Add</button>

                  </td>
                </tr>
                <tr *ngIf="mfs.data.length > 0">
                  <td colspan="12">
                    <mfBootstrapPaginator [rowsOnPageSet]="[10, 25, 50]"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div style="float:right" *ngIf="mfs.data.length == 0">
            <button type="button" class="btn btn-outline-primary btnsmallmargin" (click)="setFocus('Snuff','snuff-vol');" style="white-space: nowrap;"
              id="snf-add-button">
              <span class="fa fa-plus txt-gap" aria-hidden="true"></span>Add</button>
          </div>
          <!--</section>-->
          <div style="float:left;width:100%" class="row flex-nowrap">
            <div class="col-md-4">
              <table class="table borderless">
                <tr>
                  <td colspan="12">
                    <h6 class="h6 no-margin fw-bold">Static Tax Rates:</h6>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h6 class="h6 no-margin">Snuff</h6>
                  </td>
                  <td></td>
                  <td>
                    <h6 class="h6 no-margin">{{model.getTobaccoType('Snuff')?.classRate | tufacurrency}}</h6>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h6 class="h6 no-margin">Conversion Rate: </h6>
                  </td>
                  <td></td>
                  <td>
                    <h6 class="h6 no-margin">{{model.getTobaccoType('Snuff')?.conversionRate}}</h6>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-4">
              <table class="table borderless">
                <tr>
                  <td colspan=12>
                    <h6 class="h6 no-margin fw-bold">Calculated Tax Variance:</h6>
                  </td>
                </tr>
                <tr>
                  <td style="text-align: right">Entered Total: $</td>
                  <td style="text-align: right">
                    <h6 class="h6 no-margin">{{model.getTobaccoType('Snuff').taxAmtTotal7501 | customnumber : 2}}</h6>
                  </td>
                </tr>
                <tr style="border-bottom:1px solid #ccc;">
                  <td style="text-align: right">Calculated Tax: $</td>
                  <td style="text-align: right">
                    <h6 class="h6 no-margin">{{model.getTobaccoType('Snuff').calculatedTaxAmt7501 | customnumber : 2}}</h6>
                  </td>
                </tr>

                <tr>
                  <td style="text-align: right">Difference: $</td>
                  <td style="text-align: right">
                    <h6 class="h6 no-margin">{{model.getTobaccoType('Snuff').getDiffTtlAndCalcTx7501()|customnumber : 2|minustoparens}}</h6>
                  </td>
                </tr>
                <tr>
                  <td style="text-align: right" class="fw-bold">Activity: </td>
                  <td style="text-align: right">
                    <span id="snf-total-status" [class.calc-error]="model.getTobaccoType('Snuff').diffTtlAndCalcTxErr7501" class="largeleftmargin">{{model.getTobaccoType('Snuff').activityCdDiffTtlAndCalcTxErr7501}}
                    </span>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-md-1">
            </div>
          </div>
        </form>
      </div>
      <div [ngBusy]="busy" class="widget-body">
        <div comments-grid [formTypeCd]="formTypeCd" [tobaccoType]="model.getTobaccoType('Snuff')" [comments]="model.getComments('7501','Snuff')"></div>
      </div>
      <div>
        <button class="btn btn-primary" (click)="download.emit(4)">Download</button>
      </div>
    </section>
  </div>

  <!--Chew -->
  <div *ngIf="model.showChews" class="col-lg-offset-1 col-lg-12" id="form-7501-chw">
    <section class="widget h-divider">
      <div class="widget-body clearfix">
        <div class="row flex-nowrap">
          <div class="col-md-10">
            <h4 class="h4 no-margin fw-normal">Chew</h4>
            <p>{{model.permitNumber| permitNumberPipe}}&nbsp;&nbsp;&nbsp;&nbsp;{{model.period}}</p>
          </div>
          <div class="col-md-2">
            <div class="h6 fw-bold">CBP 7501</div>
          </div>
        </div>
        <div class="row flex-nowrap">
          <div class="col-md-10">
          </div>
        </div>
        <div class="row flex-nowrap">
          <div class="col-md-12">
            <table class="table borderless">
              <colgroup>
                <col style="width:18%">
                <col style="width:20%">
                <col style="width:25%">
                <col style="width:18%">
              </colgroup>
              <thead>
                <tr class="h-thin-divider">
                  <th>
                    <span class="floatright">FDA 3852 REMOVALS (lbs)</span>
                  </th>
                  <th>
                    <span class="floatright">CBP 7501 REMOVALS (lbs)</span>
                  </th>
                  <th>
                    <span class="floatright">DIFFERENCE REMOVALS (lbs)</span>
                  </th>
                  <th>
                    <span class="largeleftmargin">ACTIVITY</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="h-thin-divider">
                  <td>
                    <span class="floatright" id="chw-3852-rmv-qty">{{model.getTobaccoType('Chew').rmvlQty3852 | customnumber : 3}}</span>
                  </td>
                  <td>
                    <span class="floatright" id="chw-7501-rmv-qty">{{model.getTobaccoType('Chew').getRmvls7501()|customnumber : 3}}</span>
                  </td>
                  <td>
                    <span class="floatright" id="chw-rmv-qty-diff">{{model.getTobaccoType('Chew').getDiffRmvls7501()|customnumber : 3|minustoparens}}</span>
                  </td>
                  <td>
                    <span id="chw-rmv-qty-status" [class.calc-error]="model.getTobaccoType('Chew').diffRmvlErr7501" class="largeleftmargin">{{model.getTobaccoType('Chew').activityCdDiffRmvl7501}}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row flex-nowrap">
          <div class="col-md-12">
            <table class="table borderless">
              <colgroup>
                <col style="width:18%">
                <col style="width:20%">
                <col style="width:25%">
                <col style="width:18%">
              </colgroup>
              <thead>
                <tr class="h-thin-divider">
                  <th>
                    <span class="floatright">FDA 3852 TAX</span>
                  </th>
                  <th>
                    <span class="floatright">CBP 7501 TAX </span>
                  </th>
                  <th>
                    <span class="floatright">DIFFERENCE TAX </span>
                  </th>
                  <th>
                    <span class="largeleftmargin">ACTIVITY</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="h-thin-divider">
                  <td>
                    <span class="floatright" id="chw-3852-tax-amt">{{model.getTobaccoType('Chew').taxAmt3852| tufacurrency}}</span>
                  </td>
                  <td>
                    <span class="floatright" id="chw-7501-tax-amt">{{model.getTobaccoType('Chew').taxAmtTotal7501|tufacurrency}}</span>
                  </td>
                  <td>
                    <span class="floatright" id="chw-tax-amt-diff">{{model.getTobaccoType('Chew').taxDiff7501| tufacurrency | minustoparens}}</span>
                  </td>
                  <td>
                    <span id="chw-tax-amt-status" [class.calc-error]="model.getTobaccoType('Chew').taxDiffErr7501" class="largeleftmargin">{{model.getTobaccoType('Chew').activityCd7501}}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <form style="overflow-x:auto;">
          <!--<section class="widget h-divider" widget>-->
          <div class="widget-body clearfix">
            <table class="table table-hover" [mfData]="model.getTobaccoType('Chew').forms7501 | form7501pipe:chewFilterData" id="tbl-chew"
              #mfch="mfDataTable" (mfSortOrderChange)="onSortOrderChew($event,'Chew')" (mfSortByChange)="onSortBy($event)"
              [mfRowsOnPage]="10" [mfIsServerPagination]="false" [mfActivePage]="1">
              <colgroup>
                <col style="width:7%">
                <col style="width:20%">
                <col style="width:20%">
                <col style="width:20%">
                <col style="width:15%">
                <col style="width:20%">
              </colgroup>
              <thead style="border-bottom:2px solid #17529F;">
                <tr>
                  <th style="text-align: center">
                    <mfDefaultSorter by="lineNum">
                      <span>Line #</span>
                    </mfDefaultSorter>
                  </th>
                  <th style="text-align: center">
                    <mfDefaultSorter by="qty">
                      <span>Net Quantity</span>
                    </mfDefaultSorter>
                  </th>
                  <th style="text-align: center">
                    <mfDefaultSorter by="taxAmt">
                      <span>Excise Tax</span>
                    </mfDefaultSorter>
                  </th>
                  <th style="text-align: center">
                    <span>Calc Tax Rate</span>
                  </th>
                  <th style="text-align: center">
                    <mfDefaultSorter by="taxDiff">
                      <span>TAX DIFF</span>
                    </mfDefaultSorter>
                  </th>
                  <th style="text-align: center">
                    <span style="margin-left:15px;">Action</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <!---->
                <tr style="border-bottom:2px solid #17529F;">
                  <td *ngFor="let column of columnsChew">
                    <div *ngIf="column.filtering" class="input-group input-group-transparent input-group-rounded">
                      <span class="input-group-text">
                        <i class="fa fa-filter" (click)="refreshChewFormFilterObject(chewFormFilter);"></i>
                      </span>
                      <input *ngIf="column.type==='input'" [attr.id]="'chew-filter-' + column.name" [attr.aria-label]="column.name" [ngTableFiltering]="column.filtering"
                        [config]="column.filtering" class="form-control" placeholder="{{column.filtering.placeholder}}" value="{{column.filtering.filterString}}"
                        (tableChanged)="onChangeTable($event)" />
                    </div>
                  </td>
                  <!--Add Toggle here -->
                  <td id='chew-show-delete'>
                    <!--Add Toggle Here -->
                    <div class="checkbox-inline checkbox-ios">
                      <label for="chewtoggle" class="switch" style="margin-left:30px;">
                        <input type="checkbox" [(ngModel)]="showchewdelete" class="ios" id="chewtoggle" [ngModelOptions]="{standalone: true}">
                        <i></i>
                        <span class="noWrap">Show Delete</span>
                      </label>
                    </div>
                  </td>
                </tr>
                <!---->
              </tbody>
              <tfoot>
                <tr [attr.id]="'chew'+ '-'+ i" *ngFor="let chew of mfch.data; let i = index; let last = last;">
                  <td>
                    <span class="floatleft centeralign">{{chew.lineNum}}</span>
                  </td>
                  <td>
                    <div class="input-group">
                      <input [attr.id]="'chew-vol'+ '-'+ i" #chwqty class="form-control fdatable rightalign" style='width:50%' customNumerics aria-label="Chew Net Quantity"
                        [customDecimalFormatter]='3' [valueChg]='chwqty.value' [ngModelOptions]="{standalone: true}" [(ngModel)]='chew.qty'
                        (ngModelChange)="model.getTobaccoType('Chew').qtyUpdate7501(chew);trackChanges();" placeholder="in kilograms">
                      <div class="input-group-append">
                        <span class="input-group-text">kg</span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                      </div>
                      <input #chwamt [attr.id]="'chew-tax-'+ i" class="form-control fdatable rightalign" style='width:50%' customNumerics aria-label="Chew Tax Amount"
                        [customDecimalFormatter]='2' [valueChg]='chwamt.value' [ngModelOptions]="{standalone: true}" [(ngModel)]='chew.taxAmt'
                        (ngModelChange)="model.getTobaccoType('Chew').taxAmtUpdate7501(chew);trackChanges();">
                    </div>
                  </td>
                  <td id='chew-tx-cal-7501'>
                    <span class="centeralign floatright">{{+chew.taxAmt/+(chew.qty*2.20462262185) | number : '.2-6' | na : 'N/A'}}</span>
                  </td>

                  <td id='chew-tx-diff-7501'>
                    <span class="centeralign floatright">{{chew.taxDiff | tufacurrency | minustoparens}}</span>
                  </td>
                  <td *ngIf="showchewdelete" [attr.id]="'chew-delete-7501'+ '-'+ i">
                    <button type="button" class="btn btn-outline-danger btnsmallmargin" (click)="deleterow('Chew','#chew-', chew.lineNum);">
                      <span class="fa fa-minus txt-gap" aria-hidden="true"></span>Delete</button>
                  </td>
                  <td *ngIf="i == 0">
                    <button type="button" class="btn btn-outline-primary btnsmallmargin" (click)="setFocus('Chew','chew-vol');" style="white-space: nowrap;"
                      id="chw-add-button">
                      <span class="fa fa-plus txt-gap" aria-hidden="true"></span>Add</button>
                  </td>
                </tr>

                <tr *ngIf="mfch.data.length > 0">
                  <td colspan="12">
                    <mfBootstrapPaginator [rowsOnPageSet]="[10, 25, 50]"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div style="float:right" *ngIf="mfch.data.length == 0">
            <button type="button" class="btn btn-outline-primary btnsmallmargin" (click)="setFocus('Chew','chew-vol');" style="white-space: nowrap;"
              id="chw-add-button">
              <span class="fa fa-plus txt-gap" aria-hidden="true"></span>Add</button>
          </div>
          <!--</section>-->
          <div class="row flex-nowrap" style="float:left;width:100%">
            <div class="col-md-4">
              <table class="table borderless">
                <tr>
                  <td colspan="12">
                    <h6 class="h6 no-margin fw-bold">Static Tax Rates:</h6>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h6 class="h6 no-margin">Chew</h6>
                  </td>
                  <td></td>
                  <td>
                    <h6 class="h6 no-margin">{{model.getTobaccoType('Chew')?.classRate | tufacurrency}}</h6>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h6 class="h6 no-margin">Conversion Rate: </h6>
                  </td>
                  <td></td>
                  <td>
                    <h6 class="h6 no-margin">{{model.getTobaccoType('Chew')?.conversionRate}}</h6>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-4">
              <table class="table borderless">
                <tr>
                  <td colspan=12>
                    <h6 class="h6 no-margin fw-bold">Calculated Tax Variance:</h6>
                  </td>
                </tr>
                <tr>
                  <td style="text-align: right">Entered Total: $</td>
                  <td style="text-align: right">
                    <h6 class="h6 no-margin">{{model.getTobaccoType('Chew').taxAmtTotal7501 | customnumber : 2}}</h6>
                  </td>
                </tr>
                <tr style="border-bottom:1px solid #ccc;">
                  <td style="text-align: right">Calculated Tax: $</td>
                  <td style="text-align: right">
                    <h6 class="h6 no-margin">{{model.getTobaccoType('Chew').calculatedTaxAmt7501 | customnumber : 2}}</h6>
                  </td>
                </tr>

                <tr>
                  <td style="text-align: right">Difference: $</td>
                  <td style="text-align: right">
                    <h6 class="h6 no-margin">{{model.getTobaccoType('Chew').getDiffTtlAndCalcTx7501()|customnumber : 2|minustoparens}}</h6>
                  </td>
                </tr>
                <tr>
                  <td style="text-align: right" class="fw-bold">Activity: </td>
                  <td style="text-align: right">
                    <span id="chw-total-status" [class.calc-error]="model.getTobaccoType('Chew').diffTtlAndCalcTxErr7501" class="largeleftmargin">{{model.getTobaccoType('Chew').activityCdDiffTtlAndCalcTxErr7501}}
                    </span>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-md-1">
            </div>
          </div>
        </form>
      </div>
      <div [ngBusy]="busy" class="widget-body">
        <div comments-grid [formTypeCd]="formTypeCd" [tobaccoType]="model.getTobaccoType('Chew')" [comments]="model.getComments('7501','Chew')"></div>
      </div>
      <div>
        <button class="btn btn-primary" (click)="download.emit(3)">Download</button>
      </div>
    </section>
  </div>

  <!--Pipe -->
  <div *ngIf="model.showPipes" class="col-lg-offset-1 col-lg-12" id="form-7501-pip">
    <section class="widget h-divider">
      <div class="widget-body clearfix">
        <div class="row flex-nowrap">
          <div class="col-md-10">
            <h4 class="h4 no-margin fw-normal">Pipe</h4>
            <p>{{model.permitNumber| permitNumberPipe}}&nbsp;&nbsp;&nbsp;&nbsp;{{model.period}}</p>
          </div>
          <div class="col-md-2">
            <div class="h6 fw-bold">CBP 7501</div>
          </div>
        </div>
        <div class="row flex-nowrap">
          <div class="col-md-10">
          </div>
        </div>

        <div class="row flex-nowrap">
          <div class="col-md-12">
            <table class="table borderless">
              <colgroup>
                <col style="width:18%">
                <col style="width:20%">
                <col style="width:25%">
                <col style="width:18%">
              </colgroup>
              <thead>
                <tr class="h-thin-divider">
                  <th>
                    <span class="floatright">FDA 3852 REMOVALS (lbs)</span>
                  </th>
                  <th>
                    <span class="floatright">CBP 7501 REMOVALS (lbs)</span>
                  </th>
                  <th>
                    <span class="floatright">DIFFERENCE REMOVALS (lbs)</span>
                  </th>
                  <th>
                    <span class="largeleftmargin">ACTIVITY</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="h-thin-divider">
                  <td>
                    <span class="floatright" id="pip-3852-rmv-qty">{{model.getTobaccoType('Pipe').rmvlQty3852 | customnumber : 3}}</span>
                  </td>
                  <td>
                    <span class="floatright" id="pip-7501-rmv-qty">{{model.getTobaccoType('Pipe').getRmvls7501()|customnumber : 3}}</span>
                  </td>
                  <td>
                    <span class="floatright" id="pip-rmv-qty-diff">{{model.getTobaccoType('Pipe').getDiffRmvls7501()|customnumber : 3|minustoparens}}</span>
                  </td>
                  <td>
                    <span id="pip-rmv-qty-status" [class.calc-error]="model.getTobaccoType('Pipe').diffRmvlErr7501" class="largeleftmargin">{{model.getTobaccoType('Pipe').activityCdDiffRmvl7501}}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row flex-nowrap">
          <div class="col-md-12">
            <table class="table borderless">
              <colgroup>
                <col style="width:18%">
                <col style="width:20%">
                <col style="width:25%">
                <col style="width:18%">
              </colgroup>
              <thead>
                <tr class="h-thin-divider">
                  <th>
                    <span class="floatright">FDA 3852 TAX</span>
                  </th>
                  <th>
                    <span class="floatright">CBP 7501 TAX </span>
                  </th>
                  <th>
                    <span class="floatright">DIFFERENCE TAX </span>
                  </th>
                  <th>
                    <span class="largeleftmargin">ACTIVITY</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="h-thin-divider">
                  <td>
                    <span class="floatright" id="pip-3852-tax-amt">{{model.getTobaccoType('Pipe').taxAmt3852| tufacurrency}}</span>
                  </td>
                  <td>
                    <span class="floatright" id="pip-7501-tax-amt">{{model.getTobaccoType('Pipe').taxAmtTotal7501|tufacurrency}}</span>
                  </td>
                  <td>
                    <span class="floatright" id="pip-tax-amt-diff">{{model.getTobaccoType('Pipe').taxDiff7501| tufacurrency | minustoparens}}</span>
                  </td>
                  <td>
                    <span id="pip-tax-amt-status" [class.calc-error]="model.getTobaccoType('Pipe').taxDiffErr7501" class="largeleftmargin">{{model.getTobaccoType('Pipe').activityCd7501}}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <form style="overflow-x:auto;">
          <!--<section class="widget h-divider" widget>-->
          <div class="widget-body clearfix">
            <table class="table table-hover" [mfData]="model.getTobaccoType('Pipe').forms7501 | form7501pipe:pipeFilterData" id="tbl-pipe"
              #mfp="mfDataTable" (mfSortOrderChange)="onSortOrderPipe($event,'Pipe')" (mfSortByChange)="onSortBy($event)" [mfRowsOnPage]="10"
              [mfIsServerPagination]="false" [mfActivePage]="1">
              <colgroup>
                <col style="width:7%">
                <col style="width:20%">
                <col style="width:20%">
                <col style="width:20%">
                <col style="width:15%">
                <col style="width:20%">
              </colgroup>
              <thead style="border-bottom:2px solid #17529F;">
                <tr>
                  <th style="text-align: center">
                    <mfDefaultSorter by="lineNum">
                      <span>Line #</span>
                    </mfDefaultSorter>
                  </th>
                  <th style="text-align: center">
                    <mfDefaultSorter by="qty">
                      <span>Net Quantity</span>
                    </mfDefaultSorter>
                  </th>
                  <th style="text-align: center">
                    <mfDefaultSorter by="taxAmt">
                      <span>Excise Tax</span>
                    </mfDefaultSorter>
                  </th>
                  <th style="text-align: center">
                    <span>Calc Tax Rate</span>
                  </th>
                  <th style="text-align: center">
                    <mfDefaultSorter by="taxDiff">
                      <span>TAX DIFF</span>
                    </mfDefaultSorter>
                  </th>
                  <th>
                    <span style="margin-left:15px;">Action</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <!---->
                <tr style="border-bottom:2px solid #17529F;">
                  <td *ngFor="let column of columnsPipe">
                    <div *ngIf="column.filtering" class="input-group input-group-transparent input-group-rounded">
                      <span class="input-group-text">
                        <i class="fa fa-filter" (click)="refreshPipeFormFilterObject(pipeFormFilter);"></i>
                      </span>
                      <input *ngIf="column.type==='input'" [attr.id]="'pipe-filter-' + column.name" [attr.aria-label]="column.name" [ngTableFiltering]="column.filtering"
                        [config]="column.filtering" class="form-control" placeholder="{{column.filtering.placeholder}}" value="{{column.filtering.filterString}}"
                        (tableChanged)="onChangeTable($event)" />
                    </div>
                  </td>
                  <td id='pipe-show-delete'>

                    <!--Add Toggle Here -->
                    <div class="checkbox-inline checkbox-ios">
                      <label for="pipetoggle" class="switch" style="margin-left:30px;">
                        <input type="checkbox" [(ngModel)]="showpipedelete" class="ios" id="pipetoggle" [ngModelOptions]="{standalone: true}">
                        <i></i>
                        <span class="noWrap">Show Delete</span>
                      </label>
                    </div>


                  </td>
                </tr>


                <!---->

              </tbody>
              <tfoot>

                <tr [attr.id]="'piperow'+ '-'+ i" *ngFor="let pipe of mfp.data; let i = index; let last = last;">
                  <td>
                    <span class="floatleft centeralign">{{pipe.lineNum}}</span>
                  </td>
                  <td>
                    <div class="input-group">
                      <input [attr.id]="'pipe-vol'+ '-'+ i" #pipeqty class="form-control fdatable rightalign" style='width:50%' aria-label="Pipe Net Quantity"
                        customNumerics [customDecimalFormatter]='3' [valueChg]='pipeqty.value' [ngModelOptions]="{standalone: true}"
                        [(ngModel)]='pipe.qty' (ngModelChange)="model.getTobaccoType('Pipe').qtyUpdate7501(pipe);trackChanges();"
                        placeholder="in kilograms">
                      <div class="input-group-append">
                        <span class="input-group-text">kg</span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                      </div>
                      <input #pipeamt [attr.id]="'pipe-tax-'+ i" class="form-control fdatable rightalign" style='width:50%' aria-label="Pipe Tax Amount"
                        customNumerics [customDecimalFormatter]='2' [valueChg]='pipeamt.value' [ngModelOptions]="{standalone: true}"
                        [(ngModel)]='pipe.taxAmt' (ngModelChange)="model.getTobaccoType('Pipe').taxAmtUpdate7501(pipe);trackChanges();">
                    </div>
                  </td>
                  <td id='pipe-tx-cal-7501'>
                    <span class="centeralign floatright">{{+pipe.taxAmt/+(pipe.qty*2.20462262185) | number : '.2-6' | na : 'N/A'}}</span>
                  </td>

                  <td id='pipe-tx-diff-7501'>
                    <span class="centeralign floatright">{{pipe.taxDiff | tufacurrency | minustoparens}}</span>
                  </td>
                  <td *ngIf="showpipedelete" [attr.id]="'pipe-delete-7501'+ '-'+ i">
                    <button type="button" class="btn btn-outline-danger btnsmallmargin" (click)="deleterow('Pipe','#pipe-', pipe.lineNum);">
                      <span class="fa fa-minus txt-gap" aria-hidden="true"></span>Delete</button>
                  </td>
                  <td *ngIf="i == 0">
                    <button type="button" class="btn btn-outline-primary btnsmallmargin" (click)="setFocus('Pipe','pipe-vol');" style="white-space: nowrap;"
                      id="pip-add-button">
                      <span class="fa fa-plus txt-gap" aria-hidden="true"></span>Add</button>
                  </td>

                </tr>
                <tr *ngIf="mfp.data.length > 0">
                  <td colspan="12">
                    <mfBootstrapPaginator [rowsOnPageSet]="[10, 25, 50]"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div style="float:right" *ngIf="mfp.data.length == 0">
            <button type="button" class="btn btn-outline-primary btnsmallmargin" (click)="setFocus('Pipe','pipe-vol');" style="white-space: nowrap;"
              id="pip-add-button">
              <span class="fa fa-plus txt-gap" aria-hidden="true"></span>Add</button>
          </div>

          <!--</section>-->
          <div style="float:left;width:100%" class="row flex-nowrap">
            <div class="col-md-4">
              <table class="table borderless">
                <tr>
                  <td colspan="12">
                    <h6 class="h6 no-margin fw-bold">Static Tax Rates:</h6>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h6 class="h6 no-margin">Pipe</h6>
                  </td>
                  <td></td>
                  <td>
                    <h6 class="h6 no-margin">{{model.getTobaccoType('Pipe')?.classRate | tufacurrency}}</h6>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h6 class="h6 no-margin">Conversion Rate: </h6>
                  </td>
                  <td></td>
                  <td>
                    <h6 class="h6 no-margin">{{model.getTobaccoType('Pipe')?.conversionRate}}</h6>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-4">
              <table class="table borderless">
                <tr>
                  <td colspan=12>
                    <h6 class="h6 no-margin fw-bold">Calculated Tax Variance:</h6>
                  </td>
                </tr>

                <tr>
                  <td style="text-align: right">Entered Total: $</td>
                  <td style="text-align: right">
                    <h6 class="h6 no-margin">{{model.getTobaccoType('Pipe').taxAmtTotal7501 | customnumber : 2}}</h6>
                  </td>
                </tr>
                <tr style="border-bottom:1px solid #ccc;">
                  <td style="text-align: right">Calculated Tax: $</td>
                  <td style="text-align: right">
                    <h6 class="h6 no-margin">{{model.getTobaccoType('Pipe').calculatedTaxAmt7501 | customnumber : 2}}</h6>
                  </td>
                </tr>

                <tr>
                  <td style="text-align: right">Difference: $</td>
                  <td style="text-align: right">
                    <h6 class="h6 no-margin">{{model.getTobaccoType('Pipe').getDiffTtlAndCalcTx7501()|customnumber : 2|minustoparens}}</h6>
                  </td>
                </tr>
                <tr>
                  <td style="text-align: right" class="fw-bold">Activity: </td>
                  <td style="text-align: right">
                    <span id="pip-total-status" [class.calc-error]="model.getTobaccoType('Pipe').diffTtlAndCalcTxErr7501" class="largeleftmargin">{{model.getTobaccoType('Pipe').activityCdDiffTtlAndCalcTxErr7501}}
                    </span>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-md-1">
            </div>
          </div>
        </form>
      </div>
      <div [ngBusy]="busy" class="widget-body">
        <div comments-grid [formTypeCd]="formTypeCd" [tobaccoType]="model.getTobaccoType('Pipe')" [comments]="model.getComments('7501','Pipe')"></div>
      </div>
      <div>
        <button class="btn btn-primary" (click)="download.emit(5)">Download</button>
      </div>
    </section>
  </div>

  <!--Roll your own -->
  <div *ngIf="model.showRollYourOwn" class="col-lg-offset-1 col-lg-12" id="form-7501-ryo">
    <section class="widget h-divider">
      <div class="widget-body clearfix">
        <div class="row flex-nowrap">
          <div class="col-md-10">
            <h4 class="h4 no-margin fw-normal">Roll Your Own</h4>
            <p>{{model.permitNumber| permitNumberPipe}}&nbsp;&nbsp;&nbsp;&nbsp;{{model.period}}</p>
          </div>
          <div class="col-md-2">
            <div class="h6 fw-bold">CBP 7501</div>
          </div>
        </div>
        <div class="row flex-nowrap">
          <div class="col-md-10">
          </div>
        </div>
        <div class="row flex-nowrap">
          <div class="col-md-12">
            <table class="table borderless">
              <colgroup>
                <col style="width:18%">
                <col style="width:20%">
                <col style="width:25%">
                <col style="width:18%">
              </colgroup>
              <thead>
                <tr class="h-thin-divider">
                  <th>
                    <span class="floatright">FDA 3852 REMOVALS (lbs)</span>
                  </th>
                  <th>
                    <span class="floatright">CBP 7501 REMOVALS (lbs)</span>
                  </th>
                  <th>
                    <span class="floatright">DIFFERENCE REMOVALS (lbs)</span>
                  </th>
                  <th>
                    <span class="largeleftmargin">ACTIVITY</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="h-thin-divider">
                  <td>
                    <span class="floatright" id="ryo-3852-rmv-qty">{{model.getTobaccoType('RollYourOwn').rmvlQty3852 | customnumber : 3}}</span>
                  </td>
                  <td>
                    <span class="floatright" id="ryo-7501-rmv-qty">{{model.getTobaccoType('RollYourOwn').getRmvls7501()|customnumber : 3}}</span>
                  </td>
                  <td>
                    <span class="floatright" id="ryo-rmv-qty-diff">{{model.getTobaccoType('RollYourOwn').getDiffRmvls7501()|customnumber : 3|minustoparens}}</span>
                  </td>
                  <td>
                    <span id="ryo-rmv-qty-status" [class.calc-error]="model.getTobaccoType('RollYourOwn').diffRmvlErr7501" class="largeleftmargin">{{model.getTobaccoType('RollYourOwn').activityCdDiffRmvl7501}}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row flex-nowrap">
          <div class="col-md-12">
            <table class="table borderless">
              <colgroup>
                <col style="width:18%">
                <col style="width:20%">
                <col style="width:25%">
                <col style="width:18%">
              </colgroup>
              <thead>
                <tr class="h-thin-divider">
                  <th>
                    <span class="floatright">FDA 3852 TAX</span>
                  </th>
                  <th>
                    <span class="floatright">CBP 7501 TAX </span>
                  </th>
                  <th>
                    <span class="floatright">DIFFERENCE TAX </span>
                  </th>
                  <th>
                    <span class="largeleftmargin">ACTIVITY</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="h-thin-divider">
                  <td>
                    <span class="floatright" id="ryo-3852-tax-amt">{{model.getTobaccoType('RollYourOwn').taxAmt3852|tufacurrency}}</span>
                  </td>
                  <td>
                    <span class="floatright" id="ryo-7501-tax-amt">{{model.getTobaccoType('RollYourOwn').taxAmtTotal7501|tufacurrency}}</span>
                  </td>
                  <td>
                    <span class="floatright" id="ryo-tax-amt-diff">{{model.getTobaccoType('RollYourOwn').taxDiff7501| tufacurrency | minustoparens}}</span>
                  </td>
                  <td>
                    <span id="ryo-tax-amt-status" [class.calc-error]="model.getTobaccoType('RollYourOwn').taxDiffErr7501" class="largeleftmargin">{{model.getTobaccoType('RollYourOwn').activityCd7501}}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <form style="overflow-x:auto;">
          <!--<section class="widget h-divider" widget>-->
          <div class="widget-body clearfix">
            <table class="table table-hover" [mfData]="model.getTobaccoType('RollYourOwn').forms7501 | form7501pipe:ryoFilterData" id="tbl-ryo"
              #mfryo="mfDataTable" (mfSortOrderChange)="onSortOrderRyo($event,'RollYourOwn')" (mfSortByChange)="onSortBy($event)"
              [mfRowsOnPage]="10" [mfIsServerPagination]="false" [mfActivePage]="1">
              <colgroup>
                <col style="width:7%">
                <col style="width:20%">
                <col style="width:20%">
                <col style="width:20%">
                <col style="width:15%">
                <col style="width:20%">
              </colgroup>
              <thead style="border-bottom:2px solid #17529F;">
                <tr>
                  <th style="text-align: center">
                    <mfDefaultSorter by="lineNum">
                      <span>Line #</span>
                    </mfDefaultSorter>
                  </th>
                  <th style="text-align: center">
                    <mfDefaultSorter by="qty">
                      <span>Net Quantity</span>
                    </mfDefaultSorter>
                  </th>
                  <th style="text-align: center">
                    <mfDefaultSorter by="taxAmt">
                      <span>Excise Tax</span>
                    </mfDefaultSorter>
                  </th>
                  <th style="text-align: center">
                    <span>Calc Tax Rate</span>
                  </th>
                  <th style="text-align: center">
                    <mfDefaultSorter by="taxDiff">
                      <span>TAX DIFF</span>
                    </mfDefaultSorter>
                  </th>
                  <th>
                    <span style="margin-left:15px;">Action</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <!---->
                <tr style="border-bottom:2px solid #17529F;">
                  <td *ngFor="let column of columnsRYO">
                    <div *ngIf="column.filtering" class="input-group input-group-transparent input-group-rounded">
                      <span class="input-group-text">
                        <i class="fa fa-filter" (click)="refreshRYOFormFilterObject(ryoFormFilter)"></i>
                      </span>
                      <input *ngIf="column.type==='input'" [attr.id]="'ryo-filter-' + column.name" [attr.aria-label]="column.name" [ngTableFiltering]="column.filtering"
                        [config]="column.filtering" class="form-control" placeholder="{{column.filtering.placeholder}}" value="{{column.filtering.filterString}}"
                        (tableChanged)="onChangeTable($event)" />
                    </div>
                  </td>
                  <td id='ryo-show-delete'>
                    <!--Add Toggle Here -->
                    <div class="checkbox-inline checkbox-ios">
                      <label for="ryotoggle" class="switch" style="margin-left:30px;">
                        <input type="checkbox" [(ngModel)]="showryodelete" class="ios" id="ryotoggle" [ngModelOptions]="{standalone: true}">
                        <i></i>
                        <span class="noWrap">Show Delete</span>
                      </label>
                    </div>
                  </td>
                </tr>
                <!---->

              </tbody>
              <tfoot id='ryofooter'>

                <tr [attr.id]="'ryorow'+ '-'+ i" *ngFor="let roy of mfryo.data; let i = index; let last = last;">
                  <td>
                    <span class="floatleft centeralign">{{roy.lineNum}}</span>
                  </td>
                  <td>

                    <div class="input-group">
                      <input [attr.id]="'ryo-vol'+ '-' + i" #ryoqty class="form-control fdatable rightalign" style='width:50%' customNumerics [customDecimalFormatter]='3'
                        [valueChg]='ryoqty.value' [ngModelOptions]="{standalone: true}" aria-label="Roll Your Own Net Quantity"
                        [(ngModel)]='roy.qty' (ngModelChange)="model.getTobaccoType('RollYourOwn').qtyUpdate7501(roy);trackChanges();"
                        placeholder="in kilograms">
                      <div class="input-group-append">
                        <span class="input-group-text">kg</span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                      </div>
                      <input #ryoamt [attr.id]="'ryo-tax-'+ i" class="form-control fdatable rightalign" style='width:50%' customNumerics [customDecimalFormatter]='2'
                        [valueChg]='ryoamt.value' [ngModelOptions]="{standalone: true}" aria-label="Roll Your Own Tax Amount"
                        [(ngModel)]='roy.taxAmt' (ngModelChange)="model.getTobaccoType('RollYourOwn').taxAmtUpdate7501(roy);trackChanges();">
                    </div>
                  </td>
                  <td id='ryo-tx-cal-7501'>
                    <span class="centeralign floatright">{{+roy.taxAmt/+(roy.qty*2.20462262185) | number : '.2-6' | na : 'N/A'}}</span>
                  </td>

                  <td id='ryo-tx-diff-7501'>
                    <span class="centeralign floatright">{{roy.taxDiff | tufacurrency | minustoparens}}</span>
                  </td>
                  <td id='ryo-delete' *ngIf="showryodelete">
                    <button type="button" class="btn btn-outline-danger btnsmallmargin" (click)="deleterow('RollYourOwn','#ryorow-', roy.lineNum);">
                      <span class="fa fa-minus txt-gap" aria-hidden="true"></span>Delete</button>
                  </td>
                  <td *ngIf="i == 0">
                    <button type="button" class="btn btn-outline-primary btnsmallmargin" (click)="setFocus('RollYourOwn','ryo-vol');" style="white-space: nowrap;"
                      id="ryo-add-button">
                      <span class="fa fa-plus txt-gap" aria-hidden="true"></span>Add</button>
                  </td>
                </tr>
                <tr *ngIf="mfryo.data.length > 0">
                  <td colspan="12">
                    <mfBootstrapPaginator [rowsOnPageSet]="[10, 25, 50]"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div style="float:right" *ngIf="mfryo.data.length == 0">
            <button type="button" class="btn btn-outline-primary btnsmallmargin" (click)="setFocus('RollYourOwn','ryo-vol');" style="white-space: nowrap;"
              id="ryo-add-button">
              <span class="fa fa-plus txt-gap" aria-hidden="true"></span>Add</button>
          </div>
          <!--</section>-->
          <div class="row flex-nowrap" style="float:left;width:100%">
            <div class="col-md-4">
              <table class="table borderless">
                <tr>
                  <td colspan="12">
                    <h6 class="h6 no-margin fw-bold"> Static Tax Rates:</h6>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h6 class="h6 no-margin">Roll Your Own</h6>
                  </td>
                  <td></td>
                  <td>
                    <h6 class="h6 no-margin">{{model.getTobaccoType('RollYourOwn')?.classRate | tufacurrency}}</h6>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h6 class="h6 no-margin">Conversion Rate: </h6>
                  </td>
                  <td></td>
                  <td>
                    <h6 class="h6 no-margin">{{model.getTobaccoType('RollYourOwn')?.conversionRate}}</h6>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-4">
              <table class="table borderless">
                <tr>
                  <td colspan=12>
                    <h6 class="h6 no-margin fw-bold">Calculated Tax Variance:</h6>
                  </td>
                </tr>

                <tr>
                  <td style="text-align: right">Entered Total: $</td>
                  <td style="text-align: right">
                    <h6 class="h6 no-margin">{{model.getTobaccoType('RollYourOwn').taxAmtTotal7501 | customnumber : 2}}</h6>
                  </td>
                </tr>

                <tr style="border-bottom:1px solid #ccc;">
                  <td style="text-align: right">Calculated Tax: $</td>
                  <td style="text-align: right">
                    <h6 class="h6 no-margin">{{model.getTobaccoType('RollYourOwn').calculatedTaxAmt7501 | customnumber : 2}}</h6>
                  </td>
                </tr>

                <tr>
                  <td style="text-align: right">Difference: $</td>
                  <td style="text-align: right">
                    <h6 class="h6 no-margin">{{model.getTobaccoType('RollYourOwn').getDiffTtlAndCalcTx7501()|customnumber : 2|minustoparens}}</h6>
                  </td>
                </tr>
                <tr>
                  <td style="text-align: right" class="fw-bold">Activity: </td>
                  <td style="text-align: right">
                    <span id="ryo-total-status" [class.calc-error]="model.getTobaccoType('RollYourOwn').diffTtlAndCalcTxErr7501" class="largeleftmargin">{{model.getTobaccoType('RollYourOwn').activityCdDiffTtlAndCalcTxErr7501}}
                    </span>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-md-1">
            </div>
          </div>
        </form>
      </div>
      <div [ngBusy]="busy" class="widget-body">
        <div comments-grid [formTypeCd]="formTypeCd" [tobaccoType]="model.getTobaccoType('RollYourOwn')" [comments]="model.getComments('7501','RollYourOwn')"></div>
      </div>
      <div>
        <button class="btn btn-primary" (click)="download.emit(6)">Download</button>
      </div>
    </section>
  </div>
</div>