<ol class="breadcrumb" *ngIf='breadcrumb === ""'>
  <li class="breadcrumb-item">
    <a [routerLink]='["/app/company/search"]' id="lnk-dly-ops">Daily Operations</a>
  </li>
  <li class="breadcrumb-item">
    <a [routerLink]='["/app/company/details", companyId]' id="lnk-cmp-det" (aClick)="setParamsForReconNavigation()">Company Details</a>
  </li>
  <li class="breadcrumb-item ">
    <a [routerLink]='["/app/permit/history", permitId]' id="lnk-pmt-his" (aClick)="setParamsForReconNavigation()">Permit History</a>
  </li>
  <li class="breadcrumb-item active">
    <a href="javascript:void(0)">Monthly Report</a>
  </li>
</ol>
<ol class="breadcrumb" *ngIf='(breadcrumb === "qa-reconreport") || (breadcrumb === "qa-reportstatus")'>
  <li class="breadcrumb-item">
    <a href="javascript:void(1)" (aClick)="toAssessments()" id="lnk-assessments">Assessments</a>
  </li>
  <li class="breadcrumb-item">
    <a href="javascript:void(2)" id="lnk-qa" (aClick)="toQuarterlyAssessment()">Quarterly Assessment</a>
  </li>
  <li class="breadcrumb-item">
    <a [routerLink]='["/app/company/details", companyId]' id="lnk-cmp-det" (aClick)="setParamsForReconNavigation()">Company Details</a>
  </li>
  <li class="breadcrumb-item">
    <a [routerLink]='["/app/permit/history", permitId]' id="lnk-pmt-his" (aClick)="setParamsForReconNavigation()">Permit History</a>
  </li>
  <li class="breadcrumb-item active">
    <a href="javascript:void(0)">Monthly Report</a>
  </li>
</ol>
<ol class="breadcrumb" *ngIf='(breadcrumb === "ca-reconreport") || (breadcrumb === "ca-reportstatus")'>
  <li class="breadcrumb-item">
    <a href="javascript:void(1)" (aClick)="toAssessments()" id="lnk-assessments">Assessments</a>
  </li>
  <li class="breadcrumb-item">
    <a href="javascript:void(2)" id="lnk-ca" (aClick)="toCigarAssessment()">Cigar Assessment</a>
  </li>
  <li class="breadcrumb-item">
    <a [routerLink]='["/app/company/details", companyId]' id="lnk-cmp-det" (aClick)="setParamsForReconNavigation()">Company Details</a>
  </li>
  <li class="breadcrumb-item">
    <a [routerLink]='["/app/permit/history", permitId]' id="lnk-pmt-his" (aClick)="setParamsForReconNavigation()">Permit History</a>
  </li>
  <li class="breadcrumb-item active">
    <a href="javascript:void(0)">Monthly Report</a>
  </li>
</ol>
<ol class="breadcrumb" *ngIf='breadcrumb === "at-reconreport"'>
  <li class="breadcrumb-item">
    <a href="javascript:void(1)" (aClick)="toAssessments()" id="lnk-assessments">Assessments</a>
  </li>
  <li class="breadcrumb-item">
    <a href="javascript:void(2)" id="lnk-at" (aClick)="toAnnualTrueup()" id="lnk-at">Annual True-Up</a>
  </li>
  <li class="breadcrumb-item">
    <a [routerLink]='["/app/company/details", companyId]' id="lnk-cmp-det" (aClick)="setParamsForReconNavigation()">Company Details</a>
  </li>
  <li class="breadcrumb-item">
    <a [routerLink]='["/app/permit/history", permitId]' id="lnk-pmt-his" (aClick)="setParamsForReconNavigation()">Permit History</a>
  </li>
  <li class="breadcrumb-item active">
    <a href="javascript:void(0)">Monthly Report</a>
  </li>
</ol>
<ol class="breadcrumb" *ngIf='breadcrumb === "at-comparedetails"'>
  <li class="breadcrumb-item">
    <a href="javascript:void(1)" (aClick)="toAssessments()" id="lnk-assessments">Assessments</a>
  </li>
  <li class="breadcrumb-item">
    <a href="javascript:void(2)" id="lnk-at" (aClick)="toAnnualTrueup()" id="lnk-at">Annual True-Up</a>
  </li>
  <li class="breadcrumb-item">
    <a href="javascript:void(4)" id="lnk-comdetails" (aClick)="toCompareDetails()">Compare Details</a>
  </li>
  <li class="breadcrumb-item">
    <a [routerLink]='["/app/company/details", companyId]' id="lnk-cmp-det" (aClick)="setParamsForReconNavigation()">Company Details</a>
  </li>
  <li class="breadcrumb-item">
    <a [routerLink]='["/app/permit/history", permitId]' id="lnk-pmt-his" (aClick)="setParamsForReconNavigation()">Permit History</a>
  </li>
  <li class="breadcrumb-item active">
    <a href="javascript:void(0)">Monthly Report</a>
  </li>
</ol>
<ol class="breadcrumb" *ngIf='breadcrumb === "at-compare-selMethod"'>
  <li class="breadcrumb-item">
    <a href="javascript:void(1)" (aClick)="toAssessments()" id="lnk-assessments">Assessments</a>
  </li>
  <li class="breadcrumb-item">
    <a href="javascript:void(2)" id="lnk-at" (aClick)="toAnnualTrueup()" id="lnk-at">Annual True-Up</a>
  </li>
  <li class="breadcrumb-item">
    <a [routerLink]='["/app/company/details", companyId]' id="lnk-cmp-det" (aClick)="setParamsForReconNavigation()">Company Details</a>
  </li>
  <li class="breadcrumb-item">
    <a [routerLink]='["/app/permit/history", permitId]' id="lnk-pmt-his" (aClick)="setParamsForReconNavigation()">Permit History</a>
  </li>
  <li class="breadcrumb-item active">
    <a href="javascript:void(0)">Monthly Report</a>
  </li>
</ol>

<ol class="breadcrumb" *ngIf='breadcrumb === "permit-mgmt"'>
  <li class="breadcrumb-item">
    <a [routerLink]='["/app/permit-mgmt"]' id="lnk-permmgmt">Permit Management</a>
  </li>
  <li class="breadcrumb-item">
    <a href="javascript:void(1)" (aClick)="toFileMgmt()" id="lnk-filemgmt">File Management</a>
  </li>
  <li class="breadcrumb-item">
    <a [routerLink]='["/app/company/details", companyId]' id="lnk-cmp-det" (aClick)="setParamsForReconNavigation()">Company Details</a>
  </li>
  <li class="breadcrumb-item">
    <a [routerLink]='["/app/permit/history", permitId]' id="lnk-pmt-his" (aClick)="setParamsForReconNavigation()">Permit History</a>
  </li>
  <li class="breadcrumb-item active">
    <a href="javascript:void(0)">Monthly Report</a>
  </li>
</ol>

<ol class="breadcrumb" *ngIf='breadcrumb==="company-tracking"'>
  <li class="breadcrumb-item">
    <a [routerLink]='["/app/company/tracking"]' id="lnk-comp-tracking">Company Tracking</a>
  </li>
  <li class="breadcrumb-item">
    <a [routerLink]='["/app/company/details", companyId]'>Company Details</a>
  </li>
  <li class="breadcrumb-item">
    <!-- <a href="javascript:void(0)">Permit History</a> -->
    <a [routerLink]='["/app/permit/history", permitId]' id="lnk-pmt-his" (aClick)="setParamsForReconNavigation()">Permit History</a>
  </li>
  <li class="breadcrumb-item active">
    <a href="javascript:void(0)">Monthly Report</a>
  </li>
</ol>
<h1 class="h1 page-title">Monthly Report</h1>
<div class="impReport" data-ng-controller="PermitReportController">
  <div class="row">
    <div class="col-lg-12">
      <section class="widget  h-divider bg-primary text-white">
        <div class="widget-body clearfix">
          <div class="row flex-nowrap">
            <div class="col-md-6">
              <h2 class="h2 no-margin fw-normal" id="per-num">{{periodAct.permitNum| permitNumberPipe}}</h2>
              <p class="h6 no-margin fw-normal breathe" id="per-type">Importer</p>
              <div class="no-margin breathe" id="per-act">Period of Activity:
                <span>
                  <strong>{{periodAct.period}}</strong>
                </span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="pull-right">
                <h3 class="h2 no-margin fw-normal" id="cmp-name">{{periodAct.companyName}}</h3>
                <div class="breathe pull-right">
                  <span>Report Status : </span>
                  <span id="period-status">
                    <strong>{{periodStatus | reportStatusPipe}}</strong>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div edit-company-pane [ein]="ein" [compId]="companyId" [permitId]="permitId" [periodId]="periodId"></div>

  <!--Company and Permit Comments Section-->
  <div class="row" *ngIf="cmpycomments != null || permitComments != null ">
    <div class="col-lg-12">
      <section class="widget h-divider" style="word-break: break-all;">
        <div class="widget-body clearfix">

          <!--- Collapsible Panel -->
          <div class="panel-group" id="accordion2">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle-main h4 no-margin fw-normal collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false"
                    aria-controls="#collapseTwo" href="#collapseTwo">
                    Company and Permit Comments
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse in">
                <div class="panel-body">
                  <br/>
                  <div class="row" *ngIf="cmpycomments != null">
                    <div class="col-lg-12">
                      <h5>
                        <span class="fw-semi-bold">Company Comments</span>
                      </h5>
                    </div>
                  </div>
                  <div class="row" *ngIf="cmpycomments != null">
                    <div class="col-lg-offset-1 col-lg-12">
                      <section class="widget" style="margin-bottom: 0px;">
                        <div class="widget-body clearfix">
                          <div class="row flex-nowrap">
                            <div class="col-xs-12">
                              <p class="no-margin">{{cmpycomments}}</p>
                            </div>
                          </div>
                        </div>
                      </section>
                    </div>
                  </div>
                  <div class="row" *ngIf="permitComments != null">
                    <div class="col-lg-12">
                      <h5>
                        <span class="fw-semi-bold">Permit Comments</span>
                      </h5>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-offset-1 col-lg-12">
                      <section class="widget" style="margin-bottom: -10px;">
                        <div class="widget-body clearfix">
                          <div class="row flex-nowrap">
                            <div class="col-xs-12">
                              <span *ngFor="let comment of permitComments">
                                <p *ngIf="!comment.resolveComment" class="no-margin" style="word-break: break-word;">{{comment.userComment}}</p>
                              </span>
                            </div>
                          </div>
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <form class="form-horizontal parsleyjs" role="form" method="post" data-parsley-priority-enabled="false" novalidate="novalidate"
    data-parsley-focus="first">
    <div id="rpt-method" class="row">
      <div class="col-lg-12 col-xs-12">
        <section class="widget h-divider">
          <div class="widget-body clearfix">
            <div class="row flex-nowrap" style="margin-bottom: -10px;">
              <div class="col-xs-12">
                <h4 class="h4 no-margin fw-normal">Reporting Method</h4>
              </div>
            </div>
            <div class="row flex-nowrap">
              <div class="col-xs-12">
                <fieldset>
                  <br/>
                  <div class="row" style="margin-bottom: -10px;">
                    <div style="padding-left:15px;">
                      <legend>How was this report originally received ?</legend>
                    </div>
                    <div class="abc-radio">
                      <input id="rd-email" title="Email" name="optradio" type="radio" value="EMAI" [(ngModel)]="permitPeriod.sourceCd" (ngModelChange)="trackChanges(true)">
                      <label for="rd-email">
                        Email
                      </label>
                    </div>
                    <div class="abc-radio">
                      <input id="rd-fax" title="Fax" name="optradio" type="radio" value="FAXX" [(ngModel)]="permitPeriod.sourceCd" (ngModelChange)="trackChanges(true)">
                      <label for="rd-fax">
                        Fax
                      </label>
                    </div>
                    <div class="abc-radio">
                      <input id="rd-mail" title="Mail" name="optradio" type="radio" value="MAIL" [(ngModel)]="permitPeriod.sourceCd" (ngModelChange)="trackChanges(true)">
                      <label for="rd-mail">
                        Mail
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </form>



  <div class="row">
    <div id="impform-doc" class="col-lg-12 col-xs-12">
      <section class="widget h-divider" style="overflow-x:auto;">
        <form class="form-horizontal" role="form">
          <div class="widget-body clearfix">
            <div class="row flex-nowrap" style="margin-bottom: 15px;">
              <div class="col-lg-4 col-md-3 col-sm-2">
                <h4 class="h4 no-margin fw-normal">Documentation</h4>
              </div>
              <div class="col-lg-8 col-md-9 col-sm-10">
                <div class="checkbox-inline checkbox-ios pull-right">
                  <label for="zero-report" class="switch" style="white-space: nowrap">
                    <input type="checkbox" title="Mark as Zero Report" [(ngModel)]="permitPeriod.zeroFlag" (ngModelChange)="trackChanges(true)"
                      [ngModelOptions]="{standalone: true}" class="ios" checked id="zero-report">
                    <i></i>
                    Mark As Zero Report
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div style="padding-left:0px;">
                <button id="btn-upload" type="button" class="btn btn-primary btn-block" title="Upload" data-toggle="modal" data-target="#edit-document"
                  data-backdrop="static" data-keyboard="false" focusOn="#edit-document" (click)="setSelectedDocument(this.newDoc, 'edit')"
                  style="white-space: nowrap; width: 200px; margin-bottom: 6px;">
                  <i class="fa fa-upload" aria-hidden="true"></i> Upload Document</button>
              </div>
            </div>
          </div>
        </form>
        <div class="widget-body clearfix">
          <table [ngBusy]="{busy: busy, message: 'Loading...', backdrop: false}" class="table table-hover" [mfData]="data" #mf="mfDataTable"
            [mfIsServerPagination]="false" [mfRowsOnPage]="10">
            <colgroup>
              <col style="width:30%">
              <col style="width:25%">
              <col style="width:33%">
            </colgroup>
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="docDesc">File Name</mfDefaultSorter>
                </th>
                <th class="hidden-sm-down">
                  <mfDefaultSorter by="formTypes">FORM</mfDefaultSorter>
                </th>
                <th class="hidden-sm-down">
                  <mfDefaultSorter by="createdDt">Date uploaded</mfDefaultSorter>
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody [ngBusy]="{busy: downloading, message: 'Downloading...', backdrop: false}">
              <tr *ngFor="let docfile of mf.data; let i = index; let last = last">
                <td>
                  <span class="fw-semi-bold">
                    <a target="_blank" (click)="enableLinkAuth(true)" href="api/reports/view/attachs/{{docfile.documentId}}">{{docfile.docDesc}}</a>
                  </span>
                  <td class="hidden-sm-down">{{docfile.formTypes}}
                  </td>
                  <td class="hidden-sm-down">{{docfile.createdDt | datePipe}}
                  </td>
                  <td style="white-space:nowrap">
                    <div class="row-action-buttons">
                      <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#confirm-popup" focusOn="#confirm-popup"
                        data-backdrop="static" data-keyboard="false" (click)="setSelectedDocument(this.docfile, 'delete')"
                        style="white-space: nowrap;">
                        <i class="fa fa-trash"></i> Delete</button>
                      <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#edit-document" focusOn="#edit-document"
                        data-backdrop="static" data-keyboard="false" (click)="setSelectedDocument(this.docfile, 'edit')" style="white-space: nowrap;">
                        <i class="fa fa-pencil"></i> Edit</button>
                      <button type="button" class="btn btn-outline-primary" (click)="downloadSelectedDocument(this.docfile)" style="white-space: nowrap;">
                        <i class="fa fa-arrow-circle-o-down"></i> Download</button>
                    </div>
                  </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="12">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5, 10, 25]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        <fieldset style="margin-left: 7px;">
          <legend>Select Missing Form(s)</legend>
          <div class="row">
            <div class="col-sm-4">
              <div class="checkbox-inline checkbox-ios">
                <label for="fda3852">
                  <input type="checkbox" title="fda 3852" (ngModelChange)="checkMissingForms($event, 'FDA 3852', true)" [(ngModel)]="msfda3852"
                    name="fda3852" id="fda3852"> FDA 3852
                </label>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="checkbox-inline checkbox-ios">
                <label for="ttb5220" style="white-space:nowrap">
                  <input type="checkbox" title="ttb 5220" (ngModelChange)="checkMissingForms($event, 'TTB 5220.6', true)" [(ngModel)]="msttb5220"
                    name="ttb5220" id="ttb5220"> TTB 5220.6
                </label>
              </div>
            </div>
            <div class="col-sm-4">
              <div aria-live="assertive" role="alert" class="missing-form-7501" style="white-space:nowrap">
                <select role="alert" (ngModelChange)="checkMissingForms($event, 'CBP 7501', true)" [(ngModel)]="mscbp7501" id="cbp-7501"
                  class="form-control fdatable" name="cbp-7501">
                  <option value="Select" selected="selected">Select</option>
                  <option value="partial">Partial</option>
                  <option value="all">All</option>
                </select>
                <label for="cbp-7501">
                  CBP 7501
                </label>
              </div>
            </div>
            <!-- <div class="col-md-3"></div> -->
          </div>
          <!--Warning text -->
          <div aria-live="assertive" *ngIf="missingFileErrorMsgs.length > 0">
            <div role="alert" class="row">
              <div class="col-lg-12 col-xs-12">
                <div class="form-group row">
                  <div class="col-md-12 col-xs-12">
                    <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'">
                      <div [innerHTML]="alert.msg"></div>
                    </alert>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <br/>
        <div *ngIf="permitPeriod.zeroFlag">
          <div comments-grid [comments]="zerocomments"> </div>
        </div>
      </section>
      <div *ngIf="!permitPeriod.zeroFlag" class="row">
        <div class="col-lg-offset-2 col-lg-12">
          <section class="widget h-divider" [ngBusy]="chbxbusy">
            <div class="widget-body clearfix">
              <div class="row flex-nowrap">
                <div class="col-xs-6">
                  <h4 class="h4 fw-normal">Tobacco Class</h4>
                  <p class="no-margin ">Select All That Apply</p>
                  <p></p>
                </div>
              </div>
              <div class="btn-toolbar">
                <toggle-button-tufa title="Cigarettes" [id]="'chk-cigarattes'" [(flag)]="ttmodel.showCigarettes" [lables]="['Cigarettes']"
                  (flagChange)="checkboxSelected('Cigarettes')" (flagChange)="trackChanges(true)"></toggle-button-tufa>
                <toggle-button-tufa title="Cigars" [id]="'chk-cigars'" [(flag)]="ttmodel.showCigars" [lables]="['Cigars']" (flagChange)="checkboxSelected('Cigars')"
                  (flagChange)="trackChanges(true)"></toggle-button-tufa>
                <toggle-button-tufa title="Snuff" [id]="'chk-snuffs'" [(flag)]="ttmodel.showSnuffs" [lables]="['Snuff']" (flagChange)="checkboxSelected('Snuff')"
                  (flagChange)="trackChanges(true)"></toggle-button-tufa>
                <toggle-button-tufa title="Chew" [id]="'chk-chews'" [(flag)]="ttmodel.showChews" [lables]="['Chew']" (flagChange)="checkboxSelected('Chew')"
                  (flagChange)="trackChanges(true)"></toggle-button-tufa>
                <toggle-button-tufa title="Pipe" [id]="'chk-pipes'" [(flag)]="ttmodel.showPipes" [lables]="['Pipe']" (flagChange)="checkboxSelected('Pipe')"
                  (flagChange)="trackChanges(true)"></toggle-button-tufa>
                <toggle-button-tufa title="Roll Your Own" [id]="'chk-roll'" [(flag)]="ttmodel.showRollYourOwn" [lables]="['Roll Your Own']"
                  (flagChange)="checkboxSelected('RollYourOwn')" (flagChange)="trackChanges(true)"></toggle-button-tufa>
                <toggle-button-tufa title="Select All" [id]="'select-all'" [lables]="['Select All']" (flagChange)="selectAllTobaccooTypeCheckboxSelected($event)"
                  (flagChange)="trackChanges(true)"></toggle-button-tufa>
              </div>
            </div>
          </section>
        </div>
      </div>

      <!--Add Recon Section-->
      <div *ngIf="isRecon==true" [reconStatusData]="reconStatusData" permitreport-recon [permitId]="permitId" (onReconApproval)="onReconApprovedEvent($event)"
        [periodId]="periodId"></div>

      <div id="impforms">
        <div impform-3852 *ngIf="!permitPeriod.zeroFlag && (ttmodel.isTTSelected)" [model]="ttmodel" [errorMsgs]="errorMsgs" (hasChanges)="trackChanges($event)"
          (download)="downloadForm('3852')"></div>
        <div impform-5220 *ngIf="!permitPeriod.zeroFlag && (ttmodel.isTTSelected)" [model]="ttmodel" [errorMsgs]="errorMsgs" (hasChanges)="trackChanges($event)"
          (download)="downloadForm('5220-6')"></div>
        <div impform-7501 *ngIf="!permitPeriod.zeroFlag && (ttmodel.isTTSelected)" [model]="ttmodel" [errorMsgs]="errorMsgs" (hasChanges)="trackChanges($event)"
          (download)="downloadForm('7501',$event)"></div>
      </div>
      <div aria-live="assertive" class="row">
        <div class="col-md-9">
          <div *ngIf="permitPeriod.zeroFlag">
            <div role="alert" *ngIf="isDocumentError() || missingFileErrorMsgs.length>0">
              <alert [type]="globalFormError.type + ' alert-sm'">
                <div>
                  <div [innerHTML]="globalFormError.msg"></div>
                  <div>
                    <a (aClick)="savePermitImpReportFormData('Complete');" class="btn btn-danger btn-xs pull-right mr-xs" href="javascript:void(0)">Save as Complete</a>
                  </div>
                  <ul>
                    <div *ngIf="isDocumentError()">
                      <li>{{documentErrorMsg.msg}}</li>
                    </div>
                    <div *ngFor="let error of missingFileErrorMsgs">
                      <li>{{error.msg}}</li>
                    </div>
                  </ul>
                </div>
              </alert>
            </div>
            <div role="alert" *ngIf="!isDocumentError() && !missingFileErrorMsgs.length>0">
              <alert [type]="globalFormSuccessMsg.type + ' alert-sm'">
                <div [innerHTML]="globalFormSuccessMsg.msg"></div>
              </alert>
            </div>
          </div>
          <div *ngIf="!permitPeriod.zeroFlag">
            <div *ngIf="ttmodel.isTTSelected">
              <div role="alert" *ngIf="((errorMsgs?.length > 0 || missingFileErrorMsgs.length>0) && !isFormEmpty)">
                <alert [type]="globalFormError.type + ' alert-sm'">
                  <div>
                    <div [innerHTML]="globalFormError.msg"></div>
                    <div>
                      <a (aClick)="savePermitImpReportFormData('Complete');" class="btn btn-danger btn-xs pull-right mr-xs" href="javascript:void(0)">Save as Complete</a>
                    </div>
                    <ul>
                      <div *ngFor="let error of errorMsgs">
                        <li>{{error.msg}}</li>
                      </div>
                      <div *ngFor="let error of missingFileErrorMsgs">
                        <li>{{error.msg}}</li>
                      </div>
                    </ul>
                  </div>
                </alert>
              </div>
              <div role="alert" *ngIf="errorMsgs?.length == 0 && missingFileErrorMsgs.length == 0 && !isFormEmpty">
                <alert [type]="globalFormSuccessMsg.type + ' alert-sm'">
                  <div [innerHTML]="globalFormSuccessMsg.msg"></div>
                </alert>
              </div>
              <div *ngIf="isFormEmpty">
                <alert [type]="globalFormNotStartedMsg.type + ' alert-sm'">
                  <div [innerHTML]="globalFormNotStartedMsg.msg"></div>
                  <a (aClick)="savePermitImpReportFormData('Complete');" class="btn btn-danger btn-xs pull-right mr-xs" href="javascript:void(0)">Save as Complete</a>
                  <ul>
                    <div *ngFor="let error of errorMsgsNotStarted">
                      <li>{{error.msg}}</li>
                    </div>
                    <div *ngFor="let error of missingFileErrorMsgs">
                      <li>{{error.msg}}</li>
                    </div>
                  </ul>
                </alert>
              </div>
            </div>
            <div role="alert" *ngIf="isFormEmpty  && !ttmodel.isTTSelected">
              <alert [type]="globalFormNotStartedMsg.type + ' alert-sm'">
                <div class="row">
                  <div class="col-md-12" [innerHTML]="globalFormNotStartedMsg.msg"></div>

                  <div class="col-md-10">
                    <ul>
                      <div *ngFor="let error of errorMsgsNotStarted">
                        <li>{{error.msg}}</li>
                      </div>
                      <div *ngFor="let error of missingFileErrorMsgs">
                        <li>{{error.msg}}</li>
                      </div>
                    </ul>
                  </div>
                  <div class="col-md-2">
                    <a (aClick)="savePermitImpReportFormData('Complete');" class="btn btn-danger btn-xs float-right mr-xs" href="javascript:void(0)">Save as Complete</a>
                  </div>
                </div>
              </alert>
            </div>
          </div>
        </div>
        <div role="alert" class="col-md-3">
          <span [ngBusy]="{busy: saveReportBusy, message: 'Saving...', backdrop: true}"></span>
          <button id="btn-save-pd" type="button" title="Save" (click)="savePermitPeriod()" class="btn btn-primary btn-block" style="white-space:nowrap;">
            Save Report
          </button>
        </div>
      </div>
    </div>
    <div ng-busy></div>
    <div ng-busy-backdrop></div>
    <div *ngIf="showEditDocumentPopup" edit-document [documentModel]="selectedDocument" (onDocumentEdit)="documentsGridRefresh($event, 'edit')"></div>
    <div *ngIf="showConfirmDeletePopup" confirm-popup [model]="selectedDocument" (onDocumentEdit)="documentsGridRefresh($event, 'delete')"></div>
  </div>
</div>