<form class="form-horizontal" role="form">
    <div class="row">
        <div class="col-lg-12">
            <section class="widget h-thin-divider">
                <div class="widget-body clearfix">
                    <div class="row flex-nowrap">
                        <div class="col-lg-12">
                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <ul style="margin-left:15px;" class="list-unstyled">
                                        <li class="fw-semi-bold">HTS Code: {{htsAssoc.htsCd}}</li>
                                        <li *ngFor="let cmpy of htsAssoc.companies">
                                            {{cmpy}}
                                        </li>
                                    </ul>
                                    <fieldset>
                                        <legend class="hide"></legend>
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <div class="abc-radio">
                                                    <input id="rd-cigarhtsa-{{index}}" [(ngModel)]="htsAssoc.tobaccoClass.tobaccoClassNm" (ngModelChange)="resetSaveStatus($event)" name="optradio"
                                                        type="radio" value="Cigars" [attr.title]="'Cigar'">
                                                    <label attr.for="rd-cigarhtsa-{{index}}" >CIGARS</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <div class="abc-radio">
                                                    <input id="rd-cigaretteshtsa-{{index}}" [(ngModel)]="htsAssoc.tobaccoClass.tobaccoClassNm" (ngModelChange)="resetSaveStatus($event)" name="optradio"
                                                        type="radio" value="Cigarettes" [attr.title]="'Cigarettes'">
                                                    <label attr.for="rd-cigaretteshtsa-{{index}}">CIGARETTES</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <div class="abc-radio">
                                                    <input id="rd-ryohtsa-{{index}}" [(ngModel)]="htsAssoc.tobaccoClass.tobaccoClassNm" (ngModelChange)="resetSaveStatus($event)" name="optradio"
                                                        type="radio" value="Roll-Your-Own" [attr.title]="'Roll Your Own'">
                                                    <label attr.for="rd-ryohtsa-{{index}}" >ROLL YOUR OWN</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <div class="abc-radio">
                                                    <input id="rd-pipehtsa-{{index}}" [(ngModel)]="htsAssoc.tobaccoClass.tobaccoClassNm" (ngModelChange)="resetSaveStatus($event)" name="optradio"
                                                        type="radio" value="Pipe" [attr.title]="'PIPE'">
                                                    <label attr.for="rd-pipehtsa-{{index}}" >PIPE</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <div class="abc-radio">
                                                    <input id="rd-snuffhtsa-{{index}}" [(ngModel)]="htsAssoc.tobaccoClass.tobaccoClassNm" (ngModelChange)="resetSaveStatus($event)" name="optradio"
                                                        type="radio" value="Snuff" [attr.title]="'SNUFF'">
                                                    <label attr.for="rd-snuffhtsa-{{index}}" >SNUFF</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <div class="abc-radio">
                                                    <input id="rd-chewhtsa-{{index}}" [(ngModel)]="htsAssoc.tobaccoClass.tobaccoClassNm" (ngModelChange)="resetSaveStatus($event)" name="optradio"
                                                        type="radio" value="Chew" [attr.title]="'CHEW'">
                                                    <label attr.for="rd-chewhtsa-{{index}}" >CHEW</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <div class="abc-radio">
                                                    <input id="rd-nontaxtobhtsa-{{index}}" [(ngModel)]="htsAssoc.tobaccoClass.tobaccoClassNm" (ngModelChange)="resetSaveStatus($event)" name="optradio"
                                                        type="radio" value="Non-Taxable" [attr.title]="'NON-TAXABLE TOBACCO'">
                                                    <label attr.for="rd-nontaxtobhtsa-{{index}}" >NON-TAXABLE TOBACCO</label>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="!savedHtsAssocSuccess" class="row flex-nowrap">
                        <div class="col-lg-10">
                        </div>
                        <div class="col-lg-2" style="margin-left:12px">
                            <button [disabled]="!hasSelection()" type="button" class="btn btn-primary pull-center wid100" title="Save Association"
                                (click)="saveHtsAssoc()">Save</button>
                        </div>
                    </div>
                    <div *ngIf="savedHtsAssocSuccess" class="row flex-nowrap">
                        <div class="col-lg-9">
                        </div>
                        <div class="col-lg-3" style="margin-left:12px">
                            <button class="btn btn-secondary mb-xs" role="button" style="width:190px;"><i style="margin-right:10px;" class="fa fa-check-circle text-success"></i>Saved Association!</button>
                        </div>
                    </div>
                    <div role="alert" class="row flex-nowrap">
                        <div class="col-lg-12">
                            <p class="buckethelper floatright">{{helperText}}</p>
                        </div>
                    </div>                      
                </div>
            </section>
        </div>
    </div>
</form>