<div class="modal fade" id="add-comment" tabindex="-1" role="dialog" aria-labelledby="title-comment" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="h4 modal-title text-xs-center fw-bold mt" id="title-comment">Add Comment</h4>
            </div>
            <div class="modal-body">
                <form id="addcomment-form" class="form-horizontal" role="form" data-parsley-priority-enabled="false" novalidate="novalidate"
                    data-parsley-validate data-parsley-focus="first">
                    <div class="row">
                        <div class="col-lg-12 col-xs-12">
                            <section class="widget" style="margin-bottom: 10px;">
                                <div class="widget-body clearfix">
                                    <div class="row" style="margin:0px 0px 10px 2px;"><span class="fw-semi-bold">Add comment to following quarters:</span></div>
                                    <div class="row">
                                        <div class="offset-md-1 btn-toolbar">
                                            <toggle-button-tufa title="quarter 1" [lables]="['Q1']" [isDisabled]="commentAction=='edit' || isQ1Exclude"
                                            (flagChange)="checkboxSelected(1)"></toggle-button-tufa>
                                            <toggle-button-tufa title="quarter 2" [lables]="['Q2']" [isDisabled]="commentAction=='edit' || isQ2Exclude"
                                            (flagChange)="checkboxSelected(2)"></toggle-button-tufa>
                                            <toggle-button-tufa title="quarter 3" [lables]="['Q3']" [isDisabled]="commentAction=='edit' || isQ3Exclude"
                                            (flagChange)="checkboxSelected(3)"></toggle-button-tufa>
                                            <toggle-button-tufa title="quarter 4" [lables]="['Q4']" [isDisabled]="commentAction=='edit' || isQ4Exclude"
                                            (flagChange)="checkboxSelected(4)"></toggle-button-tufa>
                                            <toggle-button-tufa title="all quarters" [lables]="['ALL']" [isDisabled]="commentAction=='edit'"
                                            (flagChange)="checkboxSelected('all')"></toggle-button-tufa>
                                        </div> 
                                    </div>
                                    <div class="row">
                                        <label [attr.for]="commentdesc" class="col-md-12 form-control-label text-md-left">
                                    Comment Description
                                    <!-- <span class="help-block">Required field</span> -->
                                </label>
                                        <div class="col-md-12 col-xs-12">
                                            <textarea [id]="commentdesc" title="Comment Description" class="form-control" title="Comment Description" maxlength="4000"
                                                [(ngModel)]="comment.userComment" [ngModelOptions]="{standalone: true}" rows="3"
                                                required="required" data-parsley-required-message="Error: Comment description is required">                             
                    </textarea>
                                        </div>
                                    </div>

                                </div>
                            </section>
                        </div>
                    </div>
                </form>
            </div>

            <div aria-live="assertive">
                <div role="alert" *ngIf="showErrorFlag" class="row">
                    <div class="col-lg-12 col-xs-12">
                        <div class="form-group row">
                            <div class="col-md-12 col-xs-12">
                                <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'">
                                    <div [innerHTML]="alert.msg"></div>
                                </alert>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <span class="pull-left">Saved comments cannot be deleted</span>
                <button type="button" [ngBusy]="busy" id="save-comment" class="btn btn-primary" (click)="updateComment($event)" [disabled]="isSaveDisable()">Save</button>
                <button type="button" class="btn btn-secondary" id="cancel-comment" (click)="cancelComment($event)">Cancel</button>
            </div>
        </div>
    </div>
</div>