<!-- <div class="container"> -->

<section class="widget h-divider" [style.width.px]="context =='alldeltas' ? '800' : ''">
    <!-- <div class="widget-body clearfix"> -->
    <div class="row">
        <div class="col-md-12">
            <div>
                <div>
                    <div>
                        <span class="h4 no-margin fw-normal">Comments</span>
                    </div>

                    <div style="padding-top:15px;" *ngIf="context =='alldeltas'">
                        <span> Warning: Editing comments that were saved using "Save All" will reflect across all affected deltas.
                        </span>
                    </div>
                    <div class="widget-body clearfix">
                        <table [mfDataTableName]="'compare-comments'" [(mfSortBy)]="sortResultsBy"
                            [(mfSortOrder)]="sortResultsOrder" class="table  table-hover custom" [mfData]="data" #mf="mfDataTable"
                            [mfIsServerPagination]="false" [mfRowsOnPage]="5" [mfActivePage]="1" [mfStoreStateonrefresh]="true"
                            style="table-layout: fixed; overflow-wrap: break-word; border-collapse: separate; border-spacing: 0px;">
                            <colgroup>
                                <col style="width: 50%">
                                <col style="width: 15%">
                                <col style="width: 15%">
                                <col *ngIf="(context =='alldeltas' || quarter == 0) && headerdata?.tobaccoClass !== 'Cigars'" style="width: 10%">
                                <col *ngIf="context !='alldeltas'" style="width: 10%">
                            </colgroup>
                            <thead class="topBorder">
                                <tr>
                                    <th class="hidden-sm-down" scope="col" id="h-comm-desc">
                                        <mfDefaultSorter by="userComment" title="Description">DESCRIPTION</mfDefaultSorter>
                                    </th>
                                    <th class="hidden-sm-down" scope="col" id="h-comm-author">
                                        <mfDefaultSorter by="author" title="Author">AUTHOR</mfDefaultSorter>
                                    </th>
                                    <th class="hidden-sm-down" scope="col" id="h-comm-date">
                                        <mfDefaultSorter by="commentDate" title="Date Added">DATE ADDED
                                        </mfDefaultSorter>
                                    </th>
                                    <!-- New Checkbox -->
                                    <th *ngIf="context =='alldeltas'" title="Resolved" class="checkWidth" scope="col" id="h-comm-checkbox" style="white-space: nowrap;">Resolved</th>
                                    <th *ngIf="quarter == 0 && headerdata.tobaccoClass !== 'Cigars'" scope="col" id="h-comm-quarter">QUARTER</th>
                                    <th *ngIf="context !='alldeltas'" class="hidden-sm-down" scope="col" id="h-comm-attachments" >
                                        <mfDefaultSorter by="attachmentsCount" title="Attachment">Attachments</mfDefaultSorter>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="scrollbar-dynamic-comment-grid">

                                <ng-container *ngIf="context =='alldeltas'">

                                    <tr *ngFor="let comment of mf.data; let i= index" style="cursor: pointer;" [style.color]="(i.checked || comment.resolveComment)  ? '#d3d3d3':'' ">
                                        <td style="word-break: break-all;" class="setwidthdescr">
                                            <span [id]="'com-'+ i" title="Comment">{{comment.userComment}}</span>
                                            <textarea maxlength="4000" style="display:none" rows="2" cols="35" [id]="'txtarea-'+ i" title="Comment" maxlength="4000">{{comment.userComment}}</textarea>
                                            <i [style.visibility]="(i.checked || comment.resolveComment) ? 'hidden':'' " *ngIf='canEditComment(comment.author)' title="Edit Comment"
                                                (click)='showTextArea(i)' class="fa fa-pencil" style="margin:3px 0px 0px 5px;color:green"></i>
                                            <i [style.visibility]="(i.checked || comment.resolveComment) ? 'hidden':'' " *ngIf='canEditComment(comment.author)' title="Save Comment"
                                                (click)="onSaveCommentClick(comment.commentSeq,i)" class="fa fa-save" style="margin:3px 0px 0px 5px;color:orange">
                                            </i>
                                        </td>
                                        <td class="setwidth">{{comment.author}}</td>
                                        <td class="setwidth">{{comment.commentDate | datePipe}}</td>
                                        <td *ngIf="context =='alldeltas'" class="checkWidth">
                                            <label class="custom-control custom-checkbox">
                                                <input #i type="checkbox" [checked]="comment.resolveComment" class="custom-control-input" (change)="!i['checked'];onResolveCommentChk(comment,comment.commentSeq,i)"
                                                    [disabled]="i.checked || comment.resolveComment">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-label"></span>
                                            </label>
                                        </td>
                                    </tr>
                                </ng-container>

                                <ng-container *ngIf="context !='alldeltas'">
                                    <tr *ngFor="let comment of mf.data; let i= index" style="cursor: pointer;">
                                        <td class="">{{comment.userComment}}
                                            <i *ngIf='canEditComment(comment.author)' data-toggle="modal" title="Add Comment" data-backdrop="static" data-keyboard="false"
                                                data-target="#add-comment" focusOn="addcomment-form" (click)='onEditCommentClick(comment)'
                                                class="fa fa-pencil" style="margin:3px 0px 0px 5px;"></i>
                                        </td>
                                        <td class="setwidth">{{comment.author}}</td>
                                        <td class="setwidth">{{comment.commentDate}}</td>
                                        <td *ngIf="headerdata.tobaccoClass !== 'Cigars'" class="setwidth">{{getCommentQuarterDisplay(comment.commentQtrs)}}</td>
                                        <td *ngIf='hasDocuments(comment)' class="setwidth">
                                            <button id="btn-upload"style="overflow-wrap: break-word" type="button" class="btn btn-outline-primary" title="Upload" data-toggle="modal" data-target="#cmpdetail-edit-document-comments"
                                                data-backdrop="static" data-keyboard="false" focusOn="#cmpdetail-edit-document-comments" (click)="openPopup(comment)">
                                                <i class="fa fa-upload" aria-hidden="true"></i> {{comment.attachmentsCount}} document(s)
                                            </button>
                                        </td>
                                        <td *ngIf='!hasDocuments(comment)' class="setwidth">
                                            <button id="btn-upload" style="white-space:nowrap" type="button" class="btn btn-outline-primary" title="Upload" data-toggle="modal" data-target="#cmpdetail-edit-document-comments"
                                                data-backdrop="static" data-keyboard="false" focusOn="#cmpdetail-edit-document-comments" (click)="openPopup(comment)">
                                                <i class="fa fa-upload" aria-hidden="true"></i> Attach
                                            </button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="12">
                                        <mfBootstrapPaginator [rowsOnPageSet]="[5, 10, 25]"></mfBootstrapPaginator>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div *ngIf="context !=='alldeltas'" class="float-right" style="margin-top:40px;">
                <button id="btn-save-comm" type="button" class="btn btn-primary" data-toggle="modal" title="Add Comment" data-backdrop="static"
                    data-keyboard="false" data-target="#add-comment" focusOn="addcomment-form" (click)="onAddCommentClick()">
                    Add Comment
                </button>

            </div>
            
            <div *ngIf="context=='cbpdetail'">
                <div *ngIf="showCommentModal" cbpdetails-comment (updateGridComments)="updateCommentGrid($event)" (hideModal)="showCommentModal = false"
                    [acceptanceFlag]="acceptanceFlag" [headerdata]="headerdata" [quarter]="quarter" [compareData]="compareData"
                    [commentAction]="commentAction" [commentEdit]="commentEdit" [excludeQuarters]="excludedQtrs" (commentDeleted)="onCommentDeleted($event)"
                    [ingestionContext]="ingestionContext">
                </div>
            </div>

            <div *ngIf="context=='ttbdetail'">
                <div *ngIf="showCommentModal" ttbdetails-comment (updateGridComments)="updateCommentGrid($event)" (hideModal)="showCommentModal = false"
                    [acceptanceFlag]="acceptanceFlag" [headerdata]="headerdata" [quarter]="quarter" [compareData]="compareData"
                    [commentAction]="commentAction" [commentEdit]="commentEdit" [excludeQuarters]="excludedQtrs" (commentDeleted)="onCommentDeleted($event)"
                    [ingestionContext]="ingestionContext">
                </div>
            </div>
          
            <div *ngIf="showDocumentUploadPopup" cmpdetail-edit-document-comments  [commentAttachmentInput]="commentAttachment"
                    (onDocumentClose)="showDocumentUploadPopup = $event;"  [context] = "context"> 
            </div>
           
            <!-- </div> -->
        </div>
    </div>
</section>
<!-- </div> -->