<!-- <div class="container"> -->

    <section class="widget h-divider">
        <!-- <div class="widget-body clearfix"> -->
        <div class="row">
            <div class="col-md-12">
                <div>
                    <div>
                        <div>
                            <span class="h4 no-margin fw-normal">Comments</span>
                        </div>
                        <div class="widget-body clearfix">
                            <table [ngBusy]="{busy: busy, message: 'Loading...', backdrop: true}"
                                [(mfSortBy)]="sortResultsBy" [(mfSortOrder)]="sortResultsOrder" class="table  table-hover"
                                [mfData]="data|propFilterPipe:filterData" #mf="mfDataTable" [mfIsServerPagination]="false"
                                [mfRowsOnPage]="5" [mfActivePage]="1" style="overflow-wrap: break-word">
                                <colgroup>
                                    <col style="width:55%">
                                    <col style="width:15%">
                                    <col style="width:15%">
                                    <col style="width:15%">
                                </colgroup>
                                <thead style="display: block">
                                    <tr>
                                        <th class="hidden-sm-down" scope="col" id="h-comm-desc" class="setwidthdescr">
                                            <mfDefaultSorter by="userComment">DESCRIPTION</mfDefaultSorter>
                                        </th>
                                        <th class="hidden-sm-down" scope="col" id="h-comm-author" class="setwidth">
                                            <mfDefaultSorter by="author" title="author">AUTHOR</mfDefaultSorter>
                                        </th>
                                        <th class="hidden-sm-down" scope="col" id="h-comm-date" class="setwidth">
                                            <mfDefaultSorter by="commentDate" title="date added">DATE ADDED
                                            </mfDefaultSorter>
                                        </th>
    
                                        <th>
                                            <div class="input-group">
                                                <span style="height:33px" class="input-group-text">QTR</span>
                                                <select id="multiselectQtr-{{quarter}}" multiple="multiple">
                                                    <span class="input-group-text">
                                                        <i class="fa fa-filter"></i>
                                                    </span>
                                                    <option value="1">Quarter 1</option>
                                                    <option value="2">Quarter 2</option>
                                                    <option value="3">Quarter 3</option>
                                                    <option value="4">Quarter 4</option>
                                                </select>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
    
                                <tbody class="scrollbar-dynamic-comment-grid">
                                    <tr *ngFor="let comment of mf.data; let i= index" style="cursor: pointer;">
                                        <td class="setwidthdescr">{{comment.userComment}}</td>
                                        <td class="setwidth">{{comment.author}}</td>
                                        <td class="setwidth">{{comment.commentDate}}</td>
                                        <td class="setwidth" align="center">{{comment.qtr}}</td>
                                    </tr>
                                </tbody>
    
                                <tfoot>
                                    <tr>
                                        <td colspan="12">
                                            <mfBootstrapPaginator [rowsOnPageSet]="[5, 10, 25]"></mfBootstrapPaginator>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div *ngIf="context !=='cbpdetail'" class="row" style="margin-top:40px;">
                    <div class="offset-md-10">
                        <button id="btn-save-comm" type="button" class="btn btn-primary btn-block" data-toggle="modal"
                            title="Add Comment" data-backdrop="static" data-keyboard="false" data-target="#add-comment"
                            focusOn="addcomment-form" (click)="onAddCommentClick()">
                            Add Comment
                        </button>
                    </div>
    
    
                </div>
    
                <div *ngIf="context=='cbpdetail'">
                    <div *ngIf="showCommentModal" cbpdetails-comment (updateGridComments)="updateCommentGrid($event)"
                        (hideModal)="showCommentModal = false" [acceptanceFlag]="acceptanceFlag" [headerdata]="headerdata"
                        [quarter]="quarter" [compareData]="compareData"></div>
                </div>
    
                <div *ngIf="context=='ttbdetail'">
                    <div *ngIf="showCommentModal" ttbdetails-comment (updateGridComments)="updateCommentGrid($event)"
                        (hideModal)="showCommentModal = false" [acceptanceFlag]="acceptanceFlag" [headerdata]="headerdata"
                        [quarter]="quarter" [compareData]="compareData"></div>
                </div>
                <!-- </div> -->
            </div>
        </div>
    </section>
    <!-- </div> -->