<div class="modal fade" id="add-comment" tabindex="-1" role="dialog" aria-labelledby="title-comment" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="h4 modal-title text-xs-center fw-bold mt" id="title-comment">
                    {{commentAction=='edit'?'Edit Comment':'Add Comment'}}</h4>
            </div>
            <div class="modal-body">
                <form id="addcomment-form" class="form-horizontal" role="form" data-parsley-priority-enabled="false" novalidate="novalidate"
                    data-parsley-validate data-parsley-focus="first">
                    <div class="row">
                        <div class="col-lg-12 col-xs-12">
                            <section class="widget" style="margin-bottom: 10px;">
                                <div class="widget-body clearfix">
                                    <div *ngIf="headerdata.tobaccoClass !== 'Cigars'" class="row" style="margin:0px 0px 10px 2px;">
                                        <span class="fw-semi-bold">
                                            {{commentAction=='edit'?'Edit':'Add'}} comment to following quarters:</span>
                                    </div>
                                    <div *ngIf="headerdata.tobaccoClass === 'Cigars'" class="row" style="margin:0px 0px 10px 2px;">
                                        <span class="fw-semi-bold">
                                            {{commentAction=='edit'?'Edit':'Add'}} comment below:</span>
                                    </div>
                                    <div *ngIf="headerdata.tobaccoClass !== 'Cigars'" class="row">
                                        <div class="offset-md-1">
                                            <toggle-button-tufa [id]="'togle-btn-q1'" title="quarter 1" [lables]="['Q1']" [isDisabled]="commentAction=='edit' || isQ1Exclude"
                                                [flag]="qtrSelected[0]>0" (flagChange)="checkboxSelected(1)">
                                            </toggle-button-tufa>
                                            <toggle-button-tufa [id]="'togle-btn-q2'" title="quarter 2" [lables]="['Q2']" [isDisabled]="commentAction=='edit' || isQ2Exclude"
                                                [flag]="qtrSelected[1]>0" (flagChange)="checkboxSelected(2)">
                                            </toggle-button-tufa>
                                            <toggle-button-tufa [id]="'togle-btn-q3'" title="quarter 3" [lables]="['Q3']" [isDisabled]="commentAction=='edit' || isQ3Exclude"
                                                [flag]="qtrSelected[2]>0" (flagChange)="checkboxSelected(3)">
                                            </toggle-button-tufa>
                                            <toggle-button-tufa [id]="'togle-btn-q4'" title="quarter 4" [lables]="['Q4']" [isDisabled]="commentAction=='edit' || isQ4Exclude"
                                                [flag]="qtrSelected[3]>0" (flagChange)="checkboxSelected(4)">
                                            </toggle-button-tufa>
                                            <toggle-button-tufa [id]="'togle-btn-all'" title="all quarters" [lables]="['ALL']" [isDisabled]="commentAction=='edit'" (flagChange)="checkboxSelected('all')"></toggle-button-tufa>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="commentdesc" class="col-md-12 form-control-label text-md-left">
                                            Comment Description
                                            <!-- <span class="help-block">Required field</span> -->
                                        </label>
                                        <div class="col-md-12 col-xs-12">
                                            <textarea id="commentdesc" title="Comment Description" class="form-control" title="Comment Description" maxlength="4000"
                                                [(ngModel)]="comment.userComment" [ngModelOptions]="{standalone: true}" rows="3"
                                                required="required" data-parsley-required-message="Error: Comment description is required">
                    </textarea>
                                        </div>
                                    </div>

                                </div>
                            </section>
                        </div>
                    </div>
                </form>
            </div>

            <div aria-live="assertive">
                <div role="alert" *ngIf="showCommentsErrorFlag" class="row">
                    <div class="col-lg-12 col-xs-12">
                        <div class="form-group row">
                            <div class="col-md-12 col-xs-12">
                                <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'">
                                    <div [innerHTML]="alert.msg"></div>
                                </alert>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button *ngIf="commentAction=='edit'" type="button" id="delete-comment" class="btn btn-danger pull-left" [ngBusy]="busy" (click)="deleteComment($event)">Delete</button>
                <button type="button" id="save-comment" class="btn btn-primary"  [disabled]="isSaveDisable()"  [ngBusy]="busy" (click)="updateComment($event)">Save</button>
                <button type="button" class=" btn btn-secondary" id="cancel-comment" (click)="cancelComment($event)">Cancel</button>
            </div>
        </div>
    </div>
</div>