table > .custom {
  display: table;
  border-color: grey;
}

.table > thead > tr > th {
  border-bottom-width: 0px;
}

.scrollbar-dynamic-comment-grid {
max-height: 600px;
overflow-y: auto;
}

.topBorder {
border-top: solid 1px;
margin-top: 10px;
border-color: #D3D3D3;
}

.setwidthdescr {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  }
