.scrollbar-dynamic-comment-grid {
    max-height: 100px;
    max-width: 100%;
    //overflow-x: visible;
    overflow-y: auto;
    display: block;
  }
  
  .setwidth {
    width: 250px;
    //word-break: break-all;
    word-wrap: normal;
  }
  
  
  .setwidthdescr {
    width: 450px;
    //word-break: break-all;
    word-wrap: normal;
  }