<form class="form-horizontal" role="form">
    <div class="row">
        <div class="col-lg-12">
            <section class="widget h-thin-divider">
                <div class="widget-body clearfix breathe">
                    <div class="row flex-nowrap">
                        <div class="col-lg-12">

                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <!--<ul style="margin-left:15px;" class="list-unstyled">
                                        <li>{{cmpyAssoc.tufaLegalNm}}</li>
                                    </ul>-->
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-md-1 col-lg-1">
                                                <div class="abc-radio">
                                                    <input id="rd-impnm-{{index}}" [(ngModel)]="cmpyAssoc.associationTypeCd"
                                                        (ngModelChange)="resetSaveStatus($event, cmpyAssoc.impInTufa)"
                                                        name="associationradio" type="radio" value="IMPT" [attr.title]="'Importer'">
                                                    <label attr.for="rd-impnm-{{index}}"></label>
                                                </div>
                                                <!--<label attr.for="rd-impnm-{{index}}" class="h6 fw-semi-bold">{{cmpyAssoc.importerNm}}<span *ngIf="cmpyAssoc.existsInTufaFlag === 'Y'" style="margin-left:15px;" class="label label-info">COMPANY IN TUFA</span><legend style="font-size:12px;border:0">IMPORTER</legend>-->
                                                <!--<label attr.for="rd-impnm-{{index}}">-->
                                            </div>
                                            <div style="margin-top:5px" class="col-md-11 col-lg-11">

                                                <p>
                                                    <a  href="javascript:void(0);" data-toggle=""  role="button"
                                                        aria-expanded="false">
                                                        {{cmpyAssoc.importerNm}} - IMPORTER <span *ngIf="cmpyAssoc.impInTufa === 'Y'"
                                                            style="margin-left:15px;" class="label label-info">COMPANY
                                                            IN TUFA</span>
                                                    </a>

                                                </p>
                                                <div id="collapse-impnm-{{index}}">
                                                    <div class="card card-body">

                                                        <table class="table-condensed-padd table-bordered table-condensed-fixed" [mfData]="importerDeltas"
                                                            [mfIsServerPagination]="false" #mfImp="mfDataTable">
                                                            <colgroup span="1"></colgroup>
                                                            <colgroup span="impColCnt"></colgroup>
                                                            <colgroup span="impColCnt"></colgroup>

                                                            <tr>
                                                                <th    style="background-color: #95b6d7; color:white" *ngIf="impColCnt>0"></th>
                                                                <th    style="background-color: #95b6d7; color:white" *ngIf="impColCnt>0" [attr.colspan]="impColCnt" scope="colgroup">Current
                                                                    Delta</th>
                                                                <th     style="background-color: #95b6d7; color:white" *ngIf="impColCnt>0 && associationTypeCdFlag!='IMPT'" [attr.colspan]="impColCnt" scope="colgroup">New
                                                                    Delta</th>
                                                            </tr>
                                                            <tr>
                                                                <th   *ngIf="impColCnt>0">Quarter</th>
                                                                <th  *ngIf="isImpTT(1)">Cigar</th>
                                                                <th  *ngIf="isImpTT(2)">Cigarettes</th>
                                                                <th  *ngIf="isImpTT(4)">Chew</th>
                                                                <th  *ngIf="isImpTT(8)">Snuff</th>
                                                                <th  *ngIf="isImpTT(16)">Pipe</th>
                                                                <th  *ngIf="isImpTT(32)">RYO</th>
                                                                <th  *ngIf="isImpTT(64)">Unknown</th>

                                                                <th  *ngIf="isImpTT(1,true)">Cigar</th>
                                                                <th  *ngIf="isImpTT(2,true)">Cigarettes</th>
                                                                <th  *ngIf="isImpTT(4,true)">Chew</th>
                                                                <th  *ngIf="isImpTT(8,true)">Snuff</th>
                                                                <th  *ngIf="isImpTT(16,true)">Pipe</th>
                                                                <th  *ngIf="isImpTT(32,true)">RYO</th>
                                                                <th  *ngIf="isImpTT(64,true)">Unknown</th>
                                                            </tr>

                                                            <tr *ngFor="let delta of mfImp.data; let i= index; let f=first; let l=last;"
                                                                [hidden]="!isImpQtr(delta.quarter)">
                                                                <td >
                                                                    {{quarters[delta.quarter-1]}}
                                                                </td>
                                                                <td  *ngIf="isImpTT(1)">
                                                                    {{isDef(delta.taxesCigarsTufa)?(delta.taxesCigarsTufa|currency:'USD':'symbol':'1.2-2'| minustoparens):'N/A'}}
                                                                </td>
                                                                <td  *ngIf="isImpTT(2)">
                                                                    {{isDef(delta.taxesCigsTufa)?(delta.taxesCigsTufa|currency:'USD':'symbol':'1.2-2'| minustoparens):'N/A'}}
                                                                </td>
                                                                <td  *ngIf="isImpTT(4)">
                                                                    {{isDef(delta.taxesChewTufa)?(delta.taxesChewTufa|currency:'USD':'symbol':'1.2-2'| minustoparens):'N/A'}}
                                                                </td>

                                                                <td  *ngIf="isImpTT(8)">
                                                                    {{isDef(delta.taxesSnuffTufa)?(delta.taxesSnuffTufa|currency:'USD':'symbol':'1.2-2' | minustoparens):'N/A'}}
                                                                </td>
                                                                <td  *ngIf="isImpTT(16)">
                                                                    {{isDef(delta.taxesPipeTufa)?(delta.taxesPipeTufa|currency:'USD':'symbol':'1.2-2'| minustoparens):'N/A'}}
                                                                </td>
                                                                <td  *ngIf="isImpTT(32)">
                                                                    {{isDef(delta.taxesRYOTufa)?(delta.taxesRYOTufa|currency:'USD':'symbol':'1.2-2'| minustoparens):'N/A'}}
                                                                </td>
                                                                <td  *ngIf="isImpTT(64)">
                                                                    N/A
                                                                </td>

                                                                <td  *ngIf="isImpTT(1,true)">
                                                                    {{isDef(delta.deltaCigars)?(delta.deltaCigars|currency:'USD':'symbol':'1.2-2'| minustoparens):'N/A'}}
                                                                </td>
                                                                <td  *ngIf="isImpTT(2,true)">
                                                                    {{isDef(delta.deltaCigarettes)?(delta.deltaCigarettes|currency:'USD':'symbol':'1.2-2' | minustoparens):'N/A'}}
                                                                </td>
                                                                <td  *ngIf="isImpTT(4,true)">
                                                                    {{isDef(delta.deltaChew)?(delta.deltaChew|currency:'USD':'symbol':'1.2-2' | minustoparens):'N/A'}}
                                                                </td>
                                                                <td  *ngIf="isImpTT(8,true)">
                                                                    {{isDef(delta.deltaSnuff)?(delta.deltaSnuff|currency:'USD':'symbol':'1.2-2'| minustoparens):'N/A'}}
                                                                </td>
                                                                <td  *ngIf="isImpTT(16,true)">
                                                                    {{isDef(delta.deltaPipe)?(delta.deltaPipe|currency:'USD':'symbol':'1.2-2'| minustoparens):'N/A'}}
                                                                </td>
                                                                <td  *ngIf="isImpTT(32,true)">
                                                                    {{isDef(delta.deltaRYO)?(delta.deltaRYO|currency:'USD':'symbol':'1.2-2'| minustoparens):'N/A'}}
                                                                </td>
                                                                <td  *ngIf="isImpTT(64,true)">
                                                                    {{isDef(delta.deltaUnknown)?(delta.deltaUnknown|currency:'USD':'symbol':'1.2-2' | minustoparens):'N/A'}}
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End of Delta Table -->
                                        </div>

                                        <div class="row">
                                            <div class="col-md-1 col-lg-1">
                                                <div class="abc-radio">
                                                    <input id="rd-cngnm-{{index}}" [(ngModel)]="cmpyAssoc.associationTypeCd"
                                                        (ngModelChange)="resetSaveStatus($event, 'Y')" name="associationradio"
                                                        type="radio" value="CONS" [attr.title]="'Consignee'">
                                                    <!--<label attr.for="rd-cngnm-{{index}}" class=" h6 fw-semi-bold">{{cmpyAssoc.consigneeNm}}<span style="margin-left:15px;" class="label label-info">COMPANY IN TUFA</span><legend style="font-size:12px;border:0">CONSIGNEE</legend></label>-->
                                                    <label attr.for="rd-cngnm-{{index}}"></label>
                                                </div>
                                            </div>
                                            <div style="margin-top:5px" class="col-md-11 col-lg-11">

                                                <p>
                                                    <a href="javascript:void(0);" data-toggle=""  role="button"
                                                        aria-expanded="false">
                                                        {{cmpyAssoc.consigneeNm}} - CONSIGNEE <span *ngIf="cmpyAssoc.consgInTufa === 'Y'"
                                                            style="margin-left:15px;" class="label label-info">COMPANY
                                                            IN TUFA</span>
                                                    </a>

                                                </p>
                                                <div id="collapse-cngnm-{{index}}">
                                                    <div class="card card-body">

                                                        <table class="table-condensed-padd table-bordered table-condensed-fixed" [mfData]="consigneeDeltas"
                                                            [mfIsServerPagination]="false" #mf="mfDataTable">
                                                            <colgroup span="1"></colgroup>
                                                            <colgroup span="consignColCnt"></colgroup>
                                                            <colgroup span="consignColCnt"></colgroup>
                                                        
                                                            <tr>
                                                                <th    style="background-color: #95b6d7; color:white" *ngIf="consignColCnt>0"></th>
                                                                <th    style="background-color: #95b6d7; color:white" *ngIf="consignColCnt>0" [attr.colspan]="consignColCnt"
                                                                    scope="colgroup">Current Delta</th>
                                                                <th    style="background-color: #95b6d7; color:white" *ngIf="consignColCnt>0 && associationTypeCdFlag!='CONS'" [attr.colspan]="consignColCnt"
                                                                    scope="colgroup">New Delta</th>
                                                            </tr>
                                                            <tr>
                                                                <th  *ngIf="consignColCnt>0">Quarter</th>
                                                                <th  *ngIf="isConsigTT(1)">Cigar</th>
                                                                <th  *ngIf="isConsigTT(2)">Cigarettes</th>
                                                                <th  *ngIf="isConsigTT(4)">Chew</th>
                                                                <th  *ngIf="isConsigTT(8)">Snuff</th>
                                                                <th  *ngIf="isConsigTT(16)">Pipe</th>
                                                                <th  *ngIf="isConsigTT(32)">RYO</th>
                                                                <th  *ngIf="isConsigTT(64)">Unknown</th>
                                                            
                                                                <th  *ngIf="isConsigTT(1,true)">Cigar</th>
                                                                <th  *ngIf="isConsigTT(2,true)">Cigarettes</th>
                                                                <th  *ngIf="isConsigTT(4,true)">Chew</th>
                                                                <th  *ngIf="isConsigTT(8,true)">Snuff</th>
                                                                <th  *ngIf="isConsigTT(16,true)">Pipe</th>
                                                                <th  *ngIf="isConsigTT(32,true)">RYO</th>
                                                                <th  *ngIf="isConsigTT(64,true)">Unknown</th>
                                                            
                                                            </tr>

                                                            <tr *ngFor="let delta of mf.data; let i= index; let f=first; let l=last;"
                                                                [hidden]="!isConsgQtr(delta.quarter)">

                                                                <td >
                                                                    {{quarters[delta.quarter-1]}}
                                                                </td>
                                                                <td  *ngIf="isConsigTT(1)">
                                                                    {{isDef(delta.taxesCigarsTufa)?(delta.taxesCigarsTufa|currency:'USD':'symbol':'1.2-2' | minustoparens):'N/A'}}
                                                                </td>
                                                                <td  *ngIf="isConsigTT(2)">
                                                                    {{isDef(delta.taxesCigsTufa)?(delta.taxesCigsTufa|currency:'USD':'symbol':'1.2-2'| minustoparens):'N/A'}}
                                                                </td>
                                                                <td  *ngIf="isConsigTT(4)">
                                                                    {{isDef(delta.taxesChewTufa)?(delta.taxesChewTufa|currency:'USD':'symbol':'1.2-2'| minustoparens):'N/A'}}
                                                                </td>
                                                                <td  *ngIf="isConsigTT(8)">
                                                                    {{isDef(delta.taxesSnuffTufa)?(delta.taxesSnuffTufa|currency:'USD':'symbol':'1.2-2'| minustoparens):'N/A'}}
                                                                </td>
                                                                <td  *ngIf="isConsigTT(16)">
                                                                    {{isDef(delta.taxesPipeTufa)?(delta.taxesPipeTufa|currency:'USD':'symbol':'1.2-2'| minustoparens):'N/A'}}
                                                                </td>
                                                                <td  *ngIf="isConsigTT(32)">
                                                                    {{isDef(delta.taxesRYOTufa)?(delta.taxesRYOTufa|currency:'USD':'symbol':'1.2-2'| minustoparens):'N/A'}}
                                                                </td>
                                                                <td  *ngIf="isConsigTT(64)">
                                                                    N/A
                                                                </td>

                                                                <td  *ngIf="isConsigTT(1,true)">
                                                                    {{isDef(delta.deltaCigars)?(delta.deltaCigars|currency:'USD':'symbol':'1.2-2'| minustoparens):'N/A'}}
                                                                </td>
                                                                <td  *ngIf="isConsigTT(2,true)">
                                                                    {{isDef(delta.deltaCigarettes)?(delta.deltaCigarettes|currency:'USD':'symbol':'1.2-2'| minustoparens):'N/A'}}
                                                                </td>
                                                                <td  *ngIf="isConsigTT(4,true)">
                                                                    {{isDef(delta.deltaChew)?(delta.deltaChew|currency:'USD':'symbol':'1.2-2'| minustoparens):'N/A'}}
                                                                </td>
                                                                <td  *ngIf="isConsigTT(8,true)">
                                                                    {{isDef(delta.deltaSnuff)?(delta.deltaSnuff|currency:'USD':'symbol':'1.2-2'| minustoparens):'N/A'}}
                                                                </td>
                                                                <td  *ngIf="isConsigTT(16,true)">
                                                                    {{isDef(delta.deltaPipe)?(delta.deltaPipe|currency:'USD':'symbol':'1.2-2'| minustoparens):'N/A'}}
                                                                </td>
                                                                <td  *ngIf="isConsigTT(32,true)">
                                                                    {{isDef(delta.deltaRYO)?(delta.deltaRYO|currency:'USD':'symbol':'1.2-2'| minustoparens):'N/A'}}
                                                                </td>
                                                                <td  *ngIf="isConsigTT(64,true)">
                                                                    {{isDef(delta.deltaUnknown)?(delta.deltaUnknown|currency:'USD':'symbol':'1.2-2'| minustoparens):'N/A'}}
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>



                                        <div class="row">
                                            <div class=" col-md-1 col-lg-1">
                                                <div class="abc-radio">
                                                    <input id="rd-excl-{{index}}" [(ngModel)]="cmpyAssoc.associationTypeCd"
                                                        (ngModelChange)="resetSaveStatus($event, cmpyAssoc.existsInTufaFlag)"
                                                        name="associationradio" type="radio" value="EXCL" [attr.title]="'Exclude Entry Lines'">
                                                    <label attr.for="rd-excl-{{index}}"></label>
                                                </div>

                                            </div>
                                            <div style="margin-top:5px" class="col-md-11 col-lg-11">
                                                <label attr.for="rd-excl-{{index}}" class="h6 fw-semi-bold">Exclude
                                                    Entry Lines</label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="!cmpyAssoc.providedAnswer" class="row flex-nowrap">
                        <div class="col-lg-10">
                        </div>
                        <div class="col-lg-2">
                            <button [disabled]="!hasSelection()||this.cmpyAssoc.hasUnknownTT" type="button" class="btn btn-primary pull-center wid100"
                                title="Save Association" (click)="saveCmpyAssoc()" name="saveCompanyAssociation">Save</button>
                        </div>
                    </div>
                    <div *ngIf="cmpyAssoc.providedAnswer" class="row flex-nowrap">
                        <div class="col-lg-9">
                        </div>
                        <div class="col-lg-3">
                            <button style="width:190px;" class="btn btn-secondary mb-xs" role="button"><i style="margin-right:10px;"
                                    class="fa fa-check-circle text-success"></i>Saved Association!</button>
                        </div>
                    </div>
                    <div role="alert" class="row flex-nowrap">
                        <div class="col-lg-12">
                            <p class="buckethelper floatright">{{helperText}}</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</form>