<div class="row">
    <div class="col-lg-7 col-xs-7 btn-toolbar">
        <button *ngIf="acceptanceFlag === 'FDAaccepted'" type="button" id="btn-accepted-fda" class="btn btn-secondary">
            <i style="margin-right:10px;" class="fa fa-check-circle text-success"></i>FDA Accepted!</button>
        <button *ngIf="acceptanceFlag !== 'FDAaccepted'" type="button" id="btn-acc-fda" class="btn btn-primary" [disabled]="!hasLoaded || isValid||disableAmendApprove||acceptanceFlag==='DeltaChngZ' || acceptanceFlag==='ExcludeChange' || acceptanceFlag==='DeltaChangeTrueZero'"
            (click)="acceptFDA3852()">Accept FDA 3852</button>

        <ng-container *ngIf="shareData.permitType === 'Importer'; else manufacturerButtons">
            <button *ngIf="acceptanceFlag === 'Ingestedaccepted'" type="button" id="btn-accepted-ingest" class="btn btn-secondary">
                <i style="margin-right:10px;" class="fa fa-check-circle text-fun"></i> Ingested Accepted!</button>
            <button *ngIf="acceptanceFlag !== 'Ingestedaccepted'" type="button" id="btn-acc-ingest" class="btn btn-primary" [disabled]="acceptIngestDisable()"
                (click)="acceptIngested()">Accept Ingested</button>
        </ng-container>
        <ng-template #manufacturerButtons>
            <button *ngIf="acceptanceFlag === 'Ingestedaccepted'" data-toggle="modal" data-keyboard="false"
            [attr.data-target]="'#accept-ingested-modal-'+quarter" data-backdrop="static" type="button" id="btn-accepted-ingest" class="btn btn-secondary" (click)="showEsimateTaxPopup()">
                <i style="margin-right:10px;" class="fa fa-check-circle text-fun"></i> Ingested Accepted!</button>
            <button *ngIf="acceptanceFlag !== 'Ingestedaccepted'" data-toggle="modal" data-keyboard="false"
            [attr.data-target]="'#accept-ingested-modal-'+quarter" data-backdrop="static" type="button" id="btn-acc-ingest" class="btn btn-primary" [disabled]="acceptIngestDisable()"
                (click)="acceptIngested()">Accept Ingested</button>
        </ng-template>

        <button *ngIf="shareData.permitType === 'Importer'" type="button" id="btn-mixed-action" class="btn btn-primary" (click)="mixedActionClicked()"
            [disabled]="acceptanceFlag==='ExcludeChange'|| acceptanceFlag==='DeltaChngZ' ||  acceptanceFlag==='DeltaChangeTrueZero' || disableAmendApprove || isValid || (this.isCompundTobaccoType() && !this.hasVolumeData)">Mixed Action</button>
        <button *ngIf="shareData.permitType === 'Manufacturer'" type="button" id="btn-mixed-action" class="btn btn-primary" (click)="mixedActionManuClicked()"
        [disabled]="acceptanceFlag==='ExcludeChange'|| acceptanceFlag==='DeltaChngZ' ||  acceptanceFlag==='DeltaChangeTrueZero' || disableAmendApprove || isValid || (this.isCompundTobaccoType() && !this.hasVolumeData)">Mixed Action</button>

        <button *ngIf="acceptanceFlag === 'InProgress'" role="button" id="btn-progresses" class="btn btn-default mb-xs">
            <i style="margin-right:10px;color:#f0b518" class="fa fa-repeat"></i>In Progress!</button>
        <button *ngIf="acceptanceFlag !== 'InProgress'" [disabled]="!hasLoaded || disableAmendApprove ||  acceptanceFlag==='ExcludeChange' || acceptanceFlag==='DeltaChngZ' || acceptanceFlag==='DeltaChangeTrueZero'"
            (click)="InProgressclicked()" type="button" id="btn-in-progress" class="btn btn-primary">In Progress</button>
        <button (click)="continueclicked()" type="button" id="btn-in-continue" class="btn btn-primary">Continue</button>
    </div>
    <div *ngIf = "acceptanceFlag ==='MixedAction' && shareData.permitType === 'Importer'" class = "col-lg-5 col-xs-5" style="padding-top: 20px;">
        <div class = "row"><div class = "col-lg-6 col-xs-6"><label><b>Total {{shareData.tobaccoClass}}</b></label></div></div>
        <div class = "row">
                <div class = "col-lg-7 col-xs-7"><label style="margin-right:20px;"><b>Volume Removed: </b>{{volumeRemovedPanelDisplay | number}} {{unitMeasurement}}</label></div>
                <div class = "col-lg-5 col-xs-5"><label style="margin-right:20px;"><b>Tax Amount: </b>{{taxAmountPanelDisplay | currency:'USD':'symbol':'1.2-2'| minustoparens}}</label></div>
        </div>
    </div>
    <div *ngIf = "acceptanceFlag ==='MixedAction' && shareData.permitType === 'Manufacturer' " class = "col-lg-5 col-xs-5" style="padding-top: 20px;">
        <div class = "row"><div class = "col-lg-6 col-xs-6"><label><b>Total {{tobaccoClass1}}</b></label></div></div>
        <div class = "row">
                <div class = "col-lg-7 col-xs-7"><label style="margin-right:20px;"><b>Volume Removed: </b>{{volumeRemovedPanelDisplayManu1 | number}} {{unitMeasurement}}</label></div>
                <div class = "col-lg-5 col-xs-5"><label style="margin-right:20px;"><b>Tax Amount: </b>{{taxAmountPanelDisplayManu1 | currency:'USD':'symbol':'1.2-2'| minustoparens}}</label></div>
        </div>
        &nbsp;
        <div *ngIf="mixedClass" class = "row"><div class = "col-lg-6 col-xs-6"><label><b>Total {{tobaccoClass2}}</b></label></div></div>
        <div *ngIf="mixedClass" class = "row">
                <div class = "col-lg-7 col-xs-7"><label style="margin-right:20px;"><b>Volume Removed: </b>{{volumeRemovedPanelDisplayManu2 | number}} {{unitMeasurement}}</label></div>
                <div class = "col-lg-5 col-xs-5"><label style="margin-right:20px;"><b>Tax Amount: </b>{{taxAmountPanelDisplayManu2 | currency:'USD':'symbol':'1.2-2'| minustoparens}}</label></div>
        </div>
    </div>
</div>


<div *ngIf="shareData.permitType === 'Importer'" class="modal fade" [id]="'mixed_action_tax_popup-'+ quarter" role="dialog" aria-labelledby="mixed_action_popup" tabindex="-1"
    aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="mixed-action-popup-content">
            <!--Modal Header-->
            <div class="modal-header">
                <div title="title" id="mixed_action_popup" class="h4 modal-title text-xs-center fw-bold mt">Mixed Action</div>
            </div>
            <!--Modal Body-->
            <div class="modal-body">
                <div class="row" *ngFor="let mixedQuarterSelected of mixedQuarterSelectedMap; let i = index;" style="margin-bottom:20px;">
                    <div class="col-lg-2 col-xs-2"></div>
                    <div class="col-lg-2 col-xs-2">
                        <b>{{mixedQuarterSelected.month}}</b>
                    </div>
                    <div class="col-lg-4 col-xs-4" style="flex: 0 0 26%;">
                        <toggle-button-tufa title="Accept FDA 3852" [id]="'chk-acceptFDA3852-'+ mixedQuarterSelected.month" [lables]="['Accept FDA 3852']"
                            [(flag)]="mixedQuarterSelected.acceptFDAFlag" (flagChange)="mixedFlagSelectedMonth($event, 'F', mixedQuarterSelected.month)"></toggle-button-tufa>
                    </div>
                    <div class="col-lg-3 col-xs-3">
                        <toggle-button-tufa title="Accept Ingested" [id]="'chk-acceptingested-' + mixedQuarterSelected.month" [lables]="['Accept Ingested']"
                            [(flag)]="mixedQuarterSelected.acceptIngestedFlag" (flagChange)="mixedFlagSelectedMonth($event, 'I', mixedQuarterSelected.month)"></toggle-button-tufa>
                    </div>
                    <div class="col-lg-2 col-xs-2"></div>
                </div>
                <div class="row" style="margin-bottom:20px;">
                    <div class="col-lg-2 col-xs-2"></div>
                    <div class="col-lg-10 col-xs-10 row">
                        <div class="col-lg-4 col-xs-4">
                            <label>
                                <b>Total {{shareData.tobaccoClass}}</b>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:20px;">
                    <div class="col-lg-2 col-xs-2"></div>
					<div class="col-lg-10 col-xs-10 row">
                        <div class="col-lg-6 col-xs-6"><label style="margin-right:20px;"><b>Volume Removed: </b>{{volumeRemovedDisplay | number}} {{unitMeasurement}}</label></div>
                        <div class="col-lg-6 col-xs-6"><label style="margin-right:20px;"><b>Tax Amount: </b>{{taxAmount | currency:'USD':'symbol':'1.2-2'| minustoparens}}</label></div>                 
                    </div>
                </div>
            </div>
            <!--Modal Footer-->
            <div class="modal-footer">
                <button type="button" [ngBusy]="busy" class="btn btn-primary" title="Save" [id]="'btn-mixedaction-' + quarter" (click)="saveMixedAction()"
                    [disabled]="enableMixActionSave()">Save</button>
                <button type="button" class="btn btn-secondary" (click)="popUpClose()" data-dismiss="modal" title="Cancel" #closeMixedModal>Cancel</button>
            </div>
        </div>
    </div>
</div>

<!--Show Accept Ingested Tax pop-up for Manufacturer Compound tobacco-classes -->
<div *ngIf="show" class="modal fade" [id]="'accept-ingested-modal-'+quarter" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content" id="at-alldeltas-popup-content">
            <div class="modal-header">
                <div title="title" class="h4 modal-title text-xs-center fw-bold mt">Accept Ingested Tax</div>
            </div>
            <!--Modal Body-->
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-xs-12">
                        <section class="widget" style="margin-bottom: 10px;">
                            <div aria-live="assertive" class="widget-body clearfix">
                                <div class="row company-details">
                                    <ul class="list-unstyled offset-md-2  col-md-10 ">
                                        <li>
                                            <b>Company Name:</b> {{this.shareData?.companyName}}</li>
                                        <li>
                                            <b>Tobacco Class:</b> {{this.shareData?.tobaccoClass | removeHyphen}}</li>
                                        <li *ngIf="this.shareData?.tobaccoClass != 'Cigars'; else CigarQtr" >
                                            <b>Period:</b> Quarter {{quarter}}
                                        </li>
                                        <ng-template #CigarQtr>
                                                <li><b>Period:</b> Quarter 1-4</li>
                                        </ng-template>
                                        <li>
                                            <b>Delta:</b> {{taxes?.totalTUFATax - taxes?.totalIngestedTax | currency:'USD':'symbol':'1.2-2'}}
                                        </li>
                                    </ul>
                                </div>

                                <div [ngBusy]="busy">
                                    <div *ngFor="let ttbVolTx of compoundTTTaxesVolume; let i = index">
                                        <div class="form-group row">
                                            <label class="fw-bold offset-md-2  col-md-4 form-control-label text-md-left">
                                                {{ ttbVolTx?.tobaccoClass }}
                                            </label>
                                        </div>
                                        <div class="form-group row">
                                                <label *ngIf="this.shareData?.tobaccoClass == 'Cigars' 
                                                                ||  this.shareData?.tobaccoClass == 'Cigarettes'; else volInLB" class="  offset-md-2  col-md-4 form-control-label text-md-left">
                                                        <b>Volume:</b> {{ttbVolTx?.pounds| number:'.0-6'}} sticks
                                                </label>
                                                    <ng-template #volInLB>
                                                        <label class=" offset-md-2  col-md-4 form-control-label text-md-left">
                                                            <b>Volume:</b> {{ttbVolTx?.pounds| number:'.0-6'}} lbs.
                                                        </label>
                                                    </ng-template>
                                            
                                            <label *ngIf="!(this.shareData?.tobaccoClass == 'Cigars' || this.shareData?.tobaccoClass == 'Cigarettes')" class=" col-md-6 form-control-label text-md-left">
                                                <b>Ingested Tax:</b> {{ ttbVolTx?.amendedTax |currency:'USD':'symbol':'1.2-2'|
                                                minustoparens}} </label>
                                        </div>
                                        <div  *ngIf="!(this.shareData?.tobaccoClass == 'Cigars' || this.shareData?.tobaccoClass == 'Cigarettes')" class="form-group row">
                                            <label class=" offset-md-2  col-md-5 form-control-label text-md-left">
                                                Calculated Tax: {{ ttbVolTx?.estimatedTax |currency:'USD':'symbol':'1.2-2'| minustoparens}}
                                            </label>
                                            <!-- <ng-template #noCalculatedTax>
                                                    <label class=" offset-md-2  col-md-5 form-control-label text-md-left">Calculated Tax: N/A</label>
                                            </ng-template> -->
                                        </div>
                                        <div class="form-group row"></div>
                                    </div>

                                    <div>
                                        <div class="form-group row"></div>
                                        <div class="form-group row">
                                            <label class=" fw-bold offset-md-2  col-md-4 form-control-label text-md-left">
                                                Total Ingested Tax :
                                            </label>
                                            <label class=" col-md-6 form-control-label text-md-left">
                                                {{taxes?.totalIngestedTax | abs | currency:'USD':'symbol':'1.2-2'| minustoparens }}
                                            </label>

                                        </div>

                                        <div class="form-group row">
                                            <label class=" fw-bold offset-md-2  col-md-4 form-control-label text-md-left">
                                                Total Calculated Tax:
                                            </label>
                                            <label *ngIf="this.shareData?.tobaccoClass != 'Cigars'; else noCalculatedTax" class="col-md-6 form-control-label text-md-left">
                                                {{(compoundTTTaxesVolume[0]?.estimatedTax+ compoundTTTaxesVolume[1]?.estimatedTax)|currency:'USD':'symbol':'1.2-2'}}
                                            </label>
                                            <ng-template #noCalculatedTax>
                                                    <label class=" col-md-6 form-control-label text-md-left">N/A</label>
                                            </ng-template>

                                        </div>

                                        <div class="form-group row">
                                            <label class=" fw-bold offset-md-2  col-md-4 form-control-label text-md-left">
                                                Tax Difference:
                                            </label>
                                            <label *ngIf="this.shareData?.tobaccoClass != 'Cigars'; else noTaxDifference"  class=" col-md-6 form-control-label text-md-left">
                                                {{ ((taxes?.totalIngestedTax|abs) - (compoundTTTaxesVolume[0]?.estimatedTax+ compoundTTTaxesVolume[1]?.estimatedTax))|currency:'USD':'symbol':'1.2-2'|
                                                minustoparens }}
                                            </label>
                                            <ng-template #noTaxDifference>
                                                <label class=" col-md-6 form-control-label text-md-left">N/A</label>
                                            </ng-template>
                                        </div>

                                    </div>

                                </div>

                                <div class="action-conatiner">
                                    <alert *ngFor="let alert of resetAlerts; let i = index" [type]="alert.type + ' alert-sm'">
                                        <span class="alert-text" [innerHTML]="alert.msg"></span>
                                    </alert>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <!--Modal Footer-->
                <div class="modal-footer">
                    <ng-container *ngIf="acceptanceFlag !== 'Ingestedaccepted'">
                        <button type="button" [ngBusy]="busy" class="btn btn-primary" title="Accept Ingested" (click)="confirmAcceptIngested()">Accept</button>
                        <button type="button" class="btn btn-secondary" title="Cancel" data-dismiss="modal" #closeAcceptModal>Cancel</button>
                    </ng-container>

                    <ng-container *ngIf="acceptanceFlag === 'Ingestedaccepted'">
                        <button type="button" class="btn btn-secondary" title="Cancel" data-dismiss="modal" #closeAcceptModal>Close</button>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="shareData.permitType === 'Manufacturer'" class="modal fade" [id]="'mixed_action_tax_popup-manu-'+ quarter" role="dialog" aria-labelledby="mixed_action_popup" tabindex="-1"
    aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="mixed-action-popup-content">
            <!--Modal Header-->
            <div class="modal-header">
                <div title="title" id="mixed_action_popup" class="h4 modal-title text-xs-center fw-bold mt">Mixed Action</div>
            </div>
            <!--Modal Body-->
            <div class="modal-body">
                <div class="row" *ngFor="let mixedQuarterSelected of mixedQuarterSelectedMapManu; let i = index;" style="margin-bottom:20px;">
                    <div class="col-lg-2 col-xs-2"></div>
                    <div class="col-lg-2 col-xs-2">
                        <b>{{mixedQuarterSelected.month}}</b>
                    </div>
                    <div class="col-lg-4 col-xs-4" style="flex: 0 0 26%;">
                        <toggle-button-tufa title="Accept FDA 3852" [id]="'chk-acceptFDA3852-'+ mixedQuarterSelected.month" [lables]="['Accept FDA 3852']"
                            [(flag)]="mixedQuarterSelected.acceptFDAFlag" (flagChange)="mixedFlagSelectedMonthManu($event, 'F', mixedQuarterSelected.month)"></toggle-button-tufa>
                    </div>
                    <div class="col-lg-3 col-xs-3">
                        <toggle-button-tufa title="Accept Ingested" [id]="'chk-acceptingested-' + mixedQuarterSelected.month" [lables]="['Accept Ingested']"
                            [(flag)]="mixedQuarterSelected.acceptIngestedFlag" (flagChange)="mixedFlagSelectedMonthManu($event, 'I', mixedQuarterSelected.month)"></toggle-button-tufa>
                    </div>
                    <div class="col-lg-2 col-xs-2"></div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-xs-2"></div>
                    <div class="col-lg-10 col-xs-10 row">
                        <div class="col-lg-4 col-xs-4">
                            <label>
                                <b>Total {{tobaccoClass1}}</b>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:20px;">
                    <div class="col-lg-2 col-xs-2"></div>
					<div class="col-lg-10 col-xs-10 row">
                        <div class="col-lg-6 col-xs-6"><label style="margin-right:20px;"><b>Volume Removed: </b>{{volumeRemovedDisplay1 | number}} {{unitMeasurement}}</label></div>
                        <div class="col-lg-6 col-xs-6"><label style="margin-right:20px;"><b>Tax Amount: </b>{{taxAmount1 | currency:'USD':'symbol':'1.2-2'| minustoparens}}</label></div>                 
                    </div>
                </div>
                <div *ngIf="mixedClass" class="row">
                    <div class="col-lg-2 col-xs-2"></div>
                    <div class="col-lg-10 col-xs-10 row">
                        <div class="col-lg-4 col-xs-4">
                            <label>
                                <b>Total {{tobaccoClass2}}</b>
                            </label>
                        </div>
                    </div>
                </div>
                <div *ngIf="mixedClass" class="row" style="margin-bottom:20px;">
                    <div class="col-lg-2 col-xs-2"></div>
					<div class="col-lg-10 col-xs-10 row">
                        <div class="col-lg-6 col-xs-6"><label style="margin-right:20px;"><b>Volume Removed: </b>{{volumeRemovedDisplay2 | number}} {{unitMeasurement}}</label></div>
                        <div class="col-lg-6 col-xs-6"><label style="margin-right:20px;"><b>Tax Amount: </b>{{taxAmount2 | currency:'USD':'symbol':'1.2-2'| minustoparens}}</label></div>                 
                    </div>
                </div>
            </div>
            <!--Modal Footer-->
            <div class="modal-footer">
                <button type="button" [ngBusy]="busy" class="btn btn-primary" title="Save" [id]="'btn-mixedaction-' + quarter" (click)="saveMixedActionManu()"
                    [disabled]="enableMixActionSaveManu()">Save</button>
                <button type="button" class="btn btn-secondary" (click)="popUpCloseManu()" data-dismiss="modal" title="Cancel" #closeMixedModal>Cancel</button>
            </div>
        </div>
    </div>
</div>