
<!-- <span [ngBusy]="{busy: busy, message: 'Saving action...', backdrop: true}"></span> -->
<form #formCtrl="ngForm">
    <div class="widget-body clearfix">
        <div class="row h-divider" style="margin-left: 0px">
            <div class="col-md-12">
                <fieldset [disabled]="disableAmendApprove||acceptanceFlag==='DeltaChngZ'|| acceptanceFlag==='ExcludeChange' || acceptanceFlag==='DeltaChangeTrueZero'">
                    <div class="checkbox-inline checkbox-ios">
                        <label class="switch h4 no-margin fw-semi-bold" style="margin-left:1px">Amend Total
                            <input type="checkbox" class="ios" attr.id="amend-total-{{quarter}}" name="Amend Total" (ngModelChange)="enableAmendTotal($event)"
                                [(ngModel)]="amendTotal" aria-label="Amend Total" style="margin-left:10px" >
                            <i *ngIf="disableAmendApprove||acceptanceFlag==='DeltaChngZ'|| acceptanceFlag==='ExcludeChange' || acceptanceFlag==='DeltaChangeTrueZero'" style="cursor:not-allowed;"></i>
                            <i *ngIf="!(disableAmendApprove||acceptanceFlag==='DeltaChngZ'|| acceptanceFlag==='ExcludeChange' || acceptanceFlag==='DeltaChangeTrueZero')"></i>
                        </label>
                    </div>
                </fieldset>
            </div>

            <p style="margin-left:20px">The manually entered value will be used to Generate the Market Share instead of the data in TUFA</p>
        </div>

        <div id="amd-tot-inputs-{{quarter}}" class="row" style="margin-left:-6px" *ngFor="let tobaccoClass of amenddata; let i= index">
            <div class="col-md-4">
                <div>
                    <br>
                    <label attr.for="{{tobaccoClass.name}}-tax-{{quarter}}">
                        <b>Total {{tobaccoClass.name | uppercase}} </b>Tax Amount</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input id="{{tobaccoClass.name}}-tax-{{quarter}}" class="form-control fdatable rightalign" type="text" customNumerics [customDecimalFormatter]='2'
                            style='width:50%' [(ngModel)]="amendTotalByQtrByTT[quarter-1][ttIdxMp[tobaccoClass.name]].amendedTotalTax"
                            required name="Tax amount" (ngModelChange)="taxAmountChange(amendTotalByQtrByTT[quarter-1][ttIdxMp[tobaccoClass.name]], tobaccoClass.name)" [disabled]="!amendTotal">
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-4">
                <div>
                    <br>
                    <label attr.for="{{tobaccoClass.name}}-vol-{{quarter}}">
                        <b>Total {{tobaccoClass.name | uppercase}} </b>Volume Removed</label>
                    <div class="input-group">
                        <span *ngIf='tobaccoClass.name === "Cigars" || tobaccoClass.name === "Cigarettes"' class="input-group-text">K</span>
                        <span *ngIf='tobaccoClass.name === "Snuff" || tobaccoClass.name ===  "Chew" || tobaccoClass.name ===  "Pipe" || tobaccoClass.name ===  "Roll Your Own"'
                            class="input-group-text">lbs</span>
                        <input *ngIf='tobaccoClass.name === "Cigars"' id="{{tobaccoClass.name}}-vol-{{quarter}}" class="form-control fdatable rightalign"
                            type="text" [customDecimalFormatter]='2' customNumerics style='width:50%' [(ngModel)]="amendTotalByQtrByTT[quarter-1][ttIdxMp[tobaccoClass.name]].amendedTotalVolume"
                            (ngModelChange)="changeAmend($event)" required name="Cigar volume" [disabled]="!amendTotal">
                        <input *ngIf='tobaccoClass.name === "Snuff" || tobaccoClass.name ===  "Chew" || tobaccoClass.name ===  "Pipe" || tobaccoClass.name ===  "Roll Your Own"  || tobaccoClass.name === "Cigarettes"'
                            id="{{tobaccoClass.name}}-vol-{{quarter}}" class="form-control fdatable rightalign" type="text" [customDecimalFormatter]='2'
                            customNumerics style='width:50%' [(ngModel)]="amendTotalByQtrByTT[quarter-1][ttIdxMp[tobaccoClass.name]].amendedTotalVolume"
                            (ngModelChange)="changeAmend($event)" required name="Volumes" [disabled]="!amendTotal">
                    </div>
                </div>
            </div>

        </div>


        <div *ngIf="!savedAmendment || !amendTotal" class="row" style="margin-top:30px;">
            <div class="col-md-12">
                <div class="btn-toolbar pull-right">
                    <button [disabled]="!formCtrl.form.valid || !amendTotal ||disableAmendApprove||acceptanceFlag==='DeltaChngZ'" type="button"
                        id="btn-amd-save-{{quarter}}" class="btn btn-primary" (click)="save()">Save Total</button>
                </div>
            </div>
        </div>
        <div *ngIf="savedAmendment && amendTotal" class="row" style="margin-top: 30px">
            <div class="col-md-12">
                <div class="btn-toolbar pull-right">
                    <button class="btn btn-secondary mb-xs" role="button">
                        <i style="margin-right:10px;" class="fa fa-check-circle text-success"></i>Saved Amendment!</button>
                </div>
            </div>
        </div>
    </div>
</form>