<table class="table" style="width:100%; margin-top:10px; border: 1px solid #d49595">
    <colgroup>
      <col style="width:14%">
      <col style="width:14%">
      <col style="width:15%">
      <col style="width:15%">
      <col style="width:14%">
      <col style="width:14%">
      <col style="width:14%">
    </colgroup>
    <thead style="background-color: #eeeeee;">
      <tr>
        <th colspan="7" style="text-align: center;">
          <span class="h6 fw-semi-bold">LEGEND</span>
        </th>
      </tr>
    </thead>
    <tbody style="border: 1px solid #eeeeee">
      <tr>
        <td style="text-align: center;">
          <div class="h6 fw-semi-bold"><span class="text-legend legend-err">E</span> Error Report
          </div>
        </td>
        <td style="text-align: center;">
          <div class="h6 fw-semi-bold"><span class="text-legend legend-com">C</span> Completed Report</div>
        </td>
        <td style="text-align: center;">
          <div class="h6 fw-semi-bold"><span class="text-legend legend-ns">NS</span> Not Started Report</div>
        </td>
        <td style="text-align: center;">
          <div class="h6 fw-semi-bold"><i class="fa fa-exchange"></i> Reallocated</div>
        </td>
        <td style="text-align: center;">
          <div class="h6 fw-semi-bold"><i class="fa fa-ban"></i> Excluded</div>
        </td>
        <td style="text-align: center;">
          <div class="h6 fw-semi-bold"><i class="fa fa-calendar"></i> Secondary Date</div>
        </td>
        <td style="text-align: center;">
          <div class="h6 fw-semi-bold">
            <i class="fa fa-exclamation-circle"></i> Missing</div>
        </td>
      </tr>
    </tbody>
  </table>