.btn-toolbar {
    padding-top: 20px;
    padding-bottom: 15px;
}

.panel-body, .section-title {
    padding-top: 15px;
}

.delta-column {
    text-align: center;
}

.header-row {
    margin-bottom: 10px;
}