<form [id]="'compare-details-form-' + quarter" class="form-horizontal" role="form" data-parsley-priority-enabled="false"
    novalidate="novalidate" data-parsley-validate data-parsley-focus="first">
    <div class="row">
        <div class="col-lg-12 col-no-padding">
            <section class="widget h-divider">
                <div class="widget-body clearfix">

                    <!--- Collapsible Panel -->
                    <div class="panel-group"
                        id="accordionDetailsPanel-{{quarter}}">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle-main h4 no-margin fw-semi-bold" style="margin-left:10px;"
                                        data-toggle="collapse" aria-expanded="false" href="#collapseDetailsPanel-{{quarter}}">
                                        Quarter {{quarter == 5 ? '1-4' : quarter}}
                                    </a>
                                    <span class="pull-right">
                                        <i compare-icon [status]="details.dataType === 'MATCHED' ? acceptanceFlag : details.dataType == null && !(oneSidedAcceptanceFlag === 'Associated') ?  acceptanceFlag : oneSidedAcceptanceFlag"></i>
                                        <a id="anchortagingestedsummarydelta" class="h4 no-margin fw-semi-bold"
                                            style="margin-right:15px;" data-toggle="collapse" aria-expanded="false"
                                            href="#collapseDetailsPanel-{{quarter}}">
                                            {{details.deltaTotal | na |tufacurrency| minustoparens | delta : details.tufaTotal:details.detailTotal}}
                                        </a>
                                    </span>
                                </h4>
                            </div>
                            <div id="collapseDetailsPanel-{{quarter}}" class="panel-collapse collapse in">
                                <div class="panel-body" style="position: relative;">
                                    <span></span>

                                    <!-- <ng-template appAtDynamicCompareDetails></ng-template> -->
                                    <app-at-impt-matched-compare *ngIf="!isOneSided()" [details]="details"
                                        [context]="context" [selectedDt]="selectedDt" [quarter]="quarter"
                                        [headerData]="headerData" [acceptanceFlag]="acceptanceFlag" [htsCodeIngestionSummary1]="htsCodeIngestionSummary">
                                    </app-at-impt-matched-compare>
                                    <app-at-impt-one-sided-compare *ngIf="isOneSided()" [details]="details"
                                        [context]="context" [selectedDt]="selectedDt" [quarter]="quarter"
                                        [headerData]="headerData"
                                        [quarterDeltaForOnesidedMap]="quarterDeltaForOnesidedMap"
                                        [headerDataMapForAllDeltas]="headerDataMapForAllDeltas"
                                        [oneSidedAcceptanceFlag]="oneSidedAcceptanceFlag" [htsCodeIngestionSummary1]="htsCodeIngestionSummary">
                                    </app-at-impt-one-sided-compare>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</form>