.sidebar-nav{
    > li {
        width: 100%;
    }

    a.is-active,
    li.is-active > a {
        background-color: #eee;
        color: #17529F;

        .fa, .far, .fas {
            color: #17529F;
        }
    }
}

