<div class="js-sidebar-content">
  <div id="toggle">
    <ng-template #sidebarToggleTooltip>
      Turn on/off
      <br> sidebar
      <br>collapsing
    </ng-template>
    <!-- whether to automatically collapse sidebar on mouseleave. If activated acts more like usual admin templates -->
    <a (click)="toggleSidebar()" class="nav-link hidden-md-down" [tooltip]="sidebarToggleTooltip" placement="bottom">
      <i class="fa fa-bars fa-lg" [ngClass]="{'sidebarexpand': !navCollapsed, 'sidebarcollapse': navCollapsed}"></i>
    </a>
  </div>
  <div>
    <img *ngIf="!navCollapsed" class="sidebar-logoexpand" alt="TUFA Logo" src="assets/img/TUFA_Logo_5_White.png">
    <img *ngIf="navCollapsed" class="sidebar-logocollapse" alt="TUFA Logo" src="assets/img/TUFA_Logo_Small.png">
  </div>
  <!-- main notification links are placed inside of .sidebar-nav -->
  <ul class="sidebar-nav nav nav-pills" *ngIf="hasRole('SUPERUSER')">
    <li>
      <a id="dashboard" title="Dashboard" [routerLink]=" ['/app/dashboard'] " [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['is-active']">
        <span class="icon">
          <i class="fa fa-th-large"></i>
        </span> Dashboard
      </a>
    </li>
    <li [routerLinkActive]="['is-active']">
      <a id="daily_operations" title="Daily Operations" (click)="gotoSearchCompany()" [routerLink]="['/app/company/search']">
        <span class="icon">
          <i class="fa fa-paste"></i>
        </span> Daily Operations
      </a>
      <a [routerLink]="['/app/permit']" style="display: none"></a>
      <a [routerLink]="['/app/company/details']" style="display: none"></a>
    </li>
    <li>
      <a id="mnu_assessments" title="Assessments" [routerLink]=" ['assessments'] " [routerLinkActive]="['is-active']">
        <span class="icon">
          <i class="fa fa-check-square"></i>
        </span> Assessments
      </a>
    </li>
    <li>
      <a id="permit-mgmt" title="Permit Management" [routerLink]=" ['permit-mgmt'] " [routerLinkActive]="['is-active']">
        <span class="icon">
          <i class="fa fa-arrow-circle-up"></i>
        </span> Manage Permits
      </a>
    </li>
    <li>
      <a id="company_tracking" title="Company Tracking" [routerLink]="['/app/company/tracking', { q:'new'}] " [routerLinkActive]="['is-active']">
        <span class="icon">
          <i class="fa fa-envelope"></i>
        </span> Company Tracking
      </a>
    </li>
    <li>
      <a id="rates_codes" title="Rates & Codes" [routerLink]=" ['dashboard/codesrates'] " [routerLinkActive]="['is-active']">
        <span class="icon">
          <i class="fa fa-usd"></i>
        </span> Rates & Codes
      </a>
    </li>
    <li>
      <a id="logout_user" title="Logout" [routerLink]=" ['./../logout'] ">
        <span class="icon">
          <i class="fa fa-user"></i>
        </span> Logout
      </a>
    </li>

  </ul>

  <!-- 7th nav slot : Admin -->
  <ul class="sidebar-nav nav nav-pills" *ngIf="hasRole('ADMIN')">
    <li>
      <a id="admin" title="Admin" class="list-group-item-action" focusOut [routerLink]=" ['admin/dashboard'] " [routerLinkActive]="['is-active']">
        <span class="icon">
          <i class="fa fa-th-list"></i>
        </span> Administration
      </a>
    </li>

    <li>
      <a id="logout_admin" title="Logout" class="list-group-item-action" focusOut [routerLink]=" ['./../logout'] ">
        <span class="icon">
          <i class="fa fa-user"></i>
        </span> Logout
      </a>
    </li>

  </ul>
</div>