<div>
	<div class="row">
		<div class="col-lg-12">
			<section class="widget h-divider" widget [ngBusy]="{busy: busy, message: 'Loading...'}">
				<div class="widget-body">
					<div class="row">
						<!-- Left Panel  -->
						<div class="offset-md-1 col-md-5">
							<div class="row">
								<div class="col-md-8">
									<h5 class="title offset-md-1 h5 fw-semi-bold">COMPANY DETAILS TUFA</h5>
								</div>
							</div>
							<div class="row">
								<label for="company-name-tu" class="col-md-4  text-md-right">Company Name</label>
								<label for="company-name-tu" class="col-md-8 ">{{permitUpdate?.companyTufa?.legalName}}</label>

							</div>
							<div class="row">
								<label for="ein-num-tu" class="col-md-4 text-md-right">EIN</label>
								<label for="ein-num-tu" class="col-md-8  ">{{permitUpdate?.einNum}}</label>
							</div>
						</div>
						<!-- End Left Panel-->

						<div class="col-md-6">
							<div class="row">
								<div class="col-md-8">
									<h5 class="title offset-md-2 h5 fw-semi-bold">INGESTED COMPANY DETAILS</h5>
								</div>
							</div>
							<div class="row">
								<label for="company-name" class="col-md-4  text-md-right">Company Name</label>
								<label for="company-name" class="col-md-8  ">{{permitUpdate?.companyName}}</label>
							</div>
							<div class="row">
								<label for="ein-num" class="col-md-4  text-md-right">EIN</label>
								<label for="ein-num" class="col-md-8  ">{{permitUpdate?.einNum}}</label>
							</div>
							<div class="row">
								<div class="offset-md-4 col-md-8">
									<div style="float: right" class="btn-toolbar">
										<button [disabled]="disableButton" class="btn btn-outline-primary" (click)="updateCompany()">Replace</button>
										<button [disabled]="disableButton" class="btn btn-outline-primary" (click)="ignoreCompanyStatus()">Ignore</button>
										<button class="btn btn-outline-primary" (click)="skipCompanyStatus()">Skip</button>
										<button class="btn btn-outline-dark" (click)="hidePanel()">Close</button>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</section>
		</div>


	</div>
</div>