// @import "../../../../node_modules/bootstrap-select/dist/css/bootstrap-select";
// @import "../../../../node_modules/select2/dist/css/select2";
// @import "../../../../node_modules/select2-bootstrap-css/select2-bootstrap";
// @import "../../../../node_modules/jasny-bootstrap/dist/css/jasny-bootstrap";
// @import "../../scss/variables";
// @import "../../scss/busy";
// @import "../../../../node_modules/bootstrap/scss/_variables";
// @import "../../../../node_modules/bootstrap/scss/mixins";
@import "./../../../scss/helpers";

.h-divider{
    width:100%;
    border-bottom:2px solid #778899;
}

.h-bucket-divider {
  width: 100%;
  border-bottom: 1.5px solid #778899;
}

.list-spacing {
    padding: 4px 0px;
}

.verticalLine {
    border-left: 2px solid lightgrey;
}

.card-small-label{
    color: gray;
}

.gray-bg {
  background-color: $gray-semi-lighter;
}

.breathe-left{
  margin-left: 10px;
}

/***********************************/
/**         MODAL WIZARD          **/
/***********************************/

.wizard-header h3 {
  font-family: $font-family-base;
  font-weight: $headings-font-weight;
  color: $text-color;
}

.wizard-nav-list > li.already-visited > a.wizard-nav-link,
.wizard-nav-list > li.already-visited.active > a.wizard-nav-link{
  color: $text-color;
}

.wizard-nav-item:not(.active) > .wizard-nav-link:hover {
  background-color: $gray-lighter;
}

.wizard-nav-list li.active > a,
.wizard-nav-item .already-visited .active{
  background-color: $brand-info;
  color: $white;
}

.wizard-dialog {
  max-width: none;
}

.wizard-dialog .popover.error-popover .arrow {
  border-right-color: transparent;
}

.wizard-nav-list li > a {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  padding: 10px 15px;
}

.wizard-steps {
  width: 30%;
}

// .wizard-input-section {
//   .open {
//   }
// }




/**
 * Jasny Bootstrap
 * Fileinput.less
 */

 .fileinput.fileinput-new {
  .thumbnail {
    padding: $thumbnail-padding;
    line-height: $line-height-base;
    background-color: $thumbnail-bg;
    border: $thumbnail-border-width solid $thumbnail-border-color;
    border-radius: $thumbnail-border-radius;
    transition: all .2s ease-in-out;
    @include box-shadow(0 1px 2px rgba(0,0,0,.075));
  }
}

.fileinput-preview.fileinput-exists {
  border: 1px solid $input-border-color;
  border-radius: $border-radius;
  padding: 5px;
}

.fileinput.input-group {
  display: flex;
}

.fileinput-new.input-group .btn-file,
.fileinput-new .input-group .btn-file,
.fileinput-exists.input-group .btn-file,
.fileinput-exists .input-group .btn-file {
  border-radius: 0 $border-radius $border-radius 0;

  &.btn-xs,
  &.btn-sm {
    border-radius: 0 $border-radius-sm $border-radius-sm 0;
  }
  &.btn-lg {
    border-radius: 0 $border-radius-lg $border-radius-lg 0;
  }
}

.btn-label {
  background: transparent;
  left: 2px;
  padding: 1px 6px;
}

.label {
    display: inline;
    padding: .3em .6em .3em;
    font-size: 60%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: .25em;
}

.label-info {
    background-color: #5dc4bf;
}

div.alert-sm:not(.alert-warning) {
   ul {margin-bottom: 0px;padding-left:80px;}
}

.bluebox{
    background-color: #17529F;
}

.whitebox{
    background-color:white;
}

