<section class="widget">

  <form class="form-horizontal" role="form">
    <div class="widged">
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <button id="btn-upload" type="button" class="col-md-5  btn btn-primary btn-block" title="Upload" data-toggle="modal" data-target="#ingest-modal-file"
            data-backdrop="static" data-keyboard="false" (click)="setSelectedDocument(this.newDoc, 'ingest')" focusOn="#ingest-modal-file">
                       <i class="fa fa-upload" style="left: 13px;top: 8px;position: absolute;" aria-hidden="true"></i> 
                         Upload Document 
                        </button>
          <p>Files must be in the proper Excel format</p>
        </div>
        <div class="col-md-4">
          <button type="button" id="btn-exp-error" class="btn btn-primary pull-right" (click)="exportPermitUpdates()">Export Details</button>
        </div>
      </div>
      <div>
        <table class="table table-hover" [mfData]="data" #mf="mfDataTable" [mfIsServerPagination]="false" [mfRowsOnPage]="10">
          <colgroup>
            <col style="width:33.5%">
            <col style="width:34%">
            <col style="width:33.5%">
          </colgroup>
          <thead>
            <tr>
              <th>
                <mfDefaultSorter by="trueUpFilename">File Name</mfDefaultSorter>
              </th>
              <th class="hidden-sm-down">
                <mfDefaultSorter by="docDesc">Uploaded By</mfDefaultSorter>
              </th>
              <th class="hidden-sm-down">
                <mfDefaultSorter by="createdDt">Date uploaded</mfDefaultSorter>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let docfile of mf.data; let i = index; let last = last">
              <td><span class="fw-semi-bold"><a [routerLink]="['/app/permit-mgmt/address-mgmt',{docId:docfile.docId}]">{{docfile.aliasFileNm}}</a></span></td>
              <td class="hidden-sm-down">{{docfile.createdBy}}
              </td>
              <td class="hidden-sm-down">
                <div class="row">
                  <div class="col-md-3">{{docfile.createdDt}}</div>
                  <div class="col-md-9">
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#ingest-modal-file" focusOn="#ingest-modal-file"
                      data-backdrop="static" data-keyboard="false" (click)="setSelectedDocument(this.docfile, 'edit')"><i style="top: 3px" class="fa fa-pencil"></i> Edit</button>
                    <button type="button" class="btn btn-outline-primary" (click)="downloadSelectedDocument(this.docfile)"><i style="top: 3px" class="fa fa-arrow-circle-o-down"></i> Download</button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</section>