<div class="modal fade" id="ingest-modal-file" tabindex="-1" role="dialog" aria-labelledby="ingest-modal-file" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<!--Modal Header-->
			<div class="modal-header">
				<ng-container *ngIf="!uploadInProgress">
					<h2 title="Ingest File Information" class="h4 modal-title text-xs-center fw-bold mt" id="ingest-modal-file">
						<span *ngIf="doc.fileNm">Edit</span>
						<span *ngIf="!doc.fileNm">Upload</span> Document
					</h2>
				</ng-container>
				<ng-container *ngIf="uploadInProgress">
					<h2 title="Ingest File Information" class="h4 modal-title text-xs-center fw-bold mt" id="ingest-modal-file">
						Ingesting File..
					</h2>
				</ng-container>
			</div>
			<!--Modal Body-->
			<div class="modal-body">
				<div *ngIf="!uploadInProgress">
					<form #permitFileIngest="ngForm" id="ingestfilemodalform" role="form" class="form-horizontal" data-parsley-priority-enabled="false"
					 novalidate="novalidate" data-parsley-validate data-parsley-focus="first">
						<!--Browse-->
						<div *ngIf="!doc.fileNm" class="form-group row">
							<label for="fileIngest" class="col-md-4 form-control-label text-md-right">Browse
								<span class="help-block">Excel Document is Required</span>
							</label>
							<div class="col-md-8 col-xs-12">
								<div class="fileinput fileinput-new input-group" data-provides="fileinput">
									<div class="form-control" data-trigger="fileinput">
										<i class="fa fa-file fileinput-exists"></i>
										<span class="fileinput-filename" style="word-break: break-all;"></span>
									</div>
									<span class="input-group-addon btn btn-secondary btn-file">
										<span class="fileinput-new">Select file</span>
										<span class="fileinput-exists">Change</span>
										<input name="..." type="file" id="fileIngest" title="Upload File" (change)="fileChangeEvent($event)" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
										 required data-parsley-errors-container="#pdfdocerror" data-parsley-required-message="Error: Excel Document is required">
									</span>
								</div>
								<div id="pdfdocerror"></div>
							</div>
						</div>

						<!--File Name-->
						<div class="form-group row">
							<label for="fileNm" class="col-md-4 form-control-label text-md-right">File Name
								<span class="help-block">Required field</span>
							</label>
							<div class="col-md-8 col-xs-12">
								<input type="text" class="form-control" id="fileNm" [(ngModel)]="docFileName" name="Decription" title="File Name" required
								 data-parsley-required-message="Error: File Name is required">
							</div>
						</div>

						<!--Show Error-->
						<div aria-live="assertive">
							<div role="alert" *ngIf="showErrorFlag" class="row">
								<div class="col-md-2"></div>
								<div class="col-md-8">
									<alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'">
										<div [innerHTML]="alert.msg"></div>
									</alert>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div *ngIf="uploadInProgress">
					<div progressbar [maxout]="progressbarMaxOut"></div>
				</div>
				<!--<div ingesterror  [docType]="this.selectedEntry.value" (onIngestFileErrorExport)="exportedIngestErrorFile($event)"></div>-->
			</div>
			<!--Modal Footer-->
			<div class="modal-footer">
				<ng-container *ngIf="!uploadInProgress">
					<button type="button" id="btn-ingest-file" class="btn btn-primary" (click)="ingestFile()">Save Document</button>
					<button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
				</ng-container>
			</div>
		</div>
	</div>
</div>