<section class="widget">
    <form class="form-horizontal" role="form">
        <div class="widget-body clearfix">
            <div class="row">
                <div class="col-md-8 col-xs-8"> </div>
                <div class="col-md-4 col-xs-4">
                    <button type="button" id="btn-exp-error" class="btn btn-primary" (click)="exportPermitUpdates()">Export Details</button>
                </div>
            </div>
        </div>
    </form>
</section>