<div class="row">
	<div class="col-lg-12">
		<section class="widget h-divider" widget [ngBusy]="{busy: busy, message: 'Loading...'}">
			<div class="widget-body">
				<div class="row">
					<!-- Left Panel  -->
					<div class="offset-md-1 col-md-5">
						<div class="row">
							<div class="col-md-8">
								<h5 class="title offset-md-1 h5 fw-semi-bold">PERMIT DETAILS TUFA</h5>
							</div>
						</div>
						<div class="row">
							<label for="company-name-tu" class="col-md-4  text-md-right">Company Name</label>
							<label for="company-name-tu" class="col-md-8 ">{{editPermitUpdate?.companyTufa?.legalName}}</label>

						</div>
						<div class="row">
							<label for="permit-num-tu" class="col-md-4 text-md-right">Permit Num</label>
							<label for="permit-num-tu" class="col-md-8  ">{{editPermitUpdate?.permitTufa?.permitNum|permitsCSVPipe2}}</label>
						</div>
						<div class="row">
							<label for="permit-status-tu" class="col-md-4  text-md-right">Permit Status</label>
							<label for="permit-status-tu" class="col-md-8  ">{{getFullText(editPermitUpdate?.permitTufa?.permitStatusTypeCd)}}</label>
						</div>
						<div class="form-group row">
							<label for="issue-date-tu" class="col-md-4  text-md-right">TUFA Active Date</label>
							<label for="issue-date-tu" class="col-md-8  ">{{editPermitUpdate?.permitTufa?.issueDt}}</label>
						</div>
						<div class="form-group row">
							<label for="close-date-tu" class="col-md-4  text-md-right">TUFA Inactive Date</label>
							<label for="close-date-tu" class="col-md-8  ">{{editPermitUpdate?.permitTufa?.closeDt?editPermitUpdate?.permitTufa?.closeDt:'N/A'}}</label>
						</div>
						<div class="form-group row">
							<label for="close-date-tu" class="col-md-4  text-md-right">TTB Issue Date</label>
							<label for="close-date-tu" class="col-md-8  ">{{editPermitUpdate?.permitTufa?.ttbstartDt}}</label>
						</div>
						<div class="form-group row">
							<label for="close-date-tu" class="col-md-4  text-md-right">TTB Closed Date</label>
							<label for="close-date-tu" class="col-md-8  ">{{editPermitUpdate?.permitTufa?.ttbendDt?editPermitUpdate?.permitTufa?.ttbendDt:'N/A'}}</label>
						</div>
					</div>
					<!-- End Left Panel-->

					<div class="col-md-6">
						<div class="row">
							<div class="col-md-8">
								<h5 class="title offset-md-2 h5 fw-semi-bold">INGESTED PERMIT DETAILS</h5>
							</div>
						</div>
						<div class="row">
							<label for="company-name" class="col-md-4  text-md-right">Company Name</label>
							<label for="company-name" class="col-md-8  ">{{editPermitUpdate?.companyName}}</label>
						</div>
						<div class="row">
							<label for="permit-num" class="col-md-4  text-md-right">Permit Num</label>
							<label for="permit-num" class="col-md-8  ">{{editPermitUpdate?.permitNum|permitsCSVPipe2}}</label>
						</div>
						<div class="row">
							<div class=" col-md-12">
								<form id="ttb-date-form">

									<div class="form-group row">
										<div class="offset-md-1 col-md-7">
											<select class=" select2 form-control" style="height: auto;" [(ngModel)]="selectedPermitStatusType" [ngModelOptions]="{standalone: true}"
											 #selectpstatus (ngModelChange)="setTTBDateType(selectedPermitStatusType)">
												<option *ngFor="let option of pStatusColumns.options" [value]="option.value">
													{{option.name}}
												</option>
											</select>
										</div>
									</div>

									<div class="form-group row">
										<div class="offset-md-1 col-md-7">
											<select class="form-control" style="height: auto;" data-placeholder="Select TTB Date" [(ngModel)]="selectedTTBDateType" [ngModelOptions]="{standalone: true}"
											 required data-parsley-required-message="Error: TTB Date type  is required " [disabled]="true">
												<option *ngFor="let option of pTTBDatesColumns.options" [value]="option.value">
													{{option.name}}
												</option>
											</select>
										</div>
									</div>

									<div class="form-group row">
										<div class="offset-md-1 col-md-7">
											<datetime [dateinputID]="ttbdateid" [timepicker]="false" [(ngModel)]="selectedTTBDate" title="TUFA Close Date" [datepicker]="datepickerttbOpts"
											 id="cls-dtpckr" name="TTB-date" [required]="false" required data-parsley-required-message="Error: TTB Date is required ">
											</datetime>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="offset-md-1 col-md-5"></div>
					<div class="col-md-6">
						<div class="row">
							<div class="offset-md-4 col-md-8">
								<div style="float: right" class="btn-toolbar">
									<button [disabled]="disableButton" class="btn btn-outline-primary" (click)="replaceActiveDate()">Save</button>
									<button [disabled]="disableButton" class="btn btn-outline-primary" (click)="ignorePermitStatus()">Ignore</button>
									<button class="btn btn-outline-primary" (click)="skipPermitStatus()">Skip</button>
									<button class="btn btn-outline-dark" (click)="hidePanel()">Close</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>


</div>