<div class="row">
	<div class="col-lg-12">
		<section class="widget h-divider" widget [ngBusy]="{busy: busy, message: 'Loading...'}">
			<div class="widget-body">
				<div class="row">
					<!-- Left Panel  -->
					<div class="col-md-6">
						<div class="row">
							<div class="offset-md-3">
								<h5 class="title offset-md-1 h5 fw-semi-bold">TUFA PERMIT DETAILS</h5>
							</div>
						</div>
						<div class="row">
							<label for="company-name-tu" class="col-md-5  text-md-right">Company Name</label>
							<label for="company-name-tu" class="col-md-7 ">{{addPermitUpdate?.companyTufa?.legalName}}</label>

						</div>
						<div class="row">
							<label for="permit-num-tu" class="col-md-5  text-md-right">Permit Num</label>
							<label for="permit-num-tu" class="col-md-7  ">{{addPermitUpdate?.permitTufa?.permitNum|permitsCSVPipe2}}</label>
						</div>
						<div class="row">
							<label for="permit-stat-tu" class="col-md-5  text-md-right">Permit Status</label>
							<label for="permit-stat-tu" class="col-md-7  ">{{getFullText(addPermitUpdate?.permitTufa?.permitStatusTypeCd)}}</label>
						</div>
						<div class="form-group row">
							<label for="issue-date-tu" class="col-md-5  text-md-right">TUFA Active Date</label>
							<label for="issue-date-tu" class="col-md-7  ">{{addPermitUpdate?.permitTufa?.issueDt}}</label>
						</div>
						<div class="form-group row">
							<label for="close-date-tu" class="col-md-5  text-md-right">TUFA Inactive Date</label>
							<label for="close-date-tu" class="col-md-7  ">{{addPermitUpdate?.permitTufa?.closeDt?addPermitUpdate?.permitTufa?.closeDt:'N/A'}}</label>
						</div>
						<div class="form-group row">
							<label for="close-date-tu" class="col-md-5  text-md-right">TTB Issue Date</label>
							<label for="close-date-tu" class="col-md-7  ">{{addPermitUpdate?.permitTufa?.ttbstartDt}}</label>
						</div>
						<div class="form-group row">
							<label for="close-date-tu" class="col-md-5  text-md-right">TTB Closed Date</label>
							<label for="close-date-tu" class="col-md-7  ">{{addPermitUpdate?.permitTufa?.ttbendDt?addPermitUpdate?.permitTufa?.ttbendDt:'N/A'}}</label>
						</div>
					</div>
					<!-- End Left Panel-->

					<div class="col-md-6">
						<div class="row">
							<div class="offset-md-2">
								<h5 class="title offset-md-2 h5 fw-semi-bold">INGESTED PERMIT DETAILS</h5>
							</div>
						</div>
						<div class="row">
							<label for="company-name" class="col-md-4  text-md-right">Company Name</label>
							<label for="company-name" class="col-md-8 ">{{addPermitUpdate?.companyName}}</label>
						</div>
						<div class="row">
							<label for="permit-num" class="col-md-4  text-md-right">Permit</label>
							<label for="permit-num" class="col-md-8  ">{{addPermitUpdate?.permitNum|permitsCSVPipe2}}</label>
						</div>
						<div class="row">
							<label for="permit-stat" class="col-md-4  text-md-right">Permit Status</label>
							<label for="permit-stat" class="col-md-8  ">{{getFullText(addPermitUpdate?.permitStatus)}}</label>
						</div>
						<div class="form-group row">
							<label for="issue-date" class="col-md-4  text-md-right">TTB Issue Date</label>
							<label for="issue-date" class="col-md-8  ">{{addPermitUpdate?.issueDt}}</label>
						</div>
						<div class="form-group row">
							<label for="close-date" class="col-md-4  text-md-right">TTB Close Date</label>
							<label for="close-date" class="col-md-8  ">{{addPermitUpdate?.closeDt?addPermitUpdate?.closeDt:'N/A'}}</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="offset-md-1 col-md-5"></div>
					<div class="col-md-6">
						<div style="float: right" class="btn-toolbar">
							<button [disabled]="disableButton" class="btn btn-outline-primary" (click)="addPermit()">Add</button>
							<button [disabled]="disableButton" class="btn btn-outline-primary" (click)="addAndClosePermit()">Add & Close</button>
							<button [disabled]="disableButton" class="btn btn-outline-primary" (click)="ignorePermitStatus()">Ignore</button>
							<button class="btn btn-outline-primary" (click)="skipPermitStatus()">Skip</button>
							<button class="btn btn-outline-dark" (click)="hidePanel()">Close</button>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
<div class="modal modal-child fade" id="permit-update-warn-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="h4 modal-title text-xs-center fw-bold mt" id="hts-code-title">Permit Action Error</h1>
			</div>
			<!--Modal Body-->
			<div class="modal-body">
				<div class="row">
					<p class="fw-semi-bold">
						<span>{{errorMsg}} </span>
					</p>
				</div>
			</div>
			<!--Modal Footer-->
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" (click)="hideModal()" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>