<div class="row">
	<div class="col-lg-1"></div>
	<div class="col-lg-9">
		<progressbar [value]="dynamic" [max]="max" [striped]="true" [animate]="true" style="width: 100%;"></progressbar>
	</div>
	
</div>
<div class="row">
	<div class="col-lg-1"></div>
	<div class="col-lg-9">
		File Ingestion can take several minutes.
	</div>
</div>
