<div id="contact-left" aria-hidden="true">
  <div>
    <!--Modal Header-->
    <div class="header">

      <div class="row">
        <div class="col-md-4  text-md-right">
          <span *ngIf="selContactIndex === 1" class="tag tag-primary">
            <i class="fa fa-star-o"></i>
            Primary Contact
          </span>
        </div>
        <div class="col-md-8">
          <h5 class="pull-right title text-xs-left h5 fw-semi-bold" id="edit-address-title">
            <span style="margin-left:15px;" *ngIf="contactsCount > 0">({{selContactIndex}} of {{contactsCount}})</span>
          </h5>
        </div>
      </div>
    </div>
    <!--Modal Body-->

    <form id="contactmgmtform" #addcontactform="ngForm" role="form" class="form-horizontal" data-parsley-priority-enabled="false"
      novalidate="novalidate" data-parsley-validate data-parsley-focus="first">
      <div class="body">
        <!--First Name-->
        <div class="form-group row">
          <label for="add-first-name-left" class="col-md-4 form-control-label text-md-right">First Name
          </label>
          <div class="col-md-8 col-xs-12">
            <input type="text" class="form-control" id="add-first-name-left" [(ngModel)]="selContact.firstNm" title="First Name" [ngModelOptions]="{standalone: true}"
              readonly>
          </div>
        </div>
        <!--Last Name-->
        <div class="form-group row">
          <label for="add-last-name-left" class="col-md-4 form-control-label text-md-right">Last Name
          </label>

          <div class="col-md-8 col-xs-12">
            <input type="text" class="form-control" id="add-last-name-left" [(ngModel)]="selContact.lastNm" title="Last Name" [ngModelOptions]="{standalone: true}"
              readonly>
          </div>
        </div>
        <!--Email Address         -->
        <div class="form-group row">
          <label for="add-email-address-left" class="col-md-4 form-control-label text-md-right">Email
          </label>

          <div class="col-md-8 col-xs-12">
            <input type="email" class="form-control" id="add-email-address-left" [(ngModel)]="selContact.emailAddress" title="Email Address"
              [ngModelOptions]="{standalone: true}" data-parsley-error-message="Error: Email requires appropriate format (e.g. name@address.com)"
              readonly>
          </div>
        </div>
        <!--Phone Number-->
        <div class="form-group row">
          <label for="add-phone-number-left" class="col-md-4 form-control-label text-md-right">Phone
          </label>

          <div class="col-md-3 col-xs-12">
            <input type="text" class="form-control" id="phone-countrycode" maxlength="4" [textMask]="{mask: mask, guide:false}" pattern="^[+]{1}\d{1,3}(?!\d)"
              [(ngModel)]="selContact.cntryDialCd" aria-label="Country Dial Code" [ngModelOptions]="{standalone: true}" readonly>
            <span class="help-block">Country Code</span>
          </div>
          <div class="col-md-5 col-xs-12">
            <input type="text" class="form-control" id="add-phone-number-left" [ngModel]="selContact.phoneNum | phoneNumberPipe" (ngModelChange)="selContact.phoneNum"
              title="Phone number" [ngModelOptions]="{standalone: true}" maxlength="12" readonly>
          </div>
        </div>
        <!--Extension Optional-->
        <div class="form-group row">
          <label for="add-ext-optional-left" class="col-md-4 form-control-label text-md-right">Extension</label>
          <div class="col-md-8 col-xs-12">
            <input type="text" class="form-control" id="add-ext-optional-left" [textMask]="{mask: extmask, guide:false}" maxlength="6"
              [(ngModel)]="selContact.phoneExt" title="Phone extension" [ngModelOptions]="{standalone: true}" readonly>
          </div>
        </div>
        <!--FAX Optional-->
        <div class="form-group row">
          <label for="add-fax-optional-left" class="col-md-4 form-control-label text-md-right">Fax </label>
          <div class="col-md-3 col-xs-12">
            <input type="text" class="form-control" id="fax-countrycode" maxlength="4" [textMask]="{mask: mask, guide:false}" pattern="^[+]{1}\d{1,3}(?!\d)"
              [(ngModel)]="selContact.cntryFaxDialCd" aria-label="Country Fax Dial Code" [ngModelOptions]="{standalone: true}"
              readonly>
            <span class="help-block">Country Code</span>
          </div>
          <div class="col-md-5 col-xs-12">
            <input type="text" class="form-control" id="add-fax-optional-left" [(ngModel)]="selContact.faxNum" title="Fax Number" [ngModelOptions]="{standalone: true}"
              maxlength="12" readonly>
          </div>
        </div>

      </div>
      <!--Modal Footer-->
      <div style="float: right" class="">
        <!-- Disable and greyout navigation buttons if there is less then 2 contacts  -->
        <button [ngClass]="contactsCount < 2? 'btn-outline-secondary': 'btn-outline-primary' " class="btn" [disabled]="contactsCount < 2"
          (click)="gotoFirst()">First</button>
        <button [ngClass]="contactsCount < 2? 'btn-outline-secondary': 'btn-outline-primary' " class="btn" [disabled]="contactsCount < 2"
          (click)="gotoPrev()">Prev</button>
        <button [ngClass]="contactsCount < 2? 'btn-outline-secondary': 'btn-outline-primary' " class="btn" [disabled]="contactsCount < 2"
          (click)="gotoNext()">Next</button>
        <button [ngClass]="contactsCount < 2? 'btn-outline-secondary': 'btn-outline-primary' " class="btn" [disabled]="contactsCount < 2"
          (click)="gotoLast()">Last</button>
      </div>
    </form>
  </div>
</div>