<div id="contact-right" aria-hidden="true">
    <div>
      <!--Modal Body-->
        <form id="contactright" #addcontactform ="ngForm" role="form" class="form-horizontal" data-parsley-priority-enabled="false"
              novalidate="novalidate" data-parsley-validate data-parsley-focus="first">
          <div class="body">
            <!--First Name-->
            <div class="form-group row">
              <label for="add-first-name-right" class="col-md-4 form-control-label text-md-right">
                  First Name
              </label>
              <div class="col-md-7 col-xs-12">
                <input type="text" class="form-control textuppercase" id="add-first-name-right"
                    [(ngModel)]="contact.firstNm" title="First Name" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="col-md-1 col-xs-12">
                  <i *ngIf="!checkDiff('add-first-name-left','add-first-name-right')" class="fa fa-exclamation-circle found-diff"></i>
                  <i *ngIf="checkDiff('add-first-name-left','add-first-name-right')" class="fa fa-check-circle found-same"></i>
              </div>              
            </div>
            <!--Last Name-->
            <div class="form-group row">
              <label for="add-last-name-right" class="col-md-4 form-control-label text-md-right">
                  Last Name
              </label>
              <div class="col-md-7 col-xs-12">
                <input type="text" class="form-control textuppercase" id="add-last-name-right"
                    [(ngModel)]="contact.lastNm" title="Last Name" [ngModelOptions]="{standalone: true}"> 
              </div>
              <div class="col-md-1 col-xs-12">
                  <i *ngIf="!checkDiff('add-last-name-left','add-last-name-right')" class="fa fa-exclamation-circle found-diff"></i>
                  <i *ngIf="checkDiff('add-last-name-left','add-last-name-right')" class="fa fa-check-circle found-same"></i>
              </div>  
            </div>     
            <!--Email Address         -->
            <div class="form-group row">
              <label for="add-email-address-right" class="col-md-4 form-control-label text-md-right">
                  Email
              </label>
              <div class="col-md-7 col-xs-12">
              <input type="email" class="form-control textuppercase" id="add-email-address-right"
                  [(ngModel)]="contact.emailAddress" title="Email Address" [ngModelOptions]="{standalone: true}" 
                  data-parsley-error-message="Error: Email requires appropriate format (e.g. name@address.com)">
              </div>
              <div class="col-md-1 col-xs-12">
                  <i *ngIf="!checkDiff('add-email-address-left','add-email-address-right')" class="fa fa-exclamation-circle found-diff"></i>
                  <i *ngIf="checkDiff('add-email-address-left','add-email-address-right')" class="fa fa-check-circle found-same"></i>
              </div> 
            </div>
            <!--Phone Number-->
            <div class="form-group row">
              <label for="add-phone-number-right" class="col-md-4 form-control-label text-md-right">
                  Phone
              </label>
              <div class="col-md-3 col-xs-12">
                  <input type="text" class="form-control" id="phone-countrycode" maxlength="4" [textMask]="{mask: mask, guide:false}"
                    pattern="^[+]{1}\d{1,3}(?!\d)"
                    [(ngModel)]="contact.cntryDialCd" aria-label="Country Dial Code" [ngModelOptions]="{standalone: true}" >
                    <span class="help-block">Country Code</span>
              </div>                
              <div class="col-md-4 col-xs-12">
                <input type="text" class="form-control" id="add-phone-number-right" 
                  [ngModel]="contact.phoneNum | phoneNumberPipe" (ngModelChange)= "contact.phoneNum=$event" title="Phone number" [ngModelOptions]="{standalone: true}" maxlength="13" 
                  (ngModelChange)="determineCntryDialCd()" >
              </div>
              <div class="col-md-1 col-xs-12">
                  <i *ngIf="!checkDiff('add-phone-number-left', 'add-phone-number-right')" class="fa fa-exclamation-circle found-diff"></i>
                  <i *ngIf="checkDiff('add-phone-number-left', 'add-phone-number-right')" class="fa fa-check-circle found-same"></i>
              </div> 
            </div>
            <!--Extension Optional-->
            <div class="form-group row">
              <label for="add-ext-optional-right" class="col-md-4 form-control-label text-md-right">
                  Extension</label>
              <div class="col-md-7 col-xs-12">
                <input type="text" class="form-control" id="add-ext-optional-right" [textMask]="{mask: extmask, guide:false}" 
                maxlength="6" [(ngModel)]="contact.phoneExt" title="Phone extension" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="col-md-1 col-xs-12">
                  <i *ngIf="!checkDiff('add-ext-optional-left','add-ext-optional-right')" class="fa fa-exclamation-circle found-diff"></i>
                  <i *ngIf="checkDiff('add-ext-optional-left','add-ext-optional-right')" class="fa fa-check-circle found-same"></i>
              </div> 
            </div>   
            <!--FAX Optional-->
            <div class="form-group row">
              <label for="add-fax-optional-right" class="col-md-4 form-control-label text-md-right">
                  Fax </label>
              <div class="col-md-3 col-xs-12">
                  <input type="text" class="form-control" id="fax-countrycode" maxlength="4" [textMask]="{mask: mask, guide:false}"
                    pattern="^[+]{1}\d{1,3}(?!\d)" 
                    [(ngModel)]="contact.cntryFaxDialCd"  aria-label="Country Fax Dial Code" [ngModelOptions]="{standalone: true}">
                    <span class="help-block">Country Code</span>
              </div>                   
              <div class="col-md-4 col-xs-12">
                <input type="text" class="form-control" id="add-fax-optional-right"
                      [(ngModel)]="contact.faxNum" title="Fax Number" [ngModelOptions]="{standalone: true}" maxlength="13">
                </div>
                <div class="col-md-1 col-xs-12">
                    <i *ngIf="!checkDiff('add-fax-optional-left', 'add-fax-optional-right')" class="fa fa-exclamation-circle found-diff"></i>
                    <i *ngIf="checkDiff('add-fax-optional-left', 'add-fax-optional-right')" class="fa fa-check-circle found-same"></i>
                </div> 
            </div>
        
        </div>
        <!--Modal Footer-->
        <div style="float: right" class="btn-toolbar" [ngBusy]="busy">
          <button id="setAsPrimary" class="btn btn-outline-primary" (click)="save('PRIMARY')">Set As Primary</button>
          <button class="btn btn-outline-primary" (click)="save('ADDED')">Add</button>
          <button [disabled]="!contactId" class="btn btn-outline-primary" (click)="save('REPLD')">Replace</button>
          <button *ngIf="dataModel?.contactStatus !== 'IGNR'" class="btn btn-outline-primary" (click)="save('IGNR')">Ignore</button>
          <button class="btn btn-outline-primary" (click)="save('SKIP')">Skip</button>
          <button class="btn btn-outline-dark" (click)="this.cancel.emit(true)">Cancel</button>
        </div>
      </form>
    </div>
</div>