<div data-ng-controller="ContactController">
    <!--Search box widget-->
    <div class="row">
        <div class="col-lg-offset-1 col-lg-12">
            <!-- this div is used to seperate the ngBusy -->
            <div style="position: relative">
            <section class="widget h-divider" widget *ngIf="primaryAddress"  [ngBusy]="[busy,cBusy]">
                <div class="widget-body">

                    <div class="row">
                        <div class="offset-md-2 col-md-3">
                                <h5 class="title text-xs-center h5 fw-semi-bold" id="address-left-title">{{cmpymodel?.legalName}}</h5>
                        </div>
                        <div class="offset-md-3">
                                <h5 class="title text-xs-center h5 fw-semi-bold" id="edit-address-title">Ingested Company Address</h5>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Left side column - address info to validate against -->
                        <div class="col-lg-5">
                            <div edit-address-left [companyData]="cmpymodel" [primaryAddress]="primaryAddress"
                                [secondaryAddress]="alternateAddress" [selAddressType]="addressType" (resetIcon)="addressType=$event;compareIngestedAddresstoTUFAAddress(addressType)"></div>
                            <div *ngIf="permit?.doc3852Id" style="margin: 4rem 0 0 10rem">
                                <a target="_blank" (click)="enableLinkAuth(true)" href="api/reports/view/attachs/{{permit?.doc3852Id}}">
                                    {{ permit?.month}} FY{{permit?.fiscalYear}} uploaded 3852 form</a>

                            </div>
                            <div *ngIf="!permit?.doc3852Id" class="fw-semi-bold" style="margin: 4rem 0 0 10rem">
                                No monthly report has an uploaded 3852 form for this permit
                            </div>
                            <!---->
                        </div>
                        <div class="col-lg-1" style="margin-right: -30px; margin-left: 40px;">
                            <div aria-hidden="true">
                                <div>
                                    <!--Modal Header-->
                                    <div class="header">
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-8">
                                                <!-- <h5 class="title text-xs-left h5 fw-semi-bold" id="edit-address-title">Action</h5> -->
                                                <!-- <button class="btn btn-outline-primary" (click)="copyLine()"><i class="fa fa-forward"></i></button> -->
                                            </div>
                                        </div>
                                    </div>
                                    <!--Modal Body-->
                                    <div class="body">
                                        <form id="midform" #midform="ngForm" role="form" class="form-horizontal"
                                            data-parsley-priority-enabled="false" novalidate="novalidate"
                                            data-parsley-validate data-parsley-focus="first">
                                            <!--Attention-->
                                            <div class="form-group row">
                                                <button class="btn btn-outline-primary" aria-label="Copy Attention"
                                                    (click)="this.address.attention = getActiveAddress('attention-left');copyLine()">
                                                    <i class="fa fa-chevron-right"></i></button>
                                            </div>
                                            <!--Street Address-->
                                            <div class="form-group row">
                                                <button class="btn btn-outline-primary" aria-label="Copy Street Address"
                                                    (click)="this.address.streetAddress = getActiveAddress('street-address-left');copyLine()">
                                                    <i class="fa fa-chevron-right"></i></button>
                                            </div>
                                            <!--Suite -->
                                            <div class="form-group row">
                                                <button class="btn btn-outline-primary" aria-label="Copy Suite" (click)="this.address.suite = getActiveAddress('suite-left');copyLine()">
                                                    <i class="fa fa-chevron-right"></i></button>
                                            </div>
                                            <!--City -->
                                            <div class="form-group row">
                                                <button class="btn btn-outline-primary" aria-label="Copy City" (click)="this.address.city = getActiveAddress('city-left');copyLine()">
                                                    <i class="fa fa-chevron-right"></i></button>
                                            </div>
                                            <!--State/Province-->
                                            <div class="form-group row">
                                                <button class="btn btn-outline-primary" aria-label="Copy State" (click)="this.address.state = getActiveAddress('state-left');copyLine()">
                                                    <i class="fa fa-chevron-right"></i></button>
                                            </div>
                                            <!--Zip Code-->
                                            <div class="form-group row">
                                                <button class="btn btn-outline-primary" aria-label="Copy Postal Code"
                                                    (click)="this.address.postalCd = getActiveAddress('postalCode-left');copyLine()">
                                                    <i class="fa fa-chevron-right"></i></button>
                                            </div>
                                            <!--Country-->
                                            <div class="form-group row">
                                                <button class="btn btn-outline-primary" aria-label="Copy Country"
                                                    (click)="this.address.countryNm = getActiveAddress('country-left');copyLine()">
                                                    <i class="fa fa-chevron-right"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                    <!--Modal Footer-->
                                    <div class="form-group row">
                                        <button class="btn btn-outline-primary" aria-label="Copy Address" (click)="copyLines()"><i
                                                class="fa fa-forward"></i></button>
                                    </div>
                                </div>
                                <!--modal-content-->
                            </div>
                            <!--modal-->
                        </div>
                        <!-- Right side column - address info read from file -->
                        <div class="col-lg-5">
                            <div edit-address-right [dataModel]="addressData" [companyId]="cmpymodel.companyId" 
                            [diffIndicator]="addressDiff" [address]="address" [primaryAddress]="primaryAddress" [secondaryAddress]="alternateAddress" [setPrimaryCase]="setPrimaryCase" (resetIcon)="compareIngestedAddresstoTUFAAddress(addressType)"
                            [typeCd]="addressCd" (onSaving)="reload($event)" (cancel)="close()"></div>
                        </div>
                    </div>
                </div>
            </section>
            </div>
            <!--DataTable Grid that displays search results - Company or Report-->
            <section class="widget h-divider" widget [ngBusy]="uBusy">
                <div class="widget-body"  [ngBusy]="{busy: initalBusy, message: 'Loading...', backdrop: true}">
                    <div permit-search-company-results [companyResults]="companyData" [selected]="this.nextInd" [decider]="'address'"
                        (getAssociateAddress)="associateAddress($event)" [datatableName]="'address-mgmt-results'"
                        (updateAddressResults)="updateResults($event)" (close)="close()"></div>
                </div>
            </section>
        </div>
    </div>
</div>