/* The Modal (background) */
.modal {

background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-backdrop
 {
   z-index: 0 !important;
   background-color: white !important;
 }

 .textuppercase {
  text-transform: uppercase;
}