<div>
			<!--Modal Header-->
			<div class="header">
				<h5 *ngIf="addressStatus" class="title text-xs-right fw-bold" id="add-status-title">Status: {{addressStatus | permitStatusPipe}}</h5>
				<h5 class="title text-xs-left h5 fw-semi-bold" id="edit-address-title">Company Address</h5>
			</div>
			<!--Modal Body-->
			<div class="body">
				<form id="editaddressform" #editaddressform="ngForm" role="form" class="form-horizontal" data-parsley-priority-enabled="false"
					novalidate="novalidate" data-parsley-validate data-parsley-focus="first">
					<!--Attention-->
					<div class="form-group row">
						<label for="attention" class="col-md-4 form-control-label text-md-right">Attention</label>
						<div class="col-md-8 col-xs-12">
							<input type="text" class="form-control" maxlength="40" id="attention" [(ngModel)]="address.attention" title="Attention"
							 [ngModelOptions]="{standalone: true}">
						</div>
					</div>
					<!--Street Address-->
					<div class="form-group row">
						<label for="street-address" class="col-md-4 form-control-label text-md-right">Street Address
                		</label>
						<div class="col-md-8 col-xs-12">
							<input type="text" class="form-control"  maxlength="60" id="street-address" [(ngModel)]="address.streetAddress" title="Street Address"
							 [ngModelOptions]="{standalone: true}">
						</div>
					</div>
					<!--Suite -->
					<div class="form-group row">
						<label for="suite" class="col-md-4 form-control-label text-md-right">Suite
                		</label>

						<div class="col-md-8 col-xs-12">
							<input type="text" class="form-control"  maxlength="20" id="suite" [(ngModel)]="address.suite" title="Suite"
							 [ngModelOptions]="{standalone: true}">
						</div>
					</div>
					<!--City -->
					<div class="form-group row">
						<label for="city" class="col-md-4 form-control-label text-md-right">City
                		</label>

						<div class="col-md-8 col-xs-12">
							<input type="text" class="form-control"  maxlength="40" id="city" [(ngModel)]="address.city" title="City"
							 [ngModelOptions]="{standalone: true}"> 
							<!--data-parsley-pattern="^[A-Za-z .]+"-->
						</div>
					</div>
					<!--State-->
					<div *ngIf='address.countryNm==="UNITED STATES"' class="form-group row">
						<label for="state" class="col-md-4 form-control-label text-md-right">State</label>
						<div class="col-md-8 col-xs-12">
							<select class="form-control" id="state" [(ngModel)]="address.state" title="Select State"
							 [ngModelOptions]="{standalone: true}">
								<option *ngFor="let product of stateList" [value]="product">
									{{product}}
								</option>
							</select>
						</div>
					</div>
					<!--Province -->
					<div *ngIf='address.countryNm!="UNITED STATES"' class="form-group row">
						<label for="province" class="col-md-4 form-control-label text-md-right">State/Province</label>
						<div class="col-md-8 col-xs-12">
							<input type="text" class="form-control"  maxlength="20" id="province" [(ngModel)]="address.province" title="Foreign State or Province"
							 [ngModelOptions]="{standalone: true}"> 
							<!--data-parsley-pattern="^[A-Za-z .]+"-->
						</div>
					</div>
					<!--Zip Code-->
					<div class="form-group row">
						<label for="postalCode" class="col-md-4 form-control-label text-md-right">Postal Code</label>
						<div class="col-md-8 col-xs-12">
							<input type="text" class="form-control" id="postalCode" maxlength="10" [(ngModel)]="address.postalCd" title="Postal Code"
							 minlength="5" maxlength="10" [ngModelOptions]="{standalone: true}">
					<!--data-parsley-pattern="^[0-9]+" -->
						</div>
					</div>
					<!--Country-->
					<div class="form-group row">
						<label for="country" class="col-md-4 form-control-label text-md-right">Country</label>
						<div class="col-md-8 col-xs-12">
							<select class="form-control" id="country" [(ngModel)]="address.countryNm" title="Country Name" [ngModelOptions]="{standalone: true}">
								<option *ngFor="let product of countryList" [value]="product">
									{{product}}
								</option>
							</select>
						</div>
					</div>
				</form>
			</div>
			<!--Modal Footer-->
			<div style="float: right" class="btn-toolbar">
				<!--<button *ngIf="dataModel.addressStatus !== 'ADDED'" [disabled]="disableAdd()" class="btn btn-primary" (click)="save('ADDED')">Add</button>
				<button *ngIf="dataModel.addressStatus === 'ADDED'" class="btn btn-secondary"><i style="margin-right:10px;" class="fa fa-check-circle text-success"></i>Added!</button>-->
				<button [disabled]="!typeCd" class="btn btn-outline-primary" (click)="save('REPLD')">Replace</button>
				<button *ngIf="dataModel.addressStatus !== 'IGNR'" class="btn btn-outline-primary" (click)="save('IGNR')">Ignore</button>
				<button class="btn btn-outline-primary" (click)="save('SKIP')">Skip</button>
				<button class="btn btn-outline-dark" (click)="this.cancel.emit(true)">Cancel</button>
			</div>
		</div> 