<div id="company-updates-panel">
    <div company-mgmt-edit [hidden]="isDisplayPanel" [permitUpdate]="companyUpdate" (mvNextRecord)="moveToNextRecord($event)"></div>
</div>
<section class="widget h-divider" widget>
    <div [ngBusy]="busy" class="widget-body">

        <div *ngIf="actionReqCnt>0" class="col-xs-12 col-md-12 col-lg-12 alert alert-danger alert-sm">
            <span class="fa fa-exclamation-triangle"></span>
            <span class="no-margin fw-normal alert-text" style="margin-bottom:10px;margin-left: 5px">
                <strong style="margin-bottom:10px">ACTION REQUIRED:</strong>
                {{actionReqCnt}} conflict(s) need to be resolved
            </span>
        </div>
        <table id="compy-mgmt-results-table" [ngBusy]="{busy: busy, message: 'Loading...', backdrop: true}" class="table table-hover"
            [mfData]="dataTableData | companyPipe:filterData" #mf="mfDataTable" [mfRowsOnPage]="pageSize" [(mfSortBy)]="sortBy"
            [(mfSortOrder)]="sortOrder" [mfIsServerPagination]="false" summary="Search Permit Update Results" [mfStoreState]="true"
            [mfNavigateUrls]="'/company/details;/permit/history;/permit-mgmt/address-mgmt;permit/impreport;permit/manreport'"
            [mfDataTableName]="'company-mgmt-results'" [mfFilters]="filterData" (restoreFilters)="restoreFilterData($event)"
            [navigationAttrs]="navigationAttrs" (mfNavigationEvent)="onNavigationEvent($event)" [mfSortFunction]="sortFunction"  (mfAfterSortOrderChange)="afterSortOrderChange($event)">
            <colgroup>
                <col style="width:30%">
                <col style="width:15%">
                <col style="width:25%">
                <col style="width:30%">
            </colgroup>
            <thead>
                <tr>
                    <th scope="col" id="h-cmp-name">
                        <mfDefaultSorter by="companyName" title="Company Name">Company Name</mfDefaultSorter>
                    </th>
                    <th scope="col" id="h-cmp-ein">
                        <mfDefaultSorter by="einNum" title="Company EIN">EIN</mfDefaultSorter>
                    </th>
                    <th scope="col" id="h-cmp-stat">
                        <mfDefaultSorter by="companyStatusFunction" title="Company Status">Company Status</mfDefaultSorter>
                    </th>
                    <th scope="col" class="hidden-sm-down" id="h-permit-action">
                        <mfDefaultSorter by="companyAction" title="Permit Action">Company Action</mfDefaultSorter>
                    </th>
                </tr>
            </thead>
            <tbody>
                <!---->
                <tr style="border-bottom:2px solid #17529F;">
                    <td *ngFor="let column of columns">
                        <div *ngIf="column.filtering" class="input-group input-group-transparent input-group-rounded">
                            <span class="input-group-text" *ngIf="column.type==='input'">
                                <i class="fa fa-filter" (click)="applyFilter();"></i>
                            </span>

                            <input *ngIf="column.type==='input'" [attr.id]="'file-filter-' + column.name" [attr.aria-label]="column.name" [ngTableFiltering]="column.filtering"
                                [config]="column.filtering" class="form-control" placeholder="{{column.filtering.placeholder}}"
                                value="{{column.filtering.filterString}}" (tableChanged)="onChangeTable($event)" />
                        </div>
                    </td>
                    <td>
                        <select id="multiselect" multiple="multiple">
                            <span class="input-group-text">
                                <i class="fa fa-filter"></i>
                            </span>
                            <option value="ADDED">ADDED</option>
                            <option value="CONFLICT">CONFLICT</option>
                            <option value="FOUND MATCH">FOUND MATCH</option>
                            <option value="INVALID">INVALID</option>
                        </select>
                    </td>
                </tr>
                <tr *ngFor="let companyUpdate of mf.data;let i= index" id="cmpy-results-{{i}}">
                    <td class="fw-semi-bold blue">
                        <a href="javascript:void(1)" *ngIf="!isDormant(companyUpdate.companyStatus)" [ngClass]="{'isDormant': isDormant(companyUpdate.companyStatus)}"
                            (aClick)="toCompany(companyUpdate.einNum)">{{companyUpdate.companyName}}</a>
                        <span *ngIf="isDormant(companyUpdate.companyStatus)" class="isDormant">{{companyUpdate.companyName}}</span>
                    </td>
                    <td id="cmpy-results-ein-{{i}}" class="hidden-sm-down">{{companyUpdate?.einNum}}</td>
                    <td class="hidden-sm-down"> {{getCompanyStatus(companyUpdate)}}</td>

                    <ng-template #popTemplate>
                        <div [innerHtml]="getTooltipContent(companyUpdate)"></div>
                    </ng-template>
                    <td placement="top" container='body' [tooltipEnable]="!getTooltipContent(companyUpdate)" [tooltip]="popTemplate">{{companyUpdate.companyAction}}
                        <span>
                            <i *ngIf="getTooltipContent(companyUpdate)" [ngClass]="getIconColor(companyUpdate)" class="fa fa-exclamation-circle fa-w-16  ml-xs"></i>
                        </span>
                        <span style="margin-left: 30px;">
                            <a *ngIf="companyUpdate?.companyAction && companyUpdate?.companyAction.includes('CONFLICT')" href="javascript:void(0)" (aClick)="reviewCompanyUpdateClick(companyUpdate,i)">
                                <i [ngClass]="{'fa-search-plus':!(selectedRow==i),'fa-search-minus':(selectedRow==i)}" class="fa" style="font-size:1.25em;color:#218bc3"></i>
                            </a>
                        </span>
                    </td>

                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="12">
                        <mfBootstrapPaginator [rowsOnPageSet]="[25, 50, 100]"></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</section>