<div data-ng-controller="ContactController">
    <!--Search box widget-->
    <div class="row">
        <div class="col-lg-offset-1 col-lg-12">
            <!-- this div is used to seperate the ngBusy -->
            <div style="position: relative">
            <section class="widget h-divider" widget *ngIf="contacts" [ngBusy]="[cBusy,busy]">
                <div class="widget-body">

                    <div class="row">
                        <!-- <div class="col-md-2">
                            <div class="pull-right">
                                <span *ngIf="selContactIndex === 1" class="tag tag-primary">
                                    <i class="fa fa-star-o"></i>
                                    Primary Contact
                                </span>
                            </div>
                        </div> -->
                        <div class="offset-md-2 col-md-3">
                            <h5 class="title text-xs-left h5 fw-semi-bold" id="edit-address-title">{{cmpymodel?.legalName}}
                            </h5>
                        </div>
                        <div class="offset-md-3">
                            <h5 class="title text-xs-center h5 fw-semi-bold" id="edit-address-title">Ingested Company
                                Contact</h5>
                        </div>
                    </div>

                    <div class="row">
                        <!-- <div class="col-lg-6">
                            <div class="header">
                                <h5 class="title text-xs-left fw-bold" id="contact-mgmt-title">{{cmpymodel.legalName}}</h5>
                                <h5 class="title text-xs-left h5 fw-semi-bold" id="poc-title">Points of Contact</h5>
                            </div>                       
                            <div *ngFor="let contact of contacts; let i = index;">
                                <div *ngIf="(i==0)" class="row flex-nowrap">
                                    <div class="col-lg-5">							
                                        <span class="tag tag-primary">
                                            <i class="fa fa-star-o"></i>
                                            Primary Contact
                                        </span>
                                    </div>
                                </div>						
                                <div class="row flex-nowrap" style="margin-top:10px;">
                                    <div class="col-lg-1">
                                        <input id="alt-add-{{i}}" [attr.title]="'contact_'+i" name="contactInfo" type="radio" [value]="contact.contactId" 
                                        [(ngModel)]="contactId" (ngModelChange)="trackChanges($event)"> 
                                    </div>
                                    <div class="col-lg-6">
                                        <p class="h6 no-margin fw-normal"><strong>{{contact.firstNm}} {{contact.lastNm}}</strong></p>
                                        <p class="no-margin ">{{contact.emailAddress}}</p>
                                    </div>
                                    <div class="col-lg-5">
                                        <p class="no-margin"><span *ngIf="contact.phoneNum" >Phone: {{contact.cntryDialCd}} {{contact.phoneNum | phoneNumberPipe:contact.cntryDialCd}}</span><span *ngIf="contact.phoneExt" style="margin-left:10px;">Ext: {{contact.phoneExt}}</span></p>
                                        <p class="no-margin"><span *ngIf="contact.faxNum" >Fax: {{contact.cntryFaxDialCd}} {{contact.faxNum | phoneNumberPipe:contact.cntryFaxDialCd}}</span></p>
                                    </div>
                                </div>                                
                            </div> 
                            <div *ngIf="permit?.displayMonthYear" style="position: absolute; bottom: 0;">
                                <a [routerLink]="['/app/permit', permitTypeCd === 'Manufacturer'?'manreport':'impreport']" 
                                (aClick)="toPeriodofActivity(permit)" >Latest Report - {{permit?.displayMonthYear}}</a>
                            </div>
                        </div> -->
                        <div class="col-lg-5">
                            <div add-contact-left [contacts]="contacts" [companyData]="cmpymodel" (updatedId)="trackChanges($event)"></div>
                            <div *ngIf="permit?.doc3852Id" style="margin: 4rem 0 0 10rem">
                                <a target="_blank" (click)="enableLinkAuth(true)" href="api/reports/view/attachs/{{permit?.doc3852Id}}">
                                    {{ permit?.month}} FY{{permit?.fiscalYear}} uploaded 3852 form</a>

                            </div>
                            <div *ngIf="!permit?.doc3852Id" class="fw-semi-bold" style="margin: 4rem 0 0 10rem">
                                No monthly report has an uploaded 3852 form for this permit
                            </div>
                        </div>
                        <div class="col-lg-1" style="margin-right: -30px; margin-left: 40px;">
                            <div aria-hidden="true">
                                <div>
                                    <!--Modal Header-->
                                    <div class="header">
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-8">
                                                <!-- <h5 class="title text-xs-left h5 fw-semi-bold" id="edit-address-title">Action</h5> -->
                                                <!-- <button class="btn btn-outline-primary" (click)="copyLine()"><i class="fa fa-forward"></i></button> -->
                                            </div>
                                        </div>
                                    </div>
                                    <!--Modal Body-->
                                    <div class="body" style="margin-top:30px;">
                                        <form id="midform" #midform="ngForm" role="form" class="form-horizontal"
                                            data-parsley-priority-enabled="false" novalidate="novalidate"
                                            data-parsley-validate data-parsley-focus="first">
                                            <!--First Name-->
                                            <div class="form-group row">
                                                <button class="btn btn-outline-primary" aria-label="Copy First Name"
                                                    (click)="this.contact.firstNm = getActiveAddress('add-first-name-left');copyLine()"><i
                                                        class="fa fa-chevron-right"></i></button>
                                            </div>
                                            <!--Last Name-->
                                            <div class="form-group row">
                                                <button class="btn btn-outline-primary" aria-label="Copy Last Name"
                                                    (click)="this.contact.lastNm = getActiveAddress('add-last-name-left');copyLine()"><i
                                                        class="fa fa-chevron-right"></i></button>
                                            </div>
                                            <!--Email -->
                                            <div class="form-group row">
                                                <button class="btn btn-outline-primary" aria-label="Copy Email Address"
                                                    (click)="this.contact.emailAddress = getActiveAddress('add-email-address-left');copyLine()"><i
                                                        class="fa fa-chevron-right"></i></button>
                                            </div>
                                            <!--Phone -->
                                            <div class="form-group row">
                                                <button class="btn btn-outline-primary" aria-label="Copy Phone Number"
                                                    (click)="this.contact.phoneNum = getActiveAddress('add-phone-number-left');this.contact.cntryDialCd = this.getActiveAddress('phone-countrycode');copyLine()">
                                                    <i class="fa fa-chevron-right"></i></button>
                                            </div>
                                            <!--Extension-->
                                            <div class="form-group row" style="margin-top:25px;">
                                                <button class="btn btn-outline-primary" aria-label="Copy Phone Ext"
                                                    (click)="this.contact.phoneExt = getActiveAddress('add-ext-optional-left');copyLine()"><i
                                                        class="fa fa-chevron-right"></i></button>
                                            </div>
                                            <!--Fax-->
                                            <div class="form-group row">
                                                <button class="btn btn-outline-primary" aria-label="Copy Fax" (click)="this.contact.faxNum = getActiveAddress('add-fax-optional-left');this.contact.cntryFaxDialCd = this.getActiveAddress('fax-countrycode');copyLine()">
                                                    <i class="fa fa-chevron-right"></i></button>
                                                <span class="help-block">-</span>
                                            </div>
                                        </form>
                                    </div>
                                    <!--Modal Footer-->
                                    <div class="form-group row" style="margin-top:25px;">
                                        <button class="btn btn-outline-primary" aria-label="Copy Contact" (click)="copyLines()"><i
                                                class="fa fa-forward"></i></button>
                                    </div>
                                </div>
                                <!--modal-content-->
                            </div>
                            <!--modal-->
                        </div>
                        <div class="col-lg-5" style="margin-top:25px;">
                            <div add-contact-right [diffIndicator]="contactDiff" [dataModel]="contactData" [company]="cmpymodel"
                                [contactId]="contactId" (onSaving)="reload($event)" (cancel)="close()">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            </div>
            <!--DataTable Grid that displays search results - Company or Report-->
            <section class="widget h-divider" widget [ngBusy]="uBusy">
                <div class="widget-body" [ngBusy]="{busy: initalBusy, message: 'Loading...', backdrop: true}">
                    <div permit-search-company-results [datatableName]="'contact-mgmt-results'" [companyResults]="companyData"
                        [selected]="nextInd" [decider]="'contact'" (getAssociateContact)="associateContact($event)"
                        (updateContactResults)="updateResults($event)" (close)="close()"></div>
                </div>
            </section>
        </div>
    </div>
</div>