<div id="address-left" aria-labelledby="address-left" aria-hidden="true">
	<div>
		<!--Modal Header-->
		<!-- <div class="header">
				<div class="row">
					<div class="col-md-4"></div>	
					<div class="col-md-12">
						<div class="pull-right">
							<h5 class="title text-xs-left h5 fw-semi-bold" id="address-left-title">{{companyData?.legalName}}</h5>
						</div>
					</div>
				</div>
		</div> -->
		<!--Modal Body-->
		<div class="body">
			<form id="editaddressform" #editaddressform="ngForm" role="form" class="form-horizontal"
			 data-parsley-priority-enabled="false" novalidate="novalidate" data-parsley-validate data-parsley-focus="first">
				<!--Attention-->
				<div class="form-group row">
					<label for="attention-left" class="col-md-4 form-control-label text-md-right">Attention</label>
					<div class="col-md-8 col-xs-12">
						<input type="text" class="form-control" maxlength="40" id="attention-left" [(ngModel)]="selAddress.attention"
						 title="Attention" [ngModelOptions]="{standalone: true}" readonly>
					</div>
				</div>
				<!--Street Address-->
				<div class="form-group row">
					<label for="street-address-left" class="col-md-4 form-control-label text-md-right">Street Address
					</label>
					<div class="col-md-8 col-xs-12">
						<input type="text" class="form-control" maxlength="60" id="street-address-left" [(ngModel)]="selAddress.streetAddress"
						 title="Street Address" [ngModelOptions]="{standalone: true}" readonly>
					</div>
				</div>
				<!--Suite -->
				<div class="form-group row">
					<label for="suite-left" class="col-md-4 form-control-label text-md-right">Suite
					</label>

					<div class="col-md-8 col-xs-12">
						<input type="text" class="form-control" maxlength="20" id="suite-left" [(ngModel)]="selAddress.suite" title="Suite"
						 [ngModelOptions]="{standalone: true}" readonly>
					</div>
				</div>
				<!--City -->
				<div class="form-group row">
					<label for="city-left" class="col-md-4 form-control-label text-md-right">City
					</label>

					<div class="col-md-8 col-xs-12">
						<input type="text" class="form-control" maxlength="40" id="city-left" [(ngModel)]="selAddress.city" title="City"
						 [ngModelOptions]="{standalone: true}" readonly>
						<!--data-parsley-pattern="^[A-Za-z .]+"-->
					</div>
				</div>
				<!--State-->
				<div *ngIf='selAddress.countryNm==="UNITED STATES"' class="form-group row">
					<label for="state-left" class="col-md-4 form-control-label text-md-right">State</label>
					<div class="col-md-8 col-xs-12">
						<select disabled="true" class="form-control" id="state-left" [(ngModel)]="selAddress.state" title="Select State"
						 [ngModelOptions]="{standalone: true}">
							<option *ngFor="let product of stateList" [value]="product">
								{{product}}
							</option>
						</select>
					</div>
				</div>
				<!--Province -->
				<div *ngIf='selAddress.countryNm!="UNITED STATES"' class="form-group row">
					<label for="province-left" class="col-md-4 form-control-label text-md-right">State/Province</label>
					<div class="col-md-8 col-xs-12">
						<input type="text" class="form-control" maxlength="20" id="province-left" [(ngModel)]="selAddress.province" title="Foreign State or Province"
						 [ngModelOptions]="{standalone: true}" readonly>
					</div>
				</div>
				<!--Zip Code-->
				<div class="form-group row">
					<label for="postalCode-left" class="col-md-4 form-control-label text-md-right">Postal Code</label>
					<div class="col-md-8 col-xs-12">
						<input type="text" class="form-control" id="postalCode-left" maxlength="10" [(ngModel)]="selAddress.postalCd"
						 title="Postal Code" minlength="5" maxlength="10" [ngModelOptions]="{standalone: true}" readonly>
					</div>
				</div>
				<!--Country-->
				<div class="form-group row">
					<label for="country-left" class="col-md-4 form-control-label text-md-right">Country</label>
					<div class="col-md-8 col-xs-12">
						<select disabled="true" class="form-control" id="country-left" [(ngModel)]="selAddress.countryNm" title="Country Name"
						 [ngModelOptions]="{standalone: true}">
							<option *ngFor="let product of countryList" [value]="product">
								{{product}}
							</option>
						</select>
					</div>
				</div>
			</form>
		</div>
		<!--Modal Footer-->
		<div style="float: right">
			<button class="btn" [ngClass]="{'btn-primary' : isPrimary(), 'btn-secondary' : !isPrimary()}" (click)="gotoPrimaryAddress()">Primary</button>
			<button class="btn" [ngClass]="{'btn-primary' : !isPrimary(), 'btn-secondary' : isPrimary()}" (click)="gotoSecondaryAddress()" style="margin-left: 6px;">Alternate</button>
		</div>
		<!--modal-content-->
	</div>
	<!--modal-->