
<div id="address-right" aria-labelledby="edit-address-title" aria-hidden="true">
	<div>
		<!--Modal Header-->
		<!-- <div class="header">
			<div class="row">
				<div class="col-md-12">
					<h5 *ngIf="addressStatus" class="title text-xs-right fw-bold" id="add-status-title">Status: {{addressStatus | permitStatusPipe}}</h5>
					<div class="pull-left">
						<h5 class="title text-xs-left h5 fw-semi-bold" id="edit-address-title">Ingested Company Address</h5>
					</div>
				</div>
			</div>
		</div> -->
		<!--Modal Body-->
		<div class="body">
			<form id="editaddressform" #editaddressform="ngForm" role="form" class="form-horizontal"
			 data-parsley-priority-enabled="false" novalidate="novalidate" data-parsley-validate data-parsley-focus="first">
				<!--Attention-->
				<div class="form-group row">
					<label for="attention-right" class="col-md-4 form-control-label text-md-right">Attention</label>
					<div class="col-md-7 col-xs-12">
						<input type="text" class="form-control textuppercase" maxlength="40" id="attention-right" [(ngModel)]="address.attention" title="Attention"
						 [ngModelOptions]="{standalone: true}" (ngModelChange)="resetIcons()" (ngModelChange)="resetIcons()">
					</div>
					<div class="col-md-1 col-xs-12">
						<i *ngIf="!diffIndicator.attentionDiff" class="fa fa-exclamation-circle found-diff"></i>
						<i *ngIf="diffIndicator.attentionDiff" class="fa fa-check-circle found-same"></i>
					</div>
				</div>
				<!--Street Address-->
				<div class="form-group row">
					<label for="street-address-right" class="col-md-4 form-control-label text-md-right">Street Address
					</label>
					<div class="col-md-7 col-xs-12">
						<input type="text" class="form-control textuppercase" maxlength="60" id="street-address-right" [(ngModel)]="address.streetAddress"
						 title="Street Address" [ngModelOptions]="{standalone: true}" (ngModelChange)="resetIcons()">
					</div>
					<div class="col-md-1 col-xs-12">
						<i *ngIf="!diffIndicator.streetAddressDiff" class="fa fa-exclamation-circle found-diff"></i>
						<i *ngIf="diffIndicator.streetAddressDiff" class="fa fa-check-circle found-same"></i>
					</div>
				</div>
				<!--Suite -->
				<div class="form-group row">
					<label for="suite-right" class="col-md-4 form-control-label text-md-right">Suite
					</label>
					<div class="col-md-7 col-xs-12">
						<input type="text" class="form-control textuppercase" maxlength="20" id="suite-right" [(ngModel)]="address.suite" title="Suite"
						 [ngModelOptions]="{standalone: true}" (ngModelChange)="resetIcons()">
					</div>
					<div class="col-md-1 col-xs-12">
						<i *ngIf="!diffIndicator.suiteDiff" class="fa fa-exclamation-circle found-diff"></i>
						<i *ngIf="diffIndicator.suiteDiff" class="fa fa-check-circle found-same"></i>
					</div>
				</div>
				<!--City -->
				<div class="form-group row">
					<label for="city-right" class="col-md-4 form-control-label text-md-right">City
					</label>
					<div class="col-md-7 col-xs-12">
						<input type="text" class="form-control textuppercase" maxlength="40" id="city-right" [(ngModel)]="address.city" title="City"
						 [ngModelOptions]="{standalone: true}" (ngModelChange)="resetIcons()">
						<!--data-parsley-pattern="^[A-Za-z .]+"-->
					</div>
					<div class="col-md-1 col-xs-12">
						<i *ngIf="!diffIndicator.cityDiff" class="fa fa-exclamation-circle found-diff"></i>
						<i *ngIf="diffIndicator.cityDiff" class="fa fa-check-circle found-same"></i>
					</div>
				</div>
				<!--State-->
				<div *ngIf='address.countryNm==="UNITED STATES"' class="form-group row">
					<label for="state-right" class="col-md-4 form-control-label text-md-right">State</label>
					<div class="col-md-7 col-xs-12">
						<select class="form-control" id="state-right" [(ngModel)]="address.state" title="Select State" [ngModelOptions]="{standalone: true}"
						 (ngModelChange)="resetIcons()">
							<option *ngFor="let product of stateList" [value]="product">
								{{product}}
							</option>
						</select>
					</div>
					<div class="col-md-1 col-xs-12">
						<i *ngIf="!diffIndicator.stateDiff" class="fa fa-exclamation-circle found-diff"></i>
						<i *ngIf="diffIndicator.stateDiff" class="fa fa-check-circle found-same"></i>
					</div>
				</div>
				<!--Province -->
				<div *ngIf='address.countryNm!="UNITED STATES"' class="form-group row">
					<label for="province-right" class="col-md-4 form-control-label text-md-right">State/Province</label>
					<div class="col-md-7 col-xs-12">
						<input type="text" class="form-control textuppercase" maxlength="20" id="province-right" [(ngModel)]="address.province" title="Foreign State or Province"
						 [ngModelOptions]="{standalone: true}" (ngModelChange)="resetIcons()">
						<!--data-parsley-pattern="^[A-Za-z .]+"-->
					</div>
					<div class="col-md-1 col-xs-12">
						<i *ngIf="!diffIndicator.provinceDiff" class="fa fa-exclamation-circle found-diff"></i>
						<i *ngIf="diffIndicator.provinceDiff" class="fa fa-check-circle found-same"></i>
					</div>
				</div>
				<!--Zip Code-->
				<div class="form-group row">
					<label for="postalCode-right" class="col-md-4 form-control-label text-md-right">Postal Code</label>
					<div class="col-md-7 col-xs-12">
						<input type="text" class="form-control textuppercase" id="postalCode-right" maxlength="10" [(ngModel)]="address.postalCd" title="Postal Code"
						 minlength="5" maxlength="10" [ngModelOptions]="{standalone: true}" (ngModelChange)="resetIcons()">
						<!--data-parsley-pattern="^[0-9]+" -->
					</div>
					<div class="col-md-1 col-xs-12">
						<i *ngIf="!diffIndicator.postalCdDiff" class="fa fa-exclamation-circle found-diff"></i>
						<i *ngIf="diffIndicator.postalCdDiff" class="fa fa-check-circle found-same"></i>
					</div>
				</div>
				<!--Country-->
				<div class="form-group row">
					<label for="country-right" class="col-md-4 form-control-label text-md-right">Country</label>
					<div class="col-md-7 col-xs-12">
						<select class="form-control" id="country-right" [(ngModel)]="address.countryNm" title="Country Name"
						 [ngModelOptions]="{standalone: true}" (ngModelChange)="resetIcons()">
							<option *ngFor="let product of countryList" [value]="product">
								{{product}}
							</option>
						</select>
					</div>
					<div class="col-md-1 col-xs-12">
						<i *ngIf="!diffIndicator.countryNmDiff" class="fa fa-exclamation-circle found-diff"></i>
						<i *ngIf="diffIndicator.countryNmDiff" class="fa fa-check-circle found-same"></i>
					</div>
				</div>
			</form>
		</div>
		<!--Modal Footer-->
		<div class="form-group row btn-toolbar" style="float: right" [ngBusy]="busy">
			<!--<button *ngIf="dataModel.addressStatus !== 'ADDED'" [disabled]="disableAdd()" class="btn btn-primary" (click)="save('ADDED')">Add</button>
			<button *ngIf="dataModel.addressStatus === 'ADDED'" class="btn btn-secondary"><i style="margin-right:10px;" class="fa fa-check-circle-sign text-success"></i>Added!</button>-->
			
			<button *ngIf='setPrimaryCase === "case1"' id="sel-altn-address" class="btn btn-outline-primary" data-backdrop="true"  (click)="save('ADDED')" 
				title="Set as Alternate address" aria-label="Set as Alternate address" data-keyboard="false" data-toggle="modal" data-target="#select-altnaddress" focusOn="#select-altnaddress">
				Set as Primary</button>
			<button *ngIf= 'setPrimaryCase != "case1"' class="btn btn-outline-primary" (click)="save('ADDED')">Set as Primary</button>
			<button class="btn btn-outline-primary" (click)="save('REPLD')">Replace</button>
			<button *ngIf="dataModel?.addressStatus !== 'IGNR'" class="btn btn-outline-primary" (click)="save('IGNR')">Ignore</button>
			<button class="btn btn-outline-primary" (click)="save('SKIP')">Skip</button>
			<button class="btn btn-outline-dark" (click)="this.cancel.emit(true)">Cancel</button>
			
		</div>

		 <div *ngIf="!address.isIngestedStateValid" class="alert alert-warning"  style="float: right" >
				<span class="fa fa-exclamation-triangle"></span>
				<span class="alert-text">
					<strong>ACTION RECOMMENDED:</strong> The ingested entry line has a state not recognized by TUFA. Please review the ingested file
				</span>

		</div>
			
		<div *ngIf="showSelAltAddressFlag" (onSelectingAddr)="saveOrUpdatePrimaryAddress($event)" select-altnaddress [primaryAddress]="primaryAddress" [alternateAddress]="secondaryAddress">
	</div> 


	</div>
	
</div>
<!--modal-->