<div id="permit-updates-panel">
    <div permit-updates-edit-status [hidden]="isDisplayEditPanel" [editPermitUpdate]="editPermitUpdate" (mvNextRecord)="moveToNextRecord($event)"></div>
    <div permit-updates-add-permit [hidden]="isDisplayAddPanel" [addPermitUpdate]="addPermitUpdate" (mvNextRecord)="moveToNextRecord($event)"
        (navigateToPg)="navigateToPg($event)"></div>
</div>
<section class="widget h-divider" widget>
    <div [ngBusy]="{busy: busy, message: 'Loading...', backdrop: true}" class="widget-body">

        <div *ngIf="actionReqCnt>0" class="col-xs-12 col-md-12 col-lg-12 alert alert-danger alert-sm">
            <span class="fa fa-exclamation-triangle"></span>
            <span class="no-margin fw-normal alert-text" style="margin-bottom:10px;margin-left: 5px">
                <strong style="margin-bottom:10px">ACTION REQUIRED:</strong>
                {{actionReqCnt}} conflict(s) need to be resolved
            </span>
        </div>

        <table id="permit-mgmt-results-table" [ngBusy]="{busy: busy, message: 'Loading...', backdrop: true}" class="table table-hover"
            [mfData]="data| permitPipe:filterData" #mf="mfDataTable" [mfRowsOnPage]="pageSize" [mfIsServerPagination]="false"
            [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" summary="Search Permit Update Results" [mfStoreState]="true" [mfNavigateUrls]="'/company/details;/permit/history;/permit-mgmt/address-mgmt;permit/impreport;permit/manreport'"
            [mfDataTableName]="'permit-mgmt-results'" [mfFilters]="filterData" (restoreFilters)="restoreFilterData($event)" [navigationAttrs]="navigationAttrs"
            (mfNavigationEvent)="onNavigationEvent($event)" [mfSortFunction]="sortFunction"  (mfAfterSortOrderChange)="afterSortOrderChange($event)">
            <colgroup>
                <col style="width:25%">
                <col style="width:15%">
                <col style="width:15%">
                <col style="width:15%">
                <col style="width:30%">
            </colgroup>
            <thead>
                <tr>
                    <th scope="col" id="h-cmp-name">
                        <mfDefaultSorter by="companyName" title="Company Name">Company Name</mfDefaultSorter>
                    </th>
                    <th scope="col" id="h-cmp-ein">
                        <mfDefaultSorter by="einNum" title="Company EIN">EIN</mfDefaultSorter>
                    </th>
                    <th scope="col" class="hidden-sm-down" id="h-pmt-no">
                        <mfDefaultSorter by="permitNum" title="Permit Number">Permit</mfDefaultSorter>
                    </th>
                    <th scope="col" class="hidden-sm-down" id="h-pmt-sta">
                        <mfDefaultSorter by="permitStatusFunction" title="Permit Status">Permit Status</mfDefaultSorter>
                    </th>
                    <th scope="col" class="hidden-sm-down" id="h-pmt-act">
                        <mfDefaultSorter by="permitAction" title="Permit Action">Permit Action</mfDefaultSorter>
                    </th>
                    <!--<th scope="col" class="hidden-sm-down" id="h-pmt-review">Action</th>-->

                </tr>
            </thead>
            <tbody>
                <!---->
                <tr style="border-bottom:2px solid #17529F;">
                    <td *ngFor="let column of columns">
                        <div *ngIf="column.filtering" class="input-group input-group-transparent input-group-rounded">
                            <span class="input-group-text">
                                <i class="fa fa-filter" (click)="applyFilter();"></i>
                            </span>
                            <input *ngIf="column.type==='input'" [attr.id]="'permit-filter-' + column.name" [attr.aria-label]="column.name" [ngTableFiltering]="column.filtering"
                                [config]="column.filtering" class="form-control" placeholder="{{column.filtering.placeholder}}"
                                value="{{column.filtering.filterString}}" (tableChanged)="onChangeTable($event)" />
                            <select *ngIf="column.type==='select'" [attr.id]="'permit-filter-' + column.name" [attr.aria-label]="column.name" class="form-control"
                                style="width: auto;height: auto;" (change)="FilterSelectionChanged($event.target.value, column.name)">
                                <option *ngFor="let option of column.options" [selected]="(option.value === column.defaultvalue)" [value]="option.value">
                                    {{option.name}}
                                </option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <select id="permitmultiselect" multiple="multiple">
                            <span class="input-group-text">
                                <i class="fa fa-filter"></i>
                            </span>
                            <option value="ADDED">ADDED & CLOSED</option>
                            <option value="CONFLICT">CONFLICT</option>
                            <option value="FOUND MATCH">FOUND MATCH</option>
                            <option value="INVALID">INVALID</option>
                            <option value="DATE CHANGE">DATE CHANGES</option>
                        </select>
                    </td>
                </tr>

                <tr *ngFor="let permitUpdate of mf.data;let i= index;">
                    <td *ngIf="permitUpdate.companyId" class="fw-semi-bold blue">
                        <a href="javascript:void(1)" (aClick)="toCompany(permitUpdate.einNum)">{{permitUpdate.companyName}}</a>
                    </td>
                    <td *ngIf="!permitUpdate.companyId" class="fw-semi-bold blue">{{permitUpdate.companyName}}</td>
                    <td id="permit-mgmt-ein-{{i}}" class="hidden-sm-down">{{permitUpdate.einNum}}</td>
                    <td id="permit-mgmt-permitnum-{{i}}" class="hidden-sm-down">{{permitUpdate.permitNum?(permitUpdate.permitNum |permitsCSVPipe2):'N/A'}}
                    </td>
                    <td class="hidden-sm-down">{{getPermitStatus(permitUpdate)}}</td>
                    <ng-template #popTemplate>
                        <div [innerHtml]="getTooltipContent(permitUpdate)"></div>
                    </ng-template>
                    <td placement="top" container='body' [tooltipEnable]="!getTooltipContent(permitUpdate)" [tooltip]="popTemplate">{{permitUpdate.permitAction?permitUpdate.permitAction:'N/A'}}
                        <span>
                            <i *ngIf="getTooltipContent(permitUpdate)" [ngClass]="getIconColor(permitUpdate)" class="fa fa-exclamation-circle fa-w-16  ml-xs"></i>
                        </span>
                        <span *ngIf="permitUpdate.permitAction && permitUpdate.permitAction.includes('CONFLICT')" style="margin-left: 30px;">
                            <a href="javascript:void(0)" (aClick)="reviewPermitUpdateClick(permitUpdate,i)">
                                <i [ngClass]="{'fa-search-plus':!(selectedRow==i),'fa-search-minus':(selectedRow==i)}" class="fa" style="font-size:1.25em;color:#218bc3"></i>
                            </a>
                        </span>
                    </td>

                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="12">
                        <mfBootstrapPaginator [rowsOnPageSet]="[25, 50, 100]"></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</section>