<ol class="breadcrumb" id="breadcrumbfilemanagement">
  <li class="breadcrumb-item">
    <a [routerLink]="['/app/permit-mgmt']" id="lnk-assessments">Permit Management</a>
  </li>
  <li class="breadcrumb-item active">
    <a href="javascript:void(0)">File Management</a>
  </li>
</ol>
<h1 class="h1 page-title">File Management</h1>
<div class="row">
  <div class="col-lg-offset-1 col-md-12">
    <section class="widget" widget [ngBusy]="{busy: busy, message: 'Loading..', backdrop: false}">
      <div class="widget-body">
        <div class="row">
          <div class="col-lg-12 col-xs-12">
            <div data-height="250" class="form-wizard">
              <div>
                <tabset type="pills" [justified]="true" #permitMgmtTabs>
                  <tab heading="Companies" id="tab1" (select)="onSelect($event)">
                    <div class="show active">
                      <div class="widget-body">
                        <div company-mgmt [docId]="docId"></div>
                      </div>
                    </div>
                  </tab>
                  <tab heading="Permits" (select)="onSelect($event)">
                    <div>
                      <div class="widget-body">
                        <div permit-mgmt [docId]="docId"></div>
                      </div>
                    </div>
                  </tab>
                  <tab heading="Exclude Tab" (select)="onSelect($event)">
                    <div>
                      <div class="widget-body">
                        <div ttb-permit-exclude></div>
                      </div>
                    </div>
                  </tab>
                  <tab heading="Addresses" (select)="onSelect($event)">
                    <div>
                      <div class="widget-body">
                        <div address-mgmt [companyData]="companyAddressData" id="address-mgmt-panel"></div>
                      </div>
                    </div>
                  </tab>
                  <tab heading="Contacts" (select)="onSelect($event)">
                    <div>
                      <div class="widget-body">
                        <div contact-mgmt [companyData]="companycontactData" id="contact-mgmt-panel"></div>
                      </div>
                    </div>
                  </tab>
                </tabset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>