<div *ngIf="totalItems &&  itemsCntFlag" class="col-xs-12 col-md-12 col-lg-12 alert alert-danger alert-sm">
    <span class="fa fa-exclamation-triangle"></span>
    <span class="no-margin fw-normal alert-text" style="margin-bottom:10px;margin-left: 5px">
        <strong style="margin-bottom:10px">ACTION REQUIRED:</strong> {{decider === 'address' ? addressItems : contactItems}} Item(s) need to be reviewed
    </span>
</div>
<table [ngBusy]="{busy: busy, message: 'Loading...', backdrop: true}" class="table table-hover" [mfData]="data | filepipe:filterData"
    #mf="mfDataTable" [mfIsServerPagination]="false" [(mfActivePage)]="pgAttrs.activePage" summary="Search Company Results" [mfRowsOnPage]="pgAttrs.pageSize"
    [mfStoreState]="true" [mfNavigateUrls]="'/company/details;/permit/history;/permit-mgmt/address-mgmt;permit/impreport;permit/manreport'"
    [mfDataTableName]="datatableName" [mfFilters]="filterData" (restoreFilters)="restoreFilterData($event)" [(mfSortBy)]="sortBy"
    [(mfSortOrder)]="sortOrder" [navigationAttrs]="navigationAttrs" (mfNavigationEvent)="onNavigationEvent($event)" [mfSortFunction]="sortFunction" (mfAfterSortOrderChange)="afterSortOrderChange($event)">
    <colgroup>
        <col style="width:30%">
        <col style="width:15%">
        <col style="width:35%">
        <col style="width:20%">
    </colgroup>
    <thead>
        <tr>
            <th scope="col" id="h-cmp_name">
                <mfDefaultSorter [by]="'businessName'" title="Company Name">Company Name</mfDefaultSorter>
            </th>
            <th scope="col" id="h-cmp_ein">
                <mfDefaultSorter [by]="'einNum'" title="Company EIN">EIN</mfDefaultSorter>
            </th>
            <th scope="col" class="hidden-sm-down" id="h-act-pmt">
                <mfDefaultSorter [by]="'permitNum'" title="Active Permits">Permit(s)</mfDefaultSorter>
            </th>
            <th scope="col" class="hidden-sm-down" id="h-cmp-sta">
                <mfDefaultSorter by="statusSortFunction" title="Company Status">Status</mfDefaultSorter>
            </th>
            <th scope="col" class="hidden-sm-down" id="h-cmp-sta">Action
            </th>
        </tr>
    </thead>
    <tbody>
        <!---->
        <tr style="border-bottom:2px solid #17529F;">
            <td *ngFor="let column of columns">
                <div *ngIf="column.filtering" class="input-group input-group-transparent input-group-rounded">
                    <span *ngIf="column.type==='input'" class="input-group-text">
                        <i class="fa fa-filter" (click)="applyFilter();"></i>
                    </span>
                    <input *ngIf="column.type==='input'" [attr.id]="'file-filter-' + column.name" [attr.aria-label]="column.name" [ngTableFiltering]="column.filtering"
                        [config]="column.filtering" class="form-control" placeholder="{{column.filtering.placeholder}}" value="{{column.filtering.filterString}}"
                        (tableChanged)="onChangeTable($event)" />
                </div>
            </td>
            <td></td>
        </tr>
        <!---->
        <tr *ngFor="let company of mf.data;let i= index">
            <td class="fw-semi-bold blue">
                <a href="javascript:void(1)" (aClick)="toCompany(company.einNum)">{{company.businessName}}</a>
            </td>
            <td cclass="hidden-sm-down">{{company.einNum}}</td>
            <td class="hidden-sm-down">{{company.permitNum | permitsCSVPipe2}}</td>
            <td class="hidden-sm-down">{{(decider === 'address'? company.addressStatus : company.contactStatus) | permitStatusPipe}}
            </td>
            <td class="hidden-sm-down">
                <a href="javascript:void(0)" id="{{company.permitUpdateId}}" [ngClass]="{'isActive': isActive(company.permitUpdateId)}" (aClick)="loadData(company, i)">Review</a>
            </td>
            <!-- {ein:company.einNum, permitNum: company.permitNum, permitUpdateId: company.permitUpdateId} -->
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="12">
                <mfBootstrapPaginator [rowsOnPageSet]="[25, 50, 100]"></mfBootstrapPaginator>
            </td>
        </tr>
    </tfoot>
</table>