// @import "../../../../scss/bootstrap-datepicker3.min";
// @import "../../../../../../node_modules/bootstrap-select/dist/css/bootstrap-select";
// @import "../../../../../../node_modules/select2/dist/css/select2";
// @import "../../../../../../node_modules/select2-bootstrap-css/select2-bootstrap";
// @import "../../../../scss/variables";
// @import "../../../../scss/busy";
// @import "../../../../../../node_modules/bootstrap/scss/_variables";
// @import "../../../../../../node_modules/bootstrap/scss/mixins";
@import "./../../../../../scss/helpers";

/***********************************/
/**            PARSLEY            **/
/***********************************/
.blue {
    color: blue;
}
.h-divider{
 width:100%;
 border-bottom:3px solid #778899;
}

.h-thin-divider{
 width:100%;
 border-bottom:1px solid gray;
 padding-bottom: 10px;
}

.nolist {
    list-style: none;
}

.checkboxes label {
  display: block;
  float: left;
  padding-right: 10px;
  white-space: nowrap;
}

.checkboxes input {
  vertical-align: middle;
}
.checkboxes label span {
  vertical-align: middle;
}

.switch{
  box-sizing: content-box;
  margin-left: -20px;
}

.multiselect-all label {
  text-transform: uppercase;

}

// for multiselect li to display on right as dropRight doesnt work
[company-mgmt] .dropdown-menu, [permit-mgmt] .dropdown-menu{

  left: 200px;
  width: 210px;
  font-size:15px;
}


.switch i {
  display: inline-block;
  cursor: pointer;
  margin-left: -20px;
  margin-bottom:-3px;
  padding-right: 20px;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  border-radius: 20px;
  box-shadow: inset 0 0 1px rgba(0,0,0,.5);
}

.switch i:before {
  display: block;
  content: '';
  width: 30px;
  height: 30px;
  padding: 1px;
  border-radius: 20px;
  background: white;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
}
.switch :checked + i {
  padding-right: 0;
  padding-left: 20px;
  background: rgb(100, 189, 99);
}


.white, .white a {
  color: #fff;
}

.btn-label {
  background: transparent;
  left: 2px;
  padding: 1px 6px;
}

/**
*  autosize
**/

/***********************************/
/**          NEWS LIST           **/
/**********************************/

.news-list{
  margin-bottom: 0;
  padding-left: 0;

  li{
    list-style: none;
    box-sizing: content-box;
    border-top: 1px solid $gray-lighter;
    padding: 12px;
    cursor: pointer;
    @include transition(background-color .2s ease-out);

    &:hover{
      background: $body-bg-light;
    }

    &:last-child{
      margin-bottom: -10px;
    }
  }

  img,
  .icon{
    float: left;
    height: 50px;
    width: 50px;
  }

  .icon{
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 28px;
  }

  .news-item-info{
    margin-left: 62px; /*50 + 12px padding*/
  }

  .name{
    text-transform: uppercase;

    a{
      text-decoration: none;
      outline:0;
      &:hover{
        color: $link-color;
      }
    }
  }
}

.autogrow {
  overflow: hidden;
  resize: none;
}

a.isActive {
  pointer-events: none;
  font-weight: bold;
}

.isDormant {
  text-decoration: none !important;
  pointer-events: none;
  cursor: not-allowed;
  color: gray
}

.tooltip > .tooltip-inner {
      background-color: #5d8fc2; 
      color: #FFFFFF; 
      border: 1px solid blue; 
      padding: 10px;
      font-size: 13px;
      width:400px;
  }

.tooltip-inner {
    max-width: 450px;

    // padding: 3px 8px;
    // color: #fff;
    text-align: left;
    // background-color: rgba(0, 0, 0, 0.85);
    // border-radius: 0.25rem;
}

