<div class="modal fade" id="select-altnaddress" tabindex="-1" role="dialog" aria-labelledby="select-altnaddress-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="select-altnaddress-content">
      <!--Modal Header-->
      <div class="modal-header">
        <h3 class="h4 modal-title text-xs-center fw-bold mt" id="select-altnaddress-title">Set as Alternate Address</h3>
      </div>
      <!--Modal Body -->
      
        <!-- <form id="selAddressform" #selAddressform ="ngForm" role="form" class="form-horizontal" data-parsley-priority-enabled="false"
              novalidate="novalidate" data-parsley-validate data-parsley-focus="first"> -->
          <div class="modal-body">
          
         
            <div class="col-lg-8">	
                <div class="abc-radio">
                  <input id="rdo-addr-prim" name="addr-radio" type="radio"  value="PRIM"  [(ngModel)]="selAddressTypeCd"  (ngModelChange)="onAddressSelectedChange()">
                  <label for="rdo-addr-prim" id="lbl-addr-prim"><strong>Current Primary</strong></label>	
                  <p class="no-margin " *ngIf = "primaryAddress?.attention"> {{primaryAddress?.attention}}</p>
                  <p class="no-margin ">{{primaryAddress?.streetAddress}}<span *ngIf = "primaryAddress?.suite">, {{primaryAddress?.suite}}</span></p>
                  <p class="no-margin "><span *ngIf = "primaryAddress?.city">{{primaryAddress?.city}}, </span>{{primaryAddress?.state}}{{primaryAddress?.province}} {{primaryAddress?.postalCd}}</p>
                  <p class="no-margin "><span *ngIf = "primaryAddress?.countryCd">{{primaryAddress?.countryNm}}</span></p>
              </div>
            </div>
            <br>
            <br>
            <div class="col-lg-8">	
                  <div class="abc-radio">
                    <input id="rdo-addr-altn" name="addr-radio" type="radio"  value="ALTN" [(ngModel)]="selAddressTypeCd"  (ngModelChange)="onAddressSelectedChange()">
                    <label for="rdo-addr-altn" id="lbl-addr-altn"><strong>Current Alternate</strong></label>					
                    <p class="no-margin " *ngIf = "alternateAddress?.attention">{{alternateAddress?.attention}}</p>
                    <p class="no-margin ">{{alternateAddress?.streetAddress}}<span *ngIf = "alternateAddress?.suite">, {{alternateAddress?.suite}}</span></p>
                    <p class="no-margin "><span *ngIf = "alternateAddress?.city">{{alternateAddress?.city}}, </span>{{alternateAddress?.state}}{{alternateAddress?.province}} {{alternateAddress?.postalCd}}</p>
                    <p class="no-margin "><span *ngIf = "alternateAddress?.countryCd">{{alternateAddress?.countryNm}}</span></p>
              </div>
            </div>
            
        
        </div>
        <!--Modal Footer -->
        <div class="modal-footer">
          <button type="button" id="btn-save" class="btn btn-primary" (click)="saveSelAddress()">Save</button>
          <button type="button" class="btn btn-secondary" (click)="popUpClose()">Cancel</button>
        </div>
      <!-- </form>  -->
    </div>
  </div>
</div>
