@import './../at-compare-cigardetails.style';

.accord-groupborder{
    margin-bottom: 15px;
}

.pl10{
    padding-left: 10px;
}

.mt5{
    margin-top: 5px;
}

.mt10{
    margin-top: 10px;
}

.ml20{
    margin-left: 20px;
}

.pr10ml10{
    padding-right: 10px;
    margin-left: 10px;
}

.pr10{
    padding-right: 10px;
}

.ml5mr5{
    margin-left: 5px;
    margin-right: 5px;
}

.black{
    color: black;
}

.pinkbox{
    background-color: pink;
}

.bborder{
    border-bottom: 1px solid black;
}

table {
    border-spacing: 0px;
}

.red{
    color: red;
}

.topthickborder{
    border-top: 3px solid black;
}

.greybox{
    background-color: #eee;
    border-bottom: 2px solid #bbb;  
}

.leftthickborder{
    border-left: 0.5px solid #bbb;
}

.strike{
    text-decoration: line-through;
}

.bottomthinborder {

      border-bottom: 0.5px solid #bbb;
}

.card {
    display: flow-root;
    >.card-header {
        border: none;
    }
}

.details-row {
    >[class^="col-"]:first-child {
        .widget {
            padding-right: 0px;
        }
    }
    >[class^="col-"]:not(:first-child):not(:last-child) {
        .widget {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    >[class^="col-"]:last-child {
        .widget {
            padding-left: 0px;
        }
    }
}