<!-- Show Accept Buttons -->
<div fda3852flag-panel [isValid]="isValid" [acceptanceFlag]="fda3852map[activequarter]" [tobaccoClass]="headerdata.tobaccoClass"
  [inProgressDisabled]="inProgressDisabled" [deltaExciseTaxFlag]="deltaExciseTaxFlag" [delta1]="delta1" [delta2]="delta2" [delta3]="delta3"
  [delta4]="delta4" [quarter]="activequarter" [fiscalYear]="headerdata.fiscalYear" [permitType]="headerdata.permitType" [companyId]="headerdata.companyId"
  (accept3852flag)="acceptedFDAflag($event)" (progressedflag)="progressedflag($event)"></div>


<!--Action Required Message-->
<div *ngIf="showActionRequired" class="row" style="margin-top:20px;">
  <div class="col-md-12">
    <alert *ngFor="let alert of actionalerts; let i = index" [type]="alert.type + ' alert-sm'">
      <i class="fa fa-exclamation-triangle"></i>
      <span class="alert-text" [innerHTML]="alert.msg"></span>
    </alert>
  </div>
</div>

<div *ngIf="ingestedAssociationFlag" ingestedAssociationFlag>
  <div class="col-md-12">
    <alert [type]="'warning alert-sm'">
      <i class="fa fa-exclamation-triangle"></i>
      <span class="alert-text" [innerHTML]="'<strong>Associated Deltas:</strong> This company has ingested only importer data associated to it.'"></span>
    </alert>
  </div>
</div>

<!-- Show Summary Panel -->
<div [ngBusy]="{busy: busySummary, message: 'Loading...', backdrop: false}" at-comparedetailssummary [importerData]="comparedetailsIngestedSummary"
  [quarter]="activequarter"></div>


<!-- Show Details -->
<div class="row">
  <div class="col-lg-12">
    <section class="widget h-divider">
      <span class="h4 no-margin fw-semi-bold" style="margin:10px 20px 10px 0px;">Details</span>
      <a class="fw-semi-bold pull-right" (aClick)="exportRawdata()" href="javascript:void(0)">Download Raw Data</a>
      <div class="widget-body clearfix">
        <!--Show Legend-->
        <table class="table" style="width:100%; margin-top:10px; border: 1px solid #d49595">
          <colgroup>
            <col style="width:15%">
            <col style="width:20%">
            <col style="width:20%">
            <col style="width:15%">
            <col style="width:15%">
            <col style="width:15%">
          </colgroup>
          <thead style="background-color: #eeeeee;">
            <tr>
              <th colspan="6" style="text-align: center;">
                <span class="h6 fw-semi-bold">LEGEND</span>
              </th>
            </tr>
          </thead>
          <tbody style="border: 1px solid #eeeeee">
            <tr>
              <td style="text-align: center;">
                <div class="h6 fw-semi-bold">
                  <span class="text-legend legend-err">E</span> Error Report
                </div>
              </td>
              <td style="text-align: center;">
                <div class="h6 fw-semi-bold">
                  <span class="text-legend legend-com">C</span> Completed Report</div>
              </td>
              <td style="text-align: center;">
                <div class="h6 fw-semi-bold">
                  <span class="text-legend legend-ns">NS</span> Not Started Report</div>
              </td>
              <td style="text-align: center;">
                <div class="h6 fw-semi-bold">
                  <i class="fa fa-exchange"></i> Reallocated</div>
              </td>
              <td style="text-align: center;">
                <div class="h6 fw-semi-bold">
                  <i class="fa fa-ban"></i> Excluded</div>
              </td>
              <td style="text-align: center;">
                <div class="h6 fw-semi-bold">
                  <i class="fa fa-calendar"></i> Secondary Date</div>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Show Quarter Details -->
        <div class="row details-row">
          <!-- Show FDA 3852 Details on Left Side -->
          <div [ngBusy]="{busy: busyFDADetails, message: 'Loading...', backdrop: false}" class="col-lg-5 col-no-padding">
            <section class="widget">
              <div class="widget-body clearfix">
                <!-- 	Title Row -->
                <div class="row">
                  <div class="col-lg-12">
                    <span class="h6 no-margin fw-semi-bold">{{headerdata.tobaccoClass}}</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="bborder">
                      <span class="h4 no-margin fw-semi-bold">FDA 3852 TAX</span>
                      <span class="pull-right h4 no-margin fw-semi-bold">{{compareFDADetailsTotal | tufacurrency| minustoparens}}</span>
                    </div>
                  </div>
                </div>

                <div class="row mt10">
                  <div class="col-lg-12">
                    <accordion [closeOthers]="oneAtATime">
                      <!--Month: October-->
                      <accordion-group *ngFor="let period of compareFDADetails" #f1g1 panelClass="customClass accord-groupborder">
                        <div accordion-heading class="whitebox" style="padding-bottom:5px;">
                          <span class="h6 no-margin fw-semi-bold pl10 black">{{period.period | titleCase}}</span>
                          <span class="pull-right h6 no-margin fw-semi-bold black">{{period.periodTotal |tufacurrency| minustoparens}}
                            <i class="h6 fa pr10ml10 black" [ngClass]="{'fa-chevron-down': f1g1?.isOpen, 'fa-chevron-right': !f1g1?.isOpen}">
                            </i>
                          </span>
                        </div>
                        <!-- Status -->
                        <div class="row">
                          <table class="table ml5mr5" style="width:95%">
                            <colgroup>
                              <col style="width:10%">
                              <col style="width:25%">
                              <col style="width:25%">
                              <col style="width:30%">
                            </colgroup>
                            <thead>
                              <tr>
                                <th scope="col">STATUS</th>
                                <th scope="col">MONTH</th>
                                <th scope="col">PERMIT</th>
                                <th scope="col" class="rightalign">EXCISE TAX</th>
                              </tr>
                            </thead>
                            <tbody>
                              <ng-container *ngFor="let detail of period.periodDetails">
                                <tr>
                                  <td>
                                    <span class="text-legend " [ngClass]="{'legend-err': detail.status === 'E', 'legend-com': detail.status === 'C',
																					'legend-ns' : detail.status === 'NS'}">
                                      {{detail.status}}
                                    </span>
                                  </td>
                                  <td class="fw-semi-bold blue">
                                    <a [routerLink]="['/app/permit', 'impreport', {PN:detail.permit, MO:detail.month}]" (aClick)="toPeriodofActivity(detail)">
                                      {{detail.month | titleCase}}
                                    </a>
                                  </td>
                                  <td>{{detail.permit | permitNumberPipe }}</td>
                                  <td class="rightalign">{{detail.taxAmount|tufacurrency| minustoparens}}</td>
                                </tr>
                                <tr *ngIf="detail.attachments">
                                  <td colspan="4">
                                    <!-- Documents -->
                                    <table class="table" style="background-color:white">
                                      <colgroup>
                                        <col style="width:40%">
                                        <col style="width:30%">
                                        <col style="width:30%">
                                      </colgroup>
                                      <thead>
                                        <tr>
                                          <th scope="col">FORM</th>
                                          <th scope="col">DATE UPLOADED</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr *ngFor="let attachment of detail.attachments">
                                          <td class="fw-semi-bold blue">
                                            <a target="_blank" (click)="enableLinkAuth(true)" href="api/reports/view/attachs/{{attachment.documentId}}">{{attachment.formTypes}}</a>
                                          </td>
                                          <td>{{attachment.createdDt | datePipe }}</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </ng-container>
                            </tbody>
                          </table>
                        </div>
                      </accordion-group>
                    </accordion>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <!-- Show FDA Delta for each month-->

          <div class="col-lg-2 col-no-padding">
            <section class="widget">
              <div class="widget-body clearfix">
                <!-- 	Title Row -->
                <div class="row">
                  <div class="col-lg-12">
                    <br />
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="bborder" style="text-align: center">
                      <span class="h4 no-margin fw-semi-bold">DELTA</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12" style="margin-top: 6.5px;">
                    <div *ngFor="let month of comparedetailsIngestedSummary?.summaryMonths" class="fw-semi-bold black" style="text-align: center; font-size: 16px; margin-bottom: 16.738px">
                      {{ month.tufaAndDetailDiff | na | tufacurrency | minustoparens}}
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <!-- Show Ingested Tax Details on Right Side -->
          <div [ngBusy]="{busy: busyIngestedDetails, message: 'Loading...', backdrop: false}" class="col-lg-5 col-no-padding">
            <section class="widget">
              <div class="widget-body clearfix">
                <!-- 	Title Row -->
                <div class="row">
                  <div class="col-lg-12">
                    <span class="h6 no-margin fw-semi-bold">{{headerdata.tobaccoClass}}</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="bborder">
                      <span class="h4 no-margin fw-semi-bold">INGESTED TAX</span>
                      <span class="pull-right h4 no-margin fw-semi-bold">{{compareIngestionDetailsTotal | tufacurrency| minustoparens}}</span>
                    </div>
                  </div>
                </div>

                <div class="row mt10">
                  <div class="col-lg-12">
                    <accordion [closeOthers]="oneAtATime">
                      <accordion-group #i1g1 panelClass="customClass accord-groupborder" *ngFor="let period of compareIngestedDetails">
                        <div accordion-heading class="whitebox" style="padding-bottom:5px;">
                          <span class="h6 no-margin fw-semi-bold pl10 black">{{period.period | titleCase}}</span>
                          <span class="pull-right h6 no-margin fw-semi-bold black">
                            {{period.periodTotal| tufacurrency| minustoparens}}
                            <i class="h6 fa pr10ml10 black" [ngClass]="{'fa-chevron-down': i1g1?.isOpen, 'fa-chevron-right': !i1g1?.isOpen}">
                            </i>
                          </span>
                        </div>
                        <table class="table ml5mr5" [mfData]="period.periodDetails" #mf="mfDataTable" [mfRowsOnPage]="50" [mfSortBy]="sortResultsBy"
                          [mfSortOrder]="sortResultsOrder" [mfActivePage]="pageNumPeriodDetails" [mfIsServerPagination]="false"
                          style="width:95%">
                          <colgroup>
                            <col style="width:15%">
                            <col style="width:10%">
                            <col style="width:20%">
                            <col style="width:10%">
                            <col style="width:15%">
                            <col style="width:15%">
                            <col style="width:15%">
                          </colgroup>
                          <thead>
                            <tr>
                              <th scope="col">MANAGE</th>
                              <!-- Date -->
                              <th scope="col">
                                <mfDefaultSorter by="entrysummaryDate">DATE
                                </mfDefaultSorter>
                              </th>
                              <th scope="col">
                                <mfDefaultSorter by="entryNum">ENTRY#
                                </mfDefaultSorter>
                              </th>
                              <th scope="col">
                                <mfDefaultSorter by="entryTypeCd">TYPE
                                </mfDefaultSorter>
                              </th>
                              <!-- Quantity -->
                              <th scope="col">
                                <mfDefaultSorter by="qtyRemoved">QTY
                                </mfDefaultSorter>
                              </th>

                              <th scope="col" class="rightalign">
                                <mfDefaultSorter by="taxAmount">EXCISE TAX
                                </mfDefaultSorter>
                              </th>
                              <th scope="col">

                                <mfDefaultSorter by="infosortOrder">INFO
                                </mfDefaultSorter>

                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let detail of mf.data">
                              <td>
                                <a href="#" data-toggle="modal" focusOn="#reallocateentryform" data-target="#reallocate-entry" data-backdrop="static" (aClick)="reallocateEntry(detail, period.period)"
                                  data-keyboard="false">Manage</a>
                              </td>
                              <td [ngClass]="{'strike': detail?.excludedFlag === 'Y' }">{{detail?.entrysummaryDate | datePipe}}</td>
                              <td [ngClass]="{'strike': detail?.excludedFlag === 'Y' }">{{detail?.entryNum}}</td>
                              <td [ngClass]="{'strike': detail?.excludedFlag === 'Y' }">{{detail?.entryTypeCd}}</td>
                              <td [ngClass]="{'strike': detail?.excludedFlag === 'Y' }">{{detail?.qtyRemoved}}</td>
                              <td class="rightalign" [ngClass]="{'strike': detail?.excludedFlag === 'Y' }">{{detail?.taxAmount | tufacurrency| minustoparens}}</td>
                              <td>
                                <i [ngClass]="{'fa fa-calendar': detail?.entrysummaryDate?.length == 0 }"></i>
                                <i [ngClass]="{'fa fa-exchange': detail?.reallocatedFlag === 'Y' }"></i>
                                <i [ngClass]="{'fa fa-ban': detail?.excludedFlag === 'Y' }"></i>
                              </td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr *ngIf="period.periodEntryItemCount > 50">
                              <td colspan="12">
                                <mfBootstrapPaginator [rowsOnPageSet]="[50, 100, 250]">
                                </mfBootstrapPaginator>
                              </td>
                            </tr>
                          </tfoot>
                        </table>
                      </accordion-group>
                    </accordion>
                  </div>
                </div>

                <div class="row" style="margin-top:15px;">
                  <div [ngBusy]="{busy: busyHTSCodeSummary, message: 'Loading...', backdrop: false}" class="col-lg-12">
                    <accordion [closeOthers]="oneAtATime">
                      <accordion-group #i1g5 panelClass="customClass accord-groupborder">
                        <div accordion-heading class="greybox" style="padding-bottom:5px;">
                          <span class="h6 no-margin fw-semi-bold pl10 black">Ingested HTS Code Summary
                          </span>
                          <span class="pull-right h6 no-margin fw-semi-bold mt5 black">
                            <i class="h6 fa pr10ml10 black" [ngClass]="{'fa-chevron-down': i1g5?.isOpen, 'fa-chevron-right': !i1g5?.isOpen}"></i>
                          </span>
                          <p class="h6 no-margin fw-normal pl10 black" style="font-size:60%">HTS Codes used to determine Ingested Tax</p>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <table class="table ml5mr5" style="width:95%">
                              <colgroup>
                                <col style="width:25%">
                                <col style="width:25%">
                                <col style="width:25%">
                                <col style="width:25%">
                              </colgroup>
                              <thead>
                                <tr>
                                  <th scope="col">HTS CODE</th>
                                  <th scope="col">CLASS</th>
                                  <th scope="col">LINES</th>
                                  <th scope="col" class="rightalign">TOTAL</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let htsrow of htsCodeIngestionSummary">
                                  <td>{{htsrow.htsCode}}</td>
                                  <td>{{htsrow.tobaccoClass}}</td>
                                  <td>{{htsrow.lineCount}}</td>
                                  <td class="rightalign">
                                    {{htsrow.taxAmount | tufacurrency| minustoparens}}
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </accordion-group>
                    </accordion>
                  </div>
                </div>

              </div>

            </section>
          </div>
        </div>

      </div>
    </section>
  </div>
</div>

<!-- Show Comments Panel -->
<div class="row">
  <div class="col-lg-12">
    <div cmpdetail-comments-grid [context]="context" [acceptanceFlag]="fda3852map[activequarter]" [headerdata]="headerdata" [quarter]="activequarter"></div>
  </div>
</div>

<!-- Show Amend Total -->
<div at-comparecbpdetailsamend [ingestRefresh]="ingestRefresh" [headerdata]="headerdata" [amendInfo]="amendTobaccoClasses"
  (amendTotalUpdated)="amendTotalFlagSwitched($event)" (saveAmend)="savedAmendment($event)" [quarterInfo]="activequarter" [acceptanceFlag]="fda3852map[activequarter]">
</div>