<div class="modal fade" id="add-document" tabindex="-1" role="dialog" aria-labelledby="add-document-title" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<!--Modal Header-->
			<div class="modal-header">
				<h2 class="h4 modal-title text-xs-center fw-bold mt" id="add-document-title">
					Upload Document</h2>
			</div>
			<!--Modal Body-->
			<div class="modal-body">
				<form #addDocumentform="ngForm" id="addDocumentform" #addDocumentform="ngForm" role="form" class="form-horizontal" data-parsley-priority-enabled="false"
				 novalidate="novalidate" data-parsley-validate data-parsley-focus="first">

					<div class="form-group row">
						<label for="fileUpload" class="col-md-4 form-control-label text-md-right">Browse
							<span class="help-block">Required Field</span>
						</label>
						<div class="col-md-8 col-xs-12">
							<div class="fileinput fileinput-new input-group" data-provides="fileinput">
								<div class="form-control" data-trigger="fileinput">
									<i class="fa fa-file fileinput-exists"></i>
									<span class="fileinput-filename" style="word-wrap: break-word;"></span>
								</div>
								<span class="input-group-addon btn btn-secondary btn-file">
									<span class="fileinput-new">Select file</span>
								<span class="fileinput-exists">Change</span>
								<input name="..." type="file" id="fileUpload" title="Upload File" (change)="fileChangeEvent($event)" accept="application/pdf, .msg"
								 required data-parsley-errors-container="#pdfdocerror" data-parsley-required-message="Error: Document is required">
								</span>
							</div>
							<div id="pdfdocerror"></div>
						</div>
					</div>

					<!--File Name-->
					<div class="form-group row">
						<label for="fileNm" class="col-md-4 form-control-label text-md-right">File Name
							<span class="help-block">Required Field</span>
						</label>
						<div class="col-md-8 col-xs-12">
							<input type="text" class="form-control" id="fileNm" [(ngModel)]="docFileName" name="fileNm" (change)="fileNameEvent($event)"
							 maxlength="200" title="File Name" required data-parsley-required-message="Error: File Name is required">
						</div>
					</div>

					<!--Description-->
					<div class="form-group row">
						<label for="description" class="col-md-4 form-control-label text-md-right">Description
						</label>
						<div class="col-md-8 col-xs-12">
							<input type="text" class="form-control" id="description" [(ngModel)]="description" name="description" maxlength="200" title="Description">
						</div>
					</div>

					<!--Quarter-->
					<div class="form-group row" *ngIf="quarters">
						<label for="quarter" class="col-md-4 form-control-label text-md-right">Quarter
							<span class="help-block">Required Field</span>
						</label>
						<div class="col-md-8 col-xs-12">
							<select [(ngModel)]="selectedQuarter" (change)="updateVersions()" name="quarter" class="form-control fdatable" id="quarter" required data-parsley-required-message="Error: Quarter is required">
                            <option  *ngFor="let quarter of [''].concat(quarters)" [ngValue]="quarter">
                            {{quarter?.assessmentQtr ? 'Q' + quarter?.assessmentQtr : quarter}}
                            </option>
                          </select>
						</div>
					</div>

					<!--Versions-->
					<div class="form-group row">
						<label for="versions" class="col-md-4 form-control-label text-md-right">Version
							<span class="help-block">Required Field</span>
						</label>
						<div class="col-md-8 col-xs-12">
							<select [(ngModel)]="version" name="versions" class="form-control fdatable" id="versions" required data-parsley-required-message="Error: Version is required">
                            <option  *ngFor="let Version of [''].concat(versions)" [value]="Version">
                            {{Version}}
                            </option>
                          </select>
						</div>
					</div>
				</form>
			</div>

			<!--Modal Footer-->
			<div class="modal-footer">
				<button type="button" id="btn-save-doc" class="btn btn-primary" title="Save" (click)="uploadAttachment()">Upload</button>
				<button type="button" class="btn btn-secondary" (click)="reset()">Cancel</button>
			</div>
		</div>
	</div>
</div>