@import "./../../scss/helpers.scss";

/**
 * Jasny Bootstrap
 * Fileinput.less
 */

 .fileinput.fileinput-new {
    .thumbnail {
      padding: $thumbnail-padding;
      line-height: $line-height-base;
      background-color: $thumbnail-bg;
      border: $thumbnail-border-width solid $thumbnail-border-color;
      border-radius: $thumbnail-border-radius;
      transition: all .2s ease-in-out;
      @include box-shadow(0 1px 2px rgba(0,0,0,.075));
    }
  }
  
  .fileinput-preview.fileinput-exists {
    border: 1px solid $input-border-color;
    border-radius: $border-radius;
    padding: 5px;
  }
  
  .fileinput.input-group {
    display: flex;
  }
  
  .fileinput-new.input-group .btn-file,
  .fileinput-new .input-group .btn-file,
  .fileinput-exists.input-group .btn-file,
  .fileinput-exists .input-group .btn-file {
    border-radius: 0 $border-radius $border-radius 0;
  
    &.btn-xs,
    &.btn-sm {
      border-radius: 0 $border-radius-sm $border-radius-sm 0;
    }
    &.btn-lg {
      border-radius: 0 $border-radius-lg $border-radius-lg 0;
    }
  }