<h1 class="h1 page-title">Assessments</h1>

<div class="row">
    <div class="col-lg-9">
        <section class="widget" widget>
            <div class="widget-body">
                <div class="row">
                    <div class="col-lg-12 col-xs-12">
                        <div data-height="250" class="form-wizard">
                            <tabset type="pills" [justified]="true" #reconTabs>
                                <tab heading="Quarterly Assessments" id="tab-quarter" (select)="switchFilter = 1" ><!--(select)="getAATabData('Quaterly')">-->
                                    <div style="position: relative;" id="tab1">
                                        <div [ngBusy]="{busy: busy, message: 'Loading Quarterly Assessments...', backdrop: false}" class="widget-body">
                                            <div qa-results [assessmentData]="assessmentData" [filterOptions]="quarterlyfilterdata"></div>
                                        </div>
                                    </div>
                                </tab>
                                <tab heading="Cigar Assessments" id="tab-cigar" (select)="switchFilter = 2" ><!-- (select)="getAATabData('Cigar')"-->
                                    <div style="position: relative;" id="tab2">
                                        <div [ngBusy]="{busy: cigarAssessBusy, message: 'Loading Cigar Assessments...', backdrop: false}" class="widget-body">
                                            <div ca-results [cigarAssessData]="cigarAssessData" [filterOptions]="cigarfilterdata"></div>
                                        </div>
                                    </div>
                                </tab>
                                <tab heading="Annual True-Up" id="tab-annual" (select)="switchFilter = 3"  ><!--(select)="getAATabData('Annual')">-->
                                    <div style="position: relative;" id="tab3">
                                        <div [ngBusy]="{busy: trueUpbusy, message: 'Loading Annual True-Up Assessments...', backdrop: false}" class="widget-body">
                                            <div at-results [annualData]="annualData" [annualActions]="annualActions" [filterOptions]="annualfilterdata" [annualActionBusy]="annualActionBusy"></div>
                                        </div>
                                    </div>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-xs-10">
                            <h2 class="h4 no-margin fw-bold" style="margin-bottom:10px;">Affected Assessments</h2>
                        </div>
                </div>
                <div class="row">
                        <div class="col-lg-12 col-xs-12">
                                <div class="table-responsive">
                                <table id="tbl-affected" class="table table-hover" [mfData]="data | aapipe:affectedassessmentsfilterdata" 
                                #mf="mfDataTable"  
                                [mfIsServerPagination]="false" [mfRowsOnPage]="10" [mfActivePage]="1" [mfStoreState]="true" [(mfSortBy)]="sortBy1" [(mfSortOrder)]="sortOrder1"
                                [mfDataTableName]="'recon-aa'" [mfFilters]="affectedassessmentsfilterdata" [mfNavigateUrls]="'/quarterly;/cigars;/annual;/company/details/;/assessments/;/permit/'" (restoreFilters)="restoreFilterData($event)">
                                <thead class="topBorder">
                                        <tr>
                                            <th class="hidden-sm-down" scope="col" id="h-assessment-fy">
                                                <mfDefaultSorter by="assessmentFY" title="Assessment FY">ASSESSMENT FY</mfDefaultSorter>
                                            </th>
                                            <th class="hidden-sm-down" scope="col" id="h-assessment-fy">
                                                <mfDefaultSorter by="assessmentQTR" title="Assessment QTR">ASSESSMENT QTR</mfDefaultSorter>
                                            </th>
                                            <th class="hidden-sm-down" scope="col" id="h-assessment-type">
                                                <mfDefaultSorter by="assessmentType" title="Assessment Type">ASSESSMENT TYPE</mfDefaultSorter>
                                            </th>
                                            <th class="hidden-sm-down" scope="col" id="h-company-name">
                                                <mfDefaultSorter by="companyName" title="Company Name">COMPANY NAME</mfDefaultSorter>
                                            </th>
                                            <th class="hidden-sm-down" scope="col" id="h-ein">
                                                <mfDefaultSorter by="ein" title="ein">EIN</mfDefaultSorter>
                                            </th>
                                            <th class="hidden-sm-down" scope="col" id="h-permit-number">
                                                <mfDefaultSorter by="permitNumber" title="Permit Number">PERMIT NUMBER</mfDefaultSorter>
                                        </tr>
                                    </thead>
                                   <tbody>
                                    <tr>
                                            <td *ngFor="let column of columns">
                                                <div *ngIf="column.filtering" class="input-group input-group-transparent input-group-rounded" style="flex:0 1 100%">
                                                    <span class="input-group-text" style="display:flex; flex: 0 1 15px; justify-content: flex-start; padding:10px;">
                                                        <i class="fa fa-filter" (click)="ApplyFilter();"></i>
                                                    </span>
                                                    <input style="display:flex; flex: 0 1 85%; padding-right:5px;" *ngIf="column.type==='input'" [attr.id]="'filter-' + column.name" [ngTableFiltering]="column.filtering" [config]="column.filtering"
                                                        class="form-control" placeholder="{{column.filtering.placeholder}}" value="{{column.filtering.filterString}}" (tableChanged)="onChangeTable($event)"
                                                    />                                
                                                </div>
                                            </td>
                                        </tr>
                                        <tr *ngFor="let aff of mf.data;let i=index">
                                                <td>{{aff.assessmentFY}}</td>
                                                <td>{{aff.assessmentQTR}}</td>
                                                <td>{{aff.assessmentType}}</td>
                                                <td>{{aff.companyName}}</td>
                                                <td>{{aff.ein | einPipe}}</td>
                                                <td>{{aff.permitNumber | permitNumberPipe}}</td>                                               
                                            </tr>
                                   </tbody>
                                   <tfoot>
                                       <tr>
                                           <td colspan="12">
                                               <mfBootstrapPaginator [rowsOnPageSet]="[5, 10, 25]"></mfBootstrapPaginator>
                                           </td>
                                       </tr>
                                   </tfoot>
                               </table>
                                </div>
                        </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-3">
        <section class="widget" widget>
            <div class="col-md-12 h-thin-divider" style="margin-bottom:10px;">
                <p>
                    <strong>Unable to locate a Quarterly assessment?</strong>
                </p>
                <p>Requires the Quarter and Fiscal Year</p>
                <button id="btn-cr-qtr" type="button" class="btn btn-primary btn-block" (click)="toCreateQuarterlyAssessment()">
                    Create Quarterly Assessment
                </button>
            </div>
            <div class="col-md-12 h-thin-divider" style="margin-bottom:10px;">
                <p>
                    <strong>Unable to locate a Cigar Assessment?</strong>
                </p>
                <p>Requires the Fiscal Year</p>
                <button id="create-cigar" type="button" class="btn btn-primary btn-block" (click)="toCreateCigarAssessment()">
                    Create Cigar Assessment
                </button>
            </div>
            <div class="col-md-12" style="margin-bottom:10px;">
                <p>
                    <strong>Unable to locate an Annual True-Up?</strong>
                </p>
                <p>Requires the Fiscal Year</p>
                <button id="create-annual" type="button" class="btn btn-primary btn-block" (click)="toCreateAnnualTrueUp()">
                    Create Annual True-Up
                </button>
            </div>
        </section>
        <section *ngIf="switchFilter == 1" class="widget" widget>
            <div class="col-md-12" style="margin-bottom:10px;">
                <fieldset>
                    <legend>
                        <strong>Filter By:</strong>
                    </legend>
                    <!--Report Status-->
                    <p>QUARTER</p>
                    <div *ngFor="let quarterOption of quarterOptions; let i=index" class="checkbox" id="fil-qtr">
                        <input type="checkbox" [attr.id]="i+'_quarter'" name="quarterOptions" value="{{quarterOption.value}}" [checked]="quarterOptionsMap[quarterOption.value]"
                            (change)="updateCheckedQuarterOptions(quarterOption.value, $event)" />
                        <label [attr.for]="i+'_quarter'" style="margin-left: 10px;">{{quarterOption.name}}</label>
                    </div>
                    <!--Fiscal Year                               -->
                    <p style="margin-top:10px;">STATUS</p>
                    <div *ngFor="let statusOption of statusOptions; let i=index" class="checkbox" id="fil-rst">
                        <input type="checkbox" [attr.id]="i+'_status'" name="statusOptions" value="{{statusOption.name}}" [checked]="statusOptionsMap[statusOption.name]"
                            (change)="updateCheckedStatusOptions(statusOption.name, $event)" />
                        <label [attr.for]="i+'_status'" style="margin-left: 10px;">{{statusOption.name}}</label>
                    </div>
                    <!--Month                               -->
                    <p style="margin-top:10px;">FISCAL YEAR</p>
                    <div *ngFor="let yearOption of yearOptions | slice:0:showMoreLimit; let i = index" class="checkbox" id="fil-yr">
                        <input type="checkbox" [attr.id]="i+'_year'" name="yearOptions" value="{{yearOption}}" [checked]="isYearChecked(yearOption)"
                            (change)="onChangeYearSelection(yearOption, $event)" />
                        <label [attr.for]="i+'_year'" style="margin-left: 10px;">{{yearOption}}</label>
                    </div>
                    <button *ngIf="showMoreLimit < yearOptions?.length" title="Show more years" class="btn-link" (click)="showMoreLimit = showMoreLimit + 5">Show More...</button>
                </fieldset>
            </div>
        </section>
        <section *ngIf="switchFilter == 2" class="widget" widget>
            <div class="col-md-12" style="margin-bottom:10px;">
                <fieldset>
                    <legend>
                        <strong>Filter By:</strong>
                    </legend>
                    <!--Fiscal Year                               -->
                    <p style="margin-top:10px;">STATUS</p>
                    <div *ngFor="let statusOption of cigarAssessStatusOptions; let i=index" class="checkbox" id="fil-rst">
                        <input type="checkbox" [attr.id]="i+'_cigar_assess_status'" name="cigarAssessStatusOptions" value="{{statusOption.name}}"
                            [checked]="cigarAssessStatusOptionsMap[statusOption.name]" (change)="updateCigarAssessStatusOptions(statusOption.name, $event)"
                        />
                        <label [attr.for]="i+'_cigar_assess_status'" style="margin-left: 10px;">{{statusOption.name}}</label>
                    </div>
                </fieldset>
            </div>
        </section>
        <section *ngIf="switchFilter == 3" class="widget" widget>
            <div class="col-md-12" style="margin-bottom:10px;">
                <fieldset>
                    <legend>
                        <strong>Filter By:</strong>
                    </legend>
                    <!--Fiscal Year                               -->
                    <p style="margin-top:10px;">STATUS</p>
                    <div *ngFor="let statusOption of annualStatusOptions; let i=index" class="checkbox" id="fil-rst">
                        <input type="checkbox" [attr.id]="i+'_annual_status'" name="annualStatusOptions" value="{{statusOption.name}}" [checked]="annualStatusOptionsMap[statusOption.name]"
                            (change)="updateAnnualStatusOptions(statusOption.name, $event)" />
                        <label [attr.for]="i+'_annual_status'" style="margin-left: 10px;">{{statusOption.name}}</label>
                    </div>
                </fieldset>
            </div>
        </section>
    </div>
</div>