<div class="modal modal-child fade" id="error-message-modal" tabindex="-1" role="dialog" aria-labelledby="session-timeout-title"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"> 
                <h1 class="h4 modal-title text-xs-center fw-bold mt"  id="session-timeout-title">Application Error</h1>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-10 offset-md-1 mb-3">
                        The application has experienced an error. Please follow the link below to restart the application.
                    </div>
                    <div class="col-md-10 offset-md-1 mb-3">
                        <a [href]="refreshLink">{{refreshLink}}</a>
                    </div>
                    <div class="col-md-10 offset-md-1">
                        To cancel this request click close below.
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="" (click)="hideModal()">Close</button>
            </div>
        </div>
    </div>
</div>