<nav sidebar id="sidebar" role="navigation" class="sidebar" [(navCollapsed)]="navCollapsed"></nav>
<div class="content-wrap" id="content-wrap" [class.nav-collapsed]="navCollapsed"> 
    <main id="content" class="content view-animate fade-up" role="main">
      <router-outlet></router-outlet>
    </main>
</div>
<div error-message></div>
<div session-expired-modal></div>

<!-- <main id="content" class="container app-container" role="main">
  <app-sidebar></app-sidebar>
  <div class="router-component" #routerComponent>
    <router-outlet></router-outlet>
  </div>
</main> -->
<!-- <div session-expired-modal></div> -->
