@media screen and (orientation:portrait) { 

  // html {
  //   overflow: auto;
  // }

  // .mainlayout{
  //   width: 100%;
  //   height: 100%;
  //   overflow-y: auto;
  // }

  .content-wrap{
    overflow-x: auto;
  }  
}

@media screen and (orientation:landscape) { 
  // .mainlayout{
  //   width: 100%;
  //   height: 100%;
  //   overflow-y: auto;
  //   overflow-x: hidden;
  // }
}

a.hidden {
  position: absolute;
  left: -999px;
}

a.hidden:focus {
  left: 5px;
  z-index: 10;
}

.content-wrap {
  overflow-y: auto;
}
