<div class="modal modal-child fade" id="session-expired-modal" tabindex="-1" role="dialog" aria-labelledby="session-timeout-title"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="h4 modal-title text-xs-center fw-bold mt"  id="session-timeout-title">Session Timeout</h1>
            </div>
            <!--Modal Body-->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <div style="font-size: 80px;color:red; text-align:center;">
                            <i aria-hidden="true" class="fa fa-exclamation-triangle"></i>
                        </div>
                    </div>
                    <div class="col-md-9">
                                <h2 class="h4 fw-bold"><span>Your session is about to expire!</span></h2>
  								<h2 class="h4 fw-bold"><span>Do you want to continue working?</span></h2>
                                <h3><span class="h5">You will be logged out in {{timeToExpire}} {{timeToExpireUOM}}</span></h3>
                           
                    </div>
                </div>
            </div>
            <!--Modal Footer-->
            <div class="modal-footer">
                <button type="button" id="refreshmodal" data-dismiss="modal" class="btn btn-primary" (click)="refreshSession()">Yes, Keep me signed in</button>
                <button type="button" class="btn btn-secondary" id="" (click)="logout()">No, Sign me out</button>
            </div>
        </div>
    </div>
</div>