
<!-- HTS Codes and Tax Rates -->
<div class="row" style="width: 1205px">    
    <!--HTS codes -->
    <div class="col-lg-6">            
        <section class="widget h-divider" widget>
            <div class="widget-body">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="h4">HTS Codes</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover table-borderless" [mfData]="htsCodes" [(mfSortBy)]="sortBy" [mfIsServerPagination]="false"
                            #mf2="mfDataTable" [mfRowsOnPage]="10" [mfActivePage]="1" style="margin-left:-5px;">
                            <colgroup>
                                <col style="width:50%">
                                <col style="width:40%">
                                <col style="width:10%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="hidden-sm-down">
                                        <mfDefaultSorter by="htsCode" title="HTS Code">HTS Code</mfDefaultSorter>
                                    </th>
                                    <th class="hidden-sm-down">
                                        <mfDefaultSorter by="tobaccoClassName" title="Tobacco Class">Tobacco Class</mfDefaultSorter>                            
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let hts of mf2.data" >
                                    <td>
                                        <span>{{hts.htsCode}}
                                        </span>
                                    </td>
                                    <td>
                                        <span>{{hts.tobaccoClassName | removeHyphen}}
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="12">
                                        <mfBootstrapPaginator [rowsOnPageSet]="[5, 10, 25]"></mfBootstrapPaginator>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!--Tax rates -->
    <div class="col-lg-6">            
        <section class="widget h-divider" widget>
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="h4">Current Tax & Conversion Rates</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-left">Effective starting <span class="fw-semi-bold">{{effectiveDate | datePipe}}</span>
                        </div>
                    </div>
                        <div class="col-md-12">
                        <table class="table table-hover table-borderless" [mfData]="taxRateData"
                            [(mfSortBy)]="taxsorter" [mfIsServerPagination]="false"
                            #mf1="mfDataTable" [mfActivePage]="1" style="margin-left:-5px;">
                            <colgroup>
                                <col style="width:30%">
                                <col style="width:40%">
                                <col style="width:30%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="hidden-sm-down">
                                        <mfDefaultSorter by="tobaccoClassNm" title="Tobacco Class">Tobacco Class</mfDefaultSorter>
                                    </th>
                                    <th class="hidden-sm-down">
                                        <mfDefaultSorter by="taxRate" title="Tax Rate">Tax Rate</mfDefaultSorter>                            
                                    </th>
                                    <th class="hidden-sm-down">
                                        <mfDefaultSorter by="conversionRate" title="Conversion Rate">Conversion Rate</mfDefaultSorter>                                   
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let tc of mf1.data">
                                        <tr *ngIf="tc.taxRate || tc.conversionRate">
                                                <td>
                                                        <span *ngIf="nonConversionTypes.indexOf(tc.tobaccoClassNm) === -1">{{tc.tobaccoClassNm | removeHyphen}}
                                                        </span>
                                                        <span *ngIf="nonConversionTypes.indexOf(tc.tobaccoClassNm) != -1">{{tc.tobaccoClassNm}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <div  *ngIf="nonConversionTypes.indexOf(tc.tobaccoClassNm) === -1" >${{tc.taxRate}} /lb</div>
                                                        <div  *ngIf="nonConversionTypes.indexOf(tc.tobaccoClassNm) != -1 && tc.tobaccoClassNm != 'Cigars - Ad Valorem'" >
                                                            ${{tc.taxRate}} /k sticks</div>
                                                        <div  *ngIf="tc.tobaccoClassNm === 'Cigars - Ad Valorem'">{{tc.taxRate | percent}}</div>
                                                        <div *ngIf="!tc.taxRate" class="input-group">
                                                            <span>N/A</span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div *ngIf="tc.conversionRate">${{tc.conversionRate }} /kg</div>
                                                        <div *ngIf="!tc.conversionRate" class="input-group">
                                                            <span>N/A</span>
                                                        </div>
                                                    </td>
                                        </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
</div>
