
<form id="previous-trueup-info-form" class="form-horizontal" role="form" data-parsley-priority-enabled="false" novalidate="novalidate"
data-parsley-validate data-parsley-focus="first">
  <div class="row">
  <div class="col-lg-12 col-no-padding">
    <section class="widget h-divider">
      <div class="widget-body clearfix">

        <!--- Collapsible Panel -->
        <div class="panel-group" id="accordionPrevtrueupPanel">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle-main h4 no-margin fw-normal collapsed" data-toggle="collapse" aria-expanded="false" 
                aria-controls="#collapsePrevtrueupPanel"  href="#collapsePrevtrueupPanel" (click) = "toggleAccordian($event)">
                  Previous True Up Information
                </a>
              </h4>
            </div>
            <div id="collapsePrevtrueupPanel" class="panel-collapse collapse" >
              <div class="panel-body">
                
                    <!-- Panel Body -->
                    <div class="row" style="padding-left:50px; padding-right:50px;">
                      <div class="col-lg-offset-1 col-lg-12" >
                              <div class="widget-body">
                                  
                                  <ag-grid-angular 
                                    #agGrid style="width: 100%; height: 100%;" class="ag-theme-balham"
                                    [rowData]="data" [columnDefs]="columnDefs"
                                    domLayout="autoHeight" pagination="true" [paginationPageSize]="10" 
                                    [defaultColDef]="defaultColDef" (gridSizeChanged)="sizeToFit()" 
                                    (gridReady)="onGridReady($event)" [context]="context" 
                                    [defaultExportParams]="defaultExportParams" 
                                    (rowDataChanged)="restoreGridSavedState();"
                                    >
                                      
                                  </ag-grid-angular>
                                  
                                </div>
                        
                      </div>
                    </div>
                    <!-- Panel BodyEnds -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

  
</form>






