<div class="modal modal-child fade" id="ingest-error-dialog" tabindex="-1" role="dialog" aria-labelledby="ingest-error-title" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="h4 modal-title text-xs-center fw-bold mt" style="color:red" id="ingest-error-title"><span class="fa fa-exclamation-triangle"></span>ERROR - Ingestion Failed</h2>
			</div>
			<!--Modal Body-->
			<div class="modal-body">
				<div><span><b>The selected file did not meet the proper ingestion requirements.</b></span></div>		
				<i>Select Export Details to view detailed ingestion failure information.</i>
			</div>
			<!--Modal Footer-->
			<div class="modal-footer">
				<button type="button" id="btn-exp-error" class="btn btn-primary"
				 (click)="exportErrorDetails()">Export Details</button>
				<button type="button" class="btn btn-secondary" (click)="reset(false)" >Close</button>
				<p title="Exporting..." [ngBusy]="{busy: busy, message: 'Exporting Details...', backdrop: false}"></p>
			</div>
		</div>
	</div>
</div>