<div class="modal fade" id="delete-ingest" tabindex="-1" role="dialog" aria-label="delete-file-title" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div title="title" class="h4 modal-title text-xs-center fw-bold mt" >{{title}}</div>
			</div>
			<!--Modal Body-->
			<div class="modal-body">
				<div><span><b>{{msg}}</b></span></div>		
				<i>Any changes or work completed in this Annual True-Up will be lost.</i>
			</div>
			<!--Modal Footer-->
			<div class="modal-footer">
				<button type="button" id="btn-del-doc" class="btn btn-primary" [disabled]="disableClick"
				 [attr.title]="documentDesc" (click)="delete()">Confirm</button>
				<button type="button" class="btn btn-secondary" (click)="reset()" [disabled]="disableClick" title="Cancel">Cancel</button>
				<p title="Deleting" [ngBusy]="{busy: busy, message: 'Deleting...', backdrop: false}"></p>
			</div>
		</div>
	</div>
</div>
