<span class="btn-group-toggle" data-toggle="buttons">
  <span [ngBusy]="{busy: gettingTobaccoClasses, message: 'Loading Valid Tobacco Classes...', backdrop: true}"></span>
  <ng-container *ngIf="headerData?.permitType == 'Importer'">
    <label *ngFor="let tobaccoClass of importerTobaccoClasses" (click)="selectTobaccoClass(tobaccoClass)" [for]="tobaccoClass + '-check'" class="btn ttc-button" [ngClass]="{'disabled' : isButtonDisabled(tobaccoClass), 'btn-primary active': isTobaccoClassSelected(tobaccoClass), 'btn-secondary': !isTobaccoClassSelected(tobaccoClass)}">
      <input [id]="tobaccoClass + '-check'" type="checkbox" autocomplete="off" [disabled]="isButtonDisabled(tobaccoClass)" [checked]="isTobaccoClassSelected(tobaccoClass)"> {{tobaccoClass}}
    </label>
  </ng-container>
  <ng-container *ngIf="headerData?.permitType == 'Manufacturer'">
      <label *ngFor="let tobaccoClass of manufacturerTobaccoClasses" (click)="selectTobaccoClass(tobaccoClass)" [for]="tobaccoClass + '-check'" class="btn ttc-button" [ngClass]="{'disabled' : isButtonDisabled(tobaccoClass), 'btn-primary active': isTobaccoClassSelected(tobaccoClass), 'btn-secondary': !isTobaccoClassSelected(tobaccoClass)}">
        <input [id]="tobaccoClass + '-check'" type="checkbox" autocomplete="off" [disabled]="isButtonDisabled(tobaccoClass)" [checked]="isTobaccoClassSelected(tobaccoClass)"> {{tobaccoClass}}
      </label>
    </ng-container>
  </span>