@import "./../../../scss/helpers";

.textuppercase {
  text-transform: uppercase;
}


.switch{
  box-sizing: content-box;
  margin-left: -20px;
}

.switch i {
  display: inline-block;
  cursor: pointer;
  margin-left: -20px;
  margin-bottom:-3px;
  padding-right: 20px;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  border-radius: 20px;
  box-shadow: inset 0 0 1px rgba(0,0,0,.5);
}

.switch i:before {
  display: block;
  content: '';
  width: 30px;
  height: 30px;
  padding: 1px;
  border-radius: 20px;
  background: white;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
}
.switch :checked + i {
  padding-right: 0;
  padding-left: 20px;
  background: rgb(100, 189, 99);
}






.breathe-left{
  margin-left: 10px;
}

.h-divider{
 width:100%;
 border-bottom:3px solid #778899;
}

.noborder{
  border-color: #fff;
}

.txt-gap{
  margin-right: 5px;
}

.blue {
    color: blue;
}

mfDefaultSorter > a {

  &:hover {
    text-decoration: none;
  }
}

.exclude-permit-export{
  background-color:#5d8fc2;
  color:white;
  width: 50px;
  text-align: center;
  font-size: 10;
  font-weight: bold;
  padding: 0px 10px;
}

/***********************************/
/**           Backgrid            **/
/***********************************/

.table-editable{

  th > a{
    color: $text-color;
    cursor: pointer;
  }

  .sort-caret {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 0.3em;
    border: 0;
    content: "";
    font: 15px FontAwesome;
  }

  .ascending .sort-caret {
    &:before{
      content: "\f0d8";
    }
  }

  .descending .sort-caret {
    &:before{
      content: "\f0d7";
    }
  }

  + .backgrid-paginator > ul{
    font-weight: $font-weight-normal;
    display: inline-block;
    padding-left: 0;
    margin: $line-height-computed 0;
    border-radius: $border-radius;

    > li {
      display: inline; // Remove list-style and block-level defaults
      > a,
      > span {
        position: relative;
        float: left; // Collapse white-space
        line-height: $line-height-base;
        text-decoration: none;
        border: 1px solid $pagination-border;
        border-radius: $border-radius;
        margin: 0 2px;

        > .fa-lg{
          position: relative;
          top: -1px;
        }
      }
      &:first-child {
        > a,
        > span {
          margin-left: 0;
        }
      }
    }

    > li > a,
    > li > span {
      &:hover,
      &:focus {
        border-color: $pagination-hover-border;
      }
    }

    > .active > a,
    > .active > span {
      &,
      &:hover,
      &:focus {
        z-index: 2;
        border-color: $pagination-active-border;
        cursor: default;
      }
    }

    > .disabled {
      > span,
      > span:hover,
      > span:focus,
      > a,
      > a:hover,
      > a:focus {
        border-color: $pagination-disabled-border;
        cursor: not-allowed;
      }
    }

    > li > a {
      padding: $padding-small-vertical $padding-small-horizontal;
      font-size: $font-size-sm;
      line-height: $line-height-computed;
    }

    > li {
      &:first-child {
        > a {
          @include border-left-radius($border-radius-sm);
        }
      }
      &:last-child {
        > a {
          @include border-right-radius($border-radius-sm);
        }
      }
    }
  }
}
