<h1 class="h1 page-title">Company Tracking</h1>
<div>
    <div class="row">
        <div class="col-lg-12">
            <!--DataTable Grid that displays search results - Company or Report-->
            <section class="widget h-divider" widget>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-md-8">
                            <button id="create-company" type="button" class="btn btn-primary btn-spacing" title="Create Company" (click)="setMultiEmailAddressFlag()">
                                Email Address Confirmed
                            </button>
                            <button id="create-company" type="button" class="btn btn-primary btn-spacing" title="Create Company" (click)="setMultiPysicalAddressFlag()">
                                Physical Address Confirmed
                            </button>
                            <button id="create-company" type="button" class="btn btn-primary btn-spacing" title="Create Company" (click)="setMultiWelcomeLetterFlag()">
                                Welcome Letter Sent
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button type="button" id="create-company" class="btn btn-primary pull-right" title="Export New Companies as CSV" [ngBusy]="{busy: busyExport, message: 'Exporting New Companies List...', backdrop: true}"
                                (click)="exportNewCompaniesDetails()">Export As CSV</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-12">
            <!--DataTable Grid that displays search results - Company or Report-->
            <section class="widget h-divider" widget>
                <div [ngBusy]="busy" class="widget-body">
                    <table id="tbl-rpt" [ngBusy]="{busy: busy, message: 'Loading...', backdrop: true}" class="table table-responsive table-hover"
                        [mfData]="companyResults" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" [mfIsServerPagination]="true" 
                        #mf="mfDataTable" [mfRowsOnPage]="pgAttrs.pageSize" [mfActivePage]="pgAttrs.activePage" [(mfAmountOfRows)]="pgAttrs.itemsTotal"
                        (mfOnPageChange)="onPageChange($event)" (mfSortOrderChange)="onSortOrder($event)" [mfStoreState]="true"
                        [mfNavigateUrls]="''" [mfDataTableName]="'at-company-tracking-results'">
                        <colgroup>
                            <col style="width: 2%;">
                            <col style="width: 15%;">
                            <col style="width: 5%;">
                            <col style="width: 5%;">
                            <col style="width: 5%;">
                            <col style="width: 2%;">
                            <col style="width: 2%;">
                            <col style="width: 2%;">
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="col" id="h-cmp-check">
                                </th>
                                <th scope="col" id="h-cmp-nam">
                                    <mfDefaultSorter by="legalName" title="Company Name">Company Name</mfDefaultSorter>
                                </th>
                                <th scope="col" id="h-cmp-ein">
                                    <mfDefaultSorter by="ein" title="Ein">Ein</mfDefaultSorter>
                                </th>
                                <th scope="col" id="h-cmp-par-nam">
                                    <mfDefaultSorter by="addedDt" title="Original Name">Date Created</mfDefaultSorter>
                                </th>
                                <th scope="col" id="h-cmp-par-nam">
                                    <mfDefaultSorter by="addedDt" title="Date Welcome Letter Sent">Date Welcome Letter Sent</mfDefaultSorter>
                                </th>
                                <th scope="col" class="hidden-sm-down" id="h-tob-cls">
                                    <mfDefaultSorter by="emailFlag" title="Email">Email</mfDefaultSorter>
                                </th>
                                <th scope="col" class="hidden-sm-down" id="h-qtr-no">
                                    <mfDefaultSorter by="addressFlag" title="Address">Address</mfDefaultSorter>
                                </th>
                                <th scope="col" class="hidden-sm-down" id="h-del-tax">
                                    <mfDefaultSorter by="welcomeLetterFlag" [align]="rightalignClass" title="Welcome Letter">Welcome Letter</mfDefaultSorter>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <toggle-button-tufa (flag)="selectAll" (flagChange)="selectAllCompanies()"></toggle-button-tufa>
                                </td>
                                <ng-container *ngFor="let column of columns; let i = index">
                                    <td>
                                        <div class="input-group input-group-transparent input-group-rounded">
                                            <span class="input-group-text">
                                                <i class="fa fa-filter" (click)="getCompanyResults();"></i>
                                            </span>
                                            <input *ngIf="column.type==='input'" [attr.id]="'filter-' + column.name" [ngTableFiltering]="column.filtering" [config]="column.filtering"
                                                class="form-control" style="width: auto;" [attr.aria-label]="column.name" placeholder="{{column.filtering.placeholder}}"
                                                value="{{column.filtering.filterString}}" (tableChanged)="onChangeTable($event)"
                                            />
                                            <select *ngIf="column.type==='select'" [attr.id]="'filter-' + column.name" class="form-control" [attr.aria-label]="column.name"
                                                style="width: auto; height: auto;" (change)="filterSelectionChanged($event.target.value, column.name)">
                                                <option *ngFor="let option of column.options" [selected]="(option.value === column.defaultvalue)" [value]="option.value">
                                                    {{option.name}}
                                                </option>
                                            </select>
                                            <datetime *ngIf="column.type==='date' && column.name==='addedDt'" [timepicker]="false" [(ngModel)]="createdDtFilter" (ngModelChange)="filterDateChanged(column.name)"></datetime>
                                            <datetime *ngIf="column.type==='date' && column.name==='welcomeLetterSentDt'" [timepicker]="false" [(ngModel)]="welcomeLetterSentDtFilter"
                                                (ngModelChange)="filterDateChanged(column.name)"></datetime>
                                        </div>
                                    </td>
                                </ng-container>
                            </tr>
                            <ng-container *ngFor="let companyTrackingInfo of mf.data;let i = index;">
                                <tr [ngClass]="{'selected': companyTrackingInfo.selected}">
                                    <td class="hidden-sm-down">
                                        <toggle-button-tufa [id]="'select-' + index" [flag]="companyTrackingInfo.selected" (flagChange)="companyTrackingInfo.selected = !companyTrackingInfo.selected"></toggle-button-tufa>
                                    </td>
                                    <td class="fw-semi-bold blue">
                                        <span>
                                            <a href="javascript:void(0)" (aClick)="toCompanyDetails(companyTrackingInfo)">{{companyTrackingInfo.legalName}}
                                            </a>
                                        </span>
                                    </td>
                                    <td class="hidden-sm-down">{{companyTrackingInfo.einNumber | einPipe}}</td>
                                    <td class="hidden-sm-down">{{companyTrackingInfo.createdDt}}</td>
                                    <td class="hidden-sm-down">{{companyTrackingInfo.welcomeLetterSentDt}}</td>
                                    <td class="hidden-sm-down">
                                        <toggle-button-tufa [id]="'email-' + index" [flag]="companyTrackingInfo.emailAddressFlag === 'Y'" (flagChange)='setSingleEmailAddressFlag(companyTrackingInfo)'></toggle-button-tufa>
                                    </td>
                                    <td class="hidden-sm-down">
                                        <toggle-button-tufa [id]="'address-' + index" [flag]="companyTrackingInfo.physicalAddressFlag === 'Y'" (flagChange)='setSinglePhysicalAddressFlag(companyTrackingInfo)'></toggle-button-tufa>
                                    </td>
                                    <td class="hidden-sm-down">
                                        <toggle-button-tufa [id]="'letter-' + index" [flag]="companyTrackingInfo.welcomeLetterFlag === 'Y'" (flagChange)='setSingleWelcomeLetterFlag(companyTrackingInfo)'></toggle-button-tufa>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="12">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[25, 50, 100]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </section>
        </div>
        <div aria-live="assertive">
            <div role="alert" *ngIf="showErrorFlag" class="row">
                <div class="col-lg-offset-1 col-lg-6 col-xs-12">
                    <div class="form-group row">
                        <div class="col-md-12 col-xs-12">
                            <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'">
                                <div [innerHTML]="alert.msg"></div>
                            </alert>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>