<ol class="breadcrumb" *ngIf='breadcrumb===""'>
	<li class="breadcrumb-item">
		<a [routerLink]='["/app/company/search"]' id="lnk-dly-ops">Daily Operations</a>
	</li>
	<li class="breadcrumb-item active">
		<a href="javascript:void(0)">Company Details</a>
	</li>
</ol>
<ol class="breadcrumb" *ngIf='(breadcrumb === "qa-reconreport") || (breadcrumb === "qa-reportstatus")'>
	<li class="breadcrumb-item">
		<a href="javascript:void(1)" (aClick)="toAssessments()" id="lnk-assessments">Assessments</a>
	</li>
	<li class="breadcrumb-item">
		<a href="javascript:void(2)" id="lnk-qa" (aClick)="toQuarterlyAssessment()">Quarterly Assessment</a>
	</li>
	<li class="breadcrumb-item active">
		<a href="javascript:void(0)">Company Details</a>
	</li>
</ol>
<ol class="breadcrumb" *ngIf='(breadcrumb === "ca-reconreport") || (breadcrumb === "ca-reportstatus")'>
	<li class="breadcrumb-item">
		<a href="javascript:void(1)" (aClick)="toAssessments()" id="lnk-assessments">Assessments</a>
	</li>
	<li class="breadcrumb-item">
		<a href="javascript:void(2)" (aClick)="toCigarAssessment()" id="lnk-ca">Cigar Assessment</a>
	</li>
	<li class="breadcrumb-item active">
		<a href="javascript:void(0)">Company Details</a>
	</li>
</ol>
<ol class="breadcrumb" *ngIf='breadcrumb === "at-reconreport"'>
	<li class="breadcrumb-item">
		<a href="javascript:void(1)" (aClick)="toAssessments()" id="lnk-assessments">Assessments</a>
	</li>
	<li class="breadcrumb-item">
		<a href="javascript:void(2)" (aClick)="toAnnualTrueup()" id="lnk-at">Annual True-Up</a>
	</li>
	<li class="breadcrumb-item active">
		<a href="javascript:void(0)">Company Details</a>
	</li>
</ol>
<ol class="breadcrumb" *ngIf='breadcrumb === "at-comparedetails"'>
	<li class="breadcrumb-item">
		<a href="javascript:void(1)" (aClick)="toAssessments()" id="lnk-assessments">Assessments</a>
	</li>
	<li class="breadcrumb-item">
		<a href="javascript:void(2)" (aClick)="toAnnualTrueup()" id="lnk-at">Annual True-Up</a>
	</li>
	<li class="breadcrumb-item">
		<a href="javascript:void(3)" id="lnk-comdetails" (aClick)="toCompareDetails()">Compare Details</a>
	</li>
	<li class="breadcrumb-item active">
		<a href="javascript:void(0)">Company Details</a>
	</li>
</ol>
<ol class="breadcrumb" *ngIf='breadcrumb === "at-compare-selMethod"'>
	<li class="breadcrumb-item">
		<a href="javascript:void(1)" (aClick)="toAssessments()" id="lnk-assessments">Assessments</a>
	</li>
	<li class="breadcrumb-item">
		<a href="javascript:void(2)" (aClick)="toAnnualTrueup()" id="lnk-at">Annual True-Up</a>
	</li>
	<li class="breadcrumb-item active">
		<a href="javascript:void(0)">Company Details</a>
	</li>
</ol>
<ol class="breadcrumb" *ngIf='breadcrumb === "permit-mgmt"'>
	<li class="breadcrumb-item">
		<a [routerLink]='["/app/permit-mgmt"]' id="lnk-permmgmt">Permit Management</a>
	</li>
	<li class="breadcrumb-item">
		<a href="javascript:void(1)" (aClick)="toFileMgmt()" id="lnk-filemgmt">File Management</a>
	</li>
	<li class="breadcrumb-item active">
		<a href="javascript:void(0)">Company Details</a>
	</li>
</ol>
<ol class="breadcrumb" *ngIf='breadcrumb==="company-tracking"'>
	<li class="breadcrumb-item">
		<a [routerLink]='["/app/company/tracking"]' id="lnk-comp-tracking">Company Tracking</a>
	</li>
	<li class="breadcrumb-item active">
		<a href="javascript:void(0)">Company Details</a>
	</li>
</ol>
<h1 class="h1 page-title">Company Details</h1>
<div class="CompanyDetailsPageController" data-ng-controller="CompanyDetailsPageController">
	<div class="row">
		<div class="col-lg-12">
			<section class="widget">
				<div class="widget-body clearfix">
					<div class="row flex-nowrap">
						<div id="cmp-info" class="col-md-10">
							<h2 id="cmp-name" class="h2 no-margin fw-normal">{{cmpymodel?.legalName}}</h2>
							<p id="cmp-ein" class="no-margin ">
								<strong>EIN:</strong>
								<span class="breathe-left fw-normal">{{cmpymodel?.einNumber | einPipe}}</span>
							</p>
							<p id="cmp-dtcr" class="no-margin ">
								<strong>Created:</strong>
								<span class="breathe-left fw-normal">{{cmpymodel?.createdDt}}</span>
							</p>
							<p id="cmp-sts" class="no-margin ">
								<strong>Status:</strong>
								<span class="breathe-left fw-normal">{{cmpymodel?.companyStatus | companyStatusPipe}}</span>
							</p>
						</div>
						<div class="col-lg-2">
							<div class="pull-right">
								<button id="btn-ed-comp" type="button" class="btn btn-outline-primary" data-toggle="modal" data-backdrop="static" title="Edit Company"
								 data-keyboard="false" data-target="#edit-company" focusOn="#editcompany-form" aria-label="Edit Company" (click)="setCompany(this.cmpymodel)">
									<i class="fa fa-pencil txt-gap"></i> Edit
								</button>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<div *ngIf="showEditCompanyFlag" edit-company [model]="cmpymodel" (onCompanyEdit)="cmpyInfoRefresh($event, 'edit-company')"></div>



	<div comments-panel [objectId]="cmpymodel?.companyId" [comment]="cmpymodel?.companyComments" (onCommentEdit)="cmpyInfoRefresh($event, 'edit-comments')"
	 [objectType]="'COMPANY'"></div>

	<div class="row">
		<div class="col-lg-12">
			<section class="widget h-divider" widget>
				<header>
					<div class="row">
						<div class="col-md-6">
							<p class="h5 fw-semi-bold">Permits</p>
						</div>
						<div class="col-lg-offset-1 col-md-4">
							<div class="pull-right">
								<div class="h6 fw-semi-bold">Legend</div>
								<div class="h6 fw-semi-bold noWrap">
									<span class="exclude-permit-export">Ex</span>&nbsp; - Permit is Excluded</div>
							</div>
						</div>
						<div class="col-md-2">
							<div class="pull-right">
								<button id="btn-cr-pmt" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#edit-permit" data-keyboard="false"
								 data-backdrop="static" focusOn="#permitForm" (click)="onClicktoAddPermit()">
									<span class="fa fa-plus txt-gap" aria-hidden="true"></span> Add Permit</button>
							</div>
						</div>
					</div>
				</header>
				<div class="widget-body">
					<table [ngBusy]="{busy: busy, message: 'Loading...', backdrop: false}" class="table  table-hover" [mfData]="data" #mf="mfDataTable"
					 [mfRowsOnPage]="5" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" [mfIsServerPagination]="false" summary="Company Permits">
						<thead>
							<tr>
								<th scope="col" id="h-pmt-no">
									<mfDefaultSorter by="permitNum" title="Permit Number">TTB Permit</mfDefaultSorter>
								</th>
								<th scope="col" id="h-pmt-sta" class="hidden-sm-down">
									<mfDefaultSorter by="permitStatusTypeCd" title="Permit Status">Permit Status</mfDefaultSorter>
								</th>
								<th scope="col" id="h-act-dat" class="hidden-sm-down">
									<mfDefaultSorter [by]="activeDt" title="Active Date">Tufa Active Date</mfDefaultSorter>
								</th>
								<th scope="col" id="h-close-dat" class="hidden-sm-down">
									<mfDefaultSorter by="closeDt" title="Closed Date">Tufa Inactive Date</mfDefaultSorter>
								</th>
								<th scope="col" id="h-issue-dat" class="hidden-sm-down">
									<mfDefaultSorter [by]="issueDt" title="TTB Issue Date">TTB Issue Date</mfDefaultSorter>
								</th>
								<th scope="col" id="h-cls-inacdat" class="hidden-sm-down">
									<mfDefaultSorter by="ttbcloseDt" title="TTB Close Date">TTB Closed Date</mfDefaultSorter>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let permit of mf.data;let i=index">
								<td class="fw-semi-bold blue">
									<a [routerLink]="['/app/permit/history', permit.permitId]">{{permit.permitNum | permitNumberPipe}}</a>&nbsp;
									<!--Uncomment the following LOC for CTPTUFA-5256: Company Details Page: Add a flag/indicator to the Permits Panel to indicate if a Permit is Excluded
										The ngIF should have the column from db which indicates the permit is excluded or no-->

									<span *ngIf="permit.permitExcluded" class="exclude-permit-export">Ex</span>
								</td>
								<td class="hidden-sm-down">{{permit.permitStatusTypeCd}}</td>
								<td class="hidden-sm-down">{{permit.issueDt}}</td>
								<td class="hidden-sm-down">{{permit.closeDt}}</td>
								<td class="hidden-sm-down">{{permit.ttbstartDt}}</td>
								<td class="hidden-sm-down">{{permit.ttbendDt}}</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="12">
									<mfBootstrapPaginator [rowsOnPageSet]="[5, 10, 25]"></mfBootstrapPaginator>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</section>
		</div>
	</div>

	<!-- Exlude Permit Info -->
	<div permit-marketshare-exclude [permitSet]="permitSetData" [objectId]="cmpymodel?.companyId" (excludeFlag)="setFlag($event)"></div>

	<div *ngIf="showEditPermitFlag" edit-permit [companyModel]="cmpymodel" (onCompanyEdit)="cmpyInfoRefresh($event, 'edit-permit')"></div>
	<div class="row">
	</div>
	<div class="row">
		<div class="col-lg-12">
			<section class="widget h-divider" [ngBusy]="{busy: busy, message: 'Loading...', backdrop: true}">
				<div class="widget-body clearfix">
					<div class="row">
						<div class="col-lg-12">
							<p title="Company Address" class="h5 fw-semi-bold">
								Company Address
							</p>
						</div>
					</div>
					<div class="row flex-nowrap" style="margin-top:10px;">
						<div class="col-lg-8">
							<p class="no-margin">
								<strong>Primary</strong>
							</p>
							<p class="no-margin " *ngIf="primaryAddress?.attention">{{primaryAddress?.attention}}</p>
							<p class="no-margin ">
								<span>{{primaryAddress?.streetAddress}}</span><span *ngIf="primaryAddress?.suite">, {{primaryAddress?.suite}}</span>
							</p>
							<p class="no-margin ">
								<span *ngIf="primaryAddress?.city">{{primaryAddress?.city}}, </span>{{primaryAddress?.state}}{{primaryAddress?.province}} {{primaryAddress?.postalCd}}
							</p>
							<p class="no-margin ">
								<span *ngIf="primaryAddress?.countryCd">{{primaryAddress?.countryNm}}</span>
							</p>
						</div>
						<div class="col-lg-4">
							<div class="pull-right">
								<button type="button" id="ed-addr1" class="btn btn-outline-primary" (click)="setSelectedAddress(this.primaryAddress)" data-backdrop="static"
								 title="Edit primary address" aria-label="Edit Primary Address" data-keyboard="false" data-toggle="modal" data-target="#edit-address"
								 focusOn="#edit-address">
									<i class="fa fa-pencil txt-gap"></i>Edit
								</button>
							</div>
						</div>
					</div>
					<div class="row flex-nowrap" style="margin-top:10px;">
						<div class="col-lg-8">
							<p class="no-margin">
								<strong>Alternate</strong>
							</p>
							<p class="no-margin " *ngIf="alternateAddress?.attention">{{alternateAddress?.attention}}</p>
							<p class="no-margin ">
								<span>{{alternateAddress?.streetAddress}}</span><span *ngIf="alternateAddress?.suite">, {{alternateAddress?.suite}}</span>
							</p>
							<p class="no-margin ">
								<span *ngIf="alternateAddress?.city">{{alternateAddress?.city}}, </span>{{alternateAddress?.state}}{{alternateAddress?.province}} {{alternateAddress?.postalCd}}
							</p>
							<p class="no-margin ">
								<span *ngIf="alternateAddress?.countryCd">{{alternateAddress?.countryNm}}</span>
							</p>
						</div>
						<div class="col-lg-4">
							<div class="pull-right">
								<button id="prim-addr2" [hidden]=alternateAddressFlag type="button" class="btn btn-outline-primary" (click)="setAsPrimaryAddress(this.alternateAddress)" data-backdrop="static"
								title="Set as Primary Address" aria-label="Set as Primary Address" data-keyboard="false" data-toggle="modal">
									<i class="fa fa-pencil txt-gap"></i>Set as Primary
								</button>
								<button id="ed-addr2" type="button" class="btn btn-outline-primary" (click)="setSelectedAddress(this.alternateAddress)" data-backdrop="static"
								 title="Edit alternate address" aria-label="Edit Alternate Address" data-keyboard="false" data-toggle="modal" data-target="#edit-address"
								 focusOn="#edit-address" style="margin-left: 8px;">
									<i class="fa fa-pencil txt-gap"></i>Edit
								</button>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<div *ngIf="showEditAddressFlag" edit-address [companyModel]="cmpymodel" [addressModel]="selectedAddress" (onCompanyEdit)="cmpyInfoRefresh($event, 'edit-address')"></div>

	<!--Loop through number of contacts-->
	<div class="row" >
		<div class="col-lg-12">
			<section class="widget h-divider" [ngBusy]="{busy: busy, message: 'Loading...', backdrop: true}" >
				<header>
					<div class="row">
						<div class="col-md-6">
							<p title="Permits" class="h5 fw-semi-bold">
								Points of Contact
							</p>
						</div>
						<div class="col-lg-offset-1 col-md-4">
						</div>
						<div class="col-md-2">
							<div class="pull-right">
								<button id="btn-add-ct" type="button" class="btn btn-outline-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal"
								 data-target="#add-contact" focusOn="#add-contact" (click)="onclicktoAddContact()">
									<span class="fa fa-plus txt-gap" aria-hidden="true"></span>
									Add Contact
								</button>
							</div>
						</div>
					</div>
				</header>
				<div class="widget-body">
					<div *ngFor="let contact of contacts; let i = index;">
						<div *ngIf="(i==0)" class="row flex-nowrap">
							<div class="col-lg-5">
								<span class="tag tag-primary">
									<i class="fa fa-star-o"></i>
									Primary Contact
								</span>
							</div>
						</div>
						<div class="row flex-nowrap" style="margin-top:10px;">
							<div class="col-lg-4">
								<p class="h6 no-margin fw-normal">
									<strong>{{contact.firstNm}} {{contact.lastNm}}</strong>
								</p>
								<p class="no-margin ">{{contact.emailAddress}}</p>
							</div>
							<div class="col-lg-4">
								<p class="no-margin">
									<span *ngIf="contact.phoneNum && contact.phoneNum != ' ' ">Phone: {{contact.cntryDialCd}} {{contact.phoneNum | phoneNumberPipe:contact.cntryDialCd}}</span>
									<span *ngIf="contact.phoneExt && contact.phoneExt != ' ' " style="margin-left:10px;">Ext: {{contact.phoneExt}}</span>
								</p>
								<p class="no-margin">
									<span *ngIf="contact.faxNum && contact.faxNum != ' ' ">Fax: {{contact.cntryFaxDialCd}} {{contact.faxNum | phoneNumberPipe:contact.cntryFaxDialCd}}</span>
								</p>
							</div>
							<div class="col-lg-4">
								<div class="pull-right">
									<button id="prim-contact" type="button" [hidden]="(i==0)" class="btn btn-outline-primary" (click)="setAsPrimaryContact(this.contact)" data-backdrop="static"
									title="Set as Primary Contact" aria-label="Set as Primary Contact" data-keyboard="false" data-toggle="modal">
										<i class="fa fa-pencil txt-gap"></i>Set as Primary
									</button>
									<button type="button" [hidden]="(i==0)" class="btn btn-outline-danger " data-toggle="modal" data-target="#confirm-popup"
									 [attr.title]=" 'Delete Contact ' + contact.firstNm" focusOn="#confirm-popup" data-backdrop="static" data-keyboard="false"
									 (click)="setSelectedContact(this.contact, 'delete')" style="margin-left: 8px;">
										<i class="fa fa-trash txt-gap"></i>Delete
									</button>
									<button type="button" class="btn btn-outline-primary" (click)="setSelectedContact(this.contact, 'edit')" data-backdrop="static"
									 title="Edit contact" aria-label="Edit Contact" data-keyboard="false" data-toggle="modal" data-target="#edit-contact"
									 focusOn="#edit-contact" style="margin-left: 8px;">
										<i class="fa fa-pencil txt-gap"></i>Edit
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<div *ngIf="showEditContactFlag" edit-contact [companyModel]="cmpymodel" [contactModel]="selectedContact" (onCompanyEdit)="cmpyInfoRefresh($event, 'edit-contact')"></div>
	<div *ngIf="showAddContactFlag" add-contact [companyModel]="cmpymodel" (onCompanyEdit)="cmpyInfoRefresh($event, 'add-contact')"></div>
	<div *ngIf="showConfirmPopup" confirm-popup-ph [model]="selectedContact" (callBack)="deleteContact(selectedContact)" (hideModal)="showConfirmPopup = false"
	 [msg]="'Are you sure you want to delete ' + ((selectedContact.firstNm && selectedContact.lastNm) ? selectedContact.firstNm+' '+selectedContact.lastNm+'?' : 'this contact?')"
	 [title]="'Delete Contact'"></div>
</div>