// @import "../../scss/bootstrap-datepicker3.min";
// @import "../../../../node_modules/bootstrap-select/dist/css/bootstrap-select";
// @import "../../scss/variables";
// @import "../../../../node_modules/bootstrap/scss/_variables";
// @import "../../../../node_modules/bootstrap/scss/mixins";
@import "./../../../scss/helpers";

.errorp{
  font-size: $font-size-smaller;
  padding-left: 0;
  margin-bottom: 5px;
  color: $brand-danger;
}

/***********************************/
/**            PARSLEY            **/
/***********************************/
.h-divider{
 width:100%;
 border-bottom:3px solid #778899;
}

.switch{
  box-sizing: content-box;
  margin-left: -20px;
}

.switch i {
  display: inline-block;
  cursor: pointer;
  margin-left: -20px;
  margin-bottom:-3px;
  padding-right: 20px;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  border-radius: 20px;
  box-shadow: inset 0 0 1px rgba(0,0,0,.5);
}

.switch i:before {
  display: block;
  content: '';
  width: 30px;
  height: 30px;
  padding: 1px;
  border-radius: 20px;
  background: white;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
}
.switch :checked + i {
  padding-right: 0;
  padding-left: 20px;
  background: rgb(100, 189, 99);
}


.white, .white a {
  color: #fff;
}

.btn-label {
  background: transparent;
  left: 2px;
  padding: 1px 6px;
}

/**
*  autosize
**/

.autogrow {
  overflow: hidden;
  resize: none;
}

/**
* datetime
**/
.input-group {
  width: auto;
  .input-group-text {
    padding: .375rem .75rem .375rem .75rem;
  }
}
