<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a [routerLink]="['../../company/search']">Daily Operations</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="javascript:void(0)">Create Company</a>
    </li>
</ol>
<h1 class="h1 page-title">Create Company</h1>
<div class="create-company">
    <div class="row">
        <p class="col-md-4 form-control-label text-md-left">
            {{errorMessage}}
        </p>
    </div>
    <form id="createcompany-form" class="form-horizontal" role="form" data-parsley-priority-enabled="false" novalidate="novalidate"
        data-parsley-validate data-parsley-focus="first">
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <section class="widget h-divider">
                    <div class="widget-body clearfix">
                        <fieldset>
                            <legend>Company Information</legend>
                            <div class="form-group row">
                                <label for="company-name" class="col-md-4 form-control-label text-md-right">
                                    Company Name
                                    <span class="help-block">Required field</span>
                                </label>
                                <div role="alert" class="col-md-4 col-xs-12">
                                    <input type="text" id="company-name" placeholder="Company Name" [(ngModel)]="company.legalName" aria-label="Enter Company Name"
                                        title="Company Legal Name" [ngModelOptions]="{standalone: true}" class="form-control"
                                        required="required" data-parsley-required-message="Error: Company Name is required">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="ein-number" class="col-md-4 form-control-label text-md-right">
                                    Employer Identification Number (EIN)
                                    <span class="help-block">Required field</span>
                                </label>
                                <div role="alert" class="col-md-4 col-xs-12">
                                    <input type="text" id="ein-number" [(ngModel)]="company.einNumber" title="EIN Number" [ngModelOptions]="{standalone: true}"
                                        [textMask]="{mask: einmask, guide:false}" placeholder="EIN" class="form-control" placeholder="9 digits"
                                        minlength="9" maxlength="9" required="required" data-parsley-error-message="Error: EIN requires appropriate format (e.g. 123456789)">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <section class="widget h-divider">
                    <div class="widget-body clearfix">
                        <fieldset>
                            <legend>Permit Information</legend>
                            <div class="form-group row">
                                <label for="ttb-permit" class="col-md-4 form-control-label text-md-right">
                                    TTB Permit
                                    <span class="help-block">Required field</span>
                                </label>
                                <div role="alert" class="col-md-4 col-xs-12">
                                    <input id="ttb-permit" placeholder="TTB Permit" class="form-control" [(ngModel)]="permitNumber" title="TTB Permit Number"
                                        type="text" #field="ngModel" pattern="[a-zA-Z]{2}-[a-zA-Z]{2}-\d{1,5}(?!\d)" [textMask]="{mask: mask, guide:false}"
                                        [ngModelOptions]="{standalone: true}" (ngModelChange)="selectType()" required data-parsley-error-message="Error: TTB Permit requires appropriate format (e.g. AA-BB-12345)">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="permit-type" class="col-md-4 form-control-label text-md-right">
                                    Type
                                    <span class="help-block">Required field</span>
                                </label>
                                <div role="alert" class="col-md-4 col-xs-12">
                                    <select id="permit-type" [(ngModel)]="permitType" title="Permit Type" name="permit-type" #userType class="form-control fdatable"
                                        required data-parsley-required-message="Error: Type is required">
                                        <option [disabled]='product === "Select Type"' *ngFor="let product of permitTypeList" [value]="product">
                                            {{product}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="active-date" class="col-md-4 form-control-label text-md-right">
                                    TUFA Active Date
                                    <span class="help-block">Required field</span>
                                </label>
                                <div role="alert" class="col-md-4 col-xs-12">
                                    <datetime   data-parsley-required-message="Error: TUFA Active Date is required"  required [timepicker]="false" [dateinputID]="activedateid" id="act-dtpicker" [datepicker]="datepickerOpts" [(ngModel)]="company.activeDate" title="Active Date"
                                     [ngModelOptions]="{standalone: true}" ></datetime>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </section>
            </div>
        </div>
        <div aria-live="assertive">
            <div role="alert" *ngIf="showErrorFlag" class="row">
                <div class="col-lg-12 col-xs-12">
                    <div class="form-group row">
                        <div class="col-md-12 col-xs-12">
                            <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'">
                                <div [innerHTML]="alert.msg"></div>
                            </alert>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <div aria-live="assertive" class="form-group row">
                    <div class="col-md-4 col-xs-12">
                    </div>
                    <div class="col-md-4 col-xs-12">
                    </div>
                    <div role="alert" class="col-md-4 col-xs-12">
                        <button [ngBusy]="{busy: busy, message: 'Saving...', backdrop: false}" id="btn-create" type="button" (click)="createCompany(company)"
                            title="Save Company" class="btn btn-primary btn-block">
                            Save Company
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>