<div class="modal fade" id="edit-contact" tabindex="-1" role="dialog" aria-labelledby="edit-contact-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!--Modal Header-->
      <div class="modal-header">
        <h3 class="h4 modal-title text-xs-center fw-bold mt" id="edit-contact-title">Edit Contact</h3>
      </div>
      <!--Modal Body-->
      
      <form id="editcontactform" #editcontactform ="ngForm" role="form" class="form-horizontal" data-parsley-priority-enabled="false"
              novalidate="novalidate" data-parsley-validate data-parsley-focus="first">
         <div class="modal-body">
            <!--First Name-->
            <div class="form-group row">
              <label for="first-name" class="col-md-4 form-control-label text-md-right">First Name
              </label>
              <div class="col-md-8 col-xs-12">
                <input type="text" class="form-control fdatable textuppercase" id="first-name"
                    [(ngModel)]="contact.firstNm" title="First Name" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <!--Last Name-->
            <div class="form-group row">
              <label for="last-name" class="col-md-4 form-control-label text-md-right">Last Name                  
              </label>
              
              <div class="col-md-8 col-xs-12">
                <input type="text" class="form-control fdatable textuppercase" id="last-name"
                    [(ngModel)]="contact.lastNm" title="Last Name" [ngModelOptions]="{standalone: true}">
              </div>
            </div>     
            <!--Email Address         -->
            <div class="form-group row">
              <label for="email-address" class="col-md-4 form-control-label text-md-right">Email                  
              </label>
              
              <div class="col-md-8 col-xs-12">
              <input type="email" class="form-control fdatable textuppercase" id="email-address"
                  [(ngModel)]="contact.emailAddress" title="Email Address" [ngModelOptions]="{standalone: true}" 
                  data-parsley-error-message="Error: Email requires appropriate format (e.g. name@address.com)">
              </div>
            </div>
            <!--Phone Number-->
            <div class="form-group row">
              <label for="phone-number" class="col-md-4 form-control-label text-md-right">Phone                  
              </label>
              
              <div class="col-md-3 col-xs-12">
                <input type="text" class="form-control" id="phone-countrycode" maxlength="4" [textMask]="{mask: mask, guide:false}"
                  pattern="^[+]{1}\d{1,3}(?!\d)" aria-label="Country Dial Code"                  
                  [(ngModel)]="contact.cntryDialCd" [ngModelOptions]="{standalone: true}" >
                  <span class="help-block">Country Code</span>                    
              </div>                
              <div class="col-md-5 col-xs-12">
                <input type="text" class="form-control fdatable" id="phone-number"
                  [(ngModel)]="contact.phoneNum" title="Phone Number" [ngModelOptions]="{standalone: true}" maxlength="12" >
              </div>
            </div>
            <!--Extension Optional-->
            <div class="form-group row">
              <label for="ext-optional" class="col-md-4 form-control-label text-md-right">Extension</label>
              <div class="col-md-8 col-xs-12">
                <input type="text" class="form-control" id="ext-optional" [textMask]="{mask: extmask, guide:false}"
                maxlength="6" [(ngModel)]="contact.phoneExt" title="Phone extension" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <!--FAX Optional-->
            <div class="form-group row">
              <label for="fax-optional" class="col-md-4 form-control-label text-md-right">Fax</label>
              <div class="col-md-3 col-xs-12">
                  <input type="text" class="form-control" id="fax-countrycode" maxlength="4" [textMask]="{mask: mask, guide:false}"
                    pattern="^[+]{1}\d{1,3}(?!\d)" aria-label="Country Fax Dial Code"
                      [(ngModel)]="contact.cntryFaxDialCd" [ngModelOptions]="{standalone: true}">
                    <span class="help-block">Country Code</span>
              </div>                   
              <div class="col-md-5 col-xs-12">
                <input type="text" class="form-control" id="fax-optional"
                      [(ngModel)]="contact.faxNum" title="Fax Number" [ngModelOptions]="{standalone: true}" maxlength="12">
                </div>
            </div>   
                 
        </div>
        <!--Modal Footer-->
        <div class="modal-footer">
          <button [disabled]="!(contact.emailAddress || contact.faxNum || contact.firstNm || contact.lastNm || 
          contact.phoneExt || contact.phoneNum)" type="button" class="btn btn-primary" (click)="updateContact(contact)">Save Contact</button>
          <button type="button" class="btn btn-secondary" (click)="reset(false)">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
