<div class="modal fade" id="edit-company" tabindex="-1" role="dialog" aria-labelledby="edit-comp-title" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="h4 modal-title text-xs-center fw-bold mt" id="edit-comp-title">Edit Company</h3>
      </div>
      <div class="modal-body">
        <form id="editcompany-form" class="form-horizontal" role="form" data-parsley-priority-enabled="false" novalidate="novalidate"
          data-parsley-validate data-parsley-focus="first">
          <div class="row">
            <div class="col-lg-12 col-xs-12">
              <section class="widget" style="margin-bottom: 10px;">
                <div class="widget-body clearfix">
                    <div class="form-group row">
                      <label for="company-name" class="col-md-4 form-control-label text-md-right">
                                    Company Name
                                    <span class="help-block">Required field</span>
                                </label>
                      <div class="col-md-4 col-xs-12">
                        <input type="text" id="company-name" placeholder="Company Name" name ="company-name" [(ngModel)]="company.legalName" 
                        title="Company Name" class="form-control" required="required"
                        data-parsley-required-message="Error: Company Name is required">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="ein-number" class="col-md-4 form-control-label text-md-right">
                                    EIN
                                    <span class="help-block">Required field</span>
                                </label>
                      <div class="col-md-4 col-xs-12">
                        <input type="text" id="ein-number" [textMask]="{mask: einmask, guide:false}" placeholder="EIN" name="ein-number" class="form-control" placeholder="9 digits" [(ngModel)]="company.einNumber"
                        title="EIN Number" minlength="9" maxlength="9"
                          required="required" data-parsley-error-message="Error: EIN requires appropriate format (e.g. 123456789)">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="cmp-status" class="col-md-4 form-control-label text-md-right">
                                    Company Status
                                    <span class="help-block">Required field</span>
                                </label>
                      <div class="col-md-4 col-xs-12">
                        <select id="cmp-status" class="form-control" [(ngModel)]="company.companyStatus" title="Company Status"
                         name="company-status" [ngModelOptions]="{standalone: true}">
                          <option [selected]="product === company.companyStatus" *ngFor="let product of ['ACTV','INAC']" [value]="product">
                            {{product | companyStatusPipe}}
                          </option>
                        </select>
                      </div>
                    </div>
                </div>
              </section>
            </div>
          </div>
        </form>
      </div>
			<div aria-live="assertive">       
        <div role="alert" *ngIf="showErrorFlag" class="row">
              <div class="col-lg-12 col-xs-12">
                  <div class="form-group row">
                      <div class="col-md-12 col-xs-12">
                          <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'">
                              <div [innerHTML]="alert.msg"></div>
                          </alert>
                      </div>
                  </div>
              </div>
          </div>
			</div>
      <div class="modal-footer">
        <button type="button" id="upd-cmp" class="btn btn-primary" (click)="updateCompany(company)" >Save Company</button>
        <button type="button" class="btn btn-secondary" (click)="reset(false)">Cancel</button>
      </div>
    </div>
  </div>
</div>