<div class="modal fade" id="edit-address" tabindex="-1" role="dialog"  aria-labelledby="edit-address-title" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<!--Modal Header-->
			<div class="modal-header">
				<h3 class="h4 modal-title text-xs-center fw-bold mt" id="edit-address-title">Edit Company Address</h3>
			</div>
			<!--Modal Body-->
			<div class="modal-body">
				<form id="editaddressform" #editaddressform="ngForm" role="form" class="form-horizontal" data-parsley-priority-enabled="false"
					novalidate="novalidate" data-parsley-validate data-parsley-focus="first">
					<!--Attention-->
					<div class="form-group row">
						<label for="attention" class="col-md-4 form-control-label text-md-right">Attention</label>
						<div class="col-md-8 col-xs-12">
							<input type="text" class="form-control textuppercase" maxlength="40" id="attention" [(ngModel)]="address.attention" title="Attention"
							 [ngModelOptions]="{standalone: true}">
						</div>
					</div>
					<!--Street Address-->
					<div class="form-group row">
						<label for="street-address" class="col-md-4 form-control-label text-md-right">Street Address
                		</label>
						<div class="col-md-8 col-xs-12">
							<input type="text" class="form-control textuppercase"  maxlength="60" id="street-address" [(ngModel)]="address.streetAddress" title="Street Address"
							 [ngModelOptions]="{standalone: true}">
						</div>
					</div>
					<!--Suite -->
					<div class="form-group row">
						<label for="suite" class="col-md-4 form-control-label text-md-right">Suite
                		</label>

						<div class="col-md-8 col-xs-12">
							<input type="text" class="form-control textuppercase"  maxlength="20" id="suite" [(ngModel)]="address.suite" title="Suite"
							 [ngModelOptions]="{standalone: true}">
						</div>
					</div>
					<!--City -->
					<div class="form-group row">
						<label for="city" class="col-md-4 form-control-label text-md-right">City
                		</label>

						<div class="col-md-8 col-xs-12">
							<input type="text" class="form-control textuppercase"  maxlength="40" id="city" [(ngModel)]="address.city" title="City"
							 [ngModelOptions]="{standalone: true}"> 
							<!--data-parsley-pattern="^[A-Za-z .]+"-->
						</div>
					</div>
					<!--State-->
					<div *ngIf='address.countryNm==="UNITED STATES"' class="form-group row">
						<label for="state" class="col-md-4 form-control-label text-md-right">State</label>
						<div class="col-md-8 col-xs-12">
							<select class="form-control" id="state" [(ngModel)]="address.state" title="Select State"
							 [ngModelOptions]="{standalone: true}">
								<option *ngFor="let product of stateList" [value]="product">
									{{product}}
								</option>
							</select>
						</div>
					</div>
					<!--Province -->
					<div *ngIf='address.countryNm!="UNITED STATES"' class="form-group row">
						<label for="province" class="col-md-4 form-control-label text-md-right">State/Province</label>
						<div class="col-md-8 col-xs-12">
							<input type="text" class="form-control"  maxlength="20" id="province" [(ngModel)]="address.province" title="Foreign State or Province"
							 [ngModelOptions]="{standalone: true}"> 
							<!--data-parsley-pattern="^[A-Za-z .]+"-->
						</div>
					</div>
					<!--Zip Code-->
					<div class="form-group row">
						<label for="postalCode" class="col-md-4 form-control-label text-md-right">Postal Code</label>
						<div class="col-md-8 col-xs-12">
							<input type="text" class="form-control textuppercase" id="postalCode" maxlength="10" [(ngModel)]="address.postalCd" title="Postal Code"
							 minlength="5" maxlength="10" [ngModelOptions]="{standalone: true}">
					<!--data-parsley-pattern="^[0-9]+" -->
						</div>
					</div>
					<!--Country-->
					<div class="form-group row">
						<label for="country" class="col-md-4 form-control-label text-md-right">Country</label>
						<div class="col-md-8 col-xs-12">
							<select class="form-control" id="country" [(ngModel)]="address.countryNm" title="Country Name" [ngModelOptions]="{standalone: true}">
								<option *ngFor="let product of countryList" [value]="product">
									{{product}}
								</option>
							</select>
						</div>
					</div>
				</form>
			</div>
			<!--Modal Footer-->
			<div class="modal-footer">
				<button type="button" id="btn-save-addr" class="btn btn-primary" (click)="updateAddress(address)">Save Address</button>
				<button type="button" class="btn btn-secondary" (click)="reset(false)">Cancel</button>
			</div>
		</div> 
		<!--modal-content-->
	</div>
	<!--modal-dialog-->
</div>
<!--modal-->