<!--Company and Permit Comments Section-->
<div class="row">
    <div class="col-lg-12">
        <section class="widget h-divider" style="word-break: break-all;">
            <div class="widget-body clearfix">
                <!--- Collapsible Panel -->
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle-main h4 no-margin fw-normal" [ngClass]="showSelectPermit ? 'collapsed' : ''"
                                data-toggle="collapse" aria-expanded="false"
                                    data-parent="#accordion" aria-controls="collapse1"
                                    href="#collapse1">
                                    Exclude Permit from Market Share
                                </a>
                            </h4>
                        </div>
                        <div id="collapse1" [ngClass]="showSelectPermit ? 'collapse' : 'collapse show'">
                            <br />
                            <div class="panel-body">
                                    <div *ngIf="isPermitValidForExclude" class="col-xs-12 col-md-8 col-lg-10 alert alert-danger alert-sm">
                                            <span class="fa fa-exclamation-triangle"></span>
                                            <span class="no-margin fw-normal alert-text" style="margin-bottom:10px;margin-left: 5px">
                                                <strong style="margin-bottom:10px">ACTION REQUIRED:</strong>
                                                <ul>
                                                    <li *ngIf="isPermitValidForExclude>0">  {{permitExcludeInvalidMessage}}
                                                    </li>
                                                    
                                                </ul>
                                            </span>
                                        </div>
                                <form>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="Permit Number" clas="form-control-label col-form-label"
                                                style="margin-right:20px">Select Permit Number</label>
                                            <div style="display: inline-block">
                                                <select class="form-control" style="display: inline-block;" id="permit"
                                                    (change)="filterSelectionChanged($event.target.value)"
                                                    title="Select Permit">
                                                    <option *ngIf="showSelectPermit" [value]="None">
                                                        Select Permit
                                                    </option>
                                                    <option *ngFor="let permit of permitSet" [value]="permit.permitId" [selected]="permit.permitId==globalPermitId || (permit.permitExcluded  && permit.permitId==globalPermitId)">
                                                        {{permit.permitNum | permitNumberPipe}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col text-right">
                                            <label for="custom-exclude" class="form-control-label switch"
                                                style="white-space: nowrap">
                                                <input type="checkbox" title="Exclude" [(ngModel)]="excludeFlagChanged"
                                                    (ngModelChange)="trackChanges($event)"
                                                    [ngModelOptions]="{standalone: true}" class="ios" checked
                                                    id="custom-exclude">
                                                <i></i>
                                                Enable Custom Exclude
                                            </label>
                                        </div>
                                    </div>
                                </form>

                                <form *ngIf="customExclude == 'OFF'" id="fullexclusionform"
                                    data-parsley-priority-enabled="false" data-parsley-validate
                                    data-parsley-focus="first">
                                    <div class="form-group row">
                                        <div class="col-lg-5 col-md-4 offset-lg-1 offset-md-2">
                                            <label for="year" class="form-control-label col-form-label"
                                                style="margin-right:20px">Enter Assessment FY</label>
                                            <div style="display: inline-block">
                                                <input [ngModelOptions]="{standalone: true}"
                                                    (ngModelChange)="yearChanged($event)" [(ngModel)]='fiscalYear'
                                                    data-parsley-year
                                                    data-parsley-error-message="Error: Assessment Year is required"
                                                    data-parsley-type="number" min="1000" max='9999' placeholder="YYYY"
                                                    type="number" onKeyPress="if(this.value.length==4) return false;"
                                                    required aria-describedby="errYear" id="year" name="FullExcludeYear"
                                                    placeholder="YYYY" title="Fiscal Year" type="text"
                                                    #FullExcludeYear="ngModel" class="form-control"
                                                    style="display: inline-block;">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <label for="qtrs" class="form-control-label col-form-label"
                                                style="margin-right: 20px;">Select Assessment quarter(s) to be
                                                Excluded</label>
                                            <span class="btn-toolbar" style="display: inline-block">
                                                <toggle-button-tufa [id]="'mainqtr1'" [flag]="mainqtr1flag"
                                                    title="quarter 1" [lables]="['Q1']"
                                                    (flagChange)="maincheckboxSelected($event,1)">
                                                </toggle-button-tufa>
                                                <toggle-button-tufa [id]="'mainqtr2'" [flag]="mainqtr2flag"
                                                    title="quarter 2" [lables]="['Q2']"
                                                    (flagChange)="maincheckboxSelected($event,2)">
                                                </toggle-button-tufa>
                                                <toggle-button-tufa [id]="'mainqtr3'" [flag]="mainqtr3flag"
                                                    title="quarter 3" [lables]="['Q3']"
                                                    (flagChange)="maincheckboxSelected($event,3)">
                                                </toggle-button-tufa>
                                                <toggle-button-tufa [id]="'mainqtr4'" [flag]="mainqtr4flag"
                                                    title="quarter 4" [lables]="['Q4']"
                                                    (flagChange)="maincheckboxSelected($event,4)">
                                                </toggle-button-tufa>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                                <form id="partialexclusionform" *ngIf="customExclude == 'ON'">
                                    <div class="form-group row"
                                        *ngFor="let permitExclude of permitExcludeModel; let i = index; let last = last;">
                                        <div class="col-md-2 text-right-md">
                                            <button *ngIf="i == 0 && customExclude == 'ON' " type="button"
                                                (click)="addPermitExclude()"
                                                class="btn btn-outline-primary btnsmallmargin"
                                                style="white-space: nowrap;">
                                                <span class="fa fa-plus txt-gap" aria-hidden="true"></span>Add</button>
                                        </div>
                                        <div class="col-md-4">
                                            <label style="margin-right:20px" class="form-control-label col-form-label"
                                                for="year">Enter Assessment FY</label>
                                            <div style="display: inline-block">
                                                <input [id]="'fy-'+ i" [ngModelOptions]="{standalone: true}"
                                                    [(ngModel)]='permitExclude.fiscalYear' name="Year"
                                                    (ngModelChange)="partialYearChanged($event,i)"
                                                    placeholder="Enter FY" data-parsley-year
                                                    data-parsley-error-message="Error: Assessment Year is required"
                                                    data-parsley-type="number" min="1000" max='9999' placeholder="YYYY"
                                                    type="number" onKeyPress="if(this.value.length==4) return false;"
                                                    required title="Permit Exclude" type="text" class="form-control"
                                                    style="display: inline-block;">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label style="margin-right:20px;" for="qtrs" class="col-form-label">Select
                                                Assessment quarter(s) to be Excluded</label>
                                            <div class="btn-toolbar" style="display: inline-block">
                                                <toggle-button-tufa [id]="'qtr1-'+ i" [lables]="['Q1']"
                                                    (flagChange)="checkboxSelected($event,1, i)">
                                                </toggle-button-tufa>
                                                <toggle-button-tufa [id]="'qtr2-'+ i" [lables]="['Q2']"
                                                    (flagChange)="checkboxSelected($event,2, i)">
                                                </toggle-button-tufa>
                                                <toggle-button-tufa [id]="'qtr3-'+ i" [lables]="['Q3']"
                                                    (flagChange)="checkboxSelected($event,3, i)">
                                                </toggle-button-tufa>
                                                <toggle-button-tufa [id]="'qtr4-'+ i" [lables]="['Q4']"
                                                    (flagChange)="checkboxSelected($event,4, i)">
                                                </toggle-button-tufa>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <br />
                                <div style="overflow-x: auto;">
                                    <div *ngIf="isExclusionAffected || isInclusionAffected || isPermitAffected || isOverRideExclude || isExcludeExists"
                                        class="alert alert-warning col-lg-6" style="text-align: left">
                                        <span class="no-margin fw-normal alert-text">
                                            <ul> <span><strong>Warning:</strong>
                                                    <li *ngIf="isExclusionAffected">Excluding a permit
                                                        will affect assessments that may already be completed.</li>
                                                    <li *ngIf="isInclusionAffected">Including a permit will affect
                                                        assessments that may already be completed.</li>
                                                    <li *ngIf="isPermitAffected">This action may
                                                        impact other permit(s) for this company</li>
                                                    <li *ngIf="isExcludeExists">An Exclude already
                                                        exists for the selected
                                                        date(s).</li>
                                                    <li *ngIf="isOverRideExclude">Saving this exclude will override a previously set Exclude.</li>
                                                </span>
                                            </ul>
                                        </span>
                                    </div>
                                    <table [ngBusy]="{busy: busy, message: 'Loading...', backdrop: false}"
                                        class="table table-hover custom" [mfData]="data" #mf="mfDataTable"
                                        [mfIsServerPagination]="false" [mfRowsOnPage]="5" [mfActivePage]="1"
                                        style="overflow-wrap: break-word; border-collapse: separate; border-spacing: 0px;">
                                        <colgroup>
                                            <col style="width:30%">
                                            <col style="width:20%">
                                            <col style="width:20%">
                                            <col style="width:20%">
                                            <col style="width:10%">
                                        </colgroup>
                                        <thead class="topBorder">
                                            <tr>
                                                <th class="descWidth" scope="col" id="h-ass-period">
                                                    <mfDefaultSorter by="assessmentPeriod">Assessment Period
                                                    </mfDefaultSorter>
                                                </th>
                                                <th class="authorWidth" scope="col" id="h-date-changed">
                                                    <mfDefaultSorter by="datecreated" title="date changed">Date Changed
                                                    </mfDefaultSorter>
                                                </th>
                                                <th class="dateWidth" scope="col" id="h-user">
                                                    <mfDefaultSorter by="user" title="user">User</mfDefaultSorter>
                                                </th>
                                                <th class="dateWidth" scope="col" id="h-status">
                                                    <mfDefaultSorter by="status" title="status">Status
                                                    </mfDefaultSorter>
                                                </th>
                                                <!-- New Checkbox -->
                                                <th class="checkWidth" scope="col" id="h-comm-checkbox"
                                                    style="white-space: nowrap;">Include</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr [style.color]="(i.checked || auditdata.status =='INCLUDED')  ? '#d3d3d3':'' "
                                                *ngFor="let auditdata of mf.data; let i = index">
                                                <td>{{auditdata.assessmentPeriod}}</td>
                                                <td>{{auditdata.datecreated}}</td>
                                                <td>{{auditdata.user}}</td>
                                                <td>{{auditdata.status}}</td>
                                                <td>
                                                    <label class="custom-control custom-checkbox">
                                                        <input #i type="checkbox"
                                                            [disabled]="auditdata.status =='INCLUDED'"
                                                            [checked]="auditdata.status =='INCLUDED' "
                                                            class="custom-control-input"
                                                            (click)="includePermit($event,auditdata);">
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-label"></span>
                                                    </label>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="12">
                                                    <mfBootstrapPaginator [rowsOnPageSet]="[5, 10, 25]">
                                                    </mfBootstrapPaginator>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div comments-grid-company [comments]="comments" [handleSave]="false"
                                    [showAttachments]="true" [(commentArea)]="this.excludeComment"></div>
                                <br />
                                <div class="row">
                                    <div class="col-md-2 offset-md-10 text-right-md">
                                        <button [disabled]="isDisabled()" *ngIf="customExclude == 'OFF'"
                                            class="btn btn-primary btn-block" (click)="saveexclude()"
                                            title="Save Permit Information" type="button"> Save
                                        </button>

                                        <button [disabled]="isDisabledforPartial()" *ngIf="customExclude == 'ON'"
                                            class="btn btn-primary btn-block" (click)="saveexclude()"
                                            title="Save Permit Information" type="button"> Save
                                        </button>
                                        
                                    </div>
                                    <div class="col-md-10 offset-md-2 text-right-md">
                                        <label class="col-form-label">Note: A comment must be added to save exclude</label>
                                    </div >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>