.disabled {
  cursor: not-allowed;
  pointer-events: none;
}


.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
  color:white;
  background-color: #17529F;
  border-color: #5d8fc2;
  font-size: 18px;
}