<h1 class="h1 page-title">Daily Operations</h1>
<div data-ng-controller="AssessReportController">
    <!--Search box widget-->
	<div class="row">
        <div class="col-lg-9">        
            <section class="widget h-divider" widget>  
                <div class="widget-body">   
                    <form role="form">  
                        <div class="row">                                          
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="keyword-search-input">Keyword</label>
                                    <div class="input-group input-group-transparent input-group-rounded">
                                        <span class="input-group-text">
                                            <i class="fa fa-search"></i>
                                        </span>                                            
                                        <input type="text" id="keyword-search-input" class="form-control" [(ngModel)]="keywordSearch"
                                                name="keywordSearch" (keyup.enter)="onClickSearch(keywordSearch)" 
                                                aria-label="Enter keyword for search"
                                                placeholder="Begin a search to see results"
                                                title="Begin a search to see results">                                     
                                    </div>
                                </div>    
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="search-type">Type</label>
                                    <div class="input-group">
                                        <select id="search-type" [ngModel]="selectedSearchType" title="Type" (ngModelChange)="onChangeSearchType($event)" name="selSearchType" class="form-control fdatable">
                                            <option *ngFor="let searchType of searchTypeList" [value]="searchType">
                                            {{searchType}}
                                            </option>
                                        </select>                                           
                                    </div>
                                </div>                                                                    
                            </div>                                
                        </div>
                        <div class="row">                                          
                            <div class="col-lg-5 col-md-5 col-sm-12">
                                <div *ngIf = "(selectedSearchType == 'COMPANY')" class="form-group">
                                    <label for="search-status">Status</label>
                                    <div class="input-group">
                                        <select id="search-status" [ngModel]="selectedSearchStatus" title="Company Status" (ngModelChange)="onChangeSearchStatus($event)" name="selSearchStatus" class="form-control fdatable">
                                            <option *ngFor="let searchStatus of searchStatusList" [value]="searchStatus">
                                            {{searchStatus}}
                                            </option>
                                        </select>  
                                    </div>
                                </div>                                                                    
                            </div>  
                            <div class="col-lg-4 col-md-3 col-sm-12">
                            </div>                                 
                            <div class="col-lg-3 col-md-4 col-sm-12 pull-right pull-right">                                   
                                <div style="margin-top:20px;" class="form-group">                                
                                    <button id="search_btn" type="submit" class="btn btn-primary btn-block" (click)="onClickSearch(keywordSearch)" title="Search">
                                        Search
                                    </button>
                                </div>                                                                    
                            </div>                                                                                              
                        </div>                                                       
                    </form>
                </div>
            </section>  
            <!--DataTable Grid that displays search results - Company or Report-->
            <section class="widget h-divider" widget>
                <div [ngBusy]="busy" class="widget-body">
                    <!-- <div class="row">    
                        <div class="col-lg-8 col-md-8 col-sm-8">                        
                        </div>                                                              
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <button id="btn_download" type="submit" class="btn btn-primary btn-block" (click)="onClickDownloadData()" title="Download Data">
                                Download
                            </button>                            
                        </div>
                    </div>                     -->
                    <div search-permit-results *ngIf = "(selectedSearchType == 'REPORT')" [permitResults]="reportData" [pagemode]="pagemode" [itemsTotal]="permitItemsTotal" (sortPermitResults)="onSortPermitResults($event)" class="mt"></div>                    
                    <div search-company-results *ngIf = "(selectedSearchType == 'COMPANY')" [companyResults]="companyData" class="mt"></div>
                </div>
            </section>            
        </div>  
        <div class="col-lg-3">        
            <section class="widget" widget>        
                <div class="col-md-12 h-thin-divider" style="margin-bottom:10px;">
                    <p><strong>Unable to locate a Company?</strong></p>
                    <p>Requires the Company Name, EIN and at least 1 valid TTB Permit</p>
                    <button id="create-company" type="button" class="btn btn-primary btn-block" (click)="gotoCreateCompany()" title="Create Company">
                        Create Company
                    </button>
                </div>
                <div class="col-md-12 h-thin-divider" style="margin-bottom:10px;">
                    <p><strong>Unable to locate a monthly report?</strong></p>
                    <p>Requires the month and Fiscal Year</p>                    
                    <button id="create-monthly" type="button" class="btn btn-primary btn-block" (click)="gotoCreateMonthlyReports()" title="Create Monthly Reports">
                        Create Monthly Reports
                    </button>     
                </div>
                <div class="col-md-12 h-thin-divider" style="margin-bottom:10px;">
                    <p><strong>Unable to locate a Permit?</strong></p>       
                    <p>Navigate to the Company Details Page to create a permit</p>                                 
                </div>                
            </section>  
            <!--Show this Report Filter only after Search is executed-->
            <section *ngIf = "(showReportFilter == true)" class="widget" widget>        
                <div class="col-md-12 h-thin-divider" style="margin-bottom:10px;">
                    <p><strong>Filter By:</strong></p>
                    <!--Report Status--> 
                    <fieldset>
                        <legend>REPORT STATUS</legend>                         
                        <div *ngFor="let reportStatusOption of reportStatusOptions; let i=index" class="checkbox" id="fil-rst">
                            <input type="checkbox" 
                                id="chkrpt_{{i}}" 
                                name="reportStatusOptions"
                                value="{{reportStatusOption.value}}"
                                [attr.title]="reportStatusOption.name"
                                [checked]="reportStatusOptionsMap[reportStatusOption.value]"
                                (change)="updateCheckedReportStatusOptions(reportStatusOption.value, $event)"                            
                            />
                            <label attr.for="chkrpt_{{i}}" class="inputLabel">{{reportStatusOption.name}}</label>
                        </div>
                    </fieldset>
                    <!--Fiscal Year                               -->
  
                    <!--<div *ngFor="let yi of yearOptions;" id="fil-yr-p">  -->
                    <fieldset>
                        <legend style="margin-top:10px;">FISCAL YEAR</legend>                           
                        <div *ngFor="let yearOption of yearOptions | slice:0:showMoreLimit; let i = index" class="checkbox" id="fil-yr">
                            <input type="checkbox"
                                id="chkyr_{{i}}" 
                                name="yearOptions"                         
                                value="{{yearOption}}" 
                                [attr.title]="yearOption"
                                [checked]="isYearChecked(yearOption)"
                                (change)="onChangeYearSelection(yearOption, $event)"                             
                            />
                            <label attr.for="chkyr_{{i}}" class="inputLabel">{{yearOption}}</label>
                        </div> 
                    </fieldset> 
                    <button *ngIf="showMoreLimit < yearOptions?.length" title="Show more years" class="btn-link" (click)="showMoreLimit = showMoreLimit + 5">Show More...</button>
                    <!--</div>   -->
                    <!--Month                               -->
                    <fieldset>
                    <legend style="margin-top:10px;">MONTH</legend>                     
                    <table>
                        <tr *ngFor="let i of monthrows">
                            <td *ngFor="let monthOption of monthOptions | slice:(i*3):(i+1)*3">
                                <input type="checkbox" 
                                    id="chkmon_{{monthOption.value}}" 
                                    name="monthOptions"
                                    value="{{monthOption.value}}"
                                    [attr.title]="monthOption.value"
                                    [checked]="monthOptionsMap[monthOption.value]"
                                    (change)="updateCheckedMonthOptions(monthOption.value, $event)"                            
                                />
                                <label attr.for="chkmon_{{monthOption.value}}" style="margin-right:10px;" class="inputLabel">{{monthOption.name}}</label>
                            </td>
                        </tr>
                    </table>
                    </fieldset>                    
                </div>             
            </section>             
        </div>             
	</div>
	<div aria-live="assertive">     
        <div role="alert" *ngIf="showErrorFlag" class="row">
            <div class="col-lg-offset-1 col-lg-6 col-xs-12">
                <div class="form-group row">
                    <div class="col-md-12 col-xs-12">
                        <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'">
                            <div [innerHTML]="alert.msg"></div>
                        </alert>
                    </div>
                </div>
            </div>
        </div>  
	</div>  
</div>
