<table 
        [ngBusy]="{busy: busy, message: 'Loading...', backdrop: true}" 
        class="table table-hover" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="15" [mfIsServerPagination]="false"
        [(mfSortBy)]="sortCompanyResultsBy" [(mfSortOrder)]="sortCompanyResultsOrder" [(mfActivePage)]="pageNumCompanyResults"
        [mfStoreState]="true" [mfNavigateUrls]="'/company/;/permit/;/admin/'"
        summary = "Search Company Results"        
        >
    <colgroup>
    <col style="width:30%">
    <col style="width:15%">    
    <col style="width:35%">
    <col style="width:20%">                   
    </colgroup>        
    <thead>
        <tr>
            <th scope="col" id="h-cmp_name">
                <mfDefaultSorter by="companyName" title="Company Name">Company Name</mfDefaultSorter>
            </th>
            <th scope="col" id="h-cmp_ein">
                <mfDefaultSorter by="companyEIN" title="Company EIN">EIN</mfDefaultSorter>
            </th>            
            <th scope="col" class="hidden-sm-down" id="h-act-pmt">
                <mfDefaultSorter by="permits" title="Active Permits">Active TTB Permit(s)</mfDefaultSorter>
            </th>
            <th scope="col" class="hidden-sm-down" id="h-cmp-sta">
                <mfDefaultSorter by="companyStatus" title="Company Status">Company Status</mfDefaultSorter>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let company of mf.data;let i= index">
            <td class="fw-semi-bold blue"><a [routerLink]="['/app/company/details', company.companyId]" (aClick)="savePreferences()" >{{company.companyName}}</a></td>
            <td cclass="hidden-sm-down">{{company.companyEIN | einPipe}}</td>            
            <td class="hidden-sm-down permit-num-list">
				<span *ngFor="let permitNum of company.permits?.split(','); let last = last">{{permitNum | permitsCSVPipe}}<span *ngIf="!last">,</span></span>
			</td>
            <td class="hidden-sm-down">{{company.companyStatus | companyStatusPipe}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="12">
                <mfBootstrapPaginator [rowsOnPageSet]="[15, 25, 50]"></mfBootstrapPaginator>
            </td>
        </tr>
    </tfoot>
</table>