<table 
        [ngBusy]="{busy: busy, message: 'Loading...', backdrop: true}" 
        class="table table-hover" [mfData]="data | reportpipe : filterOptions" #mf="mfDataTable" [mfRowsOnPage]="pgAttrs.pageSize"
        [(mfActivePage)]="pgAttrs.activePage"
        [(mfAmountOfRows)]="pgAttrs.itemsTotal"  [mfIsServerPagination]="true" (mfOnPageChange)="onPageChange($event)"  
        (mfSortOrderChange)="onSortOrder($event)" 
        (mfSortByChange)="onSortBy($event)" summary = "Search Permit Results"
        >
    <colgroup>
    <col style="width:15%">
    <col style="width:30%">    
    <col style="width:15%">
    <col style="width:20%">     
    <col style="width:20%">                    
    </colgroup>          
    <thead>
        <tr>
            <th scope="col" id="h-pmt-no">
                <mfDefaultSorter by="permitNum">TTB Permit</mfDefaultSorter>
            </th>
            <th scope="col" class="hidden-sm-down" id="h-cmp-nam">
                <mfDefaultSorter by="companyName">Company Name</mfDefaultSorter>
            </th>
            <th scope="col" class="hidden-sm-down" id="h-cmp-ein">
                <mfDefaultSorter by="companyEIN">EIN</mfDefaultSorter>
            </th>            
            <th scope="col" class="hidden-sm-down" id="h-pd-act">
                <mfDefaultSorter by="sortMonthYear">Period of Activity</mfDefaultSorter>
            </th>
            <th scope="col" class="hidden-sm-down"  id="h-rpt-sta">
                <mfDefaultSorter by="reportStatusCd">Report Status</mfDefaultSorter>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let history of mf.data; let i=index;">
            <td><span class="fw-semi-bold blue"><a [routerLink]="['/app/permit/history', history.permitId]" (aClick)="savePreferences();toPermitHistory()" >{{history.permitNum | permitNumberPipe}}</a></span></td>
            <td class="fw-semi-bold blue"><a [routerLink]="['/app/company/details', history.companyId]" (aClick)="savePreferences();toCompanyDetail();" >{{history.companyName}}</a></td>
            <td class="fw-semi-bold">{{history.companyEIN | einPipe}}</td>            
            <td class="fw-semi-bold blue"><a [routerLink]="['/app/permit', history.permitTypeCd === 'Manufacturer'?'manreport':'impreport']" 
                (aClick)="toPeriodofActivity(history)" >{{history.displayMonthYear}}</a></td>
            <td class="fw-semi-bold">{{history.reportStatusCd | reportStatusPipe}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="12">
                <mfBootstrapPaginator [rowsOnPageSet]="[15, 25, 50]"></mfBootstrapPaginator>
            </td>
        </tr>
    </tfoot>
</table>