<div [ngBusy]="{busy: busy, message: 'Retrieving latest Status For Deltas..', backdrop: true}" class="btn-toolbar">
  
  <button type="button" *ngIf="isDisplayAssociation()"
    [disabled]="oneSidedAcceptanceFlag == 'ExcludedÂ X' || oneSidedAcceptanceFlag == 'DisableAllDeltaActions' || quarterDeltaForOnesidedMap?.get(panelQtr)?.totalDelta == '0.0' "
    id="btn-association-{{panelQtr}}" class="btn btn-primary" (click)="displayAssociationDialog()">
    <i style="margin-right:10px;"></i>Association</button>
  <button type="button"
    [disabled]="oneSidedAcceptanceFlag == 'Excluded' || oneSidedAcceptanceFlag == 'DisableAllDeltaActions' || oneSidedAcceptanceFlag == 'Excluded X' || oneSidedAcceptanceFlag == 'Associated' || (quarterDeltaForOnesidedMap?.get(panelQtr)?.totalDelta == '0.0')"
    id="btn-exclude-{{panelQtr}}" class="btn btn-primary" (click)="displayExcludeDialog()">
    <i style="margin-right:10px;"></i>Exclude</button>
  <button type="button" id="btn-ms-ready-{{panelQtr}}" class="btn btn-primary"
    [disabled]="!isMSReadyManu(oneSidedAcceptanceFlag) || oneSidedAcceptanceFlag == 'DisableAllDeltaActions' || oneSidedAcceptanceFlag == 'Excluded X' || oneSidedAcceptanceFlag == 'Associated' || (quarterDeltaForOnesidedMap?.get(panelQtr)?.totalDelta == '0.0')"
    (click)="displayMSReadyDialog()">
    <i style=" margin-right:10px;"></i>Market Share Ready</button>
  <button type="button"
    [disabled]="oneSidedAcceptanceFlag == 'In Progress' || oneSidedAcceptanceFlag == 'DisableAllDeltaActions' || oneSidedAcceptanceFlag == 'Excluded X' || (quarterDeltaForOnesidedMap?.get(panelQtr)?.totalDelta == '0.0')"
    id="btn-association-iprg-{{panelQtr}}"
    [ngBusy]="{busy: saveDeltaBusy, message: 'Saving delta(s)...', backdrop: true}" class="btn btn-primary"
    (click)="inProgressAction()">
    <i style="margin-right:10px;"></i>In Progress</button>
  <button type="button" id="btn-continue-{{panelQtr}}" class="btn btn-primary"  (click)="continueclicked()">
    <i style="margin-right:10px;"></i>Continue</button>
</div>


<div class="modal fade" id="at-cbp-alldeltas-dialog-{{panelQtr}}" tabindex="-1" role="dialog"
  aria-label="delta-action-type" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" [ngBusy]="{busy: saveDeltaBusy, message: 'Saving delta(s)...', backdrop: true}">
        <div title="title" class="h4 modal-title text-xs-center fw-bold mt">{{popupHeaderString}}</div>
      </div>
      <!--Modal Body-->
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12 col-xs-12">
            <section class="widget" style="margin-bottom: 10px;">
              <div aria-live="assertive" class="widget-body clearfix">

                <!-- Company Details -->
                <div class="row company-details">
                  <ul class="list-unstyled offset-md-2  col-md-10 ">
                    <li>
                      <b>Company Name:</b> {{deltaDetails?.legalName}}</li>
                    <ng-container *ngIf="isValidString(originalName)">
                      <li>
                        <b>Original Name:</b> {{deltaDetails?.originalName}}</li>
                    </ng-container>
                    <li>
                      <b>Tobacco Class:</b> {{tobaccoClass | removeHyphen}}</li>
                    <li>
                      <b>Period:</b> Quarter {{quarter}}</li>

                    <li *ngIf="delta !== 'Review' && totalDelta !='NA'">
                      <b>Delta:</b> {{totalDelta| currency:'USD':'symbol':'1.2-2' | minustoparens}}
                    </li>
                    <li *ngIf="totalDelta =='NA'">
                      <b>Delta:</b> NA
                    </li>
                    <li *ngIf="(actionType === 'Market Share Ready' && isCigarCigarrettesManu() && this.compoundTTTaxesVolume.length == 0 )">
                      <b>Volume:</b> N/A
                    </li>

                    <!-- <li *ngIf="delta === 'Review'">
                      <b>Delta:</b> Review </li> -->

                    <!-- <li *ngIf="delta === 'Review' && actionType !=='Reset' && actionType !=='Select Type' && tobaccoClass !=='Cigars'">
                      <b>Tax Rate </b>: {{ tufaTaxRate}} </li> -->

                    <!-- <li *ngIf="delta === 'Review' && actionType !=='Reset' && actionType !=='Select Type' && tobaccoClass !=='Cigars'">
                      <b>Calculated Tax:</b> {{ tufaTaxRate * cbpDetailVolume | currency:'USD':'symbol':'1.2-2'}} </li> -->

                    <!-- <li *ngIf="delta === 'Review' && actionType !=='Reset' && actionType !=='Select Type'">
                      <b>Details File Volume:</b> {{cbpDetailVolume | number}} {{unitMeasurement}} </li> -->
                  </ul>
                  
                  <div class="col-md-12" *ngIf="delta !== 'Review'">
                    <a [ngBusy]="exportbusy" *ngIf="dataType === 'INGESTED' && permitType === 'Importer'"
                      class="fw-semi-bold pull-right" (aClick)="exportRawdataforImp()"
                      href="javascript:void(0)">Download Raw Data</a>
                  </div>

                  <table class="table table-hover"
                    *ngIf="delta === 'Review' && actionType !=='Reset' &&  actionType !=='Select Type'">
                    <thead>
                      <tr>
                        <th *ngIf="actionType === 'Market Share Ready'" title="Select">Select</th>
                        <th title="File Type">File Type</th>
                        <th title="Total Tax Amount">Total Tax Amount</th>
                        <th title="Details File Volume">Details File Volume</th>
                        <th title="Tax Rate">Tax Rate</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- <tr (click)="fileTypeSelected = 'Summary'; onFileTypeSelChanged('Summary')">
                        <td *ngIf="actionType === 'Market Share Ready'">
                          <div>
                            <input id="rd-summary" title="Summary" name="optradio" type="radio" value="Summary" [(ngModel)]="fileTypeSelected"
                             (ngModelChange)="onFileTypeSelChanged($event)">
                          </div>
                        </td>
                        <td>Summary File</td>
                        <td>{{cbpSummTaxAmount | currency:'USD':'symbol':'1.2-2' | minustoparens}}</td>
                        <td>{{cbpDetailVolume | number}} {{unitMeasurement}}</td>
                        <td>
                          {{cbpSummTaxAmount/cbpDetailVolume | number}}
                        </td>
                        <td (click)="$event.stopPropagation()">
                          Download Summary File
                          <i *ngIf="!downloadLoading" (click)="exportIngestedData('summary')" class="fa fa-arrow-circle-down"
                           aria-hidden="true" aria-label="Download Ingested Data" title="Download Summary Ingested Data"></i>
                          <div *ngIf="downloadLoading" class="spinner-border spinner-border-sm text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                        </td>
                      </tr> -->
                      <div></div>

                      <tr (click)="fileTypeSelected = 'Details'; onFileTypeSelChanged('Details')">
                        <td *ngIf="actionType === 'Market Share Ready'">
                          <div>
                            <input id="rd-details" title="Details" name="optradio" type="radio" value="Details"
                              [(ngModel)]="fileTypeSelected" (ngModelChange)="onFileTypeSelChanged($event)">
                          </div>
                        </td>
                        <td>Details File</td>
                        <td>{{cbpDetailTaxAmount | currency:'USD':'symbol':'1.2-2'| minustoparens}}</td>
                        <td>{{cbpDetailVolume | number}} {{unitMeasurement}}</td>
                        <td>
                          {{cbpDetailTaxAmount/cbpDetailVolume | number }}
                        </td>
                        <td (click)="$event.stopPropagation()">
                          <!-- Download Details File -->
                          <i *ngIf="!downloadDetailsLoading" (click)="exportIngestedData('details')"
                            class="fa fa-arrow-circle-down" aria-hidden="true" aria-label="Download Ingested Data"
                            title="Download Details Ingested Data"></i>
                          <div *ngIf="downloadDetailsLoading" class="spinner-border spinner-border-sm text-primary"
                            role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <br />

                </div>
                <div [ngBusy]="busy" *ngIf="hasCmpdIngestTTVol() 
                                          || (isCigarCigarrettesManu() && this.compoundTTTaxesVolume.length > 0)">
                  <div *ngFor="let ttbVolTx of compoundTTTaxesVolume; let i = index">
                    <div class="form-group row">
                      <label class="fw-bold offset-md-2  col-md-4 form-control-label text-md-left">
                        {{ ttbVolTx?.tobaccoClass }}
                      </label>
                    </div>
                    <div class="form-group row">
                      <label *ngIf="!hasNoVolumnData()  && !isCigarCigarrettesManu()" class=" offset-md-2  col-md-4 form-control-label text-md-left">
                        <b>Volume:</b> {{ttbVolTx?.pounds| number:'.0-6'}} lbs.
                      </label>
                      <label *ngIf="!hasNoVolumnData() && isCigarCigarrettesManu()" class=" offset-md-2  col-md-4 form-control-label text-md-left">
                        <b>Volume:</b> {{ttbVolTx?.pounds| number:'.0-6'}} sticks
                        </label>
                      <label *ngIf="hasNoVolumnData()" class=" offset-md-2  col-md-4 form-control-label text-md-left">
                        <b>Volume:</b> N/A
                      </label>
                      <!-- <label *ngIf="isCigarCigarrettesManu()" class=" col-md-6 form-control-label text-md-left">
                          <b>Ingested Tax:</b> {{totalDelta | abs | currency:'USD':'symbol':'1.2-2'| minustoparens}} 
                      </label> -->
                      <div *ngIf="!isCigarCigarrettesManu()" role="alert" class="col-md-5 col-xs-12 input-group">
                        <span class="input-group-text">$</span>
                        <input #amendTax type="text" id="compound-tt-{{i}}" [ngModel]="ttbVolTx.amendedTax"
                          [customDecimalFormatter]='2' customNumerics [valueChg]='amendTax.value'
                          (ngModelChange)="ttbVolTx.amendedTax=$event" title="{{ttbVolTx.tobaccoClass}}"
                          [ngModelOptions]="{standalone: true}" class="form-control" required="required"
                          (input)="inputValidator($event)" (focus)="storeCurrentValue($event)">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label *ngIf="!hasNoVolumnData() && !isCigarCigarrettesManu()" class=" offset-md-2  col-md-5 form-control-label text-md-left">
                        Calculated Tax: {{ ttbVolTx?.estimatedTax |currency:'USD':'symbol':'1.2-2'| minustoparens}}
                      </label>
                      <label *ngIf="hasNoVolumnData() && !isCigarCigarrettesManu()" class=" offset-md-2  col-md-5 form-control-label text-md-left">
                        Calculated Tax: N/A
                      </label>

                    </div>
                  </div>

                  <div>
                    <div class="form-group row">
                      <label *ngIf="!isCigarCigarrettesManu()" class=" fw-bold offset-md-2  col-md-4 form-control-label text-md-left">
                        Ingested Tax :
                      </label>
                      <label *ngIf="isCigarCigarrettesManu()" class=" fw-bold offset-md-2  col-md-4 form-control-label text-md-left">
                          Total Ingested Tax :
                        </label>
                      <label class=" col-md-6 form-control-label text-md-left">
                        {{totalDelta | abs | currency:'USD':'symbol':'1.2-2'| minustoparens }}
                      </label>

                    </div>

                    <div class="form-group row">
                      <label class=" fw-bold offset-md-2  col-md-4 form-control-label text-md-left">
                        Total Calculated Tax:
                      </label>
                      <label *ngIf="!hasNoVolumnData() && !isCigarManu()" class="col-md-6 form-control-label text-md-left">
                        {{(compoundTTTaxesVolume[0].estimatedTax+ compoundTTTaxesVolume[1]?.estimatedTax)|currency:'USD':'symbol':'1.2-2'| minustoparens}}

                      </label>
                      <label *ngIf="hasNoVolumnData() || isCigarManu()" class="col-md-6 form-control-label text-md-left">
                        N/A
                      </label>

                    </div>

                    <div class="form-group row">
                      <label class=" fw-bold offset-md-2  col-md-4 form-control-label text-md-left">
                        Tax Difference:
                      </label>
                      <label *ngIf="!isCigarManu()" class=" col-md-6 form-control-label text-md-left">
                        {{ ((totalDelta|abs) - (compoundTTTaxesVolume[0]?.estimatedTax+ compoundTTTaxesVolume[1]?.estimatedTax))|currency:'USD':'symbol':'1.2-2'|
                          minustoparens }}

                      </label>
                      <label *ngIf="isCigarManu()" class=" col-md-6 form-control-label text-md-left">
                          N/A
  
                        </label>
                    </div>

                  </div>

                </div>

                <div [ngBusy]="busy" *ngIf="hasNoCmpdIngestTTVol()">
                  <div  class="form-group row">
                    <label  class=" fw-bold offset-md-2  col-md-4 form-control-label text-md-left">
                      {{tobaccoClassNames[0]}}
                    </label>
                  </div>
                  <div class="form-group row">
                    <label class=" offset-md-2  col-md-4 form-control-label text-md-left">
                      Volume: N/A
                    </label>
                    <div  role="alert" class="col-md-5 col-xs-12 input-group">
                      <span class="input-group-text">$</span>
                      <input #amendTax1 type="text" id="compound-tt-1" [ngModel]="amendedTax1"
                        [customDecimalFormatter]='2' customNumerics [valueChg]='amendTax1.value'
                        (ngModelChange)="amendedTax1=$event" title="{{tobaccoClassNames[0]}}"
                        [ngModelOptions]="{standalone: true}" class="form-control" required="required"
                        (input)="inputValidator($event)" (focus)="storeCurrentValue($event)">
                    </div>
                  </div>
                  <div  class="form-group row">
                    <label class=" offset-md-2  col-md-5 form-control-label text-md-left">
                      Calculated Tax: N/A
                    </label>
                  </div>
                  <div  class="form-group row">
                    <label class="fw-bold offset-md-2  col-md-4 form-control-label text-md-left">
                      {{tobaccoClassNames[1]}}
                    </label>
                  </div>
                  <div  class="form-group row">
                    <label class=" offset-md-2  col-md-4 form-control-label text-md-left">
                      Volume: N/A
                    </label>
                    <div role="alert" class="col-md-5 col-xs-12 input-group">
                      <span class="input-group-text">$</span>
                      <input #amendTax2 type="text" id="compound-tt-2" [ngModel]="amendedTax2"
                        [customDecimalFormatter]='2' customNumerics [valueChg]='amendTax2.value'
                        (ngModelChange)="amendedTax2=$event" title="{{tobaccoClassNames[0]}}"
                        [ngModelOptions]="{standalone: true}" class="form-control" required="required"
                        (input)="inputValidator($event)" (focus)="storeCurrentValue($event)">

                    </div>
                  </div>
                  <div class="form-group row">
                    <label class=" offset-md-2  col-md-5 form-control-label text-md-left">
                      Calculated Tax: N/A
                    </label>
                  </div>
                  <div >
                    <div class="form-group row">
                      <label class=" fw-bold offset-md-2  col-md-4 form-control-label text-md-left">
                        Ingested Tax :
                      </label>
                      <label class=" col-md-6 form-control-label text-md-left">
                        {{totalDelta | abs | currency:'USD':'symbol':'1.2-2'| minustoparens }}

                      </label>

                    </div>

                    <div class="form-group row">
                      <label class=" fw-bold offset-md-2  col-md-4 form-control-label text-md-left">
                        Total Calculated Tax:
                      </label>
                      <label class="col-md-6 form-control-label text-md-left">
                        N/A
                      </label>

                    </div>

                    <div class="form-group row">
                      <label class=" fw-bold offset-md-2  col-md-4 form-control-label text-md-left">
                        Tax Difference:
                      </label>
                      <label class=" col-md-6 form-control-label text-md-left">
                        {{ ((totalDelta|abs))|currency:'USD':'symbol':'1.2-2'|
                          minustoparens }}

                      </label>
                    </div>

                  </div>

                </div>

                <!-- Association -->
                <div *ngIf="actionType === 'Association'" [ngBusy]="einCheckbusy" style="position: relative;">
                  <form style="padding-left:55px;" id="associatecompany-form" class="form-horizontal" role="form"
                    data-parsley-priority-enabled="false" novalidate="novalidate" data-parsley-validate>
                    <div id="associate-ein" class="form-group row" [ngBusy]="busy" [textMask]="{mask: einmask, guide:false}"
                      [ngClass]="{'has-error': (associateEinInput.invalid && (associateEinInput.dirty || associateEinInput.touched)) || hasError}">
                      <label for="ein-number" class="offset-md-1 col-md-5 form-control-label">
                        EIN of TUFA Company
                        <span class="help-block">Required field</span>
                      </label>
                      <div role="alert"
                        class="input-group input-group-transparent input-group-rounded col-md-4 col-xs-12">
                        <!-- data-parsley-error-message="Error: EIN requires appropriate format (e.g. 123456789)" -->
                        <input type="text" id="ein-number" title="EIN Number" [(ngModel)]="associationCompany.einNumber"
                          [ngModelOptions]="{standalone: true}" placeholder="EIN" class="form-control"
                          placeholder="9 digits" minlength="9" maxlength="9" required (ngModelChange)="checkEIN()"
                          #associateEinInput="ngModel">
                        <div class="input-group-text">
                          <ng-container *ngIf="einIsChecked">
                            <span *ngIf="!hasError" class="text-success fa fa-check"></span>
                            <span *ngIf="hasError" class="text-danger fa fa-times"></span>
                          </ng-container>
                        </div>
                      </div>
                      <span class="offset-md-1 col-md-11 form-control-feedback">
                        <ng-container
                          *ngIf="associateEinInput.invalid && (associateEinInput.dirty || associateEinInput.touched)">
                          <div *ngIf="associateEinInput.errors.required">
                            Error: Employer Identification Number (EIN) is required.
                          </div>
                          <div *ngIf="associateEinInput.errors.minlength">
                            Error: Employer Identification Number (EIN) must be 9 characters long.
                          </div>
                        </ng-container>

                        <div *ngIf="hasError">
                          Error: Employer Identification Number (EIN) is invalid
                        </div>
                      </span>
                    </div>
                    <div class="form-group row">
                      <label for="#primary-name-association" class="offset-md-1 col-md-5 form-control-label">
                        TUFA Company Inheriting Delta
                      </label>
                      <div class="col-md-4 col-xs-12">
                        <p id="primary-name-association">{{associationCompany.legalName}}</p>
                      </div>
                    </div>
                  </form>
                </div>

                <!-- End of Association -->

                <!-- Affected Deltas -->
                <div class="action-conatiner" style="position: relative;">
                  <!-- Put action sections here -->
                  <!-- <div *ngIf="actionType !== 'Select Type' && !(actionType === 'Market Share Ready' && delta =='Review')" class="alert alert-warning"
                   [ngBusy]="{busy: this.affectedDeltaCntBusy, message: 'Calculating affected delta count...', backdrop: true}"> -->
                  <div class="alert alert-warning"
                    [ngBusy]="{busy: this.affectedDeltaCntBusy, message: 'Calculating affected delta count...', backdrop: true}">
                    <strong>Warning:</strong>
                    <ul>
                      <ng-container *ngIf="actionType === 'Market Share Ready'">
                        <li *ngFor="let alert of msrAlerts">
                          <span [innerHTML]="alert.msg"></span>
                        </li>
                      </ng-container>
                      <ng-container
                        *ngIf="actionType === 'Market Share Ready' && (hasNoCmpdIngestTTVol() || hasNoVolumnData()) ">
                        <li *ngFor="let alert of msrNoVolAlerts">
                          <span [innerHTML]="alert.msg"></span>
                        </li>
                      </ng-container>
                      <ng-container *ngIf="actionType === 'Exclude'">
                        <li *ngFor="let alert of excludeAlerts">
                          <span [innerHTML]="alert.msg"></span>
                        </li>
                      </ng-container>
                      <ng-container *ngIf="actionType === 'Association'">
                        <li *ngFor="let alert of associateAlerts">
                          <span [innerHTML]="alert.msg"></span>
                        </li>
                      </ng-container>
                      <li *ngIf="affectedTTDeltasGrid?.length > 0">{{getAffectedDeltaCnt()}}
                        delta(s) will be affected by {{actionType =='Association' ? 'Associate' : actionType}}
                        Selected action.
                        <a *ngIf="affectedTTDeltasGrid?.length != 1 || !affectdDeltasContainsPopUpData()"
                          class="pull-right" (click)="selectDeltas = !selectDeltas" href="javascript:void(0)">Select
                          Deltas</a>
                      </li>
                    </ul>
                    <div *ngIf="selectDeltas">
                      <table style="
                            width: 100%;
                          " class="table">
                        <colgroup>
                          <col style="width: 30%;">
                          <col style="width: 10%;">
                          <col style="width: 15%;">
                          <col style="width: 40%;">
                          <col style="width: 5%;">
                        </colgroup>
                        <thead>
                          <tr>
                            <th>Tobacco Class</th>
                            <th>Type</th>
                            <th>Quarter</th>
                            <th>Delta Amount</th>
                            <th>Select</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let delta of affectedTTDeltasGrid"
                            (click)="delta.affectDeltaFlag = !delta.affectDeltaFlag">

                            <!-- <ng-container *ngIf="!isPopUpdata(delta)"> -->
                            <ng-container *ngIf="!isPopUpdata(delta)">
                              <td>{{delta.tobaccoClass}}</td>
                              <td>{{delta.permitType}}</td>
                              <td>Q{{delta.quarter}}</td>
                              <td *ngIf="delta.deltaexcisetaxFlag !== 'Review'">{{delta.totalDeltaTax|currency:'USD':'symbol':'1.2-2'
                                | minustoparens}}</td>
                              <td *ngIf="delta.deltaexcisetaxFlag === 'Review'">{{delta.deltaexcisetaxFlag}}</td>

                              <td>
                                <label class="custom-control custom-checkbox">
                                  <input #i type="checkbox" class="custom-control-input"
                                    [checked]="delta.affectDeltaFlag"
                                    (click)="delta.affectDeltaFlag = !delta.affectDeltaFlag">
                                  <span class="custom-control-indicator"></span>
                                  <span class="custom-control-label"></span>
                                </label>
                              </td>
                            </ng-container>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <!--Modal Footer-->
                  <div class="modal-footer col-lg-12"
                    [ngBusy]="{busy: this.affectedDeltaCntBusy, message: 'Calculating affected delta count...', backdrop: true}">
                    <ng-container *ngIf="actionType === 'Association'">
                      <button type="button" [ngBusy]="busy" class="btn btn-primary" (click)="saveAll()"
                        [disabled]="getAffectedDeltaCnt() == 0" title="Associate Selected">Associate Selected</button>
                      <button type="button" [ngBusy]="busy" class="btn btn-primary" (click)="save()"
                        title="Associate">Associate</button>
                    </ng-container>
                    <ng-container *ngIf="actionType === 'Exclude'">
                      <button type="button" [ngBusy]="{busy: saveDeltaBusy, message: 'Saving delta(s)...', backdrop: true}" class="btn btn-primary" (click)="saveAll()"
                        [disabled]="getAffectedDeltaCnt() == 0 || allDeltaStatus === 'Excluded X'"
                        title="Exclude Selected">Exclude Selected</button>
                      <button type="button" [ngBusy]="{busy: saveDeltaBusy, message: 'Saving delta(s)...', backdrop: true}" class="btn btn-primary" (click)="save()"
                        [disabled]="allDeltaStatus === 'Excluded X'" title="Exclude">Exclude</button>
                    </ng-container>
                    <ng-container *ngIf="actionType === 'Market Share Ready'">
                      <button *ngIf="delta !== 'Review' && !isCmpdIngestTT()" type="button" [ngBusy]="{busy: saveDeltaBusy, message: 'Saving delta(s)...', backdrop: true}"
                        class="btn btn-primary" (click)="saveAll()" title="Save Selected"
                        [disabled]="(!fileTypeSelected && delta === 'Review') || getAffectedDeltaCnt() == 0">Save
                        Selected</button>
                      <button *ngIf="!isCmpdIngestTT()|| hasCmpdIngestTTVol() || hasNoCmpdIngestTTVol()" type="button"
                        [ngBusy]="{busy: saveDeltaBusy, message: 'Saving delta(s)...', backdrop: true}" class="btn btn-primary" title="Save"
                        [disabled]="(!fileTypeSelected && delta === 'Review') || (hasNoCmpdIngestTTVol() && hasNoVolAmmendTax() && !isCigarCigarrettesManu() ) || (hasCmpdIngestTTVol() && hasVolAmmendTax() && !isCigarCigarrettesManu())"
                        (click)="save()">Save</button>
                    </ng-container>
                    <button type="button" class="btn btn-secondary" (click)="popUpClose()"
                      title="Cancel">Cancel</button>

                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>