/*
 * Custom translucent site header
 */
// @import "../../../scss/helpers";
// @import "../../../scss/busy";

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}

.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.active-link {
  color: #fff;
  text-decoration: none;
}

.txt-gap {
  margin-left: 10px;
}

.navbar-nav .nav-item .dropdown-menu {
  margin-top: -2px;
  margin-left: -2px;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #fff;
  text-decoration: none;
  background-color: #5d8fc2;
}

.dropdown-item {
  padding-left: 0.5rem;
}