<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="app-nav-bar">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item ml40">
        <a href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto">
            <circle cx="12" cy="12" r="10"></circle>
            <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
            <line x1="9.69" y1="8" x2="21.17" y2="8"></line>
            <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
            <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
            <line x1="14.31" y1="16" x2="2.83" y2="16"></line>
            <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
          </svg>
        </a>
      </li> -->
      <li class="nav-item ml40">
        <a class="nav-link" id="mnu-item-dashboard" 
          [routerLink]="['/app/dashboard']" (aClick)="setNavItemActive('mnu-item-dashboard')" >
          <i class="fa fa-th-large txt-gap"></i>
          Dashboard
        </a>
      </li>
      <li class=" ml25 nav-item ml40">
        <a class="nav-link active" id="mnu-item-dailyops" (aClick)="setNavItemActive('mnu-item-dailyops')"
          [routerLink]="['/app/company/search', { q:'new'}]">
          <i class="fa fa-clipboard txt-gap"></i>
          Daily Operations
        </a>
      </li>
      <li class="nav-item ml40">
        <a class="nav-link" id="mnu-item-recon" (aClick)="setNavItemActive('mnu-item-recon')"
          [routerLink]="['/app/assessments']" >
          <i class="fa fa-check-square-o txt-gap"></i>
          Assessments
        </a>
      </li>
      <li class="nav-item ml40">
        <a class="nav-link" id="mnu-item-permits" (aClick)="setNavItemActive('mnu-item-permits')"
          [routerLink]="['/app/permit-mgmt']" >
          <i class="fa fa-arrow-circle-o-up txt-gap"></i>
          Manage Permits
        </a>
      </li>
      <li class="nav-item ml40">
        <a class="nav-link" id="mnu-item-track" (aClick)="setNavItemActive('mnu-item-track')"
          [routerLink]="['/app/company/tracking', { q:'new'}]" >
          <i class="fa fa-envelope txt-gap"></i>
          Company Tracking
        </a>
      </li>
      <li class="nav-item ml40">
        <a class="nav-link" href="#" id="mnu-item-rates" (aClick)="setNavItemActive('mnu-item-rates')"
          [routerLink]="['/dashboard/codesrates']" >
          <i class="fa fa-usd txt-gap"></i>
          Rates & Codes
        </a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
  </div>
</nav>