<div class="modal fade" id="acceptedLoading" tabindex="-1" role="dialog" aria-labelledby="Accepted Loading"
  aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel" style="font-weight: 700;">{{heading}}</h2>
        <a #closeModal class="close" data-dismiss="modal" aria-label="Close" (click)="hideModal();" style="display: none;"></a>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <progressbar [value]="dynamic" [max]="max" [striped]="true" [animate]="true" style="width: 100%;">
            </progressbar>
          </div>

        </div>
        <div class="row">
          <div class="col-lg-12">
            {{ingestionMessage}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>