// @import "../../../scss/bootstrap-datepicker3.min";
// @import "../../../../../node_modules/bootstrap-select/dist/css/bootstrap-select";
// @import "../../../scss/variables";
// @import "../../../../../node_modules/bootstrap/scss/_variables";
// @import "../../../../../node_modules/bootstrap/scss/mixins";

.h-divider{
    width:100%;
    border-bottom:2px solid #778899;
}

.verticalLine {
    border-left: 2px solid lightgrey;
}

.card-small-label{
    color: gray;
}

