<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a [routerLink]="['/app/assessments']" (aClick)="gotoAssessments()" id="lnk-assessments">Assessments</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="javascript:void(0)">Create Quarterly Assessment</a>
    </li>
</ol>
<h1 class="h1 page-title">Create Quarterly Assessment</h1>
<form id="createquarter-form" class="form-horizontal" role="form" data-parsley-priority-enabled="false" data-parsley-validate
    data-parsley-focus="first">
    <!--Quarterly Reports-->
    <div class="row" style="width:1205px;">
        <div class="col-lg-12 col-xs-12">
            <section class="widget" widget="">
                <div class="widget-body">
                    <div aria-live="assertive" class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                            <label for="fiscal-year" class="card-small-label">Fiscal Year</label>
                        </div>
                        <div class="col-md-3">
                            <label for="cal-qtr" class="card-small-label">Quarter</label>
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                            <span>Create New Quarterly Assessment</span>
                        </div>
                        <div role="alert" class="col-md-3">
                            <input class="form-control" (ngModelChange)="closeAlert()" type="number" [(ngModel)]="calYear" [attr.title]="calYear?calYear:'Fiscal-year'"
                                id="fiscal-year" name="fiscalyear" data-parsley-range='[1000,9999]' placeholder="YYYY" required
                                data-parsley-error-message="Error: Fiscal Year requires appropriate format (e.g.2017)" data-parsley-errors-container="#errYear">
                        </div>
                        <div role="alert" class="col-md-3">
                            <select [(ngModel)]="calQuarter" id="cal-qtr" [attr.title]="calQuarter" name="Quarter" (change)="closeAlert()" #QuarterSelect
                                class="form-control fdatable" required="required" data-parsley-error-message="Error: Quarter is required"
                                data-parsley-errors-container="#errQuarter" aria-describedby="errQuarter">
                                <option [disabled]='product === "Select Quarter"' *ngFor="let product of QuarterList" [value]="product">
                                    {{product}}
                                </option>
                            </select>
                        </div>

                        <div class="col-md-3">
                            <button id="btn-cr-qtr" class="btn btn-primary" (click)=" createQuarterly(calYear,calQuarter);">
                                Create
                            </button>
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                            <span id="errYear"></span>
                        </div>
                        <div class="col-md-3">
                            <span id="errQuarter"></span>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
</form>
<div aria-live="assertive">
    <div *ngIf="showAlertFlag" role="alert" class="row" style="width:1205px;">
        <div class="col-lg-4 col-xs-4">
        </div>
        <div class="col-lg-8 col-xs-8">
            <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'" (close)="closeAlert()">
                <div class="row" style="margin-left:5px; margin-right:5px;" [innerHTML]="alert.msg"></div>
            </alert>
        </div>
    </div>
</div>