<div class="row">
    <div class="col-lg-12 col-xs-12">
        <div aria-live="assertive" class="form-group row">
            <div role="alert" class="col-md-12 col-xs-12">
                <alert *ngFor="let alert of mktsharealerts; let i = index" [type]="alert.type + ' alert-sm'">
                <div [innerHTML]="alert.msg"></div>
                </alert>
            </div>
        </div>
    </div>                
</div>                  
<!--First widget - Generate Market Share Widget-->
<section class="widget">
    <!--widget body-->
    <div class="widget-body">
        <form action='' method="POST" data-parsley-priority-enabled="false" novalidate="novalidate">
        <div class="row">
            <div class="col-xs-12">
            <h2 class="h4 no-margin fw-bold">Generate Market Share</h2>     
            <ul class="text-list">
                <li class="list-spacing">An Export for each tobacco class will be generated containing the market share (except for Cigars)</li>
                <li class="list-spacing">All Monthly Reports must be approved in order to Submit the Generated Market Share</li>
                <li class="list-spacing">You must re-generate a Market Share after all Monthly reports are Approved</li>
            </ul>                     
            </div>
        </div>
        <div aria-live="assertive" class="row  justify-content-center">
            <button type="button" id="btn-mkt-share" class="btn btn-primary" title="Generate Market Share Reports"  
                [ngBusy]="{busy: busyGen, message: 'Generating Market Share...', backdrop: true}" 
                (click)="generateMaketShare()">Generate Market Share</button>  
        </div>                   
        </form>
    </div>
</section>
<!--Second Widget - Quarterly Assessment Summary-->
<!--Place them in tab panes-->
<div *ngIf="showSummary">
    <section class="widget">
        <!--section/widget header-->
        <header>
        </header>
        <!--widget body-->
        <div class="widget-body">
            <!--Current Market Share info panel-->
            <form action='' method="POST" data-parsley-priority-enabled="false" novalidate="novalidate">
                <div class="row h-divider">
                    <div class="col-xs-10">
                        <h2 class="h4 no-margin fw-bold" style="margin-bottom:10px;">Quarterly Assessment Summary</h2>
                        <p class="h6 no-margin fw-semi-bold" style="margin-bottom: 10px;">Generated: {{zeroVersionDateNumber | datePipe}} {{zeroVersionDate | date: 'shortTime'}}</p>  
                        <p class="h6 no-margin fw-semi-bold" style="margin-bottom:10px;">Author: {{zeroVersionAuthor}}</p>                                                  
                    </div>
                </div>       
                <div class="row" style="margin: 0px 15px;">                         
                    <table  id="tb-cur-mktshare" class="table borderless">
                        <colgroup>
                            <col style="width:75%">
                            <col style="width:25%">
                        </colgroup>                    
                        <thead>
                            <tr>
                                <th>Tobacco Class</th>
                                <th style="text-align:center;">Market Share Exports</th>
                            </tr>                   
                        </thead>
                        <tbody>
                            <tr *ngIf="isMktShareDataAvailable('Cigarettes', 0)">
                                <td>Cigarettes</td>
                                <td style="text-align:center;"><button type="button" id="btn-save" class="btn btn-primary" aria-label="Download CSV report for Cigarettes" (click)="downloadExport('Cigarettes', 0)">Download as CSV</button></td>                                
                            </tr>
                            <tr *ngIf="isMktShareDataAvailable('Chew', 0)">
                                <td>Chew</td>
                                <td style="text-align:center;"><button type="button" id="btn-save" class="btn btn-primary" aria-label="Download CSV report for Chew" (click)="downloadExport('Chew', 0)">Download as CSV</button></td>                                
                            </tr>
                            <tr *ngIf="isMktShareDataAvailable('Snuff', 0)">
                                <td>Snuff</td>
                                <td style="text-align:center;"><button type="button" id="btn-save" class="btn btn-primary" aria-label="Download CSV report for Snuff" (click)="downloadExport('Snuff', 0)">Download as CSV</button></td>                                
                            </tr>
                            <tr *ngIf="isMktShareDataAvailable('Pipe', 0)">
                                <td>Pipe</td>
                                <td style="text-align:center;"><button type="button" id="btn-save" class="btn btn-primary" aria-label="Download CSV report for Pipe" (click)="downloadExport('Pipe', 0)">Download as CSV</button></td>                                
                            </tr>
                            <tr *ngIf="isMktShareDataAvailable('Roll-Your-Own', 0)">
                                <td>Roll-Your-Own</td>
                                <td style="text-align:center;"><button type="button" id="btn-save" class="btn btn-primary" aria-label="Download CSV report for Roll-Your-Own" (click)="downloadExport('Roll-Your-Own', 0)">Download as CSV</button></td>                                
                            </tr>   
                            <tr>
                            <td><p>Note: Cigar Market Share data is calculated on an annual basis.</p><td>
                            <td></td>
                            </tr>                                                                                                                     
                        </tbody>
                    </table>
                </div>
                <div aria-live="assertive" class="row flex-nowrap">
                    <!--<div class="col-xs-1">
                    </div>    -->
                    <div class="col-md-9">
                        <p>I have reviewed and approved the entire Quarter and deem this information complete.</p>
                    </div>
                    <div role="alert" class="col-md-3" style="text-align: center;">
                        <button *ngIf="showSubmit" type="button" id="btn-mkt-share" class="btn btn-primary" 
                        [ngBusy]="{busy: busySub, message: 'Submitting Market Share...', backdrop: true}" 
                        [disabled]="submitBtnDisabled"
                        title="Submit Quarterly Assessment" (click)="submitMarketShare()">Submit</button>
                    </div>
                </div>   
                <div class="row flex-nowrap">
                    <div class="col-lg-12 col-xs-12">
                    <div class="form-group row">
                        <div aria-live="assertive">                                          
                            <div role="alert" class="col-md-12 col-xs-12 infoalert">
                                <alert *ngFor="let alert of submitalerts; let i = index" [type]="alert.type + ' alert-sm'">
                                    <span class="fa fa-exclamation-circle"></span>
                                    <span [innerHTML]="alert.msg"></span>
                                </alert>
                            </div>
                        </div>
                    </div>
                    </div>
                </div> 
                
                                                              
            </form>
        </div>
    </section> 
</div>

<div *ngIf="showHistory">
    <section class="widget">
        <!--section/widget header-->
        <header>
        </header>
        <!--widget body-->
        <div class="widget-body">
            <form action='' method="POST" data-parsley-priority-enabled="false" novalidate="novalidate">
                <div class="row h-divider" style="margin-bottom:10px">
                    <div class="col-md-8">
                        <h2 class="h4 no-margin fw-bold" style="margin-bottom: 10px;">Quarterly Assessment History</h2>
                        <p class="h6 no-margin fw-semi-bold" style="margin-bottom: 10px;">Submitted: {{selVersionDateNumber | datePipe}} {{selVersionDate | date: 'shortTime'}}</p>  
                        <p class="h6 no-margin fw-semi-bold" style="margin-bottom: 10px;">Author: {{author}}</p>                                        
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label for="sel-mkt-ver" class="col-md-4 form-control-label text-md-right" style="margin-top:5px;">
                                Version
                            </label>
                            <div class="col-md-4 col-xs-12">
                                <select id="sel-mkt-ver" style="width: 80px" [(ngModel)]="selVersion" (change)="onchangeVersion($event.target.value)" title="Versions History" name="mkt-ver-his" class="form-control">
                                    <option *ngFor="let version of versionnumbers" [value]="version">
                                        {{version}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>                
                </div>  
            </form>          
            <!--history Market Share info panel-->
            <form action='' method="POST" data-parsley-priority-enabled="false" novalidate="novalidate">
                <div class="row" style="margin: 0px 15px;">
                    <table  id="tb-his-mktshare" class="table borderless" >
                        <colgroup>
                            <col style="width:75%">
                            <col style="width:25%">
                        </colgroup>                    
                        <thead>
                            <tr>
                            <th>Tobacco Class</th>
                            <th style="text-align:center;">Market Share Exports</th>
                            </tr>                   
                        </thead>
                        <tbody>
                            <tr *ngIf="isMktShareDataAvailable('Cigarettes', selVersion)">
                                <td>Cigarettes</td>
                                <td style="text-align:center;"><button type="button" id="btn-save" class="btn btn-primary" aria-label="Download CSV report for Cigarettes" (click)="downloadExport('Cigarettes', selVersion)">Download as CSV</button></td>                                
                            </tr>
                            <tr *ngIf="isMktShareDataAvailable('Chew', selVersion)">
                                <td>Chew</td>
                                <td style="text-align:center;"><button type="button" id="btn-save" class="btn btn-primary" aria-label="Download CSV report for Chew" (click)="downloadExport('Chew', selVersion)">Download as CSV</button></td>                                
                            </tr>
                            <tr *ngIf="isMktShareDataAvailable('Snuff', selVersion)">
                                <td>Snuff</td>
                                <td style="text-align:center;"><button type="button" id="btn-save" class="btn btn-primary" aria-label="Download CSV report for Snuff" (click)="downloadExport('Snuff', selVersion)">Download as CSV</button></td>                                
                            </tr>
                            <tr *ngIf="isMktShareDataAvailable('Pipe', selVersion)">
                                <td>Pipe</td>
                                <td style="text-align:center;"><button type="button" id="btn-save" class="btn btn-primary" aria-label="Download CSV report for Pipe" (click)="downloadExport('Pipe', selVersion)">Download as CSV</button></td>                                
                            </tr>
                            <tr *ngIf="isMktShareDataAvailable('Roll-Your-Own', selVersion)">
                                <td>Roll-Your-Own</td>
                                <td style="text-align:center;"><button type="button" id="btn-save" class="btn btn-primary" aria-label="Download CSV report for Roll-Your-Own" (click)="downloadExport('Roll-Your-Own', selVersion)">Download as CSV</button></td>                                
                            </tr>   
                            <tr>
                            <td><p>Note: Cigar Market Share data is calculated on an annual basis.</p><td>
                            <td></td>
                            </tr>                                                                                                                     
                        </tbody>
                    </table>                                                
                </div>
            </form>
            <!--Submission Documentation Pane-->
            <div *ngIf="versionnumbers.length > 0" class="row" style="margin-left: 5px; margin-top: 15px;">
                <div class="row h-divider">
                    <div class="col-xs-12">
                        <h2 class="h4 no-margin fw-bold" style="margin-bottom:10px;">Submission Documentation</h2>    
                        <p class="h6 no-margin fw-semi-bold" style="margin-bottom: 10px;">Upload submission communications for each Submitted Market Share</p>                                                                     
                    </div>
                </div> 
                <div class="row breathe" style="margin-left: 7px;">
                    <button id="btn-upload" type="button" class="btn btn-primary btn-block" title="Upload" data-toggle="modal" data-target="#add-document"
                    data-backdrop data-keyboard="false" focusOn="#add-document" (click)="setSelectedDocument()">
                    <i class="fa fa-upload" aria-hidden="true"></i> Upload Document</button>
                </div>
                <table class="table table-hover table-borderless" [mfData]="docs" [(mfSortBy)]="sortBy" [mfIsServerPagination]="false"
                 #mfd="mfDataTable" [mfRowsOnPage]="5" [mfActivePage]="1"
                 [ngBusy]="{busy: busyload, message: 'Fetching documents...', backdrop: true}" id="tb-supprt-docs">
                    <colgroup>
                        <col style="width:20%">
                        <col style="width:30%">
                        <col style="width:25%">
                        <col style="width:20%">
                        <col style="width:5%">
                    </colgroup>                    
                    <thead>
                        <tr>
                            <th class="hidden-sm-down">
                                <mfDefaultSorter by="filename" title="File Name">File Name</mfDefaultSorter>
                            </th>
                            <th class="hidden-sm-down">
                                <mfDefaultSorter by="description" title="Description">Description</mfDefaultSorter>
                            </th>
                            <th class="hidden-sm-down">
                                <mfDefaultSorter by="dateUploaded" title="Date">Date</mfDefaultSorter>
                            </th>
                            <th class="hidden-sm-down">
                                <mfDefaultSorter by="author" title="Author">Author</mfDefaultSorter>
                            </th>
                            <th class="hidden-sm-down">
                                <mfDefaultSorter by="versionNum" title="Version Number">Version</mfDefaultSorter>
                            </th>
                        </tr>                   
                    </thead>
                    <tbody>
                        <tr *ngFor="let doc of mfd.data">
                            <td><a href="javascript:void(0);" aria-label="Download document" 
                            (click)="downloadDoc(doc.asmntDocId)">{{doc.filename}}</a></td>
                            <td>{{doc.description}}</td>                                
                            <td>{{doc.dateUploaded | datePipe}}, {{doc.dateUploaded | date:'shortTime'}}</td>
                            <td>{{doc.author}}</td>
                            <td>{{doc.versionNum}}</td>
                        </tr>                                                                                                                     
                    </tbody>
                    <tfoot [ngBusy]="{busy: busyDownload, message: 'Downloading...', backdrop: true}">
                        <tr>
                            <td colspan="12">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5, 10, 25]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>                                                
                <div *ngIf="showAddDocumentPopup" add-document [docs]="docs" [versions]="versionnumbers" 
                (onDocumentEdit)="documentsGridRefresh($event)" [ngBusy]="{busy: busyupload, message: 'Uploading documents...', backdrop: true}"></div>
            </div>
        </div>
    </section> 
</div>
 