<div aria-live="assertive" class="row">
	<div role="alert" class="col-md-3">
		<button type="button" id="btn-exp-rcon" class="btn btn-primary" title="Export Reconciliation Report as CSV" [ngBusy]="{busy: busyGen, message: 'Exporting Reconciliation Report...', backdrop: true}"
		 (click)="exportReconReport()">Export As CSV</button>
	</div>
	<div class="col-md-6"></div>
	<div class="col-md-3">
		<div class="h6 fw-semi-bold">Legend</div>
		<div class="h6 fw-semi-bold"><span class="zero-report">Z</span> - Zero Reported</div>
		<div class="h6 fw-semi-bold"><span class="cigar-only">C</span> - Cigars Only Reported</div>
		<div class="h6 fw-semi-bold"><span class="non-cigar">NC</span> - Not Cigars Only</div>
	</div>
</div>

<table id="tbl-recon" class="table table-hover" [mfData]="data | qareconpipe:reconstatusfilterdata" #mf="mfDataTable" [mfIsServerPagination]="false"
 [mfRowsOnPage]="pgAttrs.pageSize" [(mfActivePage)]="pgAttrs.activePage"   [mfStoreState]="true" [mfNavigateUrls]="'/permit/impreport;/permit/manreport;/company/details;/permit/history'" 
 [mfDataTableName]="'qa-reconreport'" [mfFilters]="reconstatusfilterdata" (restoreFilters)="restoreFilterData($event)">
	<colgroup>
		<col style="width: 20%;">
		<col style="width: 20%;">
		<col style="width: 20%;">
		<col style="width: 20%;">
		<col style="width: 10%;">
		<col style="width: 7%;">
	</colgroup>
	<thead>
		<tr>
			<th scope="col" id="h-comp-name">
				<mfDefaultSorter by="companyName" title="Company Name">COMPANY NAME</mfDefaultSorter>
			</th>
			<th class="hidden-sm-down" scope="col" id="h-ttb-pmt">
				<mfDefaultSorter by="permitNum" title="TTB Permit">TTB PERMIT</mfDefaultSorter>
			</th>
			<th class="hidden-sm-down" scope="col" id="h-pmt-mon">
				<mfDefaultSorter by="month" title="Month">MONTH</mfDefaultSorter>
			</th>
			
			<th class="hidden-sm-down" scope="col" id="h-rec-sta">
				<mfDefaultSorter by="reconStatus" title="Status">RECON STATUS</mfDefaultSorter>
			</th>
			<th class="hidden-sm-down" scope="col" id="h-rep-tob">
				<mfDefaultSorter by="reportedTobacco" title="Status"></mfDefaultSorter>
			</th>
			<th class="hidden-sm-down" scope="col" id="h-rep-rev">
		</tr>
	</thead>
	<tbody>
		<tr>
			<td *ngFor="let column of columns">
				<div *ngIf="column.filtering" class="input-group input-group-transparent input-group-rounded">
					<span class="input-group-text">
						<i class="fa fa-filter" (click)="ApplyFilter();"></i>
					</span>
					<input *ngIf="column.type==='input'" [attr.id]="'filter-' + column.name" [ngTableFiltering]="column.filtering" [config]="column.filtering"
					 class="form-control" placeholder="{{column.filtering.placeholder}}" value="{{column.filtering.filterString}}" (tableChanged)="onChangeTable($event)"
					/>
					<select *ngIf="column.type==='select'" [attr.id]="'filter-' + column.name" class="form-control" style="height: auto;" (change)="FilterSelectionChanged($event.target.value, column.name)">
						<option *ngFor="let option of column.options" [selected]="(option.value === column.defaultvalue)"  [value]="option.value">
							{{option.name}}
						</option>
					</select>

				</div>
			</td>
		</tr>
		<tr *ngFor="let rptStatus of mf.data;let i=index">
			<td>{{rptStatus.companyName}}</td>
			<td>{{rptStatus.permitNum | permitNumberPipe}}</td>
			<td>{{rptStatus.month | titleCase }}</td>
			<td>{{rptStatus.reconStatus?.includes('Not')?'Unapproved':'Approved'}}</td>
			<td><span *ngIf="rptStatus.reportedTobacco" [class.zero-report]="rptStatus.reportedTobacco =='Z'" [class.cigar-only]="rptStatus.reportedTobacco=='C'"  [class.non-cigar]="rptStatus.reportedTobacco=='NC'">{{rptStatus.reportedTobacco}}</span></td>
			<td class="fw-semi-bold blue"><a [routerLink]="['/app/permit', rptStatus.permitTypeCd === 'Manufacturer'?'manreport':'impreport', {PN:rptStatus.permitNum, MO:rptStatus.month}]"
				 (aClick)=showReport(rptStatus)>Review</a></td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="12">
				<mfBootstrapPaginator [rowsOnPageSet]="[5, 10, 25]"></mfBootstrapPaginator>
			</td>
		</tr>
	</tfoot>
</table>