<div class="row">
	<div class="col-md-9" ></div>
	<div class="col-md-3">
		<div class="h6 fw-semi-bold">Legend</div>
		<div class="h6 fw-semi-bold"><span class="cigar-only">C</span> - Cigars Only Reported</div>
	</div>
</div>
<table id="tbl-rpt" [ngBusy]="{busy: busy, message: 'Loading...', backdrop: true}" class="table  table-hover" [mfData]="data"
	#mf="mfDataTable" [mfIsServerPagination]="false" [mfRowsOnPage]="25" [mfActivePage]="1" [mfStoreState]="true" [mfNavigateUrls]="'/permit/impreport;/permit/manreport'" [mfDataTableName]="'qa-reportstatus'">
	<thead>
		<tr>
			<th scope="col" id="h-cmp-nam">
				<mfDefaultSorter by="legalNm" title="Company Name">Company Name</mfDefaultSorter>
			</th>
			<th scope="col" class="hidden-sm-down" id="h-pmt-no">
				<mfDefaultSorter by="permitNum" title="TTB Permit">TTB Permit</mfDefaultSorter>
			</th>
			<th scope="col" class="hidden-sm-down" id="h-mo-1">
				<mfDefaultSorter [by]="'quarterReports.month='+gridHeaders[0].abv+'.periodStatusTypeCd'" title={{gridHeaders[0].month}}>{{gridHeaders[0].month}}</mfDefaultSorter>
			</th>
			<th scope="col" class="hidden-sm-down" id="h-mo-2">
				<mfDefaultSorter [by]="'quarterReports.month='+gridHeaders[1].abv+'.periodStatusTypeCd'" title={{gridHeaders[1].month}}>{{gridHeaders[1].month}}</mfDefaultSorter>
			</th>
            <th scope="col" class="hidden-sm-down" id="h-mo-3">
				<mfDefaultSorter [by]="'quarterReports.month='+gridHeaders[2].abv+'.periodStatusTypeCd'" title={{gridHeaders[2].month}}>{{gridHeaders[2].month}}</mfDefaultSorter>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let rptStatus of mf.data;let i = index;">
            
			<td class="hidden-sm-down" >{{rptStatus.legalNm}}</td>
			<td class="hidden-sm-down" >{{rptStatus.permitNum| permitNumberPipe}}</td>
            <td class="fw-semi-bold blue" ><a [routerLink]="['/app/permit', rptStatus.permitTypeCd === 'Manufacturer'?'manreport':'impreport', {PN:rptStatus.permitNum, MO:gridHeaders[0]}]" 
			    (aClick)="toPeriodofActivity(rptStatus,gridHeaders[0].month)" *ngIf = 'getStatus(rptStatus.quarterReports,gridHeaders[0].abv)'>
				{{getStatus(rptStatus.quarterReports,gridHeaders[0].abv)}}
				<span *ngIf='getIsCigarOnly(rptStatus.quarterReports,gridHeaders[0].abv)==="true"' class="cigar-only breathe-left">C</span>
				</a></td>
            <td class="fw-semi-bold blue"><a [routerLink]="['/app/permit', rptStatus.permitTypeCd === 'Manufacturer'?'manreport':'impreport', {PN:rptStatus.permitNum, MO:gridHeaders[1]}]"
			    (aClick)="toPeriodofActivity(rptStatus,gridHeaders[1].month)" *ngIf = 'getStatus(rptStatus.quarterReports,gridHeaders[1].abv)' >
				{{getStatus(rptStatus.quarterReports,gridHeaders[1].abv)}}
				<span *ngIf='getIsCigarOnly(rptStatus.quarterReports,gridHeaders[1].abv)==="true"' class="cigar-only breathe-left">C</span>
				</a></td>
			<td class="fw-semi-bold blue"><a [routerLink]="['/app/permit', rptStatus.permitTypeCd === 'Manufacturer'?'manreport':'impreport', {PN:rptStatus.permitNum, MO:gridHeaders[2]}]"
			    (aClick)="toPeriodofActivity(rptStatus,gridHeaders[2].month)" *ngIf = 'getStatus(rptStatus.quarterReports,gridHeaders[2].abv)' >
				{{getStatus(rptStatus.quarterReports,gridHeaders[2].abv)}}
				<span *ngIf='getIsCigarOnly(rptStatus.quarterReports,gridHeaders[2].abv)==="true"' class="cigar-only breathe-left">C</span>
				</a></td>
        </tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="12">
				<mfBootstrapPaginator [rowsOnPageSet]="[5, 10, 25]"></mfBootstrapPaginator>
			</td>
		</tr>
	</tfoot>
</table>