<table class="table  table-hover" [mfData]="data | quarterpipe:quarterFilter"
	#mf="mfDataTable" [mfRowsOnPage]="10" [mfIsServerPagination]="false" [mfActivePage]="1" 
	[(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder"
	[mfStoreState]="true" [mfNavigateUrls]="'/assessments/quarterly'" [mfDataTableName]="'qa-results'" >
	<thead>
		<tr>
			<th>
				<mfDefaultSorter by="assessmentYr" title="Fiscal Year">Fiscal Year</mfDefaultSorter>
			</th>
			<th class="hidden-sm-down">
				<mfDefaultSorter by="assessmentQtr" title="Quarter">Quarter</mfDefaultSorter>
			</th>
			<th class="hidden-sm-down">
				<mfDefaultSorter by="quarterMonths" title="Months">Months</mfDefaultSorter>
			</th>
			<th class="hidden-sm-down">
				<mfDefaultSorter by="submittedInd" title="Submission Status">Submission Status</mfDefaultSorter>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let assessment of mf.data; let i= index">           
			<td>{{assessment.assessmentYr}}</td>
            <td>{{assessment.assessmentQtr}}</td>
            <td>{{assessment.quarterMonths[0]}}, {{assessment.quarterMonths[1]}}, {{assessment.quarterMonths[2]}}</td>
            <td>
				<a (aClick) = "toQuarterlyAssessmentReport(assessment)" [routerLink]='["./quarterly/" + i]'>{{assessment.submittedInd}}</a>
			</td>
        </tr>

	</tbody>
	<tfoot>
		<tr>
			<td colspan="12">
				<mfBootstrapPaginator [rowsOnPageSet]="[5, 10, 25]"></mfBootstrapPaginator>
			</td>
		</tr>
	</tfoot>
</table>