// @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,500i,600,700');
// @import url('https://fonts.googleapis.com/css?family=Lato:300,400,500,500i,600,700');

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
  url('#{$google-font-path}/open-sans-light.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'),
  url('#{$google-font-path}/open-sans.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
  url('#{$google-font-path}/open-sans-semibold.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
  url('#{$google-font-path}/open-sans-bold.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'),
  url('#{$google-font-path}/open-sans-light-italic.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
  url('#{$google-font-path}/open-sans-italic.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'),
  url('#{$google-font-path}/open-sans-semibold-italic.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
  url('#{$google-font-path}/open-sans-bold-italic.woff') format('woff');
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('#{$glyphicons-font-path}//glyphicons-halflings-regular.eot');
  src: url('#{$glyphicons-font-path}//glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('#{$glyphicons-font-path}//glyphicons-halflings-regular.woff2') format('woff2'),
       url('#{$glyphicons-font-path}//glyphicons-halflings-regular.woff') format('woff'),
       url('#{$glyphicons-font-path}//glyphicons-halflings-regular.ttf') format('truetype'),
       url('#{$glyphicons-font-path}//glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/* FONT PATH
 * -------------------------- */
 @font-face {
    font-family: 'FontAwesome';
    src: url('#{$fa-font-path}/fontawesome-webfont.eot?v=#{$fa-version}');
    src: url('#{$fa-font-path}/fontawesome-webfont.eot?#iefix&v=#{$fa-version}') format('embedded-opentype'),
    url('#{$fa-font-path}/fontawesome-webfont.woff2?v=#{$fa-version}') format('woff2'),
    url('#{$fa-font-path}/fontawesome-webfont.woff?v=#{$fa-version}') format('woff'),
    url('#{$fa-font-path}/fontawesome-webfont.ttf?v=#{$fa-version}') format('truetype'),
    url('#{$fa-font-path}/fontawesome-webfont.svg?v=#{$fa-version}#fontawesomeregular') format('svg');
    //  src: url('#{$fa-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts
    font-weight: normal;
    font-style: normal;
}
