
/**
* if set to device-width ie10 built-in scrollbar overflows content. Fix it as of here
* http://stackoverflow.com/questions/17045132/scrollbar-overlay-in-ie10-how-do-you-stop-that-might-be-bootstrap
*/
@-ms-viewport{
  width: auto;
}

html, body{
  height: 100%;
}

html {
  overflow: hidden;
}

body{
  font-weight: $font-weight-normal;
  overflow: auto
}

th{
  font-weight: $font-weight-semi-bold;
}

a {
  cursor: pointer;
}

svg {
  width: 100%;
}

td.permit-num-list > span {
  margin-right: 8px;
  white-space: nowrap;
  float: left;
}
