// /***********************/
// /*    Animate.css      */
// /***********************/

// .animated{
//   animation-duration: .5s;
// }

// /*************************************/
// /*         @ngx-loading-bar          */
// /*************************************/
// ngx-loading-bar {
//   position: relative;
//   top: $navbar-height;
//   left: 0;
//   right: 0;
//   display: block;
// }

// #loading-bar {
//   pointer-events: none;
//   transition: 350ms linear all;
// }

// #loading-bar .bar {
//   transition: width 350ms;
//   background: theme-color('primary');
//   position: absolute;
//   z-index: 1049;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 2px;
//   border-bottom-right-radius: 1px;
//   border-top-right-radius: 1px;
// }

// #loading-bar .peg {
//   position: absolute;
//   width: 70px;
//   right: 0;
//   top: 0;
//   height: 2px;
//   opacity: .45;
//   box-shadow: $blue 1px 0 6px 1px;
//   border-radius: 100%;
// }

// #loading-bar-spinner {
//   position: absolute;
//   color: theme-color('primary');
// }

// /*************************************/
// /*           ngx-bootstrap           */
// /*************************************/

// .tab-container {
//   display: block;
//   background: none;
//   border-radius: $border-radius;
//   box-shadow: $widget-shadow;
// }
/*
 * Font Awesome 2x spin
 */

 .#{$fa-css-prefix}-spin-fast {
  -webkit-animation: fa-spin 1s infinite linear;
  -moz-animation: fa-spin 1s infinite linear;
  -o-animation: fa-spin 1s infinite linear;
  animation: fa-spin 1s infinite linear;
}


.fa-lg {
  vertical-align: -15%;
}

/**
 * Animate.css
 */

.animated{
  animation-duration: .5s;
}

/**
 * Pace
 */
.pace .pace-progress{
  background: $brand-primary;
  position: absolute;
  top: $navbar-height;
}

.pace .pace-activity{
  position: absolute;
  top: 65px;
  border-width: 1px;
  left: 15px;
  right: auto;
  width: 18px;
  height: 18px;
  border-top-color: $brand-primary;
  border-left-color: $brand-primary;
}



.pace .pace-progress-inner{
  right: -10px;
  width: 10px;
}

/***********************/
/*glyphicons-halflings */
/***********************/

.glyphicon-comment:before {
  content:"\E111";
}

.glyphicon-chevron-up {
  top: 2px;
}
