
input.parsley-error{
    border-color: $danger;
    @include box-shadow(inset 0 1px 1px rgba($danger,.075));
}
 
.parsley-errors-list{
    font-size: $font-size-smaller;
    padding-left: 0;
    margin-bottom: 5px;
  
    li{
      list-style: none;
      color: $danger;
    }
  }