
/***********************************/
/**          FORM WIZARD          **/
/***********************************/

.form-wizard{
  .nav-pills{
    > li > a{
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: $gray-lighter;
      color: 	#000000;
      @include border-radius(3px);
      cursor: default;
    }

    // > li > a:hover{
    //   background-color: #e9edf6;
    //   color: $brand-primary;
    // }

    > li.active > a{
      background-color: $brand-primary;
      color: $white;
    }
    > li > a.active{
      background-color: $brand-primary;
      color: $white;
    }
    > li.done > a {
      background-color: lighten($brand-primary, 28%);
      color: $white;
      cursor: pointer;
    }
    @include media-breakpoint-up(md){
      &.nav-justified{
        > li {
          padding: 0 5px;
          &:first-child{
            padding-left: 0;
          }
          &:last-child{
            padding-right: 0;
          }
        }
      }
    }
  }

  .tab-pane{
    // padding: $line-height-computed 20px;
    @include border-radius(5px);
  }

  .pager > li.disabled > .btn{
    cursor: not-allowed;
    pointer-events: none; // Future-proof disabling of clicks
    opacity: .65;
    @include box-shadow(none);
  }

  .pager {
    padding-left: 0;
    margin-top: 1rem;

    li {
      display: inline;
    }
  }

  //fix conflict with MODAL WIZARD
  .pager.wizard{
    display: block;
  }
}

.form-wizard-white {
  .nav-pills > li{
    > a{
      background-color: white;
      color: black;
    }
    
    > a.disabled{
      pointer-events: all;
      &:hover {
        color: #999999;
        cursor: not-allowed;
        background-color: transparent;
      }
    }
  }
}

/**
Collapsible accordian
***/

.panel-heading .accordion-toggle-main:after {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
  content: "\e114";    /* adjust as needed, taken from bootstrap.css */
  float: right;        /* adjust as needed */
  color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle-main.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.h-box-divider{
width:100%;
border:1px solid black;
}

.h-box-bot-divider{
  border-bottom:1px solid black;
  padding-top:10px;
  padding-bottom:5px;
}

.fullwidth{
  width: 100%;
}
.box-pane {
  margin-top: -0.5rem;
  margin-bottom: -0.6rem;
}

.collapseNum { 
  margin-right:15px;
  margin-top: 0.3rem;
}

.breathe-topNleft {
  margin-left: 10px; 
  margin-top: 10px;
}

.wid100{
  width:100px;
}

.table-condensed-padd>tbody>tr>td, .table-condensed-padd>tbody>tr>th, .table-condensed-padd>tfoot>tr>td, .table-condensed-padd>tfoot>tr>th, .table-condensed-padd>thead>tr>td, .table-condensed-padd>thead>tr>th {
  padding-left: 24px;
  padding-right:20px;
  padding-top:10px;
  padding-bottom:10px;
  text-align:center;
}

.table-condensed-fixed {
  width: fit-content;
}


.fa-caret-up, .fa-caret-down{
  font-size: 20px;
  margin: 0 7px;
  color: #4175ab;
  top: 5px;
}

.tag{
  .fa{
    top:0px;
  }
}

.button-row{
  > toggle-button-tufa:not(:first-child){
    padding-left: 5px;
  }

  > .btn:not(:first-child) {
    margin-left: 5px;
  }
}

//Fix abc-radio pssitioning
.abc-radio {
  padding-left: 20px;
  // >label::before {
  //   top: 0px;
  //   left: auto;
  // }
  // >label::after {
  //   top: 3px;
  //   left: 8px;
  // }
}

body {
  font-size: 14px;
}

.fileinput {
  .form-control {
    height: auto;
  }
  
  .fileinput-filename {
    display: unset;
    word-wrap: break-word;
    width: 90%;
  }

  .fa {
    margin-right: 10px;
  }
}

// Configure Checkbox color
.custom-checkbox {
  $checkbox-width: 25px;
  width: $checkbox-width;
  left: $checkbox-width;
  cursor: pointer;

  .custom-control-input:disabled:checked ~ .custom-control-label::before,
  .custom-control-input:checked ~ .custom-control-label::before {
    color:white;
    background-color:#66CC00;
    border-color: #66CC00;
    font-size: 18px;

  }
  >.custom-control-label {
    left: 5px;
  }
}

.has-error {
  .input-group, .input-group-text {
    border-color: $brand-danger;
  }
}

// //NGX Accodian
// accordion-group {
//   &:not(:last-child) {
//     padding-bottom: 20px;
//   }

//   [accordion-heading] {
//     background-color: lightgrey;
//     color: black;
//     padding-top:12px;
//     padding-bottom: 12px;
//     border-bottom: 2px solid gray;
//     cursor: pointer;

//     &.primary {
//       background-color: $brand-primary;
//       color: #fff;
//       border-bottom: 0px;
//     }
//   }
// }

.btn {
  &.btn-icon {
    padding: .1rem .4rem;
    border-radius: 2rem;
  }
  &.btn-thin {
    padding: .1rem .4rem;
  }
}

.row-action-buttons {
  display: flex;
  > button:not(:last-child) {
    margin-right: 5px;
  }
}

@media (min-width: 768px) {
  .text-right-md { text-align: right !important}
}

.ag-root-wrapper {
  width: 100%;
}

.ag-header-cell-label .ag-header-cell-text {
  text-overflow: clip;
  overflow: visible;
  overflow-wrap: break-word;
  white-space: normal !important;
}

.ag-header-cell-label {
  margin-left: unset;
}

.ag-header-cell {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.ag-header-cell-menu-button {
  // Hide the column button to give more room
  display: none !important;
}

.ag-column-hover .ag-header-cell-menu-button{
  display: flex !important;
}

details-quarter-panel .ag-header-cell-label {
  justify-content: center !important;
}