// @import "../../../scss/variables";
// @import "../../../../../node_modules/bootstrap/scss/_variables";
// @import "../../../../../node_modules/bootstrap/scss/mixins";
// @import "../../../../../node_modules/select2/src/scss/core";
@import "./../../../../scss/helpers";

.list-spacing {
    padding: 10px 0px;
}

.infoalert .glyphicon{
    float:left;
    margin-right:9px;
}

.infoalert div{
    overflow:hidden;
}

.cigar-only{
  background-color:#F42609;
  color:#F2DEDE;
  width: 50px;
  text-align: center;
  font-size: 10;
  font-weight: bold;
  padding: 0px 10px;
}

.zero-report{
  background-color:#000000;
  color:#F2DEDE;
  width: 50px;
  text-align: center;
  font-size: 10;
  font-weight: bold;
  padding: 0px 10px;
}

.breathe-left{
  margin-left: 10px;
}

.h-divider{
 width:100%;
 border-bottom:3px solid #778899;
}

.h-box-bot-divider{
    border-bottom:1px solid black;
    padding-top:10px;
    padding-bottom:5px;
}

/***********************************/
/**         MODAL WIZARD          **/
/***********************************/

.wizard-header h3 {
  font-family: $font-family-base;
  font-weight: $headings-font-weight;
  color: $text-color;
}

.wizard-nav-list > li.already-visited > a.wizard-nav-link,
.wizard-nav-list > li.already-visited.active > a.wizard-nav-link{
  color: $text-color;
}

.wizard-nav-item:not(.active) > .wizard-nav-link:hover {
  background-color: $gray-lighter;
}

.wizard-nav-list li.active > a,
.wizard-nav-item .already-visited .active{
  background-color: $brand-info;
  color: $white;
}

.wizard-dialog {
  max-width: none;
}

.wizard-dialog .popover.error-popover .arrow {
  border-right-color: transparent;
}

.wizard-nav-list li > a {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  padding: 10px 15px;
}

.wizard-steps {
  width: 30%;
}

// .wizard-input-section {
//   .open {
//   }
// }

.popover-body-error {
  padding: 0;
}

.popover-content-error {
  background-color:#F2DEDE;
  color:#B94A48;
  border-color:#953B39;
  border-radius: $border-radius-lg;
}

.popover.popover-right .popover-arrow-error::after,
.popover.bs-tether-element-attached-left .popover-arrow-error::after {
  border-right-color: #F2DEDE;
}
