<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a [routerLink]="['/app/assessments']" (aClick)="gotoAssessments()" id="lnk-assessments">Assessments</a>
  </li>
  <li class="breadcrumb-item active">
    <a href="javascript:void(0)">Cigar Assessment</a>
  </li>
</ol>
<h1 class="h1 page-title">Cigar Assessment</h1>
<div class="row">
  <div class="col-lg-8 col-xs-12">
    <div>
      <p style="margin-bottom:5px;">
        <strong>Fiscal Year:</strong>
        <span class="breathe-left fw-normal">{{fiscalYear}}</span>
      </p>
    </div>
  </div>
  <div class="col-lg-4 col-xs-12">
    <div style="text-align: right;">
      <p style="margin-bottom:5px;">
        <span class="breathe-left fw-normal">{{cigarsubmitted | cigarstatuspipe}} </span>
      </p>
    </div>
    <div style="text-align: right;">
      <p style="margin-bottom:5px;">
        <strong>Created:</strong>
        <span class="breathe-left fw-normal">{{createdDt | date:'fullDate'}}</span>
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <section class="widget" widget>
      <div class="widget-body">
        <div class="row">
          <div class="col-lg-12 col-xs-12">
            <div data-height="250" class="form-wizard">
              <tabset type="pills" [justified]="true" #caTabs>
                <tab heading="Report Status" id="tab-rpt">
                  <div id="tab1">
                    <form action='' method="POST" data-parsley-priority-enabled="false" novalidate="novalidate">
                      <div ca-reportstatus style="position: relative;"></div>
                    </form>
                  </div>
                </tab>
                <tab heading="Reconciliation Report" id="tab-rec">
                  <div id="tab2">
                    <form action='' method="POST" data-parsley-priority-enabled="false" novalidate="novalidate">
                      <div ca-reconreport [fiscalYear]="fiscalYear" [quarter]="quarter" [createdDate]="createdDt" [submitted]="submitted" [cigarsubmitted]="cigarsubmitted"
                        [months]="months" style="position: relative;">
                      </div>
                    </form>
                  </div>
                </tab>
                <tab heading="Generate and Submit" id="tab-sub">
                  <div id="tab3">
                    <div ca-marketshare [fiscalYear]="fiscalYear" [quarter]="quarter" [submitted]="submitted" [cigarsubmitted]="cigarsubmitted"
                      (onSubmitted)="onSubmitted($event)" style="position: relative;">
                    </div>
                  </div>
                </tab>
              </tabset>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>