<div class="col-lg-12 col-xs-12">
    <div aria-live="assertive" class="form-group row">
        <div role="alert" class="col-md-12 col-xs-12" *ngIf="marketsharetype !== 'ACONLY' ">
            <alert *ngFor="let alert of mktsharealerts; let i = index" [type]="alert.type + ' alert-sm'">
                <div [innerHTML]="alert.msg"></div>
            </alert>
        </div>
    </div>
</div>
<section class="widget">
    <!--widget body-->
    <div class="widget-body">
        <form action='' method="POST" data-parsley-priority-enabled="false" novalidate="novalidate">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="h4 no-margin fw-bold">Generate Cigar Market Share</h2>
                    <ul class="text-list">
                        <li class="list-spacing">All Monthly Reports must be approved in order to Submit the Generated Full Market Share for any quarter
                        </li>
                        <li class="list-spacing">An Export for Cigar tobacco class will be generated containing the Market Share for a fiscal year
                            quarter</li>
                        <li class="list-spacing">If a Market Share is generated before Reconciling all reports, you must re-generate after all Monthly
                            Reports are Approved</li>
                        <li class="list-spacing">After generating and submitting the initial Cigar Market Share submission, two Market Share types
                            are available:</li>
                        <ul class="text-list">
                            <li class="list-spacing">Full Market Share: Export Market Share data changes since last submitted version</li>
                            <li class="list-spacing">Address Changes Only: Export address changes since last submitted full version</li>
                        </ul>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</section>
<!--First widget - Generate Market Share Widget-->
<accordion [closeOthers]="false" [ngBusy]="busyHistorical">
    <!-- Accordian is redrawn when the mktsharedataArrayForYear changes causing it to close. Need to maintain open state... ANOTHER ARRAY! -->
    <accordion-group *ngFor="let data of [1,2,3,4]; let curqtr = index" #f1g1 panelClass="customClass accord-groupborder" [isDisabled]="!isEnabled[curqtr]">
        <div accordion-heading>
            <span class="h6 no-margin fw-semi-bold pl10 black">Quarter {{curqtr + 1}}</span>
            <span class="pull-right h6 no-margin fw-semi-bold mt5 black">
                <i class="h6 fa pr10ml10 black" [ngClass]="{' fa-chevron-down': f1g1?.isOpen, ' fa-chevron-right': !f1g1?.isOpen}">
                </i>
            </span>
        </div>
        <br>
        <div class="row">
            <div id="pnl-ms-fiscalyearQuarter" class="col-md-4">
                <fieldset>
                    <legend>
                        1. Fiscal Year Quarter
                    </legend>
                    <div>
                        <label>
                            Quarter {{curqtr + 1}}
                        </label>
                    </div>
                </fieldset>
            </div>
            <div id="pnl-ms-type" class="col-md-4">
                <form>
                    <fieldset>
                        <legend>
                            2. Select a Market Share Type
                        </legend>
                        <div class="abc-radio">
                            <input [id]="'rdo-full-ms-' + curqtr" name="ms-radio-1" type="radio" value="FULLMS" [(ngModel)]="selMarketShareTypes[curqtr]"
                                (ngModelChange)="onChangeMarketShareType($event)">
                            <label [for]="'rdo-full-ms-'+ curqtr">
                                Full Market Share
                            </label>
                        </div>
                        <div class="abc-radio">
                            <input [disabled]="!addressonlySelection" [id]="'rdo-ac-only-' + curqtr" name="ms-radio-2" type="radio" value="ACONLY" [(ngModel)]="selMarketShareTypes[curqtr]"
                                (ngModelChange)="onChangeMarketShareType($event)">
                            <label [for]="'rdo-ac-only-' + curqtr" [id]="'lbl-ac-only-' + curqtr">
                                Address Changes Only
                            </label>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="col-md-4">
                <fieldset>
                    <legend>
                        3. Generate Market Share
                    </legend>
                    <button type="button" id="btn-gen-ms" class="btn btn-primary fullwidth" title="Generate Market Share Reports" [ngBusy]="{busy: busyGen[curqtr], message: 'Generating Market Share...', backdrop: true}"
                        [disabled]="!selMarketShareTypes[curqtr]" (click)="generateMaketShare(curqtr + 1)">Generate</button>
                </fieldset>
            </div>
        </div>
        <br>
        <div *ngIf="zeroVersions[curqtr]" class="container-fluid">
            <div class="row">
                <div class="col h-divider">
                    <h2 class="h4 no-margin fw-bold" style="margin-bottom:10px;">Cigar Assessment Summary</h2>
                    <p class="h6 no-margin fw-semi-bold" style="margin-bottom: 10px;">Generated: {{zeroVersionsNumber[curqtr] | datePipe}} {{zeroVersions[curqtr]?.createdDt | date: 'shortTime'}}</p>
                    <p class="h6 no-margin fw-semi-bold" style="margin-bottom:10px;">Author: {{zeroVersions[curqtr]?.createdBy}}</p>
                </div>
            </div>
            <div class="row">
                <table id="tb-cur-mktshare" class="table borderless">
                    <colgroup>
                        <col style="width:25%">
                        <col style="width:25%">
                        <col style="width:25%">
                        <col style="width:25%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Tobacco Class</th>
                            <th>Fiscal Year Quarter</th>
                            <th>Market Share Type</th>
                            <th style="text-align:center;">Market Share Export</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="isMktShareDataAvailable(zeroVersions[curqtr])">
                            <td>Cigars</td>
                            <td>Quarter {{zeroVersions[curqtr]?.cigarQtr}}</td>
                            <td>{{zeroVersions[curqtr]?.marketshareType | cigarmstypepipe}}</td>
                            <td style="text-align:center;">
                                <button type="button" id="btn-save" class="btn btn-primary" aria-label="Download CSV report for Cigars" (click)="downloadExport(zeroVersions[curqtr])">Download as CSV</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <p>Note: Cigar Market Share data is calculated on an annual basis.</p>
                                <td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div aria-live="assertive" class="row flex-nowrap">
                <div class="col-md-9">
                    <p>I have reviewed and approved the entire year and deem this information complete.</p>
                </div>
                <div role="alert" class="col-md-3" style="text-align: center;">
                    <!--  -->
                    <button *ngIf="showSubmit" type="button" id="btn-mkt-share" class="btn btn-primary" [ngBusy]="{busy: busySub, message: 'Submitting Market Share...', backdrop: true}"
                        [disabled]="!isMktShareDataAvailable(zeroVersions[curqtr])" title="Submit Cigar Assessment" (click)="submitMarketShare(curqtr + 1)">Submit</button>
                </div>
            </div>
            <div class="row flex-nowrap">
                <div class="col">
                    <div class="form-group row">
                        <div aria-live="assertive">
                            <div role="alert" class="infoalert">
                                <alert *ngFor="let alert of submitalerts; let i = index" [type]="alert.type + ' alert-sm'">
                                    <span class="fa fa-exclamation-circle"></span>
                                    <span [innerHTML]="alert.msg"></span>
                                </alert>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="showHistory[curqtr]" class="container-fluid">
            <div class="row h-divider" style="margin-bottom:10px">
                <div class="col-md-8">
                    <h2 class="h4 no-margin fw-bold" style="margin-bottom: 10px;">Cigar Assessment History</h2>
                    <p class="h6 no-margin fw-semi-bold" style="margin-bottom: 10px;">Submitted: {{selVersionsNumber[curqtr] | datePipe}} {{selVersions[curqtr]?.createdDt | date: 'shortTime'}}</p>
                    <p class="h6 no-margin fw-semi-bold" style="margin-bottom: 10px;">Author: {{selVersions[curqtr]?.createdBy}}</p>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label for="sel-mkt-ver" class="col-md-4 form-control-label text-md-right" style="margin-top:5px;">
                            Version
                        </label>
                        <div class="col-md-4 col-xs-12">
                            <select id="sel-mkt-ver" style="width: 80px" [(ngModel)]="selVersions[curqtr]" title="Versions History" name="mkt-ver-his"
                                class="form-control">
                                <option *ngFor="let version of mktsharedataArrayForYear[curqtr].versions | versionzero" [ngValue]="version">
                                    {{version.versionNum}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <table id="tb-his-mktshare" class="table borderless">
                    <colgroup>
                        <col style="width:25%">
                        <col style="width:25%">
                        <col style="width:25%">
                        <col style="width:25%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Tobacco Class</th>
                            <th>Fiscal Year Quarter</th>
                            <th>Market Share Type</th>
                            <th style="text-align:center;">Market Share Export</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="isMktShareDataAvailable(selVersions[curqtr])">
                            <td>Cigars</td>
                            <td>Quarter {{selVersions[curqtr].cigarQtr}}</td>
                            <td>{{selVersions[curqtr].marketshareType | cigarmstypepipe}}</td>
                            <td style="text-align:center;">
                                <button type="button" id="btn-save-q1" class="btn btn-primary" aria-label="Download Cigars CSV report for selected quarter"
                                    (click)="downloadExport(selVersions[curqtr])">Download as CSV</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <p>Note: Cigar Market Share data is calculated on an annual basis.</p>
                                <td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </accordion-group>
</accordion>



<!--Second Widget - Cigar Assessment Summary-->
<!--Place them in tab panes-->

<div *ngIf="showAnyHistory()">
    <section class="widget">
        <div class="widget-body">
            <!-- *ngIf="versionnumbers.length > 0"  -->
            <div class="" style="margin-left: 5px; margin-top: 15px;">
                <div class="row h-divider">
                    <div class="col-xs-12">
                        <h2 class="h4 no-margin fw-bold" style="margin-bottom:10px;">Submission Documentation</h2>
                        <p class="h6 no-margin fw-semi-bold" style="margin-bottom: 10px;">Upload submission communications for each Submitted Market Share</p>
                    </div>
                </div>
                <div class="row breathe" style="margin-left: 7px;">
                    <button id="btn-upload" type="button" class="btn btn-primary" title="Upload" data-toggle="modal" data-target="#add-document"
                        data-backdrop data-keyboard="false" focusOn="#add-document" (click)="setSelectedDocument()">
                        <i class="fa fa-upload" aria-hidden="true"></i> Upload Document</button>
                </div>
                <table class="table table-hover table-borderless" [mfData]="docs" [(mfSortBy)]="sortBy" #mfd="mfDataTable" [mfRowsOnPage]="5"
                    [mfActivePage]="1" [mfIsServerPagination]="false" [ngBusy]="{busy: busyload, message: 'Fetching documents...', backdrop: true}"
                    id="tb-supprt-docs">
                    <colgroup>
                        <col style="width:20%">
                        <col style="width:25%">
                        <col style="width:15%">
                        <col style="width:15%">
                        <col style="width:15%">
                        <col style="width:10%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="hidden-sm-down">
                                <mfDefaultSorter by="filename" title="File Name">File Name</mfDefaultSorter>
                            </th>
                            <th class="hidden-sm-down">
                                <mfDefaultSorter by="description" title="Description">Description</mfDefaultSorter>
                            </th>
                            <th class="hidden-sm-down">
                                <mfDefaultSorter by="dateUploaded" title="Date">Date</mfDefaultSorter>
                            </th>
                            <th class="hidden-sm-down">
                                <mfDefaultSorter by="author" title="Author">Author</mfDefaultSorter>
                            </th>
                            <th class="hidden-sm-down">
                                <mfDefaultSorter by="cigarQtr" title="Quarter">Quarter</mfDefaultSorter>
                            </th>
                            <th class="hidden-sm-down">
                                <mfDefaultSorter by="versionNum" title="Version Number">Version</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let doc of mfd.data">
                            <td>
                                <a href="javascript:void(0);" aria-label="Download document" (click)="downloadDoc(doc.asmntDocId)">{{doc.filename}}</a>
                            </td>
                            <td>{{doc.description}}</td>
                            <td>{{doc.dateUploaded | datePipe}}, {{doc.dateUploaded | date:'shortTime'}}</td>
                            <td>{{doc.author}}</td>
                            <td>{{doc.cigarQtr}}</td>
                            <td>{{doc.versionNum}}</td>
                        </tr>
                    </tbody>
                    <tfoot [ngBusy]="{busy: busyDownload, message: 'Downloading...', backdrop: true}">
                        <tr>
                            <td colspan="12">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5, 10, 25]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div *ngIf="showAddDocumentPopup" add-document [docs]="docs" [versions]="versionnumbers" [quarters]="mktsharedataArrayForYear"
                 (onDocumentEdit)="documentsGridRefresh($event)" [ngBusy]="{busy: busyupload, message: 'Uploading documents...', backdrop: true}">
                </div>
            </div>
        </div>
    </section>
</div>
