<table class="table  table-hover" [mfData]="data | cigarassesspipe:filterData"
	#mf="mfDataTable" [mfRowsOnPage]="10" [mfIsServerPagination]="false" [mfActivePage]="1"  
	[(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder"
	[mfStoreState]="true" [mfNavigateUrls]="'/assessments/cigars'" [mfDataTableName]="'ca-results'">
	<thead>
		<tr>
			<th>
				<mfDefaultSorter by="assessmentYr" title="Fiscal Year">FISCAL YEAR</mfDefaultSorter>
			</th>
			<th class="hidden-sm-down">
				<mfDefaultSorter by="submittedStatusSort" title="Submission Status">SUBMISSION STATUS</mfDefaultSorter>
			</th>
			<th class="hidden-sm-down">
				<mfDefaultSorter by="createdDt" title="Created Date">CREATED DATE</mfDefaultSorter>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let assessment of mf.data; let i= index">           
			<td>				
				<a (aClick) = "toCigarAssessmentReport(assessment)" [routerLink]='["./cigars/" + i]'>{{assessment.assessmentYr}}</a>
			</td>
            <td>{{assessment.submittedInd | cigarstatuspipe}}</td>
            <td>{{assessment.createdDt}}</td>
        </tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="12">
				<mfBootstrapPaginator [rowsOnPageSet]="[5, 10, 25]"></mfBootstrapPaginator>
			</td>
		</tr>
	</tfoot>
</table>