<div class="row">
	<div class="col-md-9" ></div>
	<div class="col-md-3">
		<div class="h6 fw-semi-bold">Legend</div>
		<div class="h6 fw-semi-bold"><span class="cigar-only">C</span> - Cigars Only Reported</div>
	</div>
</div>
<table id="tbl-rpt" [ngBusy]="{busy: busy, message: 'Loading...', backdrop: true}" class="table  table-hover" [mfData]="data"
	[(mfSortBy)]="sortResultsBy" [(mfSortOrder)]="sortResultsOrder" [mfIsServerPagination]="false"
	#mf="mfDataTable" [mfRowsOnPage]="25" [mfActivePage]="1" [mfStoreState]="true" [mfNavigateUrls]="'/permit/impreport;/permit/manreport'" [mfDataTableName]="'ca-reportstatus'">
	<thead>
		<tr>
			<th scope="col" id="h-cmp-nam">
				<mfDefaultSorter by="companyName" title="Company Name">Company Name</mfDefaultSorter>
			</th>
			<th scope="col" class="hidden-sm-down" id="h-pmt-no">
				<mfDefaultSorter by="permitNum" title="TTB Permit">TTB Permit</mfDefaultSorter>
			</th>
            <th scope="col" class="hidden-sm-down" id="h-pmt-mon">
				<mfDefaultSorter by="sortMonth" title="month">Month</mfDefaultSorter>
			</th>
            <th scope="col" class="hidden-sm-down" id="h-rep-sta">
				<mfDefaultSorter by="reportStatus" title="reportStatus">Report Status</mfDefaultSorter>
			</th>
            <th scope="col" class="hidden-sm-down" id="h-rep-tob">
				<mfDefaultSorter by="reportedTobacco" title="reportedTobacco">Reported Tobacco</mfDefaultSorter>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let rptStatus of mf.data;let i = index;">
            
			<td class="hidden-sm-down" >{{rptStatus.companyName}}</td>
			<td class="hidden-sm-down" >{{rptStatus.permitNum| permitNumberPipe}}</td>
			<td>				
				{{rptStatus.month | titleCase}}
			</td>
			<td class="hidden-sm-down" >
				<a (aClick) = "showReport(rptStatus)" [routerLink]="['/app/permit', rptStatus.permitTypeCd === 'Manufacturer'?'manreport':'impreport', {PN:rptStatus.permitNum, MO:rptStatus.month}]">{{rptStatus.reportStatus}}</a>
			</td>
			<td><span *ngIf="rptStatus.reportedTobacco" [class.cigar-only]="rptStatus.reportedTobacco=='C'">{{rptStatus.reportedTobacco}}</span></td>
        </tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="12">
				<mfBootstrapPaginator [rowsOnPageSet]="[5, 10, 25]"></mfBootstrapPaginator>
			</td>
		</tr>
	</tfoot>
</table>