<div class="modal fade" id="confirm-popup-permit" tabindex="-1" role="dialog" aria-labelledby="del-doc-title" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="h4 modal-title text-xs-center fw-bold mt" id="del-doc-title">Delete Document</h4>
			</div>
			<!--Modal Body-->
			<div class="modal-body">
				<div><span><b>{{documentDesc}}</b></span></div>		
				<i>Once a document is deleted, you will not be able to access from the TUFA system.</i>
			</div>
			<!--Modal Footer-->
			<div class="modal-footer">
				<button type="button" id="btn-del-doc" class="btn btn-primary" [disabled]="btnDisable"
				 [attr.title]="documentDesc" (click)="deleteAttachment(doc.documentId)">Confirm</button>
				<button type="button" class="btn btn-secondary" (click)="reset(false)" >Cancel</button>
				<p title="Deleting" [ngBusy]="{busy: busy, message: 'Deleting...', backdrop: false}"></p>
			</div>
		</div>
	</div>
</div>