<form id="createcompany-form" class="form-horizontal" role="form" data-parsley-priority-enabled="false" novalidate="novalidate"
	data-parsley-validate data-parsley-focus="first">
	<div class="row">
		<div class="col-lg-12">
			<section class="widget h-divider">
				<div class="widget-body clearfix">

					<!--- Collapsible Panel -->
					<div class="panel-group" id="accordion">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle-main h4 no-margin fw-normal collapsed" data-toggle="collapse" data-parent="#accordion" 
										aria-expanded="false" aria-controls="#collapseOne" href="#collapseOne">
										{{company?.legalName}} Information
									</a>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse">
								<div class="panel-body">
									<div class="row">
										<div class="col-lg-12">
											<section class="widget noborder">
												<div class="widget-body clearfix">
													<div class="row flex-nowrap">
														<div class="col-xs-9">
															<p class="no-margin "><strong>EIN: </strong>{{company?.einNumber | einPipe}}</p>
															<p class="no-margin "><strong>Created: </strong>{{company?.createdDt}}</p>
															<p class="no-margin "><strong>Status: </strong>{{company?.companyStatus | companyStatusPipe}}</p>
														</div>
													</div>
												</div>
											</section>
										</div>
									</div>
									<div class="row" *ngIf="addresses?.length > 0">
										<div class="col-lg-12">
											<h5>
												<span class="fw-semi-bold">Company Addresses</span>
											</h5>
										</div>
									</div>
									<div *ngFor="let address of addresses">
										<div class="row">
											<div class="col-lg-offset-1 col-lg-12">
												<section class="widget">
													<div class="widget-body clearfix">
														<div class="row flex-nowrap">
															<div class="col-xs-6">
																<p class="no-margin" *ngIf = "address?.attention">Attention: {{address?.attention}}</p>
																<p class="no-margin ">{{address?.streetAddress}}<span *ngIf = "address?.suite">, SUITE  {{address?.suite}}</span></p>							
																<p class="no-margin ">{{address?.city}}, {{address?.state}}{{address?.province}} {{address?.postalCd}}</p>
																<p class="no-margin ">{{address?.countryNm}}</p>
															</div>
														</div>
													</div>
												</section>
											</div>
										</div>
									</div>
									<div class="row" *ngIf="contacts?.length > 0">
										<div class="col-lg-12">
											<h5>
												<span class="fw-semi-bold">Points of Contact</span>
											</h5>
										</div>
									</div>
									<div *ngFor="let contact of contacts">
										<div class="row">
											<div class="col-lg-12">
												<section class="widget">
													<div class="widget-body clearfix">
														<div class="row flex-nowrap">
															<div class="col-lg-5">
																<p class="h6 no-margin fw-normal"><strong>{{contact.firstNm}} {{contact.lastNm}}</strong></p>												
																<p class="no-margin ">{{contact.emailAddress}}</p>
															</div>
															<div class="col-lg-5">
																<p  *ngIf="contact.phoneNum && contact.phoneNum != ' ' " class="no-margin ">Phone {{contact.cntryDialCd}} {{contact.phoneNum | phoneNumberPipe:contact.cntryDialCd}}</p>
																<p *ngIf="contact.phoneExt && contact.phoneExt != ' ' " class="no-margin"> ext: {{contact.phoneExt}}</p>
																<p *ngIf="contact.faxNum && contact.faxNum != ' ' " class="no-margin " >Fax {{contact.cntryFaxDialCd}} {{contact.faxNum | phoneNumberPipe:contact.cntryFaxDialCd}}</p>
															</div>
														</div>
													</div>
												</section>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

    <div aria-live="assertive"> 	
		<div role="alert" *ngIf="showErrorFlag" class="row">
			<div class="col-lg-12 col-xs-12">
				<div class="form-group row">
					<div class="col-md-12 col-xs-12">
						<alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'">
							<div [innerHTML]="alert.msg"></div>
						</alert>
					</div>
				</div>
			</div>
		</div>	
    </div>
</form>

<!--END   Company Information-->