<div class="modal fade" id="edit-document" tabindex="-1" role="dialog" aria-labelledby="edit-document-title"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<!--Modal Header-->
			<div class="modal-header">
				<h4 class="h4 modal-title text-xs-center fw-bold mt" id="edit-document-title">
					<span *ngIf="doc.docDesc">Edit</span>
					<span *ngIf="!doc.docDesc">Upload</span> Document</h4>
			</div>
			<!--Modal Body-->
			<div class="modal-body">
				<form id="editattachmentform" #editattachmentform="ngForm" role="form" class="form-horizontal"
					data-parsley-priority-enabled="false" novalidate="novalidate" data-parsley-validate
					data-parsley-focus="first">

					<div *ngIf="!doc.docDesc" class="form-group row">
						<label for="fileUpload" class="col-md-4 form-control-label text-md-right">Browse
							<span class="help-block">PDF Document is Required</span>
						</label>
						<div class="col-md-8 col-xs-12">
							<div class="fileinput fileinput-new input-group" data-provides="fileinput">
								<div class="form-control" data-trigger="fileinput">
									<i class="fa fa-file fileinput-exists"></i>
									<span class="fileinput-filename" style="word-wrap: break-word; width: 90%;"></span>
								</div>
								<span class="input-group-addon btn btn-secondary btn-file">
									<span class="fileinput-new">Select file</span>
									<span class="fileinput-exists">Change</span>
									<input name="..." type="file" id="fileUpload" title="Upload File"
										(change)="fileChangeEvent($event)" accept="application/pdf" required
										data-parsley-errors-container="#pdfdocerror"
										data-parsley-required-message="Error: PDF Document is required">
								</span>
							</div>
							<div id="pdfdocerror"></div>
							<div *ngIf="isExtensionNotPDF"> <span class="text-danger">Error: Uploaded file is not a PDF
									document type</span></div>
							<div *ngIf="isFileTooLarge"> <span class="text-danger">Error: Uploaded file size is greater
									than 25mb</span></div>
						</div>
					</div>

					<!--File Name-->
					<div class="form-group row">
						<label for="fileNm" class="col-md-4 form-control-label text-md-right">File Name
							<span class="help-block">Required field</span>
						</label>
						<div class="col-md-8 col-xs-12">
							<input type="text" class="form-control" id="fileNm" [(ngModel)]="docFileName"
								(ngModelChange)="fileNameCHnaged($event)" name="Decription" title="File Name" required
								data-parsley-required-message="Error: File Name is required">
						</div>
					</div>

					<!--Form Types-->
					<div class="form-group row">
						<label for="formTypes" class="col-md-4 form-control-label text-md-right">Form
							<span class="help-block">Required field</span>
						</label>
						<div class="col-md-8 col-xs-12">
							<input id="formTypes" type="hidden" name="toggle" [(ngModel)]="types" required>
							<div *ngFor="let obj of selFormTypes;">
								<label class="checkbox-row" [ngClass]="types.indexOf(obj) > -1 ? 'checked' : ''">
									<input title="Form Types" type="checkbox" [checked]="types.indexOf(obj) > -1"
										data-parsley-multiple="checkbox" data-parsley-mincheck="1" required
										data-parsley-error-message="Error: Please choose a form type"
										data-parsley-errors-container="#formTypesError"
										(change)="seeNTypes($event, obj);"> {{obj}}
								</label>
							</div>
							<label class="checkbox-row" [ngClass]="selectAllFlag ? 'checked' : ''">
								<input type="checkbox" (change)="selectAll($event)"> Select All
							</label>
							<div id="formTypesError"></div>
						</div>
					</div>
				</form>
			</div>
			<!--Modal Footer-->
			<div class="modal-footer">
				<div class="row container-fluid">
					<div class="col-lg-6">
						<div *ngIf="warningFlag" class="alert alert-warning" style="text-align: left">
							<span class="no-margin fw-normal alert-text">
								<strong>Warning:</strong> Uploaded file name does not match current permit.</span>
						</div>
					</div>
					<div class="col-lg-6 btn-toolbar">
						<button type="button" id="btn-save-doc" class="btn btn-primary" [disabled]="btnDisable"
							title="Save" (click)="uploadAttachment()">Save Document</button>
						<button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
					</div>
					<p title="Uploading" [ngBusy]="{busy: busy, message: 'Uploading...', backdrop: false}"></p>
					<p title="Editing" [ngBusy]="{busy: edit, message: 'Uploading...', backdrop: false}"></p>
				</div>
			</div>
		</div>
	</div>
</div>