<form id="permitForm" #permitForm="ngForm" class="form-horizontal" role="form" data-parsley-priority-enabled="false" novalidate="novalidate"
  data-parsley-validate data-parsley-focus="first">
  <div class="modal fade" id="edit-permit" tabindex="-1" role="dialog" aria-labelledby="edit-permit-title" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="h4 modal-title text-xs-center fw-bold mt" id="edit-permit-title">Add Permit</h3>
        </div>
        <div class="modal-body">
          <div data-ng-controller="PermitHistoryController">
            <div class="row">
              <div class="col-lg-12 col-xs-12">
                <section class="widget" style="margin-bottom: 10px;">
                  <div aria-live="assertive" class="widget-body clearfix">
                      <div class="form-group row">
                        <label for="permit-num" class="col-md-4 form-control-label text-md-right">
                                            TTB Permit
                                            <span class="help-block">Required field</span>
                                        </label>
                        <div class="col-md-6 col-xs-12">
                          <input role="alert" type="text" id="permit-num" class="form-control" placeholder="TTB Permit" [(ngModel)]="permitNumber" [textMask]="{mask: mask, guide:false}"
                            name="permitNum" #field="ngModel" pattern="[a-zA-Z]{2}-[a-zA-Z]{2}-\d{1,5}(?!\d)" [ngModelOptions]="{standalone: true}"
                            required title="TTB Permit" (ngModelChange) = "selectType()"
                            required data-parsley-error-message = "Error: TTB Permit requires appropriate format (e.g. AA-BB-12345)">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="permit-type" class="col-md-4 form-control-label text-md-right">
                          Type
                          <span class="help-block">Required field</span>
                        </label>
                        <div role="alert" class="col-md-6 col-xs-12">
                          <select [(ngModel)]="permitType" title="Permit Type" name="permitType" class="form-control fdatable" id="permit-type" required
                          data-parsley-required-message="Error: Type is required">
                            <option [disabled]='product === "Select Type"'
                            *ngFor="let product of permittypeList" [value]="product">
                            {{product}}
                            </option>
                          </select>
                        </div>
                      </div>

                      <div class="form-group row">
                      <label for="active-date" class="col-md-4 form-control-label text-md-right">
                           TUFA Active Date
                            <span class="help-block">Required field</span>
                      </label>
                      <div role="alert" class="col-md-6 col-xs-12">
                        <datetime  required [dateinputID]="activedateid" [timepicker]="false" [(ngModel)]="model.issueDt" title="Active Date" required
                          data-required-message="Error: TUFA Active Date is required" [datepicker]="datepickerOpts" id="act-dtpckr" name="active-date"></datetime>
                      </div>
                    </div> 
                  </div>
                </section>
              </div>
            </div>

            
          </div>
        </div>
        <div class="modal-footer" style="display: block;">
          <div aria-live="assertive"> 
            <div class="row">
               <div class="col-md-7" role="alert">                
                  <div  *ngIf="showErrorFlag">
                    <div>
                      <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'">
                        <div style="text-align: left;" [innerHTML]="alert.msg"></div>
                      </alert>
                    </div>
                  </div>
                </div>
                <div class="btn-toolbar col-md-5">
                  <button type="text" id="btn-create" class="btn btn-primary" (click)="createPermit(model)">Save Permit</button>
                  <button type="button" class="btn btn-secondary" (click)="reset(false);">Cancel</button>
                </div>
              </div>
            </div>          
        </div>
      </div>
    </div>
  </div>
</form>