// @import "../../scss/bootstrap-datepicker3.min";
// @import "../../../../node_modules/bootstrap-select/dist/css/bootstrap-select";
// @import "../../scss/variables";
// @import "../../../../node_modules/bootstrap/scss/_variables";
// @import "../../../../node_modules/bootstrap/scss/mixins";
@import "./../../../scss/helpers";

/**
* datetime
**/
.input-group {
  width: auto;
  .input-group-text {
    padding: .375rem .75rem .375rem .75rem;
  }
}

.glyphicon {
  top: 3px;
}

.PermitHistoryController{width:90%;}
.errorp{
  font-size: $font-size-smaller;
  padding-left: 0;
  margin-bottom: 5px;
  color: $brand-danger;
}