<div class="modal fade" id="nav-confirm-popup" tabindex="-1" role="dialog" aria-labelledby="nav-title" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="h4 modal-title text-xs-center fw-bold mt" id="nav-title">Unsaved changes?</h4>
			</div>
			<!--Modal Body-->
			<div class="modal-body">
				<div><span><b>{{documentDesc}}</b></span></div>		
				<i>Once you navigate, all of your unsaved changes will be lost</i>
			</div>
			<!--Modal Footer-->
			<div class="modal-footer">
				<button type="button" id="btn-ok" class="btn btn-primary" (click)="reset(true)">Ok</button>
				<button type="button" class="btn btn-secondary" (click)="reset(false)" >Cancel</button>
			</div>
		</div>
	</div>
</div>