<div class="row">          
          <div class="col-lg-offset-2 col-lg-12">
            <section class="widget h-divider">
              <!--section/widget header-->
              <header>
                <div class="row h-box-bot-divider">
                  <div class="col-xs-10">
                    <h4 class="h4 no-margin fw-semi-bold">Assessments</h4>
                  </div>
                </div>
              </header>   
              <!--widget body-->                         
              <div class="widget-body clearfix">
                <!--- Collapsible Panel -->
                <div class="row flex-nowrap">
                    <div class="col-xs-10">
                        <p>All tobacco classes must be approved before submitting a Market Share for Quarterly, Cigar or Annual Assessment/True-Up</p>
                    </div>
                </div>
                <div class="row flex-nowrap">
                    <div class="col-md-2">
                      <button id="btn-recon" type="button" class="btn btn-primary btn-block" [disabled]="disableBtn" (click)="updateReconStatus();">Recon</button>                        
                    </div>
                    <div class="col-md-4">
                    </div>                      
                    <div class="col-md-6">
                      <ul style="list-style: none">
                        <li><span class="fw-semi-bold">User:</span> {{periodData.reconStatusModifiedBy}}</li>
                        <li><span class="fw-semi-bold">Timestamp:</span> {{periodData.reconStatusModifiedDt}}</li>
                        <li><span class="fw-semi-bold">Status:</span> {{periodData.reconStatusTypeCd}}</li>
                      </ul>                        
                    </div>                      
                </div> 
              </div>
			      </section>
          </div>     
      </div>  