<form id="permitHistoryForm" #permitHistoryForm="ngForm" class="form-horizontal parsleyjs" role="form" method="post" data-parsley-priority-enabled="false"
  novalidate="novalidate" data-parsley-focus="first">
  <ol class="breadcrumb" *ngIf='breadcrumb===""'>
    <li class="breadcrumb-item">
      <a [routerLink]='["/app/company/search"]'>Daily Operations</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]='["/app/company/details", company.companyId]'>Company Details</a>
    </li>
    <li class="breadcrumb-item active">
      <a href="javascript:void(0)">Permit History</a>
    </li>
  </ol>
  <ol class="breadcrumb" *ngIf='(breadcrumb === "qa-reconreport") || (breadcrumb === "qa-reportstatus")'>
    <li class="breadcrumb-item">
      <a href="javascript:void(1)" (aClick)="toAssessments()" id="lnk-assessments">Assessments</a>
    </li>
    <li class="breadcrumb-item">
      <a href="javascript:void(2)" id="lnk-qa" (aClick)="toQuarterlyAssessment()">Quarterly Assessment</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]='["/app/company/details", company.companyId]'>Company Details</a>
    </li>
    <li class="breadcrumb-item active">
      <a href="javascript:void(0)">Permit History</a>
    </li>
  </ol>
  <ol class="breadcrumb" *ngIf='(breadcrumb === "ca-reconreport") || (breadcrumb === "ca-reportstatus")'>
    <li class="breadcrumb-item">
      <a href="javascript:void(1)" (aClick)="toAssessments()" id="lnk-assessments">Assessments</a>
    </li>
    <li class="breadcrumb-item">
      <a href="javascript:void(2)" (aClick)="toCigarAssessment()" id="lnk-ca">Cigar Assessment</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]='["/app/company/details", company.companyId]'>Company Details</a>
    </li>
    <li class="breadcrumb-item active">
      <a href="javascript:void(0)">Permit History</a>
    </li>
  </ol>
  <ol class="breadcrumb" *ngIf='breadcrumb === "at-reconreport"'>
    <li class="breadcrumb-item">
      <a href="javascript:void(1)" (aClick)="toAssessments()" id="lnk-assessments">Assessments</a>
    </li>
    <li class="breadcrumb-item">
      <a href="javascript:void(2)" (aClick)="toAnnualTrueup()" id="lnk-at">Annual True-Up</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]='["/app/company/details", company.companyId]'>Company Details</a>
    </li>
    <li class="breadcrumb-item active">
      <a href="javascript:void(0)">Permit History</a>
    </li>
  </ol>
  <ol class="breadcrumb" *ngIf='breadcrumb === "at-comparedetails"'>
    <li class="breadcrumb-item">
      <a href="javascript:void(1)" (aClick)="toAssessments()" id="lnk-assessments">Assessments</a>
    </li>
    <li class="breadcrumb-item">
      <a href="javascript:void(2)" (aClick)="toAnnualTrueup()" id="lnk-at">Annual True-Up</a>
    </li>
    <li class="breadcrumb-item">
      <a href="javascript:void(3)" id="lnk-comdetails" (aClick)="toCompareDetails()">Compare Details</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]='["/app/company/details", company.companyId]'>Company Details</a>
    </li>
    <li class="breadcrumb-item active">
      <a href="javascript:void(0)">Permit History</a>
    </li>
  </ol>
  <ol class="breadcrumb" *ngIf='breadcrumb === "at-compare-selMethod"'>
    <li class="breadcrumb-item">
      <a href="javascript:void(1)" (aClick)="toAssessments()" id="lnk-assessments">Assessments</a>
    </li>
    <li class="breadcrumb-item">
      <a href="javascript:void(2)" id="lnk-at" (aClick)="toAnnualTrueup()" id="lnk-at">Annual True-Up</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]='["/app/company/details", company.companyId]'>Company Details</a>
    </li>
    <li class="breadcrumb-item active">
      <a href="javascript:void(0)">Permit History</a>
    </li>
  </ol>
  <ol class="breadcrumb" *ngIf='breadcrumb === "permit-mgmt"'>
    <li class="breadcrumb-item">
      <a [routerLink]='["/app/permit-mgmt"]' id="lnk-permmgmt">Permit Management</a>
    </li>
    <li class="breadcrumb-item">
      <a href="javascript:void(1)" (aClick)="toFileMgmt()" id="lnk-filemgmt">File Management</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]='["/app/company/details", company.companyId]'>Company Details</a>
    </li>
    <li class="breadcrumb-item active">
      <a href="javascript:void(0)">Permit History</a>
    </li>
  </ol>
  <ol class="breadcrumb" *ngIf='breadcrumb==="company-tracking"'>
    <li class="breadcrumb-item">
      <a [routerLink]='["/app/company/tracking"]' id="lnk-comp-tracking">Company Tracking</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]='["/app/company/details", company.companyId]'>Company Details</a>
    </li>
    <li class="breadcrumb-item active">
      <a href="javascript:void(0)">Permit History</a>
    </li>
  </ol>
  <h1 class="h1 page-title">Permit History</h1>
  <div class="PermitHistoryController" data-ng-controller="PermitHistoryController">
    <div class="row">
      <div class="col-lg-12 col-xs-12">
        <section class="widget h-divider">
          <header>
            <div class="row flex-nowrap">
              <div class="col-md-8">
                <h2 id="cmp-name" class="h4 no-margin fw-normal">{{company.legalName}}</h2>
              </div>
              <div class="col-md-4" style="text-align: right;">
                <h3 id="pmt-typ" class="h6 no-margin fw-normal">{{model.permitTypeCd}}</h3>
                <h3 id="pmt-num" class="h4 no-margin fw-normal">{{permitNumber}}</h3>
              </div>
            </div>
          </header>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-xs-12">
        <section class="widget h-divider">
          <header>
            <div class="row flex-nowrap">
              <div class="col-xs-8">
                <h2 id="pmt-info" class="h4 no-margin fw-semi-bold">Permit Information</h2>
              </div>
              <div class="col-md-10" style="text-align: right;">
                <h3 *ngIf="excludeStatusFlag" class="h6 no-margin fw-normal" id="warning">
                  <i class="fa fa-warning"></i> Status: Excluded</h3>
              </div>
            </div>
          </header>
          <div class="widget-body clearfix">
            <div class="form-group row">
              <label for="permitNum" class="col-md-4 form-control-label text-md-right">
                TTB Permit
                <span class="help-block">Required field</span>
              </label>
              <div class="col-md-4 col-xs-12">
                <input type="text" id="permitNum" class="form-control" placeholder="TTB Permit" [(ngModel)]="permitNumber" title="TTB Permit Number"
                  [textMask]="{mask: mask, guide:false}" name="permitNum" #field="ngModel" pattern="[a-zA-Z]{2}-[a-zA-Z]{2}-\d{1,5}(?!\d)"
                  [ngModelOptions]="{standalone: true}" required required data-parsley-error-message="Error: TTB Permit requires appropriate format (e.g. AA-BB-12345)">

              </div>
            </div>

            <div class="form-group row">
              <label for="permit-type" class="col-md-4 form-control-label text-md-right">
                Type
              </label>
              <div class="col-md-4 col-xs-12">
                <input id="permit-type" class="form-control" [value]="permitTypeCd" [attr.title]="permitTypeCd" readonly data-parsley-required-message="Error: Type is required"
                />
              </div>
            </div>

            <div class="form-group row">
              <label for="permitStatusTypeCd" class="col-md-4 form-control-label text-md-right">
                Permit Status
                <span class="help-block">Required field</span>
              </label>
              <div class="col-md-4 col-xs-12">
                <select data-minimum-results-for-search="10" data-placeholder="Select Contact Person" class="select2 form-control" title="Permit Status"
                  id="permitStatusTypeCd" [(ngModel)]="model.permitStatusTypeCd" (ngModelChange)="toggle(model)" name="permitStatusTypeCd">
                  <option value="CLSD">Closed</option>
                  <option value="ACTV">Active</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="active-date" class="col-md-4 form-control-label text-md-right">
                TUFA Active Date
                <span class="help-block">Required field</span>
              </label>
              <div class="col-md-2 col-xs-2">
                <datetime [dateinputID]="activedateid" [required]="true" [timepicker]="false" [(ngModel)]="date2" title="Active Date" [datepicker]="datepickerOptsActv"
                  id="act-dtpckr" name="active-date">
                </datetime>
              </div>

              <label for="ttbissue-date" class="col-md-1.5 form-control-label">
                TTB Issue Date
                <span class="help-block">Required field</span>

              </label>
              <div class="col-md-2 col-xs-2" style="margin-left: 10px;">
                <datetime [dateinputID]="ttbissuedateid" [required]="true" [timepicker]="false" [(ngModel)]="date4" title="TTB Issue Date"
                  [datepicker]="datepickerttbOptsActv" id="act-dtpckr" name="ttbactive-date">
                </datetime>
              </div>

            </div>

            <!-- display closed date only if status is closed -->
            <div *ngIf="model.permitStatusTypeCd == 'CLSD'" class="form-group row">
              <label for="close-date" class="col-md-4 form-control-label text-md-right">
                TUFA Inactive Date
                <span class="help-block">Required field</span>
              </label>
              <div class="col-md-2 col-xs-2">
                <datetime [dateinputID]="closeddateid" [timepicker]="false" [(ngModel)]="date3" title="TUFA Close Date" [datepicker]="datepickerOptsClsd"
                  id="cls-dtpckr" name="TUFA-close-date" [required]="true">
                </datetime>
              </div>
              <label for="close-date" class="col-md-1.5 form-control-label">
                TTB Closed Date
                <span class="help-block">Required field</span>
              </label>
              <div class="col-md-2 col-xs-2">
                <datetime [dateinputID]="TTBcloseddateid" [timepicker]="false" [(ngModel)]="date5" title="TTB Closed Date" [datepicker]="datepickerttbOptsClsd"
                  id="cls-dtpckr" name="TTB-close-date" [required]="true">
                </datetime>
              </div>

              <div class="row" *ngIf="showInactiveerror" class="font-italic" [ngClass]="{'text-danger':true}"> Permit cannot be closed with an Inactive Date earlier than the Active Date</div>
            </div>

            <div class="row">
              <div class="col-md-10">
              </div>
              <div class="col-md-2">
                <button type="button" class="btn btn-primary btn-block" (click)="SavePermitHistory(model)" title="Save Permit Information">
                  Save
                </button>
              </div>
            </div>


          </div>
        </section>
      </div>
    </div>





    <!-- <div ng-busy></div>
       <div *ngIf="showConfirmDeletePopup" confirm-popup [model]="selectedDocument" (onDocumentEdit)="documentsGridRefresh($event, 'delete')"></div>
    </div> -->


    <!--Panel for Excluding from Marketshare-->

    <!-- <div permit-marketshare-exclude [permitIds]="permitId" [companyId]="company.companyId"></div> -->

    <!-- <div comments-panel [objectId]="permitId" [comment]="model?.permitComments" (onCommentEdit)="permitInfoRefresh($event)" [objectType]="'Permit'"></div> -->
    <!-- added for cooments User Story CTPTUFA-4891-->
    <div class="row">
      <div class="col-lg-12 col-xs-12">
        <section class="widget h-divider">
          <div class="widget-body">
            <div comments-grid [comments]="permitHistorycomments" [page]="permithistory" [permitIds]="permitId" (commentAddedForPermitHistory)="getLatestComment($event)"></div>
          </div>
        </section>
      </div>
    </div>
    <!-- 4844: Document History
<div class="row">
  <div  class="col-lg-12 col-xs-12">
    <section class="widget h-divider" style="overflow-x:auto;">
      <form class="form-horizontal" role="form">
        <div class="widget-body clearfix">
          <div class="row flex-nowrap" style="margin-bottom: 15px;">
            <div class="col-lg-4 col-md-3 col-sm-2">
              <h2 class="h4 no-margin fw-normal">Documentation</h2>
            </div>
           </div>
          <div class="row">
            <div style="padding-left:0px;">
              <button id="btn-upload" type="button" class="btn btn-primary btn-block" title="Upload" data-toggle="modal" data-target="#edit-document-permit"
                data-backdrop="static" data-keyboard="false" focusOn="#edit-document-permit" (click)="setSelectedDocument(this.newDoc, 'edit')" 
                style="white-space: nowrap; width: 200px; margin-bottom: 6px;">
                <i class="fa fa-upload" aria-hidden="true"></i> Upload Document</button>
            </div>   
          </div>
        </div>
      </form>
      <div class="widget-body clearfix">        
        <table [ngBusy]="{busy: busy, message: 'Loading...', backdrop: false}" class="table table-hover" [mfData]="permitDocData" #mf1="mfDataTable"
        [mfIsServerPagination]="false" [mfRowsOnPage]="10">
        
          <colgroup>
            <col style="width:30%">
            <col style="width:25%">
            <col style="width:33%">
          </colgroup>
          <thead>
            <tr>
              <th>
                FILE NAME
              </th>
              <th class="hidden-sm-down">
               UPLOADED BY
              </th>
              <th class="hidden-sm-down">
               DATE UPLOADED
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody [ngBusy]="{busy: downloading, message: 'Downloading...', backdrop: false}">
            <tr *ngFor="let docfile of mf1.data; let i = index; let last = last"> 
              <td>
                <span class="fw-semi-bold">
                  <a target="_blank" (click)="enableLinkAuth(true)" href="api/reports/view/permit/attachs/{{docfile.documentId}}">
                    {{docfile.docDesc}}
                  </a>
                </span>
              </td>
              <td class="hidden-sm-down">{{docfile.createdBy}} </td>
                <td class="hidden-sm-down">{{docfile.createdDt | datePipe}} </td>

                <td style="white-space:nowrap">
                  <div class="row-action-buttons">

                    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#confirm-popup" focusOn="#confirm-popup"
                      data-backdrop="static" data-keyboard="false" style="white-space: nowrap;" (click)="setSelectedDocument(this.docfile, 'delete')">
                      <i class="fa fa-trash"></i> Delete</button>
                    
                    <button type="button" class="btn btn-outline-primary"  (click)="downloadSelectedDocument(this.docfile)" style="white-space: nowrap;">
                      <i class="fa fa-arrow-circle-o-down"></i> Download</button>
                  </div>
                </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="12">
               
              </td>
            </tr>
          </tfoot>
        </table>
      </div>

      <br/>
    
    </section>
  </div>
  </div>
  4844 ends-->
    <div class="row">
      <div class="col-lg-12">
        <section class="widget h-divider" widget>

          <div class="widget-body">
            <table [ngBusy]="{busy: busy, message: 'Loading...', backdrop: false}" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder"
              [mfIsServerPagination]="false" class="table  table-hover" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10"
              [mfNavigateUrls]="'permit'" [mfDataTableName]="'permit-history'" [mfStoreState]="true">
              <colgroup>
                <col style="width:45%">
                <col style="width:45%">
                <col style="width:10%">
              </colgroup>
              <thead>
                <tr>
                  <th scope="col" id="h-pd-act">
                    <mfDefaultSorter by="sortMonthYear" title="Period of Activity">Period of Activity</mfDefaultSorter>
                  </th>
                  <th scope="col" class="hidden-sm-down" id="h-rpt-sta">
                    <mfDefaultSorter by="reportStatusCd" title="Report Status">Report Status</mfDefaultSorter>
                  </th>
                  <th scope="col" class="hidden-sm-down " id="h-rpt-action">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let permit of mf.data;let i = index">
                  <td class="fw-semi-bold blue">
                    <a [routerLink]="['/app/permit', permit.permitTypeCd === 'Manufacturer'?'manreport':'impreport']" (aClick)="toPeriodofActivity(permit)">{{permit.displayMonthYear}}</a>
                  </td>
                  <td class="fw-semi-bold" tabindex="0">{{permit.reportStatusCd}}</td>
                  <td class="fw-semi-bold " tabindex="0" [attr.title]="Action">
                    <button type="button" class="btn btn-outline-danger " data-toggle="modal" data-target="#confirm-popup" [attr.title]=" 'Delete Monthly report for ' + permit.displayMonthYear"
                      focusOn="#confirm-popup" data-backdrop="static" data-keyboard="false" (click)="setSelectedMR(this.permit)">
                      <i style="top: 3px" class="fa fa-trash"></i> Delete</button>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="12">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5, 10, 25]"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </section>
      </div>
    </div>
    <div aria-live="assertive">
      <div role="alert" *ngIf="showErrorFlag" class="row">
        <div class="col-lg-12 col-xs-12">
          <div class="form-group row">
            <div class="col-md-12 col-xs-12">
              <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'">
                <div [innerHTML]="alert.msg"></div>
              </alert>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showEditDocumentPopup" edit-document-permit [documentModel]="selectedDocument" (onDocumentEdit)="documentsGridRefresh($event, 'edit')"></div>
  <div *ngIf="showConfirmDeletePopup" confirm-popup-permit [model]="selectedDocument" (onDocumentEdit)="documentsGridRefresh($event, 'delete')"></div>
  <div *ngIf="showConfirmPopup" confirm-popup-ph [model]="selectedMonthlyReport" (callBack)="deleteMonthlyReport(selectedMonthlyReport)"
    (hideModal)="showConfirmPopup = false" [msg]="msg" [title]="title"></div>

</form>