/**
Collapsible accordian
***/

button[type='button']{
    margin: 10px;
}

.helperBar{    
    margin-left: -44px;
    margin-top: -42px;
    background-color: #262626;
    position: fixed;
    z-index: 10;
    width: 100%;
}
