
		<div style=" margin-left: -200px;">

            <div class="row helperBar">
                <button (click)="incrementZoom(-0.1)" type="button" class="btn btn-outline-primary" title="Zoom out">
                    <i class="fa fa-search-minus" aria-hidden="true"></i> Out
                </button>
                <button (click)="incrementZoom(0.1)" type="button" class="btn btn-outline-primary" title="Zoom in">
                    <i class="fa fa-search-plus" aria-hidden="true"></i> In
                </button>
                <button (click)="rotate(-90)" type="button" class="btn btn-outline-primary" title="Rotate left"><i class="fa fa-rotate-left" aria-hidden="true"></i> Left</button>
                <button (click)="rotate(90)" type="button" class="btn btn-outline-primary" title="Rotate right"><i class="fa fa-rotate-right" aria-hidden="true"></i> Right</button>
				<button (click)="downloadAttach()" type="button" class="btn btn-outline-primary" title="Download"><i class="fa fa-download" aria-hidden="true"></i> Download</button>
            </div>

			<pdf-viewer [ngBusy]="{busy: load, message: 'Loading...', backdrop: false}" #myPdfViewer
				[src]="pdfSource"
				[rotation]="rotation"
				[original-size]="originalSize"
				[show-all]="showAll"
				[zoom]="zoom"
				[render-text]="renderText"
            ></pdf-viewer>

		</div>