<div style="margin-top:40px;">
    <div>
        <span class="h4 no-margin fw-normal">Comments</span>
    </div>
    <div class="" *ngIf="data?.length>0" style="overflow-x: auto;">
        <table [ngBusy]="{busy: busy, message: 'Loading...', backdrop: true}" [(mfSortBy)]="sortResultsBy" [(mfSortOrder)]="sortResultsOrder"
            (mfOnLocalPageChange)="resetShowEditArray()" class="table table-hover" [mfData]="data" #mf="mfDataTable" [mfIsServerPagination]="false"
            [mfRowsOnPage]="5" [mfActivePage]="1" style="overflow-wrap: break-word; border-collapse: separate; border-spacing: 0px;">
            <colgroup *ngIf="!showAttachments">
                <col style="width:60%">
                <col style="width:15%">
                <col style="width:15%">
                <col style="width:10%">
            </colgroup>
            <colgroup *ngIf="showAttachments">
                <col style="width:35%">
                <col style="width:15%">
                <col style="width:15%">
                <col style="width:10%">
                <col style="width: 150px;">
                <col style="width:10%">
            </colgroup>
            <thead class="topBorder">
                <tr>
                    <th class="descWidth" scope="col" id="h-comm-desc">
                        <mfDefaultSorter by="userComment">DESCRIPTION</mfDefaultSorter>
                    </th>
                    <th class="authorWidth" scope="col" id="h-comm-author">
                        <mfDefaultSorter by="author" title="author">AUTHOR</mfDefaultSorter>
                    </th>
                    <th class="dateWidth" scope="col" id="h-comm-date">
                        <mfDefaultSorter by="commentDate" title="date added">DATE ADDED
                        </mfDefaultSorter>
                    </th>
                    <!-- New Checkbox -->
                    <th class="checkWidth" scope="col" id="h-comm-checkbox" style="white-space: nowrap;">Resolved</th>
                    <ng-container *ngIf="showAttachments">
                        <th></th>
                        <th scope="col" id="h-comm-attachments" style="white-space: nowrap;">Attachments</th>
                    </ng-container>
                </tr>

            </thead>

            <tbody class="scrollbar-dynamic-comment-grid">
                <tr *ngFor="let comment of mf.data; let i = index" [style.color]="(comment.resolveComment || comment.resolveComment)  ? '#d3d3d3':'' ">
                    <!-- Manipulate visibility of pencil Icon -->
                    <td style="word-break: break-all;" class="setwidthdescr">
                        <ng-container *ngIf="!showEditArray[i]">
                            <span [id]="'com-'+ i" title="Comment">{{comment.userComment}}</span>
                            <i *ngIf='!comment.resolveComment && canEditComment(comment.author)' title="Edit Comment" (click)='onInlineEditCommentClick(i,comment.userComment)'
                                class="fa fa-pencil" style="margin:3px 0px 0px 5px;color:green"></i>
                        </ng-container>
                        <ng-container *ngIf="showEditArray[i]">
                            <textarea maxlength="4000" rows="2" cols="35" [id]="'txtarea-'+ i" title="Comment" maxlength="4000" [(ngModel)]="commentEdit"></textarea>
                            <i *ngIf='!comment.resolveComment && canEditComment(comment.author) && commentEdit?.length > 0' title="Save Comment" (click)="onEditCommentClick(comment)"
                                class="fa fa-save" style="margin:3px 0px 0px 5px;color:orange">
                            </i>
                            <i *ngIf='!comment.resolveComment' title="Cancel Comment" (click)="onCancelCommentClick(i)" class="fa fa-ban" style="margin:3px 0px 0px 5px;color:red">
                            </i>
                            <br/>
                            <span>{{commentEdit ? commentEdit.length : 0}}/4000</span>
                        </ng-container>
                    </td>
                    <td class="authorWidth">{{comment.author}}</td>
                    <td class="dateWidth">{{comment.commentDate | dateTime}}</td>
                    <td class="checkWidth">
                        <label class="custom-control custom-checkbox">
                            <input #check type="checkbox" [(ngModel)]="comment.resolveComment" (ngModelChange)="saveComment(comment)" [ngModelOptions]="{standalone: true}"
                                class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-label"></span>
                        </label>
                    </td>
                    <ng-container *ngIf="showAttachments">
                        <td style="white-space: pre;">
                            <button id="btn-upload" type="button" class="btn btn-outline-primary" title="Upload" data-toggle="modal" data-target="#edit-document-comments"
                                data-backdrop="static" data-keyboard="false" focusOn="#edit-document-comments" (click)="openPopup(comment.commentSeq)">
                                <i class="fa fa-upload" aria-hidden="true"></i> Attachment</button>
                        </td>
                        <td>{{comment.attachmentsCount}} document(s)</td>
                    </ng-container>
                </tr>
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="6">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5, 10, 25]"></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="row" *ngIf="!handleSave">
        <textarea id="commentdesc" title="Comment Description" class="form-control" title="Comment Description" maxlength="4000"
            [ngModel]="commentArea" (ngModelChange)="commentAreaChange.emit($event)" rows="3" required="required" data-parsley-required-message="Error: Comment description is required">                             
                </textarea>
        <span class="float-right">{{commentArea ? commentArea.length : 0}}/4000</span>
    </div>
    <div *ngIf="showDocumentUploadPopup" edit-document-comments [documentModel]="selectedDocument" [commentSeq]="commentSeq"
        (onDocumentClose)="showDocumentUploadPopup = $event;" (documentCount)="updateAttacmnetsCount($event)"></div>
</div>