<div class="modal fade" id="edit-document-comments" tabindex="-1" role="dialog" aria-labelledby="edit-document-title" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<!--Modal Header-->
			<div class="modal-header">
				<h4 class="h4 modal-title text-xs-center fw-bold mt" id="edit-document-title">
					<span *ngIf="doc.docDesc">Edit</span>
					<span *ngIf="!doc.docDesc">Attach</span> Document</h4>
			</div>
			<!--Modal Body-->
			<div class="modal-body">
				<form id="editattachmentform" #editattachmentform="ngForm" role="form" class="form-horizontal" data-parsley-priority-enabled="false"
				 novalidate="novalidate" data-parsley-validate data-parsley-focus="first">

					<div *ngIf="!doc.docDesc" class="form-group row">
						<label for="fileUpload" class="col-md-4 form-control-label text-md-right">Browse
							<span class="help-block">PDF Document is Required</span>
						</label>
						<div class="col-md-8 col-xs-12">
							<div class="fileinput fileinput-new input-group" data-provides="fileinput">
								<div class="form-control" data-trigger="fileinput">
									<i class="fa fa-file fileinput-exists"></i>
									<span class="fileinput-filename" style="word-wrap: break-word; width: 90%;"></span>
								</div>
								<span class="input-group-addon btn btn-secondary btn-file">
									<span class="fileinput-new">Select file</span>
									<span class="fileinput-exists">Change</span>
									<input name="..." type="file" id="fileUpload" title="Upload File" (change)="fileChangeEvent($event)" accept="application/pdf"
									 required data-parsley-errors-container="#pdfdocerror" data-parsley-required-message="Error: PDF Document is required">
								</span>
							</div>
							<div id="pdfdocerror"></div>
							<div *ngIf="isExtensionNotPDF">
								<span class="text-danger">Error: Uploaded file is not a PDF document type</span>
							</div>
						</div>
					</div>

					<!--File Name-->
					<div class="form-group row">
						<label for="fileNm" class="col-md-4 form-control-label text-md-right">File Name
							<span class="help-block">Required field</span>
						</label>
						<div class="col-md-8 col-xs-12">
							<input type="text" class="form-control" id="fileNm" [(ngModel)]="docFileName" name="Decription" title="File Name" required
							 data-parsley-required-message="Error: File Name is required">
						</div>
					</div>
				</form>
			</div>
			<div class="row">
				<div class="col-lg-12 col-xs-12">
					<table [ngBusy]="{busy: busy, message: 'Loading...', backdrop: false}" class="table table-hover" [mfData]="commentDocData"
					 #mf1="mfDataTable" [mfIsServerPagination]="false" [mfRowsOnPage]="5">
						<colgroup>
							<col style="width:30%">
							<col style="width:33%">
							<col style="width:25%">
						</colgroup>
						<thead>
							<tr>
								<th>
									FILE NAME
								</th>
								<th class="hidden-sm-down">
									UPLOADED BY
								</th>
								<th class="hidden-sm-down">
									DATE UPLOADED
								</th>
								<th></th>
							</tr>
						</thead>
						<tbody [ngBusy]="{busy: downloading, message: 'Downloading...', backdrop: false}">
							<tr *ngFor="let docfile of mf1.data; let i = index; let last = last">
								<td>
									<span class="fw-semi-bold">
										<a target="_blank" (click)="enableLinkAuth(true)" href="api/v1/companies/excludepermit/comment/view/attachs/{{docfile.documentId}}">
											{{docfile.docDesc}}
										</a>
									</span>
								</td>
								<td class="hidden-sm-down">{{docfile.createdBy}} </td>
								<td class="hidden-sm-down">{{docfile.createdDt | datePipe}} </td>

								<td style="white-space:nowrap">
									<div class="row-action-buttons">
										<button type="button" class="btn btn-outline-danger" title="Delete Document" data-toggle="modal" data-target="#confirm-popup"
										 focusOn="#confirm-popup" data-backdrop="static" data-keyboard="false" style="white-space: nowrap;" (click)="deleteDocument(this.docfile, 'delete')">
											<i class="fa fa-trash"></i>
										</button>
										<button type="button" class="btn btn-outline-primary" title="Download Document" (click)="downloadAttach(this.docfile)" style="white-space: nowrap;">
											<i class="fa fa-arrow-circle-o-down"></i>
										</button>
									</div>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="12">
									<mfBootstrapPaginator [rowsOnPageSet]="[5, 10, 20]"></mfBootstrapPaginator>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
			<!--Modal Footer-->
			<div class="modal-footer">
				<div class="btn-toolbar">
					<button type="button" id="btn-save-doc" class="btn btn-primary" [disabled]="btnDisable" title="Save" (click)="uploadAttachment()">Save Document</button>
					<button type="button" class="btn btn-secondary" (click)="cancel()">Close</button>
				</div>
				<p title="Uploading" [ngBusy]="{busy: busy, message: 'Uploading...', backdrop: false}"></p>
				<p title="Editing" [ngBusy]="{busy: edit, message: 'Uploading...', backdrop: false}"></p>
			</div>
		</div>
	</div>
</div>