<h1 class="page-title">Dashboard</h1>
<form id="dashform" #adduserform="ngForm" role="form" class="form-horizontal">
<div class="form-group row">
    <label for="dash-rpt" class="col-md-2 col-xs-2 form-control-label text-md-right">Select Report
    </label>
    <div class="col-md-4 col-xs-4">
        <select name="dashbdreports" class="form-control fdatable" id="dash-rpt" (change)="changeReport($event.target.value)">
            <option *ngFor="let rpt of dashboardReportTypes" [value]="rpt.dashboardType">{{rpt.displayValue}}
            </option>
        </select>
    </div>
    <div class="col-md-6"></div>
</div>
</form>
<div id="vizContainer" style="width:1250px;"></div>   

