button{
    margin-bottom: 6px;
}


// Checkbox 
label.checkbox-row {        
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 7px;
  padding-top: 7px;
  width: 100%;
  border-radius: 3px;
  
  input{
    vertical-align: -6%;
  }
  &.seperate{
      border-bottom-color: #cfcfcf;
      border-bottom-width: 1px;
      border-bottom-style: solid;
  }
  &:hover{
    color: #343434;
    background-color: #dfdfdf;
    border-color: #adadad;
  }
  &.checked{
    color: #fff;
    //background-color: $brand-primary;
    //border-color: $brand-primary;
  }
}