<div class="row">
	<div class="col-md-6">
		<div *ngIf="acceptanceFlag === 'Ingestedaccepted'" class="btn-toolbar">
			<button type="button" id="btn-accepted-fda" class="btn btn-secondary" [disabled]="!hasLoaded || isValid" data-toggle="modal"
			 [attr.data-target]="'#accept-ingested-modal-'+quarter" (click)="showEsimateTaxPopup()">
				<i style="margin-right:10px;" class="fa fa-check-circle text-fun"></i> Ingested Accepted!</button>
			<button type="button" id="btn-acc-cont-fda" class="btn btn-primary " [disabled]="!hasLoaded || isValid" (click)="toAnnualTrueUp()">Continue</button>
		</div>
		<ng-template #acceptedIngestedTooltip>
			<div [innerHtml]="getNoIngestedVolumeToolTip()"></div>
		</ng-template>
		<div *ngIf="acceptanceFlag !== 'Ingestedaccepted'" placement="top" container='body' class="btn-toolbar" [tooltipEnable]="!(isCompundTobaccoType() && !hasVolumeData)"
		 [tooltip]="acceptedIngestedTooltip">

			<!--For Manufacturers-->
			<button *ngIf=" permitType !=='Importer'" type="button" id="btn-acc-fda" class="btn btn-primary" data-toggle="modal" data-keyboard="false"
			 [attr.data-target]="'#accept-ingested-modal-'+quarter" data-backdrop="static" [disabled]="!hasLoaded || isValid||disableAmendApprove||acceptanceFlag==='DeltaChngZ' || acceptanceFlag==='ExcludeChange' || (isCompundTobaccoType() && !hasVolumeData)"
			 (click)="acceptIngested()">Accept Ingested</button>
			<button *ngIf="permitType !=='Importer'" type="button" id="btn-cont-fda" class="btn btn-primary" data-toggle="modal" data-keyboard="false"
			 [attr.data-target]="'#accept-ingested-modal-'+quarter" data-backdrop="static" [disabled]="!hasLoaded || isValid||disableAmendApprove||acceptanceFlag==='DeltaChngZ' || acceptanceFlag==='ExcludeChange' || (isCompundTobaccoType() && !hasVolumeData)"
			 (click)="acceptIngestedContinue()">Accept Ingested & Continue</button>

			<!--For Importers and Importer Review-->
			<button *ngIf="permitType ==='Importer'" type="button" id="btn-acc-fda" class="btn btn-primary" data-toggle="modal" data-keyboard="false"
			[attr.data-target]="'#accept_ingested_tax_popup-'+quarter" data-backdrop="static" (click)="acceptReviewIngested()" [disabled]="!hasLoaded || isValid||disableAmendApprove||acceptanceFlag==='DeltaChngZ' || acceptanceFlag==='ExcludeChange'  || (isCompundTobaccoType() && !hasVolumeData)">Accept Ingested</button>
			<button *ngIf="permitType ==='Importer'" type="button" id="btn-cont-fda" class="btn btn-primary" data-toggle="modal" data-keyboard="false"
			[attr.data-target]="'#accept_ingested_tax_popup-'+quarter" data-backdrop="static" (click)="acceptReviewIngestedContinue()" [disabled]="!hasLoaded || isValid||disableAmendApprove||acceptanceFlag==='DeltaChngZ' || acceptanceFlag==='ExcludeChange'  || (isCompundTobaccoType() && !hasVolumeData)">Accept Ingested & Continue</button>
		</div>
	</div>
	<div class="col-md-6">
		<div *ngIf="acceptanceFlag === 'FDAaccepted'" class="pull-right btn-toolbar">
			<button type="button" id="btn-accepted-fda" data-backdrop="static" data-keyboard="false" class="btn btn-secondary" [disabled]="!hasLoaded || isValid">
				<i style="margin-right:10px;" class="fa fa-check-circle text-success"></i>FDA Accepted!</button>
			<button type="button" id="btn-acc-cont-fda" class="btn btn-primary" [disabled]="!hasLoaded || isValid" (click)="toAnnualTrueUp()">Continue</button>
		</div>
		<div *ngIf="acceptanceFlag !== 'FDAaccepted'" class="pull-right btn-toolbar">
			<button type="button" id="btn-acc-fda" class="btn btn-primary" [disabled]="!hasLoaded || isValid||disableAmendApprove||acceptanceFlag==='DeltaChngZ' || acceptanceFlag==='ExcludeChange'"
			 (click)="acceptFDA3852()">Accept FDA 3852</button>
			<button type="button" id="btn-cont-fda" class="btn btn-primary" [disabled]="!hasLoaded || isValid||disableAmendApprove||acceptanceFlag==='DeltaChngZ' || acceptanceFlag==='ExcludeChange'"
			 (click)="acceptFDA3852Continue()">Accept FDA 3852 & Continue</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-7 btn-toolbar">
		<button *ngIf="acceptanceFlag !== 'InProgress'" [disabled]="inProgressDisabled || !hasLoaded || disableAmendApprove ||  acceptanceFlag==='ExcludeChange'" (click)="InProgressclicked()"
		 type="button" id="btn-in-progress" class="btn btn-primary pull-left">In Progress</button>
		<button *ngIf="acceptanceFlag === 'InProgress'" role="button" id="btn-progresses" class="btn btn-default mb-xs">
			<i style="margin-right:10px;color:#f0b518" class="fa fa-repeat"></i>In Progress!</button>
	</div>
</div>


<!--Show Accept Ingested Tax pop-up for Manufacturer Compound tobacco-classes -->
<div *ngIf="show" class="modal fade" [id]="'accept-ingested-modal-'+quarter" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog  modal-lg">
		<div class="modal-content" id="at-alldeltas-popup-content">
			<div class="modal-header">
				<div title="title" class="h4 modal-title text-xs-center fw-bold mt">Accept Ingested Tax</div>
			</div>
			<!--Modal Body-->
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12 col-xs-12">
						<section class="widget" style="margin-bottom: 10px;">
							<div aria-live="assertive" class="widget-body clearfix">
								<div class="row company-details">
									<ul class="list-unstyled offset-md-2  col-md-10 ">
										<li>
											<b>Company Name:</b> {{this.shareData?.companyName}}</li>
										<li>
											<b>Tobacco Class:</b> {{this.shareData?.tobaccoClass | removeHyphen}}</li>
										<li>
											<b>Period:</b> Quarter {{quarter}}</li>
										<li>
											<b>Delta:</b> {{taxes?.totalTUFATax - taxes?.totalIngestedTax | currency:'USD':'symbol':'1.2-2'}} </li>
									</ul>
								</div>

								<div [ngBusy]="busy">
									<div *ngFor="let ttbVolTx of compoundTTTaxesVolume; let i = index">
										<div class="form-group row">
											<label class="fw-bold offset-md-2  col-md-4 form-control-label text-md-left">
												{{ ttbVolTx?.tobaccoClass }}
											</label>
										</div>
										<div class="form-group row">
											<label class=" offset-md-2  col-md-4 form-control-label text-md-left">
												Volume: {{ttbVolTx?.pounds| number:'.0-6'}} lbs.
											</label>
											<label class=" col-md-6 form-control-label text-md-left">
												<b>Ingested Tax:</b> {{ ttbVolTx?.amendedTax |currency:'USD':'symbol':'1.2-2'| minustoparens}} </label>
										</div>
										<div class="form-group row">
											<label class=" offset-md-2  col-md-5 form-control-label text-md-left">
												Calculated Tax: {{ ttbVolTx?.estimatedTax |currency:'USD':'symbol':'1.2-2'| minustoparens}}
											</label>
										</div>
										<div class="form-group row"></div>
									</div>

									<div>
										<div class="form-group row"></div>
										<div class="form-group row">
											<label class=" fw-bold offset-md-2  col-md-4 form-control-label text-md-left">
												Total Ingested Tax :
											</label>
											<label class=" col-md-6 form-control-label text-md-left">
												{{taxes?.totalIngestedTax | abs | currency:'USD':'symbol':'1.2-2'| minustoparens }}
											</label>

										</div>

										<div class="form-group row">
											<label class=" fw-bold offset-md-2  col-md-4 form-control-label text-md-left">
												Total Calculated Tax:
											</label>
											<label class="col-md-6 form-control-label text-md-left">
												{{(compoundTTTaxesVolume[0]?.estimatedTax+ compoundTTTaxesVolume[1]?.estimatedTax)|currency:'USD':'symbol':'1.2-2'}}
											</label>

										</div>

										<div class="form-group row">
											<label class=" fw-bold offset-md-2  col-md-4 form-control-label text-md-left">
												Tax Difference:
											</label>
											<label class=" col-md-6 form-control-label text-md-left">
												{{ ((taxes?.totalIngestedTax|abs) - (compoundTTTaxesVolume[0]?.estimatedTax+ compoundTTTaxesVolume[1]?.estimatedTax))|currency:'USD':'symbol':'1.2-2'| minustoparens
												}}
											</label>
										</div>

									</div>

								</div>

								<div class="action-conatiner">
									<alert *ngFor="let alert of resetAlerts; let i = index" [type]="alert.type + ' alert-sm'">
										<span class="alert-text" [innerHTML]="alert.msg"></span>
									</alert>
								</div>
							</div>
						</section>
					</div>
				</div>
				<!--Modal Footer-->
				<div class="modal-footer">
					<ng-container *ngIf="acceptanceFlag !== 'Ingestedaccepted'">
						<button type="button" [ngBusy]="busy" class="btn btn-primary" title="Accept Ingested" (click)="confirmAcceptIngested()">Accept</button>
						<button type="button" class="btn btn-secondary" title="Cancel" data-dismiss="modal" #closeAcceptModal>Cancel</button>
					</ng-container>

					<ng-container *ngIf="acceptanceFlag === 'Ingestedaccepted'">
						<button type="button" class="btn btn-secondary" title="Cancel" data-dismiss="modal" #closeAcceptModal>Close</button>
					</ng-container>
				</div>
			</div>
		</div>
	</div>
</div>


<!--Show Accept Ingested Tax Pop-up for Importer -->
<div *ngIf="showingestedtaxpopup" class="modal fade" [id]="'accept_ingested_tax_popup-'+quarter" role="dialog" aria-labelledby="ingested_tax_popup">
	<div class="modal-dialog modal-lg">
		<div class="modal-content" id="accept_ingested-tax-popup-content">
			<!--Modal Header-->
			<div class="modal-header">
				<div title="title" class="h4 modal-title text-xs-center fw-bold mt">Accept Ingested Tax</div>
			</div>
			<!--Modal Body-->
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12 col-xs-12">
						<section class="widget" style="margin-bottom: 10px;">
							<div aria-live="assertive" class="widget-body clearfix">
								<div class="row company-details">
									<ul class="list-unstyled offset-md-2  col-md-10 ">
										<li>
											<b>Company Name:</b> {{this.shareData.companyName}}</li>
										<li>
											<b>Tobacco Class:</b> {{this.shareData?.tobaccoClass | removeHyphen}}</li>
										<li>
											<b>Period:</b> Quarter {{quarter === 5 ? '1-4' : quarter}}</li>
										<li>
											<b>Delta:</b> Review </li>
										<ng-container *ngIf="this.shareData?.tobaccoClass !== 'Cigars'">
											<li>
												<b>Tax Rate </b>: {{ tufaTaxRate}} </li>
											<li>
												<b>Calculated Tax:</b> {{ tufaTaxRate * cbpDetailVolume | currency:'USD':'symbol':'1.2-2'}} </li>
										</ng-container>
									</ul>
									<table class="table table-hover">
										<thead>
											<tr>
												<th>Select</th>
												<th>File Type</th>
												<th>Total Tax Amount</th>
												<th>Details File Volume</th>
												<th>Tax Rate</th>
											</tr>
										</thead>
										<tbody>
											<tr (click)="fileTypeSelected = 'Summary'; onFileTypeSelChanged('Summary')">
												<td>
													<div>
														<label class="checkbox-row">
														<input id="rd-summary" title="Summary" name="optradio" type="radio" value="Summary" [(ngModel)]="fileTypeSelected" (ngModelChange)="onFileTypeSelChanged($event)">
													    </label>
													</div>
												</td>
												<td>Summary File</td>
												<td>{{cbpSummTaxAmount | currency:'USD':'symbol':'1.2-2'}}</td>
												<td>{{cbpDetailVolume | number}} {{unitMeasurement}}</td>
												<td>
													{{cbpSummTaxAmount/cbpDetailVolume | number}}
												</td>
											</tr>
											<tr (click)="fileTypeSelected = 'Details'; onFileTypeSelChanged('Details')">
												<td>
													<div>
														<label class="checkbox-row">
														<input id="rd-details" title="Details" name="optradio" type="radio" value="Details" [(ngModel)]="fileTypeSelected" (ngModelChange)="onFileTypeSelChanged($event)">
													</label>
													</div>
												</td>
												<td>Details File</td>
												<td>{{cbpDetailTaxAmount | currency:'USD':'symbol':'1.2-2'}}</td>
												<td>{{cbpDetailVolume | number}} {{unitMeasurement}}</td>
												<td>
													{{cbpDetailTaxAmount/cbpDetailVolume | number }}
												</td>
											</tr>
										</tbody>
									</table>
								</div>

							</div>
						</section>
					</div>

				</div>
			</div>
			<!--Modal Footer-->
			<div class="modal-footer">
				<button type="button" [disabled]="!fileTypeSelected" [ngBusy]="busy" class="btn btn-primary" title="Accept Ingested" (click)="confirmReviewAcceptIngested()"> Accept</button>
				<button type="button" class="btn btn-secondary" (click)="closePopUpforReview()" data-dismiss="modal" title="Cancel" #closeAcceptModal> Cancel</button>
			</div>
		</div>
	</div>
</div>