<div class="modal fade" id="at-alldeltas-popup" tabindex="-1" role="dialog" aria-label="delta-action-type" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div title="title" class="h4 modal-title text-xs-center fw-bold mt">All Deltas Action</div>
			</div>
			<!--Modal Body-->
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12 col-xs-12">
						<section class="widget" style="margin-bottom: 10px;">
							<div aria-live="assertive" class="widget-body clearfix">
								<div class="form-group row">
									<label for="action-type" class="col-md-4 form-control-label text-md-right">
										Action Type
										<span class="help-block">Required field</span>
									</label>
									<div class="col-md-4 col-xs-12">
										<select [(ngModel)]="actionType" title="Action Type" name="actionType" class="form-control fdatable" id="action-type" required
										 data-parsley-required-message="Error: Type is required">
											<option [disabled]='action === "Select Type"' *ngFor="let action of actiontypeList" [value]="action">
												{{action}}
											</option>
										</select>
									</div>
								</div>
								<div class="row company-details">
									<ul style="margin-left:75px;" class="list-unstyled">
										<li>Company Name: ABC Importer</li>
										<li>Tobacco Class: Cigarettes</li>
										<li>Period: Qaurter 2</li>
										<li>Delta: $10,0000.00 </li>
									</ul>
								</div>
								<div class="action-conatiner">
									<!-- Put action sections here -->
									<div *ngIf="actionType === 'Association'" at-compare-alldeltas-action-popup-association (onClose)="reset()"></div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
			<!--Modal Footer-->
			<div class="modal-footer" *ngIf="actionType === 'Select Type'">
				<button type="button" class="btn btn-secondary" (click)="reset()" title="Cancel">Cancel</button>
			</div>
		</div>
	</div>
</div>