// @import "../../../../../node_modules/bootstrap-select/dist/css/bootstrap-select";
// @import "../../../../../node_modules/select2/dist/css/select2";
// @import "../../../../../node_modules/select2-bootstrap-css/select2-bootstrap";
// @import "../../../../../node_modules/jasny-bootstrap/dist/css/jasny-bootstrap";
// @import "../../../scss/variables";
// @import "../../../../../node_modules/bootstrap/scss/_variables";
// @import "../../../../../node_modules/bootstrap/scss/mixins";
@import "./../../../../scss/helpers";

.floatright {
  float: right;
}

.rightalign {
  text-align: right;
}

.padright{
    padding-right:20px;
}

.breathe-left{
  margin-left: 10px;
}

.ml30n{
  margin-left:-30px;
}

.mt20n{
  margin-top:-20px;
}

/* The Modal (background) */
.modal {

background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-backdrop
 {
   z-index: 0 !important;
   background-color: white !important;
 }

 td > .btn-group.show {
   display: inline-block !important;
   display: -ms-flexbox !important;
   width: max-content;
 }

#at-alldeltas-popup {
  .table {
    margin-top: 10px;
   
  }
  .custom-checkbox {
    left: 35px;
  }
}

.fa-comment{
  padding-left: 10px;
  padding-right: 10px;
  color: #ffc107;
}

.show{
  visibility: visible;
}

.hide{
  display: none;
  visibility: hidden;
}

.remove{
  display: none;
}

.qtrWidth{
  width: 50px;
}

.fa-arrow-circle-down{
  font-size: 22px;
  color: #007bff;
  cursor: pointer;
}