<form style ="padding-left:55px;"id="associatecompany-form" class="form-horizontal" role="form" data-parsley-priority-enabled="false" novalidate="novalidate" data-parsley-validate >
    <div class="form-group row" [ngBusy]="busy">
        <label for="ein-number" class="offset-md-1 col-md-4 form-control-label">
            EIN of TUFA Company
            <span class="help-block">Required field</span>
        </label>
        <div role="alert" class="input-group input-group-transparent input-group-rounded col-md-4 col-xs-12">
            <input type="text" id="ein-number" title="EIN Number" [(ngModel)]="associateEIN" [textMask]="{mask: einmask, guide:false}" [ngModelOptions]="{standalone: true}" 
                placeholder="EIN" class="form-control" placeholder="9 digits" minlength="9" maxlength="9" required="required" data-parsley-error-message="Error: EIN requires appropriate format (e.g. 123456789)"
                (ngModelChange)="checkEIN()">
            <div class="input-group-text">
                <ng-container *ngIf="checked">
                    <span *ngIf="!hasError" class="text-success fa fa-check"></span>
                    <span *ngIf="hasError" class="text-danger fa fa-times"></span>
                </ng-container>
            </div>
        </div>
        <span class="form-check-inline error-block"></span>
    </div>
    <div class="form-group row">
        <label for="#primary-name-association" class="offset-md-1 col-md-4 form-control-label">
            TUFA Company Inheriting Delta
        </label>
        <div class="col-md-4 col-xs-12">
            <p id="primary-name-association">{{association.parentCmpyName}}</p>
        </div>
    </div>
</form>