<div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-9"></div>
			<div class="col-lg-3">
				<fieldset>
					<div class="row" style="margin-bottom: 8px;">
						<div class="abc-radio">
							<input id="rd-matched" title="Matched" name="optradio-grid" type="radio" value="MATCHED" [(ngModel)]="csc.grid" (ngModelChange)="onCompareSelectionChange()">
							<label for="rd-matched">
								Matched
							</label>
						</div>
						<div class="abc-radio">
							<input id="rd-alldeltas" title="All Delta" name="optradio-grid" type="radio" value="ALLDELTAS" [(ngModel)]="csc.grid" (ngModelChange)="onCompareSelectionChange()">
							<label for="rd-alldeltas">
								All Deltas
							</label>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
		<div *ngIf="csc.grid === 'ALLDELTAS'" class="row">

			<div *ngIf="cntAllDeltaReview>0 || cntAllDeltaInProgress>0" class="col-xs-12 col-md-8 col-lg-10 alert alert-danger alert-sm">
				<span class="fa fa-exclamation-triangle"></span>
				<span class="no-margin fw-normal alert-text" style="margin-bottom:10px;margin-left: 5px">
					<strong style="margin-bottom:10px">ACTION REQUIRED:</strong>
					<ul>
						<li *ngIf="cntAllDeltaReview>0">{{cntAllDeltaReview}} Delta(s) needs to be Reviewed.
						</li>
						<li *ngIf="cntAllDeltaInProgress>0">{{cntAllDeltaInProgress}} Delta(s) are in Progress
						</li>
					</ul>
				</span>
			</div>

			<div class="col-md-12" style="margin-bottom: 2px; padding-left: 0px;">
				<h4 class="h4 fw-normal">Tobacco Class</h4>
				<p class="no-margin ">Select All That Apply</p>
			</div>
			<div class="col-md-12 btn-toolbar" style="margin-bottom: 30px; padding-left: 0px;">
				<toggle-button-tufa title="Cigarettes" [id]="show-cigarettes" [flag]="csc.selTobaccoTypes.showCigarettes" [lables]="['Cigarettes']"
				 (flagChange)="checkboxSelected('Cigarettes')"></toggle-button-tufa>
				<toggle-button-tufa title="Cigars" [id]="'show-cigars'" [flag]="csc.selTobaccoTypes.showCigars" [lables]="['Cigars']" (flagChange)="checkboxSelected('Cigars')"></toggle-button-tufa>
				<toggle-button-tufa title="Snuffs" [id]="'show-snuffs'" [flag]="csc.selTobaccoTypes.showSnuffs" [lables]="['Snuff']" (flagChange)="checkboxSelected('Snuff')"></toggle-button-tufa>
				<toggle-button-tufa title="Chews" [id]="'show-chews'" [flag]="csc.selTobaccoTypes.showChews" [lables]="['Chew']" (flagChange)="checkboxSelected('Chew')"></toggle-button-tufa>
				<toggle-button-tufa title="Pipes" [id]="'show-pipes'" [flag]="csc.selTobaccoTypes.showPipes" [lables]="['Pipe']" (flagChange)="checkboxSelected('Pipe')"></toggle-button-tufa>
				<toggle-button-tufa title="Roll Your Own" [id]="'show-roll-your-own'" [flag]="csc.selTobaccoTypes.showRollYourOwn" [lables]="['Roll Your Own']"
				 (flagChange)="checkboxSelected('RollYourOwn')"></toggle-button-tufa>
				<div class="checkbox-inline">
					<toggle-button-tufa [id]="'select-all'" name="optradio" title="SelectAll" type="checkbox" [lables]="['Select All']" [flag]="selectAllFlag"
					 (flagChange)="selectAll($event)">
					</toggle-button-tufa>
				</div>
			</div>
		</div>
		<div *ngIf="csc.grid === 'MATCHED'" class="row">
			<!--<div class="col-md-10" >
			<alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'">
				<i class="fa fa-exclamation-triangle"></i><span class="alert-text" [innerHTML]="alert.msg"></span>
			</alert>
		</div> -->
			<div *ngIf="cntDeltaToAmendApprove>0 || cntDeltaChanged>0" class="col-xs-12 col-md-8 col-lg-10 alert alert-danger alert-sm">
				<span class="fa fa-exclamation-triangle"></span>
				<span class="no-margin fw-normal alert-text" style="margin-bottom:10px;margin-left: 5px">
					<strong style="margin-bottom:10px">ACTION REQUIRED:</strong>
					<ul>
						<li *ngIf="cntDeltaToAmendApprove>0">{{cntDeltaToAmendApprove}} Delta(s) need to be Accepted or Amended
						</li>
						<li *ngIf="cntDeltaChanged>0">{{cntDeltaChanged}} Delta(s) have changed and need to be Accepted or Amended
						</li>
						<li *ngIf="countofInProgressReports>0">{{countofInProgressReports}} Delta(s) are in Progress</li>
					</ul>
				</span>
			</div>
			<div *ngIf="!(cntDeltaToAmendApprove>0 || cntDeltaChanged>0)" class="col-lg-10"></div>
			<div class="col-lg-2" [ngBusy]="{busy: busyRun, message: 'Running Schedule A/B...', backdrop: true}" >
					<button type="button" id="btn-schedule-ab" class="btn btn-primary" title="Run Schedule A/B" (click)="processScheduleAB()">Run Schedule A/B</button>
			</div>

		</div>

		<div role="alert" class="col-lg-12" style="padding-left: 0px; padding-top: 10px;">
			<button type="button" id="btn-exp-rcon" class="btn btn-primary" title="Export Compare Page as CSV" [ngBusy]="{busy: busyGen, message: 'Exporting Compare Page...', backdrop: true}"
			 (click)="getExportData()">Export As CSV</button>
		</div>
	</div>
	<div style="overflow-x: auto">
		<table id="tbl-rpt" [ngBusy]="{busy: busy, message: 'Loading...', backdrop: true}" class="table table-hover" [mfData]="compareresults"
		 [(mfSortBy)]="sortBy" [mfIsServerPagination]="true" [(mfSortOrder)]="sortOrder" #mf="mfDataTable" [mfRowsOnPage]="pgAttrs.pageSize"
		 [mfActivePage]="pgAttrs.activePage" [(mfAmountOfRows)]="pgAttrs.itemsTotal" (mfOnPageChange)="onPageChange($event)" (mfSortOrderChange)="onSortOrder($event)"
		 [mfStoreState]="true" [mfNavigateUrls]="'/company/;/assessments/;/permit/'" [mfDataTableName]="'at-compare-results'" #dataTable="mfDataTable"
		 style="margin-top: 20px; min-height: 200px;">

			<thead>
				<tr>
					<th scope="col" id="h-cmp-nam">
						<mfDefaultSorter by="legalName" title="Company Name">Company Name</mfDefaultSorter>
					</th>
					<th scope="col" id="h-cmp-ein">
						<mfDefaultSorter by="ein" title="Ein">Ein</mfDefaultSorter>
					</th>
					<th scope="col" id="h-cmp-permitnum">
						<div>Permit</div>
					</th>
					<th *ngIf="csc.grid === 'ALLDELTAS'" scope="col" id="h-cmp-par-nam">
						<mfDefaultSorter by="originalName" title="Original Name">Original Name</mfDefaultSorter>
					</th>
					<th scope="col" class="hidden-sm-down" id="h-tob-cls">
						<mfDefaultSorter by="tobaccoClass" title="Tobacco Class">Tobacco Class</mfDefaultSorter>
					</th>
					<th scope="col" class="hidden-sm-down" id="h-qtr-no">
						<mfDefaultSorter by="quarter" title="Quarter">Quarter</mfDefaultSorter>
					</th>
					<th scope="col" class="hidden-sm-down" id="h-del-tax">
						<mfDefaultSorter by="abstotalDeltaTax" [align]="rightalignClass" title="Delta Excise Tax">Delta Excise Tax</mfDefaultSorter>
					</th>
					<th scope="col" class="hidden-sm-down" id="h-pmt-typ">
						<mfDefaultSorter by="permitType" title="Type">Type</mfDefaultSorter>
					</th>
					<th *ngIf="csc.grid === 'ALLDELTAS'" scope="col" class="hidden-sm-down" id="h-act-data" style="text-align:center">
						<mfDefaultSorter by="data" title="Data">Data</mfDefaultSorter>
					</th>
					<th *ngIf="csc.grid === 'MATCHED'" scope="col" class="hidden-sm-down" id="h-act-sta" style="text-align:center">
						<mfDefaultSorter by="status" title="Action">Action</mfDefaultSorter>
					</th>
					<th *ngIf="csc.grid === 'ALLDELTAS'" scope="col" class="hidden-sm-down" id="h-act-sts" style="text-align:center">
						<mfDefaultSorter by="alldeltastatus" title="Status">Status</mfDefaultSorter>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<ng-container *ngFor="let column of columns; let i = index">
						<td *ngIf="isColumnFilteringAllowed(column)">
							<div class="input-group input-group-transparent input-group-rounded">
								<span class="input-group-text">
									<i class="fa fa-filter" (click)="applyFilter();"></i>
								</span>
								<input *ngIf="column.type==='input'" [attr.id]="'filter-' + column.name" [ngTableFiltering]="column.filtering" [config]="column.filtering"
								 class="form-control" style="width: auto;" [attr.aria-label]="column.name" placeholder="{{column.filtering.placeholder}}"
								 value="{{column.filtering.filterString}}" (tableChanged)="onChangeTable($event)" [style.width]="( column.name === 'ein' || column.name === 'tobaccoClass' && csc.grid === 'ALLDELTAS' ||
												  column.name === 'permitNum' && csc.grid === 'ALLDELTAS' ||
												  column.name === 'abstotalDeltaTax' && csc.grid === 'ALLDELTAS' ? '100px': '' || column.name === 'quarter' ? '40px': '')"
								/>
								<select *ngIf="column.type==='select'" [attr.id]="'filter-' + column.name" class="form-control" [attr.aria-label]="column.name"
								 style="width: auto; height: auto;" (change)="filterSelectionChanged($event.target.value, column.name)" [style.width]="(column.name === 'permitType' || column.name === 'data' ? '50px': '')">
									<option *ngFor="let option of column.options" [selected]="(option.value === column.defaultvalue)" [value]="option.value">
										{{option.name}}
									</option>
								</select>
							</div>
						</td>
					</ng-container>
					<td>
						<select id="multiselectmatched" multiple="multiple">
							<span class="input-group-text">
								<i class="fa fa-filter"></i>
							</span>
							<option value="AMENDED">Amended</option>
							<option value="FDAACCEPTED">Accepted FDA</option>
							<option value="INGESTEDACCEPTED">Accepted Ingested</option>
							<option value="DELTACHANGE">Changed</option>
							<option value="NOACT">No Action Taken</option>
							<option value="INPROGRESS">In Progress</option>
							<option value="MIXEDACTION">Mixed Action</option>
						</select>
						<select id="multiselectalldeltas" multiple="multiple">
							<span class="input-group-text">
								<i class="fa fa-filter"></i>
							</span>
							<option value="REVIEW">Review</option>
							<option value="ASSOCIATED">Associated</option>
							<option value="MSREADY">MS Ready</option>
							<option value="IN PROGRESS">In Progress</option>
							<option value="EXCLUDED">Excluded</option>
							<!-- <option value="CONFLICTED">Conflicted</option> -->
							<option value="NA">NA</option>
						</select>
					</td>
				</tr>
				<tr *ngFor="let rptStatus of mf.data;let i = index; trackBy: trackByIndex;">
					<td *ngIf="rptStatus.dataType !== 'INGESTED' " class="fw-semi-bold blue">
						<a href="javascript:void(1)" (aClick)="toCompany(rptStatus.ein)">{{rptStatus.legalName}}</a>
					</td>
					<td *ngIf="rptStatus.dataType == 'INGESTED' " class="hidden-sm-down">{{rptStatus.legalName}}</td>
					<td class="hidden-sm-down">{{rptStatus.ein | einPipe}}</td>
					<td class="hidden-sm-down">
						<span innerHtml="{{rptStatus.permitNum | permitNumberPipe}}"></span>
					</td>
					<td *ngIf="csc.grid === 'ALLDELTAS'" class="hidden-sm-down">{{rptStatus.originalName}}</td>
					<td class="hidden-sm-down">{{rptStatus.tobaccoClass | removeHyphen}}</td>
					<td class="hidden-sm-down" style="text-align:center;">{{rptStatus.quarter}}</td>
					<td class="hidden-sm-down">
						<span class="floatright padright" *ngIf="csc.grid === 'MATCHED'">
							<a *ngIf="rptStatus.deltaexcisetaxFlag === 'Review'" [routerLink]="['/app/assessments', rptStatus.tobaccoClass.toUpperCase() === 'CIGARS'?'comparecigar':'comparenoncigar', i]"
							 (aClick)="toAnnualCompareDetailsPage(rptStatus)">
								{{rptStatus.deltaexcisetaxFlag}}
							</a>

							<a *ngIf="rptStatus.deltaexcisetaxFlag === 'Value' || rptStatus.deltaexcisetaxFlag === 'Match'" [routerLink]="['/app/assessments', rptStatus.tobaccoClass.toUpperCase() === 'CIGARS'?'comparecigar':'comparenoncigar', i]"
							 (aClick)="toAnnualCompareDetailsPage(rptStatus)">
								{{rptStatus.totalDeltaTax|currency:'USD':'symbol':'1.2-2'| minustoparens}}
							</a>
						</span>

						<span class="floatright padright" *ngIf="csc.grid === 'ALLDELTAS' && ingestionWorkflowsvc.getContextInfo()[0].context !== 'detailOnly'">
							<a *ngIf="rptStatus.dataType !== 'MATCHED' && rptStatus.deltaexcisetaxFlag === 'Value' " href="#" id="anchor-at-alldeltas-popup"
							 title="Take an Action" data-toggle="modal" data-target="#at-alldeltas-popup" focusOn="#at-alldeltas-popup" data-backdrop="static"
							 data-keyboard="false" (aClick)="toalldeltaspopup(rptStatus)">
								{{rptStatus.totalDeltaTax|currency:'USD':'symbol':'1.2-2'| minustoparens}}</a>

							<a *ngIf="rptStatus.dataType !== 'MATCHED' && rptStatus.deltaexcisetaxFlag === 'Review' " href="#" id="anchor-at-alldeltas-popup"
							 title="Take an Action" data-toggle="modal" data-target="#at-alldeltas-popup" focusOn="#at-alldeltas-popup" data-backdrop="static"
							 data-keyboard="false" (aClick)="toalldeltaspopup(rptStatus)">
								{{rptStatus.deltaexcisetaxFlag}}</a>

							<a *ngIf="rptStatus.dataType == 'MATCHED' && rptStatus.deltaexcisetaxFlag === 'Value' ">
								{{rptStatus.totalDeltaTax|currency:'USD':'symbol':'1.2-2'| minustoparens}}
							</a>
							<a *ngIf="rptStatus.dataType == 'MATCHED' && rptStatus.deltaexcisetaxFlag === 'Review' ">
								{{rptStatus.deltaexcisetaxFlag}}
							</a>
						</span>

						<span class="floatright padright" *ngIf="csc.grid === 'ALLDELTAS' && ingestionWorkflowsvc.getContextInfo()[0].context == 'detailOnly'">
							<a *ngIf="rptStatus.dataType !== 'MATCHED' && rptStatus.permitType === 'Manufacturer' && rptStatus.companyId == 0" href="#"
							 id="anchor-at-alldeltas-popup" title="Take an Action" data-toggle="modal" data-target="#at-alldeltas-popup" focusOn="#at-alldeltas-popup"
							 data-backdrop="static" data-keyboard="false" (aClick)="toalldeltaspopup(rptStatus)">
								{{rptStatus.totalDeltaTax|currency:'USD':'symbol':'1.2-2'| minustoparens}}</a>
							<a *ngIf="rptStatus.dataType !== 'MATCHED' && !(rptStatus.permitType === 'Manufacturer' && rptStatus.companyId == 0)" href="#"
							 id="anchor-at-alldeltas-popup" [routerLink]="['/app/assessments', rptStatus.tobaccoClass.toUpperCase() === 'CIGARS'?'comparecigar':'comparenoncigar', i]"
							 (aClick)="toAnnualCompareDetailsPage(rptStatus)">
								{{rptStatus.totalDeltaTax|currency:'USD':'symbol':'1.2-2'| minustoparens}}</a>
							<a *ngIf="rptStatus.dataType == 'MATCHED'">
								{{rptStatus.totalDeltaTax|currency:'USD':'symbol':'1.2-2'| minustoparens}}
							</a>
						</span>
					</td>
					<td class="hidden-sm-down">{{rptStatus.permitType}}</td>
					<td *ngIf="csc.grid === 'ALLDELTAS'" class="hidden-sm-down">{{rptStatus?.dataType}}</td>
					<td *ngIf="csc.grid === 'ALLDELTAS'" class="hidden-sm-down">{{ getAllDeltaStatus(rptStatus)}}
						<i *ngIf="rptStatus.dataType != 'MATCHED' && rptStatus.deltaComment && rptStatus.deltaComment!=''" title="{{rptStatus.deltaComment}}"
						 class="fa fa-comment"></i>
					</td>
					<td *ngIf="csc.grid === 'MATCHED'" class="hidden-sm-down" style="text-align:center">
						<i *ngIf="!rptStatus.status || rptStatus.status === 'noAction'" title="No Action Taken" class="fa fa-check-circle text-gray-lighter"></i>
						<i *ngIf="rptStatus.status === 'FDAaccepted'" title="Accepted FDA" class="fa fa-check-circle text-success"></i>
						<i *ngIf="rptStatus.status === 'Ingestedaccepted'" title="Accepted Ingested" class="fa fa-check-circle text-fun"></i>
						<i *ngIf="rptStatus.status === 'Amended'" title="Amended Delta" class="fa fa-wrench text-primary"></i>
						<i *ngIf="rptStatus.status === 'MixedAction'" title="Mixed Action" class="fa fa-wrench text-primary"></i>
						<i *ngIf="rptStatus.status === 'DeltaChange' && ((rptStatus.totalDeltaTax|abs)>0.99 || rptStatus.deltaexcisetaxFlag === 'Review')"
						 title="Changed Delta" class="fa fa-chain-broken" style="color:red"></i>
						<i *ngIf="rptStatus.status === 'DeltaChange' && (rptStatus.totalDeltaTax|abs)<=0.99 && (rptStatus.deltaexcisetaxFlag === 'Value' || rptStatus.deltaexcisetaxFlag === 'Match')"
						 title="Delta Change to Zero" class="fa fa-chain-broken" style="color:darkgrey"></i>
						<i *ngIf="rptStatus.status === 'ExcludeChange'" title="Delta Change Permit Exclude" class="fa fa-chain-broken" style="color:darkgrey"></i>
						<i *ngIf="rptStatus.status === 'InProgress'" title="In Progress" class="fa fa-repeat text-warning" style="color:#f0b518 "></i>
					</td>
				</tr>


			</tbody>
			<tfoot>
				<tr>
					<td colspan="12">
						<mfBootstrapPaginator [rowsOnPageSet]="[15, 25, 35]"></mfBootstrapPaginator>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>


	<div class="modal fade" id="at-alldeltas-popup" tabindex="-1" role="dialog" aria-label="delta-action-type" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content" id="at-alldeltas-popup-content">
				<div class="modal-header" [ngBusy]="{busy: saveDeltaBusy, message: 'Saving delta(s)...', backdrop: true}">
					<div title="title" class="h4 modal-title text-xs-center fw-bold mt">All Deltas Action</div>
				</div>
				<!--Modal Body-->
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-12 col-xs-12">
							<section class="widget" style="margin-bottom: 10px;">
								<div aria-live="assertive" class="widget-body clearfix">
									<div class="form-group row">
										<label for="action-type" class="fw-bold offset-md-2 col-md-4 form-control-label">
											Action Type
											<span class="help-block">Required field</span>
										</label>
										<div class="col-md-4 col-xs-12">
											<select [(ngModel)]="actionType" title="Action Type" name="actionType" class="form-control fdatable" id="action-type" required
											 data-parsley-required-message="Error: Type is required" (ngModelChange)="onActionChange()">
												<option *ngFor="let action of actiontypeList" [value]="action">
													{{action}}
												</option>
											</select>
										</div>
									</div>
									<div class="row company-details">
										<ul class="list-unstyled offset-md-2  col-md-10 ">
											<li>
												<b>Company Name:</b> {{companyname}}</li>
											<ng-container *ngIf="isValidString(originalName)">
												<li>
													<b>Original Name:</b> {{originalName}}</li>
											</ng-container>
											<li>
												<b>Tobacco Class:</b> {{tobaccoClass | removeHyphen}}</li>
											<li>
												<b>Period:</b> Quarter {{quarter}}</li>

											<li *ngIf="delta !== 'Review'">
												<b>Delta:</b> {{delta | currency:'USD':'symbol':'1.2-2' | minustoparens}}</li>

											<li *ngIf="delta === 'Review'">
												<b>Delta:</b> Review </li>

											<li *ngIf="delta === 'Review' && actionType !=='Reset' && actionType !=='Select Type' && tobaccoClass !=='Cigars'">
												<b>Tax Rate </b>: {{ tufaTaxRate}} </li>

											<li *ngIf="delta === 'Review' && actionType !=='Reset' && actionType !=='Select Type' && tobaccoClass !=='Cigars'">
												<b>Calculated Tax:</b> {{ tufaTaxRate * cbpDetailVolume | currency:'USD':'symbol':'1.2-2'}} </li>

											<li *ngIf="delta === 'Review' && actionType !=='Reset' && actionType !=='Select Type'">
												<b>Details File Volume:</b> {{cbpDetailVolume | number}} {{unitMeasurement}} </li>
										</ul>

										<div class="col-md-12" *ngIf="delta !== 'Review'">
											<a [ngBusy]="exportbusy" *ngIf="dataType === 'INGESTED' && permitType ==='Manufacturer'" class="fw-semi-bold pull-right"
											 (aClick)="exportRawdataforManu()" href="javascript:void(0)">Download Raw Data</a>

											<a [ngBusy]="exportbusy" *ngIf="dataType === 'INGESTED' && permitType === 'Importer'" class="fw-semi-bold pull-right" (aClick)="exportRawdataforImp()"
											 href="javascript:void(0)">Download Raw Data</a>
										</div>
										<table class="table table-hover" *ngIf="delta === 'Review' && actionType !=='Reset' &&  actionType !=='Select Type'">
											<thead>
												<tr>
													<th *ngIf="actionType === 'Market Share Ready'" title="Select">Select</th>
													<th title="File Type">File Type</th>
													<th title="Total Tax Amount">Total Tax Amount</th>
													<th title="Details File Volume">Details File Volume</th>
													<th title="Tax Rate">Tax Rate</th>
												</tr>
											</thead>
											<tbody>
												<tr (click)="fileTypeSelected = 'Summary'; onFileTypeSelChanged('Summary')">
													<td *ngIf="actionType === 'Market Share Ready'">
														<div>
															<input id="rd-summary" title="Summary" name="optradio" type="radio" value="Summary" [(ngModel)]="fileTypeSelected" (ngModelChange)="onFileTypeSelChanged($event)">
														</div>
													</td>
													<td>Summary File</td>
													<td>{{cbpSummTaxAmount | currency:'USD':'symbol':'1.2-2' | minustoparens}}</td>
													<td>{{cbpDetailVolume | number}} {{unitMeasurement}}</td>
													<td>
														{{cbpSummTaxAmount/cbpDetailVolume | number}}
													</td>
													<td (click)="$event.stopPropagation()">
														<!-- Download Summary File -->
														<i *ngIf="!downloadLoading" (click)="exportIngestedData('summary')" class="fa fa-arrow-circle-down" aria-hidden="true" aria-label="Download Ingested Data"
														 title="Download Summary Ingested Data"></i>
														<div *ngIf="downloadLoading" class="spinner-border spinner-border-sm text-primary" role="status">
															<span class="sr-only">Loading...</span>
														</div>
													</td>
												</tr>
												<div></div>

												<tr (click)="fileTypeSelected = 'Details'; onFileTypeSelChanged('Details')">
													<td *ngIf="actionType === 'Market Share Ready'">
														<div>
															<input id="rd-details" title="Details" name="optradio" type="radio" value="Details" [(ngModel)]="fileTypeSelected" (ngModelChange)="onFileTypeSelChanged($event)">
														</div>
													</td>
													<td>Details File</td>
													<td>{{cbpDetailTaxAmount | currency:'USD':'symbol':'1.2-2'| minustoparens}}</td>
													<td>{{cbpDetailVolume | number}} {{unitMeasurement}}</td>
													<td>
														{{cbpDetailTaxAmount/cbpDetailVolume | number }}
													</td>
													<td (click)="$event.stopPropagation()">
														<!-- Download Details File -->
														<i *ngIf="!downloadDetailsLoading" (click)="exportIngestedData('details')" class="fa fa-arrow-circle-down" aria-hidden="true"
														 aria-label="Download Ingested Data" title="Download Details Ingested Data"></i>
														<div *ngIf="downloadDetailsLoading" class="spinner-border spinner-border-sm text-primary" role="status">
															<span class="sr-only">Loading...</span>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
										<br/>

									</div>

									<div [ngBusy]="busy" *ngIf="hasCmpdIngestTTVol()">
										<div *ngFor="let ttbVolTx of compoundTTTaxesVolume; let i = index">
											<div class="form-group row">
												<label class="fw-bold offset-md-2  col-md-4 form-control-label text-md-left">
													{{ ttbVolTx?.tobaccoClass }}
												</label>
											</div>
											<div class="form-group row">
												<label *ngIf="!hasNoVolumnData()" class=" offset-md-2  col-md-4 form-control-label text-md-left">
													Volume: {{ttbVolTx?.pounds| number:'.0-6'}} lbs.
												</label>
												<label *ngIf="hasNoVolumnData()" class=" offset-md-2  col-md-4 form-control-label text-md-left">
													Volume: N/A
												</label>
												<div role="alert" class="col-md-5 col-xs-12 input-group">
													<span class="input-group-text">$</span>
													<input #amendTax type="text" id="compound-tt-{{i}}" [ngModel]="ttbVolTx.amendedTax" [customDecimalFormatter]='2' customNumerics
													 [valueChg]='amendTax.value' (ngModelChange)="ttbVolTx.amendedTax=$event" title="{{ttbVolTx.tobaccoClass}}" [ngModelOptions]="{standalone: true}"
													 class="form-control" required="required" (input)="inputValidator($event)" (focus)="storeCurrentValue($event)">
												</div>
											</div>
											<div class="form-group row">
												<label *ngIf="!hasNoVolumnData()" class=" offset-md-2  col-md-5 form-control-label text-md-left">
													Calculated Tax: {{ ttbVolTx?.estimatedTax |currency:'USD':'symbol':'1.2-2'| minustoparens}}
												</label>
												<label *ngIf="hasNoVolumnData()" class=" offset-md-2  col-md-5 form-control-label text-md-left">
													Calculated Tax: N/A
												</label>

											</div>
										</div>

										<div>
											<div class="form-group row">
												<label class=" fw-bold offset-md-2  col-md-4 form-control-label text-md-left">
													Ingested Tax :
												</label>
												<label class=" col-md-6 form-control-label text-md-left">
													{{popupRptData?.totalDeltaTax | abs | currency:'USD':'symbol':'1.2-2'| minustoparens }}
												</label>

											</div>

											<div class="form-group row">
												<label class=" fw-bold offset-md-2  col-md-4 form-control-label text-md-left">
													Total Calculated Tax:
												</label>
												<label *ngIf="!hasNoVolumnData()" class="col-md-6 form-control-label text-md-left">
													{{(compoundTTTaxesVolume[0]?.estimatedTax+ compoundTTTaxesVolume[1]?.estimatedTax)|currency:'USD':'symbol':'1.2-2'| minustoparens}}
												</label>
												<label *ngIf="hasNoVolumnData()" class="col-md-6 form-control-label text-md-left">
													N/A
												</label>

											</div>

											<div class="form-group row">
												<label class=" fw-bold offset-md-2  col-md-4 form-control-label text-md-left">
													Tax Difference:
												</label>
												<label class=" col-md-6 form-control-label text-md-left">
													{{ ((popupRptData?.totalDeltaTax|abs) - (compoundTTTaxesVolume[0]?.estimatedTax+ compoundTTTaxesVolume[1]?.estimatedTax))|currency:'USD':'symbol':'1.2-2'|
													minustoparens }}
												</label>
											</div>

										</div>

									</div>

									<div [ngBusy]="busy" *ngIf="hasNoCmpdIngestTTVol()">
										<div class="form-group row">
											<label class=" fw-bold offset-md-2  col-md-4 form-control-label text-md-left">
												{{tobaccoClassNames[0]}}
											</label>
										</div>
										<div class="form-group row">
											<label class=" offset-md-2  col-md-4 form-control-label text-md-left">
												Volume: N/A
											</label>
											<div role="alert" class="col-md-5 col-xs-12 input-group">
												<span class="input-group-text">$</span>
												<input #amendTax1 type="text" id="compound-tt-1" [ngModel]="amendedTax1" [customDecimalFormatter]='2' customNumerics [valueChg]='amendTax1.value'
												 (ngModelChange)="amendedTax1=$event" title="{{tobaccoClassNames[0]}}" [ngModelOptions]="{standalone: true}" class="form-control"
												 required="required" (input)="inputValidator($event)" (focus)="storeCurrentValue($event)">
											</div>
										</div>
										<div class="form-group row">
											<label class=" offset-md-2  col-md-5 form-control-label text-md-left">
												Calculated Tax: N/A
											</label>
										</div>
										<div class="form-group row">
											<label class="fw-bold offset-md-2  col-md-4 form-control-label text-md-left">
												{{tobaccoClassNames[1]}}
											</label>
										</div>
										<div class="form-group row">
											<label class=" offset-md-2  col-md-4 form-control-label text-md-left">
												Volume: N/A
											</label>
											<div role="alert" class="col-md-5 col-xs-12 input-group">
												<span class="input-group-text">$</span>
												<input #amendTax2 type="text" id="compound-tt-2" [ngModel]="amendedTax2" [customDecimalFormatter]='2' customNumerics [valueChg]='amendTax2.value'
												 (ngModelChange)="amendedTax2=$event" title="{{tobaccoClassNames[0]}}" [ngModelOptions]="{standalone: true}" class="form-control"
												 required="required" (input)="inputValidator($event)" (focus)="storeCurrentValue($event)">
											</div>
										</div>
										<div class="form-group row">
											<label class=" offset-md-2  col-md-5 form-control-label text-md-left">
												Calculated Tax: N/A
											</label>
										</div>
										<div>
											<div class="form-group row">
												<label class=" fw-bold offset-md-2  col-md-4 form-control-label text-md-left">
													Ingested Tax :
												</label>
												<label class=" col-md-6 form-control-label text-md-left">
													{{popupRptData?.totalDeltaTax | abs | currency:'USD':'symbol':'1.2-2'| minustoparens }}
												</label>

											</div>

											<div class="form-group row">
												<label class=" fw-bold offset-md-2  col-md-4 form-control-label text-md-left">
													Total Calculated Tax:
												</label>
												<label class="col-md-6 form-control-label text-md-left">
													N/A
												</label>

											</div>

											<div class="form-group row">
												<label class=" fw-bold offset-md-2  col-md-4 form-control-label text-md-left">
													Tax Difference:
												</label>
												<label class=" col-md-6 form-control-label text-md-left">
													{{ ((popupRptData?.totalDeltaTax|abs))|currency:'USD':'symbol':'1.2-2'| minustoparens }}
												</label>
											</div>

										</div>

									</div>
									<div *ngIf="actionType === 'Association'" [ngBusy]="einCheckbusy" style="position: relative;">
										<form style="padding-left:55px;" id="associatecompany-form" class="form-horizontal" role="form" data-parsley-priority-enabled="false"
										 novalidate="novalidate" data-parsley-validate>
											<div id="associate-ein" class="form-group row" [ngBusy]="busy" [ngClass]="{'has-error': (associateEinInput.invalid && (associateEinInput.dirty || associateEinInput.touched)) || hasError}">
												<label for="ein-number" class="offset-md-1 col-md-5 form-control-label">
													EIN of TUFA Company
													<span class="help-block">Required field</span>
												</label>
												<div role="alert" class="input-group input-group-transparent input-group-rounded col-md-4 col-xs-12">
													<!-- data-parsley-error-message="Error: EIN requires appropriate format (e.g. 123456789)" -->
													<input type="text" id="ein-number" title="EIN Number" [(ngModel)]="associationCompany.einNumber" [textMask]="{mask: einmask, guide:false}"
													 [ngModelOptions]="{standalone: true}" placeholder="EIN" class="form-control" placeholder="9 digits" minlength="9"
													 maxlength="9" required (ngModelChange)="checkEIN()" #associateEinInput="ngModel">
													<div class="input-group-text">
														<ng-container *ngIf="einIsChecked">
															<span *ngIf="!hasError" class="text-success fa fa-check"></span>
															<span *ngIf="hasError" class="text-danger fa fa-times"></span>
														</ng-container>
													</div>
												</div>
												<span class="offset-md-1 col-md-11 form-control-feedback">
													<ng-container *ngIf="associateEinInput.invalid && (associateEinInput.dirty || associateEinInput.touched)">
														<div *ngIf="associateEinInput.errors.required">
															Error: Employer Identification Number (EIN) is required.
														</div>
														<div *ngIf="associateEinInput.errors.minlength">
															Error: Employer Identification Number (EIN) must be 9 characters long.
														</div>
													</ng-container>

													<div *ngIf="hasError">
														Error: Employer Identification Number (EIN) is invalid
													</div>
												</span>
											</div>
											<div class="form-group row">
												<label for="#primary-name-association" class="offset-md-1 col-md-5 form-control-label">
													TUFA Company Inheriting Delta
												</label>
												<div class="col-md-4 col-xs-12">
													<p id="primary-name-association">{{associationCompany.legalName}}</p>
												</div>
											</div>
										</form>
									</div>

									<div class="action-conatiner" style="position: relative;">
										<!-- Put action sections here -->


										<div *ngIf="actionType !== 'Select Type' && !(actionType === 'Market Share Ready' && delta =='Review')" class="alert alert-warning"
										 [ngBusy]="{busy: this.affectedDeltaCntBusy, message: 'Calculating affected delta count...', backdrop: true}">
											<strong>Warning:</strong>
											<ul>
												<ng-container *ngIf="actionType === 'Reset'">
													<li *ngFor="let alert of resetAlerts">
														<span [innerHTML]="alert.msg"></span>
													</li>
												</ng-container>
												<ng-container *ngIf="actionType === 'Market Share Ready'">
													<li *ngFor="let alert of msrAlerts">
														<span [innerHTML]="alert.msg"></span>
													</li>
												</ng-container>
												<ng-container *ngIf="actionType === 'Market Share Ready' && (hasNoCmpdIngestTTVol() || hasNoVolumnData()) ">
													<li *ngFor="let alert of msrNoVolAlerts">
														<span [innerHTML]="alert.msg"></span>
													</li>
												</ng-container>
												<ng-container *ngIf="actionType === 'Exclude'">
													<li *ngFor="let alert of excludeAlerts">
														<span [innerHTML]="alert.msg"></span>
													</li>
												</ng-container>
												<ng-container *ngIf="actionType === 'Association'">
													<li *ngFor="let alert of associateAlerts">
														<span [innerHTML]="alert.msg"></span>
													</li>
												</ng-container>
												<li *ngIf="affectedTTDeltasGrid?.length > 0 && compoundTTTaxesVolume.length!=2">{{getAffectedDeltaCnt()}} delta(s) will be affected by {{actionType =='Association' ? 'Associate' : actionType}}
													Selected action.
													<a *ngIf="affectedTTDeltasGrid?.length != 1 || !affectdDeltasContainsPopUpData()" class="pull-right" (click)="selectDeltas = !selectDeltas"
													 href="javascript:void(0)">Select Deltas</a>
												</li>
											</ul>
											<div *ngIf="selectDeltas">
												<table style="
															width: 100%;
														" class="table">
													<colgroup>
														<col style="width: 30%;">
														<col style="width: 10%;">
														<col style="width: 15%;">
														<col style="width: 40%;">
														<col style="width: 5%;">
													</colgroup>
													<thead>
														<tr>
															<th>Tobacco Class</th>
															<th>Type</th>
															<th>Quarter</th>
															<th>Delta Amount</th>
															<th>Select</th>
														</tr>
													</thead>
													<tbody>
														<tr *ngFor="let delta of affectedTTDeltasGrid" (click)="delta.affectDeltaFlag = !delta.affectDeltaFlag">
															<ng-container *ngIf="!isPopUpdata(delta)">
																<td>{{delta.tobaccoClass}}</td>
																<td>{{delta.permitType}}</td>
																<td>Q{{delta.quarter}}</td>
																<td *ngIf="delta.deltaexcisetaxFlag !== 'Review'">{{delta.totalDeltaTax|currency:'USD':'symbol':'1.2-2' | minustoparens}}</td>
																<td *ngIf="delta.deltaexcisetaxFlag === 'Review'">{{delta.deltaexcisetaxFlag}}</td>

																<td>
																	<label class="custom-control custom-checkbox">
																		<input #i type="checkbox" class="custom-control-input" [checked]="delta.affectDeltaFlag" (click)="delta.affectDeltaFlag = !delta.affectDeltaFlag">
																		<span class="custom-control-indicator"></span>
																		<span class="custom-control-label"></span>
																	</label>
																</td>
															</ng-container>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										<div>
											<div class="row">
												<label [attr.for]="1" class="col-md-12 form-control-label text-md-left">
													Comment Description
												</label>
												<div class="col-md-12 col-xs-12">
													<textarea id="txtcommentdesc" title="Comment Description" class="form-control" title="Comment Description" maxlength="4000"
													 [(ngModel)]="deltaComment" [ngModelOptions]="{standalone: true}" rows="3" required="required" data-parsley-required-message="Error: Comment description is required">

												</textarea>
												</div>
											</div>
											<div class="row" style="padding-top: 15px">
												<div class="col-md-12 btn-toolbar">
													<ng-container>
														<button type="button" [ngBusy]="busy" class="btn btn-primary" (click)="saveAllCommentAction()" title="Save  All Comment">Save All Comment</button>
													</ng-container>
													<ng-container>
														<button type="button" [ngBusy]="busy" class="btn btn-primary" (click)="saveCommentAction()" title="Save Comment">Save Comment</button>
													</ng-container>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
					<!--Comments Section-->
					<div class="row">
						<div class="col-lg-12" [ngBusy]="{busy: this.loadCommentsBusy, message: 'Loading comments...', backdrop: true}">
							<div cmpdetail-comments-grid [context]="context" [commentModel]="commentModel">
							</div>
						</div>


						<!--Modal Footer-->
						<div class="modal-footer col-lg-12" [ngBusy]="{busy: this.affectedDeltaCntBusy, message: 'Calculating affected delta count...', backdrop: true}">
							<ng-container *ngIf="actionType === 'Association'">
								<button type="button" [ngBusy]="busy" class="btn btn-primary" (click)="saveAll()" [disabled]="getAffectedDeltaCnt() == 0"
								 title="Associate Selected">Associate Selected</button>
								<button type="button" [ngBusy]="busy" class="btn btn-primary" (click)="save()" title="Associate">Associate</button>
							</ng-container>
							<ng-container *ngIf="actionType === 'Exclude'">
								<button type="button" [ngBusy]="busy" class="btn btn-primary" (click)="saveAll()" [disabled]="getAffectedDeltaCnt() == 0 || allDeltaStatus === 'Excluded X'"
								 title="Exclude Selected">Exclude Selected</button>
								<button type="button" [ngBusy]="busy" class="btn btn-primary" (click)="save()" [disabled]="allDeltaStatus === 'Excluded X'"
								 title="Exclude">Exclude</button>
							</ng-container>
							<ng-container *ngIf="actionType === 'Market Share Ready'">
								<button *ngIf="delta !== 'Review' && !isCmpdIngestTT()" type="button" [ngBusy]="busy" class="btn btn-primary" (click)="saveAll()"
								 title="Save Selected" [disabled]="(!fileTypeSelected && delta === 'Review') || getAffectedDeltaCnt() == 0">Save Selected</button>
								<button *ngIf="!isCmpdIngestTT()|| hasCmpdIngestTTVol() || hasNoCmpdIngestTTVol()" type="button" [ngBusy]="busy" class="btn btn-primary"
								 title="Save" [disabled]="(!fileTypeSelected && delta === 'Review') || (hasNoCmpdIngestTTVol() && hasNoVolAmmendTax()) || (hasCmpdIngestTTVol() && hasVolAmmendTax())"
								 (click)="save()">Save</button>
							</ng-container>
							<ng-container *ngIf="actionType === 'Reset'">
								<button type="button" [ngBusy]="busy" class="btn btn-primary" (click)="resetAllDeltaActions()" [disabled]="getAffectedDeltaCnt() == 0"
								 title="Reset Selected">Reset Selected</button>
								<button type="button" [ngBusy]="busy" class="btn btn-primary" (click)="resetDeltaAction()" title="Reset">Reset</button>
							</ng-container>

							<ng-container *ngIf="actionType !== 'Reset' && (popupRptData?.allDeltaStatus === 'Review'|| popupRptData?.allDeltaStatus === 'Conflicted') ">
								<button type="button" [ngBusy]="busy" class="btn btn-primary" (click)="inProgressAction()" title="In Progress">In Progress</button>
							</ng-container>

							<button type="button" class="btn btn-secondary" (click)="popUpClose()" title="Cancel">Cancel</button>

						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- Future enhancement. Do not Delete. To be added to Delta affected Warning Div.  
		<a href="#" data-toggle="modal" data-target="#compareall-affect-delta-warn-modal">Review</a>-->

		<!---------Future Enhancement: Affected Delta Warning Modal. Do not Delete--->
		<!-- <div class="modal modal-child fade" id="compareall-affect-delta-warn-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content"> -->
		<!--Modal Body-->
		<!-- <div class="modal-body">
				<div class="row">
					<div class="col-md-12 col-lg-12" align="center">
						<table class="table-condensed-padd table-bordered" [mfData]="affectedTTDeltasGrid" [mfIsServerPagination]="false"
						 #mfTTDeltas="mfDataTable">
							<colgroup span="5">
							</colgroup>
							<tr>
								<th></th>
								<th style="background-color: #95b6d7; color:white">Q1</th>
								<th style="background-color: #95b6d7; color:white">Q2</th>
								<th style="background-color: #95b6d7; color:white">Q3</th>
								<th style="background-color: #95b6d7; color:white">Q4</th>
							</tr>

							<tr *ngFor="let delta of mfTTDeltas.data">
								<td>
									{{delta.tobaccoClass}}
								</td>
								<td>
									{{delta.qtr1?(delta.qtr1|currency:'USD':'symbol':'1.2-2'):'N/A'}}
								</td>
								<td>
									{{delta.qtr2?(delta.qtr2|currency:'USD':'symbol':'1.2-2'):'N/A'}}
								</td>
								<td>
									{{delta.qtr3?(delta.qtr3|currency:'USD':'symbol':'1.2-2'):'N/A'}}
								</td>
								<td>
									{{delta.qtr4?(delta.qtr4|currency:'USD':'symbol':'1.2-2'):'N/A'}}
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div> -->
		<!--Modal Footer-->
		<!-- <div class="modal-footer">
				<div>
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div> -->
	</div>