<div *ngIf="iscalcTypeTax" class="row" (keyup)="setGlobalError(checkForm5210InError())">
  <template #toolTipform5210>
      <div><b>DIFFERENCE</b>
      </div><div></div>
      <div>
      <table>
      <tr>
          <td>Quantity</td><td> - </td><td>Quantity<td>
      </tr>
      <tr>
          <td>[FDA 3852]</td>
          <td>  </td>
          <td>[TTB 5000.24]</td>
      </tr>
      </table>
      </div>
  </template>
      <div class="col-lg-offset-1 col-lg-12">
          <section class="widget h-divider">
              <div class="widget-body clearfix">
                <div class="row flex-nowrap" >
                    <div class="col-md-10">
                        <h4 class="h4 no-margin fw-normal">Removed Subject to Tax</h4>
                        <p>{{model.permitNumber| permitNumberPipe}}&nbsp;&nbsp;&nbsp;&nbsp;{{model.period}}</p>
                    </div>
                    <div class="col-md-2">
                        <p style="white-space:nowrap;"><strong>TTB 5210.5</strong></p>
                    </div>
                  </div>
                <div class="row flex-nowrap" style="overflow-x:auto;">
                  <div class="col-md-12">
                    <table class="table borderless">
                      <colgroup>
                        <col style="width:15%">
                        <col style="width:30%">
                        <col style="width:20%">
                        <col style="width:15%">
                        <col style="width:20%">
                      </colgroup>
                      <thead>
                        <tr >
                          <th><span>Tobacco Class</span></th>
                          <th><span>Removals Amount</span></th>
                          <th><span class="floatright">Difference Removals</span></th>
                          <th><span class="largeleftmargin">Activity</span></th>
                          <th><span class="rightalign">
                            <toggle-button-tufa title="Enable All Adjustments" [(flag)]="adjFlagAll" [id]="'adjustment-5210-all'" (flagChange)="selectAllAdj($event)"[lables]="['Enable All Adjustments']"></toggle-button-tufa>
                              </span>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <!--Cigars Start Here-->
                        <tr *ngIf="model.showCigars && !adjFlagCigars" class="h-thin-top-divider">
                          <td style="vertical-align:top">Cigars Total</td>
                          <td>
                            <div>Large</div>
                            <div>
                              <input id="cig-lg-stk"  type="text" class="form-control fdatable rightalign" [(ngModel)]="model.getTobaccoType('Cigars').largeSticks" customNumberFormatter
                                [valueChg]="lcigars.value" customInteger (ngModelChange)="
                                updateTotalSticks(model.getTobaccoType('Cigars'));largecigars(model.getTobaccoType('Cigars'))" #lcigars 
                                aria-label="Cigar Large Sticks">
                            </div>
                            <div *ngIf="(model.getTobaccoType('Cigars').isQuantity52105StrValidLrg==false)" class="alert alert-danger">{{numberValidationErrorMessage}}</div>
                            <div><p style="margin-left:60px;">+</p></div>
                            <div>Small</div>
                            <div>
                                <input id="cig-sm-stk" type="text" class="form-control fdatable rightalign" [(ngModel)]="model.getTobaccoType('Cigars').smallSticks" customNumberFormatter
                                  [valueChg]="scigars.value" customInteger (ngModelChange)="
                                  updateTotalSticks(model.getTobaccoType('Cigars'));smallcigars(model.getTobaccoType('Cigars'))" #scigars placeholder = "in sticks"
                                  aria-label="Cigar Small Sticks" >
                            </div>
                            <div *ngIf="(model.getTobaccoType('Cigars').isQuantity52105StrValidSml==false)" class="alert alert-danger">{{numberValidationErrorMessage}}</div>
                            <div class="h-thin-divider" style="margin-top:5px; width:100%"></div>
                            <div><span>Total sticks:</span><span class="totaldisplay">{{model.getTobaccoType('Cigars').qty52105 | customnumber : 0}} </span></div>
                          </td>
                          <td><span class="floatright">{{model.getTobaccoType('Cigars').qtyDiff5210 | customnumber : 0 | minustoparens}}</span></td>
                          <td><span [class.calc-error]="model.getTobaccoType('Cigars').qtyDiffErr5210 "
                              class="largeleftmargin">{{model.getTobaccoType('Cigars').activityCd5210}}</span></td>
                          <td>
                              <span class="rightalign">
                              <toggle-button-tufa title="Enable Adjustments" [(flag)]="adjFlagCigars" [id]="'adjustment-5210-cigars'" (flagChange)="checkForSelectAll($event)"[lables]="['Enable Adjustments']"></toggle-button-tufa>
                                </span>
                            </td>  
                        </tr>
                        
                        <tr *ngIf="model.showCigars && !adjFlagCigars" >
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <!-- Cigar Adjustment-->
                          <tr *ngIf="model.showCigars && adjFlagCigars" class="h-thin-top-divider">
                              <td style="vertical-align:top">Cigars Total</td>
                              <td>
                                <div>Large</div>
                                <div>
                                  <input id="cig-lg-stk"  type="text" class="form-control fdatable rightalign" [(ngModel)]="model.getTobaccoType('Cigars').largeSticks" customNumberFormatter
                                    [valueChg]="lcigars.value" customInteger (ngModelChange)="
                                    updateTotalSticks(model.getTobaccoType('Cigars'));largecigars(model.getTobaccoType('Cigars'))" #lcigars 
                                    aria-label="Cigar Large Sticks">
                                </div>
                                <div *ngIf="(model.getTobaccoType('Cigars').isQuantity52105StrValidLrg==false)" class="alert alert-danger">{{numberValidationErrorMessage}}</div>
                                <div><p style="margin-left:60px;">+</p></div>
                                <div>Small</div>
                                <div>
                                    <input id="cig-sm-stk" type="text" class="form-control fdatable rightalign" [(ngModel)]="model.getTobaccoType('Cigars').smallSticks" customNumberFormatter
                                      [valueChg]="scigars.value" customInteger (ngModelChange)="
                                      updateTotalSticks(model.getTobaccoType('Cigars'));smallcigars(model.getTobaccoType('Cigars'))" #scigars placeholder = "in sticks"
                                      aria-label="Cigar Small Sticks" >
                                </div>
                                <div *ngIf="(model.getTobaccoType('Cigars').isQuantity52105StrValidSml==false)" class="alert alert-danger">{{numberValidationErrorMessage}}</div>
                                </td>
                              <td></td>
                              <td></td>
                              <td>
                                  <span class="rightalign">
                                  <toggle-button-tufa title="Enable Adjustments" [(flag)]="adjFlagCigars" [id]="'adjustment-5210-cigars'" (flagChange)="checkForSelectAll($event)"[lables]="['Enable Adjustments']"></toggle-button-tufa>
                                    </span>
                                </td>  
                            </tr>
                            <tr *ngIf="model.showCigars && adjFlagCigars">
                                      <td><label for="cig-qty52105-la">Line 17 Adjustment</label></td>
                                      <td><input id="cig-qty52105-la" type="text" class="form-control fdatable rightalign" [(ngModel)]="model.getTobaccoType('Cigars').adjustmentRemoval" 
                                        customNumberFormatter [valueChg]="tcigarsadj.value"  customNumerics (ngModelChange)="updateCalc5210('Cigars')" #tcigarsadj  title="Cigars Adjustment Quantity">
                      </td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                             </tr>
                 
                 <tr *ngIf="model.showCigars && adjFlagCigars">
                                    <td><label for="cig-qty52105-tot"><b>Cigars Grand Total</b></label></td>
                                    <td><span class="floatright"><b>{{(model.getTobaccoType('Cigars').grandRemovalTotal? model.getTobaccoType('Cigars').grandRemovalTotal:0)| customnumber : 0 }}</b></span></td>
                                    <td><span class="floatright"><b>{{model.getTobaccoType('Cigars').qtyDiff5210 | customnumber : 0 | minustoparens}}</b></span></td>
                    <td><span [class.calc-error]="model.getTobaccoType('Cigars').qtyDiffErr5210" class="largeleftmargin"><b>{{model.getTobaccoType('Cigars').activityCd5210}}</b></span></td>
                              <td>
                    <td></td>                                
                             </tr>
                
                            <tr *ngIf="model.showCigars && adjFlagCigars" >
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                
                  <!--Cigars End Here-->
                  <!--Cigarettes Start Here-->
                        <tr *ngIf="model.showCigarettes && !adjFlagCigarette" class="h-thin-top-divider">
                          <td style="vertical-align:top">Cigarettes Total</td>
                          <td>
                            <div>Large</div>
                            <div>
                              <input id="cgt-lg-stk" type="text" class="form-control fdatable rightalign" [(ngModel)]="model.getTobaccoType('Cigarettes').largeSticks" customNumberFormatter
                                [valueChg]="lcigs.value" customInteger (ngModelChange)="
                                updateTotalSticks(model.getTobaccoType('Cigarettes'));largecigs(model.getTobaccoType('Cigarettes'));" #lcigs 
                                aria-label="Cigarette Large Sticks">
                            </div>
                            <div *ngIf="(model.getTobaccoType('Cigarettes').isQuantity52105StrValidSml==false)" class="alert alert-danger">{{numberValidationErrorMessage}}</div>
                            <div><p style="margin-left:60px;">+</p></div>
  
                            <div>Small</div>
                            <div>
                              <input id="cgt-sm-stk" type="text" class="form-control fdatable rightalign" [(ngModel)]="model.getTobaccoType('Cigarettes').smallSticks" customNumberFormatter
                                [valueChg]="scigs.value" customInteger (ngModelChange)="
                                updateTotalSticks(model.getTobaccoType('Cigarettes'));smallcigs(model.getTobaccoType('Cigarettes'))" #scigs 
                                aria-label="Cigarette Small Sticks">
                            </div>
                            <div *ngIf="(model.getTobaccoType('Cigarettes').isQuantity52105StrValidLrg==false)" class="alert alert-danger">{{numberValidationErrorMessage}}</div>
                            <div class="h-thin-divider" style="margin-top:5px; width:100%"></div>
                            <div><span>Total sticks:</span><span class="totaldisplay">{{model.getTobaccoType('Cigarettes').qty52105 | customnumber : 0}}</span></div>
                          </td>
                          <td><span class="floatright">{{model.getTobaccoType('Cigarettes').qtyDiff5210 | customnumber : 0 | minustoparens}}</span></td>
                          <td><span [class.calc-error]="model.getTobaccoType('Cigarettes').qtyDiffErr5210 "
                              class="largeleftmargin">{{model.getTobaccoType('Cigarettes').activityCd5210}}</span>
                          </td>
                          <td>
                              <span class="rightalign">
                              <toggle-button-tufa title="Enable Adjustments" [(flag)]="adjFlagCigarette" [id]="'adjustment-5210-cigarette'" (flagChange)="checkForSelectAll($event)"[lables]="['Enable Adjustments']"></toggle-button-tufa>
                                </span>
                            </td>  
                        </tr>
                        <tr *ngIf="model.showCigarettes && !adjFlagCigarette">
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <!-- Cigarette Adjustment -->
                        <tr *ngIf="model.showCigarettes && adjFlagCigarette" class="h-thin-top-divider">
                            <td style="vertical-align:top">Cigarettes Total</td>
                            <td>
                              <div>Large</div>
                              <div>
                                <input id="cgt-lg-stk" type="text" class="form-control fdatable rightalign" [(ngModel)]="model.getTobaccoType('Cigarettes').largeSticks" customNumberFormatter
                                  [valueChg]="lcigs.value" customInteger (ngModelChange)="
                                  updateTotalSticks(model.getTobaccoType('Cigarettes'));largecigs(model.getTobaccoType('Cigarettes'));" #lcigs 
                                  aria-label="Cigarette Large Sticks">
                              </div>
                              <div *ngIf="(model.getTobaccoType('Cigarettes').isQuantity52105StrValidSml==false)" class="alert alert-danger">{{numberValidationErrorMessage}}</div>
                              <div><p style="margin-left:60px;">+</p></div>
    
                              <div>Small</div>
                              <div>
                                <input id="cgt-sm-stk" type="text" class="form-control fdatable rightalign" [(ngModel)]="model.getTobaccoType('Cigarettes').smallSticks" customNumberFormatter
                                  [valueChg]="scigs.value" customInteger (ngModelChange)="
                                  updateTotalSticks(model.getTobaccoType('Cigarettes'));smallcigs(model.getTobaccoType('Cigarettes'))" #scigs 
                                  aria-label="Cigarette Small Sticks">
                              </div>
                              <div *ngIf="(model.getTobaccoType('Cigarettes').isQuantity52105StrValidLrg==false)" class="alert alert-danger">{{numberValidationErrorMessage}}</div>
                              </td>
                            <td></td>
                            <td></td>
                            <td>
                                <span class="rightalign">
                                <toggle-button-tufa title="Enable Adjustments" [(flag)]="adjFlagCigarette" [id]="'adjustment-5210-cigarette'" (flagChange)="checkForSelectAll($event)"[lables]="['Enable Adjustments']"></toggle-button-tufa>
                                  </span>
                              </td>  
                          </tr>
                          <tr *ngIf="model.showCigarettes && adjFlagCigarette">
                                    <td><label for="cgt-qty52105-la">Line 17 Adjustment</label></td>
                                    <td><input id="cgt-qty52105-la" type="text" class="form-control fdatable rightalign" [(ngModel)]="model.getTobaccoType('Cigarettes').adjustmentRemoval" 
                                      customNumberFormatter [valueChg]="tcigarettesadj.value"  customNumerics (ngModelChange)="updateCalc5210('Cigarettes')" #tcigarettesadj  title="Cigarette Adjustment Quantity">
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                           </tr>
               
                           <tr *ngIf="model.showCigarettes && adjFlagCigarette">
                                  <td><label for="cgt-qty52105-tot"><b>Cigarettes Grand Total</b></label></td>
                                  <td><span class="floatright"><b>{{(model.getTobaccoType('Cigarettes').grandRemovalTotal? model.getTobaccoType('Cigarettes').grandRemovalTotal:0)| customnumber : 0 }}</b></span></td>
                                  <td><span class="floatright"><b>{{model.getTobaccoType('Cigarettes').qtyDiff5210 | customnumber : 0 | minustoparens}}</b></span></td>
                                  <td><span [class.calc-error]="model.getTobaccoType('Cigarettes').qtyDiffErr5210" class="largeleftmargin"><b>{{model.getTobaccoType('Cigarettes').activityCd5210}}</b></span></td>
                                  <td></td>                                
                           </tr>
                
                          <tr *ngIf="model.showCigarettes && adjFlagCigarette">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
  
                  <!--Cigrattes End Here-->
                  <!--Chews Start Here-->
                        <tr *ngIf="model.showChews && !adjFlagChew" class="h-thin-top-divider">
                          <td><label for="chw-qty52105">Chew Total</label></td>
                            <td><input id="chw-qty52105" type="text" class="form-control fdatable rightalign" [(ngModel)]="model.getTobaccoType('Chew').qty52105" [customDecimalFormatter]='3' [valueChg]="tchew.value" customNumerics (ngModelChange)="
                            updateCalc5210('Chew');chew(model.getTobaccoType('Chew'))" #tchew  title="Chew Quantity">
                      </td>
                          <td><span class="floatright">{{model.getTobaccoType('Chew').qtyDiff5210 | customnumber : 3 | minustoparens}}</span></td>
                          <td><span [class.calc-error]="model.getTobaccoType('Chew').qtyDiffErr5210"
                              class="largeleftmargin">{{model.getTobaccoType('Chew').activityCd5210}}</span></td>
                          <td>
                            <span class="rightalign">
                            <toggle-button-tufa title="Enable Adjustments" [(flag)]="adjFlagChew" [id]="'adjustment-5210-chew'" (flagChange)="checkForSelectAll($event)"[lables]="['Enable Adjustments']"></toggle-button-tufa>
                              </span>
                          </td>    
                      </tr>
                        <tr *ngIf="model.showChews && !adjFlagChew">
                          <td></td>
                          <td><div *ngIf="(model.getTobaccoType('Chew').isQuantity52105StrValid == false)" class="alert alert-danger">{{numberValidationErrorMessage}}</div></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          
                        </tr>
                        <!--Chew Adjustments-->
                        <tr *ngIf="model.showChews && adjFlagChew" class="h-thin-top-divider">
                            <td><label for="chw-qty52105">Chew Total</label></td>
                            <td><input id="chw-qty52105" type="text" class="form-control fdatable rightalign" [(ngModel)]="model.getTobaccoType('Chew').qty52105" 
                              [customDecimalFormatter]='3' [valueChg]="tchew.value"  customNumerics (ngModelChange)="
                            updateCalc5210('Chew');chew(model.getTobaccoType('Chew'))" #tchew  title="Chew Quantity">
                            </td>
                            <td></td>
                            <td></td>
                           <td>
                              <span class="rightalign">
                              <toggle-button-tufa title="Enable Adjustments" [(flag)]="adjFlagChew" [id]="'adjustment-5210-chew'"
                                (flagChange)="checkForSelectAll($event,'Chew')" [lables]="['Enable Adjustments']"></toggle-button-tufa>
                                </span>
                          </td>
                         </tr>
                         <tr *ngIf="model.showChews && adjFlagChew">
                                  <td><label for="chw-qty52105-la">Line 17 Adjustment</label></td>
                                  <td><input id="chw-qty52105-la" type="text" class="form-control fdatable rightalign" [(ngModel)]="model.getTobaccoType('Chew').adjustmentRemoval" 
                                    [customDecimalFormatter]='3' [valueChg]="tchewadj.value"  customNumerics (ngModelChange)="updateCalc5210('Chew');chew(model.getTobaccoType('Chew'))" #tchewadj  title="Chew Adjustment Quantity">
								                  </td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                            </tr>
                            <tr *ngIf="model.showChews && adjFlagChew">
                                <td><label for="chw-qty52105-tot"><b>Chew Grand Total</b></label></td>
                                <td><span class="floatright"><b>{{(model.getTobaccoType('Chew').grandRemovalTotal? model.getTobaccoType('Chew').grandRemovalTotal:0)| customnumber : 3 }}</b></span></td>
                                <td><span class="floatright"><b>{{model.getTobaccoType('Chew').qtyDiff5210 | customnumber : 3 | minustoparens}}</b></span></td>
                                <td><span [class.calc-error]="model.getTobaccoType('Chew').qtyDiffErr5210"
                                      class="largeleftmargin"><b>{{model.getTobaccoType('Chew').activityCd5210}}</b></span></td>
                         
                                <td></td>                                
                         </tr>
                         <tr *ngIf="model.showChews && adjFlagChew">
                            <td></td>
                            <td><div *ngIf="(model.getTobaccoType('Chew').isQuantity52105StrValid==false)" class="alert alert-danger">{{numberValidationErrorMessage}}</div></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                  <!--Chews End Here-->
                  <!--Snuffs Start Here-->
                      <tr *ngIf="model.showSnuffs && !adjFlagSnuff" class="h-thin-top-divider">
                          <td><label for="snf-qty52105">Snuff Total</label></td>
                          <td>
                            <input id="snf-qty52105" type="text" class="form-control fdatable rightalign" [(ngModel)]="model.getTobaccoType('Snuff').qty52105" [customDecimalFormatter]='3'
                            [valueChg]='tsnuff.value' customNumerics (ngModelChange)="updateCalc5210('Snuff');snuff(model.getTobaccoType('Snuff'))" #tsnuff  title="Snuff Quantity">
                          </td>
                          <td><span class="floatright">{{model.getTobaccoType('Snuff').qtyDiff5210 | customnumber : 3 | minustoparens}}</span></td>
                          <td><span [class.calc-error]="model.getTobaccoType('Snuff').qtyDiffErr5210"
                              class="largeleftmargin">{{model.getTobaccoType('Snuff').activityCd5210}}</span></td>
                          <td>
                              <span class="rightalign">
                              <toggle-button-tufa title="Enable Adjustments" [(flag)]="adjFlagSnuff" [id]="'adjustment-5210-snuff'" (flagChange)="checkForSelectAll($event)"[lables]="['Enable Adjustments']"></toggle-button-tufa>
                                </span>
                            </td>
                            </tr>
                        <tr *ngIf="model.showSnuffs && !adjFlagSnuff">
                          <td></td>
                          <td><div *ngIf="(model.getTobaccoType('Snuff').isQuantity52105StrValid==false)" class="alert alert-danger">{{numberValidationErrorMessage}}</div></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <!-- Snuff Adjustment-->
                        <tr *ngIf="model.showSnuffs && adjFlagSnuff" class="h-thin-top-divider">
                            <td><label for="snf-qty52105">Snuff Total</label></td>
                            <td><input id="snf-qty52105" type="text" class="form-control fdatable rightalign" [(ngModel)]="model.getTobaccoType('Snuff').qty52105" 
                              [customDecimalFormatter]='3' [valueChg]="tsnuff.value"  customNumerics (ngModelChange)="
                            updateCalc5210('Snuff');snuff(model.getTobaccoType('Snuff'))" #tsnuff  title="Snuff Quantity">
                            </td>
                            <td></td>
                            <td></td>
                           <td>
                              <span class="rightalign">
                              <toggle-button-tufa title="Enable Adjustments" [(flag)]="adjFlagSnuff" [id]="'adjustment-snuff'"
                                (flagChange)="checkForSelectAll($event,'Snuff')" [lables]="['Enable Adjustments']"></toggle-button-tufa>
                                </span>
                          </td>
                         </tr>
                         <tr *ngIf="model.showSnuffs && adjFlagSnuff">
                                  <td><label for="snf-qty52105-la">Line 17 Adjustment</label></td>
                                  <td><input id="snf-qty52105-la" type="text" class="form-control fdatable rightalign" [(ngModel)]="model.getTobaccoType('Snuff').adjustmentRemoval" 
                                    [customDecimalFormatter]='3' [valueChg]="tsnuffadj.value"  customNumerics (ngModelChange)="updateCalc5210('Snuff');snuff(model.getTobaccoType('Snuff'))" #tsnuffadj  title="Snuff Adjustment Quantity">
								  </td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                            </tr>
                            <tr *ngIf="model.showSnuffs && adjFlagSnuff">
                                <td><label for="snf-qty52105-tot"><b>Snuff Grand Total</b></label></td>
                                <td><span class="floatright"><b>{{(model.getTobaccoType('Snuff').grandRemovalTotal? model.getTobaccoType('Snuff').grandRemovalTotal:0)| customnumber : 3 }}</b></span></td>
                                <td><span class="floatright"><b>{{model.getTobaccoType('Snuff').qtyDiff5210 | customnumber : 3 | minustoparens}}</b></span></td>
                                <td><span [class.calc-error]="model.getTobaccoType('Snuff').qtyDiffErr5210"
                                      class="largeleftmargin"><b>{{model.getTobaccoType('Snuff').activityCd5210}}</b></span></td>
                         
                                <td></td>                                
                         </tr>
                         <tr *ngIf="model.showSnuffs && adjFlagSnuff">
                            <td></td>
                            <td><div *ngIf="(model.getTobaccoType('Snuff').isQuantity52105StrValid==false)" class="alert alert-danger">{{numberValidationErrorMessage}}</div></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                  <!--Snuffs End Here-->
                  <!--Pipes Start Here-->
                        <tr *ngIf="model.showPipes && !adjFlagPipe" class="h-thin-top-divider">
                          <td><label for="pip-qty52105">Pipe Total</label></td>
                          <td>
                              <input id="pip-qty52105" type="text" class="form-control fdatable rightalign" [(ngModel)]="model.getTobaccoType('Pipe').qty52105" [customDecimalFormatter]='3' [valueChg]="tpipe.value" customNumerics (ngModelChange)="
                                    updateCalc5210('Pipe');pipe(model.getTobaccoType('Pipe'))" #tpipe  title="Pipe Quantity">
                          </td>
                          <td><span class="floatright">{{model.getTobaccoType('Pipe').qtyDiff5210 | customnumber : 3 | minustoparens}}</span></td>
                          <td><span [class.calc-error]="model.getTobaccoType('Pipe').qtyDiffErr5210"
                              class="largeleftmargin">{{model.getTobaccoType('Pipe').activityCd5210}}</span></td>
                          <td>
                              <span class="rightalign">
                              <toggle-button-tufa title="Enable Adjustments" [(flag)]="adjFlagPipe" [id]="'adjustment-5210-pipe'" (flagChange)="checkForSelectAll($event)"[lables]="['Enable Adjustments']"></toggle-button-tufa>
                                </span>
                          </td>
                            </tr>
                        <tr *ngIf="model.showPipes && !adjFlagPipe">
                          <td></td>
                          <td><div *ngIf="(model.getTobaccoType('Pipe').isQuantity52105StrValid==false)" class="alert alert-danger">{{numberValidationErrorMessage}}</div></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <!--Pipe adjustment-->
                        <tr *ngIf="model.showPipes && adjFlagPipe" class="h-thin-top-divider">
                            <td><label for="pip-qty52105">Pipe Total</label></td>
                            <td><input id="pip-qty52105" type="text" class="form-control fdatable rightalign" [(ngModel)]="model.getTobaccoType('Pipe').qty52105" 
                              [customDecimalFormatter]='3' [valueChg]="tpipe.value"  customNumerics (ngModelChange)="
                            updateCalc5210('Pipe');pipe(model.getTobaccoType('Pipe'))" #tpipe  title="Pipe Quantity">
                            </td>
                            <td></td>
                            <td></td>
                           <td>
                              <span class="rightalign">
                              <toggle-button-tufa title="Enable Adjustments" [(flag)]="adjFlagPipe" [id]="'adjustment-5210-pipe'"
                                (flagChange)="checkForSelectAll($event,'Pipe')" [lables]="['Enable Adjustments']"></toggle-button-tufa>
                                </span>
                          </td>
                         </tr>
                         <tr *ngIf="model.showPipes && adjFlagPipe">
                                  <td><label for="pip-qty52105-la">Line 17 Adjustment</label></td>
                                  <td><input id="pip-qty52105-la" type="text" class="form-control fdatable rightalign" [(ngModel)]="model.getTobaccoType('Pipe').adjustmentRemoval" 
                                    [customDecimalFormatter]='3' [valueChg]="tpipeadj.value"  customNumerics (ngModelChange)="updateCalc5210('Pipe');pipe(model.getTobaccoType('Pipe'))" #tpipeadj  title="Pipe Adjustment Quantity">
								  </td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                            </tr>
                            <tr *ngIf="model.showPipes && adjFlagPipe">
                                <td><label for="pip-qty52105-tot"><b>Pipe Grand Total</b></label></td>
                                <td><span class="floatright"><b>{{(model.getTobaccoType('Pipe').grandRemovalTotal? model.getTobaccoType('Pipe').grandRemovalTotal:0)| customnumber : 3 }}</b></span></td>
                                <td><span class="floatright"><b>{{model.getTobaccoType('Pipe').qtyDiff5210 | customnumber : 3 | minustoparens}}</b></span></td>
                                <td><span [class.calc-error]="model.getTobaccoType('Pipe').qtyDiffErr5210"
                                      class="largeleftmargin"><b>{{model.getTobaccoType('Pipe').activityCd5210}}</b></span></td>
                         
                                <td></td>                                
                         </tr>
                         <tr *ngIf="model.showPipes && adjFlagPipe">
                            <td></td>
                            <td><div *ngIf="(model.getTobaccoType('Pipe').isQuantity52105StrValid==false)" class="alert alert-danger">{{numberValidationErrorMessage}}</div></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                  <!--Pipes End Here-->
                  <!--RollYourOwn Starts Here-->
                        <tr *ngIf="model.showRollYourOwn && !adjFlagRyn" class="h-thin-top-divider">
                          <td><label for="ryo-qty52105">Roll Your Own Total</label></td>
                            <td><input id="ryo-qty52105" type="text" class="form-control fdatable rightalign" [(ngModel)]="model.getTobaccoType('RollYourOwn').qty52105" [customDecimalFormatter]='3' [valueChg]="troll.value"  customNumerics (ngModelChange)="
                            updateCalc5210('RollYourOwn');roll(model.getTobaccoType('RollYourOwn'))" #troll  title="Roll Your Own Quantity">
                        </td>
                          <td><span class="floatright">{{model.getTobaccoType('RollYourOwn').qtyDiff5210 | customnumber : 3 | minustoparens}}</span></td>
                          <td><span [class.calc-error]="model.getTobaccoType('RollYourOwn').qtyDiffErr5210"
                              class="largeleftmargin">{{model.getTobaccoType('RollYourOwn').activityCd5210}}</span></td>
                          <td>
                              <span class="rightalign">
                              <toggle-button-tufa title="Enable Adjustments" [(flag)]="adjFlagRyn" [id]="'adjustment-5210-ryn'" (flagChange)="checkForSelectAll($event)"[lables]="['Enable Adjustments']"></toggle-button-tufa>
                                </span>
                          </td>
                            </tr>
                        <tr *ngIf="model.showRollYourOwn && !adjFlagRyn">
                          <td></td>
                          <td><div *ngIf="(model.getTobaccoType('RollYourOwn').isQuantity52105StrValid==false)" class="alert alert-danger">{{numberValidationErrorMessage}}</div></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr *ngIf="model.showRollYourOwn && adjFlagRyn" class="h-thin-top-divider">
                            <td><label for="ryo-qty52105">Roll Your Own Total</label></td>
                            <td><input id="ryo-qty52105" type="text" class="form-control fdatable rightalign" [(ngModel)]="model.getTobaccoType('RollYourOwn').qty52105" 
                              [customDecimalFormatter]='3' [valueChg]="troll.value"  customNumerics (ngModelChange)="
                            updateCalc5210('RollYourOwn');roll(model.getTobaccoType('RollYourOwn'))" #troll  title="Roll Your Own Quantity">
                            </td>
                            <td></td>
                            <td></td>
                           <td>
                              <span class="rightalign">
                              <toggle-button-tufa title="Enable Adjustments" [(flag)]="adjFlagRyn" [id]="'adjustment-5210-ryn'"
                                (flagChange)="checkForSelectAll($event,'RollYourOwn')" [lables]="['Enable Adjustments']"></toggle-button-tufa>
                                </span>
                          </td>
                          </tr>
                          <tr *ngIf="model.showRollYourOwn && adjFlagRyn">
                                  <td><label for="ryo-qty52105-la">Line 17 Adjustment</label></td>
                                  <td><input id="ryo-qty52105-la" type="text" class="form-control fdatable rightalign" [(ngModel)]="model.getTobaccoType('RollYourOwn').adjustmentRemoval" 
                                    [customDecimalFormatter]='3' [valueChg]="trolladj.value"  customNumerics (ngModelChange)="updateCalc5210('RollYourOwn');roll(model.getTobaccoType('RollYourOwn'))" #trolladj  title="Roll Your Own Adjustment Quantity">
								                  </td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                            </tr>
                            <tr *ngIf="model.showRollYourOwn && adjFlagRyn">
                                <td><label for="ryo-qty52105-tot"><b>Roll Your Own Grand Total</b></label></td>
                                <td><span class="floatright"><b>{{(model.getTobaccoType('RollYourOwn').grandRemovalTotal? model.getTobaccoType('RollYourOwn').grandRemovalTotal:0)| customnumber : 3 }}</b></span></td>
                                <td><span class="floatright"><b>{{model.getTobaccoType('RollYourOwn').qtyDiff5210 | customnumber : 3 | minustoparens}}</b></span></td>
                                <td><span [class.calc-error]="model.getTobaccoType('RollYourOwn').qtyDiffErr5210"
                                      class="largeleftmargin"><b>{{model.getTobaccoType('RollYourOwn').activityCd5210}}</b></span></td>
                         
                                <td></td>                                
                          </tr>
                          <tr *ngIf="model.showRollYourOwn && adjFlagRyn">
                            <td></td>
                            <td><div *ngIf="(model.getTobaccoType('RollYourOwn').isQuantity52105StrValid==false)" class="alert alert-danger">{{numberValidationErrorMessage}}</div></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <!--RollYourOwn Ends Here-->
                          <tr class="h-thin-top-divider">
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div *ngIf="isTTSelected>0" [ngBusy]="busy" class="widget-body">
                  <div comments-grid [formTypeCd]="formTypeCd"  [comments]= "model.getComments('5210.5')"></div>
              </div>
              <div>
                <button class="btn btn-primary" (click)="download.emit()">Download</button>
              </div>
          </section>
      </div>
  </div>
  