<div *ngIf="iscalcTypeTax" class="row" id="form5000">
    <div class="col-lg-offset-1 col-lg-12" (keyup)="setGlobalError(checkForm5000InError())">
        <section class="widget h-divider">
            <div class="widget-body clearfix">
                <div class="row flex-nowrap">
                    <div class="col-md-10">
                        <h4 class="h4 no-margin fw-normal">Excise Tax Return</h4>
                        <p>{{model.permitNumber| permitNumberPipe}}&nbsp;&nbsp;&nbsp;&nbsp;{{model.period}}</p>
                    </div>
                    <div class="col-md-2">
                        <h4 class="h6 fw-normal" style="white-space: nowrap">
                            <strong>{{formDisplayName}}</strong>
                        </h4>
                    </div>
                </div>
                <div class="row flex-nowrap" style="overflow-x:auto;">
                    <div class="col-md-12">
                        <table id="tb-3852" class="table borderless">
                            <colgroup>
                                <col style="width:20%">
                                <col style="width:10%">
                                <col *ngIf="model.showCigars" style="width:17%">
                                <col *ngIf="model.showCigarettes" style="width:17%">
                                <col *ngIf="(model.showChews == true) || (model.showSnuffs == true)" style="width:17%">
                                <col *ngIf="(model.showPipes == true) || (model.showRollYourOwn == true)" style="width:17%">
                                <col style="width:40%">
                            </colgroup>
                            <thead>
                                <tr class="h-thin-divider">

                                    <th style="font-size:20px;text-transform: none;">
                                    ACTIVITY
                                    <br>
                                    <span class="floatleft">
                                        <toggle-button-tufa title="Enable All Adjustments" [(flag)]="adjustmentflagAll" [id]="'adjustment-all'" (flagChange)="selectAll($event)"[lables]="['Enable All Adjs']"></toggle-button-tufa>
                                    </span>
                                    </th>

                                    <th>Tax Return</th>
                                    <th *ngIf="model.showCigars"style="font-size:20px;text-transform: none;">
                                        <span class="floatright">Cigars</span>
                                        <br>
                                        <span class="floatright">
                                            <toggle-button-tufa title="Enable Adjustment" [(flag)]="adjustmentflagCigars" [id]="'adjustment-Cigars'" (flagChange)="checkForSelectAll($event,'Cigars')" (flagChange)="checkSummationTaxAmount($event,'Cigars')" [lables]="['Enable Adj']"></toggle-button-tufa>
                                        </span>
                                    </th>
                                    <th *ngIf="model.showCigarettes" style="font-size:20px;text-transform: none;">
                                        <span class="floatright">Cigarettes</span>
                                        <br>
                                        <span class=floatright>
                                            <toggle-button-tufa title="Enable Adjustment" [(flag)]="adjustmentflagCigrattes" [id]="'adjustment-Cigarattes'" (flagChange)="checkForSelectAll($event,'Cigarettes')" (flagChange)="checkSummationTaxAmount($event,'Cigarettes')" [lables]="['Enable Adj']"></toggle-button-tufa>
                                        </span>
                                    </th>
                                    <th *ngIf="(model.showChews == true) || (model.showSnuffs == true)"style="font-size:20px;text-transform: none;">
                                        <span class="floatright">Chew/Snuff</span>
                                        <br>
                                        <span class="floatright">
                                            <toggle-button-tufa title="Enable Adjustment" [(flag)]="adjustmentflagCheAndSunff" [id]="'adjustment-ChewandSnuff'" (flagChange)="checkForSelectAll($event,'ChewandSnuff')" (flagChange)="checkSummationTaxAmount($event,'ChewandSnuff')" [lables]="['Enable Adj']"></toggle-button-tufa>
                                        </span>
                                    </th>
                                    <th *ngIf="(model.showPipes == true) || (model.showRollYourOwn == true)"style="font-size:20px;text-transform: none;">
                                        <span class="floatright">Pipe/Roll Your Own</span>
                                        <br>
                                        <span class="floatright">
                                            <toggle-button-tufa title="Enable Adjustment"  [(flag)]="adjustmentflagPipeRYO" [id]="'adjustment-PipeRYO'" (flagChange)="checkForSelectAll($event,'PipeRYO')" (flagChange)="checkSummationTaxAmount($event,'PipeRYO')" [lables]="['Enable Adj']"></toggle-button-tufa>
                                        </span>
                                    </th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--Row 1 - Excise Tax Row-->
                                <tr class="h-thin-divider">
                                    <td>
                                        <span>
                                            <div>Excise Tax</div>
                                            <div>(FDA 3852)</div>
                                        </span>
                                    </td>
                                    <td></td>
                                    <td *ngIf="model.showCigars">
                                        <span class="floatright">{{model.getTobaccoType('Cigars').taxAmt5000| tufacurrency}}</span>
                                    </td>
                                    <td *ngIf="model.showCigarettes">
                                        <span class="floatright">{{model.getTobaccoType('Cigarettes').taxAmt5000| tufacurrency}}</span>
                                    </td>
                                    <td *ngIf="(model.showChews == true) || (model.showSnuffs == true)">
                                        <span class="floatright">{{model.getTobaccoTypeParent('ChewandSnuff').taxAmt5000| tufacurrency}}</span>
                                    </td>
                                    <td *ngIf="(model.showPipes == true) || (model.showRollYourOwn == true)">
                                        <span class="floatright">{{model.getTobaccoTypeParent('PipeRYO').taxAmt5000| tufacurrency}}</span>
                                    </td>
                                    <td>
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>


                                <!--Row 2 - Tax Amount Breakdown Row-->
                                <tr>
                                    <td>
                                        <span>Tax Amount Breakdown</span>
                                    </td>
                                    <td>{{model.periodOneTaxId_500024}}</td>
                                    <td *ngIf="model.showCigars">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input #cigtax0 [valueChg]='cigtax0.value' type="text" id="5000_cigar_0" [ngModel]="model.getTobaccoType('Cigars')?.summationBox[0]"
                                                placeholder="" class="form-control rightalign" name="5000_cigar_0" customNumerics
                                                (keyup)="summationTaxAmount($event,'Cigars',0)" aria-label="First Tax Amount Breakdown"
                                                [customDecimalFormatter]='2'>
                                        </div>
                                    </td>
                                    <td *ngIf="model.showCigarettes">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input #cgttax0 [valueChg]='cgttax0.value' type="text" id="5000_cigarettes_0" [ngModel]="model.getTobaccoType('Cigarettes').summationBox[0]"
                                                placeholder="" class="form-control rightalign" name="5000_cigarettes_0" customNumerics
                                                (keyup)="summationTaxAmount($event,'Cigarettes',0)" aria-label="First Tax Amount Breakdown"
                                                [customDecimalFormatter]='2'>
                                        </div>
                                    </td>
                                    <td *ngIf="(model.showChews == true) || (model.showSnuffs == true)">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input #snufchewtax0 [valueChg]='snufchewtax0.value' type="text" id="5000_shufchew_0" [ngModel]="model.getTobaccoTypeParent('ChewandSnuff')?.summationBox[0]"
                                                placeholder="" class="form-control rightalign" name="5000_shufchew_0" customNumerics
                                                (keyup)="summationTaxAmount($event,'ChewandSnuff',0)" aria-label="First Tax Amount Breakdown"
                                                [customDecimalFormatter]='2'>
                                        </div>
                                    </td>
                                    <td *ngIf="(model.showPipes == true) || (model.showRollYourOwn == true)">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input #pipetax0 [valueChg]='pipetax0.value' type="text" id="5000_pipes_0" [ngModel]="model.getTobaccoTypeParent('PipeRYO')?.summationBox[0]"
                                                placeholder="" class="form-control rightalign" name="5000_pipe_0" customNumerics
                                                (keyup)="summationTaxAmount($event,'PipeRYO',0)" aria-label="First Tax Amount Breakdown"
                                                [customDecimalFormatter]='2'>
                                        </div>
                                    </td>
                                    <td>
                                    </td>
                                </tr>

                                <!--Row 3 - Add Row-->
                                <tr>
                                    <td></td>
                                    <td>{{model.periodTwoTaxId_500024}}</td>
                                    <td *ngIf="model.showCigars">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input #cigtax1 [valueChg]='cigtax1.value' type="text" id="5000_cigar_1" [ngModel]="model.getTobaccoType('Cigars')?.summationBox[1]"
                                                placeholder="" class="form-control rightalign" name="5000_cigar_1" customNumerics
                                                (keyup)="summationTaxAmount($event,'Cigars',1)" aria-label="Second Tax Amount Breakdown"
                                                [customDecimalFormatter]='2'>
                                        </div>
                                    </td>
                                    <td *ngIf="model.showCigarettes">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input #cgttax1 [valueChg]='cgttax1.value' type="text" id="5000_cigarettes_1" [ngModel]="model.getTobaccoType('Cigarettes').summationBox[1]"
                                                placeholder="" class="form-control rightalign" name="5000_cigarettes_1" customNumerics
                                                (keyup)="summationTaxAmount($event,'Cigarettes',1)" aria-label="Second Tax Amount Breakdown"
                                                [customDecimalFormatter]='2'>
                                        </div>
                                    </td>
                                    <td *ngIf="(model.showChews == true) || (model.showSnuffs == true)">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input #snufchewtax1 [valueChg]='snufchewtax1.value' type="text" id="5000_shufchew_1" [ngModel]="model.getTobaccoTypeParent('ChewandSnuff')?.summationBox[1]"
                                                placeholder="" class="form-control rightalign" name="5000_shufchew_1" customNumerics
                                                (keyup)="summationTaxAmount($event,'ChewandSnuff',1)" aria-label="Second Tax Amount Breakdown"
                                                [customDecimalFormatter]='2'>
                                        </div>
                                    </td>
                                    <td *ngIf="(model.showPipes == true) || (model.showRollYourOwn == true)">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input #pipetax1 [valueChg]='pipetax1.value' type="text" id="5000_pipes_1" [ngModel]="model.getTobaccoTypeParent('PipeRYO')?.summationBox[1]"
                                                placeholder="" class="form-control rightalign" name="5000_pipe_1" customNumerics
                                                (keyup)="summationTaxAmount($event,'PipeRYO',1)" aria-label="Second Tax Amount Breakdown"
                                                [customDecimalFormatter]='2'>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>

                                <!--Row 4 - Add Hidden Row-->
                                <tr *ngIf="isThirdRowEnabled()">
                                    <td>
                                    </td>
                                    <td>{{model.periodThreeTaxId_500024}}</td>
                                    <td *ngIf="model.showCigars">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input #cigtax2 [valueChg]='cigtax2.value' type="text" id="5000_cigar_2" [ngModel]="model.getTobaccoType('Cigars')?.summationBox[2]"
                                                placeholder="" class="form-control rightalign" name="5000_cigar_2" customNumerics
                                                (keyup)="summationTaxAmount($event,'Cigars',2)" aria-label="Third Tax Amount Breakdown"
                                                [customDecimalFormatter]='2'>
                                        </div>
                                    </td>
                                    <td *ngIf="model.showCigarettes">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input #cgttax2 [valueChg]='cgttax2.value' type="text" id="5000_cigarettes_2" [ngModel]="model.getTobaccoType('Cigarettes').summationBox[2]"
                                                placeholder="" class="form-control rightalign" name="5000_cigarettes_2" customNumerics
                                                (keyup)="summationTaxAmount($event,'Cigarettes',2)" aria-label="Third Tax Amount Breakdown"
                                                [customDecimalFormatter]='2'>
                                        </div>
                                    </td>
                                    <td *ngIf="(model.showChews == true) || (model.showSnuffs == true)">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input #snufchewtax2 [valueChg]='snufchewtax2.value' type="text" id="5000_shufchew_2" [ngModel]="model.getTobaccoTypeParent('ChewandSnuff')?.summationBox[2]"
                                                placeholder="" class="form-control rightalign" name="5000_shufchew_2" customNumerics
                                                (keyup)="summationTaxAmount($event,'ChewandSnuff',2)" aria-label="Third Tax Amount Breakdown"
                                                [customDecimalFormatter]='2'>
                                        </div>
                                    </td>
                                    <td *ngIf="(model.showPipes == true) || (model.showRollYourOwn == true)">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input #pipetax2 [valueChg]='pipetax2.value' type="text" id="5000_pipes_2" [ngModel]="model.getTobaccoTypeParent('PipeRYO')?.summationBox[2]"
                                                placeholder="" class="form-control rightalign" name="5000_pipe_2" customNumerics
                                                (keyup)="summationTaxAmount($event,'PipeRYO',2)" aria-label="Third Tax Amount Breakdown"
                                                [customDecimalFormatter]='2'>
                                        </div>
                                    </td>
                                    <td>
                                    </td>
                                </tr>

                                <!--Row 5 - Total-->
                                <tr class="h-thin-divider">
                                    <td>
                                        <span>Subtotal</span>
                                    </td>
                                    <td></td>
                                    <td *ngIf="model.showCigars">
                                        <span class="floatright">{{(model.getTobaccoType('Cigars').taxAmountTotal5000? model.getTobaccoType('Cigars').taxAmountTotal5000:0)|
                                            tufacurrency}}
                                        </span>
                                    </td>
                                    <td *ngIf="model.showCigarettes">
                                        <span class="floatright">{{(model.getTobaccoType('Cigarettes').taxAmountTotal5000? model.getTobaccoType('Cigarettes').taxAmountTotal5000:0)|
                                            tufacurrency}}
                                        </span>
                                    </td>
                                    <td *ngIf="(model.showChews == true) || (model.showSnuffs == true)">
                                        <span class="floatright">{{(model.getTobaccoTypeParent('ChewandSnuff').taxAmountTotal5000? model.getTobaccoTypeParent('ChewandSnuff').taxAmountTotal5000:0)|
                                            tufacurrency}}
                                        </span>
                                    </td>
                                    <td *ngIf="(model.showPipes == true) || (model.showRollYourOwn == true)">
                                        <span class="floatright">{{(model.getTobaccoTypeParent('PipeRYO').taxAmountTotal5000? model.getTobaccoTypeParent('PipeRYO').taxAmountTotal5000:0)|
                                            tufacurrency}}
                                        </span>
                                    </td>
                                    <td>
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr *ngIf="isAdjustmentSectionEnabled()"class="h-thin-divider">
                                    <td>
                                        <span>Total Sch A Adj</span><br><br>
                                        <span>Total Sch B Adj</span><br><br>
                                        <span>Adjustment Total</span>
                                    </td>
                                    <td></td>
                                    
                                    <td *ngIf="model.showCigars && ((adjustmentflagCigars && adjustmentflagAll ) || (adjustmentflagCigars))">
                                            <span class="floatright"> {{(model.getTobaccoType('Cigars').taxAmountAdjusmentA? model.getTobaccoType('Cigars').taxAmountAdjusmentA:0)|tufacurrency| minustoparens}}</span><br><br>
                                            <span class="floatright"> {{(model.getTobaccoType('Cigars').taxAmountAdjustmentB? model.getTobaccoType('Cigars').taxAmountAdjustmentB:0)|tufacurrency| minustoparens}}</span><br><br>
                                            <span class="floatright"> 
                                                <button type="button" class="btn btn-outline-primary breatheleft" (click)="activateThirdTaxBreakdownRow('Cigars')"
                                                    style="white-space:nowrap">
                                                <i class="fa fa-plus txt-gap" aria-hidden="true"></i> View
                                                </button>&nbsp;&nbsp;    
                                                {{(model.getTobaccoType('Cigars').taxAmountTotalAdjustment? model.getTobaccoType('Cigars').taxAmountTotalAdjustment:0)|tufacurrency| minustoparens}}
                                            </span>
                                    </td>
                                    <td *ngIf="!adjustmentflagCigars && model.showCigars"></td>
                                    <td *ngIf="model.showCigarettes && ((adjustmentflagCigrattes && adjustmentflagAll) || (adjustmentflagCigrattes))">
                                            <span class="floatright"> {{(model.getTobaccoType('Cigarettes').taxAmountAdjusmentA? model.getTobaccoType('Cigarettes').taxAmountAdjusmentA:0)|tufacurrency| minustoparens}}</span><br><br>
                                            <span class="floatright"> {{(model.getTobaccoType('Cigarettes').taxAmountAdjustmentB? model.getTobaccoType('Cigarettes').taxAmountAdjustmentB:0)|tufacurrency| minustoparens}}</span><br><br>
                                            <span class="floatright"> 
                                                    <button type="button" class="btn btn-outline-primary breatheleft" style="padding-left: -40px;" style="white-space:nowrap" (click)="activateThirdTaxBreakdownRow('Cigarettes')">
                                                    <i class="fa fa-plus txt-gap" aria-hidden="true"></i>View 
                                            </button>&nbsp;&nbsp;    
                                            {{(model.getTobaccoType('Cigarettes').taxAmountTotalAdjustment? model.getTobaccoType('Cigarettes').taxAmountTotalAdjustment:0)|tufacurrency| minustoparens}}
                                            </span>
                                    </td>
                                    <td *ngIf="!adjustmentflagCigrattes && model.showCigarettes"></td>
                                    <td *ngIf="(model.showSnuffs || model.showChews) && ((adjustmentflagCheAndSunff && adjustmentflagAll) || (adjustmentflagCheAndSunff) )">
                                            <span class="floatright"> {{(model.getTobaccoTypeParent('ChewandSnuff').taxAmountAdjusmentA? model.getTobaccoTypeParent('ChewandSnuff').taxAmountAdjusmentA:0)|tufacurrency| minustoparens}}</span><br><br>
                                            <span class="floatright"> {{(model.getTobaccoTypeParent('ChewandSnuff').taxAmountAdjustmentB? model.getTobaccoTypeParent('ChewandSnuff').taxAmountAdjustmentB:0)|tufacurrency| minustoparens}}</span><br><br>
                                            <span class="floatright"> 
                                                    <button type="button" class="btn btn-outline-primary" (click)="activateThirdTaxBreakdownRow('ChewandSnuff')">
                                                    <i class="fa fa-plus txt-gap" aria-hidden="true"></i> View
                                            </button>&nbsp;&nbsp;    
                                            {{(model.getTobaccoTypeParent('ChewandSnuff').taxAmountTotalAdjustment? model.getTobaccoTypeParent('ChewandSnuff').taxAmountTotalAdjustment:0)|tufacurrency| minustoparens}}
                                            </span>
    
                                        </td>
                                        <td *ngIf="!adjustmentflagCheAndSunff  && (model.showChews || model.showSnuffs)"></td>
                                    <td *ngIf="(model.showPipes || model.showRollYourOwn) && ((adjustmentflagPipeRYO && adjustmentflagAll) || (adjustmentflagPipeRYO ))">
                                            <span class="floatright"> {{(model.getTobaccoTypeParent('PipeRYO').taxAmountAdjusmentA? model.getTobaccoTypeParent('PipeRYO').taxAmountAdjusmentA:0)|tufacurrency| minustoparens}}</span><br><br>
                                            <span class="floatright"> {{(model.getTobaccoTypeParent('PipeRYO').taxAmountAdjustmentB? model.getTobaccoTypeParent('PipeRYO').taxAmountAdjustmentB:0)|tufacurrency| minustoparens}}</span><br><br>
                                            <span class="floatright"> 
                                                <button type="button" class="btn btn-outline-primary breatheleft" (click)="activateThirdTaxBreakdownRow('PipeRYO')"
                                                        style="white-space:nowrap">
                                                        <i class="fa fa-plus txt-gap" aria-hidden="true"></i> View
                                                </button>&nbsp;&nbsp;    
                                                {{(model.getTobaccoTypeParent('PipeRYO').taxAmountTotalAdjustment? model.getTobaccoTypeParent('PipeRYO').taxAmountTotalAdjustment:0)|tufacurrency| minustoparens}}

                                            </span>
                                    </td> 
                                    <td *ngIf="!adjustmentflagPipeRYO"></td>    
                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr>
                                        <td>
                                            <span><b>Grand Total</b></span>
                                        </td>
                                        <td></td>
                                        <td *ngIf="model.showCigars">
                                            <span class="floatright">{{(model.getTobaccoType('Cigars').taxAmountGrandTotal5000? model.getTobaccoType('Cigars').taxAmountGrandTotal5000:0)|
                                                tufacurrency | minustoparens}}
                                            </span>
                                        </td>
                                        <td *ngIf="model.showCigarettes">
                                            <span class="floatright">{{(model.getTobaccoType('Cigarettes').taxAmountGrandTotal5000? model.getTobaccoType('Cigarettes').taxAmountGrandTotal5000:0)|
                                                tufacurrency | minustoparens}}
                                            </span>
                                        </td>
                                        <td *ngIf="(model.showChews == true) || (model.showSnuffs == true)">
                                            <span class="floatright">{{(model.getTobaccoTypeParent('ChewandSnuff').taxAmountGrandTotal5000? model.getTobaccoTypeParent('ChewandSnuff').taxAmountGrandTotal5000:0)|
                                                tufacurrency| minustoparens}}
                                            </span>
                                        </td>
                                        <td *ngIf="(model.showPipes == true) || (model.showRollYourOwn == true)">
                                            <span class="floatright">{{(model.getTobaccoTypeParent('PipeRYO').taxAmountGrandTotal5000? model.getTobaccoTypeParent('PipeRYO').taxAmountGrandTotal5000:0)|
                                                tufacurrency| minustoparens}}
                                            </span>
                                        </td>
                                        <td>
                                        </td>
                                    </tr>

                                <!--Row 6 - Difference-->
                                <tr>
                                    <td>
                                        <span>Difference</span>
                                    </td>
                                    <td></td>
                                    <td *ngIf="model.showCigars">
                                        <span class="floatright">{{model.getTobaccoType('Cigars').taxDiff5000| tufacurrency | minustoparens}}</span>
                                    </td>
                                    <td *ngIf="model.showCigarettes">
                                        <span class="floatright">{{model.getTobaccoType('Cigarettes').taxDiff5000| tufacurrency | minustoparens}}</span>
                                    </td>
                                    <td *ngIf="(model.showChews == true) || (model.showSnuffs == true)">
                                        <span class="floatright">{{model.getTobaccoTypeParent('ChewandSnuff').taxDiff5000| tufacurrency | minustoparens}}</span>
                                    </td>
                                    <td *ngIf="(model.showPipes == true) || (model.showRollYourOwn == true)">
                                        <span class="floatright">{{model.getTobaccoTypeParent('PipeRYO').taxDiff5000| tufacurrency | minustoparens}}</span>
                                    </td>
                                    <td>
                                    </td>
                                </tr>

                                <!--Row 7 - Activity-->
                                <tr class="h-thin-divider">
                                    <td>
                                        <span>Activity</span>
                                    </td>
                                    <td></td>
                                    <td *ngIf="model.showCigars">
                                        <span class="floatright" [class.calc-error]="model.getTobaccoType('Cigars').taxDiffErr5000">{{model.getTobaccoType('Cigars').activityCd5000}}</span>
                                    </td>
                                    <td *ngIf="model.showCigarettes">
                                        <span class="floatright" [class.calc-error]="model.getTobaccoType('Cigarettes').taxDiffErr5000">{{model.getTobaccoType('Cigarettes').activityCd5000}}</span>
                                    </td>
                                    <td *ngIf="(model.showChews == true) || (model.showSnuffs == true)">
                                        <span class="floatright" [class.calc-error]="model.getTobaccoTypeParent('ChewandSnuff').taxDiffErr5000">{{model.getTobaccoTypeParent('ChewandSnuff').activityCd5000}}</span>
                                    </td>
                                    <td *ngIf="(model.showPipes == true) || (model.showRollYourOwn == true)">
                                        <span class="floatright" [class.calc-error]="model.getTobaccoTypeParent('PipeRYO').taxDiffErr5000">{{model.getTobaccoTypeParent('PipeRYO').activityCd5000}}</span>
                                    </td>
                                    <td>
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div *ngIf="isTTSelected>0" [ngBusy]="busy" class="widget-body">
                <div comments-grid [formTypeCd]="formTypeCd" [comments]="model.getComments('5000.24')"></div>
            </div>
            <div>
                <button class="btn btn-primary" (click)="download.emit()">Download</button>
            </div>
        </section>
    </div>
</div>
<div class="modal fade" [id]="'scheduled_adjustment_popup'" role="dialog" aria-labelledby="scheduled_adjustment_popup" tabindex="-1"
    aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" style="max-width: 80%;">
        <div class="modal-content" id="mixed-action-popup-content">
            <!--Modal Header-->
            <div class="modal-header">
                <div title="title" class="h4 modal-title text-xs-center fw-bold mt row">
                    <div  class = "col-lg-3 col-xs-3" style="text-align: left; font-size: medium;">Class: {{tobaccoClassNameTitlePopUp}}</div>
                    <div  class = "col-lg-6 col-xs-6" style="text-align: center; font-size: larger;">Schedule A/B Adjustments</div>
                    <div  class = "col-lg-3 col-xs-3" style="text-align: center;"></div>
                    
                    
                    <!-- Scheduled A/B Adjustments -->
                </div>
            </div>
            <!--Modal Body-->
            <div class="modal-body" style="max-height:900px; overflow-y: auto;">
                <div class="row" style="border-bottom:1px solid #e9ecef; padding-bottom: 1rem;">
                    <div  class = "col-lg-6 col-xs-6" style="text-align: center;">
                        <label style="text-align: center;"><b>Schedule A Adjustments</b></label>
                    </div>
                    <div  class = "col-lg-6 col-xs-6" style="text-align: center;">
                        <label style="text-align: center;"><b>Schedule B Adjustments</b></label>
                    </div>
                </div>
                <div class="row">
                    <div class = "col-lg-6 col-xs-6"  style="border-right:1px solid #e9ecef">
                        <form style="overflow-x:auto;">
                            <div class="widget-body clearfix">
                                    <table class="table table-hover" id="tbl-scheduled-a" [mfData]="adjustmentsScheduleA | form5000ABPipe : adjustmentsScheduleAFilterData" 
                                    #mf="mfDataTable" [mfIsServerPagination]="false" 
                                    [mfRowsOnPage]="10" [mfActivePage]="1" [mfStoreState]="true" [(mfSortBy)]="sortByA" [(mfSortOrder)]="sortOrderA"
                                [mfDataTableName]="'schedule-a'" [mfFilters]="adjustmentsScheduleAFilterData" style = "table-layout:fixed">
                                    <colgroup>
                                        <col style="width:20%">
                                        <col style="width:30%">
                                        <col style="width:30%">
                                        <col style="width:20%">
                                    </colgroup>
                                <thead style="border-bottom:2px solid #17529F;">
                                    <tr>
                                        <th style="text-align: center">
                                            <mfDefaultSorter by="adjLineNum" title="Adjustment LineNum">
                                            <span>Line #</span>
                                            </mfDefaultSorter>
                                        </th>
                                        <th style="text-align: center">
                                            <mfDefaultSorter by="taxReturnId" title="Tax Return Id">
                                            <span>Tax Return</span>
                                            </mfDefaultSorter>
                                        </th>
                                        <th style="text-align: center">
                                            <mfDefaultSorter by="taxAmount" title="Tax Amount">
                                            <span>Amount</span>
                                            </mfDefaultSorter>
                                        </th>
                                        <th style="text-align: center">
                                            <span class="noWrap">Show Delete</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="border-bottom:2px solid #17529F;">
                                        <td *ngFor="let column of columns">
                                            <div *ngIf="column.filtering" class="input-group input-group-transparent input-group-rounded">
                                            <span class="input-group-text">
                                                <i class="fa fa-filter" (click)="refreshAdjustmentsFilterObject();"></i>
                                            </span>
                                            <input *ngIf="column.type==='input'" [attr.id]="'scheduledA-' + column.name" [attr.aria-label]="column.name" [ngTableFiltering]="column.filtering"
                                                [config]="column.filtering" class="form-control" placeholder="{{column.filtering.placeholder}}" value="{{column.filtering.filterString}}" 
                                                (tableChanged)="onChangeTableA($event)"/>
                                            </div>
                                        </td>
                                        <td id='show-deleteA' style="display: flex; flex-direction: row; justify-content: center;">
                                                <!--Add Toggle Here -->
                                            <div class="checkbox-inline checkbox-ios">
                                                <label for="deletetoggleA" class="switch">
                                                <input type="checkbox" [(ngModel)]="showDeleteA" class="ios" id="deletetoggleA" [ngModelOptions]="{standalone: true}">
                                                <i></i>
                                                </label>
                                            </div>                        
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr class="h-thin-divider" *ngFor="let scheduleA of mf.data;let i=index">
                                        <td>
                                            <span class="floatleft centeralign">{{scheduleA.adjLineNum}}</span>                                            
                                       <br> 
                                       <br>
                                       <br>
                                       <input type ="text" class="form-control fdatable" id = "linedesc" style='width:556%;' aria-label="Line Description" 
                                       placeholder="Line Description" [ngModelOptions]="{standalone: true}" [(ngModel)]='scheduleA.lineDesc' maxlength="4000">
                                       </td>
                                        <td>
                                            <div class="form-control select-editable">
                                                <select  class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="scheduleA.taxReturnId" [id]="'scheduleTaxA'+ '-'+ scheduleA.adjLineNum" onchange="this.nextElementSibling.value=this.value">
                                                    <option *ngFor="let taxReturnOption of taxReturnType" [selected] ="taxReturnOption===scheduleA.taxReturnId"  
                                                    [value]="taxReturnOption">
                                                        {{taxReturnOption}}
                                                    </option>
                                                </select>
                                                <input class="form-control" placeholder="Select Tax Return" type="text" name="format" value ="{{scheduleA.taxReturnId}}" (change)="updateInput($event, 'A',scheduleA.adjLineNum)" [id]="'scheduleTaxA'+ '-'+ scheduleA.adjLineNum"/>
                                            </div>
                                        </td> 
                                        <td>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                                </div>
                                                <input #taxreturnamt class="form-control fdatable rightalign" style='width:50%' aria-label="Tax Return Amount" customNumerics [customDecimalFormatter]='2'
                                                [valueChg]='taxreturnamt.value' [ngModelOptions]="{standalone: true}" [(ngModel)]='scheduleA.taxAmount' (ngModelChange) = "changeScheduleTaxAmount($event,'A',scheduleA.adjLineNum)">
                                            </div>
                                        </td>
                                        <td style="display: flex; flex-direction: row; justify-content: center;">
                                            <button *ngIf="showDeleteA" type="button" class="btn btn-outline-danger btnsmallmargin" style="display: flex;justify-content: center;align-items: center;"
                                            (click)="deleteRowPopUp(scheduleA.adjLineNum, 'A');">
                                            <span class="fa fa-minus txt-gap" style = "margin-right: 0px;" aria-hidden="true"></span></button>
                                            &nbsp;
                                            <button type="button" class="btn btn-outline-primary btnsmallmargin" (click)="addRowPopUp('A', scheduleA.tobaccoClassId);"
                                            style="display: flex;justify-content: center;align-items: center;" id="add-button">
                                            <span class="fa fa-plus txt-gap" style = "margin-right: 0px;" aria-hidden="true"></span></button>                        
                                        </td>                                 
                                    </tr>
                                    <tr *ngIf="mf.data.length > 0">
                                        <td colspan="12">
                                          <mfBootstrapPaginator [rowsOnPageSet]="[10, 25, 50]"></mfBootstrapPaginator>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td colspan="4"> <span>Subtotal Schedule A: {{subTotalScheduleA|tufacurrency}}</span></td> 
                                    </tr>
                                </tfoot>
                                </table>                        
                            </div>
                        </form>
                    </div>
                    <div class = "col-lg-6 col-xs-6"  style="border-right:1px solid #e9ecef">
                        <form style="overflow-x:auto;">
                            <div class="widget-body clearfix">
                                    <table class="table table-hover" id="tbl-scheduled-b" [mfData]="adjustmentsScheduleB | form5000ABPipe : adjustmentsScheduleBFilterData" 
                                    #mfb="mfDataTable" [mfIsServerPagination]="false" [mfRowsOnPage]="10" [mfActivePage]="1" [mfStoreState]="true" [(mfSortBy)]="sortByB" [(mfSortOrder)]="sortOrderB"
                                    [mfDataTableName]="'schedule-b'" [mfFilters]="adjustmentsScheduleBFilter" style ="table-layout:fixed">
                                    <colgroup>
                                        <col style="width:20%">
                                        <col style="width:30%">
                                        <col style="width:30%">
                                        <col style="width:20%">
                                    </colgroup>
                                <thead style="border-bottom:2px solid #17529F;">
                                    <tr>
                                        <th style="text-align: center">
                                            <mfDefaultSorter by="adjLineNum">
                                            <span>Line #</span>
                                            </mfDefaultSorter>
                                        </th>
                                        <th style="text-align: center">
                                            <mfDefaultSorter by="taxReturnId">
                                            <span>Tax Return</span>
                                            </mfDefaultSorter>
                                        </th>
                                        <th style="text-align: center">
                                            <mfDefaultSorter by="taxAmount">
                                            <span>Amount</span>
                                            </mfDefaultSorter>
                                        </th>
                                        <th style="text-align: center">
                                            <span class="noWrap">Show Delete</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="border-bottom:2px solid #17529F;">
                                        <td *ngFor="let column of columnsB">
                                            <div *ngIf="column.filtering" class="input-group input-group-transparent input-group-rounded">
                                            <span class="input-group-text">
                                                <i class="fa fa-filter" (click)="refreshAdjustmentsFilterObject();"></i>
                                            </span>
                                            <input *ngIf="column.type==='input'" [attr.id]="'scheduledB-' + column.name" [attr.aria-label]="column.name" [ngTableFiltering]="column.filtering"
                                                [config]="column.filtering" class="form-control" placeholder="{{column.filtering.placeholder}}" value="{{column.filtering.filterString}}"
                                                (tableChanged)="onChangeTableB($event)"/>
                                            </div>
                                        </td>
                                        <td id='show-deleteB' style="display: flex; flex-direction: row; justify-content: center;">
                                            <!--Add Toggle Here -->
                                            <div class="checkbox-inline checkbox-ios">
                                                <label for="deletetoggleB" class="switch">
                                                <input type="checkbox" [(ngModel)]="showDeleteB" class="ios" id="deletetoggleB" [ngModelOptions]="{standalone: true}">
                                                <i></i>
                                                </label>
                                            </div>                        
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr class="h-thin-divider" *ngFor="let scheduleB of mfb.data;let i=index">
                                        <td>
                                            <span class="floatleft centeralign">{{scheduleB.adjLineNum}}</span>                                            
                                        <br> 
                                        <br>
                                        <br>
                                        <input type = "text" class="form-control fdatable" id="linedesc" title="Line Description" style='width:556%;' aria-label="Line Description" 
                                        placeholder="Line Description" [ngModelOptions]="{standalone: true}" [(ngModel)]='scheduleB.lineDesc' maxlength="4000">
                                        </td>
                                        <td>
                                            <div class="form-control select-editable">
                                                <select  class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="scheduleB.taxReturnId" [id]="'scheduleTaxB'+ '-'+ scheduleB.adjLineNum" onchange="this.nextElementSibling.value=this.value">
                                                    <option *ngFor="let taxReturnOption of taxReturnType" [selected] ="taxReturnOption===scheduleB.taxReturnId"  [value]="taxReturnOption">
                                                        {{taxReturnOption}}
                                                    </option>
                                                </select>
                                                <input class="form-control" placeholder="Select Tax Return" type="text" name="format" value ="{{scheduleB.taxReturnId}}" (change)="updateInput($event, 'B',scheduleB.adjLineNum)" [id]="'scheduleTaxB'+ '-'+ scheduleB.adjLineNum"/>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                                </div>
                                                <input #taxreturnamt class="form-control fdatable rightalign" style='width:50%' aria-label="Tax Return Amount" customNumerics [customDecimalFormatter]='2'
                                                [valueChg]='taxreturnamt.value' [ngModelOptions]="{standalone: true}" [(ngModel)]='scheduleB.taxAmount' (ngModelChange) = "changeScheduleTaxAmount($event,'B',scheduleB.adjLineNum)">
                                            </div>
                                        </td>
                                        <td style="display: flex; flex-direction: row; justify-content: center;">
                                            <button *ngIf="showDeleteB" type="button" class="btn btn-outline-danger btnsmallmargin" style="display: flex;justify-content: center;align-items: center;"
                                            (click)="deleteRowPopUp(scheduleB.adjLineNum, 'B');">
                                            <span class="fa fa-minus txt-gap" style = "margin-right: 0px;" aria-hidden="true"></span></button>
                                            &nbsp;
                                            <button type="button" class="btn btn-outline-primary btnsmallmargin" (click)="addRowPopUp('B', scheduleB.tobaccoClassId);"
                                            style="display: flex;justify-content: center;align-items: center;" id="add-button">
                                            <span class="fa fa-plus txt-gap" style = "margin-right: 0px;" aria-hidden="true"></span></button>                        
                                        </td>                               
                                    </tr>
                                    <tr *ngIf="mfb.data.length > 0">
                                        <td colspan="12">
                                          <mfBootstrapPaginator [rowsOnPageSet]="[10, 25, 50]"></mfBootstrapPaginator>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td colspan="4"> <span>Subtotal Schedule B: {{subTotalScheduleB|tufacurrency}}</span></td>                                        
                                    </tr>
                                </tfoot>
                                </table>                        
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--Modal Footer-->
            <div class="modal-footer" style = "border-top: none;">
                <div class = "float-left">
                    <span><b>Schedule A/B Adjustment Total: {{scheduleABAdjustmentTotal|tufacurrency| minustoparens}}</b></span>
                </div>                    
                <button type="button" [ngBusy]="busy" class="btn btn-primary" title="Save" [id]="'btn-mixedaction'" (click)="saveAdjustments()">
                    Save Adjustments</button>
                <button type="button" class="btn btn-secondary" (click)="popUpClose()" data-dismiss="modal" title="Cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>
