@import "./permit-report.style";

.h-box-bot-divider{
    border-bottom:1px solid black;
    padding-top:10px;
    padding-bottom:5px;
}

.breatheleft{
    margin-left:15px;
}

.modal-footer>.float-left {
    width: 44%;
}

.select-editable {position:relative; padding: 0px;}
.select-editable select {position:absolute; border:none; width:100%; height: 90%;}
.select-editable input {position:absolute; width:80%; border:none; height: 90%;}
.select-editable select:focus, .select-editable input:focus {outline:none;}

.placeholderclass::placeholder {
    font-size:small;
  }
// .form-control{
//     display: block;
//     width: 100%;
//     height: 37px;
//     padding: 6px 16px;
//     font-size: 13px;
//     line-height: 1.846;
//     color: #666666;
//     background-color: transparent;
//     background-image: none;
//     border: 1px solid transparent;
//     border-radius: 3px;
//     -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
//     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
//     -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
//     -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
//     transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
// }
