<ng-container>
    <!--[ngBusy]="{busy: busyload, message: 'Loading in container  market share...', backdrop: true}">-->

    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div aria-live="assertive" class="form-group row">
                <div role="alert" class="col-md-12 col-xs-12">
                    <alert *ngFor="let alert of mktsharealerts; let i = index" [type]="alert.type + ' alert-sm'">
                        <span class="fa fa-exclamation-triangle"></span>
                        <span [innerHTML]="alert.msg"></span>
                    </alert>
                </div>
            </div>
        </div>
    </div>

    <!--First widget - Generate Market Share Widget-->
    <section class="widget">
        <!--widget body-->
        <div class="widget-body">
            <form action='' method="POST" data-parsley-priority-enabled="false" novalidate="novalidate">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="h4 no-margin fw-bold">Generate Market Share</h2>
                        <ul class="text-list">
                            <li class="list-spacing">Action Required and Action Recommended messages should always be reviewed prior to Generating
                                and Submitting the Market Share. Actions on the Ingest & Map tab are recommended, while all
                                Actions on the Compare and Recon pages are required and must be made in order to Submit the
                                Market Share.</li>
                            <li class="list-spacing">One export for each Tobacco Class will be generated containing the Market Share for every Quarter.</li>
                            <li class="list-spacing">Generated Market Share exports are available for review prior to Submission.</li>
                            <li class="list-spacing">All Monthly Reports for the entire Fiscal Year must be Reconciled and Approved prior to Submitting
                                the Market Share. Monthly Reports that have not been added or changed since the last Quarterly
                                Assessment or Cigar Assessment do not require Reconciliation.</li>
                            <li class="list-spacing">Market Share can be Generated for review prior to Reconciling and Approving all Monthly Reports.
                                Users must re-generate a Market Share after all Monthly Reports are Approved.</li>
                            <li class="list-spacing">After Submitting a version of the Market Share, documentation of the submission must be uploaded
                                to the Annual True-Up.</li>
                        </ul>
                    </div>
                </div>
                <div aria-live="assertive" class="row justify-content-center">
                    <button type="button" id="btn-mkt-share" class="btn btn-primary" title="Generate Market Share Reports" [ngBusy]="{busy: busyGen, message: 'Generating Market Share...', backdrop: true}"
                        (click)="generateMaketShare()">Generate Market Share</button>
                </div>
            </form>
        </div>
    </section>

    <!--Second Widget - Annual Assessment Summary-->
    <!--Place them in tab panes-->
    <div *ngIf="showSummary">
        <section class="widget">
            <!--section/widget header-->
            <header>
            </header>
            <!--widget body-->
            <div class="widget-body">
                <!--Current Market Share info panel-->
                <div class="row h-divider">
                    <div class="col-xs-10">
                        <h2 class="h4 no-margin fw-bold" style="margin-bottom:10px;">Annual True-Up Summary</h2>
                        <p class="h6 no-margin fw-semi-bold" style="margin-bottom:10px;">Generated: {{zeroVersionDateNumber | datePipe}} {{zeroVersionDate | date: 'shortTime'}}</p>
                        <p class="h6 no-margin fw-semi-bold" style="margin-bottom:10px;">Author: {{zeroVersionAuthor}}</p>
                    </div>
                </div>
                <form action='' method="POST" data-parsley-priority-enabled="false" novalidate="novalidate">
                    <div class="row" style="margin: 10px 15px;">
                        <div class="col-lg-12">
                            <accordion [closeOthers]="oneAtATime">
                                <accordion-group *ngFor="let assessment of mktsharedata?.assessments; let curqtr = index" #f1g1 panelClass="customClass accord-groupborder">
                                    <div accordion-heading style="padding-bottom:5px;">
                                        <span class="h6 no-margin fw-semi-bold pl10 black">Quarter {{assessment.assessmentQtr}}</span>
                                        <span class="pull-right h6 no-margin fw-semi-bold mt5 black">
                                            <i class="h6 fa pr10ml10 black" [ngClass]="{' fa-chevron-down': f1g1?.isOpen, ' fa-chevron-right': !f1g1?.isOpen}">
                                            </i>
                                        </span>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <table id="tb-cur-mktshare" class="table borderless">
                                                <colgroup>
                                                    <col style="width:50%">
                                                    <col style="width:50%">
                                                </colgroup>
                                                <thead>
                                                    <tr>
                                                        <th>Tobacco Class</th>
                                                        <th style="text-align:center;">Market Share Export</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let tc of getTobaccoExport(0, curqtr)">
                                                        <td>{{tc | removeHyphen}}</td>
                                                        <td style="text-align:center;">
                                                            <button type="button" id="btn-save" class="btn btn-primary" aria-label="Download CSV"
                                                                (click)="downloadExport(tc, 0, curqtr)">Download as CSV</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </accordion-group>
                            </accordion>
                        </div>
                    </div>
                    <div class="row h-thin-divider">
                        <div class="col-lg-12">
                            <button type="button" id="btn-dld-all" class="btn btn-primary floatright" aria-label="Download All Exports" (click)="downloadAllExports(0)">Download All Exports</button>
                        </div>
                    </div>
                    <div *ngIf="!disableSubmit" aria-live="assertive" class="row flex-nowrap" style="margin-top:15px;">
                        <!--<div class="col-xs-1">
                        </div>    -->
                        <div class="col-md-12" role="alert">
                            <p>I have reviewed and approved the entire year and deem this information complete.
                                <button *ngIf="showSubmit" type="button" id="btn-mkt-share" class="btn btn-primary floatright" [ngBusy]="{busy: busySub, message: 'Submitting Market Share...', backdrop: true}"
                                    style="margin-right: 30px" title="Submit Cigar Assessment" (click)="submitMarketShare()">Submit</button>
                            </p>
                        </div>
                    </div>
                    <div class="row flex-nowrap">
                        <div class="col-lg-12 col-xs-12">
                            <div class="form-group row">
                                <div aria-live="assertive">
                                    <div role="alert" class="col-md-12 col-xs-12 infoalert">
                                        <alert *ngFor="let alert of submitalerts; let i = index" [type]="alert.type + ' alert-sm'">
                                            <div class="fa fa-exclamation-circle"></div>
                                            <div [innerHTML]="alert.msg"></div>
                                        </alert>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <div style="position: relative;">
        <!--Second Widget - Annual Assessment History-->
        <div>
            <section class="widget" [ngBusy]="{busy: busyload, message: 'Fetching documents...', backdrop: true}">
                <!--section/widget header-->
                <header>
                </header>
                <!--widget body-->
                <div class="widget-body" *ngIf="showHistory">
                    <form action='' method="POST" data-parsley-priority-enabled="false" novalidate="novalidate">
                        <div class="row h-divider" style="margin-bottom:10px">
                            <div class="col-md-8">
                                <h2 class="h4 no-margin fw-bold" style="margin-bottom: 10px;">Annual True-Up History</h2>
                                <p class="h6 no-margin fw-semi-bold" style="margin-bottom: 10px;">Submitted: {{selVersionDateNumber | datePipe}} {{selVersionDate | date: 'shortTime'}}</p>
                                <p class="h6 no-margin fw-semi-bold" style="margin-bottom: 10px;">Author: {{selVersionAuthor}}</p>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label for="sel-mkt-ver" class="col-md-4 form-control-label text-md-right" style="margin-top:5px;">
                                        Version
                                    </label>
                                    <div class="col-md-4 col-xs-12">
                                        <select id="sel-mkt-ver" style="width: 80px" [(ngModel)]="selVersion" (change)="onchangeVersion($event.target.value)" title="Versions History"
                                            name="mkt-ver-his" class="form-control">
                                            <option *ngFor="let version of versionnumbers" [value]="version">
                                                {{version}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--history Market Share info panel-->
                    <form action='' method="POST" data-parsley-priority-enabled="false" novalidate="novalidate">
                        <div class="row" style="margin: 0px 15px;">
                            <div class="col-lg-12">
                                <accordion [closeOthers]="oneAtATime">
                                    <accordion-group *ngFor="let assessment of mktsharedata?.assessments; let curqtr = index" #f2g2 panelClass="customClass accord-groupborder">
                                        <div accordion-heading style="padding-bottom:5px;">
                                            <span class="h6 no-margin fw-semi-bold pl10 black">Quarter {{assessment.assessmentQtr}}</span>
                                            <span class="pull-right h6 no-margin fw-semi-bold mt5 black">
                                                <i class="h6 fa pr10ml10 black" [ngClass]="{' fa-chevron-down': f2g2?.isOpen, ' fa-chevron-right': !f2g2?.isOpen}">
                                                </i>
                                            </span>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <table id="tb-his-mktshare" class="table borderless">
                                                    <colgroup>
                                                        <col style="width:50%">
                                                        <col style="width:50%">
                                                    </colgroup>
                                                    <thead>
                                                        <tr>
                                                            <th>Tobacco Class</th>
                                                            <th style="text-align:center;">Market Share Export</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let tc of getTobaccoExport(selVersion, curqtr)">
                                                            <td>{{tc | removeHyphen}}</td>
                                                            <td style="text-align:center;">
                                                                <button type="button" id="btn-save-q1" class="btn btn-primary"
                                                                    aria-label="Download" (click)="downloadExport(tc, selVersion, curqtr)">Download as CSV</button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </accordion-group>
                                </accordion>
                            </div>
                        </div>
                        <div class="row h-thin-divider">
                            <div class="col-lg-12 ">
                                <button type="button" id="btn-dld-all" class="btn btn-primary floatright" aria-label="Download All Exports" (click)="downloadAllExports(selVersion)">Download All Exports</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>

        <!--Submission Documentation Pane-->
        <div>
            <section class="widget" [ngBusy]="{busy: busyload, message: 'Fetching documents...', backdrop: true}">
                <!--widget body-->
                <div class="widget-body" *ngIf="showHistory">
                    <div *ngIf="versionnumbers?.length > 0" class="row" style="margin-left: 5px; margin-top: 15px;">
                        <div class="row h-divider">
                            <div class="col-xs-12">
                                <h2 class="h4 no-margin fw-bold" style="margin-bottom:10px;">Submission Documentation</h2>
                                <p class="h6 no-margin fw-semi-bold" style="margin-bottom: 10px;">Upload submission communications for each Submitted Market Share</p>
                            </div>
                        </div>
                        <div class="row breathe" style="margin-left: 7px;">
                            <button id="btn-upload" type="button" class="btn btn-primary btn-block" title="Upload" data-toggle="modal" data-target="#add-document"
                                data-backdrop data-keyboard="false" focusOn="#add-document" (click)="setSelectedDocument()">
                                <i class="fa fa-upload" aria-hidden="true"></i> Upload Document</button>
                        </div>
                        <table class="table table-hover table-borderless" [mfData]="docs" [(mfSortBy)]="sortBy" #mfd="mfDataTable" [mfRowsOnPage]="5"
                            [mfActivePage]="1" [mfIsServerPagination]="false" id="tb-supprt-docs">
                            <colgroup>
                                <col style="width:20%">
                                <col style="width:25%">
                                <col style="width:15%">
                                <col style="width:15%">
                                <col style="width:10%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="hidden-sm-down">
                                        <mfDefaultSorter by="filename" title="File Name">File Name</mfDefaultSorter>
                                    </th>
                                    <th class="hidden-sm-down">
                                        <mfDefaultSorter by="description" title="Description">Description</mfDefaultSorter>
                                    </th>
                                    <th class="hidden-sm-down">
                                        <mfDefaultSorter by="dateUploaded" title="Date">Date</mfDefaultSorter>
                                    </th>
                                    <th class="hidden-sm-down">
                                        <mfDefaultSorter by="author" title="Author">Author</mfDefaultSorter>
                                    </th>
                                    <th class="hidden-sm-down">
                                        <mfDefaultSorter by="versionNum" title="Version Number">Version</mfDefaultSorter>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let doc of mfd.data">
                                    <td>
                                        <a href="javascript:void(0);" aria-label="Download document" (click)="downloadDoc(doc.trueupSubDocId)">{{doc.filename}}</a>
                                    </td>
                                    <td>{{doc.description}}</td>
                                    <td>{{doc.dateUploaded | datePipe}}, {{doc.dateUploaded | date:'shortTime'}}</td>
                                    <td>{{doc.author}}</td>
                                    <td>{{doc.versionNum}}</td>
                                </tr>
                            </tbody>
                            <tfoot [ngBusy]="{busy: busyDownload, message: 'Downloading...', backdrop: true}">
                                <tr>
                                    <td colspan="12">
                                        <mfBootstrapPaginator [rowsOnPageSet]="[5, 10, 25]"></mfBootstrapPaginator>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        <div *ngIf="showAddDocumentPopup" add-document [docs]="docs" [versions]="versionnumbers"
                        (onDocumentEdit)="documentsGridRefresh($event)" [ngBusy]="{busy: busyupload, message: 'Uploading documents...', backdrop: true}"></div>

                    </div>
                </div>
            </section>
        </div>
    </div>


    <!--Submission Documentation Pane *ngIf="versionnumbers.length > 0"-->
    <!--<div class="row" style="margin-left: 5px; margin-top: 15px;">
	<div class="row h-divider">
		<div class="col-xs-12">
			<h2 class="h4 no-margin fw-bold" style="margin-bottom:10px;">Submission Documentation</h2>    
			<p class="h6 no-margin fw-semi-bold" style="margin-bottom: 10px;">Upload submission communications for each Submitted Market Share</p>                                                                     
		</div>
	</div> 
	<div class="row breathe" style="margin-left: 7px;">
		<button id="btn-upload" type="button" class="btn btn-primary btn-block" title="Upload" data-toggle="modal" data-target="#add-document"
		data-backdrop data-keyboard="false" focusOn="#add-document" (click)="setSelectedDocument()">
		<i class="fa fa-upload" aria-hidden="true"></i> Upload Document</button>		
	</div>
	<table class="table table-hover table-borderless" [mfData]="docs" [(mfSortBy)]="sortBy" 
		#mfd="mfDataTable" [mfRowsOnPage]="5" [mfActivePage]="1" [mfIsServerPagination]="false"
		[ngBusy]="{busy: busyload, message: 'Fetching documents...', backdrop: true}" id="tb-supprt-docs">
		<colgroup>
			<col style="width:20%">
			<col style="width:30%">
			<col style="width:25%">
			<col style="width:20%">
			<col style="width:5%">
		</colgroup>                    
		<thead>
			<tr>
				<th class="hidden-sm-down">
					<mfDefaultSorter by="filename" title="File Name">File Name</mfDefaultSorter>
				</th>
				<th class="hidden-sm-down">
					<mfDefaultSorter by="description" title="Description">Description</mfDefaultSorter>
				</th>
				<th class="hidden-sm-down">
					<mfDefaultSorter by="dateUploaded" title="Date">Date</mfDefaultSorter>
				</th>
				<th class="hidden-sm-down">
					<mfDefaultSorter by="author" title="Author">Author</mfDefaultSorter>
				</th>
				<th class="hidden-sm-down">
					<mfDefaultSorter by="versionNum" title="Version Number">Version</mfDefaultSorter>
				</th>
			</tr>                   
		</thead>
		<tbody>
			<tr *ngFor="let doc of mfd.data">
				<td><a href="javascript:void(0);" aria-label="Download document" 
				(click)="downloadDoc(doc.trueupSubDocId)">{{doc.filename}}</a></td>
				<td>{{doc.description}}</td>                                
				<td>{{doc.dateUploaded | datePipe}}, {{doc.dateUploaded | date:'shortTime'}}</td>
				<td>{{doc.author}}</td>
				<td>{{doc.versionNum}}</td>
			</tr>                                                                                                                     
		</tbody>
		<tfoot [ngBusy]="{busy: busyDownload, message: 'Downloading...', backdrop: true}">
			<tr>
				<td colspan="12">
					<mfBootstrapPaginator [rowsOnPageSet]="[5, 10, 25]"></mfBootstrapPaginator>
				</td>
			</tr>
		</tfoot>
	</table>                                                
</div>-->
</ng-container>