// @import "../../../../../node_modules/bootstrap-select/dist/css/bootstrap-select";
// @import "../../../../../node_modules/select2/dist/css/select2";
// @import "../../../../../node_modules/select2-bootstrap-css/select2-bootstrap";
// @import "../../../../../node_modules/jasny-bootstrap/dist/css/jasny-bootstrap";
// @import "../../../scss/variables";
// @import "../../../../../node_modules/bootstrap/scss/_variables";
// @import "../../../../../node_modules/bootstrap/scss/mixins";
@import "./../../../../scss/helpers";

/**
Collapsible accordian
***/
.panel-heading .accordion-toggle-main:after {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings';
  /* essential for enabling glyphicon */
  content: "\e114";
  /* adjust as needed, taken from bootstrap.css */
  float: right;
  /* adjust as needed */
  color: grey;
  /* adjust as needed */
}

.panel-heading .accordion-toggle-main.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e080";
  /* adjust as needed, taken from bootstrap.css */
}

.form-control.fdatable {
  display: inline;
  // width: auto;
}

.floatright {
  float: right;
}

.rightalign {
  text-align: right;
}

.breathe {
  margin: 10px 0;
}

.txt-gap {
  margin-right: 5px;
}

.h-divider {
  width: 100%;
  border-bottom: 3px solid #778899;
}

.h-thin-divider {
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.switch {
  box-sizing: content-box;
  margin-left: -20px;
}

.switch i {
  display: inline-block;
  cursor: pointer;
  margin-left: -20px;
  margin-bottom: -3px;
  padding-right: 20px;
  transition: all ease .2s;
  -webkit-transition: all ease .2s;
  border-radius: 20px;
  box-shadow: inset 0 0 1px rgba(0,0,0,.5);
}

.switch i:before {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  padding: 1px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
}

.switch:checked + i {
  padding-right: 0;
  padding-left: 20px;
  background: rgb(100, 189, 99);
}

.white,
.white a {
  color: #fff;
}

.btn-label {
  background: transparent;
  left: 2px;
  padding: 1px 6px;
}

/**
*  autosize
**/

.autogrow {
  overflow: hidden;
  resize: none;
}

/**
*  css for tobacco types - inline checkbox with buttons
**/
.checkbox-inline {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}

.checkbox-inline input {
  vertical-align: middle;
}

.checkbox-inline label {
  vertical-align: middle;
  margin-bottom: 0;
}

.borderless td,
.borderless th .borderless tr {
  border: none;
  vertical-align: middle;
}

/**
Bump the size of the glyphicon-ok-circle
***/
.glyphicon.glyphicon-ok-circle {
  font-size: 20px;
  color: green;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}

.glyphicon glyphicon-info-sign {
  color: aquamarine;
  vertical-align: middle;
  margin-left: 2px;
}

.fa fa-flag-o {
  font-size: 30px;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}

/* CSS used here will be applied after bootstrap.css */
.badge-notify {
  background: green;
  position: relative;
  top: -10px;
  left: -7px;
}

/** 
    color scheme for validation errors
    on form 3852,5210,5000
**/
.calc-error {
  color: #F39C12;
}

.accord-groupborder{
    margin-bottom: 15px;
}

.pl10{
    padding-left: 10px;
}

.mt5{
    margin-top: 5px;
}

.mt10{
    margin-top: 10px;
}

.pr10ml10{
    padding-right: 10px;
    margin-left: 10px;
}

.pr10{
    padding-right: 10px;
}

.ml5mr5{
    margin-left: 5px;
    margin-right: 5px;
}

.black{
    color: black;
}

.pinkbox{
    background-color: pink;
}

.bborder{
    border-bottom: 1px solid black;
}

.red{
    color: red;
}

.topthickborder{
    border-top: 2px solid black;
}

.greybox{
    background-color: #eee;
    border-bottom: 2px solid #bbb;  
}

.leftthickborder{
    border-left: 0.5px solid #bbb;
}

.accordion-toggle:focus{outline: none;}

.bluebox{
    background-color: #17529F;
}

.card-header {
  background-color: white;
  border-bottom: none;
}