// @import "../../../../scss/variables";
// @import "../../../../../node_modules/bootstrap/scss/_variables";
// @import "../../../../../node_modules/bootstrap/scss/mixins";
@import "./../../../../scss/helpers";
.cigar-only{
    background-color:#F42609;
    color:#F2DEDE;
    width: 50px;
    text-align: center;
    font-size: 10;
    font-weight: bold;
    padding: 0px 10px;
  }
  
  .non-cigar{
    background-color:#808000		;
    color:#F2DEDE;
    width: 50px;
    text-align: center;
    font-size: 10;
    font-weight: bold;
    padding: 0px 5px;
  }
  
  .zero-report{
    background-color:#000000;
    color:#F2DEDE;
    width: 50px;
    text-align: center;
    font-size: 10;
    font-weight: bold;
    padding: 0px 10px;
  }

  .noWrap{
    white-space: nowrap;
  }

