<!--Export As CSV Button Row-->
<div class="container-fluid">
<div aria-live="assertive" class="row">	
	<div *ngIf="showActionRequired" class="col-sm-12 col-md-8 col-lg-9 alert alert-sm" style="margin-top: -10px">
		<alert *ngFor="let alert of alerts; let i = index" [type]="alert.type">
			<i class="fa fa-exclamation-triangle"></i><span class="alert-text" [innerHTML]="alert.msg"></span>
		</alert>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-12">
		<div class="h6 fw-semi-bold">Legend</div>
		<div class="h6 fw-semi-bold noWrap"><span class="zero-report">Z</span> - Zero Reported</div>
		<div class="h6 fw-semi-bold noWrap"><span class="cigar-only">C</span> - Cigars Only Reported</div>
		<div class="h6 fw-semi-bold noWrap"><span class="non-cigar">NC</span> - Not Cigars Only</div>
	</div>
	
	</div>
	<div class="row">
		<div *ngIf="!showActionRequired" class="col-lg-10" ></div>
	<div role="alert" class="col-xs-12 col-md-4 col-lg-2" >
		<button type="button" id="btn-exp-rcon" class="btn btn-primary pull-left" title="Export Reconciliation Report as CSV"  
				[ngBusy]="{busy: busyGen, message: 'Exporting Reconciliation Report...', backdrop: true}" 
				(click)="exportReconReport()" style="white-space:nowrap;">Export As CSV</button>		
	</div>
</div>
</div>
<div class="row">
<div class="col-lg-offset-1 col-lg-12">	
<!--Recon Report Table-->	
<section class="widget" widget>
	<div class="widget-body">
	<div class="row" style="overflow-x: scroll;">
		<div class="col-lg-12 col-xs-12">
			<table id="tbl-rpt" [ngBusy]="{busy: busyLoad, message: 'Loading...', backdrop: true}" class="table  table-hover" [mfData]="data | atreconpipe:reconstatusfilterdata"
				#mf="mfDataTable" [mfRowsOnPage]="25" [mfIsServerPagination]="false" [mfActivePage]="1"
				 [mfStoreState]="true" [mfNavigateUrls]="'/permit/impreport;/permit/manreport'" [mfDataTableName]="'at-recon-results'">
				<colgroup>
					<col style="width:35%">
					<col style="width:25%">
					<col style="width:10%">
					<col style="width:20%">
					<col style="width:10%">				
				</colgroup>	
				<thead>
					<tr>
						<th scope="col" id="h-cmp-nam">
							<mfDefaultSorter by="companyName" title="Company Name">Company Name</mfDefaultSorter>
						</th>
						<th scope="col" class="hidden-sm-down" id="h-pmt-no">
							<mfDefaultSorter by="permitNum" title="TTB PERMIT">TTB PERMIT</mfDefaultSorter>
						</th>
						<th scope="col" class="hidden-sm-down" id="h-rep-tob">
							<mfDefaultSorter by="reportedTobacco" title="TYPE">TYPE</mfDefaultSorter>
						</th>
						<th scope="col" class="hidden-sm-down" id="h-mo-1">
							<mfDefaultSorter by="month" title="Month">MONTH</mfDefaultSorter>
						</th>
						<th scope="col" class="hidden-sm-down" id="h-mo-2">
							<mfDefaultSorter by="reconStatus" title="recon status">RECON STATUS</mfDefaultSorter>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td *ngFor="let column of columns">
							<div *ngIf="column.filtering" class="input-group input-group-transparent input-group-rounded">     
								<span class="input-group-text">
									<i class="fa fa-filter" (click)="ApplyFilter();"></i>
								</span> 		
								<input *ngIf="column.type==='input'"
											[attr.id]="'filter-' + column.name"
											[attr.aria-label]="column.name"	
											[ngTableFiltering]="column.filtering"	
											[config]="column.filtering"			
											class="form-control" 
											style="width: auto;" 
											placeholder="{{column.filtering.placeholder}}"
											value="{{column.filtering.filterString}}"
											(tableChanged)="onChangeTable($event)"							
								/>
								<select *ngIf="column.type==='select'" 
										[attr.id]="'filter-' + column.name"
										[attr.aria-label]="column.name"	
											class="form-control" 
											style="width: auto; height: auto;" 	
											(change)="FilterSelectionChanged($event.target.value, column.name)"										
										>
									<option *ngFor="let option of column.options" [selected]="(option.value === column.defaultvalue)"  [value]="option.value">
										{{option.name}}
									</option>
								</select>																
							</div>
						</td>
					</tr>					
					<tr *ngFor="let rptStatus of mf.data;let i = index;">
						<td class="hidden-sm-down" >{{rptStatus.companyName}}</td>
						<td class="hidden-sm-down" >{{rptStatus.permitNum | permitNumberPipe}}</td>
						<td><span *ngIf="rptStatus.reportedTobacco" [class.zero-report]="rptStatus.reportedTobacco =='Z'" [class.cigar-only]="rptStatus.reportedTobacco=='C'"  [class.non-cigar]="rptStatus.reportedTobacco=='NC'">{{rptStatus.reportedTobacco}}</span></td>	
						<td class="hidden-sm-down" >{{rptStatus.month | titleCase}}</td>
						<td class="hidden-sm-down" >{{rptStatus.reconStatus?.includes('Not')?'Unapproved':'Approved'}}</td>			
						<td class="fw-semi-bold blue"><a [routerLink]="['/app/permit', rptStatus.permitTypeCd === 'Manufacturer'?'manreport':'impreport', {PN:rptStatus.permitNum, MO:rptStatus.month}]" 
							(aClick)=showReport(rptStatus)>Review</a></td>			
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="12">
							<mfBootstrapPaginator [rowsOnPageSet]="[5, 10, 25]"></mfBootstrapPaginator>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
	</div>
</section>
</div>
<!--Filter Section-->
<!--<div class="col-lg-2" style="border-left: 1px solid #ddd">
	<div class="col-md-12" style="margin-bottom:10px;">                    
		<fieldset>
			<legend style="color:black"><strong>Filter By:</strong></legend>
			<p style="margin-top:10px;">RECON STATUS</p>
				<div *ngFor="let statusOption of statusOptions; let i=index" class="checkbox" id="fil-rst">
					<input type="checkbox" 
						[attr.id]="i+'_status'"
						name="statusOptions"
						value="{{statusOption.name}}"
						[checked]="statusOptionsMap[statusOption.name]"
						(change)="updateCheckedStatusOptions(statusOption.name, $event)"                            
					/>
					<label [attr.for]="i+'_status'">{{statusOption.name}}</label>
				</div>
		</fieldset>
	</div>          
</div>-->
</div>
