<section class="widget h-divider" widget>

    <div *ngIf="actionReqCnt>0" class="col-xs-12 col-md-12 col-lg-12 alert alert-danger alert-sm">
        <span class="fa fa-exclamation-triangle"></span>
        <span class="no-margin fw-normal alert-text" style="margin-bottom:10px;margin-left: 5px">
            <strong style="margin-bottom:10px">ACTION REQUIRED:</strong>
            {{actionReqCnt}} conflict(s) need to be resolved
        </span>
    </div>
    <div>
        <ag-grid-angular #agGrid style="width: 100%; height: 100%;" class="ag-theme-balham" [rowData]="data"
            [columnDefs]="columnDefs" [animateRows]="true" [enableRangeSelection]="true" [sideBar]="sideBar"
            [animateRows]="true" [groupMultiAutoColumn]="true" (gridReady)="onGridReady($event)" 
            (columnRowGroupChanged)="autoSizeAll()" pagination="true" [paginationPageSize]="paginationPageSize"
            [defaultColDef]="defaultColDef" [frameworkComponents]="frameworkComponents" [context]="context"
            (firstDataRendered)="onFirstDataRendered($event)" [defaultExportParams]="defaultExportParams" (rowDataChanged)="restoreGridSavedState();" [overlayLoadingTemplate]="overlayLoadingTemplate" domLayout='autoHeight'>
        </ag-grid-angular>
    </div>
</section>