<h1 class="page-title"><strong>Admin Account</strong></h1>
<div data-ng-controller="admindashboardController" class="admindashboardController"> 
	<div class="row">
        <div class="col-md-6">
            <section class="widget" widget>
            <div class="widget-body clearfix">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="h6 no-margin">USERS</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 h-thin-divider" style="margin-top:10px;margin-bottom:10px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="h6 no-margin"  style="text-align: center">SUPER USERS</div>
                        <p class="value5"  style="text-align: center">{{superuserCount}}</p>
                    </div>
                    <div class="col-md-4">
                        <div class="h6 no-margin"  style="text-align: center">ADMINS</div>
                        <p class="value5" style="text-align: center">{{adminCount}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 h-thin-divider" style="margin-top:10px;margin-bottom:10px;">
                    </div>
                </div>                
            </div>
            </section>
        </div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<section class="widget h-divider" widget>
				<div class="widget-body">
					<div class="row" style="margin-bottom: 20px;">
						
                    <div class="col-md-12">
                        <div class="pull-right">
                            <button id="btn-cr-user" type="button" class="btn btn-outline-primary" data-toggle="modal" data-keyboard="false" data-backdrop="static" data-target="#create-user" title="Add User">
                            <i class="fa fa-plus"></i>
                            Add User
                            </button>
                        </div>
                    </div>

                </div>
                <table class="table table-hover" [mfData]="data" [ngBusy]="{busy: rolesWait, message: 'Loading...', backdrop: false}"
                    #mf="mfDataTable" [mfRowsOnPage]="10" [mfActivePage]="1" [mfIsServerPagination]="false" style="cursor: pointer;">
                    <thead>
                        <tr>
                            <th>
                                <mfDefaultSorter by="lastName" title="Last Name">Last Name</mfDefaultSorter>
                            </th>
                            <th class="hidden-sm-down">
                                <mfDefaultSorter by="firstName" title="First Name">First Name</mfDefaultSorter>
                            </th>
                            <th class="hidden-sm-down">
                                <mfDefaultSorter by="email" title="user id">USER ID</mfDefaultSorter>
                            </th>
                            <th class="hidden-sm-down">
                                <mfDefaultSorter by="role" title="Role">Role</mfDefaultSorter>
                            </th>
                            <th class="hidden-sm-down">
                                <mfDefaultSorter by="enabled" title="Status">Status</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let role of mf.data; let i= index" style="cursor: pointer;" >
                            <td>{{role.lastName}}</td>
                            <td>{{role.firstName}}</td>
                            <td>{{role.email | lowercase }}</td>
                            <td>{{role.role}}</td>
                            <td><a [routerLink]="['/app/admin/userprofile', role.userId]">{{role.enabled}}</a></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="12">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5, 10, 25]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
				</div>
			</section>
		</div>
	</div>  
    <div class="row">
         <!--HTS codes -->
		<div class="col-lg-6">            
			<section class="widget h-divider" widget>
				<div class="widget-body">
					<div class="row">
                        <div class="col-md-8">
                            <div class="h4">HTS Codes</div>
						</div>
                        <div class="col-md-4">
                            <div class="pull-right">
                                <button id="btn-hts-code" type="button" class="btn btn-outline-primary" data-toggle="modal"
                                focusOn="#hts-code" data-target="#hts-code" (click)="selectCode(newhtscode)">
                                <i class="fa fa-plus"></i>
                                Add HTS Code
                                </button>
                            </div>
						</div>
                          <div class="col-md-12">
                            <table class="table table-hover table-borderless" [mfData]="htsCodes" [(mfSortBy)]="sortBy"
                                #mf2="mfDataTable" [mfRowsOnPage]="5" [mfActivePage]="1" [mfIsServerPagination]="false" style="margin-left:-5px;">
                                <colgroup>
                                    <col style="width:40%">
                                    <col style="width:40%">
                                    <col style="width:20%">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th class="hidden-sm-down">
                                            <mfDefaultSorter by="htsCode" title="HTS Code">HTS Code</mfDefaultSorter>
                                        </th>
                                        <th class="hidden-sm-down">
                                            <mfDefaultSorter by="tobaccoClassName" title="Tobacco Class">Tobacco Class</mfDefaultSorter>                            
                                        </th>
                                        <th class="hidden-sm-down">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let tc of mf2.data; let i= index;" >
                                        <td>
                                            <span>{{tc.htsCode}}
                                            </span>
                                        </td>
                                        <td>
                                            <span>{{tc.tobaccoClassName | removeHyphen}}
                                            </span>
                                        </td>
                                        <td>
                                            <button id="btn-tax-rate" type="button" class="btn btn-outline-primary" data-toggle="modal"
                                            focusOn="#hts-code" data-target="#hts-code" title="Add Tax Rates" (click)="selectCode(tc)">
                                            <i class="fa fa-pencil"></i>
                                            Edit
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="12">
                                            <mfBootstrapPaginator [rowsOnPageSet]="[5, 10, 25]"></mfBootstrapPaginator>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
					    </div>
					</div>
				</div>
			</section>
		</div>
        <!--Tax rates -->
        <div class="col-lg-6">            
			<section class="widget h-divider" widget>
				<div class="widget-body">
					<div class="row">
                        <div class="col-md-8">
                            <div class="h4">Tax & Conversion Rates</div>
						</div>
                        <div class="col-md-4">
                            <div class="pull-right">
                                <button id="btn-tax-rate" type="button" class="btn btn-outline-primary" data-toggle="modal"
                                focusOn="#tax-conversions" data-backdrop="static" data-keyboard="false" (click)="selectRates(taxRateData)"
                                data-target="#tax-conversions" title="Add Tax Rates">
                                <i class="fa fa-plus"></i>
                                Add Rates
                                </button>
                            </div>
						</div>
                        <div class="col-md-12">
                           <div class="pull-left">Effective starting <span class="fw-semi-bold">{{effectiveDate | datePipe}}</span>
                           </div>
                        </div>
                          <div class="col-md-12">
                            <table class="table table-hover table-borderless" [mfData]="taxRateData" [(mfSortBy)]="sortBy"
                                #mf1="mfDataTable" [mfActivePage]="1" [mfIsServerPagination]="false" style="margin-left:-5px;">
                                <colgroup>
                                    <col style="width:30%">
                                    <col style="width:40%">
                                    <col style="width:30%">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th class="hidden-sm-down">
                                            <mfDefaultSorter by="tobaccoClassNm" title="Tobacco Class">Tobacco Class</mfDefaultSorter>
                                        </th>
                                        <th class="hidden-sm-down">
                                            <mfDefaultSorter by="taxRate" title="Tax Rate">Tax Rate</mfDefaultSorter>                            
                                        </th>
                                        <th class="hidden-sm-down">
                                            <mfDefaultSorter by="conversionRate" title="Conversion Rate">Conversion Rate</mfDefaultSorter>                                   
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let tc of mf1.data; let i= index;">
                                            <tr  *ngIf="tc.taxRate || tc.conversionRate" >
                                                        <td>
                                                            <span *ngIf="nonConversionTypes.indexOf(tc.tobaccoClassNm) === -1">{{tc.tobaccoClassNm | removeHyphen}}
                                                            </span>
                                                            <span *ngIf="nonConversionTypes.indexOf(tc.tobaccoClassNm) != -1">{{tc.tobaccoClassNm}}
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <div  *ngIf="nonConversionTypes.indexOf(tc.tobaccoClassNm) === -1" >${{tc.taxRate}} /lb</div>
                                                            <div  *ngIf="nonConversionTypes.indexOf(tc.tobaccoClassNm) != -1 && tc.tobaccoClassNm != 'Cigars - Ad Valorem'" >
                                                                ${{tc.taxRate}} /k sticks</div>
                                                            <div  *ngIf="tc.tobaccoClassNm === 'Cigars - Ad Valorem'">{{tc.taxRate | percent}}</div>
                                                            <div *ngIf="!tc.taxRate" class="input-group">
                                                                <span>N/A</span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div *ngIf="tc.conversionRate">${{tc.conversionRate }} /kg</div>
                                                            <div *ngIf="!tc.conversionRate" class="input-group">
                                                                <span>N/A</span>
                                                            </div>
                                                        </td>
                                                </tr>
                                    </ng-container>
                                    
                                </tbody>
                            </table>
					    </div>
					</div>
				</div>
			</section>
		</div>
    </div>    
	<div create-user-popup (reloadUsers)="reloadUsers($event)"></div>  
    <div tax-conversions [ratesModel]="cloneTaxRateData" (reloadTaxRates)="reloadTaxRates($event)"></div>
    <div hts-codes [dropDownData]="dropdownData" [codeModel]="htscode" (reloadCodes)="reloadTaxRates($event)"></div>
</div>