// @import "../../scss/bootstrap-datepicker3.min";
// @import "../../../../node_modules/bootstrap-select/dist/css/bootstrap-select";
// @import "../../../../node_modules/select2/dist/css/select2";
// @import "../../../../node_modules/select2-bootstrap-css/select2-bootstrap";
// @import "../../scss/variables";
// @import "../../../../node_modules/bootstrap/scss/_variables";
// @import "../../../../node_modules/bootstrap/scss/mixins";
@import "./../../../scss/helpers";

.h-divider{
 width:100%;
 border-bottom:3px solid #778899;
}

.h-thin-divider{
 width:100%;
 border-bottom:1px solid gray;
 padding-bottom: 10px;
}

.switch{
  box-sizing: content-box;
  margin-left: -20px;
}

.switch i {
  display: inline-block;
  cursor: pointer;
  margin-left: -20px;
  margin-bottom:-3px;
  padding-right: 20px;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  border-radius: 20px;
  box-shadow: inset 0 0 1px rgba(0,0,0,.5);
}

.switch i:before {
  display: block;
  content: '';
  width: 30px;
  height: 30px;
  padding: 1px;
  border-radius: 20px;
  background: white;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
}
.switch :checked + i {
  padding-right: 0;
  padding-left: 20px;
  background: rgb(100, 189, 99);
}


.white, .white a {
  color: #fff;
}

.btn-label {
  background: transparent;
  left: 2px;
  padding: 1px 6px;
}



/**
*  autosize
**/

/***********************************/
/**          NEWS LIST           **/
/**********************************/

.news-list{
  margin-bottom: 0;
  padding-left: 0;

  li{
    list-style: none;
    box-sizing: content-box;
    border-top: 1px solid $gray-lighter;
    padding: 12px;
    cursor: pointer;
    @include transition(background-color .2s ease-out);

    &:hover{
      background: $body-bg-light;
    }

    &:last-child{
      margin-bottom: -10px;
    }
  }

  img,
  .icon{
    float: left;
    height: 50px;
    width: 50px;
  }

  .icon{
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 28px;
  }

  .news-item-info{
    margin-left: 62px; /*50 + 12px padding*/
  }

  .name{
    text-transform: uppercase;

    a{
      text-decoration: none;
      &:hover{
        color: $link-color;
      }
    }
  }
}

.autogrow {
  overflow: hidden;
  resize: none;
}