<ol class="breadcrumb">
	<li class="breadcrumb-item"><a [routerLink]="['/app/admin/dashboard']" title="Admin Dashboard">Admin Dashboard</a></li>
	<li class="breadcrumb-item active"><a href="javascript:void(0)" title="Create User">Create User</a></li>
</ol>
<h1 title="Create User" class="h1 page-title">Create User</h1>
<div class="EditUserPageController" data-ng-controller="EditUserPageController">
	<form id="edituserform" #edituserform="ngForm" role="form" class="form-horizontal" data-parsley-priority-enabled="false"
		novalidate="novalidate" data-parsley-validate data-parsley-focus="first">
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-12">
						<div class="widget-body clearfix">
							<div class="form-group row">
								<!--<div class="col-md-1"></div>-->
								<h4 class="col-md-4 form-control-label fw-bold" id="add-contact-title">User Profile</h4>
								<div class="col-md-6"></div>
								<h4 class="col-md-2 form-control-label fw-bold" id="add-contact-title">{{usermodel?.firstname}} {{usermodel?.lastname}}</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-12">
						<div class="widget-body clearfix">
							<div class="form-group row">
								<h5 class="col-md-1 form-control-label help-block fw-bold" id="add-contact-title">Created: </h5>
								<div class="col-md-2">January 23, 2016</div>
								<div class="col-md-7"></div>
								<h5 class="col-md-1 form-control-label help-block fw-bold" id="add-contact-title">Status:</h5>
								<div class="col-md-1">{{usermodel?.enabled}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="row">
					<div class="col-lg-12">
						<section class="widget" widget>
							<div class="widget-body clearfix">
								<div class="form-group row">
									<div class="col-md-1"></div>
									<h6 class="col-md-6 form-control-label fw-bold" id="add-contact-title">Contact Information</h6>
									<div class="col-md-4"></div>
								</div>

								<!--First Name-->
								<div class="form-group row">
									<div class="col-md-2"></div>
									<label for="first-name" class="col-md-3 form-control-label text-md-left">First Name
										<span class="help-block">Required </span>
									</label>
									<div class="col-md-6 col-xs-12">
										<input type="text" class="form-control textuppercase" id="first-name" [(ngModel)]="usermodel.firstname" [ngModelOptions]="{standalone: true}"
											required data-parsley-required-message="Error: First Name is required">
									</div>
									<div class="col-md-1"></div>
								</div>
								<!--Last Name-->
								<div class="form-group row">
									<div class="col-md-2"></div>
									<label for="last-name" class="col-md-3 form-control-label text-md-left">Last Name
										<span class="help-block">Required </span>
									</label>

									<div class="col-md-6 col-xs-12">
										<input type="text" class="form-control textuppercase" id="last-name" [(ngModel)]="usermodel.lastname" [ngModelOptions]="{standalone: true}"
											required data-parsley-required-message="Error: Last Name is required">
									</div>
									<div class="col-md-1"></div>
								</div>
								<!--Email Address         -->
								<div class="form-group row">
									<div class="col-md-2"></div>
									<label for="email-address" class="col-md-3 form-control-label text-md-left">User ID
										<span class="help-block">Required </span>
									</label>

									<div class="col-md-6 col-xs-12">
										<input type="text" class="form-control textuppercase" id="email-address" [(ngModel)]="usermodel.email" [ngModelOptions]="{standalone: true}"
											required data-parsley-error-message="Error: User ID is required">
									</div>
									<div class="col-md-1"></div>
								</div>
								<!--Phone Number-->
								<div class="form-group row">
									<div class="col-md-2"></div>
									<label for="phone-number" class="col-md-3 form-control-label text-md-left">Phone
										<span class="help-block">Required </span>
									</label>
									<!--<div class="col-md-2 col-xs-12">
										<input type="text" class="form-control" id="phone-countrycode" maxlength="3">
									</div>-->
									<div class="col-md-6 col-xs-12">
										<input type="text" class="form-control" id="phone-number" data-parsley-pattern="^[\d\+\-\.\(\)\/\s]*$" maxlength="10" [(ngModel)]="usermodel.phone1"
											[ngModelOptions]="{standalone: true}" required data-parsley-required-message="Error: Phone number is required">
									</div>
									<div class="col-md-1"></div>
								</div>

							</div>
						</section>
					</div>
				</div>
				
				<!--<div class="row">
					<div class="col-lg-12">
						<section class="widget" widget>
							<div class="widget-body clearfix">

								<div class="form-group row">
									<div class="col-md-1"></div>
									<h6 class="col-md-6 form-control-label fw-bold" id="add-contact-title">User History</h6>
									<div class="col-md-4"></div>
								</div>
								
								<div class="form-group row">
									<div class="col-md-2"></div>
									<label for="last-login-dt" class="col-md-3 form-control-label text-md-left">Last Login Date
					                </label>
									<div class="col-md-6 col-xs-12">
										<label for="last-login-dt" class="col-md-3 form-control-label text-md-left">01/13/2017
					                </label>
									</div>
									<div class="col-md-1"></div>
								</div>
							
								<div class="form-group row">
									<div class="col-md-2"></div>
									<label for="user-status" class="col-md-3 form-control-label text-md-left">Status
										<span class="help-block">Required </span>
					                </label>
									<div class="col-md-6 col-xs-12">
										<select [(ngModel)]="usermodel.enabled" name="status" class="form-control fdatable" id="user-status" required>
											<option [selected]='status==="usermodel.enabled"' *ngFor="let status of statusList" [value]="status">
											{{status}}
											</option>
                          				</select>
									</div>
									<div class="col-md-1"></div>
								</div>

								
								<div class="form-group row">
									<div class="col-md-2"></div>
									<label for="end-date" class="col-md-3 form-control-label text-md-left">End Date
										<span class="help-block">Required </span>
                					</label>

									<div class="col-md-6 col-xs-12">
										<datetime [timepicker]="false" [datepicker]="datepickerOpts" id="end-date" [(ngModel)]="date2" [ngModelOptions]="{standalone: true}"
											required="required"></datetime>
									</div>
									<div class="col-md-1"></div>
								</div>
							</div>
						</section>
					</div>
				</div>-->
				


				<!--<div class="row">
					<div class="col-lg-12">
						<section class="widget" widget>
							<div class="widget-body clearfix">

								<div class="form-group row">
									<div class="col-md-1"></div>
									<h6 class="col-md-6 form-control-label fw-bold" id="add-contact-title">User History</h6>
									<div class="col-md-4"></div>
								</div>
								
								<div class="form-group row">
									<div class="col-md-2"></div>
									<label for="last-login-dt" class="col-md-3 form-control-label text-md-left">Last Login Date
					                </label>
									<div class="col-md-6 col-xs-12">
										<label for="last-login-dt" class="col-md-3 form-control-label text-md-left">01/13/2017
					                </label>
									</div>
									<div class="col-md-1"></div>
								</div>
							
								<div class="form-group row">
									<div class="col-md-2"></div>
									<label for="user-status" class="col-md-3 form-control-label text-md-left">Status
										<span class="help-block">Required </span>
					                </label>
									<div class="col-md-6 col-xs-12">
										<select [(ngModel)]="usermodel.enabled" name="status" class="form-control fdatable" id="user-status" required>
											<option [selected]='status==="usermodel.enabled"' *ngFor="let status of statusList" [value]="status">
											{{status}}
											</option>
                          				</select>
									</div>
									<div class="col-md-1"></div>
								</div>

								
								<div class="form-group row">
									<div class="col-md-2"></div>
									<label for="end-date" class="col-md-3 form-control-label text-md-left">End Date
										<span class="help-block">Required </span>
                					</label>

									<div class="col-md-6 col-xs-12">
										<datetime [timepicker]="false" [datepicker]="datepickerOpts" id="end-date" [(ngModel)]="date2" [ngModelOptions]="{standalone: true}"
											required="required"></datetime>
									</div>
									<div class="col-md-1"></div>
								</div>
							</div>
						</section>
					</div>
				</div>-->
			
			



			
			</div>

			<div class="col-lg-6">
				<div class="row">
					<div class="col-lg-12">
						<section class="widget" widget>
							<div class="widget-body clearfix">
								<div class="form-group row">
									<div class="col-md-1"></div>
									<h6 class="col-md-6 form-control-label fw-bold" id="add-contact-title">User Role</h6>
									<div class="col-md-4"></div>
								</div>
								<div class="form-group row">
									<div class="col-md-2"></div>
									<label for="user-roles" class="col-md-2 form-control-label text-md-left">Role
                					</label>

									<div class="col-md-6 col-xs-12">
										<select [(ngModel)]="usermodel.role" name="userRoles" class="form-control fdatable" id="user-roles" required
										data-parsley-required-message="Error: Role is required">
											<option [selected]='role==="usermodel.role"' *ngFor="let role of userRoles" [value]="role">
											{{role}}
											</option>
										</select>
									</div>
									<div class="col-md-2"></div>
								</div>
							</div>
						</section>
					</div>
				</div>
				<!--<div class="row">
					<div class="col-lg-12">
						<section class="widget" widget>
							<div class="widget-body clearfix">
								<div class="form-group row">
									<h4 class="col-md-8 form-control-label fw-bold" id="add-contact-title" style="height:395px">Recent Activity :TBD</h4>
								</div>
							</div>
						</section>
					</div>
				</div>-->
			</div>

			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-4">
						<div aria-live="assertive">  						
							<div role="alert" *ngIf="showErrorFlag" class="row">
								<div class="col-lg-12 col-xs-12">
									<div class="form-group row">
										<div class="col-md-12 col-xs-12">
											<alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'">
												<div [innerHTML]="alert.msg"></div>
											</alert>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
					</div>
					<div class="col-lg-2">
						<button id="cr-user" type="button" class="btn btn-primary btn-block" (click)="updateUser(usermodel)"> 
                        Save User
                        </button>
					</div>
				</div>
			</div>

		</div>

	</form>
</div>