<div class="modal fade" id="hts-code" tabindex="-1" role="dialog" aria-labelledby="hts-code-title" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="h4 modal-title text-xs-center fw-bold mt" id="hts-code-title">{{code.htsCodeId?'Edit':'Add'}} HTS Code</h1>
			</div>
			<!--Modal Body-->
			<div class="modal-body">
				<form id="htscodeform" #adduserform="ngForm" role="form" class="form-horizontal" data-parsley-priority-enabled="false" novalidate="novalidate"
					data-parsley-validate data-parsley-focus="first">
					<div class="row" style="margin:0px 20px"> 
						<label for="htscode" class="col-md-4 form-control-label fw-semi-bold text-md-right">HTS Code
							<span class="help-block">Required field</span>
						</label>
                        <div aria-live="assertive" role="alert" class="col-md-6">
                            <input role="alert" [(ngModel)]="code.htsCode" id="htscode" type="text" class="form-control fdatable" name="htscode"
                            maxlength='13' customInteger (ngModelChange)="resetError()" required data-parsley-required-message="Error: HTS Code is required">
                        </div>
                        <div class="col-md-2"></div>
						<label for="tobacco-class" style="margin-top: 20px" class="col-md-4 form-control-label fw-semi-bold text-md-right">Tobacco Class
							<span class="help-block">Required field</span>
						</label>
                        <div aria-live="assertive" role="alert" style="margin-top: 20px" class="col-md-6">
                            <select role="alert" [(ngModel)]="code.tobaccoClassName" id="tobacco-class" class="form-control fdatable" name="tobaccoClass" required
                            data-parsley-required-message="Error: Tobacco Class is required">
                                <option *ngFor="let class of dropDownData" [disabled]='class.tobaccoClass === "Select Tobacco Class"' [value]="class.tobaccoClass">
                                    {{class.tobaccoClass | removeHyphen}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-2"></div>
                    </div> 
				</form>
			</div>
			<!--Modal Footer-->
			<div class="modal-footer">
                <button type="button" id="btn-save" class="btn btn-primary" (click)="saveCode(code)">Save</button>
				<button type="button" class="btn btn-secondary" (click)="reset()">Cancel</button>
			</div>
		</div>
	</div>
</div>