<ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]='["/app/company/search"]'>Daily Operations</a></li>
    <li class="breadcrumb-item active"><a href="javascript:void(0)">Generate Reports</a></li>
</ol>
<h1 title="Generate Reports" class="h1 page-title">Create Monthly Reports</h1>
<form id="createreports-form" class="form-horizontal" role="form" data-parsley-priority-enabled="false"
	data-parsley-validate data-parsley-focus="first">
<!--Monthly Reports-->
<div class="row" style="width:1205px;">
  <div class="col-lg-12 col-xs-12">
        <section class="widget" widget="">
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-3">                  
                    </div>
                    <div class="col-md-3"><label for="fiscal-year" class="card-small-label">Fiscal Year</label></div>
                    <div class="col-md-3"><label for="cal-month" class="card-small-label">Month</label>                
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                        <span class="card-small-label">Create new monthly reports</span>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control fdatable" (ngModelChange)="closeAlert()" [(ngModel)]="calYear" [attr.title]="calYear?calYear:'Fiscal-year'" id="fiscal-year" name="fiscalyear"
                        data-parsley-year name="year"  data-parsley-type="number" min="1000" max='9999' placeholder="YYYY" type="number" 
                        onKeyPress="if(this.value.length==4) return false;" required aria-describedby="errYear"
                        data-parsley-error-message="Error: Fiscal Year is required" data-parsley-errors-container="#errYear">
                    </div>
                    <div class="col-md-3">
                        <select id="cal-month" [(ngModel)]="calMonth" [attr.title]="calMonth" name="month" (change)="closeAlert()" #monthSelect class="form-control fdatable" required
                        data-parsley-error-message="Error: Month is required" data-parsley-errors-container="#errMonth" aria-describedby="errMonth">
                            <option [disabled]='product === "Month"' *ngFor="let product of monthList" [value]="product">
                            {{product}}
                            </option>
                          </select>
                    </div>
                    <div class="col-md-3 pull-right">
                        <button title="Create Monthly"
                                id="btn-cr-mon"
                                class="btn btn-primary" 
                                (click)=" createMonthly(calYear,calMonth);">
                            Create Monthly
                        </button>
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                        <span id="errYear"></span>
                    </div>
                    <div class="col-md-3">
                        <span id="errMonth"></span>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>

            </div>
        </section>
    </div>
</div>
</form>
<div aria-live="assertive"> 
    <div *ngIf="showAlertFlag" role="alert" class="row" style="width:1205px;">
        <div class="col-lg-4 col-xs-4">
        </div>    
        <div class="col-lg-8 col-xs-8">
            <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'" (close)="closeAlert()">
                <div class="row" style="margin-left:5px; margin-right:5px;" [innerHTML]="alert.msg"></div>
            </alert>
        </div>
    </div>
</div>