<div class="modal fade" id="tax-conversions" tabindex="-1" role="dialog" aria-labelledby="tax-conversions-title" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="h4 modal-title text-xs-left fw-bold mt" id="tax-conversions-title">Add Tax & Conversion Rates</h1>
			</div>
			<!--Modal Body-->
			<div class="modal-body">
				<form id="taxRatesform" #adduserform="ngForm" role="form" class="form-horizontal" data-parsley-priority-enabled="false" novalidate="novalidate"
					data-parsley-validate data-parsley-focus="first">
						<div class="row" style="margin:0px 20px">                       
                         <table class="table borderless table-hover" [mfData]="taxRates" [(mfSortBy)]="sortBy"
                            #mf1="mfDataTable" [mfIsServerPagination]="false" [mfActivePage]="1">
                            <colgroup>
                                <col style="width:30%">
                                <col style="width:33%">
                                <col style="width:37%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="hidden-sm-down">Tobacco Class
                                    </th>
                                    <th class="hidden-sm-down">Tax Rate
                                        <span class="text-lowercase">($/k or $/lb)</span>                                     
                                    </th>
                                    <th class="hidden-sm-down">Conversion Rate 
                                        <span class="text-lowercase">($/kg)</span>                                      
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                    <ng-container *ngFor="let tc of mf1.data; let i= index;">
                                            <tr *ngIf="tc.taxRate || tc.conversionRate">
                                                        <td>
                                                            <label *ngIf="nonConversionTypes.indexOf(tc.tobaccoClassNm) === -1" id="{{i}}" attr.for="{{tobaccoClassMap[tc.tobaccoClassNm]}}-tax-rate" class="fw-semi-bold">
                                                                {{tc.tobaccoClassNm | removeHyphen}}
                                                            </label>
                                                            <label *ngIf="nonConversionTypes.indexOf(tc.tobaccoClassNm) != -1" id="{{i}}" attr.for="{{tobaccoClassMap[tc.tobaccoClassNm]}}-tax-rate" class="fw-semi-bold">
                                                                {{tc.tobaccoClassNm}}
                                                            </label>
                                                        </td>
                                                        <td class="fw-semi-bold">
                                                            <div aria-live="assertive"  *ngIf="tc.tobaccoClassNm != 'Cigars - Ad Valorem'" class="input-group">
                                                                <span class="input-group-text">$</span>                    
                                                                <input role="alert" id="{{tobaccoClassMap[tc.tobaccoClassNm]}}-tax-rate" type="text" class="form-control fdatable" name="tax{{tc.tobaccoClassNm}}"
                                                                [attr.placeholder]="tc.taxRate" [attr.title]="tc.tobaccoClassNm" (change)="setTaxRates(tc.tobaccoClassNm)" customNumerics
                                                                [attr.data-parsley-errors-container]="'#taxRateError'+i" [attr.aria-labelledby]="i" [customDecimalFormatter]='4' required
                                                                attr.data-parsley-required-message="Error: {{tobaccoClassMap[tc.tobaccoClassNm]}} Tax Rate is required">
                                                            </div>
                                                            <div aria-live="assertive" *ngIf="tc.tobaccoClassNm === 'Cigars - Ad Valorem'" class="input-group">                                                                  
                                                                <input role="alert" id="{{tobaccoClassMap[tc.tobaccoClassNm]}}-tax-rate" type="text" class="form-control fdatable" name="tax{{tc.tobaccoClassNm}}"
                                                                [attr.placeholder]="tc.taxRate * 100 | number" [attr.title]="tc.tobaccoClassNm" (change)="setTaxRates(tc.tobaccoClassNm)" customPercent
                                                                [attr.data-parsley-errors-container]="'#taxRateError'+i" [attr.aria-labelledby]="i" required
                                                                attr.data-parsley-required-message="Error: {{tobaccoClassMap[tc.tobaccoClassNm]}} Tax Rate is required">
                                                                <span class="input-group-text">%</span>  
                                                            </div>
                                                            <div id="taxRateError{{i}}"></div>
                                                        </td>
                                                        <td class="fw-semi-bold">
                                                            <div aria-live="assertive" *ngIf="nonConversionTypes.indexOf(tc.tobaccoClassNm)==-1" class="input-group">
                                                                <span class="input-group-text">$</span>                    
                                                                <input role="alert" id="{{tobaccoClassMap[tc.tobaccoClassNm]}}-conversion" type="text" class="form-control fdatable" name="conversion{{tc.tobaccoClassNm}}"
                                                                [attr.placeholder]="tc.conversionRate" [attr.title]="tc.tobaccoClassNm" (change)="setConversionRates(tc.tobaccoClassNm,i)" customNumerics
                                                                [attr.data-parsley-errors-container]="'#conversionRateError'+i" [attr.aria-labelledby]="i" [customDecimalFormatter]='6' required
                                                                attr.data-parsley-required-message="Error: {{tobaccoClassMap[tc.tobaccoClassNm]}} conversion value is required"
                                                                >
                                                            </div>
                                                            <div *ngIf="nonConversionTypes.indexOf(tc.tobaccoClassNm)!=-1" class="input-group">
                                                                <span>N/A</span>
                                                            </div>
                                                            <div id="conversionRateError{{i}}"></div>
                                                        </td>
                                                </tr>
                                    </ng-container>
                                
                            </tbody>
                            <tfoot></tfoot>
                        </table>
                        <div class="col-md-6 no-padding">
                            <label for="active-date" class="form-control-label fw-semi-bold text-md-left">
                                Apply updates to all forms starting
                                <span class="help-block">Required field</span>
                            </label>
                        </div>
                        <div class="col-md-2 no-padding"></div>
                        <div aria-live="assertive" role="alert" class="col-md-4 col-xs-12 text-md-right no-padding">
                            <datetime [dateinputID]="activedateid" [(ngModel)]="date3" [timepicker]="false" 
                            [datepicker]="datepickerOpts" name="active-date" required></datetime>
                        </div>
                    </div> 
				</form>
			</div>
			<!--Modal Footer-->
			<div class="modal-footer">
				<button type="button" id="btn-save" class="btn btn-primary" [disabled]="btnDisable" (click)="editRates(taxRates)">Save Rates</button>
				<button type="button" class="btn btn-secondary" [disabled]="btnDisable" (click)="reset()">Cancel</button>
			</div>
		</div>
	</div>
</div>