<!--Show Breadcrumb-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="javascript:void(1)" (aClick)="toAssessments()" id="lnk-assessments">Assessments</a>
    </li>
    <li class="breadcrumb-item">
        <a href="javascript:void(2)" (aClick)="toAnnualTrueUp()" id="lnk-at">Annual True-Up</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="javascript:void(0)">Compare Details</a>
    </li>
</ol>

<div class="compare-details">

    <!-- Show Company Compare Details Title Block -->
    <div at-comparedetailsheader [headerInfo]="headerdata"></div>
    <!-- Show Company Information Block -->
    <div [hidden]=!isCompanyDisplay at-company-panel [headerInfo]="headerdata"></div>
    <div >
            <app-at-compare-prev-trueup-info-tufa-ag-grid style="width: 100%" [headerInfo]="headerdata"></app-at-compare-prev-trueup-info-tufa-ag-grid>
    </div>
    <!-- Show Reallocate Pop Up -->
    <div reallocate-entry (onReallocated)="refreshIngestedDetails($event)" [selectedDt]="selectedDt" [entrydata]="lineiteminfo"></div>

    <div class="row">
        <div class="col-lg-12 no-padding">
            <div [ngBusy]="{busy: busy, message: 'Loading Compare Page From Cigar Details...', backdrop: true,wrapperClass: 'ng-busy-default-centered',minDuration: 2000}">

                <!-- Show Export Details Button For Importer -->
                <div class="row" style="padding-bottom: 20px;">
                    <div class="col-lg-2 col-xs-12 btn-toolbar" *ngIf="permitType === 'Importer'">
                        <button [ngBusy]="{busy: downloadBusy, message: 'Exporting CBP Details...', backdrop: false}" (click)="CBPExportDetail()"
                            type="button" id="btn-exp-det" class="btn btn-primary pull-left">Audit Export</button>
                    </div>
                    <div class="col-lg-10 col-xs-12 btn-toolbar my-auto">
                        <span style="padding-right: 20px;"><b>Select Tobacco Class to View for this Company:</b></span> 
                        <app-tobacco-button-bar *ngIf="ingestionWorkflowSvc.getContextInfo()[0].context == 'detailOnly'" [headerData]="headerdata"></app-tobacco-button-bar>
                    </div>
                </div>
                <!-- Show Export Details Button For Importer -->
                <span *ngIf="permitType === 'Importer'">
                    <span *ngIf="ingestionWorkflowSvc.getContextInfo()[0].context == 'summdetail'">
                        <div [ingestRefresh]="refreshIngest" [fda3852map]="fda3852map" (manageEntry)="manageEntryLine($event, 5)" [quarter]="5" at-compareimpdetails></div>
                    </span>
                    <span *ngIf="ingestionWorkflowSvc.getContextInfo()[0].context == 'detailOnly'">

                        <div [ngBusy]="{busy: dateSwitchBusy, message: 'Please wait..Switching dates', backdrop: true}" id="date-type-selection">
                            <div class="row">Please select the date from the two options below. The selected date will be used in the Details
                                Table
                            </div>
                            <div class="section-title">
               
                                    <a [ngBusy]="exportBusy" class="fw-semi-bold pull-right" href="javascript:void(0)" (aClick)="exportRawdata()">Download Missing Entry Lines</a>
                                  </div>
                            <div class="row" [ngBusy]="{busy: busy, message: 'Loading...', backdrop: true}">
                                <div class="abc-radio">
                                    <input id="rd-summdet" value="entrySummDt" [(ngModel)]="selectedDt" (ngModelChange)="trackChanges($event)" title="EntrySummaryDate"
                                        name="optradio" type="radio" [disabled]="hasAssociationStatus()">
                                    <label for="rd-summdet">
                                        Entry Summary Date
                                    </label>
                                </div>
                                <div class="abc-radio">
                                    <input id="rd-detail" value="entryDt" [(ngModel)]="selectedDt" (ngModelChange)="trackChanges($event)" title="EntryDate" name="optradio"
                                        type="radio" [disabled]="hasAssociationStatus()">
                                    <label for="rd-detail">
                                        Entry Date
                                    </label>
                                </div>
                            </div>
                        </div>
                        <details-quarter-panel [context]="ingestionWorkflowSvc.getContextInfo()[0].context" [selectedDt]="selectedDt" [quarter]="5"
                            [headerData]="headerdata" [acceptanceFlag]="fda3852map[5]" [oneSidedAcceptanceFlag]="oneSidedFlagMap[5]"></details-quarter-panel>
                        <div cmpdetail-comments-grid [context]="'cbpdetail'" [headerdata]="shareData" [ingestionContext]="ingestionWorkflowSvc.getContextInfo()[0].context"></div>
                    </span>
                </span>

                <!--Show Quarter Tab-->
                <ng-container *ngIf="permitType == 'Manufacturer'">
                    <ng-container *ngIf="ingestionWorkflowSvc.getContextInfo()[0].context == 'summdetail'">
                        <div [quarter]="5" [fda3852map]="fda3852map" at-comparemandetails></div>
                    </ng-container>
                    <ng-container *ngIf="ingestionWorkflowSvc.getContextInfo()[0].context == 'detailOnly'">
                        <app-at-manu-cigar-compare [headerData]="headerdata" [acceptanceFlag]="fda3852map[5]" [oneSidedAcceptanceFlag]="oneSidedFlagMap[5]"></app-at-manu-cigar-compare>
                        <div cmpdetail-comments-grid [quarter]="0" [context]="'ttbdetail'" [headerdata]="shareData" [ingestionContext]="ingestionWorkflowSvc.getContextInfo()[0].context"></div>
                    </ng-container>
                </ng-container>

            </div>
        </div>
    </div>
</div>