<form id="company-info-form" class="form-horizontal" role="form" data-parsley-priority-enabled="false" novalidate="novalidate"
	data-parsley-validate data-parsley-focus="first">
		<div class="row">
		<div class="col-lg-12 col-no-padding">
			<section class="widget h-divider">
				<div class="widget-body clearfix">

					<!--- Collapsible Panel -->
					<div class="panel-group" id="accordionCompanyPanel">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle-main h4 no-margin fw-normal collapsed" data-toggle="collapse" aria-expanded="false" 
									aria-controls="#collapseCompanyPanel" href="#collapseCompanyPanel">
										{{company?.legalName}} Information
									</a>
								</h4>
							</div>
							<div id="collapseCompanyPanel" class="panel-collapse collapse">
								<div class="panel-body">
									
											<!-- Panel Body -->
											<div class="row">
												<div class="col-lg-offset-1 col-lg-12 col-no-padding">
																<div class="widget-body">
																		<div class="row" >
																				<!-- Left side column - address info to validate against -->
																				<div class="col-lg-4 col-no-padding">
																						<p class="no-margin "><strong>EIN: </strong>{{company?.einNumber | einPipe}}</p>
																						<p class="no-margin "><strong>Created: </strong>{{company?.createdDt}}</p>
																						<p class="no-margin "><strong>Status: </strong>{{company?.companyStatus | companyStatusPipe}}</p>
																				</div>
																			
																				<!-- Right side column - address info read from file -->
																				<div class="col-lg-8"   *ngIf = "priAddress || alternateAddress">
																					<div style="margin-top:10px;" >	<h5><span class="fw-semi-bold">Company Addresses</span></h5> </div>
																					<div  class="row">
																						<!-- Left side column - address info to validate against -->
																						<div class="col-lg-6 col-no-padding" *ngIf = "priAddress">
																								<div class="row flex-nowrap" style="margin-top:10px;">							
																									<div class="col-lg-8 col-no-padding">	
																										<p class="no-margin"><strong>Primary</strong></p>						
																										<p class="no-margin " *ngIf = "priAddress?.attention"> {{priAddress?.attention}}</p>
																										<p class="no-margin ">{{priAddress?.streetAddress}}<span *ngIf = "priAddress?.suite">, {{priAddress?.suite}}</span></p>
																										<p class="no-margin "><span *ngIf = "priAddress?.city">{{priAddress?.city}}, </span>{{priAddress?.state}}{{priAddress?.province}} {{priAddress?.postalCd}}</p>
																										<p class="no-margin "><span *ngIf = "priAddress?.countryCd">{{priAddress?.countryNm}}</span></p>
																									</div>
																								</div>
																					</div>
																					<!-- Right side column - address info read from file -->
																						<div class="col-lg-6 col-no-padding"  *ngIf = "alternateAddress">
																							<div class="row flex-nowrap" style="margin-top:10px;">							
																								<div class="col-lg-8 col-no-padding">
																									<p class="no-margin"><strong>Alternate</strong></p>
																									<p class="no-margin " *ngIf = "alternateAddress?.attention">{{alternateAddress?.attention}}</p>
																									<p class="no-margin "> {{alternateAddress?.streetAddress}}<span *ngIf = "alternateAddress?.suite">, {{alternateAddress?.suite}}</span></p>							
																									<p class="no-margin "><span *ngIf = "alternateAddress?.city">{{alternateAddress?.city}}, </span>{{alternateAddress?.state}}{{alternateAddress?.province}} {{alternateAddress?.postalCd}}</p>
																									<p class="no-margin "><span *ngIf = "alternateAddress?.countryCd">{{alternateAddress?.countryNm}}</span></p>
																								</div>
																							</div>
																						</div>	

																					</div>
																				</div>
														
																		</div>
																		
																		<div class="row"  style="margin-top:20px;" >
																									<!-- Left side column - address info to validate against -->		
																						<div class="col-lg-4 col-no-padding">				
																							<section >	
																								<header>
																									<div class="row">
																										<div class="col-md-6 col-no-padding" *ngIf="permitSet?.length > 0"><p title="poc" class="h5 fw-semi-bold">Permit Information</p></div>
																									</div>
																								</header>
																								<div >
																									<div *ngFor="let permit of permitSet">						
																										<div class="row flex-nowrap" style="margin-top:10px;">
																											<div class="col-lg-6 col-no-padding">
																												<p class="h6 no-margin fw-normal">{{permit.permitNum | permitNumberPipe}} ; {{permit.permitStatusTypeCd}}</p>
																											</div>
																										</div>
																									</div>
																								</div>
																							</section>
																						</div>
																						
																			<!-- Right side column - address info read from file -->
																			<div class="col-lg-8 col-no-padding" >
																				<!--Loop through number of contacts-->
																				<div class="row">			
																						<div class="col-lg-12 col-no-padding" >				
																							<section >	
																								<header>
																									<div class="row">
																										<div class="col-md-6 col-no-padding" *ngIf="contacts?.length > 0" >
																											<p title="POC" class="h5 fw-semi-bold">
																												Points of Contact
																											</p>
																										</div>
																									</div>
																								</header>
																								<div >
																									<div *ngFor="let contact of contacts; let i = index;">
																										<div *ngIf="(i==0)" class="row flex-nowrap">
																											<div class="col-lg-5 col-no-padding" >							
																												<span class="badge badge-primary">
																													<i class="fa fa-star"></i>
																													Primary Contact
																												</span>
																											</div>
																										</div>						
																										<div class="row flex-nowrap" style="margin-top:10px;">
																											<div class="col-lg-7" >
																												<p class="h6 no-margin fw-normal"><strong>{{contact.firstNm}} {{contact.lastNm}}</strong></p>
																												<p class="no-margin ">{{contact.emailAddress}}</p>
																											</div>
																											<div class="col-lg-5 col-no-padding" >
																												<p class="no-margin">
																													<span *ngIf="contact.phoneNum && contact.phoneNum != ' ' " ><strong>Phone:</strong> {{contact.cntryDialCd}} {{contact.phoneNum | phoneNumberPipe:contact.cntryDialCd}}</span>
																													<span *ngIf="contact.phoneExt && contact.phoneExt != ' ' " style="margin-left:10px;">Ext: {{contact.phoneExt}}</span>
																												</p>
																												<p class="no-margin">
																													<span *ngIf="contact.faxNum && contact.faxNum != ' ' " >Fax: {{contact.cntryFaxDialCd}} {{contact.faxNum | phoneNumberPipe:contact.cntryFaxDialCd}}</span>
																												</p>
																											</div>
																										</div>
																									</div>
																								</div>
																							</section>
																						</div>
																					</div>
																			</div> 
																		</div>
																	</div>
													
												</div>
											</div>
											<!-- Panel BodyEnds -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

    <div aria-live="assertive"> 	
		<div role="alert" *ngIf="showErrorFlag" class="row">
			<div class="col-lg-12 col-xs-12">
				<div class="form-group row">
					<div class="col-md-12 col-xs-12">
						<alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'">
							<div [innerHTML]="alert.msg"></div>
						</alert>
					</div>
				</div>
			</div>
		</div>	
    </div>
</form>

<!--END   Company Information-->