<div class="row">
    <div class="col-lg-12 col-no-padding" >
        <section class="widget h-divider">
            <div class="widget-body clearfix">
                <div class="row flex-nowrap">
                    <div id="cmp-info" class="col-md-10">
                        <h2 id="cmp-name" class="h2 no-margin fw-normal">{{headerdata.companyName}}</h2>
                        <p id="cmp-ein" class="no-margin "><strong>Fiscal Year:</strong><span class="breathe-left fw-normal">{{headerdata.fiscalYear}}</span></p>
                        <p id="cmp-dtcr" class="no-margin "><strong>Tobacco Class:</strong><span class="breathe-left fw-normal">{{headerdata.tobaccoClass}}</span></p>
                    </div>
                    <div class="col-lg-2">
                        <div class="pull-right">
                            <p id="cmp-ein" class="no-margin "><span class="breathe-left fw-normal">{{headerdata.permitType}}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>