// @import "../../../scss/variables";
// @import "../../../../../node_modules/bootstrap/scss/_variables";
// @import "../../../../../node_modules/bootstrap/scss/mixins";
// @import '../../../scss/busy';

/**
Collapsible accordian
***/

.panel-heading .accordion-toggle-main:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}

.panel-heading .accordion-toggle-main.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.compare-panel-delta {
  background-color:lightgrey;
  color: white;
  padding-top:12px;
  padding-bottom: 5px;
}

.compare-panel-delta .accordion-toggle-main:after {
    color:black;         /* adjust as needed */
    padding-right: 10px;    
}

.compare-panel-delta a, .compare-panel-delta a:focus,
.compare-panel-delta a:hover {
    background-color: lightgrey;
    color:black;
}

.compare-panel {
  background-color: lightgrey;
  color: black;
  padding-top:12px;
  padding-bottom: 12px;
  border-bottom: 2px solid gray;
}

.compare-panel .accordion-toggle-main:after {
    color: black;         /* adjust as needed */
    padding-right: 10px;    
}

.compare-panel a, .compare-panel a:focus,
.compare-panel a:hover {
    background-color: #ddd;
    color: black;
}

.black
{
    color:black; 
}

.h-box-divider{
 width:100%;
 border:1px solid black;
}

.deltaarea{
    text-align: center;
    display:inline-block;
    margin-top:auto;
    margin-bottom:auto;
}

.coltitlehelper{
  font-size: 85%;
  font-style: italic;
  text-transform: none;
}

.buckethelper{
  margin-right: 35px;
  font-style: italic;
  text-transform: none;
}

.breathe-left{
  margin-left: 10px;
}

.breathe-right{
	margin-right: 15px;
}

.floatright {
  float: right;
}

.rightalign {
  text-align: right;
}

.text-legend{
  color:#FFFFFF;
  width: 50px;
  text-align: center;
  font-size: 10;
  font-weight: bold;
  padding: 0px 10px;
}

.text-legend-qtr{
  color:#FFFFFF;
  width: 50px;
  text-align: center;
  font-size: 10;
  font-weight: bold;
  padding: 0px 10px;
}

.legend-err{
  background-color:#CC1800;
}

.legend-ns{
  background-color:orange;
}

.legend-com{
  background-color:green;
}

.switch{
  box-sizing: content-box;
  margin-left: -20px;
}

.switch i {
  display: inline-block;
  cursor: pointer;
  margin-left: -20px;
  margin-bottom:-3px;
  padding-right: 20px;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  border-radius: 20px;
  box-shadow: inset 0 0 1px rgba(0,0,0,.5);
}

.switch i:before {
  display: block;
  content: '';
  width: 30px;
  height: 30px;
  padding: 1px;
  border-radius: 20px;
  background: white;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
}
.switch :checked + i {
  padding-right: 0;
  padding-left: 20px;
  background: rgb(100, 189, 99);
}

.h-box-bot-divider{
    border-bottom:1px solid black;
    padding-top:10px;
    padding-bottom:5px;
}

.legendbox {
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin: -10px 0px 10px 0px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.accordion-toggle:focus{outline: none;}

.leftthickborder{
    border-left: 0.5px solid #bbb;
}

.noborder {
      border-bottom:1px solid white;
}

.leftnoborder{
  border-left: 2px solid #bbb
}

tbody.collapse.in {
  display: table-row-group;
}


.nobordermain {
      border-bottom: 5px solid white;
}

.excluded {
  color: #737373;
}

.card-header, .card-body{
  padding: 0px;
}

.fa-circle {
  margin-top: 0px;
}

.panel-collapse.show {
  display: contents !important;
}

.toast-success {
  background-color: #30577e;
}





