@import './importer/at-compareimpdetails.style';
@import "./../../../../../scss/helpers";

.table .btn-thin.btn-header{
    margin-right: 40px;
    position: inherit;
}

tbody.importerSummary {
        .month-cell {
            padding-left: 70px;
        }
        tr>td:not(:first-child) {
            text-align: right;
        }
        tr>td:not(:first-child):not(:nth-child(2)) {
            border-left: 0.5px solid #bbb;
        }
        tr:last-child {
            border-top: 3px solid black;
        }

        tr.shaded {
            background-color: whitesmoke;
        }
    }