<!--Show Breadcrumb-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="javascript:void(1)" (aClick)="toAssessments()" id="lnk-assessments">Assessments</a>
    </li>
    <li class="breadcrumb-item">
        <a href="javascript:void(2)" (aClick)="toAnnualTrueUp()" id="lnk-at">Annual True-Up</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="javascript:void(0)">Compare Details</a>
    </li>
</ol>

<div class="compare-details" [ngBusy]="{busy: busy, message: 'Loading Compare Page For Non-Cigar...', backdrop: true,wrapperClass: 'ng-busy-default-centered',minDuration: 2000}">

    <!-- Show Company Compare Details Title Block -->
    <div at-comparedetailsheader [headerInfo]="headerdata"></div>
    <!-- Show Company Information Block -->
    <div [hidden]=!isCompanyDisplay at-company-panel [headerInfo]="headerdata"></div>

    <!-- Show Previous Trueup Information Block -->
    <div >
        <app-at-compare-prev-trueup-info-tufa-ag-grid style="width: 100%" [headerInfo]="headerdata"></app-at-compare-prev-trueup-info-tufa-ag-grid>
    </div>
    <!-- Show Reallocate Pop Up -->
    <div reallocate-entry (onReallocated)="refreshIngestedDetails($event)" [selectedDt]="selectedDt" [entrydata]="lineiteminfo" [mixedActionQuarters]="mixedActionQuarters"></div>

    <!-- Show Export Details Button For Importer -->
    <div class="row" style="padding-bottom: 20px;">
        <div class="col-lg-2 col-xs-12 btn-toolbar" *ngIf="permitType === 'Importer'">
            <button [ngBusy]="{busy: downloadBusy, message: 'Exporting CBP Details...', backdrop: false}" (click)="CBPExportDetail()"
                type="button" id="btn-exp-det" class="btn btn-primary pull-left">Audit Export</button>
        </div>
        <div class="col-lg-10 col-xs-12 btn-toolbar my-auto">
            <span style="padding-right: 20px;"><b>Select Tobacco Class to View for this Company:</b></span> 
            <app-tobacco-button-bar *ngIf="ingestionWorkflowSvc.getContextInfo()[0].context == 'detailOnly'" [headerData]="headerdata"></app-tobacco-button-bar>
        </div>
    </div>
    <span *ngIf="ingestionWorkflowSvc.getContextInfo()[0].context == 'detailOnly' && permitType === 'Importer'">
        <!-- <span *ngIf="shareData.ingestionContextModel?.context == 'summdetail' && permitType === 'Importer'"> -->
                
        <div [ngBusy]="{busy: dateSwitchBusy, message: 'Please wait..Switching Dates', backdrop: true,wrapperClass: 'ng-busy-default-centered',minDuration: 300}" id="date-type-selection">
            <div class="row">Please select the date from the two options below. The selected date will be used in the Details Table
            </div>
            <div class="section-title">
               
                    <a [ngBusy]="exportBusy" class="fw-semi-bold pull-right" href="javascript:void(0)" (aClick)="exportRawdata()">Download Missing Entry Lines</a>
                  </div>
            <div class="row">
                <div class="abc-radio">
                    <input id="rd-summdet" value="entrySummDt" [(ngModel)]="selectedDt" (ngModelChange)="trackChanges($event)" title="EntrySummaryDate"
                        name="optradio" type="radio" [disabled]="hasAssociationStatus()">
                    <label for="rd-summdet">
                        Entry Summary Date
                    </label>
                </div>
                <div class="abc-radio">
                    <input id="rd-detail" value="entryDt" [(ngModel)]="selectedDt" (ngModelChange)="trackChanges($event)" title="EntryDate" name="optradio"
                        type="radio" [disabled]="hasAssociationStatus()">
                    <label for="rd-detail">
                        Entry Date
                    </label>
                </div>
            </div>
            <!-- <a [ngBusy]="exportBusy" class="fw-semi-bold pull-right" href="javascript:void(0)" (aClick)="exportRawdata()">Download Missing Entry Lines</a> -->
        </div>
        
        <span #comapreDetials>
            <details-quarter-panel [context]="ingestionWorkflowSvc.getContextInfo()[0].context" [selectedDt]="selectedDt" [quarter]="1"
                [headerData]="headerdata" [acceptanceFlag]="fda3852map[1]" [oneSidedAcceptanceFlag]="oneSidedFlagMap[1]"></details-quarter-panel>
            <details-quarter-panel [context]="ingestionWorkflowSvc.getContextInfo()[0].context" [selectedDt]="selectedDt" [quarter]="2"
                [headerData]="headerdata" [acceptanceFlag]="fda3852map[2]" [oneSidedAcceptanceFlag]="oneSidedFlagMap[2]"></details-quarter-panel>
            <details-quarter-panel [context]="ingestionWorkflowSvc.getContextInfo()[0].context" [selectedDt]="selectedDt" [quarter]="3"
                [headerData]="headerdata" [acceptanceFlag]="fda3852map[3]" [oneSidedAcceptanceFlag]="oneSidedFlagMap[3]"></details-quarter-panel>
            <details-quarter-panel [context]="ingestionWorkflowSvc.getContextInfo()[0].context" [selectedDt]="selectedDt" [quarter]="4"
                [headerData]="headerdata" [acceptanceFlag]="fda3852map[4]" [oneSidedAcceptanceFlag]="oneSidedFlagMap[4]"></details-quarter-panel>
        </span>
        <div cmpdetail-comments-grid [quarter]="0" [context]="'cbpdetail'" [headerdata]="shareData" [ingestionContext]="ingestionWorkflowSvc.getContextInfo()[0].context"></div>
    </span>
    <span *ngIf="ingestionWorkflowSvc.getContextInfo()[0].context == 'detailOnly' && permitType === 'Manufacturer'">
        <app-at-compare-manu-details-quarter-panel [quarter]="1" [headerData]="headerdata" [acceptanceFlag]="fda3852map[1]" [oneSidedAcceptanceFlag]="oneSidedFlagMap[1]"></app-at-compare-manu-details-quarter-panel>
        <app-at-compare-manu-details-quarter-panel [quarter]="2" [headerData]="headerdata" [acceptanceFlag]="fda3852map[2]" [oneSidedAcceptanceFlag]="oneSidedFlagMap[2]"></app-at-compare-manu-details-quarter-panel>
        <app-at-compare-manu-details-quarter-panel [quarter]="3" [headerData]="headerdata" [acceptanceFlag]="fda3852map[3]" [oneSidedAcceptanceFlag]="oneSidedFlagMap[3]"></app-at-compare-manu-details-quarter-panel>
        <app-at-compare-manu-details-quarter-panel [quarter]="4" [headerData]="headerdata" [acceptanceFlag]="fda3852map[4]" [oneSidedAcceptanceFlag]="oneSidedFlagMap[4]"></app-at-compare-manu-details-quarter-panel>
        <div cmpdetail-comments-grid [quarter]="0" [context]="'ttbdetail'" [headerdata]="shareData" [ingestionContext]="ingestionWorkflowSvc.getContextInfo()[0].context"></div>
    </span>
    <!--Show Quarter Tabs-->
    <div class="row" *ngIf="ingestionWorkflowSvc.getContextInfo()[0].context == 'summdetail'">
        <div class="col-lg-12 no-padding">
            <!--<section class="widget" widget>
      <div class="widget-body">-->
            <!--<div class="row">
          <div class="col-lg-12 col-xs-12">-->
            <div [ngBusy]="{busy: busy, message: 'Loading...', backdrop: true}" data-height="250" class="form-wizard form-wizard-white">
                <tabset type="pills" [justified]="true" #quarterTabs>
                    <tab (select)="shareData.quarter = 1;" [active]="isActiveQtr(1)">
                        <ng-template tabHeading>
                            <i *ngIf="isDeltaAccepted(1)" class="fa fa-check-circle">
                            </i>
                            <i *ngIf="isDeltaAmended(1)" class="fa fa-wrench">
                            </i>
                            <i *ngIf="isInProgress(1)" class="fa fa-repeat">
                            </i>
                            <b> Quarter 1 </b>
                            <br>
                            <span id="delta1"></span>
                        </ng-template>
                        <div class="bg-gray-lighter" [class.active]="isActiveQtr(1)" id="tab1">
                            <div *ngIf="permitType == 'Manufacturer'" [quarter]="1" [fda3852map]="fda3852map" (toggleTab)="toggleTab($event)" at-comparemandetails></div>
                            <div *ngIf="permitType == 'Importer'" [quarter]="1" [fda3852map]="fda3852map" [ingestRefresh]="refreshIngest" (manageEntry)="manageEntryLine($event, 1)"
                                (toggleTab)="toggleTab($event)" at-compareimpdetails></div>
                        </div>
                    </tab>
                    <tab (select)="shareData.quarter = 2;" [active]="isActiveQtr(2)">
                        <ng-template tabHeading>
                            <i *ngIf="isDeltaAccepted(2)" class="fa fa-check-circle">
                            </i>
                            <i *ngIf="isDeltaAmended(2)" class="fa fa-wrench">
                            </i>
                            <i *ngIf="isInProgress(2)" class="fa fa-repeat">
                            </i>
                            <b> Quarter 2 </b>
                            <br>
                            <span id="delta2"></span>
                        </ng-template>
                        <div class="bg-gray-lighter" [class.active]="isActiveQtr(2)" id="tab2">
                            <div *ngIf="permitType == 'Manufacturer'" [quarter]="2" [fda3852map]="fda3852map" (toggleTab)="toggleTab($event)" at-comparemandetails></div>
                            <div *ngIf="permitType == 'Importer'" [quarter]="2" [fda3852map]="fda3852map" [ingestRefresh]="refreshIngest" (manageEntry)="manageEntryLine($event, 2)"
                                (toggleTab)="toggleTab($event)" at-compareimpdetails></div>
                        </div>
                    </tab>
                    <tab (select)="shareData.quarter = 3;" [active]="isActiveQtr(3)">
                        <ng-template tabHeading>
                            <i *ngIf="isDeltaAccepted(3)" class="fa fa-check-circle">
                            </i>
                            <i *ngIf="isDeltaAmended(3)" class="fa fa-wrench">
                            </i>
                            <i *ngIf="isInProgress(3)" class="fa fa-repeat">
                            </i>
                            <b> Quarter 3</b>
                            <br>
                            <span id="delta3"></span>
                        </ng-template>
                        <div class="bg-gray-lighter" [class.active]="isActiveQtr(3)" id="tab3">
                            <div *ngIf="permitType == 'Manufacturer'" [quarter]="3" [fda3852map]="fda3852map" (toggleTab)="toggleTab($event)" at-comparemandetails></div>
                            <div *ngIf="permitType == 'Importer'" [quarter]="3" [fda3852map]="fda3852map" [ingestRefresh]="refreshIngest" (manageEntry)="manageEntryLine($event, 3)"
                                (toggleTab)="toggleTab($event)" at-compareimpdetails></div>
                        </div>
                    </tab>
                    <tab (select)="shareData.quarter = 4;" [active]="isActiveQtr(4)">
                        <ng-template tabHeading>
                            <i *ngIf="isDeltaAccepted(4)" class="fa fa-check-circle">
                            </i>
                            <i *ngIf="isDeltaAmended(4)" class="fa fa-wrench">
                            </i>
                            <i *ngIf="isInProgress(4)" class="fa fa-repeat">
                            </i>
                            <b> Quarter 4 </b>
                            <br>
                            <span id="delta4"></span>
                        </ng-template>
                        <div class="bg-gray-lighter" [class.active]="isActiveQtr(4)" id="tab4">
                            <div *ngIf="permitType == 'Manufacturer'" [quarter]="4" [fda3852map]="fda3852map" (toggleTab)="toggleTab($event)" at-comparemandetails></div>
                            <div *ngIf="permitType == 'Importer'" [quarter]="4" [fda3852map]="fda3852map" [ingestRefresh]="refreshIngest" (manageEntry)="manageEntryLine($event, 4)"
                                (toggleTab)="toggleTab($event)" at-compareimpdetails></div>
                        </div>
                    </tab>
                </tabset>
                <!-- <ul class="mb-sm nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="isActiveQtr(1)" (aClick)="shareData.quarter = 1;" id="tab-rpt" href="#tab1" data-toggle="tab"
                            focusOn="#tab1">
                            <i *ngIf="isDeltaAccepted(1)" class="fa fa-check-circle">
                            </i>
                            <i *ngIf="isDeltaAmended(1)" class="fa fa-wrench">
                            </i>
                            <i *ngIf="isInProgress(1)" class="fa fa-repeat">
                            </i>
                            <b> Quarter 1 </b>
                            <br>
                            <span id="delta1"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="isActiveQtr(2)" (aClick)="shareData.quarter = 2;" id="tab-com" href="#tab2" data-toggle="tab"
                            focusOn="#tab2">
                            <i *ngIf="isDeltaAccepted(2)" class="fa fa-check-circle">
                            </i>
                            <i *ngIf="isDeltaAmended(2)" class="fa fa-wrench">
                            </i>
                            <i *ngIf="isInProgress(2)" class="fa fa-repeat">
                            </i>
                            <b> Quarter 2 </b>
                            <br>
                            <span id="delta2"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="isActiveQtr(3)" (aClick)="shareData.quarter = 3;" id="tab-rec" href="#tab3" data-toggle="tab"
                            focusOn="#tab3">

                            <i *ngIf="isDeltaAccepted(3)" class="fa fa-check-circle">
                            </i>
                            <i *ngIf="isDeltaAmended(3)" class="fa fa-wrench">
                            </i>
                            <i *ngIf="isInProgress(3)" class="fa fa-repeat">
                            </i>
                            <b>Quarter 3</b>
                            <br>
                            <span id="delta3"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="isActiveQtr(4)" (aClick)="shareData.quarter = 4;" id="tab-sub" href="#tab4" data-toggle="tab"
                            focusOn="#tab4">
                            <i *ngIf="isDeltaAccepted(4)" class="fa fa-check-circle">
                            </i>
                            <i *ngIf="isDeltaAmended(4)" class="fa fa-wrench">
                            </i>
                            <i *ngIf="isInProgress(4)" class="fa fa-repeat">
                            </i>
                            <b> Quarter 4 </b>
                            <br>
                            <span id="delta4"></span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content" style="margin: 0px -25px;">
                    <div class="tab-pane bg-gray-lighter" [class.active]="isActiveQtr(1)" id="tab1">
                        <div *ngIf="permitType == 'Manufacturer'" [quarter]="1" [fda3852map]="fda3852map" (toggleTab)="toggleTab($event)" at-comparemandetails></div>
                        <div *ngIf="permitType == 'Importer'" [quarter]="1" [fda3852map]="fda3852map" [ingestRefresh]="refreshIngest" (manageEntry)="manageEntryLine($event, 1)"
                            (toggleTab)="toggleTab($event)" at-compareimpdetails></div>
                    </div>
                    <div class="tab-pane  bg-gray-lighter" [class.active]="isActiveQtr(2)" id="tab2">
                        <div *ngIf="permitType == 'Manufacturer'" [quarter]="2" [fda3852map]="fda3852map" (toggleTab)="toggleTab($event)" at-comparemandetails></div>
                        <div *ngIf="permitType == 'Importer'" [quarter]="2" [fda3852map]="fda3852map" [ingestRefresh]="refreshIngest" (manageEntry)="manageEntryLine($event, 2)"
                            (toggleTab)="toggleTab($event)" at-compareimpdetails></div>
                    </div>
                    <div class="tab-pane  bg-gray-lighter" [class.active]="isActiveQtr(3)" id="tab3">
                        <div *ngIf="permitType == 'Manufacturer'" [quarter]="3" [fda3852map]="fda3852map" (toggleTab)="toggleTab($event)" at-comparemandetails></div>
                        <div *ngIf="permitType == 'Importer'" [quarter]="3" [fda3852map]="fda3852map" [ingestRefresh]="refreshIngest" (manageEntry)="manageEntryLine($event, 3)"
                            (toggleTab)="toggleTab($event)" at-compareimpdetails></div>
                    </div>
                    <div class="tab-pane  bg-gray-lighter" [class.active]="isActiveQtr(4)" id="tab4">
                        <div *ngIf="permitType == 'Manufacturer'" [quarter]="4" [fda3852map]="fda3852map" (toggleTab)="toggleTab($event)" at-comparemandetails></div>
                        <div *ngIf="permitType == 'Importer'" [quarter]="4" [fda3852map]="fda3852map" [ingestRefresh]="refreshIngest" (manageEntry)="manageEntryLine($event, 4)"
                            (toggleTab)="toggleTab($event)" at-compareimpdetails></div>
                    </div>
                </div> -->
            </div>
            <!--</div>
        </div>-->

        </div>
    </div>
    <!--End of Show Quarter Tabs-->


</div>