/**
Collapsible accordian
***/

.panel-heading .accordion-toggle-main:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle-main.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.h-box-divider{
 width:100%;
 border:1px solid black;
}

.h-box-bot-divider{
    border-bottom:1px solid black;
    padding-top:10px;
    padding-bottom:5px;
}

