<ng-container *ngIf="shareData?.permitType == 'Importer'">
	<div class="row" style="margin-top:20px;">
		<div class="col-lg-12">
			<section class="widget h-divider">
				<span class="h4 no-margin fw-semi-bold">Ingested Tax Summary</span>
				<div class="widget-body clearfix">

					<!--- Collapsible Panel -->
					<div class="panel-group" id="accordionIngestedSummary">
						<div class="panel panel-default">
							<div class="h6 panel-heading compare-panel-delta" style="margin-top:10px;height: 50px;">
								<span class="h6">
									<a class="accordion-toggle-main h4 no-margin fw-semi-bold" style="margin-left:10px;" data-toggle="collapse" aria-expanded="false"
									 href="#collapseIngestedSummary-{{quarter}}">
										DELTA
									</a>
									<a id="anchortagingestedsummarydelta-{{quarter}}" class="pull-right h4 no-margin fw-semi-bold" style="margin-right:15px;"
									 data-toggle="collapse" aria-expanded="false" href="#collapseIngestedSummary-{{quarter}}">
										{{importerData?.summaryTotal?.summaryAndDetailDiff | na |tufacurrency| minustoparens}}
									</a>
								</span>
							</div>
							<div id="collapseIngestedSummary-{{quarter}}" class="panel-collapse collapse in show">
								<div class="panel-body">
									<div class="row">
										<table id="ingestedSummarytable" class="table" style="width:100%;margin-top:-7px;border:1px solid #ddd" [mfData]="importerData?.summaryMonths"
										 [mfIsServerPagination]="false" #mfi="mfDataTable">
											<colgroup>
												<col style="width:20%">
												<col style="width:20%">
												<col style="width:20%">
												<col style="width:20%">
												<col style="width:20%">
											</colgroup>
											<thead>
												<tr>
													<th colspan="2" scope="col" class="rightalign">
														<div class="h5 fw-semi-bold">
															<button title="Download Summary Tax Data" class="btn btn-primary btn-thin btn-header" (click)="exportSummaryData('summary')">
																<i class="fa fa-arrow-circle-o-down"></i> Export
															</button>
															Summary Tax
														</div>
														<div class="coltitlehelper fw-normal">Tax Data from Summay File</div>
													</th>
													<th scope="col" class="rightalign leftthickborder">
														<div class="h5 fw-semi-bold">
															<button title="Download Detail Tax Data" class="btn btn-primary btn-thin btn-header" (click)="exportSummaryData('details')">
																<i class="fa fa-arrow-circle-o-down"></i> Export
															</button>
															Detail Tax
														</div>
														<div class="coltitlehelper fw-normal">Tax Data from Detail File</div>
													</th>
													<th scope="col" class="rightalign leftthickborder">
														<div class="h5 fw-semi-bold">Difference</div>
														<div class="coltitlehelper fw-normal">Summary Tax minus Details</div>
													</th>
												</tr>
											</thead>
											<tbody class="importerSummary">
												<tr>
													<td>Tobacco Class</td>
													<td></td>
													<td>{{importerData?.tobaccoClass}}</td>
													<td>{{importerData?.tobaccoClass}}</td>
												</tr>
												<ng-container *ngIf="importerData?.tobaccoClass == 'Cigars'">
													<ng-container *ngFor="let qtr of [1,2,3,4]; index as i; odd as isOdd">
														<tr *ngFor="let cds of mfi.data | slice:(i*3):((i+1)*3)" [class.shaded]="isOdd">
															<td class="month-cell">{{cds.month | titlecase}}</td>
															<td>{{cds.summaryValue | na | tufacurrency | minustoparens}}</td>
															<td>{{cds.detailValue | na | tufacurrency | minustoparens}}</td>
															<td>{{cds.summaryAndDetailDiff | na | tufacurrency | minustoparens}}</td>
														</tr>
														<tr class="fw-semi-bold" [class.shaded]="isOdd">
															<td>Quarter {{qtr}}</td>
															<td>{{importerData?.summaryQuarterTotals[i]?.summaryValue| na | tufacurrency | minustoparens}}</td>
															<td>{{importerData?.summaryQuarterTotals[i]?.detailValue| na | tufacurrency | minustoparens}}</td>
															<td>{{importerData?.summaryQuarterTotals[i]?.summaryAndDetailDiff| na | tufacurrency | minustoparens}}</td>
														</tr>
													</ng-container>
												</ng-container>
												<ng-container *ngIf="importerData?.tobaccoClass != 'Cigars'">
													<tr *ngFor="let cds of mfi.data; index as i;">
														<td class="month-cell">{{cds.month | titlecase}}</td>
														<td>{{cds.summaryValue | na | tufacurrency | minustoparens}}</td>
														<td>{{cds.detailValue | na | tufacurrency | minustoparens}}</td>
														<td>{{cds.summaryAndDetailDiff | na | tufacurrency | minustoparens}}</td>
													</tr>
												</ng-container>
												<tr class="fw-bold">
													<td>{{importerData?.tobaccoClass != 'Cigars' ? 'Quarter ' + shareData.quarter + ' Total' : 'Total'}}</td>
													<td>{{importerData?.summaryTotal?.summaryValue | na | tufacurrency | minustoparens}}</td>
													<td>{{importerData?.summaryTotal?.detailValue | na | tufacurrency | minustoparens}}</td>
													<td>{{importerData?.summaryTotal?.summaryAndDetailDiff | na | tufacurrency | minustoparens}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</section>
		</div>
	</div>
	<div class="row" style="margin-top:20px;">
		<div class="col-lg-12">
			<section class="widget h-divider">
				<span class="h4 no-margin fw-semi-bold">Summary</span>
				<div class="widget-body clearfix">

					<!--- Collapsible Panel -->
					<div class="panel-group" id="accordionSummary">
						<div class="panel panel-default">
							<div class="h6 panel-heading compare-panel-delta" style="margin-top:10px;height: 50px;">
								<span class="h6">
									<a class="accordion-toggle-main h4 no-margin fw-semi-bold" style="margin-left:10px;" data-toggle="collapse" aria-expanded="false"
									 href="#collapseSummary-{{quarter}}">
										DELTA
									</a>
									<a id="anchortagsummarydelta-{{quarter}}" class="pull-right h4 no-margin fw-semi-bold" style="margin-right:15px;" data-toggle="collapse"
									 aria-expanded="false" href="#collapseSummary-{{quarter}}">
										{{importerData?.summaryTotal?.tufaAndSummaryDiff | na |tufacurrency | minustoparens}}
									</a>
								</span>
							</div>
							<div id="collapseSummary-{{quarter}}" class="panel-collapse collapse in show">
								<div class="panel-body">
									<div class="row">
										<table id="summarytable" class="table" style="width:100%;margin-top:-7px;border:1px solid #ddd" [mfData]="importerData?.summaryMonths"
										 [mfIsServerPagination]="false" #mf="mfDataTable">
											<colgroup>
												<col style="width:20%">
												<col style="width:20%">
												<col style="width:20%">
												<col style="width:20%">
												<col style="width:20%">
											</colgroup>
											<thead>
												<tr>
													<th colspan="2" scope="col" class="rightalign">
														<div class="h5 fw-semi-bold">FDA 3852</div>
														<div class="coltitlehelper fw-normal">Total Excise Tax from FDA 3852</div>
													</th>
													<th scope="col" class="rightalign leftthickborder">
														<div class="h5 fw-semi-bold">Summary Tax</div>
														<div class="coltitlehelper fw-normal">Total Excise Tax from Summary</div>
													</th>
													<th scope="col" class="rightalign leftthickborder">
														<div class="h5 fw-semi-bold">Difference</div>
														<div class="coltitlehelper fw-normal">FDA 3852 minus Summary</div>
													</th>
												</tr>
											</thead>
											<tbody class="importerSummary">
												<tr>
													<td>Tobacco Class</td>
													<td>{{importerData?.tobaccoClass}}</td>
													<td>{{importerData?.tobaccoClass}}</td>
													<td>{{importerData?.tobaccoClass}}</td>
												</tr>
												<ng-container *ngIf="importerData?.tobaccoClass == 'Cigars'">
													<ng-container *ngFor="let qtr of [1,2,3,4]; index as i; odd as isOdd">
														<tr *ngFor="let cds of mfi.data | slice:(i*3):((i+1)*3)" [class.shaded]="isOdd">
															<td class="month-cell">{{cds.month | titlecase}}</td>
															<td>{{cds.tufaValue | na | tufacurrency | minustoparens}}</td>
															<td>{{cds.summaryValue | na | tufacurrency | minustoparens}}</td>
															<td>{{cds.tufaAndSummaryDiff | na | tufacurrency | minustoparens}}</td>
														</tr>
														<tr class="fw-semi-bold" [class.shaded]="isOdd">
															<td>Quarter {{qtr}}</td>
															<td>{{importerData?.summaryQuarterTotals[i]?.tufaValue| na | tufacurrency | minustoparens}}</td>
															<td>{{importerData?.summaryQuarterTotals[i]?.summaryValue| na | tufacurrency | minustoparens}}</td>
															<td>{{importerData?.summaryQuarterTotals[i]?.tufaAndSummaryDiff| na | tufacurrency | minustoparens}}</td>
														</tr>
													</ng-container>
												</ng-container>
												<ng-container *ngIf="importerData?.tobaccoClass != 'Cigars'">
													<tr *ngFor="let cds of mf.data;">
														<td class="month-cell">{{cds.month | titlecase}}</td>
														<td>{{cds.tufaValue | na | tufacurrency | minustoparens}}</td>
														<td>{{cds.summaryValue | na | tufacurrency | minustoparens}}</td>
														<td>{{cds.tufaAndSummaryDiff | na | tufacurrency | minustoparens}}</td>
													</tr>
												</ng-container>
												<tr class="fw-bold">
													<td>{{importerData?.tobaccoClass != 'Cigars' ? 'Quarter ' + shareData.quarter + ' Total' : 'Total'}}</td>
													<td>{{importerData?.summaryTotal?.tufaValue | na | tufacurrency | minustoparens}}</td>
													<td>{{importerData?.summaryTotal?.summaryValue | na | tufacurrency | minustoparens}}</td>
													<td>{{importerData?.summaryTotal?.tufaAndSummaryDiff | na | tufacurrency | minustoparens}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</section>
		</div>
	</div>
</ng-container>
<div class="row" style="margin-top:20px;" *ngIf="shareData?.permitType != 'Importer'">
	<br>
</div>