<div class="modal fade" id="reallocate-entry" tabindex="-1" role="dialog" aria-labelledby="reallocate-entry" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="position: relative;">
            <span [ngBusy]="{busy: busy, message: 'Saving...', backdrop: true}"></span>
            <!--Modal Header-->
            <div class="modal-header">
                <h3 class="h4 modal-title text-xs-center fw-bold mt" id="manageCBP-entry-line">Manage CBP Entry Line</h3>
            </div>
            <!--Modal Body-->
            <div class="modal-body">
                <form id="reallocateentryform" #reallocateentryline="ngForm" role="form" class="form-horizontal ml20" data-parsley-priority-enabled="false"
                    novalidate="novalidate" data-parsley-validate data-parsley-focus="first">
                    <!--Entry Line Item -->
                    <div class="form-group row">
                        <div class="col-lg-12 col-xs-12" style="max-height: 200px; overflow: auto;">
                            <table style="width: 100%">
                                <colgroup *ngIf="showEntryDate; else entryDateColumnWidth">
                                    <col style="width:20%">
                                    <col style="width:20%">
                                    <col style="width:20%">
                                    <col style="width:20%">
                                    <col style="width:20%">
                                </colgroup>
                                <ng-template #entryDateColumnWidth>
                                    <colgroup>
                                        <col style="width:35%">
                                        <col style="width:25%">
                                        <col style="width:25%">
                                        <col style="width:15%">
                                    </colgroup>
                                </ng-template>
                                <thead>
                                    <tr>
                                        <th scope="col">ENTRY SUM DATE</th>
                                        <th *ngIf="showEntryDate" scope="col">ENTRY DATE</th>
                                        <th scope="col">EXCISE TAX</th>
                                        <th scope="col">ENTRY #</th>
                                        <th scope="col">LINE #</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let entry of entryLines">
                                        <td>{{entry?.date | datePipe}}</td>
                                        <td *ngIf="showEntryDate">{{entry?.entryDate | datePipe}}</td>
                                        <td>{{entry?.tax | currency:'USD':'symbol':'1.2-2'}}</td>
                                        <td>{{entry?.entryNum}}</td>
                                        <td>{{entry?.lineNum}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--Fiscal Year and Month/Quarter-->
                    <div class=" form-group row">
                        <div class="col-md-4">
                            <div>
                                <label for="fiscalyear">Fiscal Year</label>
                                <div>
                                    <input aria-label="FiscalYear" class="form-control" id="fiscalyear" name="fiscalyear" placeholder="" title="" type="text"
                                        [(ngModel)]="assignedYear" [ngModelOptions]="{standalone: true}" required="required"
                                        data-parsley-required-message="Error: Fiscal Year is required" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <label for="monthandquarter">Month / Quarter</label>
                                <div>
                                    <select id="monthandquarter" style="height:35px;" [(ngModel)]="assignedMonth" [ngModelOptions]="{standalone: true}" required
                                        data-parsley-required-message="Error: Month / Quarter is required" [disabled]="(entryLine !== 'IncludeEntryLine')">
                                        <option [selected]="month === assignedMonth" *ngFor="let month of months" [value]="month.value" [disabled]="month.disable">{{month.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Include/Exclude Entry Line in Market Share-->
                    <div class="form-group row">
                        <fieldset>
                            <legend>Include/Exclude Options</legend>
                            <div class="col-md-12">
                                <div>
                                    <input aria-label="includeEntryLine" id="includeEntryLine" name="cbp-radio" type="radio" [(ngModel)]="entryLine" value="IncludeEntryLine"
                                        style="margin-bottom: 10px;">
                                    <label for="includeEntryLine" style="padding-left: 10px;">
                                        <strong>Include</strong> Entry Line in Market Share</label>
                                </div>
                                <div>
                                    <input aria-label="excludeEntryLine" id="excludeEntryLine" name="cbp-radio" type="radio" [(ngModel)]="entryLine" value="ExcludeEntryLine">
                                    <label for="excludeEntryLine" style="padding-left: 10px;">
                                        <strong>Exclude</strong> Entry Line from Market Share</label>
                                    <span class="help-block" style="margin-left:15px; margin-top: 6px;">Excluded lines will not be included in Annual Market Share calculations</span>
                                </div>
                            </div><br>
                            <legend>Missing Entry Line Options</legend>
                            <div class="col-md-12">
                                <div>
                                    <input aria-label="missingEntryLine" id="missingEntryLine" name="cbp-radio" type="radio" [(ngModel)]="entryLine" value="MissingEntryLine"
                                        style="margin-bottom: 10px;">
                                    <label for="missingEntryLine" style="padding-left: 10px;">
                                        Mark Entry Line(s) as <strong>Missing</strong></label>
                                </div>
                                <div>
                                    <input aria-label="resetEntryLine" id="resetEntryLine" name="cbp-radio" type="radio" [(ngModel)]="entryLine" value="ResetEntryLine">
                                    <label for="resetEntryLine" style="padding-left: 10px;">
                                        <strong>Reset</strong> Missing Entry Lines</label>
                                    
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </form>
            </div>
            <!--Modal Footer-->
            <div class="modal-footer">
                <button type="button" id="btn-save" class="btn btn-primary" (click)="saveEntryLineChanges()">Save</button>
                <button type="button" class="btn btn-secondary" (click)="reset(false)">Cancel</button>
            </div>
        </div>
    </div>
</div>