@import './at-compare-cigardetails.style';

#date-type-selection {
    // margin-top: 20px;
    margin-bottom: 20px;
}

.ng-busy-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    background: #fff;
    opacity: .7;
  }

  .toast-success {
    background-color: #30577e;
  }