<form class="form-horizontal" role="form">
    <div class="row">
        <div class="col-lg-12">
            <section class="widget h-thin-divider">
                <div class="widget-body clearfix breathe">
                    <div class="row flex-nowrap">
                        <div class="col-lg-12">
                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <ul style="margin-left:15px;" class="list-unstyled">
                                        <li><strong>{{permitInc.permitNum | permitNumberPipe}}</strong></li>
                                        <li><a (aClick)="toCompany(permitInc.ein)" href="javascript:void(1)">{{permitInc.companyNm}}</a>
                                        <span style="margin-left:15px;" class="label label-info">COMPANY IN TUFA</span>
                                        </li>                                        
                                        <li>{{permitInc.ein | einPipe}}</li>
                                        <li>{{permitInc.tobaccoClasses}}</li>
                                        <li>{{permitInc.totalTaxes|currency:'USD':'symbol':'1.2-2' | minustoparens}}</li>
                                        <li><a href="#" id="anchor-create-permit" title="Create Permit" 
                                        data-toggle="modal" data-target="#create-permit" focusOn="#create-permit"
                                        data-backdrop="static" data-keyboard="false" (aClick)="setSelectedPermit(permitInc)">Create Permit</a></li>
                                    </ul> 
                                </div>
                            </div>
                        </div>
                    </div>                 
                </div>
            </section>
        </div>
    </div>
</form>