<div class="modal fade" id="create-permit" tabindex="-1" role="dialog" aria-label="create-permit-title" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div title="title" class="h4 modal-title text-xs-center fw-bold mt" >Create Permit</div>
			</div>
			<!--Modal Body-->
			<div class="modal-body">
				<div *ngIf="permit">
					<ul style="margin-left:15px;" class="list-unstyled">
						<li><strong>{{permit?.permitNum | permitNumberPipe}}</strong></li>
						<li>{{permit?.companyNm}}</li>                                        
						<li>{{permit?.ein | einPipe}}</li>
						<li>Manufacturer</li>
						<li>Permit Status: Active</li>
						<li>Active Date: {{permit?.tpbdDt | datePipe}}</li>
					</ul>
				</div>	
			</div>
			<!--Modal Footer-->
			<div class="modal-footer" [ngBusy]="{busy: busy, message: 'Creating...', backdrop: false}">
				<button type="button" id="btn-del-doc" class="btn btn-primary" [disabled]="vanishFlag" (click)="createPermit(permit)">Create</button>
				<button type="button" class="btn btn-secondary" (click)="reset()" title="Cancel">Cancel</button>
				<div *ngIf="vanishFlag" class="font-italic" [ngClass]="(vanishText.length<30)?'text-success':'text-danger'">{{vanishText}}</div>
			</div>
		</div>
	</div>
</div>
