<div class="container">
  <main id="content" class="widget-login-container" role="main">
    <div class="row">
      <div class="col-xl-4 col-md-6 offset-xl-4 offset-md-3">
        <h1 class="widget-login-logo animated fadeInUp">
          <i class="fa fa-circle text-gray"></i>
          TUFA
          <i class="fa fa-circle text-warning"></i>
        </h1>
        <section class="widget widget-login animated fadeInUp">
          <header>
            <label title="login title" class="h4 no-margin fw-bold">Please wait while you are signed in ... </label>
          </header>
          <div class="widget-body">
            <form class="login-form mt-lg">
            <div *ngIf="showErrorFlag" class="row">
                  <div class="form-group row">
                    <div class="offset-xs-1">                    
                      <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'">
                          <div [innerHTML]="alert.msg"></div>
                      </alert>
                    </div>
                  </div>
              </div>              
            </form>
          </div>
        </section>
      </div>
    </div>
  </main>
  <footer class="page-footer">
    <div><span>{{currentYear}} &copy; U.S.A. Food and Drug Administration - TUFA.</span></div>
    <div><span>Build: 5.0.0-r1194 Published: 10-16-2018 - 12:30 AM EST</span></div>
    <div><span>Database: FDA/TUFADEV Schema: CTP_TUFA_MVP11</span></div> 
  </footer>
  <div splash-dialog role="dialog" (callBack)="accessFDA()" (hideModal)= "logout()" [msg]="'You are entering secured FDA site '+ ' your actions will be tracked . Do you confirm'+'?'" [title]="'Secure Website Access'" ></div>
</div>
