<div class="modal fade" id="splash-dialog">
	<div class="modal-dialog" role="confirm-popup">
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title text-lg-center fw-bold mt" style="margin-bottom:-10px;">
					<img class="sidebar-logocollapse" alt="TUFA Logo" src="assets/img/TUFA_Logo_5_Blue_2.png">		
				</div>						
			</div>
			<!--Modal Body-->
			<div class="modal-body">
				<div style="margin-left: 10px; margin-right: 10px; margin-top: 10px;">
					<span><b> This warning banner provides privacy and security
								notices consistent with applicable federal laws,
								directives, and other federal guidance for accessing this
								Government system, which includes (1) this computer
								network, (2) all computers connected to this network,
								and (3) all devices and storage media attached to this
								network or to a computer on this network. </b></span>
				</div>
				<div style="margin-left: 10px; margin-right: 10px; margin-top: 20px; margin-bottom:-10px;">
					<span><b><ul><li style="margin-top: 10px;">This system is provided for Government-authorized use only.</li>
								<li>Unauthorized or improper use of this system is
									prohibited and may result in disciplinary action and/or
									civil and criminal penalties.</li>
								<li style="margin-top: 10px;">Personal use of social media and networking sites on
									this system is limited as to not interfere with official
									work duties and is subject to monitoring.</li>
								<li style="margin-top: 10px;">By using this system, you understand and consent to the
									following:
									<ul>
										<li style="margin-top: 10px;">The Government may monitor, record, and
											audit your system usage, including usage of
											personal devices and email systems for official
											duties or to conduct HHS business. Therefore,
											you have no reasonable expectation of privacy
											regarding any communication or data
											transiting or stored on this system. At any
											time, and for any lawful Government purpose,
											the government may monitor, intercept, and
											search and seize any communication or data
											transiting or stored on this system.</li>
										<li style="margin-top: 10px;">Any communication or data transiting or 
											stored on this system may be disclosed or used
											for any lawful Government purpose</li>
									</ul>
								</li>
							</ul>
					</b></span>
				</div>
			</div>
			<!--Modal Footer-->
			<div class="modal-footer">
				<button type="button" id="btn-del-doc" class="btn btn-primary"
					[attr.title]="title" (click)="delete()">Confirm</button>
				<button type="button" class="btn btn-secondary" (click)="reset()"
					title="Cancel">Cancel</button>
				<p title="Deleting"
					[ngBusy]="{busy: busy, message: 'Deleting...', backdrop: false}"></p>
			</div>
		</div>
	</div>
</div>