<div class="section-title">
  <span class="h4 no-margin fw-semi-bold" style="margin:10px 20px 10px 0px;">Details</span>
  <a [ngBusy]="exportBusy" class="fw-semi-bold pull-right" href="javascript:void(0)" (aClick)="exportRawdata()">Download Raw Data</a>
</div>

<table class="table" style="width:100%; margin-top:10px; border: 1px solid #d49595">
  <colgroup>
    <col style="width:15%">
    <col style="width:20%">
    <col style="width:20%">
  </colgroup>
  <thead style="background-color: #eeeeee;">
    <tr>
      <th colspan="3" style="text-align: center;">
        <span class="h6 fw-semi-bold">LEGEND</span>
      </th>
    </tr>
  </thead>
  <tbody style="border: 1px solid #eeeeee">
    <tr>
      <td style="text-align: center;">
        <div class="h6 fw-semi-bold">
          <span class="text-legend legend-err">E</span> Error Report
        </div>
      </td>
      <td style="text-align: center;">
        <div class="h6 fw-semi-bold">
          <span class="text-legend legend-com">C</span> Completed Report</div>
      </td>
      <td style="text-align: center;">
        <div class="h6 fw-semi-bold">
          <span class="text-legend legend-ns">NS</span> Not Started Report</div>
      </td>
    </tr>
  </tbody>
</table>

<accordion [closeOthers]="false">
  <!--g1q1 Panel-->
  <accordion-group [isOpen]="shareData.expandedSectionsMapManu?.get(quarter)?.get(period.permit)" (isOpenChange)="setPermitExpanded(quarter,period.permit,false,$event)"
    *ngFor="let period of comparedetails.permits; let p  = index" #g1q1 panelClass="customClass" id="accordion">
    <div accordion-heading class="compare-panel">
      <span class="h5 no-margin fw-semi-bold breathe-left black">{{period.permit | permitNumberPipe}}</span>
      <i class="h5 pull-right float-xs-right fa black bold" style="margin-right: 10px; " [ngClass]="{'fa-chevron-down': g1q1?.isOpen, 'fa-chevron-right': !g1q1?.isOpen}"></i>
      <span *ngIf="!isDualTobaccoClass(headerData.tobaccoClass) && (period.periodTotal !='NA' || period.ingestedTax !='NA')" class="h5 pull-right float-xs-right no-margin fw-semi-bold black">
        {{(period.periodTotal=='NA'? 0: period.periodTotal) - (period.ingestedTax =='NA'? 0: period.ingestedTax) |tufacurrency|
        minustoparens}}

      </span>
      <span *ngIf="!isDualTobaccoClass(headerData.tobaccoClass) && period.periodTotal =='NA' && period.ingestedTax =='NA'" class="h5 pull-right float-xs-right no-margin fw-semi-bold breathe-right black">
        NA
      </span>

      <span *ngIf="isDualTobaccoClass(headerData.tobaccoClass) && (period.periodTotalCombined !='NA' || period.ingestedTax !='NA')"
        class="h5 pull-right float-xs-right no-margin fw-semi-bold breathe-right black">
        {{(period.periodTotalCombined=='NA'? 0: period.periodTotalCombined) - (period.ingestedTax =='NA'? 0: period.ingestedTax)
        |tufacurrency| minustoparens}}

      </span>

      <span *ngIf="isDualTobaccoClass(headerData.tobaccoClass) && period.periodTotalCombined =='NA' && period.ingestedTax =='NA'"
        class="h5 pull-right float-xs-right no-margin fw-semi-bold breathe-right black">
        NA
      </span>



    </div>
    <!--For Cigarettes-->
    <table *ngIf="!isDualTobaccoClass(headerData.tobaccoClass)" class="table table-responsive table-hover" style="display: inline-table; border: 1px solid rgb(221, 221, 221); border-image: none; width: 100%;">
        <colgroup>
          <col style="width:10%">
          <col style="width:10%">
          <col style="width:13%">
          <col style="width:15%">
          <col style="width:2%">
          <col style="width:23%">
          <col style="width:2%">
          <col style="width:25%">
        </colgroup>
        <thead>
          <tr class="bottomthinborder">
            <th scope="col" colspan="4" class="rightalign">FDA 3852</th>
            <td colspan="1">&nbsp;</td>
            <th scope="col" class="rightalign leftnoborder">Ingested</th>
            <td colspan="1">&nbsp;</td>
            <th scope="col" class="rightalign leftnoborder">Difference</th>
          </tr>
        </thead>
        <tbody>
          <tr class="bottomthinborder">
            <td>MONTH</td>
            <td>STATUS</td>
            <td></td>
            <td class="rightalign">{{headerData.tobaccoClass | uppercase}}</td>
            <td></td>
            <td class="rightalign leftnoborder">{{headerData.tobaccoClass | uppercase}}</td>
            <td></td>
            <td class="rightalign leftnoborder">{{headerData.tobaccoClass | uppercase}}</td>
          </tr>
        </tbody>
        <ng-container *ngFor="let detail of period.permitDetails; let i = index" #months>
          <tbody class="tabex">
            <tr [attr.id]="'vol' + '-' + quarter + '-' + p +  '-' + i" (click)="clicked($event)" class="clickable" data-toggle="collapse"
              [attr.data-target]="'#forms-' + i + '-' + p + '-' + quarter" aria-expanded="false">
              <ng-container *ngIf=" detail.status !== ''; else noReport ">
                <td class="fw-semi-bold blue">
                  <a [routerLink]="['/app/permit', 'manreport', {PN:period.permit, MO:detail.month}]" (aClick)="toPeriodofActivity(period, detail)">
                  {{detail.month | titleCase}}</a>
                </td>
              </ng-container>
              <ng-template #noReport>
                <td class="fw-semi-bold">{{detail.month | titleCase}}</td>
              </ng-template>
              <td>
                <span class="text-legend " [ngClass]="{'legend-err': detail.status === 'E', 'legend-com': detail.status === 'C',
                      'legend-ns' : detail.status === 'NS'}">
                  {{detail.status}}
                </span>
              </td>
              <td>Tax</td>
              <td class="rightalign ">{{detail.taxTotalAmount |tufacurrency}}
              </td>
              <td>
                <span *ngIf="detail.ttb5000Cnt" class="noborder fa-stack fa-1x" style="color: green;">
                  <span class="fa fa-circle-o fa-stack-2x"></span>
                  <strong class="fa-stack-1x">{{detail.ttb5000Cnt}}</strong>
                </span>
              </td>
              <td class="leftnoborder" style="text-align:right">{{detail.ingestedTax|tufacurrency}}
              </td>
              <td>
                <span *ngIf="detail.ingestedThreshCnt" class=" noborder fa-stack fa-1x" style="color: green;">
                  <span class="fa fa-circle-o fa-stack-2x"></span>
                  <strong class="fa-stack-1x">{{detail.ingestedThreshCnt}}</strong>
                </span>
              </td>
              <td *ngIf="detail.taxTotalAmount !='NA' || detail.ingestedTax !='NA'" class="leftnoborder" style="text-align:right">
                {{(detail.taxTotalAmount=='NA'? 0: detail.taxTotalAmount) - (detail.ingestedTax =='NA'? 0: detail.ingestedTax) |tufacurrency|
                minustoparens}}
                <i class="h5 pull-right float-xs-right fa fa-chevron-right" style="margin-right: 10px; ; margin-left:5px; margin-top:5px;">
                </i>
              </td>
  
              <td *ngIf="detail.taxTotalAmount =='NA' && detail.ingestedTax =='NA'" class="leftnoborder" style="text-align:right">
                NA
                <i class="h5 pull-right float-xs-right fa fa-chevron-right" style="margin-right: 10px; margin-left:5px; margin-top:5px;">
                </i>
              </td>
  
            </tr>
          </tbody>
          <tbody [attr.id]="'forms-' + i + '-' + p +  '-' + quarter" class="collapse detail-sub-table">
            <tr>
              <th rowspan="3" class="">
                <div *ngIf="detail.attachments">FORM 3852</div>
                <div *ngFor="let attachment of detail.attachments">
                  <div class="fw-semi-bold blue">
                    <a target="_blank" (click)="enableLinkAuth(true)" href="api/reports/view/attachs/{{attachment.documentId}}">{{attachment.createdDt | datePipe}}</a>
                  </div>
                </div>
              </th>
              <td class=""></td>
              <td class="" style="font-style: italic;">TTB Volume Removed (sticks)</td>
              <td class="rightalign " style="font-style: italic;">{{detail.tobaccoClass1TTBvolume | customnumber : 0}}</td>
              <td class=""></td>
              <td class="leftnoborder"></td>
              <td class=" "></td>
              <td class="leftnoborder "></td>
            </tr>
            <tr>
              <td class=""></td>
              <!-- <td class="noborder"></td> -->
              <td style="font-style: italic;">TTB Calculated Tax</td>
              <td class="rightalign" style="font-style: italic;">{{detail.tobaccoClass1TTBTAX | tufacurrency}}
              </td>
              <td class=""></td>
              <td class="leftnoborder"></td>
              <td class=""></td>
              <td class="leftnoborder "></td>
            </tr>
            <tr style="border:none;">
              <td></td>
              <!-- <td></td> -->
              <td style="font-style:	 italic;">Tax Delta</td>
              <td class="rightalign" style="font-style: italic;">{{detail.calculatedDelta1 | tufacurrency}}
              </td>
              <td></td>
              <td class="leftnoborder"></td>
              <td></td>
              <td class="leftnoborder"></td>
            </tr>
          </tbody>
  
        </ng-container>
        <tbody>
          <tr class="topthickborder">
            <td class="rightalign fw-semi-bold" colspan="2">Total</td>
            <td class="fw-semi-bold">Tax</td>
            <td class="rightalign fw-semi-bold">{{period.periodTotalCombined |tufacurrency}}</td>
            <td></td>
            <td class="rightalign fw-semi-bold leftnoborder">{{period.ingestedTax |tufacurrency}}</td>
            <td></td>
            <td *ngIf="period.periodTotalCombined !='NA' || period.ingestedTax !='NA'" style="padding-right: 35px;" class="rightalign fw-semi-bold leftnoborder">
              {{(period.periodTotalCombined =='NA'? 0: period.periodTotalCombined) - (period.ingestedTax =='NA'? 0: period.ingestedTax)
              |tufacurrency| minustoparens}}
            </td>
            <td *ngIf="period.periodTotalCombined =='NA' && period.ingestedTax =='NA'" ngstyle="padding-right: 35px;" class="rightalign fw-semi-bold leftnoborder">
              NA
            </td>
  
          </tr>
        </tbody>
      </table>
    <!--For Dual Class Tobacco Classes-->
    <table *ngIf="isDualTobaccoClass(headerData.tobaccoClass)" class="table table-responsive table-hover" style="border: 1px solid rgb(221, 221, 221); border-image: none; width: 100%;">
      <colgroup>
        <col style="width:0%">
        <col style="width:7%">
        <col style="width:14%">
        <col style="width:9%">
        <col style="width:14%">
        <col style="width:15%">
        <col style="width:2%">
        <col style="width:16%">
        <col style="width:2%">
        <col style="width:26%">
      </colgroup>
      <thead>
        <tr class="bottomthinborder">
          <th scope="col" colspan="6" class="rightalign">FDA 3852</th>
          <td colspan="1">&nbsp;</td>
          <th scope="col" class="rightalign leftnoborder">Ingested</th>
          <td colspan="1">&nbsp;</td>
          <th scope="col" class="rightalign leftnoborder">Difference</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bottomthinborder">
          <td>MONTH</td>
          <td>STATUS</td>
          <td></td>
          <td class="rightalign">{{dualClass1 | uppercase}}</td>
          <td class="rightalign">{{dualClass2 | uppercase}}</td>
          <td class="rightalign">{{dualClassCombined | uppercase}}</td>
          <td></td>
          <td class="rightalign leftnoborder">{{dualClassCombined | uppercase}}</td>
          <td></td>
          <td class="rightalign leftnoborder">{{dualClassCombined | uppercase}}</td>
        </tr>
      </tbody>
      <ng-container *ngFor="let detail of period.permitDetails; let i = index" #monthsOneSided>
        <tbody class="tabex">
          <tr [attr.id]="'vol' + '-' + quarter + '-' + p +  '-' + i" (click)="clicked($event)" class="clickable" data-toggle="collapse"
            [attr.data-target]="'#forms-one-' + i + '-' + p + '-' + quarter" aria-expanded="false">
            <ng-container *ngIf=" detail.status !== ''; else noReport ">
              <td class="fw-semi-bold blue">
                <a [routerLink]="['/app/permit', 'manreport', {PN:period.permit, MO:detail.month}]" (aClick)="toPeriodofActivity(period, detail)">
                {{detail.month | titleCase}}</a>
              </td>
            </ng-container>
            <ng-template #noReport>
              <td class="fw-semi-bold">{{detail.month | titleCase}}</td>
            </ng-template>
            <td>
              <span class="text-legend " [ngClass]="{'legend-err': detail.status === 'E', 'legend-com': detail.status === 'C',
                    'legend-ns' : detail.status === 'NS'}">
                {{detail.status}}
              </span>
            </td>
            <td>Tax</td>
            <td class="rightalign">{{detail.taxAmount |tufacurrency}}</td>
            <td class="rightalign">{{detail.taxAmount2 |tufacurrency}}</td>
            <td class="rightalign ">{{detail.taxTotalAmount |tufacurrency}}
            </td>
            <td>
              <span *ngIf="detail.ttb5000Cnt" class="noborder fa-stack fa-1x" style="color: #64be6e;">
                <span class="fa fa-circle-o fa-stack-2x"></span>
                <strong class="fa-stack-1x">{{detail.ttb5000Cnt}}</strong>
              </span>
            </td>
            <td class="leftnoborder" style="text-align:right">{{detail.ingestedTax|tufacurrency}}
            </td>
            <td>
              <span *ngIf="detail.ingestedThreshCnt" class=" noborder fa-stack fa-1x" style="color: #64be6e;">
                <span class="fa fa-circle-o fa-stack-2x"></span>
                <strong class="fa-stack-1x">{{detail.ingestedThreshCnt}}</strong>
              </span>
            </td>
            <td *ngIf="detail.taxTotalAmount !='NA' || detail.ingestedTax !='NA'" class="leftnoborder" style="text-align:right">
              {{(detail.taxTotalAmount=='NA'? 0: detail.taxTotalAmount) - (detail.ingestedTax =='NA'? 0: detail.ingestedTax) |tufacurrency|
              minustoparens}}
              <i class="h5 pull-right float-xs-right fa fa-chevron-right" style="margin-right: 10px; ; margin-left:5px; margin-top:5px;">
              </i>
            </td>

            <td *ngIf="detail.taxTotalAmount =='NA' && detail.ingestedTax =='NA'" class="leftnoborder" style="text-align:right">
              NA
              <i class="h5 pull-right float-xs-right fa fa-chevron-right" style="margin-right: 10px; margin-left:5px; margin-top:5px;">
              </i>
            </td>

          </tr>
        </tbody>
        <tbody [attr.id]="'forms-one-' + i + '-' + p +  '-' + quarter" class="collapse detail-sub-table">
          <tr>
            <th rowspan="3" class="">
              <div *ngIf="detail.attachments">FORM 3852</div>
              <div *ngFor="let attachment of detail.attachments">
                <div class="fw-semi-bold blue">
                  <a target="_blank" (click)="enableLinkAuth(true)" href="api/reports/view/attachs/{{attachment.documentId}}">{{attachment.createdDt | datePipe}}</a>
                </div>
              </div>
            </th>
            <td class=""></td>
            <td class="" style="font-style: italic;">TTB Volume Removed (lbs)</td>
            <td class="rightalign " style="font-style: italic;">{{detail.tobaccoClass1TTBvolume | customnumber : 2}}</td>
            <td class="rightalign " style="font-style: italic;">{{detail.tobaccoClass2TTBvolume | customnumber : 2}}</td>
            <td class=""></td>
            <td class=""></td>
            <td class="leftnoborder "></td>
            <td class=""></td>
            <td class="leftnoborder "></td>
          </tr>
          <tr>
            <td class=""></td>
            <!-- <td class="noborder"></td> -->
            <td style="font-style: italic;">TTB Calculated Tax</td>
            <td class="rightalign" style="font-style: italic;">{{detail.tobaccoClass1TTBTAX | tufacurrency}}
            </td>
            <td class="rightalign" style="font-style: italic;">{{detail.tobaccoClass2TTBTAX | tufacurrency}}
            </td>
            <td class=""></td>
            <td class=""></td>
            <td class="leftnoborder "></td>
            <td class=""></td>
            <td class="leftnoborder "></td>
          </tr>
          <tr style="border:none;">
            <td></td>
            <!-- <td></td> -->
            <td style="font-style:	 italic;">Tax Delta</td>
            <td class="rightalign" style="font-style: italic;">{{detail.calculatedDelta1 | tufacurrency}}
            </td>
            <td class="rightalign" style="font-style: italic;">{{detail.calculatedDelta2 | tufacurrency }}</td>
            <td></td>
            <td></td>
            <td class="leftnoborder"></td>
            <td></td>
            <td class="leftnoborder"></td>
          </tr>
        </tbody>

      </ng-container>
      <tbody>
        <tr class="topthickborder">
          <td class="rightalign fw-semi-bold" colspan="2">Total</td>
          <td class="fw-semi-bold">Tax</td>
          <td class="rightalign fw-semi-bold">{{period.periodTotal |tufacurrency}}</td>
          <td class="rightalign fw-semi-bold">{{period.periodTotal2 |tufacurrency}}</td>
          <td class="rightalign fw-semi-bold">{{period.periodTotalCombined |tufacurrency}}</td>
          <td></td>
          <td class="rightalign fw-semi-bold leftnoborder">{{period.ingestedTax |tufacurrency}}</td>
          <td></td>
          <td *ngIf="period.periodTotalCombined !='NA' || period.ingestedTax !='NA'" style="padding-right: 35px;" class="rightalign fw-semi-bold leftnoborder">
            {{(period.periodTotalCombined =='NA'? 0: period.periodTotalCombined) - (period.ingestedTax =='NA'? 0: period.ingestedTax)
            |tufacurrency| minustoparens}}
          </td>
          <td *ngIf="period.periodTotalCombined =='NA' && period.ingestedTax =='NA'" ngstyle="padding-right: 35px;" class="rightalign fw-semi-bold leftnoborder">
            NA
          </td>

        </tr>
      </tbody>
    </table>
  </accordion-group>
</accordion>

<div style="padding-top: 24px; padding-bottom: 45px;">
  <app-at-one-sided-actions [panelQtr]="quarter" [headerData]="headerData" [quarterDeltaForOnesidedMap]="quarterDeltaForOnesidedMap" [oneSidedAcceptanceFlag]="oneSidedAcceptanceFlag"></app-at-one-sided-actions>
</div>