<!--  [ngBusy]="{busy: busy, message: 'Saving Changes ...', backdrop: true}" -->
<div>
  <span>Please select the True up option from the radio buttons below.
    The selected option will determine which file(s) are needed to complete the True Up
  </span>
</div>
<div class="row" [ngBusy]="{busy: fileSubscription, message: 'Loading ...', backdrop: true}">
  <div class="abc-radio">
    <input id="rd-summdet" [disabled]="checkCountCBP('CBP')" (ngModelChange)="trackChanges('summdetail')"
      [(ngModel)]="ingestionContextModel.context" title="SummDetailBoth" name="optradio" type="radio"
      value="summdetail">
    <label for="rd-summdet">
      Summary and Details Files
    </label>
  </div>
  <div class="abc-radio">
    <input id="rd-detail" [disabled]="checkCountCBP('CBP')" (ngModelChange)="trackChanges('detailOnly')"
      [(ngModel)]="ingestionContextModel.context" title="detailOnly" name="optradio" type="radio" value="detailOnly">
    <label for="rd-detail">
      Details File Only
    </label>
  </div>
</div>
<br />


<accordion #ingestionAccordians>
  <accordion-group (isOpenChange)="ttbOpen = $event" [isOpen]="true">
    <div accordion-heading style="background-color: #fff; color: #000000; border-bottom: solid 1px #000000;">
      <span class="h5 no-margin fw-semi-bold breathe-left">TTB FILE INGESTION</span>
      <i class=" h5 pull-right float-xs-right fa" style="margin-right: 10px; margin-top: 5px"
        [ngClass]="ttbOpen ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
    </div>
    <section class="widget">
      <form class="form-horizontal" role="form">
        <div class="widget-body clearfix">
          <div>
            <button id="btn-upload" type="button" class="btn btn-primary" title="Upload" data-toggle="modal"
              data-target="#ingest-file" data-backdrop="static" data-keyboard="false"
              [disabled]="checkUploadedFiles('TTB') || (annualTrueUpServiceEvSubscription && !annualTrueUpServiceEvSubscription.closed)"
              focusOn="#ingest-file" (click)="generalDocType = 'TTB'">
              <i class="fa fa-upload" aria-hidden="true"></i>
              Ingest File
            </button>
          </div>
          <div>
            <p>Files must be in the proper Excel format</p>
          </div>
          <div class="row">
            <table [ngBusy]="{busy: annualTrueUpServiceEvSubscription, message: 'Loading...', backdrop: false}"
              class="table table-hover" [mfData]="data" #mf="mfDataTable" [mfIsServerPagination]="false"
              [mfRowsOnPage]="10">
              <colgroup>
                <col style="width:33.5%">
                <col style="width:34%">
                <col style="width:33.5%">
              </colgroup>
              <thead>
                <tr>
                  <th>
                    <mfDefaultSorter by="trueUpFilename">File Name</mfDefaultSorter>
                  </th>
                  <th class="hidden-sm-down">
                    <mfDefaultSorter by="docDesc">FORM</mfDefaultSorter>
                  </th>
                  <th class="hidden-sm-down">
                    <mfDefaultSorter by="createdDt">Date uploaded</mfDefaultSorter>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let docfile of mf.data; let i = index; let last = last">
                  <ng-container *ngIf="docfile.docDesc?.indexOf('TTB') > -1">
                    <td class="hidden-sm-down">{{docfile.trueUpFilename}}
                    </td>
                    <td class="hidden-sm-down">{{docfile.docDesc}}
                    </td>
                    <td class="hidden-sm-down">
                      <div class="row no-padding">
                        <div class="col-md-6">{{docfile.createdDt}}</div>
                        <div class="col-md-6">
                          <button id="btn-delete" title="Delete" type="button" class="btn btn-outline-danger"
                            data-toggle="modal" data-target="#delete-ingest" focusOn="#delete-ingest"
                            data-backdrop="static" data-keyboard="false" (click)="setSelectedDocument(this.docfile)">
                            <i style="top: 3px" class="fa fa-trash" aria-hidden="true"></i> Delete
                          </button>
                        </div>
                      </div>
                    </td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </section>
  </accordion-group>

  <accordion-group (isOpenChange)="cbpOpen = $event" [isOpen]="true">
    <div accordion-heading style="background-color: #fff; color: #000000; border-bottom: solid 1px #000000;">
      <span class="h5 no-margin fw-semi-bold breathe-left">CBP FILE INGESTION</span>
      <i class="h5 pull-right float-xs-right fa" style="margin-right: 10px; margin-top: 5px"
        [ngClass]="cbpOpen ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
    </div>

    <section class="widget" [ngBusy]="{busy: metricsSubscription, message: 'Getting Metrics...', backdrop: true}">
      <form class="form-horizontal" role="form">
        <div class="widget-body clearfix">
          <div>
            <button id="btn-upload" type="button" class="btn btn-primary" title="Upload" data-toggle="modal"
              data-target="#ingest-file" data-backdrop="static" data-keyboard="false"
              [disabled]="cbpDetailOnly('CBP Details') || checkUploadedFiles('CBP')|| (annualTrueUpServiceEvSubscription && !annualTrueUpServiceEvSubscription.closed)"
              focusOn="#ingest-file" (click)="generalDocType = 'CBP'">
              <i class="fa fa-upload" aria-hidden="true"></i>
              Ingest File
            </button>
          </div>
          <div>
            <p>Files must be in the proper Excel format</p>
          </div>
          <div class="row">
            <table class="table table-hover" [mfData]="data" #mfcbp="mfDataTable" [mfIsServerPagination]="false"
              [mfRowsOnPage]="10">
              <colgroup>
                <col style="width:33.5%">
                <col style="width:34%">
                <col style="width:33.5%">
              </colgroup>
              <thead>
                <tr>
                  <th>
                    <mfDefaultSorter by="trueUpFilename">File Name</mfDefaultSorter>
                  </th>
                  <th class="hidden-sm-down">
                    <mfDefaultSorter by="docDesc">FORM</mfDefaultSorter>
                  </th>
                  <th class="hidden-sm-down">
                    <mfDefaultSorter by="createdDt">Date uploaded</mfDefaultSorter>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let docfile of mf.data; let i = index; let last = last">
                  <ng-container *ngIf="docfile.docDesc?.indexOf('CBP') > -1">
                    <td class="hidden-sm-down">{{docfile.trueUpFilename}}</td>
                    <td class="hidden-sm-down">{{docfile.docDesc}}
                    </td>
                    <td class="hidden-sm-down">
                      <div class="row no-padding">
                        <div class="col-md-6">{{docfile.createdDt}}</div>
                        <div class="col-md-6">
                          <button id="btn-delete" title="Delete" type="button" class="btn btn-outline-danger"
                            data-toggle="modal" data-target="#delete-ingest" focusOn="#delete-ingest"
                            data-backdrop="static" data-keyboard="false" (click)="setSelectedDocument(this.docfile)">
                            <i style="top: 3px" class="fa fa-trash" aria-hidden="true"></i> Delete
                          </button>
                        </div>
                      </div>
                    </td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </section>
    <div *ngIf="ingestionContextModel.context == 'summdetail'">
      <button type="button" title="Get Metrics" class="btn btn-primary" style="margin-bottom: 20px;"
        (click)="generateMetrics()" data-toggle="modal" data-target="#acceptedLoading" focusOn="#acceptedLoading"
        [disabled]="!checkUploadedFiles('CBP') || isMetricsGenrated">Get Metrics</button>
      <ng-container *ngIf="isMetricsGenrated && checkUploadedFiles('CBP')">
        <div class="table-responsive">
          <table class="table table-bordered"
            [ngBusy]="{busy: exportSubscription, message: 'Exporting...', backdrop: true}">
            <thead>
              <tr>
                <th scope="col" colspan="3" class="main-header-secondary">Summary Section</th>
              </tr>
              <tr class="sub-header">
                <th scope="col">Metrics</th>
                <th scope="col">Values</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Summary File Entry Summary Number Count</td>
                <td>{{metrics.summaryFileEntrySummaryNoCount | customnumber : 0}}</td>
                <td></td>
              </tr>
              <tr>
                <td>Details File Entry Summary Number Count</td>
                <td>{{metrics.detailFileEntrySummaryNoCount | customnumber : 0}}</td>
                <td></td>
              </tr>
              <tr>
                <td>Matched Entry Summary Numbers</td>
                <td>{{metrics.matchedEntrySummaryNoCount | customnumber : 0}}</td>
                <td></td>
              </tr>
              <tr>
                <td>
                  <i>Unique Summary File Entry Summary Numbers</i>
                </td>
                <td>
                  <span>{{metrics.uniqueSummaryFileEntrySummaryNo | customnumber : 0}}</span>
                </td>
                <td>
                  <button title="Download Unique Summary File Entry Summary Numbers" class="btn btn-primary btn-thin"
                    [disabled]="metrics.uniqueSummaryFileEntrySummaryNo < 1" (click)="exportUnmatchedData('CBPSummary')"
                    [ngBusy]="{busy: exportSubscription, message: 'Exporting...', backdrop: false}">
                    <i class="fa fa-arrow-circle-o-down"></i> Export
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <i>Unique Details File Entry Summary Numbers</i>
                </td>
                <td>
                  <span>{{metrics.uniqueDetailFileEntrySummaryNo | customnumber : 0}}</span>
                </td>
                <td>
                  <button title="Download Unique Details File Entry Summary Numbers" class="btn btn-primary btn-thin"
                    [disabled]="metrics.uniqueDetailFileEntrySummaryNo < 1" (click)="exportUnmatchedData('CBPLine')"
                    [ngBusy]="{busy: exportSubscription, message: 'Exporting...', backdrop: false}">
                    <i class="fa fa-arrow-circle-o-down"></i> Export
                  </button>
                </td>
              </tr>
              <tr class="total-row">
                <td>
                  <i>Unmatched Entry Summary Numbers</i>
                </td>
                <td>{{metrics.unmatchedEntrySummayNoCount | customnumber : 0}}</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <button *ngIf="metrics?.accepted !='Y'" type="button" title="Accept Ingested" class="btn btn-primary"
          style="margin-bottom: 20px;" data-toggle="modal" data-target="#acceptedLoading" focusOn="#acceptedLoading"
          (click)="acceptLegacyCBPData()"
          [disabled]="metrics.uniqueSummaryFileEntrySummaryNo != 0 || metrics.uniqueDetailFileEntrySummaryNo != 0">
          Accept Ingested
        </button>
        <button *ngIf="metrics?.accepted == 'Y'" type="button" title="Accept Ingested" class="btn btn-secondary"
          style="margin-bottom: 20px;" disabled>
          <i class="fa fa-check-circle" aria-hidden="true" style="color: #28a745"></i> Accepted Ingested
        </button>
      </ng-container>
    </div>
  </accordion-group>
</accordion>
<!-- Ingest modals -->
<div at-ingestfile [fiscalYear]="fiscalYear" [generalDocType]="generalDocType"
  [context]="ingestionContextModel.context"></div>
<div delete-ingest [fiscalYear]="fiscalYear" [doctype]="doctype" [msg]="'Are you sure you want to delete?'"
  [title]="'Delete Ingested File'"></div>
<!-- Accept Ingested Data Modal -->
<div progress-modal [heading]="heading" [maxout]="progressbarMaxOut"></div>