@import "../../../../scss/_variables.scss";

table {
    &.table-bordered {
        th {
            text-align: center;
    
            &:nth-child(2) {
                width: 30%;
            }
        }

        td:not(:nth-child(1)) {
            text-align: center;
        }

        tr.total-row {
            border-top-width: 2px;
            border-top-style: solid;
            border-top-color: grey;
        }
    }
}

//NGX Accordian
accordion-group {
  &:not(:last-child) {
    padding-bottom: 20px;
  }

  [accordion-heading] {
    background-color: lightgrey;
    color: black;
    padding-top:12px;
    padding-bottom: 12px;
    border-bottom: 2px solid gray;
    cursor: pointer;

    &.primary {
      background-color: $brand-primary;
      color: #fff;
      border-bottom: 0px;
    }
  }
}
