<span id="map-parent">
	<div *ngIf="ingestFileAlerts?.length > 0" class="col-md-12 alert alert-warning alert-sm">
		<span class="fa fa-exclamation-triangle"></span>
		<span class="no-margin fw-normal alert-text" style="margin-bottom:10px;margin-left: 5px">
			<strong>ACTION RECOMMENDED:</strong>
			<ul style="margin-bottom: 0px;">
				<li *ngFor="let message of ingestFileAlerts">
					{{message}}
				</li>
			</ul>
		</span>
	</div>

	<div class="row">
		<div class="col-md-2">
			<span class="h3 no-margin fw-bold">Associations</span>
		</div>
		<div *ngIf="bucketsDifference>0" class="col-md-12 alert alert-warning alert-sm">
			<span class="fa fa-exclamation-triangle"></span>
			<span class="no-margin fw-normal alert-text" style="margin-bottom:10px;margin-left: 5px">
				<strong>ACTION RECOMMENDED:</strong> Association(s) not SAVED will not be included on Compare or in Market Share
			</span>
		</div>
	</div>
	<!-- Panel 1: Identify Appropriate Company Associations-->
	<section *ngIf="showCompanyAssociation" class="widget">
		<div class="widget-body clearfix h-box-bot-divider">
			<!--- Collapsible Panel -->
			<div class="panel-group box-pane" id="accordion_ica" [ngBusy]="{busy: companyAssocSubscription, message: 'Loading Company Associations ...', backdrop: true}">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title">
							<a class="accordion-toggle-main h5 no-margin fw-semi-bold collapsed" data-toggle="collapse" href="#collapseOne">
								Identify Appropriate Company Associations
							</a>
							<a class="pull-right h6 no-margin fw-semi-bold collapsed collapseNum" data-toggle="collapse" href="#collapseOne">
								{{answersProvidedCmpyAssoc}}/{{answersRequiredCmpyAssoc}}
							</a>
						</div>
						<legend style="border:0; font-size: 13px;">Select Importer or Consignee Company for Entry Line(s)</legend>
					</div>
					<div id="collapseOne" class="panel-collapse collapse" data-parent="#map-parent">
						<div class="panel-body">
							<div *ngFor="let  cmpyAssoc of  cmpyAssocArry; let i = index;">
								<div at-companyassociation [(busy)]="busy" [index]="i" [cmpyAssoc]="cmpyAssoc" (refreshBucket)="updateAssociationBuckets();calculateAnswersProvidedCmpyAssoc();"></div>
							</div>
						</div>
						<div *ngIf="!savedCmpAssocsSuccess && cmpyAssocArry.length > 0" class="row flex-nowrap">
							<div class="col-md-10">
							</div>
							<div class="col-md-2">
								<button [disabled]="!hasValidSaves()" type="button" style="margin:20px 40px 25px 0px;" class="btn btn-primary pull-center wid100"
								 title="Save All Associations" (click)="saveCompanyAssociations()">Save All</button>
							</div>
						</div>
						<div *ngIf="savedCmpAssocsSuccess && cmpyAssocArry.length > 0" class="row flex-nowrap">
							<div class="col-lg-9">
							</div>
							<div class="col-lg-3">
								<button style="margin:20px 20px 20px 0px;" class="btn btn-secondary mb-xs" role="button" title="Saved Association">
									<i style="margin-right:10px;" class="fa fa-check-circle text-success"></i>Saved Association(s)!</button>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</section>
	<!-- Panel 2: Identify Appropriate HTS Associations-->
	<section *ngIf="showHTSAssociation" class="widget">
		<div class="widget-body clearfix h-box-bot-divider">
			<!--- Collapsible Panel -->
			<div class="panel-group box-pane" id="accordion_ihtsa">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title">
							<a class="accordion-toggle-main h5 no-margin fw-semi-bold collapsed" data-toggle="collapse" href="#collapseTwo">
								Identify Appropriate HTS Associations
							</a>
							<a class="pull-right h6 no-margin fw-semi-bold collapsed collapseNum" data-toggle="collapse" href="#collapseTwo">
								{{answersProvidedHtsAssoc}}/{{answersRequiredHtsAssoc}}
							</a>
						</div>
						<legend style="border:0; font-size: 13px;">Select the Tobacco Class to associate with new HTS Code(s)</legend>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse" data-parent="#map-parent">
						<div class="panel-body">
							<div *ngFor="let  htsAssoc of  htsAssocArry; let i = index;">
								<div at-htsassociation [(busy)]="busy" [index]="i" [htsAssoc]="htsAssoc" [fiscalYear]="fiscalYear" (refreshCompany)="getCBPCompanyAssociationErrors();getCompaniesToInclInMktSh();calculateAnswersProvidedHtsAssoc();getCBPHTSMissAssociationErrors();"></div>
							</div>
						</div>
						<div *ngIf="!savedHTSAssocsSuccess && htsAssocArry.length > 0" class="row flex-nowrap">
							<div class="col-md-10">
							</div>
							<div class="col-md-2">
								<button [disabled]="!hasSelectionsHtsAssociation()" type="button" style="margin:0px 40px 25px 0px;" class="btn btn-primary pull-center wid100"
								 title="Save All Associations" (click)="saveHtsAssociations()">Save All</button>
							</div>
						</div>
						<div *ngIf="savedHTSAssocsSuccess && htsAssocArry.length > 0" class="row flex-nowrap">
							<div class="col-lg-9">
							</div>
							<div class="col-lg-3">
								<button style="margin:0px 40px 25px 0px;" class="btn btn-secondary mb-xs" role="button" title="Saved Association">
									<i style="margin-right:10px;" class="fa fa-check-circle text-success"></i>Saved Association(s)!</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Panel 3: Identify Appropriate HTS Missing Codes-->
	<section *ngIf="showHTSMissAssociation" class="widget">
		<div class="widget-body clearfix h-box-bot-divider">
			<!--- Collapsible Panel -->
			<div class="panel-group box-pane" id="accordion_ihtsmc">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title">
							<a class="accordion-toggle-main h5 no-margin fw-semi-bold collapsed" data-toggle="collapse" href="#collapseThree">
								Identify Missing HTS Codes
							</a>
							<a class="pull-right h6 no-margin fw-semi-bold collapsed collapseNum" data-toggle="collapse" href="#collapseThree">
								{{answersProvidedHTSMissAssoc}}/{{answersRequiredHTSMissAssoc}}
							</a>
						</div>
						<legend style="border:0; font-size: 13px;">Select the Tobbacco Class to associate with the missing HTS Code(s)</legend>
					</div>
					<div id="collapseThree" class="panel-collapse collapse" data-parent="#map-parent">
						<div class="panel-body">
							<div *ngFor="let  htsMissAssoc of htsMissAssocArry; let i = index;">
								<div at-htsmissassociation [(busy)]="busy" [index]="i" [htsMissAssoc]="htsMissAssoc" [fiscalYear]="fiscalYear" (refreshCompany)="getCBPCompanyAssociationErrors();getCompaniesToInclInMktSh();calculateAnswersProvidedHTSMissAssoc();"></div>
							</div>
						</div>

						<div *ngIf="!savedHTSMissAssocsSuccess && htsMissAssocArry.length > 0" class="row flex-nowrap">
							<div class="col-md-10">
							</div>
							<div class="col-md-2">
								<button [disabled]="!hasSelectionsHTSMissAssociation()" type="button" style="margin:0px 40px 25px 0px;" class="btn btn-primary pull-center wid100"
								 title="Save All Associations" (click)="saveHTSMissAssociations()">Save All</button>
							</div>
						</div>
						<div *ngIf="savedHTSMissAssocsSuccess && htsMissAssocArry.length > 0" class="row flex-nowrap">
							<div class="col-lg-9">
							</div>
							<div class="col-lg-3">
								<button style="margin:0px 40px 25px 0px;" class="btn btn-secondary mb-xs" role="button" title="Saved Association">
									<i style="margin-right:10px;" class="fa fa-check-circle text-success"></i>Saved Association(s)!</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Panel 4: Include SSN Data in Market Share-->
	<section *ngIf="showIncludeSSNDatainMS" class="widget">
		<div class="widget-body clearfix h-box-bot-divider">
			<!--- Collapsible Panel -->
			<div class="panel-group box-pane" id="accordion_issnms">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title">
							<a class="accordion-toggle-main h5 no-margin fw-semi-bold collapsed" data-toggle="collapse" href="#collapseFour">
								Include SSN Data in Market Share
							</a>
							<a class="pull-right h6 no-margin fw-semi-bold collapsed collapseNum" data-toggle="collapse" href="#collapseFour">
								3/4
							</a>
						</div>
					</div>
					<div id="collapseFour" class="panel-collapse collapse" data-parent="#map-parent">
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-12">
									<section class="widget noborder">
										<div class="widget-body clearfix">
											<div class="row flex-nowrap">
												<div class="col-md-9">
												</div>
											</div>
										</div>
									</section>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="row" style="margin-bottom:10px;padding-top:20px;">
		<div class="col-md-12">
			<span class="h3 no-margin fw-bold">New Reporters</span>
		</div>
	</div>

	<!-- Panel 5: Include Companies (not in the system) in Market Share-->
	<section *ngIf="showIncludeCompaniesinMS" class="widget">
		<div class="widget-body clearfix h-box-bot-divider">
			<!--- Collapsible Panel -->
			<div class="panel-group box-pane" id="accordion_icms">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title">
							<a class="accordion-toggle-main h5 no-margin fw-semi-bold collapsed" data-toggle="collapse" href="#collapseFive">
								View Newly Reported Companies
							</a>
							<a class="pull-right h6 no-margin fw-semi-bold collapsed collapseNum" data-toggle="collapse" href="#collapseFive">
								{{answersRequiredInclCmpyMktSh}}
							</a>
						</div>
						<legend style="border:0; font-size: 13px;">View Summary of Ingested Companies not in TUFA</legend>
					</div>
					<div id="collapseFive" class="panel-collapse collapse" data-parent="#map-parent">
						<div class="row">
							<div class="col-md-12 col-md-12 col-lg-12">
								<button *ngIf="inclCmpyMktShArry.length > 0 && showCBPExport" type="button" (click)="CBPExportNewCompanyDetail()" class="btn btn-primary pull-right">Export New CBP Companies</button>
							</div>
						</div>
						<div class="panel-body">
							<div *ngFor="let  cmpy of inclCmpyMktShArry; let i = index;">
								<div at-inclcmpy-mktsh [index]="i" [inclCmpy]="cmpy" [fiscalYear]="fiscalYear"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Panel 6: Include TTB Permits (not in the system) in Market Share-->
	<section *ngIf="showTTBPermitsinMS" class="widget">
		<div class="widget-body clearfix h-box-bot-divider">
			<!--- Collapsible Panel -->
			<div class="panel-group box-pane" id="accordion_ittbnms">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title">
							<a class="accordion-toggle-main h5 no-margin fw-semi-bold collapsed" data-toggle="collapse" href="#collapseSix">
								View Newly Reported TTB Permits for Existing Companies
							</a>
							<a class="pull-right h6 no-margin fw-semi-bold collapsed collapseNum" data-toggle="collapse" href="#collapseSix">
								{{answersRequiredPermitIncl}}
							</a>
						</div>
						<legend style="border:0; font-size: 13px;">View Summary of Ingested TTB Permits not in TUFA</legend>
					</div>
					<div id="collapseSix" class="panel-collapse collapse" data-parent="#map-parent">
						<div class="panel-body">
							<div *ngFor="let  permitInc of  permitIncArry; let i = index;">
								<div at-permitinclusion [index]="i" [permitInc]="permitInc"></div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</section>
	<!--- Collapsible Panel 
<section *ngIf="showIncludeTTBPermitsinMS" class="widget h-box-divider">
	<div class="widget-body clearfix">
		<div class="panel-group" id="accordion_ittbms">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						<a class="accordion-toggle-main h5 no-margin fw-semi-bold collapsed" data-toggle="collapse" data-parent="#accordion_ittbms" href="#collapseSix">
								Include TTB Permits (not in the system) in Market Share
							</a>
						<a class="pull-right h6 no-margin fw-semi-bold collapsed collapseNum" data-toggle="collapse" data-parent="#accordion_ittbms" href="#collapseSix">
								5/6
							</a>
					</div>
				</div>
				<div id="collapseSix" class="panel-collapse collapse">
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<section class="widget noborder">
									<div class="widget-body clearfix">
										<div class="row flex-nowrap">
											<div class="col-md-9">
											</div>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
-->
	<div class="row" style="margin-bottom:10px;padding-top:20px;">
		<div class="col-md-12">
			<span class="h3 no-margin fw-bold">Unidentified Reporters</span>
		</div>
	</div>
	<!-- Panel 6: Unknown Company Associations-->
	<section class="widget">
		<div class="widget-body clearfix h-box-bot-divider">
			<!--- Collapsible Panel -->
			<div class="panel-group box-pane" id="accordion_unkca">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title">
							<a class="accordion-toggle-main h5 no-margin fw-semi-bold collapsed" data-toggle="collapse" href="#collapseUnkn">
								View Unknown Companies Excluded from Market Share
							</a>
							<a class="pull-right h6 no-margin fw-semi-bold collapsed collapseNum" data-toggle="collapse" href="#collapseUnkn">
								{{unknData?.length}}
							</a>
						</div>
						<legend style="border:0; font-size: 13px;">View cases where Importer EIN and Consignee EIN do not match and Consignee is not in TUFA</legend>
					</div>
					<div id="collapseUnkn" class="panel-collapse collapse" data-parent="#map-parent">
						<div *ngIf="unknData?.length > 0" class="row">
							<table [ngBusy]="{busy: busy, message: 'Loading...', backdrop: false}" class="table table-hover" [mfData]="unknData" #mfUnkn="mfDataTable"
							 [mfIsServerPagination]="false">
								<colgroup>
									<col style="width:10%">
									<col style="width:30%">
									<col style="width:10%">
									<col style="width:30%">
									<col style="width:20%">
								</colgroup>
								<thead>
									<tr>
										<th>
											<mfDefaultSorter by="importerEin">importer ein</mfDefaultSorter>
										</th>
										<th class="hidden-sm-down">
											<mfDefaultSorter by="importerName">importer name</mfDefaultSorter>
										</th>
										<th class="hidden-sm-down">
											<mfDefaultSorter by="consigneeEin">Consignee ein</mfDefaultSorter>
										</th>
										<th class="hidden-sm-down">
											<mfDefaultSorter by="tobaccoClasses">TOBACCO classes</mfDefaultSorter>
										</th>
										<th class="hidden-sm-down">
											<mfDefaultSorter by="totalTax">Total excise tax</mfDefaultSorter>
										</th>
									</tr>
								</thead>
								<tbody [ngBusy]="{busy: downloading, message: 'Downloading...', backdrop: false}">
									<tr *ngFor="let unknBucket of mfUnkn.data; let i = index; let last = last">
										<td class="hidden-sm-down">{{unknBucket.importerEin | einPipe}}</td>
										<td class="hidden-sm-down">{{unknBucket.importerName}}</td>
										<td class="hidden-sm-down">{{unknBucket.consigneeEin | einPipe}}</td>
										<td class="hidden-sm-down">{{unknBucket.tobaccoClasses | removeHyphen}}</td>
										<td class="hidden-sm-down">{{unknBucket.totalTaxes | currency:'USD':'symbol'}}</td>
									</tr>
								</tbody>
								<!-- <tfoot>
								<tr>
									<td colspan="12">
										<mfBootstrapPaginator [rowsOnPageSet]="[10, 20, 30]"></mfBootstrapPaginator>
									</td>
								</tr>
							</tfoot> -->
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<div class="table-responsive" *ngIf="metrics">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th scope="col" colspan="2" class="main-header-secondary">Mixed Class Section</th>
				</tr>
				<tr class="sub-header">
					<th scope="col">Metrics</th>
					<th scope="col">Values</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Entry Line File Tax Amount</td>
					<td>{{metrics.detailFileTotalTaxAmount | tufacurrency}}</td>
				</tr>
				<tr>
					<td>Number of Mixed Entry Summary Numbers</td>
					<td>{{metrics.mixedEntrySummaryNoCount | customnumber : 0}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</span>