@import './../at-home.style';

/**
Collapsible accordian
***/

.panel-heading .accordion-toggle-main:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle-main.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.h-box-divider {
 width:100%;
 border:1px solid black;
}

.h-box-bot-divider {
 width:100%;
 border-bottom:2px solid lightgrey;
}

.fullwidth{
    width: 100%;
}
.box-pane {
    margin-top: -0.5rem;
    margin-bottom: -0.6rem;
}

.collapseNum { 
    margin-right:15px;
    margin-top: 0.3rem;
}

.breathe-topNleft {
    margin-left: 10px; 
    margin-top: 10px;
}

.wid100{
    width:100px;
}
