<form class="form-horizontal" role="form">
    <div class="row">
        <div class="col-lg-12">
            <section class="widget h-thin-divider">
                <div class="widget-body clearfix">
                    <div class="row flex-nowrap">
                        <div class="col-lg-12">
                            <!-- <p>Select Associated Tobacco Class to: HTS 240134302</p> -->
                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <ul style="margin-left:15px;margin-top:-20px;" class="list-unstyled">
                                        <li class="fw-semi-bold">HTS Code: (null)</li>
                                        <li>{{htsMissAssoc.cbpImporter.associationTypeCd=="IMPT"||!htsMissAssoc.cbpImporter.associationTypeCd?htsMissAssoc.cbpImporter.importerNm.toUpperCase():htsMissAssoc.cbpImporter.consigneeNm.toUpperCase()}}</li>
                                        <li>{{htsMissAssoc.estimatedTax|currency:'USD':'symbol':'1.2-2'| minustoparens}}</li>
                                        <li>{{htsMissAssoc.entrySummDt?displayDt(htsMissAssoc.entrySummDt,htsMissAssoc.entryDt,htsMissAssoc.fiscalYear):htsMissAssoc.importDt}}</li>
                                        <li>Other Classes reported by this Company for FY {{htsMissAssoc.fiscalYear}}: {{ getOtherTobaccoTypesReported() | removeHyphen}}</li>
                                    </ul>
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <div class="abc-radio">
                                                    <input id="rd-cightsm-{{index}}" [(ngModel)]="htsMissAssoc.tobaccoClass.tobaccoClassNm" (ngModelChange)="resetSaveStatus($event)" name="optradio"
                                                        type="radio" value="Cigars" [attr.title]="'Cigars'">
                                                    <label attr.for="rd-cightsm-{{index}}">CIGARS</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <div class="abc-radio">
                                                    <input id="rd-cgthtsm-{{index}}" [(ngModel)]="htsMissAssoc.tobaccoClass.tobaccoClassNm" (ngModelChange)="resetSaveStatus($event)" name="optradio"
                                                        type="radio" value="Cigarettes" [attr.title]="'Cigarettes'">
                                                    <label attr.for="rd-cgthtsm-{{index}}">CIGARETTES</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <div class="abc-radio">
                                                    <input id="rd-ryohtsm-{{index}}" [(ngModel)]="htsMissAssoc.tobaccoClass.tobaccoClassNm" (ngModelChange)="resetSaveStatus($event)" name="optradio"
                                                        type="radio" value="Roll-Your-Own" [attr.title]="'Roll-Your-Own'">
                                                    <label attr.for="rd-ryohtsm-{{index}}">ROLL YOUR OWN</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <div class="abc-radio">
                                                    <input id="rd-piphtsm-{{index}}" [(ngModel)]="htsMissAssoc.tobaccoClass.tobaccoClassNm" (ngModelChange)="resetSaveStatus($event)" name="optradio"
                                                        type="radio" value="Pipe" [attr.title]="'Pipe'">
                                                    <label attr.for="rd-piphtsm-{{index}}">PIPE</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <div class="abc-radio">
                                                    <input id="rd-snfhtsm-{{index}}" [(ngModel)]="htsMissAssoc.tobaccoClass.tobaccoClassNm" (ngModelChange)="resetSaveStatus($event)" name="optradio"
                                                        type="radio" value="Snuff" [attr.title]="'Snuff'">
                                                    <label attr.for="rd-snfhtsm-{{index}}">SNUFF</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <div class="abc-radio">
                                                    <input id="rd-chwhtsm-{{index}}" [(ngModel)]="htsMissAssoc.tobaccoClass.tobaccoClassNm" (ngModelChange)="resetSaveStatus($event)" name="optradio"
                                                        type="radio" value="Chew" [attr.title]="'Chew'">
                                                    <label attr.for="rd-chwhtsm-{{index}}">CHEW</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <div class="abc-radio">
                                                    <input id="rd-ntthtsm-{{index}}" [(ngModel)]="htsMissAssoc.tobaccoClass.tobaccoClassNm" (ngModelChange)="resetSaveStatus($event)" name="optradio"
                                                        type="radio" value="Non-Taxable" [attr.title]="'Non-Taxable Tobacco'">
                                                    <label attr.for="rd-ntthtsm-{{index}}">NON-TAXABLE TOBACCO</label>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!savedHTSMissAssocSuccess" class="row flex-nowrap">
                        <div class="col-lg-10">
                        </div>
                        <div class="col-lg-2" style="margin-left:12px">
                            <button [disabled]="!hasSelection()" type="button" class="btn btn-primary pull-center wid100" title="Save Association"
                                (click)="saveHTSMissAssoc()">Save</button>
                        </div>
                    </div>
                    <div *ngIf="savedHTSMissAssocSuccess" class="row flex-nowrap">
                        <div class="col-lg-9">
                        </div>
                        <div class="col-lg-3" style="margin-left:12px">
                            <button class="btn btn-secondary mb-xs" role="button" style="width:190px;"><i style="margin-right:10px;" class="fa fa-check-circle text-success"></i>Saved Association!</button>
                        </div>
                    </div>
                    <div role="alert" class="row flex-nowrap">
                        <div class="col-lg-12">
                            <p class="buckethelper floatright">{{helperText}}</p>
                        </div>
                    </div>                    
                </div>
            </section>
        </div>
    </div>
</form>