<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a [routerLink]="['/app/assessments']" (aClick)="gotoAssessments()" id="lnk-assessments">Assessments</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="javascript:void(0)">Create Annual True-Up</a>
    </li>
</ol>
<h1 class="h1 page-title">Create Annual True-Up</h1>
<form id="create-true-up-form" class="form-horizontal" role="form" data-parsley-priority-enabled="false" data-parsley-validate
    data-parsley-focus="first">
    <!--True Up Assessment-->
    <div class="row" style="width:814px;">
        <div class="col-lg-12 col-xs-12">
            <section class="widget" widget="">
                <div class="widget-body">
                    <div aria-live="assertive" class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <label title="fiscal year" for="fiscal-year" class="card-small-label">Fiscal Year</label>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <span>Create New Annual True-Up</span>
                        </div>
                        <div class="col-md-4">
                            <input class="form-control" (ngModelChange)="closeAlert()" type="number" [(ngModel)]="fiscalYear" id="fiscal-year" name="fiscalyear"
                                data-parsley-range='[1000,9999]' placeholder="YYYY" required data-parsley-errors-container="#errYear"
                                aria-describedby="errYear" data-parsley-error-message="Error: Fiscal Year requires appropriate format (e.g.2017)">
                        </div>
                        <div role="alert" class="col-md-4">
                            <button [ngBusy]="{busy: busy, message: 'Creating Annual True-up...', backdrop: false}" id="btn-cr-tu" class="btn btn-primary"
                                (click)=" createTrueUp(fiscalYear);">
                                Create
                            </button>
                        </div>
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <span id="errYear"></span>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div aria-live="assertive">
        <div role="alert" *ngIf="showReportAlerts" class="row reportAlerts" style="width:814px;">
            <div class="col-lg-4 col-xs-4">
            </div>
            <div class="col-lg-8 col-xs-8">
                <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'" (close)="closeAlert()">
                    <div class="row" style="margin-left:5px; margin-right:5px;" [innerHTML]="alert.msg"></div>
                </alert>
            </div>
        </div>
    </div>
</form>