@import "./../../../scss/_variables.scss";
@import "./../../../scss/helpers.scss";

.h-divider{
    width:100%;
    border-bottom:2px solid #778899;
}

.verticalLine {
    border-left: 2px solid lightgrey;
}

.card-small-label{
    color: gray;
}

/***********************************/
/**            PARSLEY            **/
/***********************************/
input.parsley-error{
  border-color: $brand-danger;
  @include box-shadow(inset 0 1px 1px rgba($brand-danger,.075));
}

.parsley-errors-list{
  font-size: $font-size-smaller;
  padding-left: 0;
  margin-bottom: 5px;

  li{
    list-style: none;
    color: $brand-danger;
  }
}