<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a [routerLink]="['/app/assessments']" (aClick)="gotoAssessments()" id="lnk-assessments">Assessments</a>
  </li>
  <li class="breadcrumb-item active">
    <a href="javascript:void(0)">Annual True-Up</a>
  </li>
</ol>
<h1 class="h1 page-title">Annual True-Up</h1>
<div class="row">
  <div class="col-lg-8">
    <div>
      <p style="margin-bottom:5px;">
        <strong>Fiscal Year:</strong>
        <span class="breathe-left fw-normal">{{fiscalYear}}</span>
      </p>
    </div>
  </div>
  <div class="col-lg-4">
    <!--temporary fix for MS-->
    <div *ngIf="submittedDt != null" style="text-align: right;">
      <p style="margin-bottom:5px;">
        <span class="breathe-left fw-normal">Submitted</span>
      </p>
    </div>
    <div *ngIf="submittedDt == null " style="text-align: right;">
      <p style="margin-bottom:5px;">
        <span class="breathe-left fw-normal">Not Submitted</span>
      </p>
    </div>
    <div style="text-align: right;">
      <p style="margin-bottom:5px;">
        <strong>Created:</strong>
        <span class="breathe-left fw-normal">{{createdDt | date:'fullDate'}}</span>
      </p>
    </div>
  </div>
</div>
<!--Show Tabs-->
<div class="row">
  <div class="col-lg-12">
    <section class="widget" widget>
      <div class="widget-body">
        <div class="row">
          <div class="col-lg-12 form-wizard">
            <tabset type="pills" [justified]="true" #atTabs>
              <tab heading="Ingest" id="at-ingets-tab" (select)="callIngestRefresh($event)">
                <div id="tab1">
                  <div at-ingest-tab-pane [fiscalYear]="fiscalYear" (contextChanged)="contextChanged($event)"></div>
                </div>
              </tab>
              <tab heading="Map" id="tab-rpt" (select)="callMapRefresh($event)">
                <div id="tab-rpt">
                  <div at-map [fiscalYear]="fiscalYear" [refreshToken]="refreshBuckets" (processComplete)="flagIngestProcessCompleted($event)"
                    (ingestCount)="ingestCount($event)" [context]="context"></div>
                </div>
              </tab>
              <tab heading="Compare" id="tab-com" (select)="callCompareRefresh($event)">
                <div id="tab2">
                  <div at-compare [ingestionContext]="context" style="position: relative;" [fiscalYear]="fiscalYear" [createdDate]="createdDt"
                    [submitted]="submitted" (processComplete)="flagCompareProcessCompleted($event)"></div>
                </div>
              </tab>
              <tab heading="Reconcile" id="tab-rec" (select)="callReconRefresh($event)">
                <div id="tab3">
                  <div at-recon [fiscalYear]="fiscalYear" [createdDate]="createdDt" [submitted]="submitted" (processComplete)="flagReconProcessCompleted($event)"></div>
                </div>
              </tab>
              <tab heading="Generate & Submit" id="tab-rpt" (select)="callMarketShare($event)">
                <div id="tab4" style="position: relative;">
                  <div at-marketshare [fiscalYear]="fiscalYear" [alerts]="alerts" [ingestAlert]="ingestAlert" (processComplete)="flagMarketShareProcessCompleted($event)"
                    (onSubmitted)="onSubmitted($event)" [ngBusy]="{busy: busy, message: 'Loading...', backdrop: true}"></div>
                </div>
              </tab>
            </tabset>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div *ngIf="permitInc" create-permit [permit]="permitInc" (callback)="updateBuckets($event)"></div>
<div *ngIf="companyInc" at-create-company-popup [company]="companyInc"></div>
<!--<div *ngIf="showActionModal" at-compare-alldeltas-action-popup></div>-->