<table class="table table-hover" [mfData]="data | trueuppipe: filterData" #mfa="mfDataTable" [mfRowsOnPage]="10" [mfIsServerPagination]="false"
 [mfActivePage]="1" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" [mfStoreState]="true" [mfNavigateUrls]="'/annual'" [mfDataTableName]="'at-results'">
	<thead>
		<tr>
			<th>
				<mfDefaultSorter by="fiscalYear" title="Fiscal Year">Fiscal Year</mfDefaultSorter>
			</th>
			<th class="hidden-sm-down">
				<mfDefaultSorter by="submittedInd" title="Quarterly Status">Submission Status</mfDefaultSorter>
			</th>
			<th class="hidden-sm-down">
				<mfDefaultSorter by="submittedDt" title="Quarterly Date">Submission Date</mfDefaultSorter>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let trueup of mfa.data; let i= index">
			<td>
				<a (aClick)="toAnnualTrueUp(trueup)" [routerLink]='["./annual/" + i]'>{{trueup.fiscalYear}}</a>
			</td>
			<!-- Temporary Fix until figure out Maker share indicator
			<td *ngIf="trueup.submittedDt == null">Not Submitted</td>
			<td *ngIf="trueup.submittedDt != null">Submitted</td>	-->
			<td>{{trueup.submittedInd}}</td>
			<td>{{trueup.submittedDt | datePipe}}
				<i *ngIf="annualActions && annualActions.includes(trueup.fiscalYear)" class="text-danger fa fa-exclamation-triangle m-1" data-toggle="tooltip" data-placement="top" title="Delta(s) require an action"></i>
				<div *ngIf="annualActionBusy && trueup.submittedInd == 'Submitted'" class="spinner-border text-primary spinner-border-sm" role="status">
					<span class="sr-only">Loading...</span>
				</div>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="12">
				<mfBootstrapPaginator [rowsOnPageSet]="[5, 10, 25]"></mfBootstrapPaginator>
			</td>
		</tr>
	</tfoot>
</table>