@import './../at-compare-cigardetails.style';

.topthickborder td{
    border-top: solid 2px black;
    border-right: #ddd;
  }

  .detail-sub-table.show {
    // If block then sub tables shrink when displayed
    display: table-row-group !important;
  }

  .fa.bold {
    font-size: 25px;
    font-weight: bold;
  }