<div class="row">          
    <div class="col-lg-offset-2 col-lg-12">
      <section class="widget h-divider">
        <header>
          <div class="row">
            <div class="col-xs-10">
              <label attr.for="ta-comm-{{quarter}}" class="h4 fw-semi-bold">Comments</label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-10">
              <p title="Allows maximum of 4000 characters" class="h6">Maximum 4000 characters</p>
            </div>
          </div>          
        </header>   
        <form role="form" method="post" data-parsley-priority-enabled="false" novalidate="novalidate">  
          <div  class="row">
            <div class="col-md-12">
              <textarea attr.id="ta-comm-{{quarter}}" class="form-control" title="Enter comments" maxlength="4000"
                  [(ngModel)]="compareData[quarter-1][0].comments" [ngModelOptions]="{standalone: true}"
                  placeholder="Start typing to add a comment ..." rows="3">                             
              </textarea>
            </div>
          </div>

          <div aria-live="assertive" class="row" style="margin-top:10px;">
            <div class="col-md-10"> </div>
            <div role="alert" class="col-md-2">
              <button id="btn-comment" type="button"  [ngBusy]="{busy: busy, message: 'Saving...', backdrop: false}"
                title="Save Comment" class="btn btn-primary btn-block" (click)="updateComment();">
                Save Comments
              </button>                        
            </div>
          </div>
        </form>
        <div aria-live="assertive">           
          <div role="alert" *ngIf="showCommentsErrorFlag" class="row">
              <div class="col-lg-12 col-xs-12">
                  <div class="form-group row">
                      <div class="col-md-12 col-xs-12">
                          <alert  *ngFor="let alert of alertsComments; let i = index" [type]="alert.type + ' alert-sm'">
                              <div [innerHTML]="alert.msg"></div>
                          </alert>                               
                      </div>                    
                  </div>
              </div>            
          </div>    
        </div>    
      </section>
    </div>     
</div>  