<!-- Show Accept Buttons -->
<div fda3852flag-panel [taxes]="calTaxes[activequarter-1]" [isValid]="isValid" [inProgressDisabled]="inProgressDisabled"
 [acceptanceFlag]="fda3852map[activequarter]" [tobaccoClass]="headerdata.tobaccoClass" [companyName]="headerdata.companyName"
 [quarter]="activequarter" (accept3852flag)="acceptedFDAflag($event)" (progressedflag)="progressedflag($event)"></div>

<!-- Show Summary Panel -->
<div [ngBusy]="{busy: busySummary, message: 'Loading...', backdrop: false}" at-comparedetailssummary [summaryData]="comparedetailsSummary"
 [quarter]="activequarter"></div>


<!-- Show Details -->
<div class="row">
	<div class="col-lg-12">
		<section class="widget h-divider">
			<span class="h4 no-margin fw-semi-bold" style="margin:10px 0px 10px 0px">Details</span>
			<a class="fw-semi-bold pull-right" (aClick)="exportRawdata()" href="javascript:void(0)">Download Raw Data</a>
			<div class="widget-body clearfix">
				<!--Show Legend-->
				<div class="bg-gray-lighter" style="margin:10px 0px 10px 0px">
					<div class="col-md-12" style="text-align:center;border: 1px solid rgba(0, 0, 0, 0.15);">
						<span class="h6 fw-semi-bold">LEGEND</span>
					</div>
				</div>
				<div class="row legendbox">
					<div class="col-md-2">
					</div>
					<div class="col-md-3">
						<div class="h6 fw-semi-bold">
							<span class="text-legend legend-err">E</span> Error Report</div>
					</div>
					<div class="col-md-3">
						<div class="h6 fw-semi-bold">
							<span class="text-legend legend-com">C</span> Completed Report</div>
					</div>
					<div class="col-md-3">
						<div class="h6 fw-semi-bold">
							<span class="text-legend legend-ns">NS</span> Not Started Report</div>
					</div>
					<div class="col-md-1">
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<a href="javascript:void(0)" style="float:right" class="toggle-accordion active" accordion-id="#accordion" (click)="collapseExpand()">Expand/Collapse All</a>
					</div>
				</div>
				<br />
				<!-- Show All 4 Quarter Details for Cigars -->
				<div *ngIf="headerdata.tobaccoClass === 'Cigars'" class="row">
					<div class="col-lg-12">
						<!--- Collapsible Panel -->
						<div *ngFor="let qtr of quarters;let i=index" class="panel-group" id="qtr{{qtr}}-panel">
							<div [ngBusy]="{busy: busyDetails[i], message: 'Loading...', backdrop: false}" class="panel panel-default">
								<div class="h6 panel-heading">
									<div class="panel-title">

										<a class="accordion-toggle-main h5 no-margin fw-semi-bold" data-toggle="collapse" aria-expanded="false" attr.aria-controls="#collapse-{{qtr}}"
										 href="#collapse-{{qtr}}">Quarter {{qtr}}</a>
										<a class="pull-right h5 no-margin fw-semi-bold" style="margin-right:15px;" data-toggle="collapse" href="#collapse-{{qtr}}">
											Delta: {{ getTotalDeltaForPeriod(qtr-1,null,"Cigars") |tufacurrency| minustoparens}}
										</a>

									</div>
								</div>
								<div id="collapse-{{qtr}}" class="panel-collapse collapse show in">
									<div class="panel-body">
										<div class="row">
											<div class="col-lg-12">
												<accordion [closeOthers]="false">
													<!--g1q1 Panel-->
													<accordion-group [isOpen]="getAccordionStatus(qtr-1,period.permit,'Cigars')" *ngFor="let period of comparedetails[qtr-1]; let p = index"
													 #g1q1 panelClass="customClass">
														<div accordion-heading class="compare-panel">
															<span class="h5 no-margin fw-semi-bold breathe-left black">{{period.permit | permitNumberPipe}}</span>
															<i class="h5 pull-right float-xs-right fa black bold" style="margin-right: 10px; margin-top: 5px" [ngClass]="{'fa-chevron-down': g1q1?.isOpen, 'fa-chevron-right': !g1q1?.isOpen}"></i>
															<span *ngIf=" isDisplayDeltaForPermit(qtr-1) && (period.periodTotal !='NA' || period.ingestedTax !='NA')" class="h5 pull-right float-xs-right no-margin fw-semi-bold breathe-right black">
																Delta: {{(period.periodTotal=='NA'? 0: period.periodTotal) - (period.ingestedTax =='NA'? 0: period.ingestedTax) |tufacurrency| minustoparens}}


															</span>

															<span *ngIf=" isDisplayDeltaForPermit(qtr-1) && period.periodTotal =='NA' && period.ingestedTax == 'NA'" class="h5 pull-right float-xs-right no-margin fw-semi-bold breathe-right black">
																Delta: NA

															</span>


														</div>
														<div class="row">

															<table class="table" style="width:100%;">
																<colgroup>
																	<col style="width:10%">
																	<col style="width:20%">
																	<col style="width:13%">
																	<col style="width:20%">

																	<col style="width:2%">
																	<col style="width:18%">

																	<col style="width:2%">
																	<col style="width:25%">
																</colgroup>
																<thead>
																	<tr class="bottomthinborder">
																		<th scope="col" colspan="4" class="rightalign">FDA 3852</th>
																		<th colspan="1"></th>
																		<th scope="col" class="rightalign">Ingested</th>
																		<th colspan="1"></th>
																		<th scope="col" class="rightalign">Difference</th>
																	</tr>
																</thead>
																<tbody>
																	<tr class="bottomthinborder">
																		<td>MONTH</td>
																		<td>STATUS</td>
																		<td></td>
																		<td class="rightalign">CIGARS</td>
																		<td></td>
																		<td class="rightalign">CIGARS</td>
																		<td></td>
																		<td class="rightalign">CIGARS</td>
																	</tr>
																</tbody>
																<ng-container *ngFor="let detail of period.permitDetails; let i = index">
																	<tbody class="tabex">
																		<tr [attr.id]="'tx' + '-' + qtr + '-' + p +  '-' + i" (click)="clicked($event)" class="clickable" data-toggle="collapse"
																		 [attr.data-target]="'#forms-' + i + '-' + p + '-' + qtr" aria-expanded="false">
																			<ng-container *ngIf=" detail.status !== ''; else noReport ">
																				<td class="fw-semi-bold blue">
																					<a [routerLink]="['/app/permit', 'manreport', {PN:period.permit, MO:detail.month}]" (aClick)="toPeriodofActivity(period, detail)">
																					{{detail.month | titleCase}}</a>
																				</td>
																			</ng-container>
																			<ng-template #noReport>
																				<td class="fw-semi-bold">{{detail.month | titleCase}}</td>
																			</ng-template>
																			<td>
																				<span class="text-legend " [ngClass]="{'legend-err': detail.status === 'E', 'legend-com': detail.status === 'C',
																							'legend-ns' : detail.status === 'NS'}">
																					{{detail.status}}
																				</span>
																			</td>																			
																			<td>Tax</td>
																			<td class="rightalign">{{detail.taxAmount |tufacurrency}}
																			</td>
																			<td>
																				<span *ngIf=" isNumDefined(detail.ttb5000Cnt)" class="fa-stack fa-1x" style="color: #64be6e;">
																					<span class="fa fa-circle-o fa-stack-2x"></span>
																					<strong class="fa-stack-1x">{{detail.ttb5000Cnt}}</strong>
																				</span>
																			</td>
																			<td class="rightalign">{{detail.ingestedTax |tufacurrency}}

																			</td>
																			<td>
																				<span *ngIf=" isNumDefined(detail.ingestedThreshCnt)" class="fa-stack fa-1x" style="color: #64be6e;">
																					<span class="fa fa-circle-o fa-stack-2x"></span>
																					<strong class="fa-stack-1x">{{detail.ingestedThreshCnt}}</strong>
																				</span>
																			</td>
																			<td *ngIf="detail.taxAmount !='NA' || detail.ingestedTax !='NA'" class="rightalign">{{(detail.taxAmount=='NA'? 0: detail.taxAmount) - (detail.ingestedTax =='NA'? 0: detail.ingestedTax) |tufacurrency | minustoparens}}
																			</td>
																			<td *ngIf="detail.taxAmount=='NA' && detail.ingestedTax =='NA'" class="rightalign">
																				NA
																			</td>
																			<td>
																				<i *ngIf="detail.attachments" class="h5 pull-right float-xs-right fa fa-chevron-right" style="margin-right: 10px; ; margin-left:5px;">
																				</i>
																			</td>

																		</tr>
																	</tbody>
																	<tbody *ngIf="detail.attachments" [attr.id]="'forms-' +i + '-' + p +  '-' + qtr" class="collapse">
																		<tr>
																			<!-- <td class="noborder"></td> -->
																			<td class="noborder">FORM 3852</td>
																		</tr>
																		<tr *ngFor="let attachment of detail.attachments">
																			<!-- <td class="noborder"></td> -->
																			<td class="fw-semi-bold blue noborder">
																				<a target="_blank" (click)="enableLinkAuth(true)" href="api/reports/view/attachs/{{attachment.documentId}}">{{attachment.createdDt | datePipe}}</a>
																			</td>
																		</tr>

																	</tbody>
																</ng-container>
																<tr class="topthickborder">
																	<td class="rightalign fw-semi-bold" colspan="2">Total</td>
																	<td class="fw-semi-bold">Tax</td>
																	<td class="rightalign fw-semi-bold">{{period.periodTotal |tufacurrency}}</td>
																	<td></td>
																	<td class="rightalign fw-semi-bold">{{period.ingestedTax |tufacurrency}}</td>
																	<td></td>
																	<td *ngIf="period.periodTotal !='NA' || period.ingestedTax !='NA'" class="rightalign fw-semi-bold">
																		{{(period.periodTotal=='NA'? 0: period.periodTotal) - (period.ingestedTax =='NA'? 0: period.ingestedTax) |tufacurrency| minustoparens}}
																	</td>
																	<td *ngIf="period.periodTotal =='NA' && period.ingestedTax == 'NA'" class="rightalign fw-semi-bold">
																		NA
																	</td>
																</tr>
															</table>
														</div>
													</accordion-group>
												</accordion>
											</div>
										</div>
									</div>
								</div>
							</div>
							<hr>
						</div>
					</div>
				</div>

				<!-- Show Only Active Quarter Detail for Non-Cigars -->

				<div *ngIf="headerdata.tobaccoClass !== 'Cigars'" [ngBusy]="{busy: busyDetails[activequarter-1], message: 'Loading...', backdrop: false}">
					<accordion [closeOthers]="false">
						<!--g1q1 Panel-->
						<accordion-group [isOpen]="getAccordionStatus(activequarter-1,period.permit)" *ngFor="let period of comparedetails[activequarter-1]; let p  = index"
						 #g1q1 panelClass="customClass" id="accordion">
							<div accordion-heading class="compare-panel">
								<span class="h5 no-margin fw-semi-bold breathe-left black">{{period.permit | permitNumberPipe}}</span>
								<i class="h5 pull-right float-xs-right fa black bold" style="margin-right: 10px; " [ngClass]="{'fa-chevron-down': g1q1?.isOpen, 'fa-chevron-right': !g1q1?.isOpen}"></i>
								<span *ngIf="!isDualTobaccoClass(headerdata.tobaccoClass) && (period.periodTotal !='NA' || period.ingestedTax !='NA')" class="h5 pull-right float-xs-right no-margin fw-semi-bold black">
									Delta: {{(period.periodTotal=='NA'? 0: period.periodTotal) - (period.ingestedTax =='NA'? 0: period.ingestedTax) |tufacurrency| minustoparens}}

								</span>
								<span *ngIf="!isDualTobaccoClass(headerdata.tobaccoClass) && period.periodTotal =='NA' && period.ingestedTax =='NA'" class="h5 pull-right float-xs-right no-margin fw-semi-bold breathe-right black">
									Delta: NA
								</span>

								<span *ngIf="isDualTobaccoClass(headerdata.tobaccoClass) && (period.periodTotalCombined !='NA' || period.ingestedTax !='NA')"
								 class="h5 pull-right float-xs-right no-margin fw-semi-bold breathe-right black">
									Delta: {{(period.periodTotalCombined=='NA'? 0: period.periodTotalCombined) - (period.ingestedTax =='NA'? 0: period.ingestedTax)
									|tufacurrency| minustoparens}}

								</span>

								<span *ngIf="isDualTobaccoClass(headerdata.tobaccoClass) && period.periodTotalCombined =='NA' && period.ingestedTax =='NA'"
								 class="h5 pull-right float-xs-right no-margin fw-semi-bold breathe-right black">
									Delta: NA
								</span>



							</div>
							<!--For Cigarettes-->
							<table *ngIf="!isDualTobaccoClass(headerdata.tobaccoClass)" class="table" style="width:100%;">
								<colgroup>
									<col style="width:10%">
									<col style="width:10%">
									<col style="width:10%">
									<col style="width:18%">
									<col style="width:2%">
									<col style="width:23%">
									<col style="width:2%">
									<col style="width:25%">
								</colgroup>
								<thead>
									<tr class="bottomthinborder">
										<th scope="col" colspan="4" class="rightalign">FDA 3852</th>
										<th colspan="1"></th>
										<th scope="col" class="rightalign">Ingested</th>
										<th colspan="1"></th>
										<th scope="col" class="rightalign">Difference</th>
									</tr>
								</thead>
								<tbody>
									<tr class="bottomthinborder">
										<td>MONTH</td>
										<td>STATUS</td>
										<td></td>
										<td class="rightalign">{{headerdata.tobaccoClass | uppercase}}</td>
										<td></td>
										<td class="rightalign">{{headerdata.tobaccoClass | uppercase}}</td>
										<td></td>
										<td class="rightalign">{{headerdata.tobaccoClass | uppercase}}</td>
									</tr>
								</tbody>
								<ng-container *ngFor="let detail of period.permitDetails; let i = index">
									<tbody class="tabex">
										<tr [attr.id]="'tx' + '-' + activequarter + '-' + p +  '-' + i" (click)="clicked($event)" class="clickable" data-toggle="collapse"
										 [attr.data-target]="'#forms-' + i + '-' + p + '-' + quarter" aria-expanded="false">
											<ng-container *ngIf=" detail.status !== ''; else noReport ">
												<td class="fw-semi-bold blue">
													<a [routerLink]="['/app/permit', 'manreport', {PN:period.permit, MO:detail.month}]" (aClick)="toPeriodofActivity(period, detail)">
													{{detail.month | titleCase}}</a>
												</td>
											</ng-container>
											<ng-template #noReport>
												<td class="fw-semi-bold">{{detail.month | titleCase}}</td>
											</ng-template>
											<td>
												<span class="text-legend " [ngClass]="{'legend-err': detail.status === 'E', 'legend-com': detail.status === 'C',
															'legend-ns' : detail.status === 'NS'}">
													{{detail.status}}
												</span>
											</td>
											<td>Tax</td>
											<td class="rightalign">{{detail.taxAmount |tufacurrency}}

											</td>
											<td>
												<span *ngIf=" isNumDefined(detail.ttb5000Cnt)" class="fa-stack fa-1x" style="color: #64be6e;">
													<span class="fa fa-circle-o fa-stack-2x"></span>
													<strong class="fa-stack-1x">{{detail.ttb5000Cnt}}</strong>
												</span>
											</td>
											<td class="rightalign">{{detail.ingestedTax |tufacurrency}}

											</td>
											<td>
												<span *ngIf=" isNumDefined(detail.ingestedThreshCnt)" class="fa-stack fa-1x" style="color: #64be6e;">
													<span class="fa fa-circle-o fa-stack-2x"></span>
													<strong class="fa-stack-1x">{{detail.ingestedThreshCnt}}</strong>
												</span>
											</td>
											<td *ngIf="detail.taxAmount !='NA' || detail.ingestedTax !='NA'" class="rightalign">{{(detail.taxAmount=='NA'? 0: detail.taxAmount) - (detail.ingestedTax =='NA'? 0: detail.ingestedTax) |tufacurrency| minustoparens}}
											</td>
											<td *ngIf="detail.taxAmount =='NA' && detail.ingestedTax =='NA'" class="rightalign">NA
											</td>
											<td>
												<i *ngIf="detail.attachments" class="h5 pull-right float-xs-right fa fa-chevron-right" style="margin-right: 10px; ; margin-left:5px;">
												</i>
											</td>
										</tr>
									</tbody>
									<tbody *ngIf="detail.attachments" [attr.id]="'forms-' +i + '-' + p +  '-' + quarter" class="collapse">
										<tr>
											<!-- <td class="noborder"></td> -->
											<td class="noborder">FORM 3852</td>
										</tr>
										<tr *ngFor="let attachment of detail.attachments">
											<!-- <td class="noborder"></td> -->
											<td class="fw-semi-bold blue noborder">
												<a target="_blank" (click)="enableLinkAuth(true)" href="api/reports/view/attachs/{{attachment.documentId}}">{{attachment.createdDt | datePipe}}</a>
											</td>
										</tr>
									</tbody>
								</ng-container>
								<tr class="topthickborder">
									<td class="fw-semi-bold"></td>
									<td class="rightalign fw-semi-bold">Total</td>
									<td class="fw-semi-bold">Tax</td>
									<td class="rightalign fw-semi-bold">{{period.periodTotal |tufacurrency}}</td>
									<td></td>
									<td class="rightalign fw-semi-bold">{{period.ingestedTax |tufacurrency}}</td>
									<td></td>
									<td *ngIf="period.periodTotal !='NA' || period.ingestedTax !='NA'" class="rightalign fw-semi-bold">{{(period.periodTotal=='NA'? 0: period.periodTotal) - (period.ingestedTax =='NA'? 0: period.ingestedTax) |tufacurrency| minustoparens}}</td>
									<td *ngIf="period.periodTotal=='NA' && period.ingestedTax =='NA'" class="rightalign fw-semi-bold">NA</td>


									<td></td>
								</tr>
							</table>
							<!--For Dual Class Tobacco Classes-->
							<table *ngIf="isDualTobaccoClass(headerdata.tobaccoClass)" class="table table-responsive table-hover" style="border: 1px solid rgb(221, 221, 221); border-image: none; width: 100%;">
								<colgroup>
									<col style="width:0%">
									<col style="width:7%">
									<col style="width:14%">
									<col style="width:9%">
									<col style="width:14%">
									<col style="width:15%">
									<col style="width:2%">
									<col style="width:16%">
									<col style="width:2%">
									<col style="width:26%">
								</colgroup>
								<thead>
									<tr class="bottomthinborder">
										<th scope="col" colspan="6" class="rightalign">FDA 3852</th>
										<th colspan="1"></th>
										<th scope="col" class="rightalign leftnoborder">Ingested</th>
										<th colspan="1"></th>
										<th scope="col" class="rightalign leftnoborder">Difference</th>
									</tr>
								</thead>
								<tbody>
									<tr class="bottomthinborder">								
										<td>MONTH</td>
										<td>STATUS</td>
										<td></td>
										<td class="rightalign">{{tcdualClass1 | uppercase}}</td>
										<td class="rightalign">{{tcdualClass2 | uppercase}}</td>
										<td class="rightalign">{{tcdualClassCombined | uppercase}}</td>
										<td></td>
										<td class="rightalign leftnoborder">{{tcdualClassCombined | uppercase}}</td>
										<td></td>
										<td class="rightalign leftnoborder">{{tcdualClassCombined | uppercase}}</td>
									</tr>
								</tbody>
								<ng-container *ngFor="let detail of period.permitDetails; let i = index">
									<tbody class="tabex">
										<tr [attr.id]="'vol' + '-' + activequarter + '-' + p +  '-' + i" (click)="clicked($event)" class="clickable" data-toggle="collapse"
										 [attr.data-target]="'#p' + i + '-' + p + '-' + quarter" aria-expanded="false">
											<ng-container *ngIf=" detail.status !== ''; else noReport ">
												<td class="fw-semi-bold blue">
													<a [routerLink]="['/app/permit', 'manreport', {PN:period.permit, MO:detail.month}]" (aClick)="toPeriodofActivity(period, detail)">
													{{detail.month | titleCase}}</a>
												</td>
											</ng-container>
											<ng-template #noReport>
												<td class="fw-semi-bold">{{detail.month | titleCase}}</td>
											</ng-template>
											<td>
												<span class="text-legend " [ngClass]="{'legend-err': detail.status === 'E', 'legend-com': detail.status === 'C',
															'legend-ns' : detail.status === 'NS'}">
													{{detail.status}}
												</span>
											</td>
											<td>Tax</td>
											<td class="rightalign">{{detail.taxAmount |tufacurrency}}</td>
											<td class="rightalign">{{detail.taxAmount2 |tufacurrency}}</td>
											<td class="rightalign ">{{detail.taxTotalAmount |tufacurrency}}
											</td>
											<td>
												<span *ngIf=" isNumDefined(detail.ttb5000Cnt)" class="noborder fa-stack fa-1x" style="color: #64be6e;">
													<span class="fa fa-circle-o fa-stack-2x"></span>
													<strong class="fa-stack-1x">{{detail.ttb5000Cnt}}</strong>
												</span>
											</td>
											<td class="leftnoborder" style="text-align:right">{{detail.ingestedTax|tufacurrency}}
											</td>
											<td>
												<span *ngIf=" isNumDefined(detail.ingestedThreshCnt)" class=" noborder fa-stack fa-1x" style="color: #64be6e;">
													<span class="fa fa-circle-o fa-stack-2x"></span>
													<strong class="fa-stack-1x">{{detail.ingestedThreshCnt}}</strong>
												</span>
											</td>
											<td *ngIf="detail.taxTotalAmount !='NA' || detail.ingestedTax !='NA'" class="leftnoborder" style="text-align:right">
												{{(detail.taxTotalAmount=='NA'? 0: detail.taxTotalAmount) - (detail.ingestedTax =='NA'? 0: detail.ingestedTax) |tufacurrency| minustoparens}}
												<i class="h5 pull-right float-xs-right fa fa-chevron-right" style="margin-right: 10px; ; margin-left:5px; margin-top:5px;">
												</i>
											</td>

											<td *ngIf="detail.taxTotalAmount =='NA' && detail.ingestedTax =='NA'" class="leftnoborder" style="text-align:right">
												NA
												<i class="h5 pull-right float-xs-right fa fa-chevron-right" style="margin-right: 10px; margin-left:5px; margin-top:5px;">
												</i>
											</td>

										</tr>
									</tbody>
									<tbody [attr.id]="'p' + i + '-' + p +  '-' + quarter" class="collapse detail-sub-table">
										<tr>
											<th rowspan="3" class="">
												<div *ngIf="detail.attachments">FORM 3852</div>
												<div *ngFor="let attachment of detail.attachments">
													<div class="fw-semi-bold blue">
														<a target="_blank" (click)="enableLinkAuth(true)" href="api/reports/view/attachs/{{attachment.documentId}}">{{attachment.createdDt | datePipe}}</a>
													</div>
												</div>
											</th>
											<td class=""></td>
											<td class="" style="font-style: italic;">TTB Volume Removed (lbs)</td>
											<td class="rightalign " style="font-style: italic;">{{detail.tobaccoClass1TTBvolume | customnumber : 2}}</td>
											<td class="rightalign " style="font-style: italic;">{{detail.tobaccoClass2TTBvolume | customnumber : 2}}</td>
											<td class=""></td>
											<td class=""></td>
											<td class="leftnoborder "></td>
											<td class=""></td>
											<td class="leftnoborder "></td>
										</tr>
										<tr>
											<td class=""></td>
											<!-- <td class="noborder"></td> -->
											<td style="font-style: italic;">TTB Calculated Tax</td>
											<td class="rightalign" style="font-style: italic;">{{detail.tobaccoClass1TTBTAX | tufacurrency}}
											</td>
											<td class="rightalign" style="font-style: italic;">{{detail.tobaccoClass2TTBTAX | tufacurrency}}
											</td>
											<td class=""></td>
											<td class=""></td>
											<td class="leftnoborder "></td>
											<td class=""></td>
											<td class="leftnoborder "></td>
										</tr>
										<tr style="border:none;">
											<td></td>
											<!-- <td></td> -->
											<td style="font-style:	 italic;">Tax Delta</td>
											<td class="rightalign" style="font-style: italic;">{{detail.calculatedDelta1 | tufacurrency}}
											</td>
											<td class="rightalign" style="font-style: italic;">{{detail.calculatedDelta2 | tufacurrency }}</td>
											<td></td>
											<td></td>
											<td class="leftnoborder"></td>
											<td></td>
											<td class="leftnoborder"></td>
										</tr>
									</tbody>

								</ng-container>
								<tbody>
									<tr class="topthickborder">
										<td class="rightalign fw-semi-bold" colspan="2">Total</td>
										<td class="fw-semi-bold">Tax</td>
										<td class="rightalign fw-semi-bold">{{period.periodTotal |tufacurrency}}</td>
										<td class="rightalign fw-semi-bold">{{period.periodTotal2 |tufacurrency}}</td>
										<td class="rightalign fw-semi-bold">{{period.periodTotalCombined |tufacurrency}}</td>
										<td></td>
										<td class="rightalign fw-semi-bold leftnoborder">{{period.ingestedTax |tufacurrency}}</td>
										<td></td>
										<td *ngIf="period.periodTotalCombined !='NA' || period.ingestedTax !='NA'" style="padding-right: 35px;" class="rightalign fw-semi-bold leftnoborder">
											{{(period.periodTotalCombined =='NA'? 0: period.periodTotalCombined) - (period.ingestedTax =='NA'? 0: period.ingestedTax)
											|tufacurrency| minustoparens}}
										</td>
										<td *ngIf="period.periodTotalCombined =='NA' && period.ingestedTax =='NA'" ngstyle="padding-right: 35px;" class="rightalign fw-semi-bold leftnoborder">
											NA
										</td>

									</tr>
								</tbody>
							</table>
						</accordion-group>
					</accordion>
				</div>

			</div>
		</section>
	</div>
</div>

<!-- Show Comments Panel -->
<!-- <div comparecomments-panel [acceptanceFlag]="fda3852map[activequarter]" [headerdata]="headerdata" [quarter]="activequarter"></div> -->
<div class="row">
	<div class="col-lg-12">
		<div cmpdetail-comments-grid [context]="context" [acceptanceFlag]="fda3852map[activequarter]" [headerdata]="headerdata" [quarter]="activequarter"></div>
	</div>
</div>

<!-- Show Amend Total -->
<div at-comparedetailsamend [headerdata]="headerdata" [amendInfo]="amendTobaccoClasses" (amendTotalUpdated)="amendTotalFlagSwitched($event)"
 (saveAmend)="savedAmendment($event)" [acceptanceFlag]="fda3852map[activequarter]" [acceptedFlag]="acceptedFlag" [quarterInfo]="activequarter">
</div>