<label class="btn" [ngClass]="flag ? 'btn-primary' : 'btn-secondary'" [class.disabled]="isDisabled" [for]="id">
    <input type="checkbox" [id]="id" autocomplete="off" [checked]="flag" (click)="invertFlag()"> 
    <span *ngIf="activeLabel">{{activeLabel}}</span>
</label>