<div class="modal fade" id="add-comment" tabindex="-1" role="dialog" aria-labelledby="title-comment" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="h4 modal-title text-xs-center fw-bold mt" id="title-comment">{{commentAction=='add'?'Add Comment':'Edit Comment'}}</h4>
            </div>
            <div class="modal-body">
                <form id="addcomment-form" class="form-horizontal" role="form" data-parsley-priority-enabled="false" novalidate="novalidate"
                    data-parsley-validate data-parsley-focus="first">
                    <!-- <div class="row">
                        <div class="col-lg-12 col-xs-12">
                            <section class="widget" style="margin-bottom: 10px;">
                                <div class="widget-body clearfix"> -->
                                    <div class="row">
                                        <label [attr.for]="commentdesc" class="col-md-12 form-control-label text-md-left">
                                            Comment Description
                                            <!-- <span class="help-block">Required field</span> -->
                                        </label>
                                        <div class="col-md-12 col-xs-12">
                                            <textarea [id]="commentdesc" title="Comment Description" class="form-control" title="Comment Description" maxlength="400"
                                                [(ngModel)]="comment.userComment" [ngModelOptions]="{standalone: true}" rows="3"
                                                required="required" data-parsley-required-message="Error: Comment description is required">                             
                                            </textarea>
                                        </div>
                                    </div>

                                <!-- </div>
                            </section>
                        </div>
                    </div> -->
                </form>
            </div>

            <div aria-live="assertive">
                <div role="alert" *ngIf="showErrorFlag" class="row">
                    <div class="col-lg-12 col-xs-12">
                        <div class="form-group row">
                            <div class="col-md-12 col-xs-12">
                                <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'">
                                    <div [innerHTML]="alert.msg"></div>
                                </alert>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <span class="pull-left">Saved comments cannot be deleted</span>
                <button type="button" [ngBusy]="busy" id="save-comment" class="btn btn-primary" (click)="commentAction=='add'?addComment($event):editComment($event)">Save</button>
                <!-- <button *ngIf="commentAction=='edit'" type="button" [ngBusy]="busy" id="save-comment" class="btn btn-primary" (click)="editComment($event)">Edit</button> -->
                <button type="button" class="btn btn-secondary" id="cancel-comment" (click)="cancelComment($event)">Cancel</button>
            </div>
        </div>
    </div>
</div>