<div style="margin-top:40px;">
    <div class="row">
        <div class="col-md-12">
            <div>
                <span class="h4 no-margin fw-normal">Comments</span>
            </div>
            <div class="widget-body clearfix" *ngIf="data?.length>0">
                <table [ngBusy]="{busy: busy, message: 'Loading...', backdrop: true}"
                        [(mfSortBy)]="sortResultsBy" [(mfSortOrder)]="sortResultsOrder"
                    class="table table-hover custom" [mfData]="data" #mf="mfDataTable"
                    [mfIsServerPagination]="false" [mfRowsOnPage]="5"
                    [mfActivePage]="1" style="table-layout: fixed; overflow-wrap: break-word; border-collapse: separate; border-spacing: 0px;">
                    <colgroup>
                        <col style="width:60%">
                        <col style="width:15%">
                        <col style="width:15%">
                        <col style="width:10%">
                    </colgroup>
                    <thead class="topBorder">
                        <tr>
                            <th class="descWidth" scope="col" id="h-comm-desc">
                                <mfDefaultSorter by="userComment">DESCRIPTION</mfDefaultSorter>
                            </th>
                            <th class="authorWidth" scope="col" id="h-comm-author">
                                <mfDefaultSorter by="author" title="author">AUTHOR</mfDefaultSorter>
                            </th>
                            <th class="dateWidth" scope="col" id="h-comm-date">
                                <mfDefaultSorter by="commentDate" title="date added">DATE ADDED
                                </mfDefaultSorter>
                            </th>
                            <!-- New Checkbox -->
                            <th class="checkWidth" scope="col" id="h-comm-checkbox" style="white-space: nowrap;">Resolved</th>
                        </tr>

                    </thead>

                    <tbody class="scrollbar-dynamic-comment-grid">
                        <tr *ngFor="let comment of mf.data; let i= index" style="cursor: pointer;"
                            [style.color]="(i.checked || comment.resolveComment)  ? '#d3d3d3':'' ">
                            <!-- Manipulate visibility of pencil Icon -->
                            <td class="setwidthdescr">{{comment.userComment}}
                                <i *ngIf='canEditComment(comment.author) && !comment.resolveComment' data-toggle="modal"
                                title="Add Comment" data-backdrop="static" data-keyboard="false"
                                data-target="#add-comment" focusOn="addcomment-form"
                                (click)='onEditCommentClick(comment)' class="fa fa-pencil"
                                style="margin:3px 0px 0px 5px;"
                                [style.visibility]="(comment.resolveComment && !unResolvecommentFlag) ? 'hidden':'' "></i></td>
                            <td class="authorWidth">{{comment.author}}</td>
                            <td class="dateWidth">{{comment.commentDate}}</td>
                            <td class="checkWidth">
                              <label class="custom-control custom-checkbox">
                                <input #i type="checkbox" [checked]="comment.resolveComment" class="custom-control-input" (change)="onResolveCommentChk(comment,i)"
                                        [disabled]="comment.resolveComment && !unResolvecommentFlag">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-label"></span>
                              </label>
                            </td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr>
                            <td colspan="12">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5, 10, 25]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8"> </div>
        <div class="col-md-4">
            <button id="btn-save-comm" type="button" class="btn btn-primary btn-block pull-right" data-toggle="modal" title="Add Comment" data-backdrop="static"
                data-keyboard="false" data-target="#add-comment" focusOn="addcomment-form" (click)="onAddCommentClick()" style="white-space: nowrap; width: 200px;">
                    Add Comment
            </button>
        </div>
    </div>

    <div *ngIf="showCommentModal" add-comment [commentAddOrEdit]="comment" [commentAction]="commentAction" [callingpage]="page" [addCommnetPermit]="permitIds" (hideModal)="showCommentModal = false"(commentAdded)="getUpdatedComment($event)"></div>

</div>
