table > .custom{
  display: table;
  border-color: grey;
}

.table > thead > tr > th {
  border-bottom-width: 0px;
}

.scrollbar-dynamic-comment-grid {
// min-height: 100px;
max-height: 600px;
overflow-y: auto;
}

.topBorder {
border-top: solid 1px;
margin-top: 10px;
border-color: #D3D3D3;
}

// .authorWidth {
// width: 300px;
// word-wrap: normal;
// }

// .dateWidth{
// width: 200px;
// }

// .checkWidth, .form-check{
// width: 150px;
// text-align: center;
// }

// .descWidth{
// width: 850px;
// }

// .colwidth{
// width: 340px;
// }

.setwidthdescr {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  }
