<div *ngIf="showDocumentPopup" [documentModel]="selectedDocument" ingest-file-modal (onDocumentEdit)="documentsGridRefresh($event, 'edit')"></div>

<h1 class="h1 page-title">Permit Management</h1>
<div class="row">
  <div class="col-lg-offset-0 col-lg-12">
    <section class="widget" widget>
      <div class="widget-body">
        <div class="row">
          <div class="col-lg-12 col-xs-12">
            <div data-height="250" class="form-wizard">
              <div class="widget-body">
                <section class="widget">
                  <form class="form-horizontal" role="form">
                    <div class="widged">
                      <div>
                          <button id="btn-upload" type="button" class="btn btn-primary" title="Upload" data-toggle="modal" data-target="#ingest-modal-file"
                          data-backdrop="static" data-keyboard="false" (click)="setSelectedDocument(this.newDoc, 'ingest')"
                          focusOn="#ingest-modal-file" style="white-space: nowrap;">
                          <i class="fa fa-upload" aria-hidden="false"></i> 
                          Upload Document 
                      </button>
                      </div>
                      <div>
                          Files must be in the proper Excel format
                      </div>
                      <div style="overflow-x:scroll">
                        <table class="table table-hover" [mfData]="data" #mf="mfDataTable" [mfIsServerPagination]="false" [mfRowsOnPage]="10">
                          <colgroup>
                            <col>
                            <col>
                            <col>
                            <col>
                          </colgroup>
                          <thead>
                            <tr>
                              <th>
                                <mfDefaultSorter by="fileNm">File Name</mfDefaultSorter>
                              </th>
                              <th class="hidden-sm-down">
                                <mfDefaultSorter by="createdBy">Uploaded By</mfDefaultSorter>
                              </th>
                              <th class="hidden-sm-down">
                                <mfDefaultSorter by="createdDt">Date uploaded</mfDefaultSorter>
                              </th>
                              <th class="hidden-sm-down">
                                Action
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let docfile of mf.data; let i = index; let last = last">
                              <td><span class="fw-semi-bold"><a (aClick)="shareData.filemgmttab = 'company'" 
                              [routerLink]="['/app/permit-mgmt/address-mgmt',{docId:docfile.docId}]">{{docfile.fileNm | excelpipe}}</a></span></td>
                              <td class="hidden-sm-down">{{docfile.createdBy}}</td>
                              <td class="hidden-sm-down">{{docfile.createdDt}} </td>
                              <td style="white-space:nowrap;">
                                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#ingest-modal-file" focusOn="#ingest-modal-file"
                                      data-backdrop="static" data-keyboard="false" (click)="setSelectedDocument(this.docfile, 'edit')" 
                                      style="white-space: nowrap; font-size: 14px;">
                                      <i class="fa fa-pencil"></i> Edit
                                    </button>
                                    <button type="button" class="btn btn-outline-primary" (click)="downloadSelectedDocument(this.docfile)" 
                                            style="margin-left: 8px; white-space: nowrap; font-size: 14px;">
                                      <i class="fa fa-arrow-circle-o-down"></i> Download
                                    </button>
                              </td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <td colspan="12">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5, 10, 25]"></mfBootstrapPaginator>
                              </td>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                    </div>
                  </form>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>